<template>
  <base-modal
    :body-loading="bodyLoading"
    :title="title"
    :visible="visible"
    :before-close="beforeClose"
    :custom-class="customClass"
    :width="width"
    top="9vh"
    :close-title="closeTitle"
    :modal-append-to-body="false"
    :append-to-body="true"
    :close-on-click-modal="closeOnClickModal"
    @close="close"
  >
    <!-- CONTENT -->
    <slot />

    <!-- BUTTONS -->
    <slot
      v-if="showButtons"
      name="buttons"
    >
      <div
        v-loading="loadingButtons"
        class="default-actions"
      >
        <template v-if="invertButtons">
          <!-- CANCEL -->
          <button-cancel
            type="primary"
            :cancel-label="cancelLabel"
            @cancel="cancel"
          />

          <!-- SUBMIT -->
          <button-submit
            :submit-disabled="submitDisabled"
            :submit-label="submitLabel"
            @submit="submit"
          />
        </template>
        <template v-else>
          <!-- CANCEL -->
          <button-cancel
            type="primary"
            :cancel-label="cancelLabel"
            :disabled="cancelDisabled"
            @cancel="cancel"
          />

          <!-- SUBMIT -->
          <button-submit
            :submit-disabled="submitDisabled"
            :submit-label="submitLabel"
            @submit="submit"
          />
        </template>
      </div>
    </slot>
  </base-modal>
</template>

<script>
  import Loading from 'Foundation/mixins/Loading';
  import Visible from 'Foundation/mixins/Visible';
  import ButtonSubmit from './ButtonSubmit';
  import ButtonCancel from './ButtonCancel';
  import BaseModal from 'Foundation/components/layout/modal/BaseModal';

  export default {
    /**
     * Name of the component.
     */
    name: "Modal",

    components: {
      ButtonCancel,
      ButtonSubmit,
      BaseModal,
    },
    /**
     * Mixins.
     */
    mixins: [
      Loading,
      Visible,
    ],

    /**
     * Properties.
     */
    props: {
      /**
       * Title.
       */
      title: {
        type: String,
        default: '',
      },

      /**
       * Label for submit button.
       */
      submitLabel: {
        type: String,
        default: '',
      },

      /**
       * Label for cancel button.
       */
      cancelLabel: {
        type: String,
        default: '',
      },

      /**
       * Show buttons conditions
       */
      showButtons: {
        type: Boolean,
        default: true,
      },

      /**
       * Whether the Dialog can be closed by clicking the mask
       */
      closeOnClickModal: {
        type: Boolean,
        default: true,
      },

      /**
       * Close button tooltip text
       */
      closeTitle : {
        type: String,
        default: 'Close',
      },

      /**
       * beforeClose callback
       */
      beforeClose: {
        type: Function,
        default: undefined
      },

      /**
       * Check if submit is disabled
       */
      submitDisabled: {
        type: Boolean,
        default: false,
      },

      /**
       * Check if cancel is disabled
       */
      cancelDisabled: {
        type: Boolean,
        default: false,
      },

      /**
       * Add custom class to modal
       */
      customClass: {
        type: String,
        default: '',
      },

      /**
       * Modal width property
       */
      width: {
        type: String,
        default: '45%',
      },

      /**
       * Should inverts buttons order
       */
      invertButtons: {
        type: Boolean,
        default: false,
      },

      /**
       * Body has a loading
       */
      bodyLoading : {
        type: Boolean,
        default: false,
      },

      /**
       * Buttons have a loading
       */
      loadingButtons : {
        type: Boolean,
        default: false,
      }
    },

    /**
     * Methods.
     */
    methods: {
      /**
       * On submit handler.
       */
      submit() {
        this.$emit('submit');
      },

      /**
       * On cancel handler.
       */
      cancel() {
        this.$emit('cancel');
      },

      /**
       * On close handler.
       */
      close() {
        this.$emit('close');
      },
    },
  };
</script>
