<template>
  <layout-main>
    <div class="page">
      <div class="page__header">
        <h1>{{ $trans('notification::labels.table_title') }}</h1>
      </div>
      <div class="page__holder level-negative-1">
        <notifications-table />
      </div>
    </div>
  </layout-main>
</template>

<script>
  import LayoutMain from 'Foundation/layouts/LayoutMain';
  import NotificationsTable from "Modules/notification/components/NotificationsTable";

  export default {
    /**
     * Name
     */
    name: 'NotificationsPage',

    /**
     * Components
     */
    components: {
      NotificationsTable,
      LayoutMain,
    },
  };
</script>
