<template>
  <layout-guest
    :show-footer="true"
    :show-sign-up-button="false"
    :has-responsive-layout="true"
  >
    <div class="landing-page">
      <div class="landing-page__hero land-hero">
        <div class="land-hero__bg" />
        <div class="land-hero__content">
          <div class="land-hero__caption">
            <p>
              {{ $trans('labels.hulu_ad_manager') }}
            </p>
          </div>
          <h1 v-html="$trans('labels.landing_hero_title')" />
          <p>
            {{ heroText }}
          </p>
          <el-button
            type="success"
            class="fixed-width"
            @click="openRegister"
          >
            {{ $trans('actions.sign_up_today') }}
          </el-button>
        </div>
      </div>
      <div class="landing-page__content land-content">
        <div class="land-content__text">
          <div>
            <span class="land-content__subtitle">{{ $trans('labels.need_help') }}</span>
            <p>
              {{ $trans('labels.landing_content_text') }}
            </p>
            <div class="land-content__logos">
              <img
                src="/images/landing/Genero-logo_Hulu.svg"
              >
              <img
                src="/images/landing/QFLOGO.svg"
              >
              <img
                src="/images/landing/shutterrock-logo.svg"
              >
              <img
                src="/images/landing/vidmob_logo.svg"
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </layout-guest>
</template>

<script>
import LayoutGuest from 'Foundation/layouts/LayoutGuest';
import { isDemo } from 'Modules/demo/helpers/demo';

export default {
  /**
   * Name.
   */
  name: 'TheLanding',

  /**
   * Child components.
   */
  components: {
    LayoutGuest,
  },

  computed: {
    heroText () {
      return isDemo()
        ? this.$trans('labels.landing_hero_text_demo')
        : this.$trans('labels.landing_hero_text');
    }
  },

  /**
   * Methods.
   */
  methods: {
    /**
     * Register link.
     */
    openRegister() {
      this.$redirectToRoute('register.form');
    },
  },
};
</script>
