<template>
  <advertiser-campaign-table
    v-if="id"
    :advertiser-id="id"
  />
</template>

<script>
  import AdvertiserCampaignTable from './campaigns/AdvertiserCampaignTable';
  import Id from 'Foundation/mixins/Id';

  export default {
    /**
     * Name of the component.
     */
    name: 'CampaignsTab',

    /**
     * Child components.
     */
    components: {
      AdvertiserCampaignTable,
    },

    /**
     * Mixins.
     */
    mixins: [
      Id,
    ],
  };
</script>
