<template>
  <div>
    <modal-deactivation-info
      :visible.sync="showModal"
    />
    <dropdown-badge
      :status="status"
      :loading="updateStatusPending"
      :dropdown-items="showStatusLabel ? {} : visibleTransitions"
      :custom-class="className"
      @on-click="setStatus"
    />
  </div>
</template>

<script>
  import pickBy from 'lodash/pickBy';
  import { mapActions, mapState } from 'vuex';
  import ModalDeactivationInfo from "Modules/advertiser/components/common/modals/ModalDeactivationInfo";
  import DropdownBadge from 'Foundation/components/badges/DropdownBadge';

  const STATUS_TYPES = {
    active: 'success',
    create_in_progress: 'info',
    inactive: 'danger',
    incomplete: 'warning',
    pending_manual_review: 'warning',
    inactive_unpaid: 'danger',
  }

  export default {
    /**
     * Name of the component.
     */
    name: 'AdvertiserStatus',

    /**
     * Imported components.
     */
    components: {
      ModalDeactivationInfo,
      DropdownBadge
    },

    /**
     * Component's state.
     */
    data() {
      return {
        showModal: false,
      };
    },

    /**
     * Computed properties.
     */
    computed: {
      /**
       * Vuex (state).
       */
      ...mapState('show', [
        'advertiser',
        'updateStatusPending',
      ]),

      /**
       * Class name.
       */
      className() {
        return STATUS_TYPES[this.advertiser.status];
      },

      /**
       * Check possibility to deactivate user
       */
      canDeactivate() {
        return this.advertiser.status === 'active';
      },

      /**
       * Check possibility to activate user
       */
      canActivate() {
          return this.advertiser.status === 'inactive';
      },

      /**
       * If status label should be shown.
       * @return Boolean
       */
      showStatusLabel() {
        if (!this.$hasPermission('activate_advertiser')) {
          return true;
        }

        // If admin can not deactivate advertiser and advertiser is in active status than show the label.
        if (!this.$hasPermission('deactivate_advertiser') && this.advertiser.status === 'active') {
          return true;
        }

        return !['active', 'inactive'].includes(this.advertiser.status);
      },

      /**
       * Current advertiser status.
       */
      status () {
        return this.advertiser.status ? this.getStatusName(this.advertiser.status) : null;
      },

      /**
       * Returns advertiser states.
       */
      states () {
        return this.advertiser.states || {};
      },

      /**
       * Returns all transitions.
       */
      transitions () {
        return {
          deactivate: {
            label: this.getStatusName('inactive'),
            handler: this.deactivate,
            enabled: this.deactivationNotEnabled || this.states['can_deactivate'],
            visible: this.canDeactivate,
          },
          activate: {
            label: this.getStatusName('active'),
            handler: this.activate,
            enabled: this.states['can_activate'],
            visible: this.canActivate,
          },
        };
      },

      /**
       * Returns only visible transitions.
       */
      visibleTransitions () {
        return pickBy(this.transitions, 'visible');
      },

      /**
       * Whether deactivation enabled.
       */
      deactivationNotEnabled() {
        return !this.states['can_deactivate'] && !this.states['can_deactivate_active_campaigns'];
      },
    },

    /**
     * Methods.
     */
    methods: {
      /**
       * Vuex (actions).
       */
      ...mapActions('show', [
        'activate',
        'deactivate',
      ]),

      /**
       * Set status.
       *
       * @param status
       */
      setStatus (status) {
        const transition = this.transitions[status];

        if (status === 'deactivate' && this.deactivationNotEnabled) {
          return this.$notify.error({
            message: this.$trans('advertiser::messages.deactivate.has_active_campaigns'),
          });
        }

        this.$call(transition.handler());
      },

      /**
       * Returns translated status name.
       */
      getStatusName (status) {
        return this.$trans(`user::labels.statuses.${status}`);
      },
    },
  };
</script>
