<template>
  <div
    v-loading="loading"
    class="page__header page__header--admin"
  >
    <transition-group
      name="el-fade-in-linear"
      mode="out-in"
      class="advertiser-info-transition-group"
    >
      <!-- CONTENT -->
      <div
        v-if="loaded"
        key="info"
        class="advertiser-details"
      >
        <div class="info-header">
          <h3 class="offset-bottom-large">
            {{ companyName || '-' }}
          </h3>
          <advertiser-status />
        </div>
        <advertiser-details />
      </div>

      <!-- ERROR MESSAGE -->
      <message
        v-if="error"
        key="message"
        type="danger"
      >
        {{ error }}
      </message>
    </transition-group>
  </div>
</template>

<script>
  import AdvertiserDetails from './AdvertiserDetails';
  import AdvertiserStatus from './AdvertiserStatus';
  import Id from 'Foundation/mixins/Id';
  import { mapActions, mapState } from 'vuex';
  import { Message } from 'Foundation/components/notice';

  export default {
    /**
     * Component name.
     */
    name: 'AdvertiserInfo',

    /**
     * Child components.
     */
    components: {
      AdvertiserDetails,
      AdvertiserStatus,
      Message,
    },

    /**
     * Mixins.
     */
    mixins: [
      Id,
    ],

    /**
     * Computed properties.
     */
    computed: {
      /**
       * Vuex (state).
       */
      ...mapState('show', {
        advertiser: 'advertiser',
        loading: 'loadAdvertiserPending',
        error: 'loadAdvertiserError',
      }),

      /**
       * Advertiser company name.
       */
      companyName () {
        return this.advertiser ? this.advertiser.companyName : '-';
      },

      /**
       * Returns true if data is loaded.
       */
      loaded () {
        return !this.loading && this.advertiser;
      },
    },

    /**
     * Mounted hook.
     */
    mounted () {
      this.$call(this.load(this.id));
    },

    /**
     * Methods.
     */
    methods: {
      /**
       * Vuex (actions).
       */
      ...mapActions('show', [
        'load',
      ]),
    },
  };
</script>
