<template>
  <div class="admin-caption">
    <div class="admin-caption__item">
      <p>
        <strong class="text-label-xs-semibold-caps">
          {{ $trans('labels.personal_info') }}
        </strong>
      </p>
      <p>{{ advertiser.name }}</p>
      <p>{{ advertiser.email }}</p>
      <p>
        <a
          v-if="advertiser.contactSfdcUrl"
          :href="advertiser.contactSfdcUrl"
          target="_blank"
        >
          {{ $trans('advertiser::labels.contact_sfdc_link') }}
        </a>
      </p>
    </div>
    <div class="admin-caption__item">
      <p>
        <strong class="text-label-xs-semibold-caps">
          {{ $trans('labels.business_info') }}
        </strong>
      </p>
      <div v-if="advertiser.address && advertiser.location && advertiser.phone">
        <p>
          {{ advertiser.address }}<br>
          {{ advertiser.location }}
        </p>
        <p>{{ advertiser.phone }}</p>
      </div>
      <div v-else>
        &mdash;
      </div>
      <p>
        <a
          v-if="advertiser.advertiserSfdcUrl"
          :href="advertiser.advertiserSfdcUrl"
          target="_blank"
        >
          {{ $trans('advertiser::labels.advertiser_sfdc_link') }}
        </a>
      </p>
      <p>
        <a
          v-if="advertiser.brandSfdcUrl"
          :href="advertiser.brandSfdcUrl"
          target="_blank"
        >
          {{ $trans('advertiser::labels.brand_sfdc_link') }}
        </a>
      </p>
    </div>
    <advertiser-settings />
  </div>
</template>

<script>
  import { mapState } from 'vuex';
  import AdvertiserSettings from "./AdvertiserSettings";

  export default {
    /**
     * Name of the component.
     */
    name: 'AdvertiserDetails',

    components: {
      AdvertiserSettings
    },

    /**
     * Computed properties.
     */
    computed: {
      /**
       * Vuex (state).
       */
      ...mapState('show', [
        'advertiser',
      ]),
    },
  };
</script>
