<template>
  <div
    v-if="advertiser.states.can_show_settings"
    class="admin-caption__item"
  >
    <p>
      <strong class="text-label-xs-semibold-caps">
        {{ $trans('advertiser::labels.settings_info') }}
      </strong>
    </p>
    <p
      v-if="advertiser.states.can_update_creative_upload_limit"
      class="offset-y-large"
    >
      <span class="field-has-buttons">
        <number-field
          v-model="creativeMonthlyUploadMaxSubmits"
          :label="$trans('advertiser::labels.created_upload_limit')"
          name="creativeMonthlyUploadMaxSubmits"
          :placeholder="$trans('advertiser::labels.placeholder_default', { default_value: $config.rules.creative.policies.max_submitted_per_month })"
          size="small"
          :validation="validationRules.setting.creative_monthly_upload_max_submits"
          scope="creative_upload_limit_scope"
          @input="showButtons"
          @keyup.enter.native="submitLimitSettings"
          @keyup.esc.native="rollbackLimit"
        >
          <template #tooltip>
            <info-tip
              :description="$trans('advertiser::labels.setting_limit_tooltip')"
            />
          </template>
        </number-field>
        <input-action
          size="medium"
          type-cancel="primary"
          type-submit="default"
          :show-buttons="showActionButtons"
          :disabled="disableAction"
          @submitAction="submitLimitSettings"
          @rollbackAction="rollbackLimit"
        />
      </span>
      <span class="text-body-xxs text-muted">
        {{ $trans('advertiser::labels.creative_uploaded_this_month', { limit: advertiser.countCreativeSubmitted } ) }}
      </span>
    </p>
    <p>
      <el-switch
        v-if="advertiser.states.can_update_account_type"
        v-model="specialAccountType"
        :active-text="$trans('invitation::labels.special_ads_category')"
        @change="changeAccountTypeEvent"
      />
    </p>
    <confirm-change-account-type-modal
      v-if="visibleModal"
      :value="specialAccountType"
      @rollback="rollback"
    />
  </div>
</template>

<script>

import {mapActions, mapState} from 'vuex';
import ConfirmChangeAccountTypeModal from 'Modules/advertiser/components/show/modals/ConfirmChangeAccountTypeModal';
import UpdateAccountType from 'Modules/advertiser/components/show/mixins/UpdateAccountType';
import NumberField from 'Foundation/components/form/NumberField';
import InfoTip from 'Foundation/components/toolpip/InfoTip';
import InputAction from 'Foundation/components/form/InputAction';

export default {
  /**
   * Name of the component.
   */
  name: 'AdvertiserSettings',

  /**
   * Child components.
   */
  components: {
    ConfirmChangeAccountTypeModal,
    NumberField,
    InfoTip,
    InputAction,
  },

  /**
   * Mixins.
   */
  mixins: [
    UpdateAccountType
  ],

  /**
   * Reactive properties.
   * @returns {{}}
   */
  data() {
    return {
      visibleModal: false,
      specialAccountType: false,
      creativeMonthlyUploadMaxSubmits: null,
      showActionButtons: false,
      disableAction: false,
    }
  },

  /**
   * Computed properties.
   */
  computed: {
    ...mapState('show', [
      'advertiser',
    ]),
  },

  /**
   * Created.
   */
  created() {
    this.specialAccountType = this.advertiser.specialAccountType;
    this.creativeMonthlyUploadMaxSubmits = this.advertiser.settings.creative_monthly_upload_max_submits;
    this.getSettings();
  },

  /**
   * Methods.
   */
  methods: {
    ...mapActions('show', [
      'changeSettingsLimit',
      'getSettingsAdvertiser'
    ]),

    /**
     * Change type account advertiser
     */
    changeAccountTypeEvent() {
      if (!this.specialAccountType) {
        this.updateAccountType(this.specialAccountType);
        this.visibleModal = false;
        return
      }
      this.visibleModal = true;
    },

    /**
     * Rollback account type if modal was closed.
     */
    rollback() {
      this.specialAccountType = this.advertiser.specialAccountType;
      this.visibleModal = false;
    },

    /**
     * Save advertiser limit
     * @returns {Promise<void>}
     */
    submitLimitSettings() {
      if (this.$validator.errors.any('creative_upload_limit_scope')) {
        return;
      }

      this.disableAction = true;
      if (this.creativeMonthlyUploadMaxSubmits !== this.advertiser.settings.creativeMonthlyUploadMaxSubmits) {
        this.$call(this.changeSettingsLimit({
          advertiserId: this.advertiser.id,
          data: {
            creative_monthly_upload_max_submits: this.creativeMonthlyUploadMaxSubmits,
          }
        })).finally(() => {
          this.showActionButtons = false;
          this.disableAction = false;
        })
      }
    },

    /**
     * Get count creative submitted
     *
     * @returns {Promise<void>}
     */
    getSettings() {
      this.$call(this.getSettingsAdvertiser({
        advertiserId: this.advertiser.id,
      }));
    },

    /**
     * Show action buttons
     */
    showButtons() {
        this.showActionButtons = true;
    },

    /**
     * rollback value input
     */
    rollbackLimit() {
      this.creativeMonthlyUploadMaxSubmits = this.advertiser.settings.creative_monthly_upload_max_submits;
      this.showActionButtons = false;
    }
  },

};
</script>
