<template>
  <div
    v-loading="changeAccountTypePending"
    class="page"
  >
    <!-- HEADER WITH ADVERTISER INFO -->
    <advertiser-info :id="id" />

    <!-- CONTENT WITH TABS -->
    <div class="page__holder page__holder--admin level-negative-1">
      <div class="level-default">
        <el-tabs v-model="active">
          <!-- TABS -->
          <el-tab-pane
            v-for="tab in tabs"
            :key="tab.route"
            :label="tab.label"
            :name="tab.route"
          />

          <!-- TAB CONTENT -->
          <router-view :id="id" />
        </el-tabs>
      </div>
    </div>
  </div>
</template>

<script>
  import AdvertiserInfo from './AdvertiserInfo';
  import Id from 'Foundation/mixins/Id';
  import { mapFields } from "vuex-map-fields";

  export default {
    /**
     * Name
     */
    name: 'AdvertiserShow',

    /**
     * Components
     */
    components: {
      AdvertiserInfo,
    },

    /**
     * Mixins.
     */
    mixins: [
      Id,
    ],

    /**
     * Reactive data.
     *
     * @returns {{active: null}}
     */
    data () {
      return {
        active: this.$route.matched ? this.$route.matched[0].name : null,
      };
    },

    /**
     * Computed properties.
     */
    computed: {
      /**
       * Available tabs.
       *
       * @returns {*[]}
       */
      tabs () {
        return [
          {
            route: 'show.campaigns',
            label: this.$trans('labels.campaigns'),
          },
          {
            route: 'show.creatives',
            label: this.$trans('labels.creatives'),
          },
          {
            route: 'show.transactions',
            label: this.$trans('labels.transactions'),
          }
        ];
      },

      /**
       * Map report data
       */
      ...mapFields('show', [
        'changeAccountTypePending'
      ]),
    },

    /**
     * Watchers.
     */
    watch: {
      /**
       * Active tab.
       *
       * @param name
       */
      active (name) {
        this.$pushRoute({ name });
      },
    },

    /**
     * Created hook.
     */
    created () {
      this.active = this.active || this.tabs[0].route;
    },
  };
</script>
