<template>
  <div class="status grid-content details-status">
    <dropdown-badge
      :status="campaignStatus"
      :loading="loadingModal"
      :dropdown-items="showStatusLabel ? {} : possibleStatuses"
      :custom-class="statusClass"
      @on-click="changeStatus"
    >
      <template slot="default">
        {{ campaignStatus }}
        <span
          v-if="displayStatusChangedBy"
          class="changed-by"
        >
          &nbsp;{{ $trans('labels.by_param', { param: campaign.status_change_actor }) }}
        </span>
        <span
          v-if="canShowEditIcon"
          v-html="icon"
        />
      </template>
    </dropdown-badge>

    <!-- CONFIRM DIALOG -->
    <confirm-dialog
      :loading="loadingModal"
      :visible="visible != null"
      :type="visible"
      @submit="submitHandler"
      @close="visible = null"
    />
  </div>
</template>

<script>
import { mapActions, mapState } from 'vuex';
import ConfirmDialog from './Dialogs/ConfirmDialog';
import DropdownBadge from 'Foundation/components/badges/DropdownBadge';
import Icon from 'Foundation/components/icons/Icon';
import Vue from 'vue'

const STATUS_TYPES = {
  draft: 'default',
  pending_approval: 'default',
  ready: 'info',
  live: 'success',
  paused: 'warning',
  completed: 'default',
  canceled: 'danger',
  suspended: 'danger',
}

export default {
  /**
   * Name.
   */
  name: 'ChangeStatus',

  /**
   * Components.
   */
  components: {
    ConfirmDialog,
    DropdownBadge
  },

  /**
   * Reactive properties.
   */
  data () {
    return {
      /**
       * Is dialog visible
       */
      visible: null,

      /**
       * Show loader in modal
       */
      loadingModal: false,
    };
  },

  /**
   * Computed properties.
   */
  computed: {
    /**
     * Map state.
     */
    ...mapState('details', ['campaign']),
    ...mapState('states', { campaignStates: 'states' }),

    /**
     * If status label should be shown.
     * @return Boolean
     */
    showStatusLabel() {
      return ['completed', 'canceled'].includes(this.campaign.status);
    },

    /**
     * Get campaign status.
     * @return String
     */
    campaignStatus () {
      return this.$trans(`campaign::labels.campaign.statuses.${this.campaign.status}`);
    },

    /**
     * Check if campaign can be paused.
     * @return Boolean
     */
    pausable () {
      return !['paused'].includes(this.campaign.status);
    },

    /**
     * Check if campaign can be resumed.
     * @return Boolean
     */
    resumable () {
      return !['live'].includes(this.campaign.status);
    },

    /**
     * Check if campaign can be cancelled.
     * @return Boolean
     */
    cancellable () {
      return !['cancelled'].includes(this.campaign.status);
    },

    /**
     * Campaign status class.
     */
    statusClass () {
      if (!this.campaign.status) {
        return 'default';
      }

      return STATUS_TYPES[this.campaign.status.replace(' ', '_')];
    },

    /**
     * True if status changed by should be displayed.
     */
    displayStatusChangedBy () {
      return ['paused', 'canceled'].includes(this.campaign.status)
        && !!this.campaign.status_change_actor;
    },

    /**
     * Get possible statuses list.
     */
    possibleStatuses () {
      let result = {};
      if (this.resumable) {
        result['resume'] = {
          enabled: !this.cant('resume'),
          label: this.$trans('campaign::actions.resume')
        }
      }
      if (this.pausable) {
        result['pause'] = {
          enabled: !this.cant('pause'),
          label: this.$trans('campaign::actions.pause')
        }
      }
      if (this.cancellable) {
        result['cancel'] = {
          enabled: !this.cant('cancel'),
          label: this.$trans('campaign::actions.cancel')
        }
      }

      return result;
    },

    /**
     * Can show edit icon.
     */
    canShowEditIcon () {
      return this.campaign.exist_draft_review;
    },

    /**
     * Get icon content.
     */
    icon () {
      const iconComponent = Vue.extend(Icon)
      const instance = new iconComponent({
        propsData: {
          value: 'edit-3',
          width: 11,
          height: 11,
          type: 'default'
        }
      })
      instance.$mount();

      return instance.$el.outerHTML;
    }
  },

  /**
   * Methods.
   */
  methods: {
    /**
     * Vuex actions.
     */
    ...mapActions('details', ['updateStatus']),

    /**
     * Close modal.
     */
    close () {
      this.visible = null;
    },

    /**
     * Cancel campaign.
     */
    cancelCampaign () {
      this.setStatus('cancel').then(() => {
        this.close();
        this.$trackAction('campaign_cancel');
      });
    },

    /**
     * Pause campaign.
     */
    pauseCampaign () {
      this.setStatus('pause').then(() => {
        this.close();
        this.$trackAction('campaign_pause');
      });
    },

    /**
     * Resume campaign.
     */
    resumeCampaign () {
      this.setStatus('resume').then(() => {
        this.$trackAction('campaign_resume');
      });
    },

    /**
     * Set status.
     * @param status
     * @return Promise
     */
    setStatus (status = '') {
      this.loadingModal = true;
      return this.updateStatus({ id: this.campaign.id, status: status })
        .then(() => {
          this.$notify.success({
            message: this.$trans(
              status === 'cancel' ? 'campaign::messages.cancel.accepted' : 'campaign::messages.status_updated'
            ),
          });
        })
        .catch((error) => {
          this.$notify.error(error.response.data.message);
          return Promise.reject(error);
        })
        .finally(() => {
          this.loadingModal = false;
        });
    },

    /**
     * Submit handler.
     */
    submitHandler() {
      if (this.visible === 'cancel') {
        this.cancelCampaign();
        return;
      }
      if (this.visible === 'pause') {
        this.pauseCampaign();
      }
    },

    /**
     * Checks if user cant apply an action.
     * @param state
     * @return {*}
     */
    cant (state = '') {
      return !this.campaignStates || !this.campaignStates[`can_${state}`];
    },

    /**
     * Change status event
     */
    changeStatus (value) {
      if (value === 'resume') {
        return this.resumeCampaign();
      }

      this.visible = value;
    }
  },
};
</script>
