<template>
  <div class="d-flex">
    <el-button
      type="text"
      @click.prevent="onClick"
    >
      <icon
        value="edit-3"
        transparent="stroke"
      />
      {{ $trans('campaign::actions.edit_campaign') }}
    </el-button>
  </div>
</template>

<script>
  import Icon from 'Foundation/components/icons/Icon';

  export default {
    /**
     * Name of the component.
     */
    name: "Edit",

    /**
     * Child components.
     */
    components: {
      Icon,
    },

    /**
     * Available properties.
     */
    props: {
      /**
       * Campaign Id
       */
      campaignId: {
        type: [String, Number],
        default: '',
      },
    },

    /**
     * Available methods.
     */
    methods: {
      /**
       * On click event handler.
       */
      onClick () {
        this.$redirectToRoute('campaigns.edit', { campaign: this.campaignId });
      },
    },
  };
</script>
