<script>
  import Vue from 'vue';
  import { get } from 'lodash';
  import Annotation from 'Foundation/components/toolpip/annotations/Annotation';
  import LowZindex from 'Foundation/components/toolpip/mixins/LowZindex';

  export default {

    name: 'AnnotatedText',

    /**
     * Components.
     */
    components: {
      Annotation
    },

    /**
     * Mixins.
     */
    mixins: [
      LowZindex,
    ],

    props: {
      /**
       * Text with terms placeholders.
       */
      text: {
        type: String,
        default: '',
      },

      /**
       * List of terms with placeholders as keys.
       * Each term should consist of next fields:
       * 'term' (required) - arbitrary html
       * 'description' (required) - arbitrary html
       * 'moreLink' (optional)
       * 'hoverable' (optional - false)
       */
      terms: {
        type: Object,
        default: () => {},
      },

      /**
       * Custom css-class for annotations popper.
       */
      popperClass: {
        type: String,
        default: '',
      },

      /**
       * Verify if popper html-element should be append within the same parent as the term.
       */
      appendAsSibling: {
        type: Boolean,
        default: false,
      },
    },

    /**
     * Methods.
     */
    methods: {
      /**
       * @returns {string}
       */
      processText () {
        let processedText = this.text;
        Object.keys(this.terms).forEach(key => {
          processedText = processedText.replaceAll(`:${key}`, this.getAnnotationComponent(key));
        });
        return processedText;
      },

      /**
       * @param {string} key
       * @returns {string}
       */
      getAnnotationComponent (key) {
        return `<annotation v-bind="getAnnotationProps('${key}')" />`;
      },

      /**
       * @param {string} key
       * @returns {*}
       */
      getAnnotationProps (key) {
        return Object.assign(
          {},
          {
            popperClass: this.popperClass,
            zindex: this.zindex,
            appendAsSibling: this.appendAsSibling,
          },
          this.getTerm(key),
        );
      },

      /**
       * @param {string} key
       * @returns {*}
       */
      getTerm (key) {
        return get(this.terms, key, {});
      },
    },

    /**
     * @param {function} createElement
     * @returns {VNode}
     */
    render: function (createElement) {
      const template = `<div class="annotated-text">${this.processText()}</div>`;
      const compiledTemplate = Vue.compile(template);
      return compiledTemplate.render.call(this, createElement);
    },
  }

</script>
