<template>
  <layout-guest>
    <transition
      name="el-fade-in-linear"
      mode="out-in"
    >
      <forgot-password-form
        v-if="!confirmSent"
        key="forgot-password"
        @close="close"
      />
      <reset-password-form
        v-else
        key="reset-password"
      />
    </transition>
  </layout-guest>
</template>

<script>
  import ForgotPasswordForm from '../components/forgot-password/ForgotPasswordForm';
  import ResetPasswordForm from "Modules/auth/components/reset-password/ResetPasswordForm";
  import LayoutGuest from 'Foundation/layouts/LayoutGuest';

  export default {
    /**
     * Name of the component.
     */
    name: "TheForgotPassword",

    /**
     * Child components.
     */
    components: {
      ForgotPasswordForm,
      ResetPasswordForm,
      LayoutGuest
    },

    /**
     * Component data
     */
    data () {
      return {
        confirmSent: false,
      }
    },

    /**
     * Methods.
     */
    methods: {
      /**
       * Show reset password form
       */
      close () {
        this.confirmSent = true;
      },
    },
  };
</script>
