<template>
  <transition
    name="el-fade-in-linear"
    mode="out-in"
  >
    <div class="invalid-token">
      <h3>{{ $trans('labels.password_link_expired') }}</h3>
      <span>
        {{ $trans('messages.password_been_used_part1') }}
        <a
          :href="$getRoute('auth.password.request')"
          type="default"
        >
          {{ $trans('messages.password_been_used_link_title') }}
        </a>
        {{ $trans('messages.password_been_used_part2') }}
      </span>
      <el-button
        type="default"
        class="homepage-btn"
        @click="openLanding"
      >
        {{ $trans('auth::messages.back_to_homepage') }}
      </el-button>
    </div>
  </transition>
</template>

<script>
  export default {
    /**
     * Name of the component.
     */
    name: "TheInvalidResetPasswordToken",

    /**
     * Methods.
     */
    methods: {
      /**
       * Redirect to landing
       */
      openLanding () {
        this.$redirectToRoute('landing');
      },
    },
  };
</script>
