<template>
  <layout :action-buttons="false">
    <transition
      name="el-fade-in-linear"
      mode="out-in"
    >
      <div class="browser-lock maintenance">
        <div class="maintenance__content">
          <img
            src="/images/content/lock/hulubot.svg"
          >
          <p class="caption">
            {{ $trans('messages.default_maintenance_caption') }}
          </p>
          <h3>{{ $trans('messages.default_maintenance_title') }}</h3>
          <div class="text">
            <p>{{ message }}</p>
          </div>
        </div>
      </div>
    </transition>
  </layout>
</template>

<script>
  import Layout from 'Foundation/layouts/Layout';

  export default {
    /**
     * Name.
     */
    name: 'TheMaintenance',

    /**
     * Child components.
     */
    components: {
      Layout,
    },

    /**
     * Available properties.
     */
    props: {

      /**
       * Message.
       */
      message: {
        type: String,
        default: () => {
          return "";
        },
      },
    },
  };
</script>
