<template>
  <layout-guest
    v-if="!isBrowserUnsupported"
    :show-footer="false"
    :show-sign-up-button="false"
  >
    <register-form />
  </layout-guest>
</template>

<script>
  import RegisterForm from '../components/register/RegisterForm';
  import LayoutGuest from 'Foundation/layouts/LayoutGuest';
  import BrowserUnsupported from '../mixins/BrowserUnsupported';

  export default {
    /**
     * Name of the component.
     */
    name: 'TheRegisterForm',

    /**
     * Child components.
     */
    components: {
      RegisterForm,
      LayoutGuest
    },

    /**
     * Browser Unsupported check.
     */
    mixins: [
      BrowserUnsupported,
    ],
  };
</script>
