<template>
  <layout-modal-dialog
    custom-class="el-dialog--info on-boarding"
    @close="close"
  >
    <!-- HEADER -->
    <template slot="header">
      <div />
    </template>

    <!-- CONTENT -->
    <template slot="default">
      <!-- TITLE -->
      <h1 class="on-boarding__title">
        {{ $trans('user::onboarding.welcome') }}
      </h1>

      <!-- STEPS -->
      <transition
        name="el-fade-in-linear"
        mode="out-in"
      >
        <router-view />
      </transition>
    </template>

    <!-- FOOTER ASIDE -->
    <template slot="footer-aside">
      <div class="on-boarding__actions">
        <el-steps
          :active="active"
          :simple="true"
          class="on-boarding__pagination welcome-pagination"
        >
          <el-step
            v-for="step in length"
            :key="step"
          />
        </el-steps>
      </div>
    </template>

    <!-- FOOTER BUTTONS -->
    <template
      v-if="!success"
      slot="footer-buttons"
    >
      <!-- PREVIOUS -->
      <el-button
        v-if="previousAvailable"
        type="primary"
        @click="previous"
      >
        {{ $trans('actions.back') }}
      </el-button>

      <!-- NEXT -->
      <el-button
        v-if="nextAvailable"
        type="default"
        @click="next"
      >
        {{ $trans('actions.next') }}
      </el-button>

      <!-- FINISH -->
      <el-button
        v-if="finishAvailable"
        class="finish-button"
        type="default"
        @click="finish"
      >
        {{ $trans('actions.finished') }}
      </el-button>
    </template>
  </layout-modal-dialog>
</template>

<script>
  import { RouteWizard } from 'Foundation/components/navigation/wizard';

  export default {
    /**
     * Component name.
     */
    name: 'OnboardingWizard',

    /**
     * Extended component.
     */
    extends: RouteWizard,
  }
</script>
