<template>
  <div class="creative-status">
    <span
      class="creative-status__item"
      :class="statusCellClass"
    >
      <icon
        :value="getIconValue"
        :width="getWidth"
        :height="getHeight"
        :lightness="getLightness"
        transparent="stroke"
      />
    </span>
    {{ cellStatusText }}
  </div>
</template>

<script>
  import Icon from 'Foundation/components/icons/Icon';

  const ICONS_TYPES_MAPPING = {
    'pending approval': {
      value: 'review',
      type: 'default',
      width: 7,
      height: 10
    },
    approved: {
      value: 'approved',
      type: 'default',
      width: 11,
      height: 10
    },
    missing: {
      value: 'missing',
      type: 'warning',
      width: 2,
      height: 20
    },
    processing: {
      value: 'review',
      type: 'default',
      width: 7,
      height: 20
    },
    draft: {
      value: 'review',
      type: 'default',
      width: 7,
      height: 20
    },
    rejected: {
      value: 'rejected',
      type: 'danger',
      width: 10,
      height: 10,
      lightness: 'light'
    },
  };

  export default {
    /**
     * Component name
     */
    name: 'CreativeStatusCell',

    /**
     * Components.
     */
    components: {Icon},

    /**
     * Props
     */
    props: {
      cellValue: {
        type: String,
        default: ''
      }
    },

    /**
     * Data properties
     */
    data() {
      return {
        iconValue: this.cellValue ? this.cellValue : 'missing'
      }
    },

    /**
     * Computed props
     */
    computed: {
      /**
       * Get icon value
       * @returns {string}
       */
      getIconValue () {
        return ICONS_TYPES_MAPPING[this.iconValue].value;
      },

      /**
       * Get cell type
       * @returns {string}
       */
      getCellType () {
        return ICONS_TYPES_MAPPING[this.iconValue].type;
      },

      /**
       * Cell status text
       * @returns {string}
       */
      cellStatusText () {
        return this.$trans(`creative::labels.creative.statuses.${this.iconValue}`);
      },

      /**
       * Get status cell class
       * @returns {string}
       */
      statusCellClass () {
        return `creative-status__item--${this.getCellType}`
      },

      /**
       * Cell height icon
       * @returns {number}
       */
      getHeight () {
        return ICONS_TYPES_MAPPING[this.iconValue].height;
      },

      /**
       * Cell width icon
       * @returns {number}
       */
      getWidth () {
        return ICONS_TYPES_MAPPING[this.iconValue].width;
      },

      /**
       * Cell lightness icon
       * @returns {string}
       */
      getLightness () {
        return ICONS_TYPES_MAPPING[this.iconValue].lightness ? ICONS_TYPES_MAPPING[this.iconValue].lightness : '';
      }
    },
  };
</script>
