<template>
  <status-badge
    :value="cellText"
    :type="type"
    :html="true"
  />
</template>

<script>
  import CellMixin from 'Foundation/mixins/CellMixin';
  import Icon from 'Foundation/components/icons/Icon';
  import Vue from 'vue'

  export default {
    /**
     * Component name
     */
    name: 'StatusCell',

    /**
     * Mixins.
     */
    mixins: [CellMixin],

    /**
     * Props.
     */
    props: {
      /**
       * Icon.
       */
      icon: {
        type: String,
        default: null
      }
    },

    /**
     * Component data.
     */
    data () {
      return {
        typeStatusMapping: {
          'default': ['draft', 'review', 'pending_approval', 'complete', 'completed', 'pending', 'precessing'],
          'success' : ['live'],
          'info': ['ready'],
          'warning': ['paused'],
          'danger': ['canceled', 'suspended'],
        }
      }
    },

    /**
     * Computed properties.
     */
    computed: {
      /**
       * Cell text
       */
      cellText () {
        let label = this.$trans(`campaign::labels.campaign.statuses.${this.cellValue}`);
        if (this.icon) {
          const iconComponent = Vue.extend(Icon)
          const instance = new iconComponent({
            propsData: {
              value: this.icon,
              width: 11,
              height: 11,
            }
          })
          instance.$mount();
          label = label + ' ' + instance.$el.outerHTML;
        }

        return label
      },
    },
  };
</script>
