<template>
  <status-badge
    :value="cellText"
    :type="type"
  />
</template>

<script>
  import CellMixin from "Foundation/mixins/CellMixin";

  export default {
    /**
     * Component name
     */
    name: 'TransactionStatusCell',

    /**
     * Mixins.
     */
    mixins: [CellMixin],

    /**
     * Component data.
     */
    data () {
      return {
        typeStatusMapping: {
          'default': ['pending'],
          'success' : ['settled'],
          'info': ['current'],
          'danger': ['failed', 'suspended'],
        }
      }
    },

    /**
     * Computed properties.
     */
    computed: {
      /**
       * Cell text
       */
      cellText () {
        return this.$trans(`payment::labels.statuses.${this.formattedCellValue}`);
      },
    },
  };
</script>
