<template>
  <transition
    v-if="visible"
    name="el-fade-in-linear"
    mode="out-in"
  >
    <span v-if="saved">
      {{ $trans('labels.saved') }}
    </span>
  </transition>
</template>

<script>
  import { mapGetters, mapState } from 'vuex';

  export default {
    /**
     * Name of the component.
     */
    name: 'WizardStatusBar',

    /**
     * Computed properties.
     */
    computed: {
      /**
       * Vuex (state).
       */
      ...mapState('wizard', [
        'id',
      ]),

      /**
       * Vuex (getters).
       */
      ...mapGetters('wizard/steps', [
        'getStepByRoute',
      ]),

      /**
       * True if component should be visible.
       * @returns {boolean}
       */
      visible () {
        return !!this.id;
      },

      /**
       * Returns step that is currently displaying.
       *
       * @returns {*|(function(*=): *)}
       */
      activeStep () {
        return this.getStepByRoute(this.$route.name);
      },

      /**
       * Returns true if step is saved.
       *
       * @returns {default.computed.saved|(function())|boolean}
       */
      saved () {
        return this.activeStep && this.activeStep.savable !== false && this.activeStep.saved;
      },
    },
  };
</script>
