<template>
  <div class="details--creative">
    <message
      v-if="!campaign.creative && manageDisabled"
      type="warning"
    >
      {{ messageContent }}
    </message>
    <module-creative
      :attached-creative="campaign.creative"
      :campaign-id="campaign.id"
      :display-table="displayTable"
      :manage-disabled="manageDisabled"
      :only-replace="onlyReplace"
      :table-name="tableName"
      :only-approved="onlyApproved"
      :remind-message="$trans('creative::messages.remind_review')"
      :selectable="true"
      scroll-to-class="tabs"
      table-holder-class=""
      :count-uploaded-ads="campaign.countUploadedAds"
      @removed="removed"
    />
  </div>
</template>

<script>
  import ModuleCreative from 'Modules/creative/components/ModuleCreative';
  import { mapState } from 'vuex';
  import { Message } from 'Foundation/components/notice';
  import { get } from 'lodash';

  export default {
    /**
     * Name
     */
    name: 'TabCreatives',

    /**
     * Components
     */
    components: {
      Message,
      ModuleCreative,
    },

    /**
     * Computed properties.
     */
    computed: {
      /**
       * Map state.
       */
      ...mapState('details', [ 'campaign' ]),
      ...mapState('states', { campaignStates: 'states' }),

      /**
       * Check if creative can be attached to campaign
       */
      manageDisabled () {
        if (this.campaign.live_edit_mode && this.campaign.exist_draft_review) {
          return true;
        }

        return !this.campaignStates.can_manage_creative;
      },

      /**
       * Check if creative must be replaced
       */
      onlyReplace () {
        return this.campaignStates.can_only_replace_creative;
      },

      /**
       * Check if creative must be replaced to only approved
       */
      onlyApproved () {
        return get(this.campaign, 'status') === 'ready';
      },

      /**
       * Table name
       */
      tableName () {
        return this.onlyApproved ? 'creatives-approved' : 'creatives';
      },

      /**
       * Returns true if user is able to manage campaign creative.
       */
      canManageCampaignCreative() {
        return this.$hasPermission('manage_campaign_creative');
      },

      /**
       * Returns true if creative table should be displayed.
       */
      displayTable () {
        return this.$hasPermission('list_creative');
      },

      /**
       * Returns warning message text content.
       */
      messageContent() {
        const isStatusProcessing = get(this.campaign, 'status') === 'processing';

        if (this.canManageCampaignCreative && isStatusProcessing) {
          return this.$trans('creative::messages.campaign_being_processed');
        }

        return this.$trans('creative::messages.there_are_no_creatives');
      },
    },

    /**
     * Methods
     */
    methods: {
      /**
       * Change creative state in details modal
       */
      removed () {
        this.campaign.creative = null;
      }
    }
  }
</script>
