<template>
  <div class="details--overview">
    <div
      v-if="campaign.targeting_message"
      class="details--overview__message"
      v-html="campaign.targeting_message"
    />
    <div
      v-for="(block, key) in blocks"
      :key="key"
      class="review-campaign__list"
      :class="block.class"
    >
      <div class="collapse-grid">
        <campaign-review-item-wrapper
          v-for="(item, property) in block.block"
          :key="property"
          :item="item"
        />
      </div>
    </div>
  </div>
</template>

<script>
import CampaignReviewItemWrapper
  from "Modules/campaign/components/wizard/steps/review-and-payment/review/items/CampaignReviewItemWrapper";
import { mapGetters, mapState } from 'vuex';

export default {
  /**
   * Component name
   */
  name: 'TabOverview',

  /**
   * Child components.
   */
  components: {
    CampaignReviewItemWrapper
  },

  /**
   * Prop properties.
   */
  props: {
    targetings: {
      type: Object,
      required: true,
    }
  },

  /**
   * Computed properties.
   */
  computed: {
    /**
     * Vuex (state) - targeting.
     */
    ...mapState('details', ['campaign']),

    /**
     * Vuex (getters) - targeting.
     */
    ...mapGetters('details', ['selectedGenderLabels']),

    blocks () {
      const locations = [...this.targetings.city ? this.targetings.city : [], ...this.targetings.zip ? this.targetings.zip : []];

      return {
        locations: {
          class: 'is-bordered',
          block: {
            locations: {
              singleColumn: true,
              title: this.$trans('labels.locations'),
              value: {
                locations: this.targetings.locations,
                items: locations,
                allLabel: this.$trans('targeting::labels.locations.all'),
              },
              component: 'sidebar-targeting-locations',
            },
          },
        },
        age_groups: {
          class: 'is-bordered',
          block: {
            genders: {
              key: 'genders',
              title: this.$trans('labels.gender'),
              value: this.selectedGenderLabels,
              component: 'sidebar-targeting-ages-and-genders',
            },
            ages: {
              key: 'ages',
              title: this.$trans('labels.ages'),
              value: this.targetings.ages,
              component: 'sidebar-targeting-ages-and-genders',
            },
          },
        },
        audiences: {
          class: 'is-bordered',
          block: {
            audiences: {
              key: 'audiences',
              singleColumn: true,
              title: this.$trans('labels.audiences'),
              value: this.targetings.audiences,
              component: 'sidebar-targeting-audiences',
            },
          },
        },
        devices: {
          class: 'is-bordered',
          block: {
            devices: {
              key: 'devices',
              singleColumn: true,
              title: this.$trans('labels.platforms'),
              value: {
                items: this.targetings.deviceGroups,
                allowAll: false,
              },
              component: 'sidebar-targeting-item',
            },
          },
        },
        genres: {
          class: 'is-bordered',
          block: {
            genres: {
              key: 'genres',
              singleColumn: true,
              title: this.$trans('labels.show_genres'),
              value: {
                items: this.targetings.genres,
                allowAll: true,
                allLabel: this.$trans('targeting::labels.genres.all'),
              },
              component: 'sidebar-targeting-include-item',
            },
          },
        },
      }
    }
  },
};
</script>
