<template>
  <div
    v-if="!indexPaymentPending"
  >
    <div
      v-if="showTitle || !!indexPaymentError"
      class="profile-card__panel"
    >
      <strong class="profile-card__subtitle text-subtitle-md-semibold">
        {{ $trans('payment::labels.payment_method') }}
      </strong>
    </div>
    <div
      class="payment-method"
    >
      <div>
        <credit-card-info
          v-for="paymentMethod in paymentMethods"
          :key="paymentMethod.id"
          :payment-method="paymentMethod"
        />
      </div>
    </div>
  </div>
</template>

<script>
import PaymentMethodsIndexOrigin from "Modules/payment/components/PaymentMethodsIndex";

export default {
  /**
   * Name.
   */
  name: 'PaymentMethodsIndex',

  /**
   * Extend component.
   */
  extends: PaymentMethodsIndexOrigin,
};
</script>
