<template>
  <div class="page">
    <div class="page__header">
      <h1>Profile</h1>
    </div>
    <div class="page__holder border-0">
      <el-tabs
        v-model="activeName"
      >
        <el-tab-pane
          label="Transaction"
          name="first"
        >
          <el-row :gutter="32">
            <div
              class="counter"
            >
              <el-row
                :gutter="16"
                class="counter__list"
              >
                <el-col
                  :span="8"
                >
                  <div class="grid-content bg-purple">
                    <el-card
                      class="counter__item card-counter is-always-shadow"
                      type="currency"
                    >
                      <div class="card-counter__name">
                        <div class="text-label-xs-semibold-caps">
                          Spend To Date
                        </div>
                      </div>
                      <h1 class="card-counter__value">
                        $133,049.99
                      </h1>
                    </el-card>
                  </div>
                </el-col>
                <el-col
                  :span="8"
                >
                  <div class="grid-content bg-purple">
                    <div
                      class="el-card counter__item card-counter is-always-shadow"
                      type="currency"
                    >
                      <div class="el-card__body">
                        <div class="card-counter__name">
                          <div class="text-label-xs-semibold-caps">
                            Spend To Date
                          </div>
                        </div>
                        <h1 class="card-counter__value">
                          $3,049.33
                        </h1>
                      </div>
                    </div>
                  </div>
                </el-col>
                <el-col
                  :span="8"
                >
                  <div class="grid-content bg-purple">
                    <div
                      class="el-card counter__item card-counter is-always-shadow"
                      type="currency"
                    >
                      <div class="el-card__body">
                        <div class="card-counter__name">
                          <div class="text-label-xs-semibold-caps">
                            Spend To Date
                          </div>
                        </div>
                        <h1 class="card-counter__value">
                          $1,049.33
                        </h1>
                      </div>
                    </div>
                  </div>
                </el-col>
              </el-row>
            </div>
            <el-card shadow="always">
              <h2
                class="page__subtitle"
              >
                Transaction History
              </h2>
              <div
                class="table"
                :class="innerClass"
              >
                <div
                  class="table__actions"
                >
                  <div class="table__actions-select-page">
                    <span>Show</span>
                    <el-select
                      size="small"
                      class="input-secondary"
                      placeholder="10"
                      popper-class="text-body-xs"
                      :disabled="pending"
                    >
                      <el-option
                        v-for="item in pageSelector"
                        :key="item.value"
                        :label="item.label"
                        :value="item.value"
                      />
                    </el-select>
                    <span>entries</span>
                  </div>
                  <div class="table__actions-search">
                    <el-input
                      v-model="search"
                      size="small"
                      name="name"
                      :show-label="false"
                      :placeholder="$trans('campaign::labels.search_campaign_placeholder')"
                      class="input-secondary"
                      :label="''"
                    >
                      <icon
                        slot="prefix"
                        value="search"
                        transparent="stroke"
                        :width="14"
                        :height="14"
                      />
                    </el-input>
                  </div>
                  <div class="table__actions-filter">
                    <el-select
                      v-model="value11"
                      multiple
                      size="small"
                      class="select-table"
                      collapse-tags
                      placeholder="Payment status"
                    >
                      <el-option
                        v-for="item in filters"
                        :key="item.value"
                        :label="item.label"
                        :value="item.value"
                      />
                    </el-select>
                  </div>
                </div>
                <div class="table__holder">
                  <el-table
                    :data="tableData"
                  >
                    <el-table-column
                      label="Campaign Name"
                      sortable
                      prop="name"
                      class-name="overflow-text"
                    >
                      <template slot-scope="scope">
                        <a href="#">
                          {{ scope.row.name }}
                        </a>
                      </template>
                    </el-table-column>
                    <el-table-column
                      label="Order Id"
                      sortable
                      header-align="center"
                      prop="orderID"
                    />
                    <el-table-column
                      label="Last Activity"
                      sortable
                      header-align="center"
                      prop="start"
                    />
                    <el-table-column
                      label="Payment Status"
                      prop="status"
                    >
                      <template slot-scope="scope">
                        <span :class="'is-' + [scope.row.status] + ' campaign-status tile-badge'">
                          {{ scope.row.status }}
                        </span>
                      </template>
                    </el-table-column>
                  </el-table>
                </div>
                <div class="table__footer">
                  <el-row>
                    <el-col :span="12">
                      <div class="grid-content">
                        <div class="pagination-total">
                          <span>
                            Showing 1 to 10 of 106 entries
                          </span>
                        </div>
                      </div>
                    </el-col>
                    <el-col :span="12">
                      <div class="grid-content">
                        <div class="data-table-pager">
                          <el-pagination
                            background
                            :total="100"
                            page-size="10"
                            prev-text="Previous"
                            next-text="Next"
                            layout="slot, prev, pager, next"
                          />
                        </div>
                      </div>
                    </el-col>
                  </el-row>
                </div>
              </div>
            </el-card>
          </el-row>
        </el-tab-pane>
        <el-tab-pane
          label="Settings"
          name="second"
        >
          <el-row :gutter="32">
            <el-col :span="12">
              <el-card
                class="box-card profile-card"
              >
                <div
                  slot="header"
                  class="clearfix"
                >
                  <span>Your Payment Information</span>
                </div>
                <div class="profile-card__panel">
                  <strong class="profile-card__subtitle text-subtitle-md-semibold">Payment Method</strong>
                </div>
                <div class="payment-method">
                  <div
                    class="pay-method__item"
                  >
                    <div class="pay-method__header">
                      <span class="text-label-xs-semibold-caps">
                        Credit Card
                      </span>
                      <p class="pay-method__descr">
                        We accept all major credit cards.
                      </p>
                      <el-button
                        type="primary"
                      >
                        Add Credit Card
                      </el-button>
                    </div>
                    <div class="pay-method__support">
                      <img
                        src="../../../../images/cards/Visa.svg"
                        width="57"
                        height="40"
                      >
                      <img
                        src="../../../../images/cards/Mastercard.svg"
                        :alt="Mastercard"
                        width="57"
                        height="40"
                      >
                      <img
                        src="../../../../images/cards/Discover.svg"
                        :alt="Discover"
                        width="57"
                        height="40"
                      >
                      <img
                        src="../../../../images/cards/American-Express.svg"
                        :alt="Amex"
                        width="57"
                        height="40"
                      >
                    </div>
                  </div>
                </div>
              </el-card>
            </el-col>
            <el-col :span="12">
              <el-card
                class="box-card profile-card"
              >
                <div
                  slot="header"
                  class="clearfix"
                >
                  <span>Your Account</span>
                </div>
                <div class="profile-card__account account-info">
                  <div class="profile-card__panel">
                    <strong
                      class="profile-card__subtitle text-label-sm"
                    >
                      Personal info
                    </strong>
                  </div>
                  <div class="account-info__item">
                    <p class="account-info__name">
                      Name
                      <a
                        href="#"
                        class="profile-card__update"
                        @click="updatePersonalInfo = true"
                      >
                        Update
                      </a>
                    </p>
                    <p class="account-info__value">
                      Full Name
                    </p>
                  </div>
                  <div class="account-info__item">
                    <p class="account-info__name">
                      Email
                      <a
                        href="#"
                        class="account-info__change"
                      >
                        Change
                      </a>
                    </p>
                    <p class="account-info__value">
                      email@example.com
                    </p>
                  </div>
                  <div class="account-info__item">
                    <p class="account-info__name">
                      Password
                      <a
                        href="#"
                        class="account-info__change"
                      >
                        Change
                      </a>
                    </p>
                    <p class="account-info__value">
                      ••••••••••
                    </p>
                  </div>
                  <div class="profile-card__account account-info no-border">
                    <div class="profile-card__panel">
                      <strong
                        class="profile-card__subtitle text-label-sm"
                      >
                        Bussines info
                      </strong>
                      <a
                        href="#"
                        class="profile-card__update"
                        @click="updateBussinesInfo = true"
                      >
                        Update
                      </a>
                    </div>
                    <div class="account-info__item">
                      <p class="account-info__name">
                        Business Name
                      </p>
                      <p class="account-info__value">
                        Business Name
                      </p>
                    </div>
                    <div class="account-info__item">
                      <p class="account-info__name">
                        Business Phone
                      </p>
                      <p class="account-info__value">
                        +1 (000) 000-0000
                      </p>
                    </div>
                    <div class="account-info__item">
                      <p class="account-info__name">
                        Business Address
                      </p>
                      <p class="account-info__value">
                        330 Conor Pike
                      </p>
                      <p class="account-info__value">
                        Los Angeles, CA 90210
                      </p>
                    </div>
                  </div>
                </div>
              </el-card>
            </el-col>
          </el-row>
        </el-tab-pane>
      </el-tabs>
    </div>
    <el-dialog
      title="Update Personal Information"
      :visible.sync="updatePersonalInfo"
      width="45%"
    >
      <el-form
        ref="form"
        :model="form"
      >
        <text-field
          v-model="form.name"
          size="medium"
          :label="'Name'"
          name="name"
        />
        <email-field
          v-model="form.email"
          size="medium"
          :label="'Email'"
          name="name"
        />
        <password-field
          v-model="form.password"
          name="password"
          :label="'password'"
        >
          <el-button
            slot="suffix"
            type="text"
            class="icon-btn"
          >
            <svg
              class="icon icon-eye"
            >
              <use xlink:href="../../../../images/icons/symbol-defs.svg#icon-eye" />
            </svg>
          </el-button>
        </password-field>
        <el-button
          type="default"
          class="btn-block"
        >
          Save changes
        </el-button>
        <el-button
          type="primary"
          class="btn-block"
        >
          Cancel
        </el-button>
      </el-form>
    </el-dialog>
    <el-dialog
      title="Update Personal Information"
      :visible.sync="updateBussinesInfo"
      width="45%"
    >
      <el-form
        ref="form"
        :model="form"
      >
        <text-field
          v-model="form.name"
          size="medium"
          :label="'Name'"
          name="name"
          placeholder="Enter your name"
        />
        <email-field
          v-model="form.phone"
          size="medium"
          :label="'Telephone'"
          name="phone"
          placeholder="Enter your phone"
        />
        <text-field
          v-model="form.address"
          size="medium"
          :label="'Address'"
          name="address"
          placeholder="Enter your address"
        />
        <text-field
          v-model="form.city"
          size="medium"
          :label="'City'"
          name="city"
          placeholder="Enter your city"
        />
        <el-row :gutter="55">
          <el-col :span="12">
            <text-field
              v-model="form.state"
              size="medium"
              name="name"
              label="State"
              placeholder="CA"
            />
          </el-col>
          <el-col :span="12">
            <text-field
              v-model="form.zip"
              size="medium"
              name="name"
              label="Zip"
              placeholder="90210"
            />
          </el-col>
        </el-row>
        <el-button
          type="default"
          class="btn-block"
        >
          Save changes
        </el-button>
        <el-button
          type="primary"
          class="btn-block"
        >
          Cancel
        </el-button>
      </el-form>
    </el-dialog>
  </div>
</template>

<script>
  import TextField from '../../../foundation/components/form/TextField'
  import PasswordField from '../../../foundation/components/form/PasswordField'
  import EmailField from '../../../foundation/components/form/EmailField'
  import Icon from 'Foundation/components/icons/Icon';

  export default {

    name: 'TheAdvertiserProfile',

    components: {
      EmailField,
      PasswordField,
      Icon,
      TextField
    },

    data() {
      return {
        activeName: 'first',
        updatePersonalInfo: false,
        updateBussinesInfo: false,
        form: {
          name: null,
          password: null,
          phone: null,
          address: null,
          city: null
        },
        tableData: [
          {
            name: 'Right-sized web-enabled localareanetwork',
            orderID: '-',
            lastActivity: '',
            status: '',
          },
          {
            name: 'Mandatory coherent standardization',
            orderID: '-',
            lastActivity: '',
            status: '',
          },
          {
            name: 'Implemented eco-centric superstructure',
            orderID: '-',
            lastActivity: '',
            status: '',
          },
          {
            name: 'Secured incremental frame',
            orderID: '-',
            lastActivity: '',
            status: '',
          },
          {
            name: 'Customizable zerotolerance approach',
            orderID: '-',
            lastActivity: '',
            status: '',
          },
          {
            name: 'Centralized secondary challenge',
            orderID: '-',
            lastActivity: '',
            status: '',
          },
          {
            name: 'Diverse mobile groupware',
            orderID: '-',
            lastActivity: '',
            status: '',
          },
          {
            name: 'Triple-buffered heuristic emulation',
            orderID: '-',
            lastActivity: '',
            status: '',
          },
          {
            name: 'Right-sized web-enabled localareanetwork',
            orderID: '-',
            lastActivity: '',
            status: '',
          },
          {
            name: 'Intuitive transitional artificialintelligence',
            orderID: '-',
            lastActivity: '',
            status: '',
          }
        ],
      };
    },

    /**
     * Computed properties
     */
    computed: {

      /**
       * Page selector
       */
      pageSelector() {
        return [
          {
            label: 10,
            value: 10,
          },
          {
            label: 25,
            value: 25,
          },
          {
            label: 50,
            value: 50,
          },
          {
            label: 100,
            value: 100,
          },
        ];
      },

      /**
       * Build data for datatable backend
       */
      requestData() {
        return {
          start: (this.page - 1) * this.itemsOnPage,
          length: this.itemsOnPage,
          user_id: this.userId,
          columns: this.getColumnsData(),
          order: this.sortData,
          search: {
            value: this.search,
            regex: false
          }
        };
      },
    },

  };
</script>

<style scoped>

</style>
