<template>
  <div class="page">
    <div class="page__header page__header--admin">
      <h3 class="offset-bottom-large">
        Jeff’s Computer Repair
      </h3>
      <el-dropdown
        class="dropdown-status is-ready"
        trigger="click"
        placement="bottom-start"
      >
        <span
          class="el-dropdown-link text-label-xs-semibold-caps"
          :class="statusClass"
        >
          Active
          <i class="el-icon-arrow-down el-icon--right" />
        </span>
        <el-dropdown-menu
          slot="dropdown"
          class="dropdown-status__menu"
        >
          <el-dropdown-item>
            <a
              href="#"
              class="dropdown-status__link-item"
              @click.prevent="setStatus('resume')"
            >
              Action 1
            </a>
          </el-dropdown-item>
          <el-dropdown-item>
            <a
              href="#"
              class="dropdown-status__link-item"
              @click.prevent="setStatus('resume')"
            >
              Action 2
            </a>
          </el-dropdown-item>
          <el-dropdown-item>
            <a
              href="#"
              class="dropdown-status__link-item"
              @click.prevent="setStatus('resume')"
            >
              Action 3
            </a>
          </el-dropdown-item>
        </el-dropdown-menu>
      </el-dropdown>
      <div class="admin-caption">
        <div class="admin-caption__item">
          <p>
            <strong class="text-label-xs-semibold-caps">
              Personal Info
            </strong>
          </p>
          <p>Jeff Smith</p>
          <p>email@example.com</p>
        </div>
        <div class="admin-caption__item">
          <p>
            <strong class="text-label-xs-semibold-caps">
              Business Info
            </strong>
          </p>
          <p>
            330 Conor Pike<br>
            Los Angeles, CA 90210
          </p>
          <p>(123) 456-7890</p>
        </div>
      </div>
    </div>
    <div class="page__holder page__holder--admin">
      <el-tabs v-model="activeName">
        <el-tab-pane
          label="Campaigns"
          name="first"
        >
          <div class="campaigns campaigns--admin">
            <div class="counter">
              <el-row
                :gutter="16"
                class="counter__list"
              >
                <el-col :span="6">
                  <el-card
                    shadow="always"
                    class="counter__item card-counter"
                  >
                    <div class="card-counter__name">
                      <div class="text-label-xs-semibold-caps">
                        Total campaigns
                      </div>
                    </div>
                    <h1 class="card-counter__value">
                      300
                    </h1>
                  </el-card>
                </el-col>
                <el-col :span="6">
                  <el-card
                    shadow="always"
                    class="counter__item card-counter"
                  >
                    <div class="card-counter__name">
                      <div class="text-label-xs-semibold-caps">
                        Active Campaigns
                      </div>
                    </div>
                    <h1 class="card-counter__value">
                      120
                    </h1>
                  </el-card>
                </el-col>
                <el-col :span="6">
                  <el-card
                    shadow="always"
                    class="counter__item card-counter"
                  >
                    <div class="card-counter__name">
                      <div class="text-label-xs-semibold-caps">
                        Spend to Date
                      </div>
                    </div>
                    <h1 class="card-counter__value">
                      75
                    </h1>
                  </el-card>
                </el-col>
                <el-col :span="6">
                  <el-card
                    shadow="always"
                    class="counter__item card-counter"
                  >
                    <div class="card-counter__name">
                      <div class="text-label-xs-semibold-caps">
                        Label
                      </div>
                    </div>
                    <h1 class="card-counter__value">
                      XX
                    </h1>
                  </el-card>
                </el-col>
              </el-row>
            </div>
            <el-card shadow="always">
              <h2 class="page__subtitle">
                Campaigns
              </h2>
              <div class="table">
                <div class="table__actions">
                  <div class="table__actions-select-page">
                    <span>Show</span>
                    <el-select
                      v-model="value"
                      value="Value"
                      size="small"
                      class="input-secondary"
                      placeholder="10"
                    >
                      <el-option
                        v-for="item in options"
                        :key="item.value"
                        :label="item.label"
                        :value="item.value"
                      />
                    </el-select>
                    <span>entries</span>
                  </div>
                  <div class="table__actions-search">
                    <text-field
                      v-model="form.name"
                      size="small"
                      name="name"
                      :show-label="false"
                      :placeholder="$trans('campaign::labels.search_campaign_placeholder')"
                      class="input-secondary"
                      :label="''"
                    />
                  </div>
                  <div class="table__actions-filter">
                    <el-select
                      v-model="value11"
                      multiple
                      size="small"
                      class="select-table"
                      collapse-tags
                      placeholder="Select"
                    >
                      <el-option
                        v-for="item in filters"
                        :key="item.value"
                        :label="item.label"
                        :value="item.value"
                      />
                    </el-select>
                  </div>
                </div>
                <div
                  class="table__holder is-empty"
                  style="display: none;"
                >
                  <div class="table__empty-frame">
                    <img
                      src="../../../../images/content/Volume.png"
                      alt="Speaker"
                      height="64"
                    >
                  </div>
                  <h1 class="offset-bottom-large">
                    Create your first campaign!
                  </h1>
                  <el-button
                    type="default"
                  >
                    Create Campaign
                  </el-button>
                </div>
                <div class="table__holder">
                  <el-table
                    :data="tableData"
                  >
                    <el-table-column
                      label="Name"
                      sortable
                      prop="name"
                      class-name="overflow-text"
                    >
                      <template slot-scope="scope">
                        <a href="#">
                          {{ scope.row.name }}
                        </a>
                      </template>
                    </el-table-column>
                    <el-table-column
                      label="Creative Status"
                      width="180"
                      prop="creative"
                    >
                      <template slot-scope="scope">
                        <div class="creative-status tile-badge">
                          <i
                            v-if="'approved' === scope.row.creative"
                            :class="'is-' + [scope.row.creative] + ' creative-status__item '"
                          >
                            <svg
                              class="icon icon-approved"
                            >
                              <use xlink:href="../../../../images/icons/symbol-defs.svg#icon-approved" />
                            </svg>
                          </i>
                          <i
                            v-if="'missing' === scope.row.creative"
                            :class="'is-' + [scope.row.creative] + ' creative-status__item'"
                          >
                            <svg
                              class="icon icon-missing"
                            >
                              <use xlink:href="../../../../images/icons/symbol-defs.svg#icon-missing" />
                            </svg>
                          </i>
                          <i
                            v-if="'review' === scope.row.creative"
                            :class="'is-' + [scope.row.creative] + ' creative-status__item'"
                          >
                            <svg
                              class="icon icon-review"
                            >
                              <use xlink:href="../../../../images/icons/symbol-defs.svg#icon-review" />
                            </svg>
                          </i>
                          <i
                            v-if="'rejected' === scope.row.creative"
                            :class="'is-' + [scope.row.creative] + ' creative-status__item'"
                          >
                            <svg
                              class="icon icon-rejected"
                            >
                              <use xlink:href="../../../../images/icons/symbol-defs.svg#icon-rejected" />
                            </svg>
                          </i>
                          {{ scope.row.creative }}
                        </div>
                      </template>
                    </el-table-column>
                    <el-table-column
                      label="Order Id"
                      sortable
                      align="right"
                      header-align="center"
                      prop="order"
                    />
                    <el-table-column
                      label="Start Date"
                      sortable
                      align="right"
                      header-align="center"
                      prop="start"
                    />
                    <el-table-column
                      label="End Date"
                      sortable
                      align="right"
                      header-align="center"
                      prop="end"
                    />
                    <el-table-column
                      label="Budget"
                      sortable
                      align="right"
                      header-align="center"
                      prop="budget"
                    />
                    <el-table-column
                      label="Impressions"
                      sortable
                      align="right"
                      width="200"
                      header-align="center"
                      class-name="campaigns__impressions-cell"
                      prop="impressions"
                    />
                    <el-table-column
                      label="Campaign Status"
                      prop="status"
                      width="170"
                    >
                      <template slot-scope="scope">
                        <span :class="'is-' + [scope.row.status] + ' campaign-status tile-badge'">
                          {{ scope.row.status }}
                        </span>
                      </template>
                    </el-table-column>
                  </el-table>
                </div>
                <div class="table__footer">
                  <el-pagination
                    :total="100"
                    prev-text="Previous"
                    next-text="Next"
                    background
                    layout="total, prev, pager, next"
                  />
                </div>
              </div>
            </el-card>
          </div>
        </el-tab-pane>
        <el-tab-pane
          label="Creatives"
          name="second"
        >
          <div class="creatives creatives--admin">
            <div
              id="creative-module"
              class="c-creative"
              :class="disabledByCampaign"
            >
              <video-cell
                v-if="selectable && selectedCreative"
                :video-data="selectedCreative"
                :is-selected="true"
                :selectable="selectable"
                @removed="submitModalVisible = true"
                @show-preview="showPreview"
              />
              <div
                v-if="selectable && !selectedCreative"
                class="c-creative__messages"
              >
                <message type="warning">
                  Warning message
                </message>
              </div>
              <div
                class="c-creative__body"
                :class="disabled"
              >
                <div
                  v-if="selectable"
                  class="c-creative__reminder"
                >
                  {{ $trans('creative::messages.review') }}
                  <a href="#">{{ $trans('creative::messages.learn_more') }}</a>
                </div>
                <div
                  id="creative-module"
                  class="c-creative"
                  :class="disabledByCampaign"
                >
                  <video-cell
                    v-if="selectable && selectedCreative"
                    :video-data="selectedCreative"
                    :is-selected="true"
                    :selectable="selectable"
                    @removed="submitModalVisible = true"
                    @show-preview="showPreview"
                  />
                  <div
                    v-if="selectable && !selectedCreative"
                    class="c-creative__messages"
                  >
                    <message type="warning">
                      Warning text
                    </message>
                  </div>
                  <div
                    class="c-creative__body"
                    :class="disabled"
                  >
                    <div
                      v-if="selectable"
                      class="c-creative__reminder"
                    >
                      {{ $trans('creative::messages.review') }}
                      <a href="#">{{ $trans('creative::messages.learn_more') }}</a>
                    </div>
                    <index
                      v-if="showTable || !selectable"
                      :additional-classes="additionalClasses"
                      :updated-after-init="updatedAfterInit"
                      :table-name="tableName"
                      :show-cards="!selectable"
                      :show-sub-title="showTableSubTitle"
                      :selectable="selectable"
                      :table-holder-class="tableHolderClass"
                      @show-preview="showPreview"
                      @selected="selected"
                      @loaded="handleLoaded"
                    />
                    <preview
                      ref="preview"
                      :video-data="previewCreative"
                      :visible="previewVisible"
                      @close="closePreview"
                      @deleted="onDeleted"
                    />
                    <modal
                      custom-class="video-popup"
                      width="488px"
                      :visible="submitModalVisible"
                      :title="$trans('creative::messages.replace_creative')"
                      :submit-label="$trans('actions.yes')"
                      :cancel-label="$trans('actions.no')"
                      :invert-buttons="true"
                      @close="submitModalVisible = false"
                      @cancel="submitModalVisible = false"
                      @submit="remove"
                    >
                      <p class="text-body-sm">
                        {{ $trans('creative::messages.replace_creative_question') }}
                      </p>
                    </modal>
                  </div>
                </div>
                <preview
                  ref="preview"
                  :video-data="previewCreative"
                  :visible="previewVisible"
                  @close="closePreview"
                  @deleted="onDeleted"
                />
                <modal
                  custom-class="video-popup"
                  width="488px"
                  :visible="submitModalVisible"
                  :title="$trans('creative::messages.replace_creative')"
                  :submit-label="$trans('actions.yes')"
                  :cancel-label="$trans('actions.no')"
                  :invert-buttons="true"
                  @close="submitModalVisible = false"
                  @cancel="submitModalVisible = false"
                  @submit="remove"
                >
                  <p class="text-body-sm">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa facere fugit laboriosam nulla ratione repellendus sit sunt tempore ut velit? Accusantium commodi consequatur consequuntur deleniti fugit, minima perferendis porro repellendus?
                  </p>
                </modal>
              </div>
            </div>
          </div>
        </el-tab-pane>
      </el-tabs>
    </div>
  </div>
</template>

<script>
  import TextField from '../../../foundation/components/form/TextField';
  import VideoCell from '../../../modules/creative/components/dataTable/cells/VideoCell';
  // import DataTable from '../../../foundation/components/dataTable/DataTable';
  import {Message} from '../../../foundation/components/notice';
  import Preview from '../../../modules/creative/components/modals/Preview';
  // import CreativesBanner from '../../../modules/creative/components/Banner/CreativesBanner';
  // import UploadDateSort from '../../../modules/creative/components/dataTable/sortDropdowns/UploadDateDropdown';
  // import StatusFilter from '../../../modules/creative/components/dataTable/filters/StatusFilter';
  // import DataTableColumn from '../../../foundation/components/dataTable/DataTableColumn';
  import Modal from '../../../foundation/components/layout/modal/Modal';
  import Index from '../../../modules/creative/components/dataTable/IndexCreatives';

  export default {

    name: 'TheCampaigns',
    components: {
      TextField,
      VideoCell,
      Preview,
      // DataTable,
      Index,
      // CreativesBanner,
      // StatusFilter,
      // DataTableColumn,
      // UploadDateSort,
      Modal,
      Message
    },
    data() {
      return {
        activeName: 'first',
        filters: [{
          value: 'Option1',
          label: 'Option1'
        }, {
          value: 'Option2',
          label: 'Option2'
        }, {
          value: 'Option3',
          label: 'Option3'
        }, {
          value: 'Option4',
          label: 'Option4'
        }, {
          value: 'Option5',
          label: 'Option5'
        }],
        value11: [],
        value12: [],
        value13: [],
        value14: [],
        options: [{
          value: '10',
          label: '10'
        }, {
          value: '20',
          label: '20'
        }, {
          value: '30',
          label: '30'
        }, {
          value: '40',
          label: '40'
        }, {
          value: '50',
          label: '50'
        }],
        value: '',
        tableData: [{
          name: 'Campaign name',
          creative: 'approved',
          order: '123124',
          start: '01/01/2019',
          end: '01/31/2019',
          budget: '$4.125',
          impressions: '33355',
          status: 'ready',
        }, {
          name: 'Campaign name',
          creative: 'missing',
          order: '123124',
          start: '01/01/2019',
          end: '01/31/2019',
          budget: '$4.125',
          impressions: '33355',
          status: 'paused',
        },
        {
          name: 'Campaign name',
          creative: 'rejected',
          order: '123124',
          start: '01/01/2019',
          end: '01/31/2019',
          budget: '$4.125',
          impressions: '33355',
          status: 'draft',
        },
        {
          name: 'Campaign name',
          creative: 'review',
          order: '123124',
          start: '01/01/2019',
          end: '01/31/2019',
          budget: '$4.125',
          impressions: '33355',
          status: 'complete',
        },
        {
          name: 'Campaign name',
          creative: 'approved',
          order: '123124',
          start: '01/01/2019',
          end: '01/31/2019',
          budget: '$4.125',
          impressions: '33355',
          status: 'live',
        }],
        form: {
          name: null,
          email: null,
          password: null,
          passwordConfirmation: null,
        },
      }
    }

  };
</script>

<style scoped>

</style>
