<template>
  <div class="forgot-password">
    <div class="forgot-password__holder">
      <div
        v-show="emailForm"
        class="forgot-password__email"
      >
        <h3>Forgot your password?</h3>
        <el-form>
          <email-field
            v-model="form.email"
            name="email"
            size="medium"
            :label="'Email'"
            placeholder="Enter your email..."
          />
          <el-button
            type="default"
            class="forgot-password__submit"
            @click="requestText = true, emailForm = false"
          >
            Submit
          </el-button>
        </el-form>
      </div>
      <div
        v-show="requestText"
        class="forgot-password__request text-body-sm"
      >
        <h3>Password changed requested!</h3>
        <p class="text-body-sm">
          If there is an account associated with submitted email, you’ll receive an email with a link to create a new password.
        </p>
        <p class="text-body-sm">
          If you don’t see this email in your inbox within 15 minutes, look for it in your junk mail folder. If you find it there, please mark the email as Not Junk and add @hulu.com to your address book.
        </p>
        <el-button
          type="default"
          class="forgot-password__submit"
          @click="passwordForm = true, requestText = false"
        >
          Done
        </el-button>
      </div>
      <div
        v-show="passwordForm"
        class="forgot-password__email"
      >
        <h3>What’s your password?</h3>
        <el-form>
          <password-field
            v-model="form.password"
            size="medium"
            name="password"
            :label="'Password'"
            placeholder="Enter your password..."
          >
            <el-button
              slot="suffix"
              type="text"
              class="icon-btn"
            >
              <svg
                class="icon icon-adsd"
              >
                <use xlink:href="../../../../images/icons/symbol-defs.svg#icon-adsd" />
              </svg>
            </el-button>
          </password-field>
          <password-field
            v-model="form.password"
            size="medium"
            name="password"
            :label="'Confirm Password'"
            placeholder="Enter your password..."
          >
            <el-button
              slot="suffix"
              type="text"
              class="icon-btn"
            >
              <svg
                class="icon icon-adsd"
              >
                <use xlink:href="../../../../images/icons/symbol-defs.svg#icon-adsd" />
              </svg>
            </el-button>
          </password-field>
          <div class="form-rules">
            <ul
              v-show="rulesForm"
              class="form-rules__list"
            >
              <li class="form-rules__item">
                <span>One lowercase character</span>
              </li>
              <li class="form-rules__item is-correct">
                <span>One uppercase character</span>
              </li>
              <li class="form-rules__item">
                <span>One number</span>
              </li>
              <li class="form-rules__item is-correct">
                <span>One special character</span>
              </li>
              <li class="form-rules__item">
                <span>8 minimum characters</span>
              </li>
            </ul>
            <div
              v-show="rulesFormDone"
              class="form-rules__done"
            >
              <i class="form-rules__done-icon" />
              <p class="form-rules__done-descr text-body-sm">
                You’re all set! Your password is secure.
              </p>
            </div>
          </div>
          <el-button
            type="default"
            class="forgot-password__submit"
            @click="rulesFormDone = true, rulesForm = false"
          >
            Submit
          </el-button>
        </el-form>
      </div>
    </div>
  </div>
</template>

<script>
  import { PasswordField, EmailField } from '../../../foundation/components/form'
  export default {

    name: 'ThePageTwo',

    components: {
      EmailField,
      PasswordField
    },

    data () {
      return {
        emailForm: true,
        passwordForm: false,
        requestText: false,
        rulesForm: true,
        rulesFormDone: false,
        form: {
          name: null,
          email: null,
          phone: null,
          companyName: null,
          password: null,
          passwordConfirmation: null,
        },
      };

    },
  };
</script>

<style scoped>

</style>
