<template>
  <data-table-banner :title="title || defaultTitle">
    <!-- ICON -->
    <img
      slot="icon"
      src="/images/content/Volume.png"
      alt="Speaker"
      height="64"
    >

    <create-campaign-button slot="button" />
  </data-table-banner>
</template>

<script>
  import CreateCampaignButton from '../../common/buttons/CreateCampaignButton';
  import DataTableBanner from 'Foundation/components/dataTable/DataTableBanner';

  export default {
    /**
     * Component name
     */
    name: 'CampaignsBanner',

    /**
     * Child components.
     */
    components: {
      CreateCampaignButton,
      DataTableBanner,
    },

    /**
     * Extend the component.
     */
    extends: DataTableBanner,

    /**
     * Computed properties.
     */
    computed: {
      /**
       * Default title.
       *
       * @returns {*}
       */
      defaultTitle () {
        return this.$trans('campaign::messages.create_first_campaign');
      },
    },
  };
</script>
