<template>
  <el-button
    slot="button"
    type="row"
    class="full-width"
    :class="createButtonClass"
    @click="$pushRoute({ name: 'reports.create' })"
  >
    {{ $trans('report::labels.create_new_report') }}
  </el-button>
</template>

<script>
export default {
  /**
   * Component name
   */
  name: 'CreateReport',

  /**
   * Data attributes
   */
  data () {
    return {
      createButtonClass: null
    };
  },

  /**
   * Watch
   */
  watch: {
    /**
     * Watch change route
     */
    '$route' (to) {
      this.createButtonClass = to.name === 'reports.create' ? 'active' : null;
    }
  },

  /**
   * Mounted
   */
  mounted() {
    if (this.$router.currentRoute.name === 'reports.create') {
      this.createButtonClass = 'active';
    }
  },
}
</script>
