@import "mixins/mixins";
@import "common/variables";

@include b(alert) {
  --alert-success-color: #{$--alert-success-color};
  --alert-info-color: var(--color-text-disabled2);
  --alert-warning-color: #{$--alert-warning-color};
  --alert-danger-color: #{$--alert-danger-color};

  width: 100%;
  padding: $--alert-padding;
  margin: 0;
  box-sizing: border-box;
  border-radius: $--alert-border-radius;
  position: relative;
  background-color: var(--bg-base);
  overflow: hidden;
  opacity: 1;
  display: flex;
  align-items: center;
  transition: opacity .2s;

  @include when(light) {
    .el-alert__closebtn {
      color: var(--color-text-placeholder);
    }
  }

  @include when(dark) {
    .el-alert__closebtn {
      color: var(--color-text-high-inverted);
    }
    .el-alert__description {
      color: var(--color-text-high-inverted);
    }
  }

  @include when(center) {
    justify-content: center;
  }

  @include m(success) {
    &.is-light {
      background-color: var(--alert-success-color);
      color: var(--color-success);

      .el-alert__description {
        color: var(--color-success);
      }
    }

    &.is-dark {
      background-color: var(--color-success);
      color: var(--color-text-high-inverted);
    }
  }

  @include m(info) {
    &.is-light {
      background-color: var(--alert-info-color);
      color: var(--color-text-sm-low);
    }

    &.is-dark {
      background-color: var(--bg-offset60);
      color: var(--color-text-high-inverted);
    }

    .el-alert__description {
      color: var(--color-text-sm-low);
    }
  }

  @include m(warning) {
    &.is-light {
      background-color: var(--alert-warning-color);
      color: var(--color-warning);

      .el-alert__description {
        color: var(--color-warning);
      }
    }

    &.is-dark {
      background-color: var(--color-warning);
      color: var(--fg-offset100);
    }
  }

  @include m(error) {
    &.is-light {
      background-color: var(--alert-danger-color);
      color: var(--color-danger);

      .el-alert__description {
        color: var(--color-danger);
      }
    }

    &.is-dark {
      background-color: var(--color-danger);
      color: var(--fg-offset100);
    }
  }

  @include e(content) {
    display: table-cell;
    padding: 0 8px;
  }

  @include e(icon) {
    @extend .text-size-sm;
    width: $--alert-icon-size;
    @include when(big) {
      @extend .text-size-md;
      width: $--alert-icon-large-size;
    }
  }

  @include e(title) {
    @extend .text-size-xs;
    @include when(bold) {
      font-weight: bold;//HULU-3032, fonts, ???
    }
  }

  & .el-alert__description {
    @extend .text-size-xxs;
    margin: 5px 0 0 0;
  }

  @include e(closebtn) {
    @extend .text-size-xxs;
    opacity: 1;
    position: absolute;
    top: 12px;
    right: 15px;
    cursor: pointer;

    @include when(customed) {
      @extend .text-size-xxs;
      font-style: normal;
      top: 9px;
    }
  }
}

.el-alert-fade-enter,
.el-alert-fade-leave-active {
  opacity: 0;
}
