@import "mixins/mixins";
@import "mixins/utils";
@import "common/variables";
@import "./input.scss";
@import "./scrollbar.scss";
@import "./popper";

@include b(autocomplete) {
  position: relative;
  display: inline-block;
  width: 100%;
}

@include b(autocomplete-suggestion) {
  margin: 5px 0;
  box-shadow: var(--dropdown-menu-box-shadow);
  border-radius: $--border-radius-base;
  border: 0;
  box-sizing: border-box;
  background-color: var(--bg-base);

  @include e(wrap) {
    max-height: 280px;
    padding: 10px 0;
    box-sizing: border-box;
  }

  @include e(list) {
    margin: 0;
    padding: 0;
  }

  & li {
    @extend .text-body-sm;
    padding: 0 20px;
    margin: 0;
    line-height: 34px;
    cursor: pointer;
    color: var(--color-text-high);
    list-style: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &:hover {
      background-color: var(--select-option-hover-background);
    }

    &.highlighted {
      background-color: var(--select-option-hover-background);
    }

    &.divider {
      margin-top: 6px;
      border-top: 1px solid var(--color-text-high);
    }

    &.divider:last-child {
      margin-bottom: -6px;
    }
  }

  @include when(loading) {
    li {
      @extend .text-body-sm;
      text-align: center;
      height: 100px;
      color: var(--fg-offset85);
      @include utils-vertical-center;

      &:hover {
        background-color: var(--bg-base);
      }
    }

    & .el-icon-loading {
      vertical-align: middle;
    }
  }
}
