@charset "UTF-8";
@import "common/variables";
@import "mixins/button";
@import "mixins/mixins";
@import "mixins/utils";

@function getColor($colorBase) {
  @return hsl($colorBase) var(--base-sat) calc(var(--base-lit-bg) - var(--addoffset) + var(--multiplier) * 3);
}

.el-button,
.promocode {
  /* Buttons
  -------------------------- */

  /*
   * Buttons font weight
   */
  --button-font-weight: var(--ham-text-weight-medium);

  /*
   * Buttons offset
   */
  --button-disabled-font-color: var(--color-text-disabled1);
  --button-disabled-background-color: var(var(--color-text-disabled1));
  --button-disabled-border-color: var(--bg-offset30);

  /*
   * Default (filled)
   */
  --button-default-font-color: var(--color-text-high-inverted);

  --button-default-hover-color: var(--color-text-high-inverted);
  --button-default-hover-border-color: transparent;
  --button-default-hover-background-color: #{getDarkHSLA(.8)};

  --button-default-disabled-color: getLightHSLA(.5);
  --button-default-disabled-border-color: transparent;
  --button-default-disabled-background-color: #{getDarkHSLA(.5)};

  /*
   * Primary (bordered)
   */
  --button-primary-font-color: var(--color-text-med);
  --button-primary-border-color: var(--color-text-med);
  --button-primary-background-color: var(--color-text-high-inverted);

  --button-primary-hover-color: var(--color-text-med);
  --button-primary-hover-border-color: #{getDarkHSLA(.8)};
  --button-primary-hover-background-color: var(--color-text-high-inverted);

  --button-primary-disabled-color: #{getDarkHSLA(.8)};
  --button-primary-disabled-border-color: var(--color-text-high-inverted);
  --button-primary-disabled-background-color: var(--color-text-high-inverted);

  /*
   * Text (no border or background)
   */
  --button-text-font-color: var(--color-text-med);
  --button-text-border-color: transparent;
  --button-text-background-color: transparent;

  //--button-text-hover-color: rgba(var(--color-black-RGB), var(--button-normal-aplpha));
  --button-text-hover-color: #{getDarkHSLA(.8)};
  --button-text-hover-border-color: transparent;
  --button-text-hover-background-color: transparent;

  --button-text-disabled-color: var(--color-text-disabled1);
  --button-text-disabled-border-color: transparent;
  --button-text-disabled-background-color: transparent;
}

@include b(button) {
  @extend .text-label-xs;
  display: inline-block;
  white-space: nowrap;
  cursor: pointer;
  background: var(--fg-offset50);
  border: $--button-border-width solid var(--fg-offset50);
  color: var(--color-text-high-inverted);
  -webkit-appearance: none;
  text-align: center;
  box-sizing: border-box;
  outline: none;
  margin: 0;
  transition: .1s;
  padding: $--button-padding-vertical $--button-padding-horizontal;
  border-radius: $--button-border-radius;
  font-family: 'Graphik', Arial, sans-serif;
  height: $--button-large-height;
  @include utils-user-select(none);

  span {
    @extend .text-label-xs;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  & + & {
    margin-left: 12px;
  }

  &.is-round {
    padding: $--button-padding-vertical $--button-padding-horizontal;
  }

  &.has-icon {
    position: relative;
    padding-left: $--button-padding-horizontal-medium + 22px;

    svg {
      position: absolute;
      top: 12px;
      left: $--button-padding-horizontal-medium;
      margin-right: 8px;
      width: 18px;
      height: 22px;
      stroke: currentColor;
    }
  }

  &.full-width {
    width: 100%;
    max-width: 100%;
    flex: 0 0 100%;
  }

  &.fixed-width {
    min-width: 212px;
  }

  &.finish-button {
    padding: 19px 30px;
  }

  &:hover,
  &:focus {//TODO: focus added temporary
    background: var(--fg-offset60);
    border-color: var(--fg-offset60);
    outline: none;
  }

  &:active {
    background: var(--fg-offset70);
    border-color: var(--fg-offset70);
    outline: none;
  }

  &:focus {
    //box-shadow: 0 0 0 2px var(--bg-base), 0 0 0 5px var(--fgcolor-blue);//TODO: temporary hidden

    &:active,
    &:hover {
      box-shadow: none;
    }
  }

  &::-moz-focus-inner {
    border: 0;
  }

  & [class*="el-icon-"] {
    & + span {
      margin-left: 5px;
    }
  }

  //TODO. Check if we use .is-plain
  //@include when(plain) {
  //  &:hover,
  //  &:focus {
  //    background: var(--bg-base);
  //    border-color: var(--color-text-high);
  //    color: var(--color-text-high);
  //  }
  //
  //  &:active {
  //    background: var(--bg-base);
  //    border-color: mix($--color-black, $--color-primary, $--button-active-shade-percent);
  //    color: mix($--color-black, $--color-primary, $--button-active-shade-percent);
  //    outline: none;
  //  }
  //}

  @include when(disabled) {
    &,
    &:hover,
    &:focus {
      cursor: not-allowed;
      background: var(--color-text-disabled2);
      border-color: var(--color-text-disabled2);
      color: var(--gray100);

      &.loading {
        cursor: wait;
      }
    }

    &.el-button--text {
      background-color: transparent;
    }

    &.is-plain {
      &,
      &:hover,
      &:focus {
        background-color: var(--bg-base);
        border-color: var(--button-disabled-border-color);
        color: var(--button-disabled-font-color);
      }
    }
  }

  @include when(loading) {
    position: relative;
    pointer-events: none;

    &:before {
      pointer-events: none;
      content: '';
      position: absolute;
      left: -1px;
      top: -1px;
      right: -1px;
      bottom: -1px;
      border-radius: inherit;
      background-color: getLightHSLA(.35);
    }
  }

  @include when(round) {
    border-radius: 20px;
    padding: 12px 23px;
  }

  @include when(circle) {
    border-radius: 50%;
    padding: $--button-padding-vertical;
  }

  /* It Will be updated after the design for states is completed
  --------------------------------------------------------------*/
  &--default {
    background-color: var(--fg-base);
    border-color: var(--fg-base);

    &:hover,
    &:focus { //TODO: focus added temporary
      background-color: var(--fg-offset20);
      border-color: var(--fg-offset20);
    }

    &:active {
      background-color: var(--fg-offset30);
      border-color: var(--fg-offset30);
    }
  }

  &--primary {
    background: none;
    color: var(--color-text-med);
    border-color: var(--fg-base);

    &:hover,
    &:focus { //TODO: focus added temporary
      background: none;
      border-color: var(--fg-offset40);
    }

    &.is-disabled {
      &,
      &:hover,
      &:focus,
      &:active {
        background: none;
        color: var(--color-text-disabled2);
        border-color: var(--color-text-disabled2);
      }
    }

    &.has-icon {
      &:focus {
        color: var(--button-default-hover-color);
        border-color: var(--button-default-hover-border-color);
        background-color: var(--button-default-hover-background-color);
      }
    }
  }

  &--success {
    --base-hue: var(--hue-success);
    --base-sat: var(--sat-high);

    color: var(--gray3);

    &.is-disabled {
      &,
      &:hover,
      &:focus {
        color: var(--color-text-med);
      }
    }
  }

  &--danger {
    --base-hue: var(--hue-danger);
    --base-sat: var(--sat-high);
    color: var(--gray100);

    &.is-disabled {
      &,
      &:hover,
      &:focus,
      &:active {
        color: var(--gray97);
      }
    }
  }

  &--warning {
    --base-hue: var(--hue-warning);
    --base-sat: var(--sat-high);

    color: var(--gray0);

    &.is-disabled {
      &,
      &:hover,
      &:focus,
      &:active {
        color: var(--gray0);
      }
    }
  }

  &--info {
    --base-hue: var(--hue-info);
    --base-sat: var(--sat-high);

    color: var(--gray100);

    &.is-disabled {
      &,
      &:hover,
      &:focus,
      &:active {
        color: var(--gray97);
      }
    }
  }

  &--text {
    &:hover,
    &:focus { //TODO: focus added temporary
      color: var(--fg-offset40);
    }

    &.is-disabled {
      &,
      &:hover,
      &:focus,
      &:active {
        color: var(--color-text-disabled2);
      }
    }

    &.has-icon {
      &:focus {
        color: var(--button-default-hover-color);
        border-color: var(--button-default-hover-border-color);
        background-color: var(--button-default-hover-background-color);
      }
    }
  }

  &--row {
    background-color: var(--bg-base);
    border-color: var(--bg-base);
    text-align: left;

    &:hover,
    &:focus {
      background-color: var(--table-row-hover-background-color);
      border-color: var(--table-row-hover-background-color);
    }

    &:focus {
      box-shadow: inset 0 0 0 2px var(--fgcolor-blue);
    }

    &:active,
    &.active {
      --base-hue: var(--hue-info);
      --base-sat: var(--sat-high);
      background-color: var(--bg-offset5);
      border-color: var(--bg-offset5);

      &:focus {
        box-shadow: none;
        background-color: var(--table-row-hover-focus-background-color);
        border-color: var(--table-row-hover-focus-background-color);
      }
    }

    span {
      color: var(--fgcolor-blue);
      justify-content: flex-start;
    }

  }

  &.button--ui-icon {
    padding: 0 7px;
  }

  //TODO: Rename 'gray' button modifier later
  // TODO: Check usage if type is obsolete?
  &--gray {
    --base-hue: var(--hue-gray);

    background: var(--bg-offset15);
    border-color: var(--bg-offset15);
    color: var(--color-text-high);

    &:hover {
      background: var(--bg-offset10);
      border-color: var(--bg-offset10);
    }

    &:active {
      background: var(--bg-offset5);
      border-color: var(--bg-offset5);
    }

    &.is-disabled {
      &,
      &:hover,
      &:focus,
      &:active {
        color: var(--gray0);
      }
    }
  }
  /* It Will be updated after the design for states is completed
  --------------------------------------------------------------*/

  @include m(medium) {
    @extend .text-size-xs;
    height: $--button-medium-height;
    padding: $--button-medium-padding-vertical $--button-medium-padding-horizontal;
    border-radius: $--button-border-radius;

    &.is-round {
      padding: $--button-medium-padding-vertical $--button-medium-padding-horizontal;
    }

    @include when(circle) {
      padding: $--button-medium-padding-vertical;
    }

    &.has-icon {
      padding-left: $--button-padding-horizontal-medium + 22px;

      svg {
        top: 8px;
        left: $--button-padding-horizontal-medium;
      }
    }
  }

  @include m(small) {
    @extend .text-size-xxs;
    height: $--button-small-height;
    padding: $--button-small-padding-vertical $--button-small-padding-horizontal;
    border-radius: $--button-small-border-radius;

    &.is-round {
      padding: $--button-small-padding-vertical $--button-small-padding-horizontal;
    }

    @include when(circle) {
      padding: $--button-small-padding-vertical;
    }

    &.has-icon {
      padding-left: $--button-padding-horizontal-small + 22px;

      svg {
        top: 4px;
        left: $--button-padding-horizontal-small;
      }
    }

    &.fixed-width {
      min-width: 189px;
    }
  }

  @include m(mini) {
    @extend .text-size-xxs;
    padding: var(--button-mini-padding-vertical) var(--button-mini-padding-horizontal);
    border-radius: var(--button-mini-border-radius);

    @include when(circle) {
      padding: $--button-small-padding-horizontal;
    }
  }

  @include m(text) {
    color: var(--color-text-med);
    padding-left: 0;
    padding-right: 0;
    background-color: var(--bg-base);
    border-color: var(--bg-base);

    &.is-link {
      @extend .text-size-sm;
      padding-left: 0;

      &,
      &:hover,
      &:focus,
      &:active {
        color: var(--fgcolor-blue);
      }
    }

    &:hover,
    &:focus,
    &:active {
      border-color: var(--button-text-hover-border-color);
      background-color: var(--button-text-hover-background-color);
    }

    &.is-disabled {
      &,
      &:hover,
      &:focus,
      &:active {
        color: var(--button-text-disabled-color);
        border-color: var(--button-text-hover-border-color);
      }
    }
  }

  .el-loading-mask {
    top: -1px;
    right: -1px;
    bottom: -1px;
    left: -1px;
  }
}

@include b(button-group) {
  @include utils-clearfix;
  display: inline-block;
  vertical-align: middle;

  & > .el-button {
    float: left;
    position: relative;

    & + .el-button {
      margin-left: 0;
    }

    &.is-disabled {
      z-index: 1;
    }

    &:first-child {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    &:last-child {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }

    &:first-child:last-child {
      border-top-right-radius: $--button-border-radius;
      border-bottom-right-radius: $--button-border-radius;
      border-top-left-radius: $--button-border-radius;
      border-bottom-left-radius: $--button-border-radius;

      &.is-round {
        border-radius: 20px;
      }

      &.is-circle {
        border-radius: 50%;
      }
    }

    &:not(:first-child):not(:last-child) {
      border-radius: 0;
    }

    &:not(:last-child) {
      margin-right: -1px;
    }

    &:hover,
    &:focus,
    &:active {
      z-index: 1;
    }

    @include when(active) {
      z-index: 1;
    }
  }

  & > .el-dropdown {
    & > .el-button {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      //border-left-color: rgba(var(--color-white-RGB), .5);
      border-left-color: getLightHSLA(.5);
    }
  }

  @each $type in (primary, success, warning, danger, info) {
    .el-button--#{$type} {
      &:first-child {
        //border-right-color: rgba(var(--color-white-RGB), .5);
        border-right-color: getLightHSLA(.5);
      }

      &:last-child {
        //border-left-color: rgba(var(--color-white-RGB), .5);
        border-left-color: getLightHSLA(.5);
      }

      &:not(:first-child):not(:last-child) {
        //border-left-color: rgba(var(--color-white-RGB), .5);
        border-left-color: getLightHSLA(.5);
        //border-right-color: rgba(var(--color-white-RGB), .5);
        border-right-color: getLightHSLA(.5);
      }
    }
  }
}

/* Custom styles
--------------------------*/
.button-empty-icon {
  padding: 0;
  border: 0;
  background: none;
  outline: none;
  height: auto;

  span {
    pointer-events: none;

    svg {
      margin-right: 0;
    }
  }

  &:hover,
  &:focus {
    background: none;
  }

  &.is-circle {
    padding: 10px 11px;
    background: var(--bg-offset5);

    .icon {
      width: 18px;
      height: 18px;
    }

    &:hover {
      background: var(--border-color-gray);
    }
  }

  &.is-disabled {
    background: none;

    &:hover,
    &:focus {
      background: none;
    }

    svg {
      fill: var(--color-text-disabled1);
    }
  }
}

.button-profile {
  padding: 0;
  margin: 0;
  border: none;
  background: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  &__avatar {
    @extend .text-label-sm-semibold-caps;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
    width: 32px;
    height: 32px;
    background-color: var(--fg-base);
    border-radius: 100%;
    color: var(--color-text-high-inverted);
    text-align: center;
  }

  &__name {
    @extend .text-label-xs-semibold-caps;
    transition: $--all-transition;
    color: var(--color-text-high);
    max-width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

  }

  &:hover,
  &:focus {
    .button-profile__name {
      text-decoration: underline;
    }

    background: var(--bg-base);
    outline: none;
  }
}

.buttons-in-row {
  display: flex;
  flex-flow: row wrap;
  padding-top: 32px;

  .el-button {
    width: 100%;
    margin-bottom: 14px;

    & + .el-button {
      margin-left: 0;
    }
  }
}

.button-square {
  @extend .text-label-xxs;
  padding: 15px 10px;
  width: 120px;
  height: 120px;
  color: var(--color-text-high);
  border-color: var(--bg-offset100);
  background: var(--bg-base);

  &:hover,
  &:focus,
  &:active {
    border-color: var(--border-color-base);
    background: var(--bg-base);
  }

  & > span {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-end;
    justify-content: center;
    text-align: center;
    height: 100%;
  }

  &__icon {
    display: flex;

    .icon-plus-circle {
      width: 48px;
      height: 48px;
      margin-bottom: 15px;
      fill: var(--fg-offset40);
    }
  }

  &__inner {
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }

  &--action {
    border-color: var(--border-color-base);
    background: var(--border-color-base);

    &:hover,
    &:focus,
    &:active {
      background: var(--border-color-base);
      border-color: var(--bg-offset100);
    }
  }
}

.button-rounded {
  border-radius: $--button-border-radius-custom;
  padding-top: 0;
  padding-bottom: 0;
  line-height: 36px;

  &.el-button {
    svg {
      stroke: currentColor;
    }
  }

  i,
  svg {
    @extend .text-size-sm;
    margin-right: 5px;
    vertical-align: middle;
  }
}

.profile-status {
  &.budget-code {
    @extend .text-label-xxxs-semibold-caps;
    color: var(--gray3);
    display: block;
    padding: 10px 0;
    text-align: center;
    margin: 0;

    &,
    &:hover,
    &:active,
    &:focus {
      background: transparent;
    }

    .status-info p {
      --base-hue: var(--hue-gray);
      --base-sat: var(--sat-low);
    }
  }
}

a.el-button {
  display: inline-flex;
  align-items: center;

  &:hover {
    text-decoration: none;
  }

  svg {
    stroke: currentColor;
    margin: -2px 12px 0 0;
  }
}

.remove-filters {
  @extend .text-label-xxs;

  span {
    font-size: inherit;
  }
}

.actions-wrapper {
  .el-button {
    & + .el-button {
      margin-left: 16px;
    }
  }
}

// This wrapper is needed to fix tooltip popups over disabled buttons
.disabled-button-wrapper {
  display: inline-block;
}
