@import "mixins/mixins";
@import "common/variables";

@include b(card) {
  --card-border-color: var(--fg-offset90);

  border-radius: $--card-border-radius;
  border: 1px solid var(--card-border-color);
  background-color: var(--bg-base);
  overflow: hidden;
  color: var(--color-text-med);
  transition: .3s;

  .page-reports & {
    border-radius: $--card-border-radius*2;
  }

  @include when(always-shadow) {
    box-shadow: var(--box-shadow-base);
  }

  @include when(hover-shadow) {
    &:hover,
    &:focus {
      box-shadow: var(--box-shadow-base);
    }
  }

  @include e(header) {
    @extend .text-size-md;
    padding: 30px 32px;
    border-bottom: 1px solid var(--card-border-color);
    box-sizing: border-box;
  }

  @include e(body) {
    padding: $--card-padding;

    .padding-xs & {
        padding: $--card-padding-xs;
      }
  }


  .table {
    &__actions {
      input {
        line-height: 20px;
      }
    }
  }
}
