@import "common/variables";
@import "mixins/mixins";
@import "mixins/_button";
@import "mixins/utils";

@include b(checkbox) {
  --checkbox-font-color: var(--color-text-med);
  --checkbox-input-background-color: var(--color-text-high-inverted);
  --checkbox-input-border: 1px solid var(--color-text-sm-low);
  --checkbox-input-border-color: var(--color-text-sm-low);
  --checkbox-icon-color: var(--color-text-high-inverted);

  --checkbox-disabled-checked-input-fill: var(--color-text-disabled2);
  --checkbox-disabled-checked-input-border-color: var(--color-text-disabled2);
  --checkbox-disabled-checked-icon-color: var(--color-text-sm-low);

  --checkbox-disabled-input-border-color: var(--color-text-disabled2);
  --checkbox-disabled-input-fill: var(--checkbox-disabled-checked-input-fill);
  --checkbox-disabled-icon-color: var(--color-text-sm-low);

  --checkbox-checked-font-color: var(--color-text-med);
  --checkbox-checked-input-border-color: var(--color-text-med);
  --checkbox-checked-input-background-color: var(--color-text-med);
  --checkbox-checked-icon-color: var(--color-text-high-inverted);

  --checkbox-input-border-color-hover: var(--fg-base);

  --checkbox-button-checked-background-color: var(--fg-base);
  --checkbox-button-checked-font-color: var(--color-text-high-inverted);
  --checkbox-button-checked-border-color: var(--fg-base);
  --checkbox-background-color: var(--bg-base);
  --checkbox-disabled-border-color: var(--color-text-disabled2);
  --checkbox-checked-background-color: var(--color-text-med);

  @extend .text-label-sm;
  color: var(--checkbox-font-color);
  position: relative;
  cursor: pointer;
  display: inline-block;
  white-space: nowrap;
  user-select: none;
  margin-right: 30px;

  @include when(bordered) {
    padding: $--checkbox-bordered-padding;
    border-radius: $--border-radius-base;
    border: var(--border-base);
    box-sizing: border-box;
    line-height: normal;
    height: $--checkbox-bordered-height;

    &.is-checked {
      border-color: var(--color-text-high);
    }

    &.is-disabled {
      border-color: var(--border-color-base);
      cursor: not-allowed;
    }

    & + .el-checkbox.is-bordered {
      margin-left: 10px;
    }

    &.el-checkbox--medium {
      padding: $--checkbox-bordered-medium-padding;
      border-radius: var(--button-medium-border-radius);
      height: $--checkbox-bordered-medium-height;

      .el-checkbox__label {
        @extend .text-body-xs;
      }

      .el-checkbox__inner {
        height: $--checkbox-bordered-medium-input-height;
        width: $--checkbox-bordered-medium-input-width;
      }
    }

    &.el-checkbox--small {
      padding: $--checkbox-bordered-small-padding;
      border-radius: $--button-small-border-radius;
      height: $--checkbox-bordered-small-height;

      .el-checkbox__label {
        @extend .text-body-xxs;
      }

      .el-checkbox__inner {
        height: $--checkbox-bordered-small-input-height;
        width: $--checkbox-bordered-small-input-width;

        &::after {
          height: 6px;
          width: 2px;
        }
      }
    }

    &.el-checkbox--mini {
      padding: $--checkbox-bordered-mini-padding;
      border-radius: var(--button-mini-border-radius);
      height: $--checkbox-bordered-mini-height;

      .el-checkbox__label {
        @extend .text-size-xxs;
      }

      .el-checkbox__inner {
        height: $--checkbox-bordered-mini-input-height;
        width: $--checkbox-bordered-mini-input-width;
        &::after {
          height: 6px;
          width: 2px;
        }
      }
    }
  }

  @include e(input) {
    white-space: nowrap;
    cursor: pointer;
    outline: none;
    display: inline-block;
    line-height: 1;
    position: relative;
    vertical-align: middle;

    @include when(disabled) {
      .el-checkbox__inner {
        background-color: var(--checkbox-disabled-input-fill);
        border-color: var(--checkbox-disabled-border-color);
        cursor: not-allowed;

        &::after {
          cursor: not-allowed;
          border-color: var(--checkbox-disabled-icon-color);
        }

        & + .el-checkbox__label {
          cursor: not-allowed;
        }
      }

      &.is-checked {
        .el-checkbox__inner {
          background-color: var(--checkbox-disabled-checked-input-fill);
          border-color: var(--checkbox-disabled-checked-input-border-color);

          &::after {
            border-color: var(--checkbox-disabled-checked-icon-color);
          }
        }
      }

      &.is-indeterminate {
        .el-checkbox__inner {
          background-color: var(--checkbox-disabled-checked-input-fill);
          border-color: var(--checkbox-disabled-checked-input-border-color);

          &::before {
            background-color: var(--checkbox-disabled-checked-icon-color);
            border-color: var(--checkbox-disabled-checked-icon-color);
          }
        }
      }

      & + span.el-checkbox__label {
        color: var(--disabled-color-base);
        cursor: not-allowed;
      }
    }

    @include when(checked) {
      .el-checkbox__inner {
        background-color: var(--checkbox-checked-background-color);
        border-color: var(--checkbox-checked-input-border-color);

        &::after {
          transform: rotate(45deg) scaleY(1);
        }
      }

      & + .el-checkbox__label {
        color: var(--checkbox-checked-font-color);
      }
    }
    @include when(focus) {
      .el-checkbox__inner {
        border-color: var(--checkbox-input-border-color-hover);
      }
    }
    @include when(indeterminate) {
      .el-checkbox__inner {
        background-color: var(--checkbox-checked-background-color);
        border-color: var(--checkbox-checked-input-border-color);

        &::before {
          content: '';
          position: absolute;
          display: block;
          background-color: var(--checkbox-checked-icon-color);
          height: 2px;
          transform: scale(.5);
          left: 0;
          right: 0;
          top: 5px;
        }

        &::after {
          display: none;
        }
      }
    }
  }
  @include e(inner) {
    display: inline-block;
    position: relative;
    border: var(--checkbox-input-border);
    border-radius: $--border-radius-small;
    box-sizing: border-box;
    width: $--checkbox-input-width;
    height: $--checkbox-input-height;
    background-color: var(--checkbox-background-color);
    z-index: $--index-normal;
    transition: border-color .25s cubic-bezier(.71,-.46,.29,1.46),
    background-color .25s cubic-bezier(.71,-.46,.29,1.46);

    &:hover {
      border-color: var(--checkbox-input-border-color-hover);
    }

    &::after {
      box-sizing: content-box;
      content: "";
      border: 3px solid var(--checkbox-checked-icon-color);
      border-left: 0;
      border-top: 0;
      position: absolute;
      transform: rotate(45deg) scaleY(0);
      transition: transform .15s ease-in .05s;
      transform-origin: center;
      height: 9px;
      left: 8px;
      top: 4px;
      width: 4px;
    }
  }

  @include e(original) {
    opacity: 0;
    outline: none;
    position: absolute;
    margin: 0;
    width: 0;
    height: 0;
    z-index: -1;
  }

  @include e(label) {
    @extend .text-body-sm;
    display: inline-block;
    padding-left: 10px;
  }

  &:last-of-type {
    margin-right: 0;
  }
}

@include b(checkbox-button) {
  position: relative;
  display: inline-block;

  @include e(inner) {
    @extend .text-size-xs;
    display: inline-block;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    background: var(--fg-base);
    border: var(--border-base);
    border-left: 0;
    color: var(--button-default-font-color);
    -webkit-appearance: none;
    text-align: center;
    box-sizing: border-box;
    outline: none;
    margin: 0;
    position: relative;
    transition: $--all-transition;
    @include utils-user-select(none);

    padding: $--button-padding-vertical $--button-padding-horizontal;
    border-radius: 0;

    &.is-round {
      padding: $--button-padding-vertical $--button-padding-horizontal;
    }

    &:hover {
      color: var(--color-text-high);
    }

    & [class*="el-icon-"] {
      line-height: .9;

      & + span {
        margin-left: 5px;
      }
    }
  }

  @include e(original) {
    opacity: 0;
    outline: none;
    position: absolute;
    margin: 0;
    z-index: -1;
  }

  &.is-checked {
    & .el-checkbox-button__inner {
      color: var(--checkbox-button-checked-font-color);
      background-color: var(--checkbox-button-checked-background-color);
      border-color: var(--checkbox-button-checked-border-color);
      box-shadow: -1px 0 0 0 var(--fg-offset40);
    }
    &:first-child .el-checkbox-button__inner {
      border-left-color: var(--checkbox-button-checked-border-color);
    }
  }

  &.is-disabled {
    & .el-checkbox-button__inner {
      color: var(--button-disabled-font-color);
      cursor: not-allowed;
      background-image: none;
      background-color: var(--button-disabled-background-color);
      border-color: var(--button-disabled-border-color);
      box-shadow: none;
    }
    &:first-child .el-checkbox-button__inner {
      border-left-color: var(--button-disabled-border-color);
    }
  }

  &:first-child {
    .el-checkbox-button__inner {
      border-left: var(--border-base);
      border-radius: $--border-radius-base 0 0 $--border-radius-base;
      box-shadow: none !important;
    }
  }

  &.is-focus {
    & .el-checkbox-button__inner {
      border-color: var(--checkbox-button-checked-border-color);
    }
  }

  &:last-child {
    .el-checkbox-button__inner {
      border-radius: 0 $--border-radius-base $--border-radius-base 0;
    }
  }
  @include m(medium) {
    .el-checkbox-button__inner {
      @extend .text-size-xs;
      padding: $--button-medium-padding-vertical $--button-medium-padding-horizontal;
      border-radius: 0;

      &.is-round {
        padding: $--button-medium-padding-vertical $--button-medium-padding-horizontal;
      }
    }
  }
  @include m(small) {
    .el-checkbox-button__inner {
      @extend .text-size-xxs;
      padding: $--button-small-padding-vertical $--button-small-padding-horizontal;
      border-radius: 0;

      &.is-round {
        padding: $--button-small-padding-vertical $--button-small-padding-horizontal;
      }
    }
  }
  @include m(mini) {
    .el-checkbox-button__inner {
      @extend .text-size-xxs;
      padding: var(--button-mini-padding-vertical) var(--button-mini-padding-horizontal);
      border-radius: 0;

      &.is-round {
        padding: var(--button-mini-padding-vertical) var(--button-mini-padding-horizontal);
      }
    }
  }
}

@include b(checkbox-group) {
  font-size: 0;
}

/* Custom styles
--------------------------*/
.checkbox-in-column {
  display: flex;
  align-items: flex-start;
  flex-flow: column wrap;

  .el-checkbox {
    margin-bottom: 32px;
    margin-right: 0;
  }
}

.checkbox-in-row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  &.devices-checkboxes {
    margin-left: -3px;

    .el-checkbox__label {
      padding: 0;
    }
  }

  .device-checkbox {
    text-align: center;

    .el-checkbox__input {
      &:focus,
      &.is-focus {
        .el-checkbox__inner {
          &,
          &:after {
            border-color: var(--color-success);
          }
        }
      }
    }
  }

  .el-checkbox {
    display: inline-flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: flex-end;
    margin: 0;

    .device-checkbox-wrap {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      padding-top: 15px;

      > svg {
        margin-bottom: 30px;

        path {
          fill: var(--color-text-disabled2);
          stroke: var(--border-color-base);
        }
      }
    }

    &__inner {
      margin-top: 12px;
    }

    &.is-checked {
      .device-checkbox-wrap {
        svg {
          path {
            fill: var(--color-success);
            stroke: var(--color-success);
          }
        }
      }
    }
  }
}
