@import "mixins/mixins";
@import "common/variables";
@import "common/transition";
@import "variables/collapse";

@include b(collapse) {//.default-accordion - OLD
  margin-bottom: 17px;

  border: 0;
}

@include b(collapse-item) {
  margin-bottom: 16px;

  &:first-child {
    .el-collapse-item {
      border-top: 1px solid var(--border-color-base);
    }
  }

  @include when(disabled) {
    .el-collapse-item__header {
      color: var(--color-text-disabled1);
      cursor: not-allowed;

      .icon-chevron-up {
        fill: var(--font-color-disabled-base);
      }
    }
    .icon-chevron-up {
      fill: var(--color-text-disabled1);
    }
  }

  @include e(header) {
    @extend .text-size-sm;
    display: flex;
    align-items: center;
    background-color: var(--collapse-header-background-color);
    cursor: pointer;
    transition: border-bottom-color .3s;
    outline: none;
    border: 1px solid var(--border-color-base);
    position: relative;
    color: var(--color-text-high);
    padding: 20px 24px;
    height: 64px;
    line-height: 64px;

    .collapse-item__arrow {
      transform: translateY(-50%) rotate(180deg);
    }

    .creative-status {
      margin-right: 14px;
    }

    @include e(arrow) {
      display: none;
    }

    &.focusing:focus:not(:hover){
      color: var(--color-text-high);
    }

    @include when(active) {
      border-bottom: 1px solid var(--border-color-base);

      .collapse-item__arrow {
        transform: translateY(-50%) rotate(0);
      }
    }
  }

  @include e(wrap) {
    will-change: height;
    background-color: var(--collapse-content-background-color);
    overflow: hidden;
    box-sizing: border-box;
    padding: 14px 56px 0 72px;
    border: 0;
  }

  @include e(content) {
    @extend .text-size-xs;
    padding-bottom: 0;
    color: var(--collapse-content-font-color);
    word-break: break-word;

    &:last-child {
      .el-collapse-item__wrap {
        border-bottom: 0;
      }
    }
  }

  .collapse-item__arrow {
    position: absolute;
    right: 24px;
    top: 50%;
    transform: translateY(-50%);
    transition: $--all-transition;
  }

  &:last-child {
    margin-bottom: -1px;
  }
}
