@import "mixins/mixins";
@import "common/variables";
@import "button";
@import "./popper";
@import "variables/dropdown";

@include b(dropdown) {
  @extend .text-size-sm;
  display: inline-block;
  position: relative;
  color: var(--color-text-med);

  .el-button-group {
    display: block;

    .el-button {
      float: none;
    }
  }

  & .el-dropdown__caret-button {
    padding-left: 5px;
    padding-right: 5px;
    position: relative;
    border-left: none;

    &::before {
      $gap: 5px;

      content: '';
      position: absolute;
      display: block;
      width: 1px;
      top: $gap;
      bottom: $gap;
      left: 0;
      background: mix(white, transparent, 50%);
    }

    &.el-button--default::before {
      background: var(--fg-base);
      opacity: .5;
    }

    &:hover {
      &::before {
        top: 0;
        bottom: 0;
      }
    }

    & .el-dropdown__icon {
      padding-left: 0;
    }
  }
  @include e(icon) {
    @extend .text-size-xxs;
    margin: 0 3px;
  }

  .el-dropdown-selfdefine {
    &:focus:active, &:focus:not(.focusing) {
      outline-width: 0;
    }
  }
}

@include b(dropdown-menu) {
  position: absolute;
  top: 0;
  left: 0;
  z-index: $--index-top + 1;
  margin: 5px 0;
  background-color: var(--bg-base);
  box-shadow: var(--dropdown-menu-box-shadow);
  border-radius: 0;
  border: 0;
  padding: 14px 80px 22px 0;

  @include e(item) {
    @extend .text-body-sm;
    list-style: none;
    margin: 0;
    cursor: pointer;
    outline: none;
    padding: 0;
    color: var(--color-text-sm-low);

    &:not(.is-disabled):hover, &:focus {
      background-color: var(--dropdown-menuItem-hover-fill);
      color: var(--dropdown-menuItem-hover-color);
    }

    i {
      margin-right: 5px;
    }

    a {
      color: var(--dropdown-menuItem-color);
      display: block;
      padding: 16px 0 15px 30px;
      white-space: nowrap;

      &:hover {
        color: var(--dropdown-menuItem-hover-color);
      }

      &:focus {
        outline: none;
      }
    }

    @include m(divided) {
      position: relative;
      margin-top: 6px;
      border-top: 1px solid var(--border-color-base);

      &:before {
        content: '';
        height: 6px;
        display: block;
        margin: 0 -20px;
        background-color: var(--bg-base);
      }
    }

    @include when(disabled) {
      cursor: default;
      color: var(--font-color-disabled-base);
      pointer-events: none;
    }

    &:not(.is-disabled):hover,
    &:focus {
      background: var(--bg-base);
      color: var(--color-text-med);
    }
  }

  @include m(medium) {
    padding: 6px 0;

    @include e(item) {
      @extend .text-body-xs;
      padding: 0 17px;

      &.el-dropdown-menu__item--divided {
        margin-top: 6px;

        &:before {
          height: 6px;
          margin: 0 -17px;
        }
      }
    }
  }

  @include m(small) {
    padding: 6px 0;

    @include e(item) {
      @extend .text-body-xxs;
      padding: 0 15px;

      &.el-dropdown-menu__item--divided {
        margin-top: 4px;

        &:before {
          height: 4px;
          margin: 0 -15px;
        }
      }
    }
  }

  @include m(mini) {
    padding: 3px 0;

    @include e(item) {
      @extend .text-body-xxs;
      padding: 0 10px;

      &.el-dropdown-menu__item--divided {
        margin-top: 3px;

        &:before {
          height: 3px;
          margin: 0 -10px;
        }
      }
    }
  }
}

// Dropdown badge on the Campaign details page
//Will be deleted in the future
.dropdown-badge {
  --base-sat: var(--sat-high);

  display: inline-flex;
  justify-content: center;
  //min-width: 152px;
  min-width: 108px;
  align-items: center;
  border-radius: $--border-radius-base;
  height: $--button-large-height;
  background: var(--fg-offset50);
  color: var(--color-text-med);

  &:hover,
  &:focus {//TODO: focus added temporary
    background: var(--fg-offset60);
    border-color: var(--fg-offset60);
    cursor: default;
  }

  &:active {
    background: var(--fg-offset70);
    border-color: var(--fg-offset70);
  }

  .el-dropdown-link {
    display: flex;
    align-items: baseline;
    border-radius: $--border-radius-base;

    .icon {
      margin-left: 6px;

      &__svg {
        fill: currentColor;
        stroke: currentColor;
      }
    }

    &:focus {
      outline: none;

      &:active,
      &:hover {
        box-shadow: none;
      }
    }
  }

  @each $type in (default, '', success, warning, info, danger) {
    @include m($type) {
      @if $type == success {
        --base-hue: var(--hue-success);

      } @else if $type == default or $type == '' {//For the default state
        --base-hue: var(--hue-gray);
        --base-sat: var(--sat-low);

        background: var(--bg-offset15);
        color: var(--color-text-high);

        &:hover {
          background: var(--bg-offset10);
          border-color: var(--bg-offset10);
        }

        &:active {
          background: var(--bg-offset5);
          border-color: var(--fg-offset95);
        }

        .el-dropdown-link {
          &:focus {
            background: var(--bg-offset10);//TODO: added temporary
            border-color: var(--fg-offset90);//TODO: added temporary
          }
        }

      } @else if $type == warning {
        --base-hue: var(--hue-warning);

      } @else if $type == info {
        --base-hue: var(--hue-info);

        color: var(--gray100);

      } @else if $type == danger {
        --base-hue: var(--hue-danger);

        color: var(--gray100);
      }
    }
  }

  .el-dropdown-link {
    cursor: pointer;
    padding: 17px;
    white-space: nowrap;
    flex: 0 0 100%;
    text-align: center;

    &:focus {
      outline: none;
    }
  }

  &.no-click {
    pointer-events: none;

    .el-dropdown-link {
      cursor: default;
      justify-content: center;
      white-space: nowrap;
      pointer-events: none;
    }
  }
}
