@import "mixins/mixins";
@import "common/variables";

//TODO: Refactor after HSL colors implementing
//$typeMap: (
//  primary: $--link-primary-font-color,
//  danger: $--link-danger-font-color,
//  success: $--link-success-font-color,
//  warning: $--link-warning-font-color,
//  info: $--link-info-font-color);

$typeMap: (
  primary: var(--hue-primary),
  danger: var(--hue-danger),
  success: var(--hue-success),
  warning: var(--hue-warning),
  info: var(--hue-info));

@include b(link) {
  --link-default-font-color: var(--color-text-med);
  --link-default-active-color: var(--color-text-med);
  --link-disabled-font-color: var(--color-text-sm-low);

  @extend .text-label-sm;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  position: relative;
  text-decoration: none;
  outline: none;
  cursor: pointer;
  padding: 0;
  color: var(--fg-offset50);
  border-color: var(--fg-offset50);

  @include when(underline) {
    &:hover:after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      height: 0;
      bottom: 0;
      border-bottom: 1px solid var(--fg-offset60);
    }
  }

  @include when(disabled) {
    cursor: not-allowed;
  }

  & [class*="el-icon-"] {
    & + span {
      margin-left: 5px;
    }
  }


  &.el-link--default {
    color: var(--link-default-font-color);

    &:hover {
      color: var(--link-default-active-color)
    }

    &:after {
      border-color: var(--link-default-active-color)
    }

    @include when(disabled) {
      color: var(--link-disabled-font-color)
    }
  }

  @each $type, $primaryColor in $typeMap {
    &.el-link--#{$type} {
      --base-hue: var(--hue-#{$type});
      --base-sat: var(--sat-high);

      &:hover {
        color: var(--fg-offset60);
      }

      @include when(disabled) {
        color: var(--fg-offset70);
      }
    }
  }
}
