@import "mixins/mixins";
@import "common/variables";

@include b(main) {
  // IE11 supports the <main> element partially https://caniuse.com/#search=main
  flex: 1;
  flex-basis: auto;
  box-sizing: border-box;
  padding: $--main-padding;
  display: flex;
  flex-direction: column;
  overflow: hidden; //fix for Firefox on Mac OS

  > div:not(.contact) {
    flex: 1 0 100%;
    width: 100%;
    max-width: 100%;

    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      flex: none;
    }
  }
}
