@import "mixins/mixins";
@import "common/variables";

@include b(notification) {
  --notification-width: #{$--notification-width};
  --notification-padding: #{$--notification-padding};
  --notification-radius: #{$--notification-radius};
  --notification-shadow: 0 0 4px 0 var(--fg-offset80);
  --notification-border-color: var(--fg-offset80);
  --notification-icon-size: #{$--notification-icon-size};
  --notification-close-font-size: #{$--notification-close-font-size};
  --notification-group-margin-left: #{$--notification-group-margin-left};
  --notification-group-margin-right: #{$--notification-group-margin-right};
  --notification-content-color: var(--color-text-med);
  --notification-title-color: var(--color-text-med);
  --notification-close-color: var(--fg-offset60);
  --notification-close-hover-color: var(--color-text-med);

  display: flex;
  width: var(--notification-width);
  padding: var(--notification-padding);
  box-sizing: border-box;
  border: 1px solid var(--notification-border-color);
  position: fixed;
  background-color: var(--bg-offset3);
  box-shadow: var(--notification-shadow);
  transition: opacity .3s, transform .3s, left .3s, right .3s, top 0.4s, bottom .3s;
  overflow: hidden;
  border-radius: 0;
  left: 50%;
  transform: translateX(-50%);

  &.right {
    right: auto;
  }

  &.left {
    left: 16px;
  }

  @include e(group) {
    margin-left: var(--notification-group-margin-left);
    margin-right: var(--notification-group-margin-right);
  }

  @include e(title) {
    @extend .text-label-sm;
    margin-bottom: 8px;
  }

  @include e(content) {
    @extend .text-body-sm;
    margin: 0;
    color: var(--notification-content-color);
    text-align: initial;

    p {
      margin: 0;
    }
  }

  @include e(icon) {
    --base-sat: var(--sat-high);

    height: var(--notification-icon-size);
    width: var(--notification-icon-size);
    font-size: var(--notification-icon-size);
    color: var(--fg-offset50);
  }

  @include e(closeBtn) {
    position: absolute;
    top: 18px;
    right: 15px;
    cursor: pointer;
    font-size: var(--notification-close-font-size);
    font-weight: bold;

    &:hover {
      color: var(--notification-close-hover-color);
    }
  }

  .el-icon-success {
    --base-hue: var(--hue-success);

    &:before {
      content: "\e720";
    }
  }

  .el-icon-error {
    --base-hue: var(--hue-danger);

    &:before {
      content: "\e6c9";
    }
  }

  .el-icon-info {
    --base-hue: var(--hue-info);
  }

  .el-icon-warning {
    --base-hue: var(--hue-warning);

    &:before {
      content: "\e6c9";
    }
  }
}

.el-notification-fade-enter {
  &.right {
    right: 0;
    transform: translateX(100%);
  }

  &.left {
    left: 0;
    transform: translateX(-100%);
  }
}

.el-notification-fade-leave-active {
  opacity: 0;
}

//Temporary styles. Should be adjusted. (HULU-3168)
.el-notification.custom-notification {
  --base-hue: var(--hue-warning);
  --base-sat: var(--sat-high);

  border-radius: 8px;
  background: var(--bg-offset5);
  border: 1px solid var(--fg-offset80);
  box-shadow: none;
  padding: 22px 36px 18px 56px;

  .icon {
    position: absolute;
    left: 18px;
    top: 16px;

    svg {
      stroke: var(--bg-offset5);//TODO: adjust color variable after SVG 'warning' fixes
    }
  }

  .el-notification__title {
    @extend .text-label-sm;
    display: block;
  }

  .el-notification__group {
    margin-left: 0;
    margin-right: 0;
  }

  .el-notification__closeBtn {
    color: var(--color-text-med);
  }

  .el-notification__title {
    @extend .text-label-xs;
    margin-bottom: 8px;
    color: var(--color-text-med);
  }

  .el-notification__content {
    @extend .text-label-xs;
    color: var(--color-text-med);

    a {
      @extend .text-label-xs;
      color: inherit;
    }

    p {
      line-height: 160%;//TODO: We don't have .text-label class with 160% line-height
      margin-bottom: 8px;

      &:last-of-type {
        margin-bottom: 16px;
      }
    }
  }
}
