@import "mixins/mixins";
@import "common/variables";

@include b(select-group) {
  --gap: 20px;

  margin: 0;
  padding: 0;

  @include e(wrap) {
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;

    &:not(:last-of-type) {
      padding-bottom: 24px;

      &::after {
        content: '';
        position: absolute;
        display: block;
        left: var(--gap);
        right: var(--gap);
        bottom: 12px;
        height: 1px;
        background: var(--border-color-base);
      }
    }
  }

  @include e(title) {
    @extend .text-size-xxs;
    padding-left: var(--gap);
    color: var(--select-group-color);
    line-height: var(--select-group-height);
  }

  & .el-select-dropdown__item {
    padding-left: var(--gap);
  }
}
