@import 'common/variables';

body {
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
  font-weight: 400;
  @extend .text-size-sm;
  color: var(--color-text-med);
  -webkit-font-smoothing: antialiased;
}

a {
  color: var(--color-text-med);
  text-decoration: none;

  &:hover,
  &:focus {
    color: var(--color-text-sm-low);
  }

  &:active {
    color: var(--color-primary-light-1);
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-text-med);
  font-weight: inherit;

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

h4, h5, h6, p {
  font-size: inherit;
}

p {
  line-height: 1.8;

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid var(--gray97);
}
