@import "mixins/mixins";
@import "common/variables";
@import "./popper";

@include b(select-dropdown) {
  position: absolute;
  z-index: $--index-top + 1;
  border: var(--select-dropdown-border);
  border-radius: $--border-radius-base;
  background-color: var(--select-dropdown-background);
  box-shadow: var(--select-dropdown-shadow);
  box-sizing: border-box;
  margin: 5px 0;

  @include when(multiple) {
    & .el-select-dropdown__item {
      max-width: 613px;

      &.selected {
        color: var(--select-option-selected-font-color);
        background-color: var(--select-dropdown-background);

        &.hover {
          background-color: var(--select-option-hover-background);
        }

        &::after {
          @extend .text-label-xxs;
          position: absolute;
          right: 6px;
          font-family: 'element-icons';
          content: "\e6da";
          //font-size: 12px;//HULU-3032, fonts
          //font-weight: bold;//HULU-3032, fonts
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
        }
      }
    }
  }

  .el-scrollbar.is-empty .el-select-dropdown__list{
    padding: 0;
  }

  &__item {
    max-width: 658px;

    span {
      max-width: 100%;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
}

@include b(select-dropdown__empty) {
  @extend .text-size-sm;
  padding: var(--select-dropdown-empty-padding);
  margin: 0;
  text-align: center;
  color: var(--select-dropdown-empty-color);
}

@include b(select-dropdown__wrap) {
  max-height: var(--select-dropdown-max-height);
}

@include b(select-dropdown__list) {
  list-style: none;
  padding: var(--select-dropdown-padding);
  margin: 0;
  box-sizing: border-box;
}
