@import "mixins/mixins";
@import "mixins/utils";
@import "common/variables";
@import "select-dropdown";
@import "tag";
@import "option";
@import "option-group";
@import "scrollbar";

.el-select,
.el-select-dropdown,
.el-autocomplete-suggestion {
  /* Select
  -------------------------- */
  --select-border-color-hover: var(--fg-offset60);
  --select-disabled-border: var(--color-text-disabled1);

  --select-close-hover-color: var(--fg-offset60);

  --select-input-color: var(--color-text-sm-low);
  --select-multiple-input-color: var(--color-text-sm-low);

  --select-input-focus-border-color: var(--fg-base);

  --select-option-color: var(--color-text-med);
  --select-option-disabled-color: var(--color-text-sm-low);
  --select-option-disabled-background: var(--bg-base);

  --select-option-height: #{$--select-option-height};
  --select-option-hover-background: var(--bg-offset5);

  --select-option-selected-font-color: var(--fg-base);
  --select-option-selected-hover: var(--bg-offset100);

  --select-group-color: var(--color-text-sm-low);

  --select-group-height: #{$--select-group-height};

  --select-dropdown-background: var(--bg-base);
  --select-dropdown-shadow: var(--box-shadow-light);
  --select-dropdown-empty-color: var(--fg-offset70);

  --select-dropdown-max-height: #{$--select-dropdown-max-height};

  --select-dropdown-padding: #{$--select-dropdown-padding};
  --select-dropdown-empty-padding: #{$--select-dropdown-empty-padding};
  --select-dropdown-border: #{$--select-dropdown-border};
}

@include b(select) {
  display: inline-block;
  position: relative;

  .el-select__tags {
    &,
    .is-filled & {
      &:hover {
        + .el-input .el-input__inner {
          --input-shadow-default-border-color: var(--input-shadow-hover-border-color);
        }
      }

      &.is-focus {
        + .el-input .el-input__inner {
          --input-shadow-default-border-width: var(--input-shadow-focus-border-width);
          --input-shadow-default-border-color: var(--input-shadow-focus-border-color);
        }
      }
    }


    > span {
      display: contents;
    }
  }

  &:hover {
    .el-input__inner {
      border-color: var(--select-border-color-hover);
    }
  }

  .el-input__inner {
    cursor: pointer;
    padding-right: 35px;

    &:focus {
      border-color: var(--select-input-focus-border-color);
    }
  }

  .el-input {
    & .el-select__caret {
      @extend .text-size-xs;
      color: var(--select-input-color);
      transition: transform .3s;
      transform: rotateZ(180deg);
      cursor: pointer;

      @include when(reverse) {
        transform: rotateZ(0deg);
      }

      @include when(show-close) {
        @extend .text-size-sm;
        text-align: center;
        transform: rotateZ(180deg);
        border-radius: $--border-radius-circle;
        color: var(--select-input-color);
        transition: $--color-transition-base;

        &:hover {
          color: var(--select-close-hover-color);
        }
      }
    }

    &.is-disabled {
      & .el-input__inner {
        cursor: not-allowed;

        &:hover {
          border-color: var(--select-disabled-border);
        }
      }
    }

    &.is-focus .el-input__inner {
      border-color: var(--select-input-focus-border-color);
    }
  }

  > .el-input {
    display: block;
  }

  @include e(input) {
    @extend .text-size-sm;
    border: none;
    outline: none;
    padding: 0;
    margin-left: 15px;
    color: var(--select-multiple-input-color);
    appearance: none;
    height: 28px;
    background-color: transparent;
    @include when(mini) {
      height: 14px;
    }

    &:focus {
      outline: none;
    }
  }

  @include e(close) {
    @extend .text-body-xs;
    cursor: pointer;
    position: absolute;
    top: 8px;
    z-index: $--index-top;
    right: 25px;
    color: var(--select-input-color);

    &:hover {
      color: var(--select-close-hover-color);
    }
  }

  @include e(tags) {
    position: absolute;
    line-height: normal;
    white-space: normal;
    z-index: $--index-normal;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    .el-tag {
      max-width: 100%;

      .el-select__tags-text {
        max-width: 97%;
        display: inline-block;
        overflow: hidden;
        text-overflow: ellipsis;
        vertical-align: middle;
      }
    }
  }

  .el-tag__close {
    margin-top: -2px;
  }

  .el-tag {
    box-sizing: border-box;
    border-color: transparent;
    margin: 2px 0 2px 6px;
    background-color: var(--gray80);

    &__close.el-icon-close {
      background-color: var(--color-text-placeholder);
      right: -7px;
      top: 0;
      color: var(--color-text-high-inverted);

      &:hover {
        background-color: var(--color-text-secondary);
      }

      &::before {
        display: block;
        transform: translate(0, -2.5px);
      }
    }
  }

  &--large {
    width: 325px;
  }
}

.el-select,
.el-autocomplete {
  .el-input {
    .el-select__caret {
      color: var(--color-text-med);
      text-transform: uppercase;
      font-weight: $--font-weight-extra-bold;
    }

    &__inner {
      @extend .text-body-sm;
      min-height: $--input-medium-height !important;
      padding-left: 15px;
      width: 100%;
    }
  }
}

.el-select-dropdown,
.el-autocomplete-suggestion {
  &__list {
    padding-top: 0;
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &.selected {
      span:not(.status-badge) {
        @extend .text-label-sm;
      }
    }

    .status-badge {
      @extend .status-badge;//We need it to redefine el-select-dropdown font styles
      margin-left: 8px;

      &--default {
        @extend .status-badge--default;//We need it to redefine el-select-dropdown color styles
      }
    }
  }

  &.el-popper {
    margin: 0;
  }

  .popper__arrow {
    display: none !important;
  }
}
