@import "mixins/mixins";
@import "common/var";

.el-tooltip,
.el-tooltip__popper {
  --tooltip-fill: var(--bg-offset97);
  --tooltip-color: var(--fg-offset100);
  --tooltip-border-color: var(--fg-offset20);
  --tooltip-arrow-size: #{$--tooltip-arrow-size};
  --tooltip-padding: #{$--tooltip-padding};
}

@include b(tooltip) {
  &:focus:not(.focusing),
  &:focus:hover {
    outline-width: 0;
  }

  @include e(popper) {
    position: absolute;
    border-radius: $--border-radius-base;
    padding: var(--tooltip-padding);
    z-index: $--index-popper;
    min-width: 10px;
    word-wrap: break-word;

    &:not(.dropdown-title, .text-tip) {
      @extend .text-size-xxs;
    }

    &.is-dark.is-border {
      border: 1px solid var(--border-color-base);
    }

    .popper__arrow {
      border-width: var(--tooltip-arrow-size);

      &,
      &:after {
        position: absolute;
        display: block;
        width: 0;
        height: 0;
        border-color: transparent;
        border-style: solid;
      }

      &:after {
        content: " ";
        border-width: 5px;
      }
    }

    &[x-placement^="top"] {
      margin-bottom: calc(var(--tooltip-arrow-size) + 6px);
    }

    &[x-placement^="top"] .popper__arrow {
      bottom: calc(-1 * var(--tooltip-arrow-size));
      border-top-color: var(--tooltip-border-color);
      border-bottom-width: 0;

      &::after {
        bottom: 1px;
        margin-left: -5px;
        border-top-color: var(--tooltip-fill);
        border-bottom-width: 0;
      }
    }

    &[x-placement^="bottom"] {
      margin-top: calc(var(--tooltip-arrow-size) + 6px);
    }

    &[x-placement^="bottom"] .popper__arrow {
      top: calc(-1 * var(--tooltip-arrow-size));
      border-top-width: 0;
      border-bottom-color: var(--tooltip-border-color);

      &::after {
        top: 1px;
        margin-left: -5px;
        border-top-width: 0;
        border-bottom-color: var(--tooltip-fill);
      }
    }

    &[x-placement^="right"] {
      margin-left: calc(var(--tooltip-arrow-size) + 6px);
    }

    &[x-placement^="right"] .popper__arrow {
      left: calc(-1 * var(--tooltip-arrow-size));
      border-right-color: var(--tooltip-border-color);
      border-left-width: 0;

      &::after {
        bottom: -5px;
        left: 1px;
        border-right-color: var(--tooltip-fill);
        border-left-width: 0;
      }
    }

    &[x-placement^="left"] {
      margin-right: calc(var(--tooltip-arrow-size) + 6px);
    }

    &[x-placement^="left"] .popper__arrow {
      right: calc(-1 * var(--tooltip-arrow-size));
      border-right-width: 0;
      border-left-color: var(--tooltip-border-color);

      &::after {
        right: 1px;
        bottom: -5px;
        margin-left: -5px;
        border-right-width: 0;
        border-left-color: var(--tooltip-fill);
      }
    }

    @include when(dark) {
      background: var(--tooltip-fill);
      color: var(--tooltip-color);
    }

    @include when(light) {
      background: var(--bg-offset3);
      color: var(--fg-base);
      border: 1px solid var(--bg-offset5);

      &[x-placement^="top"] .popper__arrow {
        border-top-color: var(--bg-offset5);

        &:after {
          border-top-color: var(--bg-base);
        }
      }

      &[x-placement^="bottom"] .popper__arrow {
        border-bottom-color: var(--bg-offset5);

        &::after {
          border-bottom-color: var(--bg-base);
        }
      }
      &[x-placement^="left"] .popper__arrow {
        border-left-color: var(--bg-offset5);

        &::after {
          border-left-color: var(--bg-base);
        }
      }
      &[x-placement^="right"] .popper__arrow {
        border-right-color: var(--bg-offset5);

        &::after {
          border-right-color: var(--bg-base);
        }
      }
    }
  }
}

.el-tooltip,
.el-popover,
.el-popper {
  &:focus {
    outline: none;
  }
}

.annotated-text {
  p {
    @extend .text-body-sm;
  }

  .el-tooltip {
    line-height: $--tooltip-line-height;
    text-decoration: underline var(--fg-offset90) 2px;
    text-underline-offset: 4px;
    cursor: help;
  }
}

.el-tooltip__popper.text-tip {
  @extend .text-body-xs;

  max-width: 300px;
  background: var(--bg-base);
  border: 1px solid var(--bg-offset5);
  box-sizing: border-box;
  box-shadow: var(--box-shadow-tooltip);
  border-radius: $--border-radius-base*2;
  padding: 12px 16px;
  color: var(--color-text-med);
  letter-spacing: normal;
  text-transform: initial;

  .title {
    @extend .text-size-sm;
    display: inline-block;
    text-decoration: underline;
    text-decoration-color: var(--font-size-base);
    text-decoration-thickness: 2px;
    text-underline-offset: 4px;
    margin: 0 0 12px;
    cursor: help;

    a {
      font-size: inherit;
      text-decoration: underline;
      text-decoration-color: var(--fgcolor-blue);
      line-height: $--tooltip-line-height;
    }
  }

  .description {
    @extend .text-body-xs;
  }

  &.dropdown-title {
    &,
    .title {
      @extend .text-lineheight-125;

    }
  }

  &.capitalized .title {
    text-transform: capitalize;
  }

  &.budget-bar-popper {
    .title {
      @extend .text-body-xxs;
      position: relative;
      top: -4px;
      margin-bottom: 6px;
      cursor: help;
    }
  }

  p {
    @extend .text-body-xs;
    color: var(--color-text-med);
    margin-bottom: 0;

    &.more {
      margin-top: 8px;
    }

    &:not(:last-of-type) {
      margin-bottom: 12px;
    }
  }
}

.icon.info-tip {
  display: inline-flex;
}
