<template>
  <el-dropdown
    ref="dropdown"
    v-loading="loading"
    class="dropdown-badge"
    :class="classBlock"
    trigger="click"
    placement="bottom-start"
    @visible-change="visibleHandler"
  >
    <span
      class="el-dropdown-link text-label-xs"
    >
      <slot name="default">
        {{ status }}
      </slot>
      <i
        v-if="hasItems"
        class="el-icon--right"
        :class="arrowClass"
      />
    </span>
    <el-dropdown-menu
      slot="dropdown"
      :disabled="hasItems"
      class="dropdown-badge__menu"
    >
      <el-dropdown-item
        v-for="(transition, name) in dropdownItems"
        :key="name"
        :disabled="!transition.enabled"
      >
        <a
          href="#"
          class="dropdown-badge__link-item"
          @click.prevent="$emit('on-click', name)"
        >
          {{ transition.label }}
        </a>
      </el-dropdown-item>
    </el-dropdown-menu>
  </el-dropdown>
</template>

<script>
  import {isEmpty} from 'lodash';

  export default {
    /**
     * Component name
     */
    name: 'DropdownBadge',

    /**
     * Component props
     */
    props: {
      /**
       * Loading
       */
      loading: {
        type: Boolean,
        default: false
      },

      /**
       * Status value
       */
      status: {
        type: String,
        default: ''
      },

      /**
       * Dropdown items
       */
      dropdownItems: {
        type: Object,
        default () {
          return {};
        }
      },

      /**
       * Status class
       */
      customClass: {
        type: String,
        default: ''
      }
    },

    /**
     * Data properties
     */
    data () {
      return {
        isOpened: false
      }
    },

    /**
     * Computed
     */
    computed: {
      /**
       * Has dropdown items list
       */
      hasItems () {
        return !isEmpty(this.dropdownItems);
      },

      /**
       * Get class block
       */
      classBlock () {
        return `${!this.hasItems ? 'no-click' : ''} dropdown-badge--${this.customClass}`
      },

      /**
       * Arrow class
       */
      arrowClass () {
        return this.isOpened ? 'el-icon-arrow-up' : 'el-icon-arrow-down';
      }
    },

    /**
     * Mounted
     */
    mounted() {
      // Remove ability to show dropdown items
      // see node_modules/element-ui/packages/dropdown/src/dropdown.vue:144
      this.$nextTick(() => {
        if (!this.hasItems && this.$refs['dropdown'] !== undefined) {
          this.$refs['dropdown'].triggerElm.disabled = true
        }
      })
    },

    /**
     * Methods
     */
    methods: {
      /**
       * Dropdown opened handler
       */
      visibleHandler (value) {
        this.isOpened = value;
      }
    }
  };
</script>
