<template>
  <div>
    <span
      v-if="html"
      class="status-badge"
      :class="`status-badge--${type}`"
      v-html="value"
    />
    <span
      v-else
      class="status-badge"
      :class="`status-badge--${type}`"
    >
      {{ value }}
    </span>
  </div>
</template>

<script>
  export default {
    /**
     * Component name
     */
    name: 'StatusBadge',

    /**
     * Component props
     */
    props: {
      /**
       * Component content value
       */
      value: {
        type: String,
        default: ''
      },

      /**
       * Component types (success, warning etc)
       */
      type: {
        type: String,
        default: 'default'
      },

      /**
       * Is html content
       */
      html: {
        type: Boolean,
        default: false
      }
    }
  };
</script>
