<template>
  <layout-main menu="creatives">
    <div class="page">
      <div class="page__header creative">
        <h1>{{ $trans('creative::content.creative_gallery') }}</h1>
        <upload-button
          @finish="handleUploadFinish"
        />
      </div>
      <div class="page__holder level-negative-1">
        <div class="creatives">
          <div class="creatives__holder level-default">
            <module-creative
              ref="moduleCreative"
              table-name="creatives-gallery"
              :show-table-sub-title="true"
              :use-routing="true"
              :with-submit-button="true"
            />
          </div>
        </div>
      </div>
    </div>
  </layout-main>
</template>

<script>
  import LayoutMain from 'Foundation/layouts/LayoutMain';
  import ModuleCreative from '../components/ModuleCreative';
  import UploadButton from 'Modules/creative/components/UploadButton';

  export default {
    /**
     * Name
     */
    name: 'TheCreativesIndex',

    /**
     * Components
     */
    components: {
      LayoutMain,
      ModuleCreative,
      UploadButton,
    },

    /**
     * Methods.
     */
    methods: {
      handleUploadFinish () {
        this.$refs.moduleCreative.refreshDataTable();
      },
    },
  };
</script>
