<template>
  <el-card
    v-loading="loadAccountPending"
    class="box-card profile-card level-default"
  >
    <div
      slot="header"
      class="clearfix"
    >
      <span>{{ $trans('labels.your_account') }}</span>
    </div>
    <div class="profile-card__account account-info">
      <personal-info />
      <business-info />
    </div>
  </el-card>
</template>

<script>
  import BusinessInfo from './business/BusinessInfo';
  import PersonalInfo from './personal/PersonalInfo';
  import { mapActions, mapState } from 'vuex';

  export default {
    /**
     * Name of the component.
     */
    name: "ProfileAccount",

    /**
     * Child components.
     */
    components: {
      BusinessInfo,
      PersonalInfo,
    },

    /**
     * Computed properties.
     */
    computed: {
      /**
       * Vuex.
       */
      ...mapState('profile', [
        'loadAccountPending',
      ]),
    },

    /**
     * Mounted.
     */
    mounted () {
      this.$call(this.loadAccount());
    },

    /**
     * Methods.
     */
    methods: {
      /**
       * Vuex.
       */
      ...mapActions('profile', [
        'loadAccount'
      ]),
    },
  };
</script>
