<template>
  <div class="support">
    <el-button
      @click="contactPopup = true"
    >
      Contact Popup
    </el-button>
    <modal
      title="Contact Us"
      :visible="contactPopup"
      :custom-class="'popup-contact el-dialog--actions-column-reverse'"
      width="688px"
    >
      <div class="popup-contact__caption">
        We are here for you. If you have any questions or would like to share any feedback, get in touch with us by filling out the form below and we will get back to you by email shortly.
      </div>
      <div>
        <div class="el-form-item">
          <label class="el-form-item__label">
            Subject
          </label>
          <el-select
            v-model="activeSection"
            placeholder="Please select section"
          >
            <el-option
              label="Zone one"
              value="shanghai"
            />
            <el-option
              label="Zone two"
              value="beijing"
            />
          </el-select>
        </div>
        <div class="el-form-item">
          <label class="el-form-item__label">
            Message
          </label>
          <el-input
            type="textarea"
            placeholder="Enter message here..."
          />
        </div>
      </div>
    </modal>
  </div>
</template>

<script>
  import Modal from 'App/foundation/components/layout/modal/Modal';

  export default {
    name: 'ContactPopup',
    components: { Modal },
    data () {
      return {
        contactPopup: false,
        activeSection: 'second',
      };
    }
  };
</script>
