<template>
  <div>
    <el-button
      @click="faqPopup = true"
    >
      FAQ Popup
    </el-button>
    <modal
      title="FAQ popup"
      :visible="faqPopup"
      :custom-class="'popup-faq el-dialog--actions-column-reverse'"
      width="688px"
    >
      <div>
        <el-tabs v-model="activeName">
          <el-tab-pane
            label="Section"
            name="first"
          >
            <text-field
              label="Section title"
              name="text"
              placeholder="Please select section"
            />
            <div class="el-form-item">
              <label class="el-form-item__label">
                Section title
              </label>
              <el-select
                v-model="activeSection"
                placeholder="Please select section"
              >
                <el-option
                  label="Zone one"
                  value="shanghai"
                />
                <el-option
                  label="Zone two"
                  value="beijing"
                />
              </el-select>
            </div>
            <div class="el-form-item">
              <label class="el-form-item__label">
                Image
              </label>
              <div class="upload-creative">
                <el-upload
                  class="upload-creative__input"
                  drag
                  :show-file-list="false"
                  action="https://jsonplaceholder.typicode.com/posts/"
                  multiple
                >
                  <div class="el-upload__text">
                    <span class="text-label-xs-semibold-caps">Drag & Drop files anywhere to upload or</span>
                  </div>
                  <el-button
                    class="upload-creative__button"
                  >
                    Select Files
                  </el-button>
                </el-upload>
              </div>
            </div>
          </el-tab-pane>
          <el-tab-pane
            label="Question"
            name="second"
          >
            <div class="el-form-item">
              <label class="el-form-item__label">
                Section
              </label>
              <el-select
                v-model="activeSection"
                placeholder="Please select section"
              >
                <el-option
                  label="Zone one"
                  value="shanghai"
                />
                <el-option
                  label="Zone two"
                  value="beijing"
                />
              </el-select>
            </div>
            <text-field
              label="Question"
              name="question"
              placeholder="Please enter question"
            />
            <div class="el-form-item">
              <label class="el-form-item__label">
                Answer
              </label>
              <el-input
                type="textarea"
                placeholder="Enter answer here..."
              />
            </div>
          </el-tab-pane>
        </el-tabs>
      </div>
    </modal>
  </div>
</template>

<script>
  import Modal from 'App/foundation/components/layout/modal/Modal';
  import TextField from "App/foundation/components/form/TextField";

  export default {
    name: 'FaqPopup',
    components: {TextField, Modal },
    data () {
      return {
        faqPopup: false,
        activeName: 'first',
        activeSection: 'second',
        uploadSection: 'third'
      };
    }
  };
</script>
