<template>
  <div>
    <el-button
      @click="fullScreenPopup = true"
    >
      Full Screen Popup
    </el-button>
    <el-dialog
      title="Tips"
      :fullscreen="true"
      :visible.sync="fullScreenPopup"
      custom-class="popup-fullscreen"
    >
      <template slot="title">
        <h2 class="text-subtitle-lg-semibold campaign-details__title">
          Details title
        </h2>
      </template>
      <div>
        <div
          class="popup-fullscreen__holder"
        >
          <div
            class="popup-fullscreen__panel"
          >
            <div
              class="popup-fullscreen__container"
            >
              <el-row
                type="flex"
                justify="space-between"
                align="middle"
                class="popup-fullscreen__actions"
              >
                <el-col
                  :span="12"
                />
                <el-col
                  :span="12"
                  class="content-right"
                >
                  <div
                    class="popup-fullscreen__actions-item"
                  >
                    <edit />
                  </div>
                  <div
                    class="popup-fullscreen__actions-item"
                  >
                    <remove />
                  </div>
                </el-col>
              </el-row>
              <general-details />
            </div>
          </div>
          <div class="popup-fullscreen__main">
            <div class="popup-fullscreen__container">
              <div
                class="details"
              >
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, ad architecto culpa cum deleniti dignissimos eaque eius, et id inventore iure laboriosam libero nulla perferendis repellendus rerum sint totam vel.
              </div>
            </div>
          </div>
        </div>
      </div>
    </el-dialog>
  </div>
</template>

<script>

    export default {
        name: 'FullScreenPopup',

        data() {
            return {
                fullScreenPopup: false,
            }
        }
    }

</script>
