<template>
  <div>
    <el-button
      @click="notificationPopup = true"
    >
      Notifications Popup
    </el-button>
    <div
      v-show="notificationPopup"
      class="notifications__alert"
    >
      <span class="notifications__title">Alerts <span>(403)</span></span>
      <ul class="notifications__list">
        <li class="notifications__item is-unread">
          <div class="notifications__item-image">
            i
          </div>
          <div class="notifications__item-content">
            <span class="notifications__item-label label-text">
              Label
            </span>
            <p>First line</p>
            <p>Second line</p>
          </div>
          <span class="notifications-status" />
        </li>
        <li class="notifications__item is-unread">
          <div class="notifications__item-image">
            i
          </div>
          <div class="notifications__item-content">
            <span class="notifications__item-label label-text">
              Label
            </span>
            <p>First line</p>
            <p>Second line</p>
          </div>
          <span class="notifications-status" />
        </li>
        <li class="notifications__item is-unread">
          <div class="notifications__item-image">
            i
          </div>
          <div class="notifications__item-content">
            <span class="notifications__item-label label-text">
              Label
            </span>
            <p>First line</p>
            <p>Second line</p>
          </div>
          <span class="notifications-status" />
        </li>
        <li class="notifications__item">
          <div class="notifications__item-image">
            i
          </div>
          <div class="notifications__item-content">
            <span class="notifications__item-label label-text">
              Label
            </span>
            <p>First line</p>
            <p>Second line</p>
          </div>
          <span class="notifications-status" />
        </li>
      </ul>
      <a
        href="#"
        class="notifications__all text-label-xs-semibold-caps"
      >
        View all notifications
      </a>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'NotificationPopup',
    data () {
      return {
        notificationPopup: false,
      };
    }
  };
</script>
