<template>
  <div>
    <el-button
      @click="primaryPopup = true"
    >
      Primary Popup
    </el-button>
    <el-dialog
      title="Tips"
      :visible.sync="primaryPopup"
      width="488px"
    >
      <div slot="title">
        Tips
      </div>
      <span>This is a message</span>
    </el-dialog>
  </div>
</template>

<script>

    export default {
        name: 'PopupDefault',

        data() {
            return {
                primaryPopup: false,
            }
        },
    }
    
</script>
