<template>
  <div class="promo-popup">
    <el-button
      @click="promoCode = true"
    >
      Promo Code popup
    </el-button>
    <div class="faq-section-form">
      <modal
        title="Create Promo Code"
        :visible.sync="promoCode"
        :custom-class="'popup-faq el-dialog--actions-column-reverse'"
        width="688px"
      >
        <text-field
          ref="code"
          v-model="code"
          label="Promo code"
          placeholder="Report name"
          name="code"
          size="medium"
          scope="item"
          @input="onFormChange"
        />
        <el-row>
          <el-col
            span="11"
          >
            <number-field
              ref="discount"
              label="Discount value"
              placeholder="10"
              name="discount"
              size="medium"
              scope="item"
            />
          </el-col>
          <el-col
            span="11"
            offset="2"
          >
            <select-field
              ref="type"
              label="Discount type"
              placeholder="Percentage ( % )"
              options="formattedSectionOptions"
              name="type"
              size="medium"
              scope="item"
            />
          </el-col>
        </el-row>
        <el-row>
          <el-col
            span="11"
          >
            <number-field
              ref="purchase"
              label="Minimum purchase"
              placeholder="500"
              name="purchase"
              size="medium"
              scope="item"
            />
          </el-col>
          <el-col
            span="11"
            offset="2"
          >
            <text-field
              ref="currency"
              label="Purchase currency"
              placeholder="Dollars (USD)"
              name="currency"
              size="medium"
              scope="item"
              @input="onFormChange"
            />
          </el-col>
        </el-row>
        <div
          class="el-form-item"
          :class="{ 'is-error': hasError, 'is-filled': isFilled }"
        >
          <label
            :for="date"
            class="el-form-item__label"
          >
            Date range
          </label>
          <div class="el-form-item__content">
            <date-range-field
              v-model="date"
              :picker-options="pickerOptions"
              :validation-messages="validationMessages"
              :validation="validation"
              class="promo-popup__date-range"
              name="date"
            />
          </div>
        </div>
        <number-field
          ref="limit-field"
          label="Usage limit per user"
          placeholder="1"
          name="limit-field"
          size="medium"
          scope="item"
        />
      </modal>
      <delete-dialog
        :visible="deleteVisible"
        :title="$trans('faq.labels.remove.title')"
        :message="$trans('faq.labels.remove.message')"
        :description="$trans('faq.labels.remove.description')"
        @close="deleteVisible = false"
        @submit="onDeleteItem()"
      />
    </div>
  </div>
</template>

<script>
  import Modal from 'Foundation/components/layout/modal/Modal';
  import TextField from 'Foundation/components/form/TextField';
  import SelectField from 'Foundation/components/form/SelectField';
  import NumberField from 'Foundation/components/form/NumberField';
  import { DateRangeField } from 'Foundation/components/form';
  import DeleteDialog from "Foundation/components/form/dialogs/DeleteDialog";

  export default {
    name: 'PromoCode',
    components: {
      NumberField,
      DeleteDialog,
      SelectField,
      TextField,
      DateRangeField,
      Modal
    },
    data() {
      return {
        promoCode: false,
        activeName: 'first',
        activeSection: 'second',
        uploadSection: 'third'
      };
    }
  };
</script>
