<template>
  <div>
    <el-button
      @click="reports = true"
    >
      Reports popup
    </el-button>
    <div>
      <modal
        title="Create Report"
        :visible.sync="reports"
        :custom-class="'el-dialog--actions-column-reverse'"
        width="688px"
      >
        <div>
          <el-tabs
            v-model="activeName"
            class="reports-tabs el-tabs-large"
          >
            <el-tab-pane
              label="Schedule"
              name="first"
            >
              <text-field
                ref="code"
                v-model="code"
                label="Report name"
                placeholder="Report name"
                name="name"
                size="medium"
                scope="item"
              />
              <text-field
                ref="frequency"
                label="Delivery frequency"
                placeholder="Daily"
                name="frequency"
                size="medium"
                scope="item"
              />
              <email-field
                ref="Email"
                label="Email Destination"
                placeholder="email@example.com"
                name="email"
                size="medium"
                scope="item"
              />
            </el-tab-pane>
            <el-tab-pane
              label="Download"
              name="second"
            >
              <text-field
                ref="code"
                v-model="code"
                label="Report name"
                placeholder="Report name"
                name="name"
                size="medium"
                scope="item"
              />
              <div
                class="el-form-item"
                :class="{ 'is-error': hasError, 'is-filled': isFilled }"
              >
                <label
                  :for="date"
                  class="el-form-item__label"
                >
                  Date range
                </label>
                <div class="el-form-item__content">
                  <date-range-field
                    v-model="date"
                    :picker-options="pickerOptions"
                    :validation-messages="validationMessages"
                    :validation="validation"
                    class="promo-popup__date-range"
                    name="date"
                  />
                </div>
              </div>
            </el-tab-pane>
          </el-tabs>
        </div>
      </modal>
      <delete-dialog
        :visible="deleteVisible"
        :title="$trans('faq.labels.remove.title')"
        :message="$trans('faq.labels.remove.message')"
        :description="$trans('faq.labels.remove.description')"
        @close="deleteVisible = false"
        @submit="onDeleteItem()"
      />
    </div>
  </div>
</template>

<script>
  import Modal from 'Foundation/components/layout/modal/Modal';
  import TextField from 'Foundation/components/form/TextField';
  import DeleteDialog from "Foundation/components/form/dialogs/DeleteDialog";
  import { DateRangeField } from 'Foundation/components/form';
  import { EmailField } from '../../../../foundation/components/form'

  export default {
    name: 'ReportsPopup',
    components: {
      DeleteDialog,
      TextField,
      DateRangeField,
      EmailField,
      Modal
    },
    data() {
      return {
        reports: false,
        activeName: 'first',
        activeSection: 'second'
      };
    }
  };
</script>


