<template>
  <div>
    <el-button
      @click="secondaryPopup = true"
    >
      Secondary Popup
    </el-button>
    <el-dialog
      title="Tips"
      width="992px"
      :visible.sync="secondaryPopup"
      custom-class="popup-secondary"
    >
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur culpa doloremque eius esse, eveniet id iure laudantium maxime mollitia numquam officiis perferendis perspiciatis praesentium reiciendis, repellat. Aperiam minima numquam quam?
    </el-dialog>
  </div>
</template>

<script>
    export default {
        name: 'SecondaryPopup',
        
        data() {
            return {
                secondaryPopup: false,
            }
        }
    }
</script>