<template>
  <div>
    <el-button
      @click="uploadPopup = true"
    >
      Upload Popup
    </el-button>
    <el-dialog
      title="Uploading..."
      :visible.sync="uploadPopup"
      :custom-class="'popup-upload el-dialog--actions-column-reverse'"
      width="688px"
    >
      <span class="text-muted">Note: If you close this window your upload will stop.</span>
      <div class="upload-progress">
        <div class="upload-progress__bar">
          <div
            class="upload-progress__success"
            style="width: 50%"
          />
        </div>
        <div class="upload-progress__value">
          50%
        </div>
      </div>
      <div class="upload-progress__content">
        <p>
          Available inventory does not meet our minimum budget level of <span class="text-label-sm">$500</span>.
        </p>
        <p>
          Please broaden any of the following targeting options to fulfill our minimum budget levels:
        </p>
        <ul>
          <li>
            Our forecasts indicate that we can only meet up to a <span class="text-label-sm">$8,000</span> budget. Alternately, expand your targeting.
          </li>
          <li>
            Genre
          </li>
          <li>
            Age
          </li>
          <li>
            Date Range
          </li>
        </ul>
        <div class="default-actions">
          <el-button
            type="default"
          >
            Change budget to $8,000
          </el-button>
          <el-button
            type="primary"
          >
            Cancel Inventory Check
          </el-button>
          <el-button
            type="text"
          >
            Expand targeting
          </el-button>
        </div>
      </div>
    </el-dialog>
  </div>
</template>

<script>
  export default {
    name: 'UploadPopup',
    data () {
      return {
        uploadPopup: false,
      };
    }
  };
</script>
