<template>
  <el-card
    class="box-card profile-card level-default"
  >
    <div
      slot="header"
      class="clearfix"
    >
      <span>{{ $trans('payment::labels.your_payment_information') }}</span>
    </div>
    <payment-methods-index
      :payment-methods="paymentMethods"
      :show-title="true"
      @payments-updated="loadPaymentMethods"
    />
  </el-card>
</template>

<script>
  import {mapActions} from 'vuex';
  import { mapFields } from 'vuex-map-fields';
  import PaymentMethodsIndex from "Modules/payment/components/PaymentMethodsIndex";

  export default {
    /**
     * Name of the component.
     */
    name: "ProfilePayment",

    /**
     * Child components.
     */
    components: { PaymentMethodsIndex },

    /**
     * Computed properties.
     */
    computed: {
      /**
       * Map fields.
       */
      ...mapFields('payment', ['paymentMethods']),
    },

    /**
     * Component created
     */
    created () {
      this.loadPaymentMethods();
    },

    /**
     * Component methods
     */
    methods: {
      /**
       * Map actions
       */
      ...mapActions('payment', ['index']),

      /**
       * Load payment methods
       */
      loadPaymentMethods () {
        this.$call(this.index(), { muteException: true });
      },

      /**
       * Define card brand image
       */
      cardImage (type) {
        return `/images/cards/${this.$config.cards.icons.svg[type.toLowerCase()]}`;
      },
    }
  };
</script>
