<template>
  <el-row :gutter="32">
    <el-col :span="12">
      <profile-payment />
    </el-col>
    <el-col :span="12">
      <profile-account />
    </el-col>
  </el-row>
</template>

<script>
  import ProfileAccount from './account/ProfileAccount';
  import ProfilePayment from './payment/ProfilePayment';

  export default {
    /**
     * Name of the component.
     */
    name: 'SettingsTab',

    /**
     * Child components.
     */
    components: {
      ProfileAccount,
      ProfilePayment,
    },
  }
</script>
