<template>
  <world-pay-field
    v-if="useCardNumber"
    :label="$trans('payment::labels.card_number')"
    :field-id="config.selectors.card"
    :value="cardNumber"
    :validation-message="$trans('payment::messages.validation.number')"
  />
  <world-pay-field
    v-else-if="useExpiry"
    :label="$trans('payment::labels.expiration_date')"
    :field-id="config.selectors.expiry"
    :value="expiration"
    :validation-message="$trans('payment::messages.validation.expiration')"
  />
  <world-pay-field
    v-else-if="useCvv"
    :label="$trans('payment::labels.security_code')"
    :field-id="config.selectors.cvv"
    :value="cvv"
    :validation-message="$trans('payment::messages.validation.cvv')"
  />
  <el-button
    v-else-if="useSubmit"
    :disabled="disabled"
    native-type="submit"
    class="el-button el-button--default"
  >
    {{ $trans('actions.save_changes') }}
  </el-button>
</template>

<script>
import { mapFields } from 'vuex-map-fields';
import Worldpay from 'worldpay';
import WorldPayField from "Modules/payment/components/PaymentMethod/form/worldpay/WorldPayField";
import _ from 'lodash';
import { formatCardExpiry} from "Foundation/helpers/card-expiry";

export default {
  /**
   * Name.
   */
  name: 'WorldPayForm',

  /**
   * Components.
   */
  components: { WorldPayField },

  /**
   * Props
   */
  props: {
    /**
     * If Component is should used like cardNumber
     */
    useCardNumber: {
      type: Boolean,
      default: false,
    },

    /**
     * If Component is should be used like cvv
     */
    useCvv: {
      type: Boolean,
      default: false,
    },

    /**
     * If Component is should be used like cvv
     */
    useExpiry: {
      type: Boolean,
      default: false,
    },

    /**
     * If Component is should contain submit logic
     */
    useSubmit: {
      type: Boolean,
      default: false,
    },

    /**
     * Parent form reference
     */
    form: {
      type: Object,
      default: null,
    },

    /**
     * If submit button disabled
     */
    disabled: {
      type: Boolean,
      default: true,
    },

    showMode: {
      type: Boolean,
      default: false,
    }
  },

  /**
   * Reactive properties.
   * @returns {{}}
   */
  data() {
    return {
      checkout: null,
      wpForm: null,
      loading: false
    };
  },

  /**
   * Computed props
   */
  computed: {
    /**
     * Map state fields.
     */
    ...mapFields('payment', {
      brand :'payment.brand',
      session: 'payment.session',
      last4 :'payment.last4',
      expMonth: 'payment.exp_month',
      expYear: 'payment.exp_year',
    }),

    /**
     * WP config
     */
    config () {
      return this.$config['world-pay']['front_end'];
    },

    /**
     * Fields object configuration
     */
    fieldsOptions () {
      return {
        pan: {
          selector: `#${_.get(this.config, 'selectors.card')}`,
          placeholder: this.$trans('payment::labels.card_number_placeholder'),
        },
        cvv: {
          selector: `#${_.get(this.config, 'selectors.cvv')}`,
          placeholder: this.$trans('payment::labels.security_code_placeholder'),
        },
        expiry: {
          selector: `#${_.get(this.config, 'selectors.expiry')}`,
          placeholder: this.$trans('payment::labels.expiration_date_placeholder'),
        },
      };
    },

    /**
     * Card cvv
     */
    cvv () {
      return this.showMode ? this.cvvMask : null;
    },

    /**
     * Card cvv mask
     */
    cvvMask () {
      return this.brand && this.brand.toLowerCase().split(' ').join('_') === 'american_express' ? '****' : '***';
    },

    /**
     * Formatted card expiration
     */
    expiration () {
      if (this.showMode && this.expMonth && this.expYear) {
        return formatCardExpiry(this.expMonth, this.expYear);
      }
      return null;
    },

    /**
     * Formatted card number
     */
    cardNumber () {
      return this.showMode ? `************${this.last4}` : null;
    }
  },

  /**
   * Methods.
   */
  methods: {
    /**
     * WP init.
     */
    init (form) {
      this.wpForm = form;
      Worldpay.checkout.init({
          id: _.get(this.config, 'checkout_id'),
          form: `#${this.wpForm.id}`,
          fields: this.fieldsOptions,
          styles: this.$config['world-pay']['front_end'].styles,
        },
        this.wpCallback
      );
    },

    /**
     * On submit form event handler.
     */
    onSubmitHandler (event) {
      event.preventDefault();
      if (this.loading) {
        return;
      }
      this.loading = true;

      this.checkout.generateSessionState((error, sessionState) => {
        this.loading = false;
        if (error) {
          this.$notify.error({
            message: error
          });
          return;
        }
        this.session = sessionState;
        this.$emit('created');
      });
    },

    /**
     * On card defined event handler.
     */
    onCardTypeDefined (event) {
      if (event.detail.type) {
        this.brand = event.detail.type;
      }
    },

    /**
     * On form valid event handler.
     */
    onFormValid (event) {
      this.$emit('valid', event.detail['is-valid']);
    },

    /**
     * On form ready event handler.
     */
    onFormReady (event) {
      this.$emit('ready', event.detail['is-ready']);
    },

    /**
     * Main WP callback.
     */
    wpCallback (error, checkout) {
      if (error) {
        return;
      }
      this.checkout = checkout;
      this.wpForm.addEventListener('submit', this.onSubmitHandler);
      this.wpForm.addEventListener("wp:form:change", this.onFormValid);
      this.wpForm.addEventListener("wp:card:change", this.onCardTypeDefined);
      this.wpForm.addEventListener("wp:form:ready", this.onFormReady);
    },
  }
};
</script>
