<template>
  <el-dropdown
    :tabindex="1"
  >
    <span class="el-dropdown-link button-profile">
      <span class="button-profile__avatar">
        {{ firstLetterOfProfileName }}
      </span>
      <strong class="button-profile__name">
        {{ firstName }}
      </strong>
    </span>
    <el-dropdown-menu slot="dropdown">
      <el-dropdown-item
        v-for="item in filteredItems"
        :key="item.href"
        ref="dropDownItems"
      >
        <a
          href="#"
          @click.prevent="onClick(item)"
        >
          {{ item.title }}
        </a>
      </el-dropdown-item>
    </el-dropdown-menu>
  </el-dropdown>
</template>

<script>
  import axios from 'axios';
  import { get } from 'lodash';

  const ENTER_KEY_CODE = 13;

  export default {
    /**
     * Name of the component.
     */
    name: "DropdownNavigation",

    /**
     * Computed properties.
     */
    computed: {

      /**
       * Profile name.
       *
       * @returns {*}
       */
      firstName () {
        return get(this.$store, 'state.profile.user.firstName') || this.$user.firstName;
      },

      /**
       * Returns the first letter of the user's profile name.
       *
       * @returns String.
       */
      firstLetterOfProfileName () {
        return this.firstName ? this.firstName[0] : '';
      },

      /**
       * Logout url.
       *
       * @returns {String}
       */
      logoutUrl () {
        return this.$user.isAdmin ?
          this.$getRoute('api.auth.admin-logout') :
          this.$getRoute('api.auth.logout')
      },

      /**
       * Menu items.
       *
       * @returns {{title: *, href: *}[]}
       */
      items () {
        return [
          {
            title: this.$trans('labels.account'),
            href: this.$getRoute('users.profile'),
            permission: 'update_profile',
          },
          {
            title: this.$trans('labels.sign_out'),
            href: this.logoutUrl,
            method: 'post',
          },
        ];
      },

      /**
       * Filtered menu items.
       *
       * @returns {*}
       */
      filteredItems () {
        return this.items.filter(item => {
          return !item.permission || this.$hasPermission(item.permission);
        });
      },
    },

    /**
     * Mounted hook.
     */
    mounted () {
      this.setKeyDownHandlers();
    },

    /**
     * Destroyed hook.
     */
    destroyed () {
      this.removeKeyDownHandlers();
    },

    /**
     * Available methods.
     */
    methods: {
      /**
       * On click handler.
       *
       * @param item
       */
      onClick (item) {
        if (item.href === this.$getRoute('api.auth.logout')) {
          this.handleLogout(item);
          return;
        }

        if (item.method === 'post') {
          this.handlePost(item);
        } else {
          this.$redirect(item.href);
        }
      },

      /**
       * Handle post request.
       *
       * @param item
       */
      handlePost(item) {
        this.$call(axios.post(item.href)).then(({ data: { redirect } }) => {
          if (redirect) {
            this.$redirect(redirect);
          }
        });
      },

      /**
       * Handle logout.
       *
       * @param item
       */
      handleLogout(item) {
        this.handlePost(item);
        window.localStorage.clear();
      },

      /**
       * Set key-down handlers to menu items.
       */
      setKeyDownHandlers () {
        this.$refs.dropDownItems.forEach(el => {
          el.$el.addEventListener('keydown', this.enterKeyHandler);
        });
      },

      /**
       * Remove key-down handlers from menu items.
       */
      removeKeyDownHandlers () {
        this.$refs.dropDownItems.forEach(el => {
          el.$el.removeEventListener('keydown', this.enterKeyHandler);
        });
      },

      enterKeyHandler () {
        if (event.keyCode === ENTER_KEY_CODE) {
          event.target.querySelector('a').click();
        }
      },
    },
  };
</script>
