<template>
  <el-header
    class="header"
    height="var(--main-header-height)"
  >
    <div class="header__holder">
      <logo
        @click="onLogoClick"
      />

      <!-- NAVIGATION -->
      <navigation :menu="menu" />

      <!-- ACTIONS (RIGHT SECTION) -->
      <div class="header__actions">
        <!-- NOTIFICATIONS -->
        <notification-box
          v-if="notificationsAllowed"
          @open-notification="(notification) => $emit('open-notification', notification)"
        />

        <!-- FAQ LINK -->
        <faq-link />

        <!-- PROFILE STATUS BUTTON -->
        <profile-status v-if="$user.states.is_pending" />

        <!-- DROPDOWN NAVIGATION -->
        <dropdown-navigation />
      </div>
    </div>
  </el-header>
</template>

<script>
  import DropdownNavigation from './DropdownNavigation';
  import FaqLink from 'Modules/faq/components/faq-link/FaqLink';
  import Logo from '../logos/Logo';
  import Navigation from './Navigation';
  import NavigationProperties from './mixins/NavigationProperties';
  import NotificationBox from 'Modules/notification/components/notification-box/NotificationBox';
  import ProfileStatus from 'Foundation/components/layout/header/ProfiveStatus';
  import TabIndexes from 'Foundation/mixins/TabIndexes';
  import { getTopNavigationIndex } from 'Foundation/helpers/tab-indexes';

  export default {
    /**
     * Component name
     */
    name: 'Header',

    /**
     * Components
     */
    components: {
      ProfileStatus,
      NotificationBox,
      DropdownNavigation,
      FaqLink,
      Logo,
      Navigation,
    },

    /**
     * Mixins
     */
    mixins: [
      NavigationProperties,
      TabIndexes,
    ],

    /**
     * Computed props
     */
    computed: {
      /**
       * Whether user has permissions to view notifications
       */
      notificationsAllowed() {
        return this.$hasPermission('view_notification');
      },
    },

    /**
     * Available methods.
     */
    methods: {
      /**
       * On logo click event handler.
       */
      onLogoClick () {
        this.$redirect('/');
      },

      /**
       * @inheritdoc
       * @returns {number}
       */
      getComponentTabIndex () {
        return getTopNavigationIndex();
      }
    },
  };
</script>
