<template>
  <el-menu
    ref="m"
    class="el-menu navigation"
    mode="horizontal"
    :default-active="menu"
  >
    <el-menu-item
      v-for="(item, index) in filteredItems"
      :key="index"
      :index="item.name"
    >
      <a
        ref="links"
        :href="item.href"
        @click.prevent="linkClick(item.href)"
      >
        {{ item.title }}
      </a>
    </el-menu-item>
  </el-menu>
</template>

<script>
  import NavigationProperties from './mixins/NavigationProperties';

  const ENTER_KEY_CODE = 13;

  export default {
    /**
     * Name of the component.
     */
    name: "Navigation",

    /**
     * Mixins
     */
    mixins: [NavigationProperties],

    /**
     * Computed properties.
     */
    computed: {
      /**
       * All menu items.
       *
       * @returns {*[]}
       */
      items () {
        return [
          {
            href: this.$getRoute('advertisers.index'),
            title: this.$trans('advertiser::labels.advertisers'),
            permission: 'list_advertiser',
            name: 'advertisers',
          },
          {
            href: this.$getRoute('campaigns.index'),
            title: this.$trans('campaign::labels.campaigns'),
            permission: 'list_campaign',
            name: 'campaigns',
          },
          {
            href: this.$getRoute('reports.index'),
            title: this.$trans('report::labels.reports'),
            permission: 'list_report',
            name: 'reports',
          },
          {
            href: this.$getRoute('creatives.index'),
            title: this.$trans('creative::content.creative_gallery'),
            permission: 'list_creative',
            name: 'creatives',
          },
          {
            href: this.$getRoute('invitations.index'),
            title: this.$trans('invitation::labels.invitations'),
            permission: 'list_invitation',
            name: 'invitations',
          },
          {
            href: this.$getRoute('broadcast.index'),
            title: this.$trans('broadcast::labels.broadcasts'),
            permission: 'list_broadcast',
            name: 'broadcasts',
          },
        ];
      },

      /**
       * Filtered menu items.
       *
       * @returns {*}
       */
      filteredItems () {
        return this.items.filter(item => (this.$hasPermission(item.permission)));
      },

    },

    /**
     * Mounted hook.
     */
    mounted () {
      this.setKeyDownHandlers();
    },

    /**
     * Destroyed hook.
     */
    destroyed () {
      this.removeKeyDownHandlers();
    },

    /**
     * Methods
     */
    methods: {
      /**
       * Set key-down handlers to menu items.
       */
      setKeyDownHandlers () {
        this.$refs.m.$el.querySelectorAll('li').forEach(el => {
          el.addEventListener('keydown', this.enterKeyHandler);
        });
      },

      /**
       * Remove key-down handlers from menu items.
       */
      removeKeyDownHandlers () {
        this.$refs.m.$el.querySelectorAll('li').forEach(el => {
          el.removeEventListener('keydown', this.enterKeyHandler);
        });
      },

      /**
       * Simulate native Enter key-press handler on the link.
       * @param event
       */
      enterKeyHandler (event) {
        if (
          event.target.nodeName === 'A' &&
          event.keyCode === ENTER_KEY_CODE
        ) {
          event.target.click();
        }
      },

      /**
       * Simulate native click on the link.
       * @param href
       */
      linkClick (href) {
        window.location.href = href;
      },
    }
  };
</script>
