<template>
  <div class="details-chart">
    <div class="text-label-xs-semibold-caps details-chart__title">
      {{ title }}
    </div>
    <p class="text-body-sm details-chart__subtitle details-chart__subtitle--top">
      {{ legend }}
    </p>
    <p class="text-body-sm details-chart__subtitle details-chart__subtitle--bottom">
      {{ xAxisTitle }}
    </p>
    <p class="text-body-sm details-chart__subtitle details-chart__subtitle--left">
      {{ yAxisTitle }}
    </p>
    <bar
      ref="chart"
      :height="height"
    />
  </div>
</template>

<script>
  import { Bar } from 'vue-chartjs'

  export default {
    /**
     * Extends
     */
    components: { Bar },

    /**
     * Props
     */
    props: {
      /**
       * Chart data
       */
      chartdata: {
        type: [Array, Object],
        required: true,
      },
      /**
       * Options
       */
      options: {
        type: [Array, Object],
        default: function () {
          return [];
        }
      },

      /**
       * Chart height
       */
      height: {
        type: Number,
        default: 200
      },

      /**
       * Chart title
       */
      title: {
        type: String,
        default: 'Data chart'
      },

      /**
       * X title
       */
      xAxisTitle: {
        type: String,
        default: 'X Axis'
      },

      /**
       * Y title
       */
      yAxisTitle: {
        type: String,
        default: 'Y Axis'
      },

      /**
       * chart legend
       */
      legend: {
        type: String,
        default: ''
      },
    },

    /**
     * Watchers
     */
    watch: {
      /**
       * Rerender with new data
       */
      chartdata () {
        this.render();
      }
    },

    /**
     * Created
     */
    mounted () {
      this.render();
    },

    /**
     * Methods
     */
    methods: {
      render () {
        if (this.chartdata.labels.length > 1) {
          this.$refs['chart'].renderChart(this.chartdata, this.options);
        }
      }
    }
  }
</script>
