<template>
  <div class="details-chart chart doughnut-chart">
    <doughnut
      ref="chart"
      :height="height"
    />
  </div>
</template>

<script>
  import { get, map, merge, sortBy } from 'lodash';
  import { Doughnut } from 'vue-chartjs';
  import { generateChartImages } from 'Foundation/components/chart/helpers/chart-images';
  // We need to import the ChartPieceLabel plugin in order it to be applied to the Chart.js library.
  import ChartPieceLabel from './helpers/Chart.PieceLabel'; // eslint-disable-line no-unused-vars

  const CHART_IMAGE_WIDTH = 100;
  const CHART_IMAGE_HEIGHT = 145;

  export default {
    /**
     * Extends
     */
    components: { Doughnut },

    /**
     * Props
     */
    props: {
      /**
       * Chart data.
       */
      chartData: {
        type: [Object],
        default: function () {
          return {};
        },
        required: true,
      },
      /**
       * Options.
       */
      chartOptions: {
        type: [Object],
        default: function () {
          return {};
        }
      },

      /**
       * Chart height.
       */
      height: {
        type: Number,
        default: 700
      },
    },

    /**
     * Data.
     */
    data () {
      return {
        chartDataDefault: {
          datasets: [
            {
              borderWidth: 0,
              backgroundColor: [],
              data: [],
            }
          ],
          custom: {
            images: []
          }
        },
        chartOptionsDefault: {
          tooltips: {
            enabled: false
          },
          responsive: true,
          maintainAspectRatio: false,
          cutoutPercentage: 70,
          legend: {
            display: false,
          },
          pieceLabel: {
            segmentColor: '#000000',
            render: 'image',
            position: 'outside',
            segment: true,
            images: [],
          }
        },
      };
    },

    /**
     * Watchers.
     */
    watch: {
      /**
       * Re-render chart with updated data.
       */
      chartData () {
        this.render();
      }
    },

    /**
     * Created.
     */
    mounted () {
      this.render();
    },

    /**
     * Methods.
     */
    methods: {
      /**
       * Render the chart.
       */
      async render () {
        const data = this.adjustChartData(this.chartData, this.chartDataDefault);
        const options = this.adjustChartItems(this.chartOptions, this.chartOptionsDefault);
        let images = this.extractChartImages(data);
        try {
          options.pieceLabel.images = await generateChartImages(images, '/css/charts.css');
          this.$refs['chart'].renderChart(data, options);
        } catch (e) {
          this.$emit('failed', e);
        }
      },

      /**
       * Prepare images-data for generating chart images.
       * @param {*} data
       * @returns {Array}
       */
      extractChartImages (data) {
        const images = [];
        for (let i = 0; i < data.datasets[0].data.length; i++) {
          images.push({
            color: data.datasets[0].backgroundColor[i],
            value: data.datasets[0].data[i],
            label: data.labels[i],
            image: get(data, `custom.images[${i}].image`, ''),
            width: get(data, `custom.images[${i}].width`, CHART_IMAGE_WIDTH),
            height: get(data, `custom.images[${i}].height`, CHART_IMAGE_HEIGHT),
          });
        }
        return images;
      },

      /**
       * Adjust chart data.
       * @param {*} chartData
       * @param {*} defaultItems
       * @returns {*}
       */
      adjustChartData (chartData, defaultItems = {}) {
        let data = this.groupChartData(chartData);
        data = this.sortData(data);
        this.setupChartData(chartData, data);
        return this.adjustChartItems(chartData, defaultItems);
      },

      /**
       * Group chart data for subsequent sorting and resetting chart data.
       * @returns {Array}
       */
      groupChartData (data) {
        const groupedData = [];
        for (let i = 0; i < data.datasets[0].data.length; i++) {
          groupedData.push({
            value: data.datasets[0].data[i],
            color: data.datasets[0].backgroundColor[i],
            label: data.labels[i],
            image: get(data, `custom.images[${i}]`, {}),
          });
        }
        return groupedData;
      },

      /**
       * Fill out chart data with processed data.
       * @param {*} chartData
       * @param {*} data
       * @returns {*}
       */
      setupChartData (chartData, data) {
        chartData.datasets[0].data = map(data, 'value');
        chartData.datasets[0].backgroundColor = map(data, 'color');
        chartData.labels = map(data, 'label');
        chartData.custom.images = map(data, 'image');
      },

      /**
       * To avoid overlapping of images with the small values we need to place the lowest values to first and last positions on the chart.
       * @param {Array} data
       * @returns {Array}
       */
      sortData (data) {
        data = sortBy(data, item => item.value);
        data.push(data.shift());
        return data;
      },

      /**
       * Extend defaults charts data/options with the ones from the properties.
       * @param data
       * @param defaultItems
       * @returns {*}
       */
      adjustChartItems (data, defaultItems = {}) {
        return merge(
          {},
          defaultItems,
          data,
        );
      },
    }
  }
</script>
