<template>
  <div class="details-chart">
    <p class="text-label-xxs details-chart__subtitle details-chart__subtitle--top">
      {{ legend }}
    </p>
    <p class="text-label-xxs details-chart__subtitle details-chart__subtitle--bottom">
      {{ xAxisTitle }}
    </p>
    <p class="text-label-xxs details-chart__subtitle details-chart__subtitle--left">
      {{ yAxisTitle }}
    </p>
    <line-component
      ref="chart"
      class="bordered"
      :height="height"
    />
  </div>
</template>

<script>
  import { merge } from 'lodash'
  import { Line as LineComponent } from 'vue-chartjs'

  export default {
    /**
     * Extends.
     */
    components: { LineComponent },

    /**
     * Props.
     */
    props: {
      /**
       * Chart data.
       */
      data: {
        type: Object,
        required: true,
      },
      /**
       * Options.
       */
      options: {
        type: Object,
        default: function () {
          return {};
        }
      },

      /**
       * Line gradient color start.
       */
      lineColorStart: {
        type: String,
        default: ''
      },

      /**
       * Line gradient color end.
       */
      lineColorEnd: {
        type: String,
        default: ''
      },

      /**
       * Chart height.
       */
      height: {
        type: Number,
        default: 200
      },

      /**
       * X title.
       */
      xAxisTitle: {
        type: String,
        default: 'X Axis'
      },

      /**
       * Y title.
       */
      yAxisTitle: {
        type: String,
        default: 'Y Axis'
      },

      /**
       * Chart legend.
       */
      legend: {
        type: String,
        default: ''
      },
    },

    /**
     * Data.
     */
    data () {
      return {
        defaultChartData: {
          datasets: [
            {
              fill: false,
              lineTension: 0,
              pointRadius: 0,
              borderColor: '#5D7CE9',
              borderWidth: 5,
            },
          ]
        },
        defaultChartOptions: {
          xScalePaddingLeft: 200,
          xScalePaddingRight: 200,
          defaultFontFamily: 'Arial',
          legend: false,
          scales: {
            xAxes: [{
              gridLines: {
                color: "rgba(0, 0, 0, 0)",
              },
            }],
            yAxes: [{
              ticks: {
                padding: 10,
                beginAtZero: true,
              },
              gridLines: {
                drawBorder: false,
              },
            }],
          }
        }
      }
    },

    /**
     * Computed props.
     */
    computed: {
      /**
       * Get adjusted chart data.
       */
      chartData () {
        return this.adjustChartData();
      },

      /**
       * Get adjusted chart options.
       */
      chartOptions () {
        return this.adjustChartOptions();
      },
    },

    /**
     * Watchers.
     */
    watch: {
      /**
       * Re-render with new data.
       */
      data () {
        this.render();
      }
    },

    /**
     * Created hook.
     */
    mounted () {
      this.render();
    },

    /**
     * Methods.
     */
    methods: {
      /**
       * Render the chart.
       */
      render () {
        if (this.data.labels.length > 1) {
          this.$refs.chart.renderChart(this.chartData, this.chartOptions);
        }
      },

      /**
       * Adjust chart data.
       * @returns {*}
       */
      adjustChartData () {
        const chartData = merge(
          {},
          this.defaultChartData,
          this.data,
        );
        this.applyGradientToLine(chartData);
        return chartData;
      },

      /**
       * Adjust chart options.
       * @returns {*}
       */
      adjustChartOptions () {
        return merge(
          {},
          this.defaultChartOptions,
          this.options,
        );
      },

      /**
       * Apply line gradient filling if both colors are set.
       * @returns {*}
       */
      applyGradientToLine (chartData) {
        const canvas = this.$refs.chart.$el.querySelector('canvas');
        if (!(canvas && this.lineColorStart && this.lineColorEnd)) {
          return chartData;
        }
        const ctx = canvas.getContext('2d');
        const gradientStroke = ctx.createLinearGradient(500, 0, 100, 0);
        gradientStroke.addColorStop(0, this.lineColorEnd);
        gradientStroke.addColorStop(1, this.lineColorStart);
        chartData.datasets[0].borderColor = gradientStroke;
        return chartData;
      },
    }
  }
</script>
