<template>
  <div class="line-scale">
    <div class="line-scale__bar">
      <div class="line-scale__bar--inner">
        <template
          v-for="(value, index) in chartData"
        >
          <span
            v-if="index < maxChartLength"
            :key="index"
            :style="{
              ['width']: value.percentage+'%',
            }"
          />
        </template>
      </div>
    </div>
    <div class="line-scale__body">
      <template
        v-for="(value, index) in chartData"
      >
        <div
          v-if="index < maxChartLength"
          :key="index"
          class="line-scale__row"
        >
          <div class="line-scale__title">
            <span
              :style="{
                ['background-color']: value.backgroundColor,
              }"
            />
            {{ value.title }}
          </div>
          <div class="line-scale__value">
            <span>{{ value.displayValue }}</span>
          </div>
        </div>
      </template>
    </div>
  </div>
</template>

<script>
  const MAX_DATA_LENGTH = 5;

  export default {
    name: 'ScaleChart',

    /**
     * Component properties
     */
    props: {
      /**
       * Chart date
       */
      chartData: {
        type: Array,
        required: true,
        default: () => {
          return [];
        },
        validator: value => value.length <= MAX_DATA_LENGTH
      }
    },

    /**
     * Computed.
     */
    computed: {
      maxChartLength() {
        return MAX_DATA_LENGTH;
      }
    }
  }
</script>
