<template>
  <!--
    Add one of the extra classes for speedometer-indicator to set the current state:
      .is-set
      .is-loading
      .is-pending
  -->
  <div class="speedometer-indicator is-pending">
    <svg
      id="half-circle"
      viewBox="0 0 106 57"
      width="150"
    >
      <defs>
        <linearGradient
          id="speedometer-indicator-gradient"
          x1="1"
          x2="0"
          y1="1"
          y2="0"
        >
          <stop
            offset="50%"
            stop-color="#1AE67F"
          />
          <stop
            offset="65%"
            stop-color="#FFAA00"
          />
          <stop
            offset="100%"
            stop-color="#E61A4C"
          />
        </linearGradient>
      </defs>
      <path d="M102 4c0 27.1-21.9 49-49 49S4 31.1 4 4" />
    </svg>
    <div class="speedometer-indicator__text">
      <span>Unavailable</span>
      <span>Available</span>
    </div>
    <div class="needle">
      <div
        class="needle__inner"
        :style="`--delivery-percentage: ${calculateDelivery}`"
      >
        <div class="needle__circle">
          <svg
            width="46"
            height="9"
            viewBox="0 0 46 9"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M45.1769 3.61183L4.93299 0.0168536C2.27971 -0.208941 -1.2358e-07 1.86289 0 4.5C1.2358e-07 7.13712 2.27972 9.20894 4.93299 8.98315L45.1769 5.38817C46.2744 5.29477 46.2744 3.70523 45.1769 3.61183Z"
              fill="var(--needle-background)"
            />
          </svg>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "InventoryDeliveryIndicator",

  /**
   * Component properties
   */
  props: {
    /**
     * Delivery percentage
     */
    deliveryPercentage: {
      type: Number,
      default: 0,
    }
  },

  computed: {
    calculateDelivery() {
      let delivery = this.deliveryPercentage;

      if (delivery < 0) delivery = 0;
      if (delivery > 100) delivery = 100;

      return delivery;
    }
  }
}
</script>
