<template>
  <div>
    <a
      v-if="enabled"
      href="#"
      class="account-info__change"
      @click.prevent="onClick"
    >
      <slot />
    </a>
    <span
      v-else
      class="account-info__change"
    >
      <slot />
    </span>
  </div>
</template>

<script>
  export default {
    /**
     * Name of the component.
     */
    name: "CardSectionAction",

    /**
     * Properties.
     */
    props: {
      /**
       * Verify whether the action button is active.
       */
      enabled: {
        type: Boolean,
        default: true,
      },
    },

    /**
     * Methods.
     */
    methods: {
      /**
       * On click event handler.
       */
      onClick () {
        this.$emit('click');
      },
    },
  };
</script>
