<template>
  <div class="account-info__item">
    <p class="account-info__name">
      <slot name="title" />
    </p>
    <p
      v-if="!contentItems.length"
      class="account-info__value"
    >
      <slot name="content" />
    </p>
    <p
      v-for="(item, index) in contentItems"
      :key="index"
      class="account-info__value"
    >
      {{ item }}
    </p>
  </div>
</template>

<script>
  export default {
    /**
     * Name of the component.
     */
    name: "CardSectionItem",

    /**
     * Properties.
     */
    props: {
      /**
       * Content items.
       */
      contentItems: {
        type: Array,
        required: false,
        default () {
          return [];
        },
      },
    },
  };
</script>
