<template>
  <div class="profile-card__panel">
    <strong class="profile-card__subtitle text-subtitle-md-semibold">
      <slot />
    </strong>
    <slot name="after" />
  </div>
</template>

<script>
  export default {
    /**
     * Name of the component.
     */
    name: "CardSectionTitle",
  };
</script>
