//bar on performance tab
.details-chart {
  position: relative;

  &__title {
    margin-bottom: 24px;
  }

  &__subtitle {
    @extend .text-size-xxs;
    position: absolute;
    text-transform: uppercase;

    &--top {
      left: 50%;
      top: 30px;
      transform: translateX(-50%);
    }

    &--bottom {
      display: block;
      left: 50%;
      bottom: 16px;
      transform: translateX(-50%);
    }

    &--left {
      left: -15px;
      top: 50%;
      transform: translateY(-50%) rotate(-90deg);
    }
  }

  > div:nth-of-type(1).bordered {
    border: 1px solid var(--fg-offset85);
    padding: 72px 40px 54px 50px;
  }

  p {
    color: var(--color-text-med);
  }
}
