.campaign-sidebar {
  position: absolute;
  display: flex;
  flex-direction: column;
  right: 0;
  top: 152px;
  width: 30%;
  max-width: 456px;
  padding: 0 12px;
  z-index: 0;
  box-shadow: var(--box-shadow-sidebar);
  height: calc(100vh - 184px);
  transition: height .2s linear;

  @media screen and (max-width: 1299px) {
    right: auto;
    left: 912px;
  }

  .current {
    color: var(--fg-offset50);
  }
  .deleted {
    text-decoration: line-through;
  }

  .inline-list {
    li {
      display: inline;
    }
  }

  &:before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    bottom: 0;
    box-shadow: var(--box-shadow-sidebar-extra);
    z-index: -1;

    @media screen and (max-height: 540px) {
      box-shadow: var(--box-shadow-sidebar-extra-min);
    }
  }

  .sidebar-budget {
    .first-block {
      border-bottom: 1px solid var(--border-color-gray);
    }

    .footer-block {
      font-size: 10px;
      color: var(--color-text-sm-low);
      position: relative;
      display: flex;

      &__date {
        width: 50%;
      }

      .el-link {
        @extend .text-size-xxxs;
        color: var(--color-text-sm-low);
        text-decoration: underline;
      }

      .speedometer-indicator__text {
        width: 48%;
        font-size: 10px;
        color: var(--color-text-sm-low);
        display: flex;
        justify-content: space-between;

        span {
          top: 0;
        }
      }
    }

    .collapse-grid {
      &.messages_list {
        display: block;
      }

      .tile-badge-sm {
        &__danger {
          color: var(--color-danger);
        }
      }

      &__content {
        .link {
          margin-top: 6px;

          a {
            @extend .text-body-xxs;
            color: var(--color-text-high);
            text-decoration: underline;
          }
        }

        &.list {
          ol {
            padding-left: 15px;

            li {
              margin-bottom: 5px;
            }
          }

          span {
            cursor: pointer;
            text-decoration: underline ;
          }
        }

        &-inner {
          align-items: center;

          span {
            margin-right: 6px;
          }

          a {
            display: flex;
            align-items: center;
            text-decoration: underline;
            margin-left: 6px;

            .icon {
              margin: 0 0 -4px 5px;

              svg {
                stroke: #F0F2F4;//TODO: adjust color variable after SVG 'warning' fixes
              }
            }
          }
        }
      }
    }
  }

  &__header {
    padding: 24px 28px 16px 28px;
    margin: 0 -12px;
    border-bottom: 1px solid var(--border-color-gray);

    .date-block {
      &,
      &__container {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        flex-wrap: wrap;
      }

      &__container {
        justify-content: flex-start;
      }

      &__title {
        width: 100%;
        flex: 0 0 100%;
        padding-right: 4px;
        text-align: left;
      }

      &__count {
        padding-left: 4px;
      }
    }

    .status-badge {
      margin-left: 8px;
    }

    p {
      margin-bottom: 0;
      word-break: break-word;
      white-space: normal;
    }

    > p {
      @extend .text-label-sm;
      @extend .text-lineheight-125;
      margin-bottom: 8px;
    }

    span {
      @extend .text-body-xxs;
      text-align: right;
    }

    .status {
      text-align: right;
    }

    .current {
      color: var(--color-text-med);
    }
  }

  &__title {
    display: flex;
    align-items: center;
    margin-bottom: 8px;

    > div {
      font-size: 0;//Removed empty space on status-badge component
    }

    .status-badge {
      @extend .text-label-xxxs-semibold-caps;
    }
  }

  &__content {
    flex-grow: 1;
    overflow: auto;
    padding: 24px 16px 0;
    position: relative;
    @extend %custom-scrollbar;
  }

  &__placeholder {
    text-align: center;
    width: 280px;
    position: absolute;
    left: 50%;
    top: 36%;
    transform: translate(-50%, -50%);

    p {
      margin: 15px auto;
    }
  }

  .video-item {
    border: 0;
    padding: 8px 0 24px 0;
    margin-bottom: 24px;
    flex-wrap: nowrap;

    &__info {
      padding-top: 0;
    }
  }

  .video-info {
    padding-right: 0;
    justify-content: center;

    &__name {
      @extend .text-body-xxs;
      display: block;
    }

    &__date-upload {
      margin-top: auto;
      margin-bottom: 0;
      color: var(--color-text-sm-low);
    }

    &__list {
      display: flex;
      align-items: center;
      width: 100%;
      padding-right: 0;
      font-weight: $--font-weight-regular;


      &-item {
        padding: 0 15px;
        position: relative;

        @media screen and (max-width: 1439px) {
          padding: 0 12px;
        }

        @media screen and (max-width: 1299px) {
          padding: 0 8px;
        }
      }
    }
  }
}

.campaign-sidebar__collapse {
  .el-collapse {
    border: 0;
  }

  .el-collapse-item {
    margin-bottom: 12px;
    border-radius: $--border-radius-base;
    background-color: var(--bg-offset5);
    overflow: hidden;
    padding: 0 24px;

    &.no-click .el-collapse-item__header {
      pointer-events: none;
    }

    &__header {
      display: grid;
      grid-gap: 24px;
      grid-template-columns: 1fr 46px;
      padding: 21px 38px 17px 0;
      height: auto;
      background-color: transparent;
      border-width: 0;
      border-color: var(--border-color-gray);

      .indicator {
        @extend .text-size-xxs;
        text-align: right;
        color: var(--color-text-high);

        i {
          display: block;
          margin: -1px 0 0 auto;
        }
      }

      &.is-active {
        border-bottom: 1px solid var(--border-color-gray);

        .collapse-icon {
          transform: translateY(-58%) rotate(0);
        }
      }
    }

    &__wrap {
      border: 0;
      background-color: transparent;
      padding: 24px 0;
      overflow: visible;
    }

    &__content {
      line-height: 1;
      padding-bottom: 0;
      word-break: break-word;
    }

    .collapse-option {
      @extend .text-label-sm;
      color: var(--color-text-high);
      position: relative;

      &.is-active {
        &:before {
          content: "";
          position: absolute;
          top: 21px;
          left: -12px;
          width: 8px;
          height: 8px;
          background-color: var(--color-success);
          border-radius: 100%;
        }
      }
    }

    .collapse-icon {
      position: absolute;
      right: 0;
      top: 51%;
      transform: translateY(-50%) rotate(180deg);
      transition: $--all-transition;
    }
  }
}

.payment-sidebar,
.review-sidebar {
  min-width: 500px;
  max-width: 550px;
  margin-left: auto;
  position: sticky;
  top: 170px;

  @media screen and (max-height: 570px) {
    top: 118px;
  }

  .video-info {
    padding-right: 0;
  }

  &__footer {
    padding-top: 15vh;
    text-align: right;
  }

  > p {
    a {
      font-size: inherit;
    }
  }
}

.payment-details {
  a {
    font-size: inherit;
  }
}

.no-creative {
  border: 1px solid var(--border-color-base);
  box-sizing: border-box;
  border-radius: $--border-radius-base;
  padding: 24px;

  img {
    width: 55px;
    display: block;
    margin-bottom: 16px;
  }

  p {
    line-height: 1.8;
  }

  &__title {
    @extend .text-label-sm;
    margin-bottom: 4px;
  }
}

.wizard-controls {
  position: fixed;
  text-align: right;
  bottom: 0;
  right: calc(30% + var(--wizard-controls-offset-x));
  z-index: 0;

  &:before {
    display: block;
    height: calc(100vh - 300px);

    @media screen and (max-width: 1315px) {
      content: '';
    }

    @media screen and (max-height: 767px) {
      height: calc(100vh - 250px);
    }

    @media screen and (max-height: 570px) {
      height: 50vh;
      content: '';
    }
  }

  &:after {
    display: block;
    height: 20vh;
    max-height: 150px;
    min-height: 60px;

    @media screen and (max-height: 767px) {
      height: 80px;
    }

    @media screen and (min-width: 1316px) {
      content: '';
    }
  }

  @media screen and (min-width: 1472px) {
    right: 537px;
  }

  @media screen and (max-width: 1365px) {
    right: calc(30% + var(--wizard-controls-sm-offset-x));
  }

  @media screen and (max-height: 570px) {
    position: absolute;
    bottom: 0;
  }

  .payment-sidebar &,
  .review-sidebar & {
    position: relative;
    top: auto;
    right: auto;

    &:before {
      display: none;
    }

    ~ .text-info {
      margin-top: 24px;
    }
  }

  .payment-sidebar & {
    margin-top: 80px;
  }

  .el-button {
    + .el-button {
      margin-left: 24px;

      @media screen and (max-width: 1365px) {
        margin-left: 12px;
      }
    }
  }
}

.wizard-buttons {
  @extend .wizard-controls;
  width: 255px;

  &:after {
    content: '';
  }

  &:before {
    display: none;
  }

  @media screen and (max-width: 1300px) {
    position: fixed;
    right: auto;
    left: 701px;
    bottom: 0;
  }

  @media screen and (max-height: 570px) {
    position: fixed;
    bottom: 0;
  }
}

.collapse-grid {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;

  &.has-chart {
    margin-top: -8px;
    align-items: stretch;

    .collapse-grid__col.col-6 {
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      justify-content: center;
    }
  }

  &__row {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__col {
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 24px;

    &.col-6 {
      flex: 0 0 50%;
      max-width: 50%;

      &:nth-last-of-type(2),
      &:nth-last-of-type(1) {
        margin-bottom: 0;
      }

      ul {
        width: 100%;
        margin-bottom: 0;
      }
    }

    &.col-5 {
      flex: 0 0 41.7%;
      max-width: 41.7%;

      @media all and (max-width: 1415px) {
        flex: 0 0 33%;
        max-width: 33%;
      }

      &:nth-last-of-type(2),
      &:nth-last-of-type(1) {
        margin-bottom: 0;
      }

      ul {
        width: 100%;
        margin-bottom: 0;
      }
    }

    &.col-7 {
      flex: 0 0 58.3%;
      max-width: 58.3%;

      @media all and (max-width: 1415px) {
        flex: 0 0 66.7%;
        max-width: 66.7%;
      }

      &:nth-last-of-type(2),
      &:nth-last-of-type(1) {
        margin-bottom: 0;
      }

      ul {
        width: 100%;
        margin-bottom: 0;
      }
    }

    &:last-of-type {
      margin-bottom: 0;
    }

    &:nth-of-type(2) {
      ul {
        padding-right: 0;
      }
    }

    ul {
      @extend .text-body-xxs;
      width: 50%;
      flex: none;
      padding-right: 24px;
      color: var(--color-text-high);
      margin-bottom: 16px;

      &:nth-last-of-type(2),
      &:nth-last-of-type(1) {
        margin-bottom: 0;
      }

      li {
        margin-bottom: 5px;
        line-height: inherit;
        word-break: break-word;

        ul {
          width: 100%;
          margin-top: 5px;
          padding-left: 25px;
          margin-bottom: 0;
        }
      }

      &.no-children {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        flex-wrap: wrap;

        li {
          flex: 0 0 50%;
          max-width: 50%;
        }
      }

      &.column-separate {
        columns: 2;
        width: 100%;

        li {
          max-width: 100%;
        }
      }
    }

    //ul that doesn't have ul children
    ul.no-children {
      width: 100%;
      padding: 0;
    }
  }

  &__title {
    display: flex;
    align-items: center;
    color: var(--color-text-high);
    margin-bottom: 8px;
    position: relative;

    &.is-active {
      &:before {
        content: "";
        position: absolute;
        top: 4px;
        left: -12px;
        width: 8px;
        height: 8px;
        background-color: var(--color-success);
        border-radius: 100%;
      }
    }

    .icon {
      margin-left: 6px;
    }
  }

  &__content-inner {
    @extend .text-body-xxs;
    color: var(--color-text-med);
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
  }
}

.sidebar-grid-item {
  @extend .el-collapse-item;

  &__header {
    @extend .el-collapse-item__header;
    cursor: default;
    border-bottom: 1px solid var(--border-color-gray);
  }

  &__wrap {
    border: 0;
    background-color: transparent;
    overflow: visible;
    padding: 24px 0 0;

    &:last-of-type {
      margin-bottom: 24px;
    }

    ol {
      @extend .text-size-xxs;
      margin: 6px 0 0 0;
    }
  }

  &__content {
    @extend .el-collapse-item__content;
  }
}

.location-tab-content {
  margin-bottom: 30px;

  &:last-child {
    margin-bottom: 0;
  }

  .status-bar {
    margin-bottom: 5px;
  }

  &__item {
    p {
      margin: 0;
    }
  }
}

.audience-status {
  margin-bottom: 16px;
}

.audiences-item {
  margin-bottom: 25px;

  p {
    @extend .text-size-sm;
    margin-bottom: 0;
  }
}

.audiences-list {
  @extend .text-size-sm;
  padding-left: 25px;

  &__item {
    position: relative;
  }
}

.pick-locations__item {
  &.error {
    border-color: var(--color-danger);
  }
}

.review-campaign__list:not(.is-bordered) {
  ul {
    padding-right: 10px;
  }
}


