.base-date-range.el-date-editor {
  background-color: transparent;
  box-shadow: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: auto;

  &.el-input__inner {
    padding-right: 0;
    padding-left: 0;
  }

  .el-range__icon {
    color: var(--fg-offset85);
  }

  .el-range-input {
    border: 0;
    width: 238px;
    height: $--input-height;
    line-height: 1;
    text-align: left;
    font-family: inherit;
    font-weight: $--font-weight-regular;
    padding: 0 $--input-padding-x;
    background-color: var(--input-background-color);
    border-radius: $--input-border-radius;

    @media screen and (max-width: 1366px) {
      width: 100%;
    }

    &:focus,
    &.active {
      background-color: transparent;
    }
  }

  &.is-disabled {
    .el-range-input {
      border: none;
      color: var(--color-text-sm-low) !important;

      &:hover,
      &.active {
        border: none;
      }
    }
  }
}

.base-date-range {
  .wizard & {
    margin-bottom: 24px;
  }

  &__field {
    position: relative;
    margin-left: $--main-padding-middle-y-mobile;

    &:first-child {
      margin-left: 0;
    }
  }

  &__arrows {
    position: absolute;
    right: 0;
    top: 0;
    padding-right: 16px;
    display: flex;
    align-items: center;
    height: $--input-height;

    .el-button--text {
      @extend .text-size-sm;
      padding: 0;
      line-height: 1;
      height: auto;
      margin: 0;
    }
  }

  .full-width & {
    .base-date-range__field {
      width: 50%;

      .el-range-input {
        width: 100%;
      }
    }
  }
}

//Date Range component for filters (on Reports)
.select-date-range.el-form-item {
  position: relative;
  margin-right: 40px;

  .base-date-range.el-date-editor {
    justify-content: center;
    border: 1px solid transparent;

    &.el-input__inner {
      &:hover {
        border-color: var(--bg-offset100);
      }
    }

    .el-range-input {
      @extend .text-label-xxs;
      background-color: var(--border-color-gray);
      border: 0;
      box-shadow: none;
      width: 90px;
      height: 38px;
      line-height: 15px;
      padding-left: 0;
      cursor: default;
      opacity: 0;

      &:hover {
        &:focus {
          background-color: var(--border-color-gray);
          border-color: transparent;
        }
      }

      &.active {
        background-color: var(--border-color-gray);
        border-color: transparent;
      }
    }
  }

  .base-date-range {
    padding: 0 10px;

    &__field {
      margin-left: 0;

      &:first-of-type {
        .el-range-input {
          text-align: right;
          padding-right: 0;
        }
      }
    }

    &__arrows {
      display: none;
    }
  }

  .el-range-separator {
    @extend .text-label-xxs;
    width: 28px;
    display: none; //not filled state
    padding: 0 18px;
  }

  .el-form-item__label {
    @extend .text-label-xxs;
    position: absolute;
    margin-bottom: 0;
    z-index: 1;
    padding: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--color-text-high);
    pointer-events: none;
  }

  .el-input__inner {
    padding: 0 10px;
    width: 180px;
    border-radius: 45px;
    overflow: hidden;
    background: var(--border-color-gray);
    height: 40px;
  }

  .el-input__icon {
    display: none;

    &.el-range__close-icon {
      display: inline-block;
    }
  }

  //styles for filled select
  &.is-filled {
    .el-form-item__label {
      display: none;
    }

    .base-date-range.el-date-editor .el-range-input {
      opacity: 1;
    }

    .el-range-editor .el-range-input {
      @extend .text-size-xxs;
      cursor: default;
    }

    .el-input__inner {
      background-color: var(--border-color-gray);

      &:not(:focus) {
        background: var(--border-color-gray);
      }
    }

    .el-range-separator {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

.base-date-range__panel {
  &.el-picker-panel {
    border: 0;

    .el-date-range-picker__content.is-left {
      border-right: 0;
    }

    .el-picker-panel__content {
      position: static;

      &.is-left {
        .el-picker-panel__icon-btn {
          left: -12px;
        }
      }

      &.is-right {
        .el-picker-panel__icon-btn {
          right: -12px;
        }
      }
    }

    .el-picker-panel__icon-btn {
      color: var(--color-text-sm-low);
      position: absolute;
      box-shadow: var(--box-shadow-base);
      border-radius: 100%;
      width: 26px;
      height: 26px;
      text-align: center;
      margin: 0;
      padding: 0;
      background: var(--bg-base);
      top: 145px;
    }

    .el-picker-panel__footer {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 15px;
      background-color: transparent;
      border: 0;

      .el-button--mini {
        border-radius: 0;
        padding: 7px 28px;

        &.el-button--text {
          @extend .text-size-xs;
          color: var(--fgcolor-blue);
          padding-left: 0;

          &.is-disabled {
            color: var(--color-text-disabled1);
          }
        }
      }

      + .popper__arrow {
        display: none;
      }
    }

    .el-date-table {
      tr {
        &.only-another-month {
          display: none;
        }
      }

      th {
        border-bottom: 0;
      }

      td {
        span {
          &:after {
            content: '';
            position: absolute;
            left: 50%;
            top: 50%;
            width: 100%;
            height: 100%;
            transform: translate(-50%, -50%);
            border: 2px solid transparent;
            border-radius: 100%;
            z-index: 1;
          }
        }

        &.available {
          &:hover,
          &.focused {
            span {
              background-color: var(--bg-base);

              &:after {
                border-color: var(--color-success);
              }
            }
          }

          &.start-date,
          &.end-date {
            &:hover,
            &.focused {
              span {
                background-color: var(--fg-base);
              }
            }
          }
        }

        &.next-month,
        &.prev-month {
          visibility: hidden;
        }
      }
    }
  }
}
