.faq-wrapper {
  min-height: 68vh;

  ~ .contact {
    background-color: transparent;
  }
}

.faq-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1170px;
  padding-top: 80px;
  word-break: break-word;
}

.faq-features {
  &__list {
    display: flex;
    flex-wrap: wrap;
  }

  &__col {
    display: flex;
    width: 33.33%;
    padding: 0 10px;
    margin-bottom: 40px;
  }

  &__item {
    display: flex;
    flex-direction: column;
    flex: 0 0 100%;
    max-width: 100%;
    width: 100%;
  }
}

.faq-card {
  background-color: var(--bg-offset5);
  border: 0;
  border-radius: 10px;
  //color: $--color-text-placeholder;
  color: var(--color-text-sm-low);
  padding: 24px 60px;
  text-align: center;

  &__header {
    height: 120px;
    width: 120px;
    margin: 0 auto 26px;
    border-radius: 100%;
    position: relative;

    &--empty {
      background-color: var(--border-color-gray);
    }
  }

  &__img {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 0);
    max-width: 100%;
  }

  &__title {
    color: var(--color-text-high);
    margin-bottom: 8px;
    word-break: break-word;
  }

  &__body {
    flex-grow: 1;
    margin-bottom: 30px;
  }

  &__footer {
    a {
      @extend .text-label-xs-semibold-caps;
      word-break: break-word;
    }
  }

  &:hover {
    cursor: pointer;
  }
}

.faq-feature {
  padding: 0 30px;

  &__title {
    @extend .text-label-xs-semibold-caps;
    padding-bottom: 20px;
    margin-bottom: 44px;
    position: relative;
    cursor: pointer;

    &:after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      height: 2px;
      width: 90px;
      background-color: var(--fgcolor-blue);
    }
  }

  &__body {
    p {
      @extend .text-size-sm;
      color: var(--color-text-sm-low);
      word-break: break-word;
      cursor: pointer;

      &:hover {
        color: var(--fgcolor-blue);
        text-decoration: underline;
      }
    }
  }
}

.faq-accordion {
  &__header {
    margin-bottom: 65px;

    h3 {
      margin-bottom: 0;
    }
  }

  &__title {
    @extend .text-size-lg;
    margin-bottom: 10px;
  }

  &__option {
    padding-right: 70px;
  }
}

.faq-header {
  //background-color: $--color-text-placeholder;
  background-color: var(--bg-offset60);
  padding: 72px 15px;
  text-align: center;

  &__search {
    width: 672px;
    margin: 0 auto;
    position: relative;
  }

  .el-popover {
    width: 100%;
    border-radius: 0;
  }

  .el-autocomplete {
    width: 100%;

    input {
      &::-webkit-input-placeholder,
      &::-moz-placeholder,
      &:-ms-input-placeholder,
      &:-moz-placeholder {
        @extend .text-size-sm;
        color: var(--color-text-sm-low);
      }
    }

    .el-input__inner {
      padding-left: 50px;
      line-height: normal;
    }
  }

  .el-icon-search:before {
    @extend .text-size-md;
  }

  .el-input__prefix {
    left: 15px;
  }

  h1 {
    color: var(--color-text-high-inverted);
    margin-bottom: 33px;
  }
}
