.form-rules {
  &__list {
    column-count: 2;
  }

  &__item {
    @extend .text-size-xxs;
    position: relative;
    padding-left: 16px;
    color: var(--color-text-med);
    margin-bottom: 4px;

    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 46%;
      transform: translateY(-50%);
      width: 8px;
      height: 8px;
      background: var(--bg-offset20);
      border-radius: 50%;
    }

    &.is-correct {
      --base-hue: var(--hue-success);
      --base-sat: var(--sat-high);
      color: var(--gray3);

      &:before {
        background: var(--bg-offset60);
      }
    }
  }

  &__done {
    --base-hue: var(--hue-success);

    padding: 15px 23px;
    display: flex;
    align-items: center;
    border: 1px solid var(--fg-offset80);
    background-color: var(--bg-offset5);
    //background: rgba(var(--color-success-RGB), .9);//UNUSED

    &-icon {
      display: block;
      width: 35px;
      height: 35px;
      border-radius: 50%;
      border: 3px solid var(--color-success);
      position: relative;
      margin-right: 23px;

      &:before,
      &:after {
        content: "";
        position: absolute;
        left: 9px;
        top: 13px;
        width: 3px;
        height: 9px;
        background-color: var(--color-success);
        transform: rotate(-44deg);
        border-radius: 8px
      }

      &:after {
        left: 16px;
        top: 7px;
        width: 3px;
        height: 15px;
        transform: rotate(43deg);
      }
    }

    &-descr {
      margin: 0;
      font-weight: $--font-weight-regular;
    }
  }
}
