.issues {
  &__item {
    display: flex;
    align-items: center;
    flex-flow: row nowrap;
    margin-bottom: 20px;
  }

  &__icon {
    margin-right: 16px;
  }

  &__label {
    font-weight: $--font-weight-medium;
    margin: 0 32px 0 0;

  }

  &__descr {
    margin: 0 23px 0 0;
  }
}
