.logo {
  margin-right: 50px;

  &__link {
    display: inline-block;
  }

  @media screen and (max-width: $--sm) {

    &__link {
      width: 120px;
    }

    img {
      max-width: 100%;
      height: auto;
    }
  }
}
