.preloader {
  background-color: getDarkHSLA(.9);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 10000;

  &__item {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 6px;
    background-color: getLightHSLA(.2);
    border: 1px solid getLightHSLA(.2);
    overflow: hidden;

    &:after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      transform: translateX(-100%);
      background: linear-gradient(90deg, transparent 20%, getLightHSLA(.6) 100%);
      animation: preload-animation 1.3s ease infinite;
    }
  }
}

@keyframes preload-animation {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(100%);
  }
}
