.reports-tabs {
  .el-tabs__nav-next,
  .el-tabs__nav-prev {
    @extend .text-label-xs;
    background: var(--bg-base);
    color: var(--fgcolor-blue);
    display: inline-flex;
    align-items: center;
    margin: 0;

    &.is-disabled {
      display: none;
    }
  }

  .el-tabs__nav-next {
    z-index: 999;
    position: absolute;
    top: 50%;
    right: 60px;
    transform: translateY(-50%);
  }

  .el-tabs__nav-prev {
    position: relative;
    margin-right: 15px;
  }

  .el-tabs__nav-wrap {
    display: flex;
    width: 550px;
  }

  .el-tabs__nav {
    display: flex;

    .el-tabs__item {
      @extend .text-label-xxs-semibold-caps;
      white-space: normal;
      text-align: center;
      width: 130px;
    }
  }

  .el-tabs__content {
    overflow: visible;
  }

  &__description {
    position: absolute;
    z-index: 60;
    top: -156px;
    right: 0;
    width: 150px;
    padding-left: 20px;
  }
}
