.upload-creative {
  .el-upload {
    width: 100%;

    &-dragger {
      width: 100%;
      border: 2px dashed var(--fg-offset85);
      height: auto;
    }

    &__text {
      margin-bottom: 34px;

      b {
        white-space: nowrap;
      }
    }

    &__title {
      margin-bottom: 32px;
    }
  }

  &__button {
    margin-bottom: 32px;
  }

  &__input {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__tip {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    color: var(--color-text-high);
    margin-top: -12px;

    &-item {
      margin-top: 12px;

      &:not(:last-child) {
        margin-right: 24px;
      }
    }
  }

  &__tip-item {
    @extend .text-body-xxs;
  }

  .el-progress {
    width: 100%;
    margin-bottom: 32px;
  }

  .upload-progress {
    .el-upload {
      &__title {
        margin-bottom: 6px;
      }
    }
  }
}

.is-error {
  .el-upload {
    &-dragger {
      border: 2px dashed red;
    }

    &-dragger:hover {
      border: 2px dashed red;
    }

    &-dragger:focus {
      border: 2px dashed red;
    }
  }

  .el-upload:focus .el-upload-dragger {
    border: 2px dashed red;
  }
}
