.video-item {
  border: 1px solid var(--border-color-base);
  padding: 24px;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 24px;

  &:focus {
    outline-color: var(--fgcolor-blue);
    background-color: var(--table-row-focus-background-color);

    &:hover {
      --base-hue: var(--hue-blue);
      --base-sat: var(--sat-high);
      outline: none;

      background-color: var(--table-row-hover-focus-background-color);
      border-color: transparent;
      border-radius: $--border-radius-base;
    }
  }

  &__pin {
    margin-right: 24px;
    display: inline-flex;
    align-items: center;

    .data-table-cell-radio {
      margin-right: 14px;
      display: flex;
    }

    span {
      font-weight: $--font-weight-semibold;
      text-transform: uppercase;
      color: var(--color-text-sm-low);
    }
  }

  &__frame {
    margin-right: 16px;
    width: 40%;
    max-width: 170px;
    flex: 1;

    img {
      width: 100%;
      height: auto;
      max-width: 170px;
    }
  }

  &__info {
    flex: 1;
    display: flex;
    flex-flow: column wrap;
    padding-top: 4px;
  }

  &__panel {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    text-align: right;
  }

  &__footer {
    padding-top: 40px;
    flex: 0 0 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }

  &:last-child {
    margin-bottom: 0;

    .review-sidebar & {
      margin-bottom: 16px;
    }
  }
}

.video-info {
  padding-right: 10px;

  &__name {
    @extend .text-label-sm-semibold-caps;
    display: block;
    color: var(--color-text-high);
    margin-bottom: 8px;
    overflow: hidden;
    white-space: normal;
    word-break: break-word;
    text-overflow: ellipsis;
    display: -moz-box;
    -moz-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    line-clamp: 3;
    box-orient: vertical;
  }

  &__date-upload {
    @extend .text-size-xs;
    margin-top: auto;
    margin-bottom: 0;
    color: var(--color-text-sm-low);
  }

  &__list {
    display: flex;
    align-items: center;
    margin-top: 16px;

    &-item {
      padding: 0 11px;
      position: relative;
      white-space: nowrap;

      &:after {
        content: '';
        display: block;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 1px;
        height: calc(100% - 5px);
        background: var(--bg-offset20);
      }

      &:first-child {
        padding-left: 0;
      }

      &:last-child {
        padding-right: 0;

        &:after {
          display: none;
        }
      }
    }
  }
}
