<template>
  <div>
    <el-collapse
      v-model="activeName"
      accordion
    >
      <el-collapse-item
        name="1"
      >
        <template slot="title">
          <div class="creative-status">
            <i class="creative-status__item is-rejected">
              <svg
                class="icon icon-rejected"
              >
                <use xlink:href="../../../../images/icons/symbol-defs.svg#icon-rejected" />
              </svg>
            </i>
          </div>
          <span>
            Issues we found with your video
          </span>
          <span class="collapse-item__arrow">
            <svg
              class="icon icon-chevron-up"
            >
              <use xlink:href="../../../../images/icons/symbol-defs.svg#icon-chevron-up" />
            </svg>
          </span>
        </template>
        <div>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid asperiores consectetur distinctio, eum laudantium magni mollitia nostrum odio, quasi quidem quis quo rerum sequi soluta suscipit temporibus unde voluptatem, voluptatibus.
          </p>
          <div class="issues">
            <ul class="issues__list">
              <li class="issues__item">
                <div class="issues__icon">
                  <i class="creative-status__item is-rejected">
                    <svg
                      class="icon icon-rejected"
                    >
                      <use xlink:href="../../../../images/icons/symbol-defs.svg#icon-rejected" />
                    </svg>
                  </i>
                </div>
                <p class="issues__label">
                  Label
                </p>
                <p class="issues__descr">
                  Content Content Content Content Content
                </p>
                <el-popover
                  placement="left-end"
                  title="Hulu Bucks"
                  offset="2"
                  width="344"
                  trigger="hover"
                  content="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
                >
                  <el-button
                    slot="reference"
                    class="button-empty-icon"
                  >
                    <svg
                      class="icon icon-help-circle icon-muted"
                    >
                      <use xlink:href="../../../../images/icons/symbol-defs.svg#icon-help-circle" />
                    </svg>
                  </el-button>
                </el-popover>
              </li>
              <li class="issues__item">
                <div class="issues__icon">
                  <i class="creative-status__item is-rejected">
                    <svg
                      class="icon icon-rejected"
                    >
                      <use xlink:href="../../../../images/icons/symbol-defs.svg#icon-rejected" />
                    </svg>
                  </i>
                </div>
                <p class="issues__label">
                  Label
                </p>
                <p class="issues__descr">
                  Content Content Content Content Content
                </p>
                <el-popover
                  placement="left-end"
                  title="Hulu Bucks"
                  offset="2"
                  width="344"
                  trigger="hover"
                  content="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
                >
                  <el-button
                    slot="reference"
                    class="button-empty-icon"
                  >
                    <svg
                      class="icon icon-help-circle icon-muted"
                    >
                      <use xlink:href="../../../../images/icons/symbol-defs.svg#icon-help-circle" />
                    </svg>
                  </el-button>
                </el-popover>
              </li>
              <li class="issues__item">
                <div class="issues__icon">
                  <i class="creative-status__item is-rejected">
                    <svg
                      class="icon icon-rejected"
                    >
                      <use xlink:href="../../../../images/icons/symbol-defs.svg#icon-rejected" />
                    </svg>
                  </i>
                </div>
                <p class="issues__label">
                  Label
                </p>
                <p class="issues__descr">
                  Content Content Content Content Content
                </p>
                <el-popover
                  placement="left-end"
                  title="Hulu Bucks"
                  offset="2"
                  width="344"
                  trigger="hover"
                  content="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
                >
                  <el-button
                    slot="reference"
                    class="button-empty-icon"
                  >
                    <svg
                      class="icon icon-help-circle icon-muted"
                    >
                      <use xlink:href="../../../../images/icons/symbol-defs.svg#icon-help-circle" />
                    </svg>
                  </el-button>
                </el-popover>
              </li>
            </ul>
          </div>
        </div>
      </el-collapse-item>
      <el-collapse-item
        name="2"
      >
        <template slot="title">
          <div class="creative-status">
            <i class="creative-status__item is-approved">
              <svg
                class="icon icon-approved"
              >
                <use xlink:href="../../../../images/icons/symbol-defs.svg#icon-approved" />
              </svg>
            </i>
          </div>
          <span>
            Issues we found with your video
          </span>
          <span class="collapse-item__arrow">
            <svg
              class="icon icon-chevron-up"
            >
              <use xlink:href="../../../../images/icons/symbol-defs.svg#icon-chevron-up" />
            </svg>
          </span>
        </template>
        <div>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid asperiores consectetur distinctio, eum laudantium magni mollitia nostrum odio, quasi quidem quis quo rerum sequi soluta suscipit temporibus unde voluptatem, voluptatibus.
        </div>
      </el-collapse-item>
    </el-collapse>
  </div>
</template>

<script>
    export default {
        name: "Accordion",

        data () {
          return {
              activeName: 1,
          }
        }
    }
</script>

<style scoped>

</style>
