<template>
  <div>
    <el-collapse
      v-model="activeNames"
      class="collapse-checkbox"
      @change="handleChange"
    >
      <el-collapse-item name="1">
        <template slot="title">
          <div class="collapse-checkbox__title">
            Income <span>(5)</span>
          </div>
          <div class="collapse-checkbox__subtitle">
            2 selected
          </div>
          <span class="collapse-item__arrow">
            <svg
              class="icon icon-chevron-up"
            >
              <use xlink:href="../../../../images/icons/symbol-defs.svg#icon-chevron-up" />
            </svg>
          </span>
        </template>
        <el-collapse
          v-model="activeSubNames"
          class="collapse-checkbox--inner"
          @change="handleChangeCopy"
        >
          <collapse-item
            name="1"
            title="Income"
            @change="log"
          >
            <template slot="title">
              <el-checkbox label="Adventure Seekers" />
            </template>
            <el-collapse
              v-model="activeSubNames2"
              class="collapse-checkbox__child is-disabled"
              @change="handleChangeCopy2"
            >
              <collapse-item
                name="1"
                title="Income"
                @change="log"
              >
                <template slot="title">
                  <el-checkbox label="Adventure Seekers www" />
                </template>
              </collapse-item>
              <collapse-item
                name="1"
                title="Income"
                @change="log"
              >
                <template slot="title">
                  <el-checkbox label="Adventure Seekers www2" />
                </template>
              </collapse-item>
            </el-collapse>
          </collapse-item>
        </el-collapse>
        <el-collapse
          v-model="activeSubNames2"
          class="collapse-checkbox--inner"
          @change="handleChangeCopy"
        >
          <collapse-item
            name="1"
            title="Income"
            @change="log"
          >
            <template slot="title">
              <el-checkbox label="Adventure Seekers rrr" />
            </template>
            <el-collapse
              v-model="activeSubNames3"
              class="collapse-checkbox__child is-disabled"
              @change="handleChangeCopy2"
            >
              <collapse-item
                name="1"
                title="Income"
                @change="log"
              >
                <template slot="title">
                  <el-checkbox label="Adventure Seekers fff" />
                </template>
              </collapse-item>
            </el-collapse>
          </collapse-item>
        </el-collapse>
      </el-collapse-item>
    </el-collapse>
    <div class="separate-item">
      <el-checkbox label="Beauty Mavens" />
    </div>
  </div>
</template>

<script>
    import CollapseItem from "Foundation/components/accordion/CollapseItem";

    export default {
        name: "AccordionWithCheckbox",

      components: { CollapseItem },

        data() {
            return {
                checked: false,
                activeNames: ['1'],
                activeSubNames: ['0'],
                activeSubNames2: ['0']
            };
        },



      methods: {
          log () {
            // console.log(value);
          },

          handleChange () {
            // console.log(value);
          },

          handleChangeCopy () {
            // console.log('value');
          },

          handleChangeCopy2 () {
            // console.log('value');
          }
      }
    }
</script>

<style scoped>

</style>
