<template>
  <div class="campaign-sidebar">
    <div class="campaign-sidebar__header">
      <p class="text-label-sm">
        My Campaign
      </p>
      <span>Saving...</span>
    </div>
    <div class="campaign-sidebar__content">
      <div
        class="campaign-sidebar__placeholder"
      >
        <img
          alt="Hulu-Advertiser"
          src="../../../../images/content/Green-Bolt.svg"
          width="25"
        >
        <p class="text-body-sm">
          As you build your campaign, your details will autofill here.
        </p>
        <img
          alt="Hulu-Advertiser"
          src="../../../../images/content/Squiggly-Line.svg"
          width="75"
        >
      </div>
      <div
        class="campaign-sidebar__collapse"
      >
        <el-collapse
          v-model="activeDetails"
          class="campaign-sidebar__list"
        >
          <el-collapse-item
            name="1"
          >
            <template slot="title">
              <span class="collapse-option is-active">
                Name & Date
              </span>
              <div class="indicator">
                <i class="icon-complete" />
              </div>
              <span class="collapse-icon">
                <svg
                  class="icon icon-chevron-up"
                >
                  <use xlink:href="../../../../images/icons/symbol-defs.svg#icon-chevron-up" />
                </svg>
              </span>
            </template>
            <div class="collapse-grid">
              <div class="collapse-grid__col col-6">
                <div class="collapse-grid__title">
                  <small class="text-label-xxs">
                    Name
                  </small>
                </div>
                <div class="collapse-grid__content">
                  <div class="collapse-grid__content-inner">
                    <ul>
                      <li>Super summer sale</li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="collapse-grid__col col-6">
                <div class="collapse-grid__title">
                  <small class="text-label-xxs">
                    Date
                  </small>
                </div>
                <div class="collapse-grid__content">
                  <div class="collapse-grid__content-inner">
                    <ul>
                      <li>3/1/2020 - 4/1/2020</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </el-collapse-item>
          <el-collapse-item
            name="2"
          >
            <template slot="title">
              <span class="collapse-option">
                Targeting
              </span>
              <div class="indicator">
                <div class="indicator-text">
                  0/2
                </div>
              </div>
              <span class="collapse-icon">
                <svg
                  class="icon icon-chevron-up"
                >
                  <use xlink:href="../../../../images/icons/symbol-defs.svg#icon-chevron-up" />
                </svg>
              </span>
            </template>
            <div class="collapse-grid">
              <div class="collapse-grid__col col-6">
                <div class="collapse-grid__title">
                  <small class="text-label-xxs">
                    Gender
                  </small>
                </div>
                <div class="collapse-grid__content">
                  <div class="collapse-grid__content-inner">
                    <ul>
                      <li>All</li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="collapse-grid__col col-6">
                <div class="collapse-grid__title">
                  <small class="text-label-xxs">
                    Age
                  </small>
                </div>
                <div class="collapse-grid__content">
                  <div class="collapse-grid__content-inner">
                    <ul>
                      <li>18-24,  25-34,  35-49, 50+</li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="collapse-grid__col">
                <div class="collapse-grid__title is-active">
                  <small class="text-label-xxs">
                    Audiences
                  </small>
                </div>
                <div class="collapse-grid__content">
                  <div class="collapse-grid__content-inner">
                    <ul>
                      <li>
                        Behavior
                        <ul>
                          <li>Furniture</li>
                          <li>Home Improvement</li>
                          <li>Luxury Shoppers</li>
                        </ul>
                      </li>
                    </ul>
                    <ul>
                      <li>
                        Behavior
                        <ul>
                          <li>Furniture</li>
                          <li>Home Improvement</li>
                          <li>Luxury Shoppers</li>
                        </ul>
                      </li>
                    </ul>
                    <ul>
                      <li>
                        Interests
                        <ul>
                          <li>Gaming Super Fans</li>
                          <li>Hip Hop Lovers</li>
                        </ul>
                      </li>
                    </ul>
                    <ul>
                      <li>
                        Ownership
                        <ul>
                          <li>SUV</li>
                          <li>Truck</li>
                        </ul>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="collapse-grid__col">
                <div class="collapse-grid__title">
                  <small class="text-label-xxs">
                    Locations
                  </small>
                </div>
                <div class="collapse-grid__content">
                  <div class="collapse-grid__content-inner">
                    <ul>
                      <li>&ndash;</li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="collapse-grid__col">
                <div class="collapse-grid__title">
                  <small class="text-label-xxs">
                    Show genres
                  </small>
                </div>
                <div class="collapse-grid__content">
                  <div class="collapse-grid__content-inner">
                    <ul>
                      <li>&ndash;</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </el-collapse-item>
        </el-collapse>
        <el-collapse
          v-model="activeTargeting"
          class="campaign-sidebar__list"
        >
          <el-collapse-item
            name="2"
          >
            <template slot="title">
              <span class="collapse-option">
                Budget
              </span>
              <div class="indicator">
                <div class="indicator-text">
                  0/2
                </div>
              </div>
              <span class="collapse-icon">
                <svg
                  class="icon icon-chevron-up"
                >
                  <use xlink:href="../../../../images/icons/symbol-defs.svg#icon-chevron-up" />
                </svg>
              </span>
            </template>
            <div class="collapse-grid">
              <div class="collapse-grid__col col-6">
                <div class="collapse-grid__title">
                  <small class="text-label-xxs">
                    Gender
                  </small>
                </div>
                <div class="collapse-grid__content">
                  <div class="collapse-grid__content-inner">
                    <ul>
                      <li>All</li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="collapse-grid__col col-6">
                <div class="collapse-grid__title">
                  <small class="text-label-xxs">
                    Age
                  </small>
                </div>
                <div class="collapse-grid__content">
                  <div class="collapse-grid__content-inner">
                    <ul>
                      <li>18-24,  25-34,  35-49, 50+</li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="collapse-grid__col">
                <div class="collapse-grid__title">
                  <small class="text-label-xxs">
                    Audiences
                  </small>
                </div>
                <div class="collapse-grid__content">
                  <div class="collapse-grid__content-inner">
                    <ul>
                      <li>
                        Behavior
                        <ul>
                          <li>Furniture</li>
                          <li>Home Improvement</li>
                          <li>Luxury Shoppers</li>
                        </ul>
                      </li>
                    </ul>
                    <ul>
                      <li>
                        Behavior
                        <ul>
                          <li>Furniture</li>
                          <li>Home Improvement</li>
                          <li>Luxury Shoppers</li>
                        </ul>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="collapse-grid__col">
                <div class="collapse-grid__title">
                  <small class="text-label-xxs">
                    Locations
                  </small>
                </div>
                <div class="collapse-grid__content">
                  <div class="collapse-grid__content-inner">
                    <ul>
                      <li>&ndash;</li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="collapse-grid__col">
                <div class="collapse-grid__title">
                  <small class="text-label-xxs">
                    Show genres
                  </small>
                </div>
                <div class="collapse-grid__content">
                  <div class="collapse-grid__content-inner">
                    <ul class="no-children">
                      <li>Black Stories</li>
                      <li>Cartoons</li>
                      <li>Classics</li>
                      <li>Black Stories</li>
                      <li>Cartoons</li>
                      <li>Classics</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </el-collapse-item>
          <el-collapse-item
            name="3"
          >
            <template slot="title">
              <span class="collapse-option">
                Video Ad
              </span>
              <div class="indicator">
                <div class="indicator-text">
                  0/2
                </div>
              </div>
              <span class="collapse-icon">
                <svg
                  class="icon icon-chevron-up"
                >
                  <use xlink:href="../../../../images/icons/symbol-defs.svg#icon-chevron-up" />
                </svg>
              </span>
            </template>
            <div class="collapse-grid">
              <div class="collapse-grid__col col-6">
                <div class="collapse-grid__title">
                  <small class="text-label-xxs">
                    Gender
                  </small>
                </div>
                <div class="collapse-grid__content">
                  <div class="collapse-grid__content-inner">
                    <ul>
                      <li>All</li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="collapse-grid__col col-6">
                <div class="collapse-grid__title">
                  <small class="text-label-xxs">
                    Age
                  </small>
                </div>
                <div class="collapse-grid__content">
                  <div class="collapse-grid__content-inner">
                    <ul>
                      <li>18-24,  25-34,  35-49, 50+</li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="collapse-grid__col">
                <div class="collapse-grid__title">
                  <small class="text-label-xxs">
                    Audiences
                  </small>
                </div>
                <div class="collapse-grid__content">
                  <div class="collapse-grid__content-inner">
                    <ul>
                      <li>
                        Behavior
                        <ul>
                          <li>Furniture</li>
                          <li>Home Improvement</li>
                          <li>Luxury Shoppers</li>
                        </ul>
                      </li>
                    </ul>
                    <ul>
                      <li>
                        Behavior
                        <ul>
                          <li>Furniture</li>
                          <li>Home Improvement</li>
                          <li>Luxury Shoppers</li>
                        </ul>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="collapse-grid__col">
                <div class="collapse-grid__title">
                  <small class="text-label-xxs">
                    Locations
                  </small>
                </div>
                <div class="collapse-grid__content">
                  <div class="collapse-grid__content-inner">
                    <ul>
                      <li>&ndash;</li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="collapse-grid__col">
                <div class="collapse-grid__title">
                  <small class="text-label-xxs">
                    Show genres
                  </small>
                </div>
                <div class="collapse-grid__content">
                  <div class="collapse-grid__content-inner">
                    <ul>
                      <li>&ndash;</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </el-collapse-item>
        </el-collapse>
      </div>
    </div>
  </div>
</template>

<script>
    export default {
        name: "CampaignSidebar",

        data () {
          return {
            activeDetails: [],
            activeTargeting: [],
          }
        }
    }
</script>

<style scoped>

</style>
