<template>
  <div class="counter">
    <el-row
      :gutter="16"
      class="counter__list"
    >
      <el-col :span="8">
        <el-card
          shadow="always"
          class="counter__item card-counter"
        >
          <div class="card-counter__name">
            <div class="text-label-xs-semibold-caps">
              Impression Delivered
              <div class="card-counter__popover">
                <el-popover
                  placement="left-end"
                  title="Hulu Bucks"
                  offset="2"
                  width="344"
                  trigger="hover"
                  content="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
                >
                  <el-button
                    slot="reference"
                    class="button-empty-icon"
                  >
                    <svg
                      class="icon icon-question"
                    >
                      <use xlink:href="../../../../images/icons/symbol-defs.svg#icon-bell" />
                    </svg>
                  </el-button>
                </el-popover>
              </div>
            </div>
            <a
              href="#"
              class="text-label-xs-semibold-caps"
            >
              Cash out
            </a>
          </div>
          <h1 class="card-counter__value">
            120
          </h1>
        </el-card>
      </el-col>
      <el-col :span="8">
        <el-card
          shadow="always"
          class="counter__item card-counter"
        >
          <div class="card-counter__name">
            <div class="text-label-xs-semibold-caps">
              Impression Delivered
            </div>
            <a
              href="#"
              class="text-label-xs-semibold-caps"
            >
              Cash out
            </a>
          </div>
          <h1 class="card-counter__value">
            120
          </h1>
        </el-card>
      </el-col>
      <el-col :span="8">
        <el-card
          shadow="always"
          class="counter__item card-counter"
        >
          <div class="card-counter__name">
            <div class="text-label-xs-semibold-caps">
              Impression Delivered
            </div>
          </div>
          <h1 class="card-counter__value">
            120
          </h1>
        </el-card>
      </el-col>
    </el-row>
  </div>
</template>

<script>
    export default {
        name: 'CounterWidget',
    }
</script>
