<!--eslint-disable-->
<template>
  <div class="report-form">
    <el-radio-group
      size="small"
    >
      <el-radio
        v-for="(item, index) in items"
        :key="index"
        :value="item.value"
        :label="item.value"
      >
        <div>
          {{ item.label }}
        </div>
        <div
          class="text-muted"
        >
          {{ item.desc }}
        </div>
      </el-radio>
    </el-radio-group>
    <component
      v-for="(item, index) in items"
      :is="item.component"
      :key="index"
      :ref="item.value"
    />
  </div>
</template>
<script>
  import CampaignSummaryForm from '../../report/components/forms/advertiser/CampaignSummaryForm';
  import DetailedDataForm from '../../report/components/forms/advertiser/DetailedDataForm';

  export default {
    name: 'ReportForm',

    /**
     * Components.
     */
    components: {
      DetailedDataForm,
      CampaignSummaryForm,
    },

    /**
     * Computed.
     */
    computed: {
      items() {
        return [
          {
            label: this.$trans('report::labels.advertiserReportTypes.summary.label'),
            value: 'summary',
            desc: this.$trans('report::labels.advertiserReportTypes.summary.desc'),
            badge: null,
            component: 'campaign-summary-form'
          },
          {
            label: this.$trans('report::labels.advertiserReportTypes.detailed.label'),
            desc: this.$trans('report::labels.advertiserReportTypes.detailed.desc'),
            value: 'detailed',
            component: 'detailed-data-form',
            badge: {
              type: 'warning',
              label: 'new'
            }
          },
        ]
      }
    }
  }
</script>
