<template>
  <div>
    <h2 class="stylemap__title text-subtitle-lg-semibold">
      #Typography
    </h2>
    <div
      v-for="font in typographyArray"
      :key="font.title"
      class="stylemap__row stylemap-type__row"
    >
      <p :class="font.className">
        {{ font.title }}
      </p>
      <div
        v-if="font.flexibleSizes.length"
        class="font-size-parameters"
      >
        <dl>
          <dt>Size:</dt>
          <dd>
            <div
              v-for="item in font.flexibleSizes"
              :key="item"
            >
              <span :class="`font-size font-size--${item.size}`">
                {{ item.value }}
              </span>
            </div>
          </dd>
          <dt>Weight:</dt>
          <dd>{{ font.weight }}</dd>
          <dt>Line-height:</dt>
          <dd>{{ font.lineHeight }}</dd>
          <dt>Letter-spacing</dt>
          <dd>{{ font.letterSpacing }}</dd>
          <dt>Text-transform:</dt>
          <dd>{{ font.textTransform }}</dd>
        </dl>
      </div>
      <div>
        [
        <span>{{ font.className }}</span>
        ]
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: "Typo",

    data () {
      return {
        typographyArray: [
          {
            title: 'XXXL Text Regular',
            className: 'text-size-xxxl',
            weight: '400',
            lineHeight: '-',
            letterSpacing: '-',
            textTransform: '-',
            flexibleSizes: [
              {
                size: 'xl',
                value: '7.6250rem/122px',
              },
              {
                size: 'lg',
                value: '5.6250rem/90px',
              },
              {
                size: 'md',
                value: '4.1875rem/67px',
              },
              {
                size: 'sm',
                value: '3.0625rem/49px',
              },
              {
                size: 'xs',
                value: '2.5000rem/40px',
              },
            ]
          },
          {
            title: 'XXL Text Regular',
            className: 'text-size-xxl',
            weight: '400',
            lineHeight: '-',
            letterSpacing: '-',
            textTransform: 'none',
            flexibleSizes: [
              {
                size: 'xl',
                value: '5.0625rem/81px',
              },
              {
                size: 'lg',
                value: '4.0000rem/64px',
              },
              {
                size: 'md',
                value: '3.1875rem/51px',
              },
              {
                size: 'sm',
                value: '2.4375rem/39px',
              },
              {
                size: 'xs',
                value: '2.0625rem/33px',
              },
            ]
          },
          {
            title: 'XL Text Regular',
            className: 'text-size-xl',
            weight: '400',
            lineHeight: '-',
            letterSpacing: '-',
            textTransform: 'none',
            flexibleSizes: [
              {
                size: 'xl',
                value: '3.3750rem/54px',
              },
              {
                size: 'lg',
                value: '2.8125rem/45px',
              },
              {
                size: 'md',
                value: '2.3750rem/38px',
              },
              {
                size: 'sm',
                value: '1.9375rem/31px',
              },
              {
                size: 'xs',
                value: '1.7500rem/28px',
              },
            ]
          },
          {
            title: 'LG Text Regular',
            className: 'text-size-lg',
            weight: '400',
            lineHeight: '-',
            letterSpacing: '-',
            textTransform: 'none',
            flexibleSizes: [
              {
                size: 'xl',
                value: '2.2500rem/36px',
              },
              {
                size: 'lg',
                value: '2.0000rem/32px',
              },
              {
                size: 'md',
                value: '1.7500rem/28px',
              },
              {
                size: 'sm',
                value: '1.5625rem/25px',
              },
              {
                size: 'xs',
                value: '1.4375rem/23px',
              },
            ]
          },
          {
            title: 'MD Text Regular',
            className: 'text-size-md',
            weight: '400',
            lineHeight: '-',
            letterSpacing: '-',
            textTransform: 'none',
            flexibleSizes: [
              {
                size: 'xl',
                value: '1.5000rem/24px',
              },
              {
                size: 'lg',
                value: '1.4375rem/23px',
              },
              {
                size: 'md',
                value: '1.3125rem/21px',
              },
              {
                size: 'sm',
                value: '1.2500rem/20px',
              },
              {
                size: 'xs',
                value: '1.1875rem/19px',
              },
            ]
          },
          {
            title: 'SM Text Regular',
            className: 'text-size-sm',
            weight: '400',
            lineHeight: '-',
            letterSpacing: '-',
            textTransform: 'none',
            flexibleSizes: [
              {
                size: 'global',
                value: '1.0000rem/16px',
              },
            ]
          },
          {
            title: 'XS Text Regular',
            className: 'text-size-xs',
            weight: '400',
            lineHeight: '-',
            letterSpacing: '-',
            textTransform: 'none',
            flexibleSizes: [
              {
                size: 'global',
                value: '0.8750rem/14px',
              },
            ]
          },
          {
            title: 'XXS Text Regular',
            className: 'text-size-xxs',
            weight: '400',
            lineHeight: '-',
            letterSpacing: '-',
            textTransform: 'none',
            flexibleSizes: [
              {
                size: 'global',
                value: '0.7500rem/12px',
              },
            ]
          },
          {
            title: 'XXXS Text Regular',
            className: 'text-size-xxxs',
            weight: '400',
            lineHeight: '-',
            letterSpacing: '-',
            textTransform: 'none',
            flexibleSizes: [
              {
                size: 'global',
                value: '0.6250rem/10px',
              },
            ]
          },
          {
            title: 'XXXL Title bold caps',
            className: 'text-title-xxxl-bold-caps',
            weight: '700',
            lineHeight: '95%',
            letterSpacing: '-3%',
            textTransform: 'uppercase',
            flexibleSizes: [
              {
                size: 'xl',
                value: '7.6250rem/122px',
              },
              {
                size: 'lg',
                value: '5.6250rem/90px',
              },
              {
                size: 'md',
                value: '4.1875rem/67px',
              },
              {
                size: 'sm',
                value: '3.0625rem/49px',
              },
              {
                size: 'xs',
                value: '2.5000rem/40px',
              },
            ]
          },
          {
            title: 'XXXL Title bold (no caps)',
            className: 'text-title-xxxl-bold',
            weight: '700',
            lineHeight: '95%',
            letterSpacing: '-3%',
            textTransform: 'none',
            flexibleSizes: [
              {
                size: 'xl',
                value: '7.6250rem/122px',
              },
              {
                size: 'lg',
                value: '5.6250rem/90px',
              },
              {
                size: 'md',
                value: '4.1875rem/67px',
              },
              {
                size: 'sm',
                value: '3.0625rem/49px',
              },
              {
                size: 'xs',
                value: '2.5000rem/40px',
              },
            ]
          },
          {
            title: 'XXL Title bold caps',
            className: 'text-title-xxl-bold-caps',
            weight: '700',
            lineHeight: '95%',
            letterSpacing: '-3%',
            textTransform: 'uppercase',
            flexibleSizes: [
              {
                size: 'xl',
                value: '5.0625rem/81px',
              },
              {
                size: 'lg',
                value: '4.0000rem/64px',
              },
              {
                size: 'md',
                value: '3.1875rem/51px',
              },
              {
                size: 'sm',
                value: '2.4375rem/39px',
              },
              {
                size: 'xs',
                value: '2.0625rem/33px',
              },
            ]
          },
          {
            title: 'XXL Title bold',
            className: 'text-title-xxl-bold',
            weight: '700',
            lineHeight: '95%',
            letterSpacing: '-3%',
            textTransform: 'none',
            flexibleSizes: [
              {
                size: 'xl',
                value: '5.0625rem/81px',
              },
              {
                size: 'lg',
                value: '4.0000rem/64px',
              },
              {
                size: 'md',
                value: '3.1875rem/51px',
              },
              {
                size: 'sm',
                value: '2.4375rem/39px',
              },
              {
                size: 'xs',
                value: '2.0625rem/33px',
              },
            ]
          },
          {
            title: 'XL Title semibold',
            className: 'text-title-xl-semibold',
            weight: '600',
            lineHeight: '105%',
            letterSpacing: '0',
            textTransform: 'none',
            flexibleSizes: [
              {
                size: 'xl',
                value: '3.3750rem/54px',
              },
              {
                size: 'lg',
                value: '2.8125rem/45px',
              },
              {
                size: 'md',
                value: '2.3750rem/38px',
              },
              {
                size: 'sm',
                value: '1.9375rem/31px',
              },
              {
                size: 'xs',
                value: '1.7500rem/28px',
              },
            ]
          },
          {
            title: 'LG Subtitle semibold',
            className: 'text-subtitle-lg-semibold',
            weight: '600',
            lineHeight: '125%',
            letterSpacing: '0',
            textTransform: 'none',
            flexibleSizes: [
              {
                size: 'xl',
                value: '2.2500rem/36px',
              },
              {
                size: 'lg',
                value: '2.0000rem/32px',
              },
              {
                size: 'md',
                value: '1.7500rem/28px',
              },
              {
                size: 'sm',
                value: '1.5625rem/25px',
              },
              {
                size: 'xs',
                value: '1.4375rem/23px',
              },
            ]
          },
          {
            title: 'LG Subtitle medium',
            className: 'text-subtitle-lg-medium',
            weight: '500',
            lineHeight: '125%',
            letterSpacing: '0',
            textTransform: 'none',
            flexibleSizes: [
              {
                size: 'xl',
                value: '2.2500rem/36px',
              },
              {
                size: 'lg',
                value: '2.0000rem/32px',
              },
              {
                size: 'md',
                value: '1.7500rem/28px',
              },
              {
                size: 'sm',
                value: '1.5625rem/25px',
              },
              {
                size: 'xs',
                value: '1.4375rem/23px',
              },
            ]
          },
          {
            title: 'MD Subtitle semibold',
            className: 'text-subtitle-md-semibold',
            weight: '600',
            lineHeight: '125%',
            letterSpacing: '0',
            textTransform: 'none',
            flexibleSizes: [
              {
                size: 'xl',
                value: '1.5000rem/24px',
              },
              {
                size: 'lg',
                value: '1.4375rem/23px',
              },
              {
                size: 'md',
                value: '1.3125rem/21px',
              },
              {
                size: 'sm',
                value: '1.2500rem/20px',
              },
              {
                size: 'xs',
                value: '1.1875rem/19px',
              },
            ]
          },
          {
            title: 'MD Body (lineHeight: 160%)',
            className: 'text-body-md',
            weight: '400',
            lineHeight: '160%',
            letterSpacing: '0',
            textTransform: 'none',
            flexibleSizes: [
              {
                size: 'xl',
                value: '1.5000rem/24px',
              },
              {
                size: 'lg',
                value: '1.4375rem/23px',
              },
              {
                size: 'md',
                value: '1.3125rem/21px',
              },
              {
                size: 'sm',
                value: '1.2500rem/20px',
              },
              {
                size: 'xs',
                value: '1.1875rem/19px',
              },
            ]
          },
          {
            title: 'MD Body (lineHeight: 125%)',
            className: 'text-body-md-125',
            weight: '400',
            lineHeight: '125%',
            letterSpacing: '0',
            textTransform: 'none',
            flexibleSizes: [
              {
                size: 'xl',
                value: '1.5000rem/24px',
              },
              {
                size: 'lg',
                value: '1.4375rem/23px',
              },
              {
                size: 'md',
                value: '1.3125rem/21px',
              },
              {
                size: 'sm',
                value: '1.2500rem/20px',
              },
              {
                size: 'xs',
                value: '1.1875rem/19px',
              },
            ]
          },
          {
            title: 'SM Body',
            className: 'text-body-sm',
            weight: '400',
            lineHeight: '160%',
            letterSpacing: '0',
            textTransform: 'none',
            flexibleSizes: [
              {
                size: 'global',
                value: '1.0000rem/16px',
              }
            ]
          },
          {
            title: 'XS Body',
            className: 'text-body-xs',
            weight: '400',
            lineHeight: '160%',
            letterSpacing: '0',
            textTransform: 'none',
            flexibleSizes: [
              {
                size: 'global',
                value: '0.8750rem/14px',
              }
            ]
          },
          {
            title: 'XXS Body',
            className: 'text-body-xxs',
            weight: '400',
            lineHeight: '160%',
            letterSpacing: '0',
            textTransform: 'none',
            flexibleSizes: [
              {
                size: 'global',
                value: '0.7500rem/12px',
              }
            ]
          },
          {
            title: 'XXXS Body',
            className: 'text-body-xxxs',
            weight: '400',
            lineHeight: '160%',
            letterSpacing: '0',
            textTransform: 'none',
            flexibleSizes: [
              {
                size: 'global',
                value: '0.6250rem/10px',
              }
            ]
          },
          {
            title: 'SM Label',
            className: 'text-label-sm',
            weight: '500',
            lineHeight: '100%',
            letterSpacing: '0',
            textTransform: 'none',
            flexibleSizes: [
              {
                size: 'global',
                value: '1.0000rem/16px',
              }
            ]
          },
          {
            title: 'XS Label',
            className: 'text-label-xs',
            weight: '500',
            lineHeight: '100%',
            letterSpacing: '0',
            textTransform: 'none',
            flexibleSizes: [
              {
                size: 'global',
                value: '0.8750rem/14px',
              }
            ]
          },
          {
            title: 'XXS Label',
            className: 'text-label-xxs',
            weight: '500',
            lineHeight: '100%',
            letterSpacing: '0',
            textTransform: 'none',
            flexibleSizes: [
              {
                size: 'global',
                value: '0.7500rem/12px',
              }
            ]
          },
          {
            title: 'XXXS Label',
            className: 'text-label-xxxs',
            weight: '500',
            lineHeight: '100%',
            letterSpacing: '0',
            textTransform: 'none',
            flexibleSizes: [
              {
                size: 'global',
                value: '0.6250rem/10px',
              }
            ]
          },
          {
            title: 'SM Label semibold caps',
            className: 'text-label-sm-semibold-caps',
            weight: '600',
            lineHeight: '100%',
            letterSpacing: '10%',
            textTransform: 'uppercase',
            flexibleSizes: [
              {
                size: 'global',
                value: '1.0000rem/16px',
              }
            ]
          },
          {
            title: 'XS Label semibold caps',
            className: 'text-label-xs-semibold-caps',
            weight: '600',
            lineHeight: '100%',
            letterSpacing: '10%',
            textTransform: 'uppercase',
            flexibleSizes: [
              {
                size: 'global',
                value: '0.8750rem/14px',
              }
            ]
          },
          {
            title: 'XXS Label semibold caps',
            className: 'text-label-xxs-semibold-caps',
            weight: '600',
            lineHeight: '100%',
            letterSpacing: '10%',
            textTransform: 'uppercase',
            flexibleSizes: [
              {
                size: 'global',
                value: '0.7500rem/12px',
              }
            ]
          },
          {
            title: 'XXXS Label semibold caps',
            className: 'text-label-xxxs-semibold-caps',
            weight: '600',
            lineHeight: '100%',
            letterSpacing: '10%',
            textTransform: 'uppercase',
            flexibleSizes: [
              {
                size: 'global',
                value: '0.6250rem/10px',
              }
            ]
          },
        ],
        activeStep: 0,
      }
    },
  }
</script>

<style scoped>

</style>
