<!--eslint-disable-->
<template>
  <div class="stylemap__icons-wrap">
    <div
      class="stylemap__icon"
      title="icon-video"
    >
      <svg
        class="icon icon-video"
      >
        <use xlink:href="../../../../images/icons/symbol-defs.svg#icon-video" />
      </svg>
    </div>
    <div
      class="stylemap__icon"
      title="icon-chat-bubble"
    >
      <svg
        class="icon icon-chat-bubble"
      >
        <use xlink:href="../../../../images/icons/symbol-defs.svg#icon-chat-bubble" />
      </svg>
    </div>
    <div
      class="stylemap__icon"
      title="icon-x-circle"
    >
      <svg
        class="icon icon-x-circle"
      >
        <use xlink:href="../../../../images/icons/symbol-defs.svg#icon-x-circle" />
      </svg>
    </div>
    <div
      class="stylemap__icon"
      title="icon-help-circle-header"
    >
      <svg
        class="icon icon-help-circle-header"
      >
        <use xlink:href="../../../../images/icons/symbol-defs.svg#icon-help-circle-header" />
      </svg>
    </div>
    <div
      class="stylemap__icon"
      title="icon-video-off"
    >
      <svg
        class="icon icon-video-off"
      >
        <use xlink:href="../../../../images/icons/symbol-defs.svg#icon-video-off" />
      </svg>
    </div>
    <div
      class="stylemap__icon"
      title="icon-download"
    >
      <svg
        class="icon icon-download"
      >
        <use xlink:href="../../../../images/icons/symbol-defs.svg#icon-download" />
      </svg>
    </div>
    <div
      class="stylemap__icon"
      title="icon-minus-circle"
    >
      <svg
        class="icon icon-minus-circle"
      >
        <use xlink:href="../../../../images/icons/symbol-defs.svg#icon-minus-circle" />
      </svg>
    </div>
    <div
      class="stylemap__icon"
      title="icon-plus-circle"
    >
      <svg
        class="icon icon-plus-circle"
      >
        <use xlink:href="../../../../images/icons/symbol-defs.svg#icon-plus-circle" />
      </svg>
    </div>
    <div
      class="stylemap__icon"
      title="icon-edit-3"
    >
      <svg
        class="icon icon-edit-3"
      >
        <use xlink:href="../../../../images/icons/symbol-defs.svg#icon-edit-3" />
      </svg>
    </div>
    <div
      class="stylemap__icon"
      title="icon-trash"
    >
      <svg
        class="icon icon-trash"
      >
        <use xlink:href="../../../../images/icons/symbol-defs.svg#icon-trash" />
      </svg>
    </div>
    <div
      class="stylemap__icon"
      title="icon-download"
    >
      <svg
        class="icon icon-download"
      >
        <use xlink:href="../../../../images/icons/symbol-defs.svg#icon-download" />
      </svg>
    </div>
    <div
      class="stylemap__icon"
      title="icon-copy"
    >
      <svg
        class="icon icon-copy"
      >
        <use xlink:href="../../../../images/icons/symbol-defs.svg#icon-copy" />
      </svg>
    </div>
    <div
      class="stylemap__icon"
      title="icon-clock"
    >
      <svg
        class="icon icon-clock"
      >
        <use xlink:href="../../../../images/icons/symbol-defs.svg#icon-clock" />
      </svg>
    </div>
    <div
      class="stylemap__icon"
      title="icon-icExchange"
    >
      <svg
        class="icon icon-icExchange"
      >
        <use xlink:href="../../../../images/icons/symbol-defs.svg#icon-icExchange" />
      </svg>
    </div>
    <div
      class="stylemap__icon"
      title="icon-alert-circle"
    >
      <svg
        class="icon icon-alert-circle"
      >
        <use xlink:href="../../../../images/icons/symbol-defs.svg#icon-alert-circle" />
      </svg>
    </div>
    <div
      class="stylemap__icon"
      title="icon-chevron-up"
    >
      <svg
        class="icon icon-chevron-up"
      >
        <use xlink:href="../../../../images/icons/symbol-defs.svg#icon-chevron-up" />
      </svg>
    </div>
    <div
      class="stylemap__icon"
      title="icon-chevron-down"
    >
      <svg
        class="icon icon-chevron-down"
      >
        <use xlink:href="../../../../images/icons/symbol-defs.svg#icon-chevron-down" />
      </svg>
    </div>
    <div
      class="stylemap__icon"
      title="icon-arrow-up"
    >
      <svg
        class="icon icon-arrow-up"
      >
        <use xlink:href="../../../../images/icons/symbol-defs.svg#icon-arrow-up" />
      </svg>
    </div>
    <div
      class="stylemap__icon"
      title="icon-arrow-down"
    >
      <svg
        class="icon icon-video-officon-arrow-down"
      >
        <use xlink:href="../../../../images/icons/symbol-defs.svg#icon-arrow-down" />
      </svg>
    </div>
    <div
      class="stylemap__icon"
      title="icon-missing"
    >
      <svg
        class="icon icon-missing"
      >
        <use xlink:href="../../../../images/icons/symbol-defs.svg#icon-missing" />
      </svg>
    </div>
    <div
      class="stylemap__icon"
      title="icon-review"
    >
      <svg
        class="icon icon-review"
      >
        <use xlink:href="../../../../images/icons/symbol-defs.svg#icon-review" />
      </svg>
    </div>
    <div
      class="stylemap__icon"
      title="icon-rejected"
    >
      <svg
        class="icon icon-rejected"
      >
        <use xlink:href="../../../../images/icons/symbol-defs.svg#icon-rejected" />
      </svg>
    </div>
    <div
      class="stylemap__icon"
      title="icon-approved"
    >
      <svg
        class="icon icon-approved"
      >
        <use xlink:href="../../../../images/icons/symbol-defs.svg#icon-approved" />
      </svg>
    </div>
    <div
      class="stylemap__icon"
      title="icon-bell-off"
    >
      <svg
        class="icon icon-bell-off"
      >
        <use xlink:href="../../../../images/icons/symbol-defs.svg#icon-bell-off" />
      </svg>
    </div>
    <div
      class="stylemap__icon"
      title="icon-bell"
    >
      <svg
        class="icon icon-bell"
      >
        <use xlink:href="../../../../images/icons/symbol-defs.svg#icon-bell" />
      </svg>
    </div>
    <div
      class="stylemap__icon"
      title="icon-eye"
    >
      <svg
        class="icon icon-eye"
      >
        <use xlink:href="../../../../images/icons/symbol-defs.svg#icon-eye" />
      </svg>
    </div>
    <div
      class="stylemap__icon"
      title="icon-adsd"
    >
      <svg
        class="icon icon-adsd"
      >
        <use xlink:href="../../../../images/icons/symbol-defs.svg#icon-adsd" />
      </svg>
    </div>
    <div
      class="stylemap__icon"
      title="icon-list-ol"
    >
      <svg
        class="icon icon-list-ol"
      >
        <use xlink:href="../../../../images/icons/symbol-defs.svg#icon-list-ol" />
      </svg>
    </div>
    <div
      class="stylemap__icon"
      title="icon-list-ul"
    >
      <svg
        class="icon icon-list-ul"
      >
        <use xlink:href="../../../../images/icons/symbol-defs.svg#icon-list-ul" />
      </svg>
    </div>
    <div
      class="stylemap__icon"
      title="icon-play-circle"
    >
      <svg
        class="icon icon-play-circle"
      >
        <use xlink:href="../../../../images/icons/symbol-defs.svg#icon-play-circle" />
      </svg>
    </div>
    <div
      class="stylemap__icon"
      title="icon-stop-circle"
    >
      <svg
        class="icon icon-stop-circle"
      >
        <use xlink:href="../../../../images/icons/symbol-defs.svg#icon-stop-circle" />
      </svg>
    </div>
  </div>
</template>

<script>
  export default {
    name: "UsedIcons"
  }
</script>
