<template>
  <span :class="customClass">
    {{ date }}
  </span>
</template>

<script>
  export default {
    /**
     * Component name
     */
    name: 'Date',

    /**
     * Props
     */
    props: {
      /**
       * Component value
       */
      value: {
        type: [String, Number, Date],
        default: '',
      },

      /**
       * If formatTimezone must be used
       * Set "useTimezone = true" to format date with timezone offset ('2020-03-30T23:59:59.000-0500') without shifting
       */
      useTimezone: {
        type: Boolean,
        default: false,
      },

      /**
       * If client timezone shifting allowed
       * Set "clientTimezone = true" to format date with client(browser) timezone offset.
       */
      clientTimezone: {
        type: Boolean,
        default: false,
      },

      /**
       * Moment DateTime format.
       */
      format: {
        type: String,
        default: '',
      },

      /**
       * Extra date class.
       */
      customClass: {
        type: String,
        default: null
      }
    },

    /**
     * Computed props
     */
    computed: {
      /**
       * Default formatted date
       */
      date () {
        return this.$formatDate(
          this.value,
          {
            useTimezone: this.useTimezone,
            clientTimezone: this.clientTimezone,
            format: this.format !== '' ? this.format : undefined,
          }
        );
      }
    },
  };
</script>
