<template>
  <span :class="extraClass">
    <template v-if="hasDate">
      <date-formatter
        v-for="(item, index) in datesStart"
        :key="`start_key_${index}_${item.value}`"
        :value="item.value"
        :use-timezone="useTimezone"
        :client-timezone="clientTimezone"
        :custom-class="item.type"
      />
      &ndash;
      <date-formatter
        v-for="(item, index) in datesEnd"
        :key="`end_key_${index}_${item.value}`"
        :value="item.value"
        :use-timezone="useTimezone"
        :client-timezone="clientTimezone"
        :custom-class="item.type"
      />
      <span v-if="hasTimeZone">({{ timezone }})</span>
    </template>
    <template v-else>-</template>
  </span>
</template>

<script>
  import DateFormatter from './Date';
  import { isEmpty } from 'lodash';
  import { valueTypes } from '../../../modules/campaign/helpers/revision';

  export default {
    /**
     * Component name
     */
    name: 'DateRange',

    /**
     * Components
     */
    components: {
      DateFormatter
    },

    /**
     * Props
     */
    props: {
      /**
       * Date start
       */
      dateStart: {
        type: [String, Number, Date, Array],
        default: '',
      },

      /**
       * Date end
       */
      dateEnd: {
        type: [String, Number, Date, Array],
        default: '',
      },

      /**
       * If formatTimezone must be used
       * Set "useTimezone = true" to format date with timezone offset ('2020-03-30T23:59:59.000-0500') without shifting
       */
      useTimezone: {
        type: Boolean,
        default: false,
      },

      /**
       * Timezone
       */
      timezone: {
        type: [String, Number],
        default: '',
      },

      /**
       * If client timezone shifting allowed
       * Set "clientTimezone = true" to format date with client(browser) timezone offset.
       */
      clientTimezone: {
        type: Boolean,
        default: false,
      },

      /**
       * Class
       */
      extraClass: {
        type: String,
        default: '',
      },
    },

    /**
     * Computed props
     */
    computed: {
      /**
       * Has date
       * @returns {default.props.dateEnd|{default, type}|default.props.dateStart}
       */
      hasDate () {
        return this.dateEnd && this.dateStart;
      },

      /**
       * Has timezone
       * @returns {default.props.timezone|{default, type}}
       */
      hasTimeZone () {
        return this.timezone;
      },

      /**
       * Start dates
       */
      datesStart () {
        if (!Array.isArray(this.dateStart)) {
          return [{
           value: this.dateStart,
           type: valueTypes.NEW
          }];
        }

        return this.dateStart;
      },

      /**
       * End dates
       */
      datesEnd () {
        if (isEmpty(this.dateEnd)) {
          return [];
        }
        if (!Array.isArray(this.dateEnd)) {
          return [{
            value: this.dateEnd,
            type: valueTypes.NEW
          }];
        }

        return this.dateEnd;
      }
    },
  };
</script>
