<template>
  <span :class="spanClass">{{ money }}</span>
</template>

<script>
  export default {
    /**
     * Component name
     */
    name: 'Money',

    /**
     * Props
     */
    props: {
      /**
       * Money Amount
       */
      value: {
        type: [String, Number],
        default: '',
      },

      /**
       * Use zero placeholder
       */
      useZero: {
        type: Boolean,
        default: false,
      },

      /**
       * Span class
       */
      spanClass: {
        type: String,
        default: '',
      }
    },

    /**
     * Computed props
     */
    computed: {
      money () {
        if (!this.value) {
          return this.useZero ? this.$formatCurrency('0.00', this.$user.currency.code) : '-';
        }

        return this.$formatCurrency(this.value, this.$user.currency.code);
      },
    },
  };
</script>
