<template>
  <div
    v-loading="loading"
    class="login"
  >
    <div
      v-show="!loading"
      class="login__holder"
    >
      <!-- HEADER -->
      <h3>{{ $trans('messages.welcome_back') }}</h3>

      <!-- CONTENT -->
      <div class="login__content">
        <el-form @submit.prevent.native="submit">
          <!-- INPUTS -->
          <email-field
            v-model="email"
            :disabled="pending"
            :label="$trans('labels.email')"
            :placeholder="$trans('auth::login.enter_email_address')"
            :validation="validation.email"
            :validation-messages="validationMessages.email"
            name="email"
            size="medium"
            @enter="submit"
          />
          <password-field
            v-model="password"
            :disabled="pending"
            :label="$trans('labels.password')"
            :placeholder="$trans('auth::login.enter_your_password')"
            :validation="validation.password"
            :validation-messages="validationMessages.password"
            name="password"
            size="medium"
            suffix-icon="el-icon-date"
            @enter="submit"
          />

          <!-- FORGOT PASSWORD ? -->
          <div class="login__forgot-password">
            <a
              :href="forgotPasswordUrl"
              class="login__link"
            >
              {{ $trans('auth::login.forgot_password') }}
            </a>
          </div>

          <!-- SUBMIT BUTTON -->
          <el-button
            v-loading="pending"
            :disabled="pending"
            type="default"
            class="login__submit"
            @click="submit"
          >
            {{ $trans('actions.submit') }}
          </el-button>

          <!-- DONT HAVE AN ACCOUNT ? -->
          <p class="login__account">
            {{ $trans('auth::login.dont_have_an_account') }}
            <a
              class="login__reg"
              :href="$getRoute('register.form')"
            >
              {{ $trans('actions.sign_up') }}
            </a>
          </p>
          <p class="login__account d-flex">
            {{ $trans('labels.need_help_email_us_at') }}
            &nbsp;
            <icon
              value="contact-email"
              :attr="iconParams"
              :width="205"
              :height="17"
              lightness="mute"
              transparent="stroke"
            />
          </p>
        </el-form>
      </div>
    </div>
  </div>
</template>

<script>
  import pick from 'lodash/pick';
  import { mapActions, mapState } from 'vuex';
  import { mapFields } from 'vuex-map-fields';
  import { PasswordField, EmailField } from 'Foundation/components/form';
  import Icon from 'Foundation/components/icons/Icon';

  export default {
    /**
     * Name of the component.
     */
    name: 'LoginForm',

    /**
     * Child components.
     */
    components: {
      Icon,
      EmailField,
      PasswordField,
    },

    /**
     * Component data.
     */
    data () {
      return {
        beforeRedirect: false,
        loading: true,
        iconParams: {
          viewBox: '0 0 205 17',
          fill: 'none',
          xmlns: 'http://www.w3.org/2000/svg',
        }
      }
    },

    /**
     * Computed properties.
     */
    computed: {
      /**
       * Map fields.
       */
      ...mapFields('login', {
        email: 'form.email',
        password: 'form.password',
        cognitoUser: 'user'
      }),

      /**
       * Map state.
       */
      ...mapState('login', [
        'loginPending',
        'cognitoLoginPending'
      ]),

      /**
       * URL for "Forgot password" link.
       *
       * @returns {string}
       */
      forgotPasswordUrl () {
        return this.$getRoute('auth.password.request');
      },

      /**
       * Validation rules.
       */
      validation () {
        return {
          email: this.validationRules.user.email,
          password: pick(this.validationRules.user.password, 'required'),
        };
      },

      /**
       * Custom validation messages.
       */
      validationMessages () {
        return {
          email: {
            required: this.$trans('validation.custom.login.email.required'),
          },
          password: {
            required: this.$trans('validation.custom.login.password.required'),
          },
        };
      },

      /**
       * Form is pending
       *
       * @returns boolean
       */
      pending () {
        return this.loginPending || this.cognitoLoginPending || this.beforeRedirect;
      }
    },

    /**
     * Mounted.
     */
    mounted() {
      this.checkRouteParams();
    },

    /**
     * Available methods.
     */
    methods: {
      /**
       * Vuex.
       */
      ...mapActions('login', [
        'platformLogin',
        'cognitoLogin',
      ]),

      /**
       * Submit form.
       *
       * @returns {Promise<void>}
       */
      async submit () {
        const validated = await this.$validateScope();

        if (!validated) {
          return;
        }

        if (await this.cognitoCheckLogin()) {
          await this.$call(this.platformLogin(this.cognitoUser), { notify: false })
            .then(({ data }) => {
              this.beforeRedirect = true;
              this.$redirect(data.redirect);
            }).catch((error) => {
              this.$logInfo('Fail HAAPI login', error);
            });
        }
      },

      /**
       * Parse amplify error
       */
      parseValidation (error) {
        if (error.code !== 'NotAuthorizedException' && error.code !== 'UserNotFoundException') {
          this.$log('Fail cognito login', error);
        }
        const message = error.code === 'NotAuthorizedException' || error.code === 'UserNotFoundException' ?
          this.$trans('auth.failed') :
          error.message;

        this.$validator.errors.add({
          field: 'email',
          msg: message,
          scope: '__global__'
        });
      },

      /**
       * Check get params for render change password form.
       */
      async checkRouteParams () {
        const queryParams = this.$route.query;

        if (this.isNonEmptyString(queryParams.email) && this.isNonEmptyString(queryParams.token)) {
          this.email = queryParams.email;
          this.password = queryParams.token;

          await this.cognitoCheckLogin()
        }

        this.loading = false;
      },

      /**
       * Check cognito login.
       */
      async cognitoCheckLogin () {
        try {
          await this.cognitoLogin();
          if (this.cognitoUser.challengeName === this.$config.cognito.set_password_code) {
            this.$emit('first-login');
            return false;
          }
        } catch (err) {
          this.parseValidation(err);

          return false;
        }

        return true;
      },

      /**
       * Check is not null string.
       * @param value
       * @return {boolean}
       */
      isNonEmptyString (value) {
        return value !== undefined && value && typeof value === 'string'
      }
    },
  };
</script>
