<template>
  <data-table-banner
    :display-button="displayButton"
    :title="title || defaultTitle"
  >
    <!-- ICON -->
    <icon
      slot="icon"
      value="video-off"
      :width="120"
      :height="120"
      transparent="fill"
      lightness="mute"
    />
    <upload-button
      v-if="displayButton"
      slot="button"
      @finish="handleUploadFinish"
    />
  </data-table-banner>
</template>

<script>
  import DataTableBanner from 'Foundation/components/dataTable/DataTableBanner';
  import UploadButton from 'Modules/creative/components/UploadButton';
  import Icon from 'Foundation/components/icons/Icon';

  export default {
    /**
     * Component name
     */
    name: 'CreativesBanner',

    /**
     * Child components.
     */
    components: {
      DataTableBanner,
      Icon,
      UploadButton,
    },

    /**
     * Extend the component.
     */
    extends: DataTableBanner,

    /**
     * Computed properties.
     */
    computed: {
      /**
       * Default title.
       *
       * @returns {*}
       */
      defaultTitle () {
        return this.$trans('creative::messages.upload_first_ad');
      },
    },

    /**
     * Methods.
     */
    methods: {
      /**
       * Emit "uploaded" event
       */
      handleUploadFinish () {
        this.$emit('uploaded');
      },
    },
  };
</script>
