<template>
  <div>
    <h3>{{ $trans('auth::register.whats_your_email') }}</h3>
    <text-field
      ref="email"
      v-model="email"
      tabindex="1"
      :label="$trans('labels.business_email')"
      :placeholder="placeholders.email"
      :show-label="false"
      :disabled="true"
      :validation-messages="validationMessages"
      :validation="validation.user.email"
      validate-on="none"
      name="email"
      size="medium"
      @enter="submit"
    />
  </div>
</template>

<script>
  import RegisterFormStep from './mixins/RegisterFormStep';
  import { mapFields } from 'vuex-map-fields';

  export default {
    /**
     * Component name.
     */
    name: 'RegisterEmail',

    /**
     * Mixins.
     */
    mixins: [
      RegisterFormStep,
    ],

    /**
     * Computed properties.
     */
    computed: {
      /**
       * Fields mapping.
       */
      ...mapFields('register', {
        email: 'user.email',
        code: 'user.inviteCode'
      }),

      /**
       * Custom validation messages.
       */
      validationMessages () {
        return {
          required: this.$trans('validation.custom.email.required'),
          email: this.$trans('validation.custom.email.email'),
        };
      },

      /**
       * Ref for focused element.
       *
       * @returns {string}
       */
      focused () {
        return 'email';
      },
    },

    /**
     * Created event hook
     */
    created () {
      document.addEventListener("keyup", this.handleEnterEvent, false);
    },

    /**
     * Before destroy event hook
     */
    beforeDestroy () {
      document.removeEventListener("keyup", this.handleEnterEvent, false);
    },

    /**
     * Methods
     */
    methods: {
      handleEnterEvent (event) {
        if (event.keyCode === 13) {
          this.submit();
        }
      },

      /**
       * Before wizard's "setActive" event hook.
       */
      beforeSetActive () {
        this.$trackAction('suf_email');
      },
    }
  };
</script>
