<template>
  <div class="sign-up__thanks-holder">
    <h1 class="offset-bottom-large">
      {{ $trans('messages.nice_work') }}
    </h1>
    <p class="text-body-md sign-up__thanks-descr">
      {{ $trans('auth::register.success_message') }}
    </p>
    <el-button
      type="default"
      @click="done"
    >
      {{ $trans('actions.done') }}
    </el-button>
  </div>
</template>

<script>
  import { mapState } from 'vuex';

  export default {
    /**
     * Component name.
     */
    name: 'RegisterSuccess',

    /**
     * Computed properties.
     */
    computed: {
      /**
       * Vuex (state).
       */
      ...mapState('register', [
        'user',
      ]),
    },

    /**
     * Mounted hook.
     */
    mounted () {
      this.$trackAction('signup_success_page', {
        first_name: this.user.firstName,
        last_name: this.user.lastName,
        email: this.user.email,
        currency_code: this.$config.currency.code,
        company_name: this.user.companyName,
      });
    },

    /**
     * Methods.
     */
    methods: {
      /**
       * Done button handler.
       */
      done () {
        this.$redirectToRoute('landing');
      },
    },
  };
</script>
