<template>
  <div>
    <h3>{{ $trans('auth::register.whats_your_phone') }}</h3>
    <phone-field
      ref="phone"
      v-model="phone"
      tabindex="1"
      :label="$trans('labels.business_phone_number')"
      :placeholder="placeholders.phone"
      :show-label="false"
      :validation-messages="validationMessages"
      :validation="validation.user.phone"
      validate-on="none"
      name="phone_number"
      size="medium"
    />
  </div>
</template>

<script>
  import RegisterFormStep from './mixins/RegisterFormStep';
  import { mapFields } from 'vuex-map-fields';
  import { PhoneField } from 'Foundation/components/form';

  export default {
    /**
     * Component name.
     */
    name: 'RegisterPhone',

    /**
     * Child components.
     */
    components: {
      PhoneField,
    },

    /**
     * Mixins.
     */
    mixins: [
      RegisterFormStep,
    ],

    /**
     * Computed properties.
     */
    computed: {
      /**
       * Fields mapping.
       */
      ...mapFields('register', {
        phone: 'user.phone',
      }),

      /**
       * Custom validation messages.
       */
      validationMessages () {
        return {
          ...this.$getCustomValidationMessages('phone', ['required', 'min']),
        };
      },

      /**
       * Ref for focused element.
       *
       * @returns {string}
       */
      focused () {
        return 'phone';
      },
    },

    /**
     * Methods.
     */
    methods: {
      /**
       * Before wizard's "next" event hook.
       * @returns {boolean}
       */
      beforeSetActive () {
        this.$trackAction('suf_phone');
      }
    },
  };
</script>
