<template>
  <span>
    <a
      v-for="link in links"
      :key="link.label"
      :href="link.href"
      :target="link.target"
      class="sign-up__terms-link"
    >
      {{ link.label }}
    </a>
  </span>
</template>

<script>
  import GuestLayoutLinks from "Foundation/components/layout/header/mixins/GuestLayoutLinks";

  export default {
    /**
     * Component name.
     */
    name: 'RegisterTermsOfUse',

    mixins: [
      GuestLayoutLinks
    ],

    /**
     * Computed properties.
     */
    computed: {
      /**
       * List of all links.
       */
      links() {
        return [
          {
            href: this.termsOfUseLink,
            label: this.$trans('labels.terms_of_use'),
            target: '_blank',
          },
          {
            href: this.betaTermsOfUseLink,
            label: this.$trans('labels.beta_terms_of_use'),
            target: '_blank',
          },
          {
            href: this.privacyPolicyLink,
            label: this.$trans('labels.privacy_policy'),
            target: '_blank',
          }
        ];
      },
    },
  };
</script>
