<template>
  <div>
    <div
      v-if="inviteCodeError"
      class="text-center"
    >
      <h1
        v-if="inviteCodeRequire === null"
        class="sign-up__thanks-descr"
      >
        {{ $trans('messages.deactivation_notice') }}
      </h1>
      <p class="text-body-md sign-up__thanks-descr">
        {{ inviteCodeRequire === null ? inviteCodeErrorMessage : inviteCodeRequire }}
      </p>
      <p
        class="text-body-sm sign-up__thanks-descr"
        v-html="contactToSupport"
      />
    </div>
  </div>
</template>

<script>
  import { mapFields } from 'vuex-map-fields';
  import { mapActions, mapState, mapMutations } from "vuex";
  import { first } from "lodash";

  export default {
    /**
     * Component name.
     */
    name: 'RegisterValidateInviteResult',

    /**
     * Data.
     */
    data() {
      return {
        inviteCodeErrorMessage: null,
        inviteCodeRequire: null,
      }
    },

    /**
     * Computed properties.
     */
    computed: {
      /**
       * Fields mapping.
       */
      ...mapFields('register', {
        inviteCode: 'user.inviteCode',
      }),

      /**
       * Map state.
       */
      ...mapState('register', ['inviteCodeError']),

      /**
       * Contact to support message.
       */
      contactToSupport () {
        return `${this.$trans('messages.if_you_have_any_questions')} <br> <a href="${this.$config.general.links.ad_manager.href}">${this.$config.general.links.ad_manager.title}</a>`;
      },
    },

    /**
     * Created.
     */
    created () {
      this.setUp();
    },

    methods: {
      /**
       * Map actions
       */
      ...mapActions('register', { validateCode: 'validateInviteCode' }),

      /**
       * Map mutations
       */
      ...mapMutations('register', { setInviteCodeError: 'setInviteCodeError' }),

      /**
       * Set up
       */
      setUp () {
        const queryParams = this.$route.query;

        if (queryParams.code !== undefined && queryParams.code && !this.inviteCode) {
          this.inviteCode = queryParams.code;
        }

        if (!this.inviteCode) {
          this.setInviteCodeError();
          this.inviteCodeErrorMessage = this.$trans('invitation::messages.invite_code_required');
          this.inviteCodeRequire = this.$trans('invitation::messages.invite_code_required');

          this.$parent.loading = false;
          return;
        }

        this.validateInviteCode();
      },

      /**
       * Validate invite code.
       */
      async validateInviteCode () {
        this.$call(this.validateCode({code: this.inviteCode}), { notify: false })
          .catch((error) => {
            this.inviteCodeErrorMessage = first(error.data.errors.code);
          })
          .finally(() => {
            this.$parent.loading = false;
          })
      },
    }
  };
</script>
