<template>
  <div>
    <h3>{{ $trans('auth::register.whats_your_company_name') }}</h3>
    <text-field
      ref="companyName"
      v-model="companyName"
      tabindex="1"
      :label="$trans('labels.business_name')"
      :placeholder="placeholders.companyName"
      :show-label="false"
      :validation-messages="validationMessages"
      :validation="validation.user.company_name"
      validate-on="none"
      name="company_name"
      size="medium"
    />
    <small
      class="text-muted"
      v-html="$trans('auth::register.business_name_note_p1')"
    />
    <br>
    <small
      class="text-muted"
      v-html="$trans('auth::register.business_name_note_p2', {link: $config.general.links.terms_of_use})"
    />
  </div>
</template>

<script>
  import RegisterFormStep from './mixins/RegisterFormStep';
  import { mapFields } from 'vuex-map-fields';

  export default {
    /**
     * Component name.
     */
    name: 'RegisterCompanyName',

    /**
     * Mixins.
     */
    mixins: [
      RegisterFormStep,
    ],

    /**
     * Computed properties.
     */
    computed: {
      /**
       * Fields mapping.
       */
      ...mapFields('register', {
        companyName: 'user.companyName',
      }),

      /**
       * Custom validation messages.
       */
      validationMessages () {
        return {
          required: this.$trans('validation.custom.company_name.required'),
          max: (field, [max]) => {
            return this.$trans('validation.custom.company_name.max', { max });
          },
        };
      },

      /**
       * Ref for focused element.
       *
       * @returns {string}
       */
      focused () {
        return 'companyName';
      },
    },

    /**
     * Methods.
     */
    methods: {
      /**
       * Before wizard's "setActive" event hook.
       */
      beforeSetActive () {
        this.$trackAction('suf_company');
      }
    },
  };
</script>
