<template>
  <div>
    <h3>{{ $trans('auth::register.whats_your_address') }}</h3>
    <text-field
      ref="street"
      v-model="streetLine1"
      tabindex="1"
      :label="$trans('labels.street_line1')"
      :placeholder="placeholders.street"
      :validation="validation.user.address.line1"
      :validation-messages="validationMessages.line1"
      validate-on="none"
      name="company_address.line1"
      size="medium"
      @enter="submit"
    />
    <text-field
      v-model="streetLine2"
      tabindex="2"
      :label="$trans('labels.street_line2')"
      :validation="validation.user.address.line2"
      :validation-messages="validationMessages.line2"
      validate-on="none"
      name="company_address.line2"
      size="medium"
      @enter="submit"
    />
    <text-field
      v-model="city"
      tabindex="3"
      :label="$trans('labels.city')"
      :placeholder="placeholders.city"
      :validation="validation.user.address.city"
      :validation-messages="validationMessages.city"
      validate-on="none"
      name="company_address.city"
      size="medium"
      @enter="submit"
    />
    <el-row :gutter="55">
      <select-state-and-zip
        :value-state="state"
        :value-zip="zip"
        state-field-name="company_address.state"
        zipcode-field-name="company_address.zipcode"
        @update-value-state="value => state = value"
        @update-value-zip="value => zip = value"
      />
    </el-row>
  </div>
</template>

<script>
  import RegisterFormStep from './mixins/RegisterFormStep';
  import { mapFields } from 'vuex-map-fields';
  import SelectStateAndZip from 'Modules/user/components/location/SelectStateAndZip';

  export default {
    /**
     * Component name.
     */
    name: 'RegisterAddress',

    /**
     * Child components.
     */
    components: {
      SelectStateAndZip
    },

    /**
     * Mixins.
     */
    mixins: [
      RegisterFormStep,
    ],

    /**
     * Computed properties.
     */
    computed: {
      /**
       * Fields mapping.
       */
      ...mapFields('register', {
        streetLine1: 'user.address.streetLine1',
        streetLine2: 'user.address.streetLine2',
        city: 'user.address.city',
        state: 'user.address.state',
        zip: 'user.address.zip',
      }),

      /**
       * Custom validation messages.
       */
      validationMessages () {
        return {
          line1: this.$getCustomValidationMessages('addressLine1'),
          line2: this.$getCustomValidationMessages('addressLine2'),
          city: this.$getCustomValidationMessages('city'),
          state: this.$getCustomValidationMessages('state'),
          zip: this.$getCustomValidationMessages('zip'),
        };
      },

      /**
       * Ref for focused element.
       *
       * @returns {string}
       */
      focused () {
        return 'street';
      },
    },

    /**
     * Created,
     */
    created () {
      this.filteredStates = this.states;
      document.body.classList.add("register-is-address");
    },

    /**
     * Destroyed hook
     */
    destroyed () {
      document.body.classList.remove("register-is-address");
    },

    /**
     * Methods.
     */
    methods: {
      /**
       * "afterValidate" hook handler.
       * @param {boolean} isValid
       */
      afterValidate (isValid) {
        if (!isValid) {
          this.drawAttentionToError();
        }
      },

      /**
       * Draw user's attention to the error if it's not in viewport.
       */
      drawAttentionToError () {
        if (!this.isErrorNotable()) {
          this.scrollToFirstError();
        }
      },

      /**
       * Scroll to the first error.
       */
      scrollToFirstError () {
        this.$scrollTo(this.getFirstErrorEl(), 1000);
      },

      /**
       * Get first error element.
       * @returns {Element|null}
       */
      getFirstErrorEl () {
        return document.querySelector('.el-form-item__error');
      },

      /**
       * Check if the first error is visible.
       * @returns {boolean}
       */
      isErrorNotable () {
        const errorEl = this.getFirstErrorEl();
        if (!errorEl) {
          return true;
        }

        let viewHeight = window.innerHeight || document.documentElement.clientHeight;
        const footerEl = document.querySelector('.wizard__footer');
        if (footerEl) {
          viewHeight = viewHeight - footerEl.offsetHeight;
        }

        return errorEl.getBoundingClientRect().top < viewHeight;
      },
    },
  };
</script>
