<template>
  <div class="line-scale">
    <div class="line-scale__bar">
      <div class="line-scale__bar--inner">
        <span
          v-for="(value, index) in chartData"
          :key="index"
          :style="{
            ['width']: value.percentage+'%',
          }"
        />
      </div>
    </div>
    <div class="line-scale__body">
      <div
        v-for="(value, index) in chartData"
        :key="index"
        class="line-scale__row"
      >
        <div class="line-scale__title">
          <span
            :style="{
              ['background-color']: value.backgroundColor,
            }"
          />
          {{ value.title }}
        </div>
        <div class="line-scale__value">
          <span>{{ value.percentage }}%</span>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'LineScale',

    /**
     * Component properties
     */
    props: {

      /**
       * Chart date
       */
      chartData: {
        type: [Array, Object],
        required: true,
      }
    }
  }
</script>
