<template>
  <el-button
    v-if="ctaTitle"
    type="default"
    size="small"
    @click="ctaClick"
  >
    {{ ctaTitle }}
  </el-button>
</template>

<script>
  import { get } from 'lodash';
  import ReminderButton from './mixins/ReminderButton';

  export default {
    /**
     * Name of the component.
     */
    name: 'LinkButton',

    /**
     * Mixins.
     */
    mixins: [ReminderButton],

    /**
     * Computed properties.
     */
    computed: {
      /**
       * Get CTA route if exist.
       * @returns {(Object|null)}
       */
      ctaRoute () {
        const route = get(this.cta, 'route');
        if (route) {
          const routeParams = get(this.cta, 'routeParams', {});
          return {route, routeParams};
        }
        return null;
      },
    },

    /**
     * Methods.
     */
    methods: {
      /**
       * Handler for CTA button click.
       */
      ctaClick () {
        if (this.ctaRoute) {
          this.$redirectToRoute(this.ctaRoute.route, this.ctaRoute.routeParams);
        }
      },
    },
  };
</script>
