.campaigns {
  &__holder {
    padding: $--main-padding-y $--main-padding-x;
  }

  &__impressions-cell {
    text-align: right;
    padding-right: 25px;
  }

  .creative-status {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;

    &__item {
      display: inline-flex;
    }
  }

  &__actions-cell {
    .el-tooltip {
      margin-right: 20px;
      width: 22px;
      height: 22px;

      .el-loading-spinner {
        .circular {
          width: 22px;
        }
      }
    }
  }
}

.campaign-details {
  .popup-fullscreen {
    &__main {
      padding-top: 50px;
    }

    &__header {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      padding: 32px 56px;
      flex-wrap: wrap;
      position: relative;

      @media all and (max-width: 1593px) {
        &.has-extra-padding {
          padding-bottom: 104px;
        }
      }

      p {
        color: var(--color-text-sm-low);

        span {
          margin: 0 .25em;
        }
      }

      .el-link {
        font-weight: normal;
        color: var(--fgcolor-blue);
        vertical-align: baseline;
      }

      .popup-fullscreen__actions {
        align-items: stretch;
        margin-bottom: 0;
        position: relative;

        > p {
          position: absolute;
          top: 100%;
          padding-top: 9px;
          margin: 0 0 0 8px;
        }
      }
    }

    &__header-inner {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      flex: 0 0 100%;
      max-width: 100%;
    }

    &__details {
      flex: 0 0 100%;
      max-width: 70%;

      p {
        color: var(--color-text-med);
        margin-bottom: 0;
      }
    }

    &__title {
      @extend .text-subtitle-lg-medium;
      width: auto;
      min-width: 600px;
      flex-grow: 1;
      padding-right: 40px;
      margin-bottom: 8px;
      color: var(--color-text-med);

      .tooltip-block {
        font-weight: inherit;
      }

      .el-tooltip {
        word-break: break-word;
        width: fit-content;
        height: auto;
        display: -webkit-box;
        overflow: hidden;
        font-weight: inherit;
      }
    }

    &__controls {
      display: flex;
      align-items: center;
      flex: none;
      margin-left: auto;

      @media all and (max-width: 1593px) {
        position: absolute;
        bottom: 36px;
        left: 56px;
        margin: 0;
      }

      .el-button {
        margin: 0 24px 0 0;

        &.el-button--primary {
          margin: 0 0 0 24px;
        }

        span {
          display: flex;
          align-items: center;

          svg {
            margin-right: 12px;
            fill: currentColor;
            margin-bottom: 2px;

            &.icon-download {
              fill: none;
              stroke: currentColor;
            }
          }
        }
      }
    }

    &__actions {
      .details-status {
        margin-left: 8px;
      }

      .el-button {
        margin-left: 24px;
      }
    }

    &__panel {
      padding-bottom: 50px;
      padding-top: 50px;
      background: var(--bg-offset5);

      .status {
        margin-bottom: 36px;
      }

      .info-row__item {
        margin-bottom: 0;
        width: auto;

        .text-label-xs-semibold-caps {
          margin-bottom: 16px;
        }
      }
    }

    &__actions {
      &-item {
        display: flex;
        align-items: center;
        margin-left: 34px;
      }
    }
  }

  .order-popup .popup-fullscreen__panel {
    padding: 36px 0;
  }

  .status-empty {
    margin-bottom: 16px;
  }

  .details {
    .tabs {
      position: relative;

      .change-revision {
        position: absolute;
        top: 0;
        right: 0;
      }
    }

    &__item {
      ul li {
        margin-bottom: 9px;
      }
    }

    &--overview {
      &__message {
        padding-bottom: 32px;
      }
    }

    &-status {
      .changed-by {
        text-transform: none;
        white-space: nowrap;
      }
    }
  }
}

.details-item {
  position: relative;
  display: inline-flex;
  align-items: flex-start;
  color: var(--color-text-med);

  h3 {
    margin-bottom: 8px;
  }

  .budget-tooltip {
    position: absolute;
    left: calc(100% + 8px);
    bottom: 27px;

    .budget-code {
      white-space: nowrap;
    }
  }

  &__header {
    display: flex;
    flex-direction: column;

    span {
      font-weight: inherit;
    }
  }

  &__divider {
    @extend .text-body-md-125;
    display: inline-block;
    vertical-align: middle;
    margin: 0 5px 0 11px;
    color: var(--color-text-med);
  }

  &__content {
    display: flex;
    flex-direction: column;

    h3 {
      color: inherit;

      span {
        font-weight: inherit;
        color: inherit;
      }
    }

    > span {
      font-weight: inherit;
    }
  }

  .el-loading-mask {
    background-color: var(--bg-offset5);
  }
}

.info-row {
  display: flex;
  flex-flow: row wrap;

  &__item {
    padding: 0;
    width: 33%;
    margin-bottom: 32px;

    p {
      margin: 0;
      padding-right: 5px;
    }

    .text-label-xs-semibold-caps {
      margin-bottom: 10px;
    }

    &--budget {
      .text-label-xs-semibold-caps {
        margin-bottom: 20px;
      }
    }
  }
}

.budget-code {
  @extend .text-label-xxxs-semibold-caps;
  background-color: var(--fg-base);
  color: var(--color-text-high-inverted);
  margin-left: 5px;
  padding: 7px 8px;
  cursor: pointer;
  position: relative;

  &:hover {
    background-color: var(--bg-offset60);

    .budget-tooltip__popover {
      opacity: 1;
      visibility: visible;
    }
  }
}

.budget-tooltip {
  display: flex;
  align-items: center;

  > p {
    margin-bottom: 0;
  }

  &__popover {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    bottom: calc(100% + 8px);
    left: 0;
    min-width: 170px;
    max-width: 400px;
    background-color: var(--bg-base);
    text-align: right;
    box-shadow: 0 2px 35px 0 getDarkHSLA(.1);
    white-space: nowrap;
    z-index: 10;

    b:first-of-type {
      @extend .text-label-xs-semibold-caps;
    }

    b:not(:first-of-type) {
      @extend .text-body-xs;
    }

    &.is-right {
      left: auto;
      right: 0;
    }

    p {
      margin-bottom: 5px;

      &:not(:first-of-type) {
        @extend .text-body-xs;
      }
    }
  }

  .total {
    margin: 5px 0 0 0;
    padding-top: 12px;
    border-top: 1px solid var(--border-color-gray);
  }

  .text-label-xs-semibold-caps {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.discounts {
  position: absolute;
  right: 10px;
  z-index: 10;

  &__body {
    > p {
      margin-bottom: 5px;
    }

    > div {
      display: flex;
    }

    .budget-tooltip {
      margin-right: 25px;
    }
  }

  &__summary {
    padding-top: 10px;
    margin-top: 10px;
    border-top: 1px solid var(--border-color-gray);
  }

  .budget-code {
    margin-left: 0;
  }

  .budget-tooltip__popover {
    left: auto;
    right: calc(100% - 30px);
    min-width: auto;

    p {
      margin-bottom: 0;
    }
  }
}

.campaign-schedule {
  &__input-wrapper {
    display: flex;
    align-items: center;

    .el-form-item {
      margin: 0;
    }
  }

  &__input-wrapper-item {
    display: inline-block;

    &.campaign-date-range {
      margin: 0 15px 0 0;
    }

    .el-date-editor .el-range__close-icon {
      position: absolute;
    }

    .el-form-item__error {
      top: auto;
      left: auto;
      max-width: 320px;
    }
  }
}

.details {
  &__item {
    margin-bottom: 24px;

    &-title {
      border-bottom: 1px solid var(--border-color-gray);
    }

    &-content {
      padding: 24px 0;
    }
  }

  &--creative {
    .el-card {
      &.is-always-shadow {
        box-shadow: none;
        border: 0;
      }

      &__body {
        padding: 0;
      }
    }

    .c-creative {
      a:not(.el-button) {
        &:hover {
          text-decoration: underline;
        }
      }

      .video-info {
        a {
          &:hover {
            text-decoration: none;
          }
        }
      }

      &__body .c-creative__reminder {
        max-width: none;
        text-align: center;
      }

      &__messages {
        margin-bottom: 24px;
      }

      &__upload {
        margin-bottom: 24px;
      }

      &__reminder {
        margin-bottom: 24px;
      }
    }

    .table {
      &__actions {
        flex-flow: row wrap;
        margin-bottom: 30px;

        &-select-page {
          width: 100%;
          margin: 0 0 16px;
        }
      }
    }
  }
}

.wizard__links {
  padding: 31px 56px;
}

.status-info {
  top: 32px;
  left: calc(100% - 276px);
  bottom: auto;
  min-width: 285px;
  text-align: left;

  .text-body-xs {
    overflow: visible;
    white-space: normal;
    text-transform: none;
  }
}

.audiences_list {
  li {
    word-break: initial !important;
  }
}

.dynamic-number {
  &,
  div {
    display: flex;
  }
}
