.wrapper--wizard {
  background-color: var(--bg-base);

  .el-main {
    --header-height: #{$--header-height};
    --wizard-controls-offset-x: #{$--wizard-controls-offset-x};
    --wizard-controls-sm-offset-x: #{$--wizard-controls-sm-offset-x};

    flex: none;
    overflow: visible;
  }
}

.wizard-header-wrapper {
  position: sticky;
  top: -72px;
  // z-index was set to 20 for popup components within wizard content that have lower z-index (i.e. Annotation, InfoTip)
  z-index: 20;

  .header {
    position: relative;
    background: var(--fg-offset100);
  }
}

.create-campaign {
  margin: 0;
  display: flex;
  flex-flow: column nowrap;
  min-height: 100vh;

  &.fixed {
    .campaign-sidebar {
      height: calc(100vh - 100px);
    }
  }

  .text-muted p {
    color: var(--color-text-sm-low);
  }

  .el-dialog-custom {
    &__header {
      min-width: $--main-min-width;
      padding: 0;
    }

    &__body {
      padding-bottom: 30px;
      min-width: $--main-min-width;
    }
  }

  > .el-loading-mask {
    position: fixed;
  }

  .wizard {
    &__header {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 20px $--main-padding-x;
      height: var(--header-height);
      position: relative;
      background-color: var(--fg-offset20);

      .el-button {
        z-index: 1;
        margin-right: auto;
        padding: 15px 38px;

        &:nth-last-of-type(1) {
          margin-right: 0;
          margin-left: auto;
        }
      }

      a {
        &:focus {
          outline: none;
        }

        &:not(.creation-steps__inner-link) {
          color: var(--color-text-high-inverted);

          &:focus {
            color: var(--color-success);
          }
        }
      }

      .status {
        position: absolute;
        right: 32px;
        color: var(--color-text-high-inverted);
        z-index: 1;
      }
    }

    &__content {
      flex-grow: 1;
      padding-bottom: 50px;
    }

    &__footer {
      justify-content: space-between;
      min-width: $--main-min-width;
      background-color: var(--bg-base);
      z-index: 101;

      @media screen and (max-width: $--sm) {
        align-items: flex-end;
      }
    }

    .el-button {
      padding: 19px 53px;
    }
  }

  &__form {
    flex: 1;
    max-width: 1310px;
    margin: 0 auto;

    @media screen and (max-width: 1440px) {
      margin: 0 56px;
    }

    & > .el-row {
      padding-top: 77px;
    }

    & > div > .el-row,
    & .step > .el-row {
      width: 100%;
      padding-top: 80px;
      position: static;

      @media screen and (max-height: 570px) {
        padding-top: 40px;
      }
    }
  }

  &__top {
    margin-bottom: 40px;
  }

  &__title {
    @extend .text-subtitle-md-semibold;
    margin-bottom: 12px;

    @media screen and (max-width: 1600px) {
      display: flex;
      flex-direction: column;
    }

    @media screen and (max-width: 1365px) {
      width: 95%;
    }
  }

  &__subline {
    display: block;
    color: var(--color-text-med);

    &,
    p {
      @extend .text-body-sm;
    }
  }

  &__locations-targeting {
    margin-bottom: 36px;

    .el-select {
      margin-bottom: 24px;
    }
  }

  &__audiences-targeting {
    margin-bottom: 15px;
  }

  .budget-bar {
    @extend .text-label-xxs-semibold-caps;
    background-color: var(--bg-offset5);
    padding: 12px;
    text-align: center;
    position: absolute;
    top: 255px;
    right: calc(30% + var(--wizard-controls-offset-x));
    z-index: 0;

    @media screen and (max-height: 570px) {
      top: 230px;
    }

    @media screen and (min-width: 1472px) {
      right: 522px;
    }

    @media screen and (max-width: 1365px) {
      right: calc(30% + var(--wizard-controls-sm-offset-x));
    }

    dl {
      display: grid;
      grid-gap: 8px;
      grid-template-columns: 1fr 140px;
      text-align: left;
      margin: 0;
    }

    dt {
      @extend .text-size-xxs;
    }

    dd {
      margin: 0;
      text-align: right;
    }


  }

  .upload-creative {
    margin-bottom: 24px;
  }

  .search-creation {
    .el-form-item {
      margin-bottom: 0;

      .el-select {
        width: 100%;
      }
    }
  }

  .el-input__suffix {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    top: 50%;
    transform: translateY(-50%);
  }
}

.pick-locations {
  &__name {
    margin-bottom: 20px;
    padding: 0 16px;

    &-item {
      display: inline-block;
    }
  }

  &__item {
    padding: 15px 16px 13px;
    margin-bottom: 8px;
    border: 1px solid var(--border-color-base);
    position: relative;
    transition: $--all-transition;
    display: flex;
    align-items: center;

    &:hover {
      background: var(--bg-offset5);

      .pick-locations__delete {
        opacity: 1;
        pointer-events: auto;
      }
    }

    &-name {
      @extend .text-size-sm;
    }
  }

  &__delete {
    position: absolute;
    right: 23px;
    top: 50%;
    transform: translateY(-50%);
    transition: $--all-transition;
    opacity: 0;
    pointer-events: none;

    .icon {
      width: 20px;
      height: 20px;
    }
  }

  .item-location {
    display: inline-block;
    width: 55%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: 12px;
  }

  .item-include {
    display: inline-block;
    width: 19%;
  }

  .item-exclude {
    display: inline-block;
    width: 19%;
  }

  .el-radio {
    margin: 0;

    &__inner {
      background: transparent;
    }

    &__label {
      display: none;
    }
  }
}

.budget-form {
  margin: 64px 0 24px 0;

  &__impressions {
    display: flex;
    margin-bottom: 16px;

    .el-form-item {
      margin-bottom: 0;
      flex-grow: 1;
      width: 250px;
      margin-right: 16px;

      &.is-error {
        .el-input {
          &__inner {
            box-shadow: none;
            border: 1px solid var(--color-danger);
          }
        }

        .el-form-item__error {
          position: relative;
        }
      }

      .is-disabled {
        .el-input {
          &__inner {
            color: var(--input-font-color);
          }
        }
      }

      .info-text {
        line-height: 1.2;
        padding-top: 8px;
      }
    }

    .el-input {
      &__inner {
        padding-right: 8px;
      }
    }
  }

  &__icon-separator {
    margin: 17px 8px 0;
    width: 32px;
    text-align: center;

    .icon {
      transform: rotate(90deg);
      margin: 0 auto;
    }

    &.is-rotated {
      .icon {
        transform: rotate(-90deg);
      }
    }
  }

  &__descr {
    margin-bottom: 20px;
  }

  &__submit {
    width: 100%;
  }

  .message {
    margin-bottom: 48px;

    &--time {
      background-color: var(--bg-offset5);
      border: 0;
    }

    &__descr {
      @extend .text-label-xs;
      letter-spacing: 1px;
      text-transform: uppercase;

      b {
        font-weight: $--font-weight-semibold;
        margin: 0;
      }
    }
  }

  .el-radio-group {
    width: 100%;
    flex: 0 0 100%;
    margin-bottom: 20px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between
  }

  .el-radio {
    max-width: 221px;
    width: calc(50% - 23px);
    margin: 0;

    .annotated-text {
      display: inline;
      text-transform: capitalize;
    }
  }
}

.creative-form {
  .el-card {
    &.is-always-shadow {
      box-shadow: none;
    }

    &__body {
      padding: 0;
    }
  }

  .c-creative {
    &__messages {
      margin-bottom: 24px;
    }

    &__upload {
      margin: 24px 0;

      > .el-button {
        width: 100%;
      }
    }

    &__reminder {
      margin-bottom: 24px;
    }
  }

  .table {
    &__actions {
      flex-flow: row wrap;
      margin-bottom: 30px;

      &-select-page {
        width: 100%;
        margin: 0 0 16px;
      }
    }
  }
}

.creative-image {
  display: flex;
  align-items: center;

  img {
    margin-right: 15px;
  }
}

.creative-issues {
  .el-dialog {
    &__header {
      padding: 88px $--main-padding-x 0;
      border-bottom: 0;
    }

    &__body {
      padding: $--main-padding-middle-y $--main-padding-x;
    }
  }

  .message {
    margin-bottom: 14px;
  }
}

.review-campaign {
  .message {
    margin: 0 auto 24px;

    a {
      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__title {
    @extend .text-subtitle-md-semibold;
  }

  &__list {
    padding: 24px;
    margin-bottom: 16px;
    border-radius: $--border-radius-base;
    background-color: var(--bg-offset5);

    .collapse-grid {
      &__col {
        margin-bottom: 48px;

        .deleted {
          text-decoration: line-through;
        }

        .inline-list {
          li {
            display: inline;
          }
        }

        &.col-6 {
          ul {
            margin-bottom: 0;
          }
        }

        &:last-of-type {
          margin-bottom: 0;
        }

        ul {
          @extend .text-size-sm;
          margin-bottom: 40px;

          &:nth-last-of-type(2),
          &:nth-last-of-type(1) {
            margin-bottom: 0;
          }

          li {
            ul {
              margin-bottom: 0;
            }
          }
        }
      }
    }

    &.is-bordered {
      background-color: var(--bg-base);
      border: 1px solid var(--border-color-base);

      .collapse-grid__col {
        ul {
          @extend .text-label-xs;
        }

        .current {
          color: var(--fg-offset50);
        }
      }
    }
  }

  &__name {
    @extend .text-label-xs-semibold-caps;
    padding-bottom: 14px;
    margin-bottom: 24px;
    border-bottom: 1px solid var(--border-color-gray);
    word-break: break-word;
    white-space: normal;
  }

  &__table {
    p {
      margin: 0;

      &.notice {
        margin-top: 20px;
        text-align: center;
        line-height: 20px;
        color: var(--color-text-high);
      }
    }
  }

  &__item {
    padding: 16px 0;

    p {
      white-space: normal;
      word-break: break-word;
    }

    &:not(:first-child) {
      span {
        text-transform: capitalize;
      }
    }
  }
}

.campaign-payment {
  display: flex;
  justify-content: center;

  h3 {
    margin-bottom: 52px;
  }

  .payment-method {
    &__item {
      padding: 25px;
    }
  }
}

.confirm-order {
  padding: 24px 24px 16px 24px;
  background: var(--bg-offset5);
  margin-bottom: 16px;

  .deleted {
    text-decoration: line-through;
  }

  &__title {
    display: block;
    margin-bottom: 16px;
  }

  &__list {
    @extend .text-size-sm;
    border-bottom: 1px solid var(--border-color-gray);
    margin-bottom: 16px;

    &-name {
      font-weight: $--font-weight-medium;
      margin-bottom: 8px;
    }

    dl {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-flow: row wrap;
      margin: 8px 0 0 0;

      &.confirm-order__list--first {
        margin: 16px 0;
      }
    }

    dt {
      margin: 0 0 16px;
      width: 40%;
      word-break: break-word;
    }

    dd {
      margin: 0 0 16px;
      width: 60%;
      text-align: right;
      font-weight: $--font-weight-medium;

      .text-danger {
        padding-right: 8px;
      }
    }

    &--first {
      padding: 8px;
      background-color: var(--border-color-gray);

      dt {
        margin-bottom: 0;
        white-space: nowrap;
      }

      dd {
        margin-bottom: 0;
      }
    }
  }

  &__total {
    @extend .text-size-sm;

    &-item {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      flex-flow: row wrap;
      text-align: right;

      &:last-child {
        font-weight: $--font-weight-medium;
      }
    }

    &-name {
      margin-right: 5px;
    }

    &-cost {
      font-weight: normal;
      margin: 0 16px 0 0;
    }

    &-value {
      min-width: 90px;
      font-weight: $--font-weight-medium;
    }
  }

  .el-loading-mask {
    z-index: 0;
  }
}

.success-campaign {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  max-width: 628px;
  margin: 0 auto -136px auto;
  height: calc(100vh - var(--main-header-height));
  min-height: 670px;
  overflow: hidden;

  &:before {
    content: '';
    display: block;
    height: 10vh;
    max-height: 100px;
    min-height: 40px;
  }

  h1 {
    margin-bottom: 24px;
  }

  &__controls {
    flex-grow: 1;
    margin: 36px 0;
  }

  &__image {
    max-height: 36vh;
    min-height: 245px;
    object-fit: contain;
    transform: translateY(23%);
  }
}
