.landing .wrapper,
.wrapper-landing {
  min-width: 1px;
}

.wrapper {
  .toggle-mobile {
    display: none;
  }

  &.has-responsive-layout {
    min-width: 100%;

    .visible-md {
      display: none;

      @media all and (max-width: $--md) {
        display: block;
      }
    }

    .hidden-md {
      display: none;
    }

    .header {
      @media all and (max-width: $--md) {
        background-color: var(--bg-base);
        position: sticky;
        top: 0;
        z-index: 3;
      }
    }

    .header__holder {
      position: relative;

      .logo {
        @media all and (max-width: $--md) {
          margin-right: 0;
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);

          &__link {
            display: flex;
            font-size: 0;
          }
        }
      }
    }

    .header__auth {
      @media all and (max-width: $--sm) {
        padding-right: 32px;
      }
    }

    .el-menu--horizontal .el-menu-item {
      @media all and (max-width: $--md) {
        height: auto;

        &,
        a {
          line-height: 1;
        }

        a {
          padding: 16px 0;
        }
      }
    }

    .el-header {
      @media all and (max-width: $--sm) {
        padding: 0;
      }
    }

    .el-menu {
      @media all and (max-width: $--md) {
        display: none;
        padding-top: 48px;
      }

      &.menu-opened {
        position: fixed;
        display: flex;
        flex-direction: column;
        z-index: 111;
        top: 72px;
        left: 0;
        bottom: 0;
        width: 100%;
        text-align: center;
      }

      @media all and (max-width: $--md) {
        .el-menu-item {
          &.is-active {
            border-bottom: 0;
          }

          &.has-dropdown {
            padding-right: 20px;
          }
        }

        .dropdown {
          color: inherit;

          > a {
            display: inline-block;
            position: relative;

            &:hover {
              + .dropdown__submenu {
                display: none;
              }
            }

            i {
              position: absolute;
              left: 100%;
              top: 20px;
              padding-left: 12px;
              pointer-events: none;
            }
          }

          &__submenu {
            position: relative;
            display: none;
            top: 0;
            transform: none;
            background-color: transparent;
            color: inherit;
            box-shadow: none;
          }

          &:hover {
            .dropdown__submenu {
              display: block;
              opacity: 1;
              visibility: visible;
            }
          }
        }
      }
    }

    .toggle-mobile {
      margin-left: 0;
      height: 18px;
      width: 26px;
      position: fixed;
      top: 24px;
      left: 38px;
      padding: 0;
      border: 0;

      @media all and (max-width: $--md) {
        display: inline-block;
      }

      > span {
        display: inline-block;
      }

      .line {
        width: 36px;
        height: 2px;
        display: block;
        background-color: var(--bg-offset100);
        position: absolute;
        left: 0;
        transition: all 0.3s cubic-bezier(0.58, 0, 0.58, 1);

        &:nth-child(1) {
          top: 0;
          width: 26px;
        }

        &:nth-child(2) {
          top: 50%;
          margin-top: -1px;
          width: 26px;
        }

        &:nth-child(3) {
          top: 100%;
          margin-top: -2px;
          width: 26px;
        }
      }

      &.menu-opened {
        .line {
          opacity: 1;
          transform: rotate(45deg) translate(-8px, -10px);

          &:nth-child(1) {
            transform: translateY(8px) rotate(45deg);
            width: 26px;
          }

          &:nth-child(2) {
            opacity: 0;
            transform: none;
          }

          &:nth-child(3) {
            transform: translateY(-8px) rotate(-45deg);
          }
        }
      }
    }

    .footer {
      padding: 0;

      @media all and (max-width: $--sm) {
        height: auto !important;
        min-height: 88px;
        padding: 24px 0;
      }

      .land-footer__copy {
        @media all and (max-width: $--sm) {
          margin-top: 24px;
          margin-left: 0;
        }
      }

      &__terms {
        &:last-of-type {
          margin-left: 0;
        }

        @media all and (max-width: $--sm) {
          flex: 0 0 50%;
          max-width: 50%;
          margin-right: 0;
        }

        @media all and (max-width: 400px) {
          flex: 0 0 100%;
          max-width: 100%;
        }
      }

      &__menu {
        @media all and (max-width: $--sm) {
          display: flex;
          flex-wrap: wrap;
          width: 100%;
          text-align: center;
        }
      }

      &__holder {
        flex-wrap: wrap;
        padding: 0 56px;
        width: 100%;

        @media all and (max-width: $--sm) {
          flex-direction: column;
          align-items: center;
          justify-content: center;
          padding: 0 38px;
        }
      }
    }
  }
}

.landing-page {
  background-color: var(--bg-offset40);
  display: flex;
  flex-direction: column;

  .el-button--success {
    --base-hue: var(--hue-success);
    --base-sat: var(--sat-high);

    background: var(--bg-offset50);
    border-color: var(--bg-offset50);
    color: var(--color-text-high);

    &:hover,
    &:focus {
      background: var(--bg-offset40);
      border-color: var(--bg-offset40);
    }

    &:active {
      background: var(--bg-offset30);
      border-color: var(--bg-offset30);
    }
  }

  &__header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    box-shadow: inset 0 -1px 0 0 var(--fg-offset100);

    @media all and (min-width: $--md) {
      padding: 20px 40px;
    }

    @media all and (min-width: 1440px) {
      padding: 20px 70px;
    }

    .el-button {
      color: var(--color-text-high-inverted);
      padding: 12px;
      letter-spacing: .5px;

      @media all and (max-width: ($--sm - 1)) {
        color: var(--color-text-sm-low);
      }

      @media all and (min-width: $--md) {
        padding: 12px 20px;
      }

      @media all and (min-width: $--lg) {
        padding: 12px 32px;
      }

      @media all and (min-width: 1440px) {
        padding: 17px 37px;
      }
    }

    .el-button--primary {
      border-color: var(--bg-base);
      background-color: transparent;
      @extend .text-size-sm;

      &:hover,
      &:focus {
        color: var(--color-text-sm-low);
        border-color: var(--bg-base);
        background-color: var(--bg-base);
      }

      @media all and (max-width: ($--sm - 1)) {
        color: var(--color-text-sm-low);
        border-color: var(--bg-offset40);
      }
    }
  }

  &__hero {
    position: relative;
    background-color: var(--bg-offset100);

    @media all and (min-width: 992px) {
      min-height: calc(100vh - var(--main-header-height));
    }
  }

  &__content {
    flex-grow: 1;
    background: var(--bg-offset100);
  }

  &__footer {
    background-color: var(--bg-offset5);
    padding: 95px 20px 0 20px;
    z-index: 1;

    @media all and (min-width: $--md) {
      padding: 95px 40px 0 40px;
    }

    @media all and (min-width: $--lg) {
      padding: 95px 80px 0 80px;
    }
  }
}

.land-header {
  z-index: 10;

  .navbar-toggler {
    width: 30px;
    height: 21px;
    border: 0;
    position: fixed;
    right: 30px;
    top: 23px;
    background-color: transparent;
    z-index: 10;

    @media all and (min-width: $--sm) {
      display: none;
    }

    &:after {
      content: '';
      position: absolute;
      left: 0;
      height: 2px;
      width: 100%;
      background-color: var(--bg-base);
      transition: all .3s linear;
    }

    &:after {
      top: 10px;
    }

    span {
      display: block;

      &:before,
      &:after {
        content: '';
        position: absolute;
        left: 0;
        height: 2px;
        width: 100%;
        background-color: var(--bg-base);
        transition: all .3s linear;
      }

      &:before {
        top: 0;
      }

      &:after {
        bottom: 0;
      }
    }
  }

  &__logo {
    img {
      width: 209px;
      display: block;
    }
  }

  &__menu {
    transition: all .3s linear;

    &.opened {
      opacity: 1;
      visibility: visible;

      ~ .navbar-toggler {
        span {
          &:before,
          &:after {
            background-color: var(--bg-offset40);
          }
        }

        &:after {
          background-color: var(--bg-offset40);
        }
      }
    }

    .el-button--text {
      transition: opacity .25s linear;

      &:hover {
        opacity: 0.8;
      }
    }

    @media all and (max-width: ($--sm - 1)) {
      position: fixed;
      background: var(--bg-base);
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 30px;
      opacity: 0;
      visibility: hidden;

      li {
        margin-bottom: 20px;

        &:last-of-type {
          margin-bottom: 0;
        }
      }
    }

    @media all and (min-width: $--sm) {
      display: block;
    }
  }
}

.land-hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--color-text-high-inverted);

  p {
    color: inherit;
    @extend .text-body-md;
  }

  h1,
  h2,
  h3 {
    color: var(--color-text-high-inverted);
  }

  h1 {
    @extend .text-title-xxl-bold-caps;
    font-family: $--font-family-secondary;
    margin-bottom: 47px;
  }

  &__bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: var(--bg-offset100) right center/auto 100% no-repeat;
    z-index: 0;

    @media all and (min-width: $--md) {
      background-image: url("../../images/landing/hulu-landing-hero.jpg");
    }
  }

  &__content {
    position: relative;
    padding: 40px 38px;
    z-index: 1;
    width: 100%;
    max-width: $--main-min-width;
    margin: 0 auto;

    > p {
      margin-bottom: 47px;
      width: 80%;

      @media all and (min-width: $--md) {
        width: 50%;
      }

      @media all and (min-width: 1440px) {
        max-width: 833px;
      }
    }
  }

  &__caption {
    color: var(--color-success);
    margin-bottom: 24px;

    p {
      @extend .text-label-xs-semibold-caps;
      color: inherit;
    }
  }
}

.land-content {
  h1,
  h2,
  h3 {
    color: var(--color-text-high-inverted);
  }

  p {
    @extend .text-body-md;
    color: var(--color-text-high-inverted);
  }

  &__text {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 40px 38px;
    z-index: 1;
    width: 100%;
    max-width: $--main-min-width;
    margin: 0 auto;

    .el-button {
      margin-top: 40px;
    }
  }

  &__logos {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    img {
      margin: 0 32px 24px 0;
    }
  }

  &__subtitle {
    @extend .text-label-xxs-semibold-caps;
    color: var(--color-success);
    margin-bottom: 10px;
    display: block;
  }

  &__title {
    @extend .text-title-xl-semibold;
    margin-bottom: 15px;
  }
}

.land-features {
  @extend .text-title-xl-semibold;

  @media all and (min-width: $--sm) {
    display: flex;
    justify-content: center;
  }

  &__item {
    display: flex;
    align-items: center;
    flex: 0 0 100%;
    margin-bottom: 30px;

    &:last-of-type {
      margin-bottom: 0;
    }

    &:nth-of-type(2) {
      .img {
        @media all and (min-width: $--sm) {
          width: 145px;
        }
      }
    }

    &:nth-of-type(3) {
      .img {
        @media all and (min-width: $--sm) {
          width: 160px;
        }
      }
    }

    @media all and (min-width: $--sm) {
      flex-direction: column;
      flex: 0 0 23%;
      max-width: 350px;
      margin-left: 50px;
      margin-bottom: 0;
    }

    &:first-of-type {
      margin-left: 0;
    }

    .img {
      width: 150px;

      @media all and (min-width: $--sm) {
        flex-grow: 1;
        width: 120px;
        margin: 0 auto;
        padding-bottom: 25px;
        display: flex;
        align-items: center;
      }

      img {
        max-width: 100%;
        @media all and (min-width: $--sm) {
          width: 100%;
        }
      }
    }

    p {
      margin-left: 15px;
      font-weight: $--font-weight-semibold;

      @media all and (min-width: $--sm) {
        margin-left: 0;
      }
    }
  }
}

.land-footer {
  @extend .text-size-xxs;
  color: var(--color-text-sm-low);
  text-align: center;

  @media all and (min-width: $--sm) {
    text-align: left;
  }

  a {
    color: var(--color-text-sm-low);

    small {
      display: inline;
    }

    &:hover {
      color: var(--fgcolor-blue);
    }
  }

  .footer {
    padding: 0;
  }

  &__content {
    border-top: 1px solid var(--border-color-gray);
    padding: 30px 0;

    @media all and (min-width: $--sm) {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    @media all and (min-width: $--lg) {
      padding: 30px 0 50px 0;
    }
  }

  &__menu {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;

    @media all and (min-width: $--sm) {
      justify-content: flex-start;
      margin-bottom: 0;
    }

    li {
      margin-left: 40px;

      &:first-of-type {
        margin-left: 0;
      }
    }
  }
}
