.form-column {
  padding: 48px 32px;

  &__header {
    margin-bottom: 42px;
    position: relative;

    p {
      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }

  .custom-label {
    margin-bottom: 12px;
  }

  .custom-description {
    margin-bottom: 24px;//or 26 by Design for come items
  }
}

.form-section {
  padding-bottom: 40px;
  margin-bottom: 40px;
  border-bottom: 1px solid var(--fg-offset90);

  &:last-child {
    margin-bottom: 0;
    border-bottom: 0;
  }

  &:last-of-type {
    padding-bottom: 0;
    margin-bottom: 0;
    border: 0;
  }

  .el-form-item {
    margin-bottom: 0;
  }

  .el-checkbox {
    &:not(:last-child) {
      margin-bottom: 18px;
    }
  }

  .el-radio-group {
    .el-radio-group {
      margin-top: 18px;
    }

    + .el-form-item {
      margin-top: 24px;
    }
  }

  .el-radio {
    display: flex;
    align-items: flex-start;
    white-space: normal;

    &:not(:last-of-type) {
      margin-bottom: 18px;
    }

    &__title {
      display: flex;
      align-items: center;
      margin: 0 0 6px 0;

      .status-badge {
        margin-left: 6px;
      }
    }

    &__label {
      margin-top: 3px;
    }
  }
}

//OLD
.report-form {
  .el-radio-group,
  .el-checkbox-group {
    display: grid;

    .el-radio,
    .el-checkbox {
      &__label {
        display: inline-grid;
      }
    }
  }

  &--block {
    border-top: solid 1px var(--fg-offset90);
    padding-top: 40px;
  }
}

/*
Title: mb8
Description: mb42
Radio-label: mb2
Radio-item (with descr): mb18
Section: p40-0
Section-caption: mb12
Section-description: mb24
Radio-item (no descr): mb10
*/
