<template>
  <modal
    :visible="visible"
    :show-buttons="false"
    :title="$trans('creative::messages.creative_limit_title', {count: $config.rules.creative.policies.max_draft})"
    @close="close"
  >
    <span v-html="message" />
  </modal>
</template>

<script>
  import Visible from 'Foundation/mixins/Visible';
  import { Modal } from 'Foundation/components/layout/modal';

  export default {
    /**
     * Name of the component.
     */
    name: 'ModalCreativeUploadLimit',

    /**
     * Child components.
     */
    components: {
      Modal,
    },

    /**
     * Mixins.
     */
    mixins: [
      Visible,
    ],

    /**
     * Props.
     */
    props: {
      message: {
        required: true,
        type: String,
      },
    },
  };
</script>
