<template>
  <modal
    :title="title"
    :visible="visible"
    :show-buttons="false"
    @close="close"
  >
    <span v-html="message" />
  </modal>
</template>

<script>
  import Visible from 'Foundation/mixins/Visible';
  import { Modal } from 'Foundation/components/layout/modal';

  export default {
    /**
     * Name of the component.
     */
    name: 'ModalCampaignDeactivated',

    /**
     * Child components.
     */
    components: {
      Modal,
    },

    /**
     * Mixins.
     */
    mixins: [
      Visible,
    ],

    /**
     * Props
     */
    props: {
      /**
       * True if payment is just updated.
       */
      paymentUpdated: {
        type: Boolean,
        default: false,
      },

      /**
       * True if retry payment is processing.
       */
      retryPaymentProcessing: {
        type: Boolean,
        default: false,
      },
    },

    /**
     * Computed properties.
     */
    computed: {
      /**
       * Is payment updated
       */
      isPaymentUpdated () {
        return this.paymentUpdated || this.$user.states.is_inactive_unpaid_pending;
      },

      /**
       * Modal title.
       *
       * @returns {String}
       */
      title () {
        if (this.retryPaymentProcessing) {
          return this.$trans('payment::reminders.retry_payment_processing.title');
        }
        return this.isPaymentUpdated ?
          this.$trans('advertiser::messages.deactivate.bad_payment_status_pending_title') :
          this.$trans('advertiser::labels.not_right');
      },

      /**
       * Message content.
       *
       * @returns {String}
       */
      message () {
        if (this.$user.states.is_pending) {
          return this.$trans('advertiser::messages.deactivate.pending_status');
        } else if (this.$user.states.is_inactive_unpaid) {
          if (this.retryPaymentProcessing) {
            return this.$trans('payment::reminders.retry_payment_processing.message');
          }
          if (this.isPaymentUpdated) {
            return this.$trans('advertiser::messages.deactivate.bad_payment_status_pending');
          }
          return this.$trans('advertiser::messages.deactivate.bad_payment_status');
        }
        return this.$trans('advertiser::messages.deactivate.inactive_status');
      },
    },
  };
</script>
