<template>
  <el-tooltip
    v-if="hasTooltip"
    class="item"
    effect="dark"
    :content="tooltip"
    placement="top"
  >
    <a
      href="#"
      class="button-empty-icon"
      role="button"
      @click.prevent="onClick"
    >
      <icon
        value="trash"
        transparent="stroke"
      />
    </a>
  </el-tooltip>
  <a
    v-else
    href="#"
    class="button-empty-icon"
    role="button"
    @click.prevent="onClick"
  >
    <icon
      value="trash"
      transparent="stroke"
    />
  </a>
</template>

<script>
  import Tooltip from 'Foundation/mixins/Tooltip';
  import Icon from 'Foundation/components/icons/Icon';

  export default {
    /**
     * Name
     */
    name: 'DeleteIcon',

    /**
     * Components
     */
    components: {
      Icon,
    },

    /**
     * Mixins
     */
    mixins: [Tooltip],

    /**
     * Methods
     */
    methods: {
      /**
       * On button click
       */
      onClick () {
        this.$emit('click');
      },
    }
  };
</script>
