<template>
  <el-tooltip
    v-if="hasTooltip"
    class="item"
    effect="dark"
    :content="tooltip"
    placement="top"
  >
    <a
      :loading="loading"
      :disabled="disabled"
      role="button"
      class="button-empty-icon"
      @click="onClick"
    >
      <icon
        value="stop-circle"
        transparent="stroke"
      />
    </a>
  </el-tooltip>
  <a
    v-else
    :loading="loading"
    :disabled="disabled"
    role="button"
    class="button-empty-icon"
    @click="onClick"
  >
    <icon
      value="stop-circle"
      transparent="stroke"
    />
  </a>
</template>

<script>
  import Tooltip from 'Foundation/mixins/Tooltip';
  import Icon from 'Foundation/components/icons/Icon';

  export default {
    /**
     * Name
     */
    name: 'StopAction',

    /**
     * Components
     */
    components: {
      Icon,
    },

    /**
     * Mixins
     */
    mixins: [Tooltip],

    /**
     * Props
     */
    props: {
      /**
       * Loader trait.
       */
      disabled: {
        type: Boolean,
        default: false,
      },

      /**
       * Disabled state for action-icon.
       */
      loading: {
        type: Boolean,
        default: false,
      },
    },

    /**
     * Methods
     */
    methods: {
      /**
       * On button click
       */
      onClick () {
        this.$emit('click');
      },
    }
  };
</script>
