<template>
  <el-header
    class="header"
    height="var(--main-header-height)"
  >
    <div class="header__holder">
      <Logo />
      <el-menu
        :default-active="activeIndex"
        class="el-menu navigation"
        mode="horizontal"
      >
        <el-menu-item index="1">
          <a
            href="#"
          >
            Campaigns
          </a>
        </el-menu-item>
        <el-menu-item index="2">
          <a
            href="#"
          >
            Reports
          </a>
        </el-menu-item>
        <el-menu-item index="4">
          <a
            href="#"
          >
            Creative Gallery
          </a>
        </el-menu-item>
      </el-menu>
      <div class="header__actions">
        <div class="header__notifications notifications">
          <el-button
            class="notifications__button button-empty-icon is-active"
            :title="$trans('notification::labels.view_notifications')"
            @click="notificationsOpen"
          >
            <svg
              class="icon icon-bell"
            >
              <use xlink:href="../../../../images/icons/symbol-defs.svg#icon-bell" />
            </svg>
          </el-button>
          <div
            v-show="notifications"
            class="notifications__alert"
          >
            <span class="notifications__title">Alerts <span>(403)</span></span>
            <ul class="notifications__list">
              <li class="notifications__item is-unread">
                <div class="notifications__item-image">
                  i
                </div>
                <div class="notifications__item-content">
                  <span class="notifications__item-label label-text">
                    Label
                  </span>
                  <p>First line</p>
                  <p>Second line</p>
                </div>
                <span class="notifications-status" />
              </li>
              <li class="notifications__item is-unread">
                <div class="notifications__item-image">
                  i
                </div>
                <div class="notifications__item-content">
                  <span class="notifications__item-label label-text">
                    Label
                  </span>
                  <p>First line</p>
                  <p>Second line</p>
                </div>
                <span class="notifications-status" />
              </li>
              <li class="notifications__item is-unread">
                <div class="notifications__item-image">
                  i
                </div>
                <div class="notifications__item-content">
                  <span class="notifications__item-label label-text">
                    Label
                  </span>
                  <p>First line</p>
                  <p>Second line</p>
                </div>
                <span class="notifications-status" />
              </li>
              <li class="notifications__item">
                <div class="notifications__item-image">
                  i
                </div>
                <div class="notifications__item-content">
                  <span class="notifications__item-label label-text">
                    Label
                  </span>
                  <p>First line</p>
                  <p>Second line</p>
                </div>
                <span class="notifications-status" />
              </li>
            </ul>
            <a
              href="#"
              class="notifications__all text-label-xs-semibold-caps"
            >
              View all notifications
            </a>
          </div>
        </div>
        <el-dropdown>
          <span class="el-dropdown-link button-profile">
            <span class="button-profile__avatar">
              U
            </span>
            <strong class="button-profile__name">
              Username
            </strong>
          </span>
          <el-dropdown-menu slot="dropdown">
            <el-dropdown-item>Account</el-dropdown-item>
            <el-dropdown-item>Sign out</el-dropdown-item>
          </el-dropdown-menu>
        </el-dropdown>
      </div>
      <div
        class="header__auth"
        style="display: none;"
      >
        <el-button
          size="medium"
        >
          Sign up today!
        </el-button>
        <el-button
          type="text"
          @click="loginVisible = true"
        >
          Log in
        </el-button>
      </div>
    </div>
    <el-dialog
      :visible.sync="loginVisible"
      custom-class="el-dialog--info login"
      width="688"
    >
      <div class="login__content">
        <el-form>
          <email-field
            v-model="form.email"
            size="medium"
            :label="'Email'"
            name="name"
            placeholder="Enter email adress..."
          />
          <password-field
            v-model="form.password"
            size="medium"
            :label="'password'"
            suffix-icon="el-icon-date"
            name="name"
            placeholder="Enter your password..."
          >
            <el-button
              slot="suffix"
              type="text"
              class="icon-btn"
            >
              <svg
                class="icon icon-adsd"
              >
                <use xlink:href="../../../../images/icons/symbol-defs.svg#icon-adsd" />
              </svg>
            </el-button>
          </password-field>
          <a
            href="#"
            class="login__link"
          >Forgot password?</a>
          <el-button
            type="default"
            class="login__submit"
            @click="loginVisible = true"
          >
            Submit
          </el-button>
          <p>
            Don't have an account?
            <a
              href="#"
              class="login__reg"
            >
              Sign up
            </a>
          </p>
        </el-form>
      </div>
      <div
        slot="title"
        class="login__header"
      >
        Welcome back!
      </div>
    </el-dialog>
  </el-header>
</template>

<script>
  import { PasswordField, EmailField } from 'Foundation/components/form';
  import Logo from 'Foundation/components/Logos/Logo.vue';

  export default {
    name: 'Header',

    components: {
      PasswordField,
      EmailField,
      Logo,
    },


    data () {
      return {
        activeIndex: '1',
        activeIndex2: '1',
        signUpVisible: false,
        loginVisible: false,
        notifications: false,
        activeStep: 0,
        form: {
          name: null,
          email: null,
          phone: null,
          companyName: null,
          password: null,
          passwordConfirmation: null,
        },
      };
    },

    methods: {
      notificationsOpen: function(){
        this.notifications = !this.notifications;
        // some code to filter users
      }
    }

  };
</script>
