<template>
  <campaign-step
    :title="$trans('campaign::labels.titles.audiences')"
    :skippable="isSkippable"
  >
    <template slot="description">
      <p
        v-if="!campaignStates.wizard.targetings.can_edit_audiences"
        v-html="disabledDescriptionContent"
      />
      <annotated-text
        v-else
        :text="$trans('campaign::labels.subtitles.audiences')"
        low-zindex
        :terms="{
          impressions: {
            term: $trans('campaign::labels.annotations.impressions.term'),
            description: $trans('campaign::labels.annotations.impressions.description'),
          },
          behavior: {
            term: $trans('campaign::labels.annotations.behavior.term'),
            description: $trans('campaign::labels.annotations.behavior.description'),
          },
          demographics: {
            term: $trans('campaign::labels.annotations.demographics.term'),
            description: $trans('campaign::labels.annotations.demographics.description'),
          },
          interest: {
            term: $trans('campaign::labels.annotations.interest.term'),
            description: $trans('campaign::labels.annotations.interest.description'),
          },
          ownership: {
            term: $trans('campaign::labels.annotations.ownership.term'),
            description: $trans('campaign::labels.annotations.ownership.description'),
          },
          targeted_independently: {
            term: $trans('campaign::labels.annotations.targeted_independently.term'),
            description: $trans('campaign::labels.annotations.targeted_independently.description'),
          },
        }"
      />
    </template>
    <template slot="content">
      <div>
        <audience-form
          v-if="areOptionsEnabled"
          @change-height="onChangeHeight"
        />
      </div>
    </template>
  </campaign-step>
</template>

<script>
  import CampaignStep from '../CampaignStep';
  import TargetingStep from '../mixins/TargetingStep';
  import { mapActions, mapGetters, mapMutations } from 'vuex';
  import { mapFields } from 'vuex-map-fields';
  import AudienceForm from './targeting-audience/AudienceForm';
  import AnnotatedText from 'Foundation/components/toolpip/annotations/AnnotatedText';
  import CampaignMixin from '../mixins/CampaignMixin';

  export default {
    /**
     * Component name.
     */
    name: 'CampaignAudiences',

    /**
     * Components
     */
    components: {
      AudienceForm,
      CampaignStep,
      AnnotatedText,
    },

    /**
     * Mixins.
     */
    mixins: [
      TargetingStep,
      CampaignMixin
    ],

    /**
     * Data properties.
     */
    data(){
      return {
        shouldTriggerInventory: true,
      }
    },

    /**
     * Computed properties.
     */
    computed: {
      /**
       * Vuex (fields).
       */
      ...mapFields('wizard', {
        campaignId: 'id',
      }),

      /**
       * Vuex (getters).
       */
      ...mapGetters('wizard/targeting', ['getAudiencesCurrentValues']),

      /**
       * Vuex (fields).
       */
      ...mapFields('wizard/targeting', {
        value: 'targeting.audiences',
        savePending: 'updateAudiencesPending',
      }),

      /**
       * Storage key for step.
       *
       * @returns {string}
       */
      key () {
        return 'targeting.audiences';
      },

      /**
       * @returns {boolean}
       */
      areOptionsEnabled () {
        return this.campaignStates.wizard.targetings.can_edit_audiences;
      },

      /**
       * @returns {boolean}
       */
      isSkippable () {
        return Array.isArray(this.value) ? !this.value.length : true;
      },

      /**
       * Step annotations for the disabled state.
       */
      disabledDescriptionContent () {
        if (this.isSpecialAds && !this.campaignStates.wizard.targetings.can_edit_audiences) {
          return this.$trans('campaign::labels.subtitles.special_ads.audiences', {
            url: this.$config.general.links.faq.special_ads
          });
        }

        if (this.liveEditMode && !this.campaignStates.wizard.targetings.can_edit_audiences) {
          return this.$trans('campaign::labels.subtitles.live_mode.audiences', {
            url: this.$config.general.links.faq.duplicate
          });
        }

        return '';
      },
    },

    /**
     * Mounted hook.
     */
    mounted () {
      this.initAudiences();
      this.checkFilled(this.value);
    },

    /**
     * Methods.
     */
    methods: {
      /**
       * Vuex (actions).
       */
      ...mapActions('wizard/targeting', ['updateAudiences']),

      /**
       * Vuex (mutations).
       */
      ...mapMutations('wizard/targeting', ['setAudiencesValues']),

      /**
       * Save current step.
       * @returns {*}
       */
      save () {
        return this.$call(this.updateAudiences({
          campaign: this.campaignId,
          values: this.getAudiencesCurrentValues,
        }), { muteException: true });
      },

      /**
       * Handover "change-height" event to the parent.
       * @param {boolean} val
       */
      onChangeHeight (val) {
        this.$emit('change-height', val);
      },

      /**
       * Set initial state of audiences storage.
       */
      async initAudiences () {
        if (this.value === null) {
          this.shouldTriggerAutoSave = false;
          await this.setAudiencesValues({item: [], checked: false});
          this.shouldTriggerAutoSave = true;
        }
      }
    },
  };
</script>
