<template>
  <campaign-step
    :title="$trans('campaign::labels.titles.genders')"
  >
    <template slot="description">
      <p v-html="subtitle" />
    </template>
    <template slot="content">
      <div v-loading="loadingOptions">
        <div class="custom-label">
          {{ $trans('campaign::labels.labels.gender') }}
        </div>
        <el-radio-group
          v-model="genderValue"
          size="medium"
          class="create-campaign__top"
        >
          <el-radio
            v-for="option in genderOptions"
            :key="option.value"
            :disabled="!isGenderEnabled(option.label)"
            :label="option.value"
          >
            {{ $trans(`targeting::labels.genders.${option.label}`) }}
          </el-radio>
        </el-radio-group>

        <!-- AGES -->
        <el-row
          justify="space-between"
          class="ages-form"
        >
          <div class="custom-label">
            {{ $trans('campaign::labels.labels.age_groups') }}
            <span
              v-if="hasError()"
              class="error-message"
            >
              {{ $trans('targeting::messages.empty_age_groups_step') }}
            </span>
          </div>
          <div>
            <el-checkbox-group
              v-model="checked"
              v-validate="validation.age_group"
              :disabled="!areOptionsEnabled"
              class="checkbox-in-column"
              data-vv-name="checked"
              data-vv-scope="__global__"
            >
              <el-checkbox
                v-for="item in ageOptions"
                :key="item.value"
                :label="item.value"
              >
                <span v-html="getLabel (item.label)" />
              </el-checkbox>
            </el-checkbox-group>
          </div>
        </el-row>
      </div>
    </template>
  </campaign-step>
</template>

<script>
  import CampaignStep from '../CampaignStep';
  import { mapFields } from 'vuex-map-fields';
  import { mapActions, mapGetters, mapMutations, mapState } from 'vuex';
  import { find, map, findIndex, cloneDeep } from 'lodash';
  import TargetingStep from '../mixins/TargetingStep';
  import CampaignMixin from '../mixins/CampaignMixin';
  import TargetingMapper from '../../../../api/mappers/TargetingMapper';

  const GENDER_LABEL_ALL = 'all';

  export default {
    /**
     * Component name.
     */
    name: 'CampaignAges',

    /**
     * Components
     */
    components: {
      CampaignStep,
    },

    /**
     * Mixins.
     */
    mixins: [
      TargetingStep,
      CampaignMixin
    ],

    /**
     * Component data.
     */
    data(){
      return {
        ageOptions: [],
        checked: [],
        loading: true,
      }
    },

    /**
     * Computed properties.
     */
    computed: {
      /**
       * Vuex (getters).
       */
      ...mapGetters('wizard/targeting', [
        'genderOptions',
        'getAgesCurrentValues',
        'getGenderCurrentValues',
        'getAgesCountCurrentValues',
      ]),
      ...mapGetters('wizard/steps', ['steps']),

      /**
       * Vuex (state).
       */
      ...mapState('wizard/targeting', {
        loadingOptions: 'loadAgesOptionsPending',
        savePending: 'updateAgesPending'
      }),

      /**
       * Vuex (fields).
       */
      ...mapFields('wizard/targeting', {
        gender: 'targeting.gender',
        ages: 'targeting.ages',
      }),

      /**
       * Storage key for step.
       *
       * @returns {string}
       */
      key() {
        return 'targeting.ages';
      },

      /**
       * Validation rules.
       */
      validation() {
        return {
          age_group: this.validationRules.targeting.age_group,
        };
      },

      /**
       * Check if age step options are available for choosing.
       * @returns {boolean}
       */
      areOptionsEnabled() {
        return this.campaignStates.wizard.targetings.can_edit_age_groups;
      },

      /**
       * @returns {string}
       */
      subtitle() {
        return this.isSpecialAds ?
          this.$trans(
            'campaign::labels.subtitles.special_ads.genders',
            {
              'url': this.$config.general.links.faq.special_ads
            },
          ) :
          this.$trans('campaign::labels.subtitles.genders');
      },

      /**
       * Gender value model
       */
      genderValue: {
        get: function () {
          return this.getGenderCurrentValues;
        },
        set: async function (value) {
          await this.setGenderValues({items: this.getMappedItems([value], this.genderOptions)});
          this.changeGenderEvent();
        }
      }
    },

    /**
     * Watchers
     */
    watch: {
      /**
       * Sync checked elements with storage
       */
      checked (value) {
        this.setAgesValues({items: this.getMappedItems(value, this.ageOptions)});
        this.onUpdate(value);
      }
    },

    /**
     * On component mounted
     */
    async mounted () {
      await this.loadAges();
      await this.setDefaultOptions();
    },

    /**
     * Methods.
     */
    methods: {
      /**
       * Vuex (actions).
       */
      ...mapActions('wizard/targeting', [
        'loadAges',
        'updateAges',
      ]),

      /**
       * Vuex (mutations).
       */
      ...mapMutations('wizard/targeting', ['setGenderValues', 'setAgesValues']),

      /**
       * Get mapped items.
       */
      getMappedItems (items, options) {
        let newValues = [];
        items.forEach((item) => {
          const checked = find(options, (element => element.value === item));
          if (checked) {
            newValues.push({
              value: checked.value,
              label: checked.label,
            })
          }
        })
        return newValues;
      },

      /**
       * Save current step.
       * @returns {*}
       */
      save () {
        const payload = {
          gender: this.getGenderCurrentValues,
          ages: map(this.getAgesCurrentValues, 'value')
        };

        return this.$call(this.updateAges(payload), { muteException: true });
      },

      /**
       * Get ages object based on current gender.
       */
      getAgeOptionsForGender () {
        const element = findIndex(this.genderOptions, (option) => {
          return option.value === this.getGenderCurrentValues;
        });

        if (element === -1) {
          return null;
        }

        return this.genderOptions[element].ages;
      },

      /**
       * Checked ages.
       */
      setAgeOptions () {
        const ageOptions = this.getAgeOptionsForGender();

        if (!ageOptions) {
          return;
        }

        this.ageOptions = TargetingMapper.mapGroupsOptions(ageOptions);

        if (this.checkMixGender()) {
          this.setAllAges()
        }
      },

      /**
       * Sync storage elements with component checkbox group
       */
      checkCurrentValues () {
        this.getAgesCurrentValues.forEach(item => {
          this.checked.push(item.value);
        });
      },

      /**
       * Handler for change gender option
       */
      changeGenderEvent () {
        const ageOptions = this.getAgeOptionsForGender();

        if (!ageOptions) {
          return;
        }

        const previousSelection = cloneDeep(this.getAgesCurrentValues);
        this.ageOptions = TargetingMapper.mapGroupsOptions(ageOptions);
        this.checked = [];
        let newValues = []

        previousSelection.forEach(previousItem => {
          this.ageOptions.forEach(item => {
            if (previousItem.label === item.label) {
              newValues.push(item.value);
            }
          })
        });

        this.setAgesValues({items: this.getMappedItems(newValues, this.ageOptions)});
        this.checkCurrentValues();
      },

      /**
       * Checked all ages.
       */
      setAllAges() {
        this.setAgesValues({items: this.getMappedItems(map(this.ageOptions, 'value'), this.ageOptions)})
      },

      /**
       * Set default ages
       */
      async setDefaultOptions () {
        let checkAll = false;
        this.shouldTriggerAutoSave = false;
        if (!this.getGenderCurrentValues) {
          checkAll = true;
          await this.setGenderValues({ items: [{
              value: this.genderOptions[0].value,
              label: this.genderOptions[0].label,
            }]});
        }

        this.loading = false;
        this.setAgeOptions();

        if (!this.getAgesCountCurrentValues && checkAll) {
          this.setAllAges();
        }

        await this.checkCurrentValues();
        this.shouldTriggerAutoSave = true;
      },

      /**
       * Check if campaign has a gender mix
       */
      checkMixGender() {
        let mixedGenders = false;
        const allAges = map(this.ageOptions, 'value');
        const checkedAges = map(this.getAgesCurrentValues, 'value');

        checkedAges.forEach((item) => {
          const index = findIndex(allAges, function(age) {
            return age === item;
          });

          if (index === -1 && !mixedGenders) {
            mixedGenders = true;
          }
        });

        return mixedGenders;
      },

      /**
       * Check has an error message.
       * @returns boolean
       */
      hasError() {
        return this.getAgesCountCurrentValues === 0;
      },

      /**
       * Check if specified gender is available for choosing.
       * @param {string} label
       * @returns {boolean}
       */
      isGenderEnabled (label) {
        return (label === GENDER_LABEL_ALL) || this.areOptionsEnabled;
      },

      /**
       * Get label.
       * @param {string} label
       */
      getLabel (label) {
        return label.replace('-', '&ndash;');
      }
    },
  };
</script>
