<template>
  <div>
    <base-modal
      v-if="visible"
      ref="modal"
      :title="$trans('notification::labels.notification')"
      visible
      :custom-class="'popup-upload el-dialog--actions-column-reverse'"
      width="688px"
      @close="handleClose"
    >
      <span v-html="notification.text" />
    </base-modal>
  </div>
</template>

<script>
  import { mapActions } from 'vuex';
  import BaseModal from 'Foundation/components/layout/modal/BaseModal';

  export default {
    /**
     * Component name.
     */
    name: "NotificationModal",

    /**
     * Child components.
     */
    components: {
      BaseModal,
    },

    /**
     * Available properties.
     */
    props: {
      /**
       * Modal's visibility status
       */
      visible: {
        type: Boolean,
        default: false,
      },

      /**
       * Notification entity.
       */
      notification: {
        type: Object,
        default: null,
      }
    },

    /**
     * Watchers
     */
    watch: {
      /**
       * Watch visible property
       */
      visible (isVisible) {
        if (isVisible && !this.notification.isRead) {
          this.markAsRead();
        }
      }
    },

    /**
     * Component methods.
     */
    methods: {
      ...mapActions('notifications', [
        'markNotificationAsRead',
      ]),

      /**
       * Handles modal's close event.
       */
      handleClose() {
        this.$emit('close');
      },

      /**
       * Trigger mark as read action
       */
      markAsRead() {
        const id = this.notification.id;
        this.markNotificationAsRead(this.notification.id)
          .then(() => this.$emit('read', id))
          .catch(() => {
            this.$notify.error({
              message: this.$trans('notification::messages.read_error'),
            });
          });
      },
    },
  }
</script>
