<template>
  <div class="campaigns">
    <div class="campaigns__holder notification-table level-default">
      <data-table
        ref="dataTable"
        :title="$trans('notification::labels.table_title')"
        name="notifications"
        order-by="created_at"
        order-dir="descending"
        :searchable="false"
        :table-row-class-name="tableRowClassName"
        @row-click="rowClick"
      >
        <template slot="banner">
          <notifications-table-banner />
        </template>

        <template
          slot="filters"
          slot-scope="props"
        >
          <category-filter
            :disabled="props.disabled"
            :placeholder="$trans('notification::labels.notification_category')"
            @change="props.change"
          />
          <a
            v-loading="markAllReadPending"
            class="read-all-link"
            @click="onMarkAllReadClick"
          >
            {{ $trans('notification::labels.read_all') }}
          </a>
        </template>

        <el-table-column
          prop="category"
          width="70"
          class="notification-table__user"
          :searchable="false"
          :sortable="false"
        >
          <round-cell-with-icon
            slot-scope="scope"
            :category="scope.row.category"
          />
        </el-table-column>

        <data-table-column
          prop="category"
          width="180"
          :searchable="false"
          :sortable="false"
        >
          <bold-text-cell
            slot-scope="scope"
            :cell-value="scope.row.category"
          />
        </data-table-column>

        <data-table-column
          prop="content_preview"
          :searchable="false"
          :sortable="false"
        >
          <truncated-text-cell
            slot-scope="scope"
            :allow-raw-html="true"
            :cell-value="scope.row.content_preview"
          />
        </data-table-column>

        <data-table-column
          prop="created_at"
          width="330"
          :searchable="false"
          :sortable="false"
        >
          <date-cell
            slot-scope="scope"
            :cell-value="scope.row.created_at"
          />
        </data-table-column>

        <data-table-column
          width="50"
          :searchable="false"
          :sortable="false"
        >
          <div class="notification-status">
            <span />
          </div>
        </data-table-column>
      </data-table>
    </div>
    <notification-modal
      :notification="notification"
      :visible="!!notification"
      @close="notification=null"
      @read="notificationWasRead"
    />
  </div>
</template>

<script>
  import {mapState, mapActions} from 'vuex';
  import DataTable from 'Foundation/components/dataTable/DataTable';
  import DataTableColumn from 'Foundation/components/dataTable/DataTableColumn';
  import DateCell from 'Foundation/components/dataTable/Cells/DateCell';
  import BoldTextCell from "Foundation/components/dataTable/Cells/BoldTextCell";
  import TruncatedTextCell from "Foundation/components/dataTable/Cells/TruncatedTextCell";
  import NotificationsTableBanner from "Modules/notification/components/NotificationsTableBanner";
  import NotificationModalMixin from "Modules/notification/mixins/NotificationModalMixin";
  import OpenNotificationMixin from 'Modules/notification/mixins/OpenNotificationMixin';
  import NotificationModal from "Modules/notification/components/NotificationModal";
  import CategoryFilter from 'Modules/notification/components/dataTable/filters/CategoryFilter';
  import RoundCellWithIcon from "Foundation/components/dataTable/Cells/RoundCellWithIcon";

  export default {
    /**
     * Component name
     */
    name: 'NotificationsTable',

    /**
     * Components
     */
    components: {
      RoundCellWithIcon,
      NotificationModal,
      NotificationsTableBanner,
      CategoryFilter,
      TruncatedTextCell,
      BoldTextCell,
      DataTable,
      DataTableColumn,
      DateCell,
    },

    /**
     * Mixins.
     */
    mixins: [
      NotificationModalMixin,
      OpenNotificationMixin,
    ],

    /**
     * Computed props.
     */
    computed: {
      /**
       * Map Vuex state.
       */
      ...mapState('notifications', [
        'notificationIdToRead',
        'markAllReadPending',
      ]),
    },

    /**
     * Watch props.
     */
    watch: {
      /**
       * Watch notification id.
       */
      notificationIdToRead(id) {
        if (id) {
          this.notificationWasRead(id);
          this.clearNotificationIdToRead();
        }
      },
    },

    /**
     * Component's methods
     */
    methods: {
      /**
       * Map Vuex actions.
       */
      ...mapActions('notifications', [
        'clearNotificationIdToRead',
        'markAllNotificationAsRead',
      ]),

      /**
       * Table row's class.
       */
      tableRowClassName({row}) {
        if (!row.is_read) {
          return 'is-unread';
        }
        return '';
      },

      /**
       * Handle row click
       */
      rowClick(row) {
        this.setNotificationData(row.content, row.id, row.is_read);
      },

      /**
       * Mark notification as read in dataTable
       */
      notificationWasRead(id) {
        const foundNotification = this.$refs.dataTable.tableData.find(notification => notification.id === id);
        if (foundNotification) {
          foundNotification.is_read = true;
        }
      },

      /**
       * Mark all notifications as read in dataTable
       */
      notificationsWereRead () {
        this.$refs.dataTable.tableData.map(notification => notification.is_read = true);
      },

      /**
       * Handle mark all as read click.
       */
      async onMarkAllReadClick() {
        await this.$call(this.markAllNotificationAsRead());
        this.notificationsWereRead();
      },
    },
  };
</script>
