<template>
  <li
    :class="isNotificationUnreadClass"
    class="notifications__item"
    @click="handleClick"
  >
    <div class="notifications__item-image">
      <component :is="categoryIconComponent" />
    </div>
    <div class="notifications__item-content">
      <span class="notifications__item-label label-text">
        {{ title }}
      </span>
      <p
        @click.prevent
        v-html="contentPreview"
      />
    </div>
    <span
      v-if="!isRead"
      class="notifications-status"
    />
  </li>
</template>

<script>

import NotificationIconsMixin from "Foundation/mixins/NotificationIconsMixin";

export default {
  /**
   * Name.
   */
  name: "NotificationListItem",

  /**
   * Mixins.
   */
  mixins: [NotificationIconsMixin],

  /**
   * Component's props.
   *
   */
  props: {
    /**
     * Content.
     */
    content: {
      type: String,
      default: '',
    },

    /**
     * Content preview.
     */
    contentPreview: {
      type: String,
      default: '',
    },

    /**
     * Category.
     */
    category: {
      type: String,
      default: '',
    },

    /**
     * Id.
     */
    notificationId: {
      type: String,
      default: '',
    },

    /**
     * Is read.
     */
    isRead: {
      type: Boolean,
      required: true,
    },

    /**
     * Title.
     */
    title: {
      type: String,
      default: '',
    },
  },

  /**
   * Computed properties.
   */
  computed: {
    /**
     * Whether notification read.
     */
    isNotificationUnreadClass() {
      return {'is-unread': !this.isRead};
    },
  },

  /**
   * Component's methods.
   */
  methods: {
    /**
     * Handle notification click.
     */
    handleClick(event) {
      if (event.target.tagName === 'A') {
        this.$redirect(event.target.href);
      } else {
        this.$emit('click', this.content, this.notificationId, this.isRead)
      }
    },
  },
};
</script>
