<template>
  <ul
    v-loading="firstLoading"
    class="notifications__list"
  >
    <notification-list-item
      v-for="listItem of widget.list"
      :key="listItem.id"
      :notification-id="listItem.id"
      :title="listItem.category"
      :category="listItem.category"
      :content="listItem.content"
      :content-preview="listItem.content_preview"
      :is-read="listItem.is_read"
      @click="onNotificationClick"
    />
    <li
      v-if="showNoContent"
      class="notifications__item no_content"
    >
      {{ $trans('notification::messages.no_notifications') }}
    </li>
  </ul>
</template>

<script>
  import NotificationListItem from "Modules/notification/components/NotificationListItem";
  import { isArray } from 'lodash';
  import { mapState } from 'vuex';

  export default {
    /**
     * Name.
     */
    name: "NotificationList",

    /**
     * Components.
     */
    components: {
      NotificationListItem,
    },

    /**
     * Component's props.
     */
    props: {
      /**
       * First loading.
       */
      firstLoading: {
        type: Boolean,
        default: true,
      },
    },

    /**
     * Computed properties.
     */
    computed: {
      /**
       * Map state.
       */
      ...mapState('notifications', {
        widget: 'notificationsWidget',
      }),

      /**
       * Show no content.
       */
      showNoContent() {
        return isArray(this.widget.list) && !this.widget.list.length;
      },
    },

    /**
     * Component's methods.
     */
    methods: {
      /**
       * Handle notification click.
       */
      onNotificationClick(content, id, is_read) {
        this.$emit('notification-clicked', content, id, is_read)
      },
    },
  }
</script>
