<template>
  <data-table-banner
    :title="$trans('notification::messages.no_notifications')"
    :display-button="false"
  >
    <!-- ICON -->
    <icon
      slot="icon"
      value="file-empty"
      :width="64"
      :height="64"
      lightness="mute"
    />
  </data-table-banner>
</template>

<script>
  import DataTableBanner from 'Foundation/components/dataTable/DataTableBanner';
  import Icon from 'Foundation/components/icons/Icon';

  export default {
    /**
     * Component name
     */
    name: 'NotificationsTableBanner',

    /**
     * Child components.
     */
    components: {
      DataTableBanner,
      Icon,
    },

    /**
     * Extend the component.
     */
    extends: DataTableBanner,
  };
</script>
