<template>
  <div>
    <el-col :span="12">
      <select-state
        v-model="state"
        :name="stateFieldName"
        size="medium"
        :label="$trans('labels.state')"
        :placeholder="$trans('labels.enter_your_state')"
        :validation="validation.user.address.state"
        @change="onFormChange"
        @clear="clearState"
      />
    </el-col>
    <el-col :span="12">
      <base-autocomplete-field
        ref="autocomplete-zip"
        v-model="zip"
        :maxlength="5"
        :name="zipcodeFieldName"
        validate-on="none"
        :fetch-suggestions="search"
        :placeholder="$trans('labels.enter_your_zip')"
        :label="$trans('labels.zip')"
        :validation="validation.user.address.zip"
        :trigger-on-focus="false"
        :count-start-remote="countStartRemote"
        :highlight-first-item="true"
        @keypress.native="onlyNumber"
        @select="handleSelect"
      />
    </el-col>
  </div>
</template>

<script>
import { SelectState } from 'Foundation/components/form';
import { mapFields } from 'vuex-map-fields';
import { mapActions } from 'vuex';
import { find } from 'lodash';
import BaseAutocompleteField from "Foundation/components/form/BaseAutocompleteField";

export default {
  /**
   * Component name.
   */
  name: 'SelectStateAndZip',

  /**
   * Child components.
   */
  components: {
    BaseAutocompleteField,
    SelectState,
  },

  /**
   * Props.
   */
  props: {
    /**
     * Default state value.
     */
    valueState: {
      type: String,
      default: null,
    },

    /**
     * Default zip code value.
     */
    valueZip: {
      type: String,
      default: null,
    },

    /**
     * Zip code field name.
     */
    zipcodeFieldName: {
      type: String,
      default: 'zip'
    },

    /**
     * State field name.
     */
    stateFieldName: {
      type: String,
      default: 'state'
    }
  },

  /**
   * Reactive data.
   */
  data() {
    return {
      state: null,
      zip: null,
      countStartRemote: 4
    };
  },

  /**
   * Computed properties.
   */
  computed: {
    ...mapFields('location', [
      'zipCodes',
    ]),

    /**
     * Validation.
     */
    validation () {
      return this.validationRules;
    },
  },

  /**
   * Watch.
   */
  watch: {
    /**
     * Zip code watcher.
     */
    zip (value) {
      if (value && value.length === 5) {
        this.$emit('update-value-zip', this.zip);
        this.$emit('on-form-change');
      }
    }
  },

  /**
   * Created.
   */
  created() {
    this.zip = this.valueZip;
    this.state = this.valueState;
  },

  /**
   * Mounted.
   */
  mounted() {
    this.onFormChange()
  },

  /**
   * Methods.
   */
  methods: {
    /**
     * Vuex.
     */
    ...mapActions('location', ['searchZipCodes']),

    /**
     * Selected zip codes handler.
     */
    handleSelect () {
      const item = find(this.zipCodes, (item) => {return item.value === this.zip});
      if (item) {
        this.state = item.states[0].name;
        this.$emit('update-value-state', this.state);
      }
    },

    /**
     * Clear zip code handler.
     */
    clearZip () {
      this.zip = null;
    },

    /**
     * Clear state handler.
     */
    clearState () {
      this.state = null;
      this.initAutocompleteZip = false;
      this.clearZip();
    },

    /**
     * Change form event.
     */
    async onFormChange () {
      if (this.state && this.zip) {
        await this.$call(this.searchZipCodes({
          query: this.zip,
          state: this.state
        }), {notify: false})
          .then(({data}) => {
            if (!data.data.length) {
              this.clearZip();
            }
            this.$emit('update-value-state', this.state);
            this.$emit('update-value-zip', this.zip);
            this.$emit('on-form-change');
          })
          .catch(() => {});
      } else {
        this.$emit('update-value-state', this.state);
        this.$emit('on-form-change');
      }
    },

    /**
     * Search zip codes.
     * @param query
     */
    async search (queryString, cb) {
      if (String(queryString).length >= 4) {
        await this.$call(this.searchZipCodes({
          query: queryString,
          state: this.state
        }), {notify: false})
          .catch(() => {});
        cb(this.zipCodes)
      }
    },

    /**
     * Key press event.
     * @param $event
     */
    onlyNumber ($event) {
      let keyCode = ($event.keyCode ? $event.keyCode : $event.which);
      if ((keyCode < 48 || keyCode > 57)) {
        $event.preventDefault();
      }
    }
  }
}
</script>
