<template>
  <span
    :class="cellClass"
  >
    {{ cellText }}
  </span>
</template>

<script>
  import CellMixin from 'Foundation/mixins/CellMixin';

  export default {
    /**
     * Component name
     */
    name: 'SourceTypeCell',

    /**
     * Mixins.
     */
    mixins: [
      CellMixin,
    ],

    /**
     * Computed properties.
     */
    computed: {
      /**
       * Cell text
       */
      cellText () {
        return this.$trans(`report::labels.source_type.${this.cellValue}`);
      },
    },
  };
</script>
