<template>
  <status-badge
    :value="cellText"
    :type="type"
  />
</template>

<script>
  import CellMixin from 'Foundation/mixins/CellMixin';

  export default {
    /**
     * Component name
     */
    name: 'StatusCell',

    /**
     * Mixins.
     */
    mixins: [
      CellMixin,
    ],

    /**
     * Component data.
     */
    data () {
      return {
        typeStatusMapping: {
          'default': ['draft', 'submitted'],
          'success' : ['completed'],
          'danger': ['paused', 'failed'],
        }
      }
    },

    /**
     * Computed properties.
     */
    computed: {
      /**
       * Cell text
       */
      cellText () {
        return this.$trans(`report::labels.statuses.${this.cellValue}`);
      },
    },
  };
</script>
