* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
  font-family: $--font-family-base;
  color: var(--color-text-med);
}

main {
  flex: 1;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  cursor: pointer;

  &[disabled] {
    pointer-events: none;
    color: var(--color-text-sm-low);
    user-select: none;
  }

  &.el-loading-parent--relative {
    pointer-events: none;
  }
}

%custom-scrollbar {
  &::-webkit-scrollbar-track {
    border-radius: $--border-radius-base;
    background-color: transparent;
    margin-right: 12px;
  }

  &::-webkit-scrollbar {
    width: 8px;
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: $--border-radius-base;
    background-color: var(--border-color-base);
    margin-right: 12px;
  }
}

.offset-bottom-large {
  margin-bottom: 32px;
}

.offset-bottom-medium {
  margin-bottom: 15px;
}
