@media only screen and (-webkit-min-device-pixel-ratio: 1.3),only screen and (-o-min-device-pixel-ratio: 13/10),only screen and (min-resolution: 120dpi) {
  body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  text-decoration: none;
  color: var(--fgcolor-blue);
  //font-weight: $--font-weight-regular;//HULU-3032

  .cell & {
    @extend .text-label-xs;
    //font-weight: $--font-weight-medium;//HULU-3032
  }
}

h3,
.h3 {
  margin-bottom: 32px;
  color: var(--color-text-med);

  @media screen and (max-width: $--sm) {
    margin-bottom: 20px;
  }

  &.message-title {
    @extend .offset-bottom-medium;
  }
}

p {
  color: var(--color-text-med);
  margin-top: 0;
}

small {
  display: inline-block;
}

.text-muted {
  color: var(--color-text-sm-low);
}

.text-info {
  color: var(--color-text-sm-low);
}

.black-text-muted {
  color: var(--color-text-sm-low);
}

.text-danger {
  color: var(--color-danger);
}

.can-select {
  cursor: pointer;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

/* * * * * * * * * * * * * * * * * * * * * * * * *
 * NEW TYPOGRAPHY
 * * * * * * * * * * * * * * * * * * * * * * * * */
html {
  font-size: 16px;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
label,
a,
input,
textarea,
button,
div,
.custom-label,
span,
strong,
input:-webkit-autofill::first-line,
li {
  font-size: var(--ham-text-size);
  letter-spacing: var(--ham-text-letterspacing-0);
  line-height: var(--ham-text-lineheight-125);
  font-weight: var(--ham-text-weight-regular);
}

/*==========Individual Type Classes==========*/
/* Can be used to produce "custom" type styles that still fit within the global type scale */
/* Size */
.text-size-xxxl {
  --ham-text-size: var(--ham-text-size-xxxl);
}

.text-size-xxl {
  --ham-text-size: var(--ham-text-size-xxl);
}

.text-size-xl {
  --ham-text-size: var(--ham-text-size-xl);
}

.text-size-lg {
  --ham-text-size: var(--ham-text-size-lg);
}

h3,
.text-size-md {
  --ham-text-size: var(--ham-text-size-md);
}

.text-size-sm {
  --ham-text-size: var(--ham-text-size-sm);
}

.text-size-xs {
  --ham-text-size: var(--ham-text-size-xs);
}

.text-size-xxs {
  --ham-text-size: var(--ham-text-size-xxs);
}

.text-size-xxxs {
  --ham-text-size: var(--ham-text-size-xxxs);
}

/* Weight */
//.text-weight-bold {
//  font-weight: var(--ham-text-weight-bold);
//}
//
//.text-weight-semibold {
//  font-weight: var(--ham-text-weight-semibold);
//}
//
//.text-weight-medium {
//  font-weight: var(--ham-text-weight-medium);
//}
//
//.text-weight-regular {
//  font-weight: var(--ham-text-weight-regular);
//}

/* Letter Spacing */
//.text-letterspacing-10 {
//  letter-spacing: var(--ham-text-letterspacing-10);
//}
//
//.text-letterspacing-0 {
//  letter-spacing: var(--ham-text-letterspacing-0);
//}
//
//.text-letterspacing-neg3 {
//  letter-spacing: var(--ham-text-letterspacing-neg3);
//}

/*==========Preset Type Ramp==========*/
/* Standardized text styles that consist of a size, weight, line height, letter spacing, and case */
.text-title-xxxl-bold-caps { //.text-style-xxxl-title-bold-caps
  @extend .text-size-xxxl;

  font-weight: var(--ham-text-weight-bold);
  line-height: var(--ham-text-lineheight-95);
  letter-spacing: var(--ham-text-letterspacing-neg3);
  text-transform: uppercase;
}

.text-title-xxxl-bold { //.text-style-xxxl-title-bold
  @extend .text-size-xxxl;

  font-weight: var(--ham-text-weight-bold);
  line-height: var(--ham-text-lineheight-100);
  letter-spacing: var(--ham-text-letterspacing-0);
}

.text-title-xxl-bold-caps { //.text-style-xxl-title-bold-caps
  @extend .text-size-xxl;

  font-weight: var(--ham-text-weight-bold);
  line-height: var(--ham-text-lineheight-95);
  letter-spacing: var(--ham-text-letterspacing-neg3);
  text-transform: uppercase;
}

.text-title-xxl-bold { //.text-style-xxl-title-bold
  @extend .text-size-xxl;

  font-weight: var(--ham-text-weight-bold);
  line-height: var(--ham-text-lineheight-105);
  letter-spacing: var(--ham-text-letterspacing-0);
}

h1,
.text-title-xl-semibold { //.text-style-xl-title-semibold
  @extend .text-size-xl;

  font-weight: var(--ham-text-weight-semibold);
  line-height: var(--ham-text-lineheight-105);
  letter-spacing: var(--ham-text-letterspacing-0);
}

.text-subtitle-lg-semibold { //.text-style-l-subtitle-semibold
  @extend .text-size-lg;

  font-weight: var(--ham-text-weight-semibold);
  line-height: var(--ham-text-lineheight-125);
  letter-spacing: var(--ham-text-letterspacing-0);
}

.text-subtitle-lg-medium { //.text-style-l-subtitle-medium
  @extend .text-size-lg;

  font-weight: var(--ham-text-weight-medium);
  line-height: var(--ham-text-lineheight-125);
  letter-spacing: var(--ham-text-letterspacing-0);
}

.text-subtitle-md-semibold { //.text-style-m-subtitle-semibold
  @extend .text-size-md;

  font-weight: var(--ham-text-weight-semibold);
  line-height: var(--ham-text-lineheight-125);
  letter-spacing: var(--ham-text-letterspacing-0);
}

.text-body-md { //line-height = 160%
  @extend .text-size-md;
  font-weight: var(--ham-text-weight-regular);
  line-height: var(--ham-text-lineheight-160);
  letter-spacing: var(--ham-text-letterspacing-0);
}

.text-body-md-125 { //line-height = 125%
  @extend .text-size-md;
  font-weight: var(--ham-text-weight-regular);
  line-height: var(--ham-text-lineheight-125);
  letter-spacing: var(--ham-text-letterspacing-0);
}

.text-body-sm { //.text-style-s-body
  @extend .text-size-sm;
  font-weight: var(--ham-text-weight-regular);
  line-height: var(--ham-text-lineheight-160);
  letter-spacing: var(--ham-text-letterspacing-0);
}

.text-body-xs { //.text-style-xs-body
  @extend .text-size-xs;
  font-weight: var(--ham-text-weight-regular);
  line-height: var(--ham-text-lineheight-160);
  letter-spacing: var(--ham-text-letterspacing-0);
}

.text-body-xxs { //.text-style-xxs-body
  @extend .text-size-xxs;
  font-weight: var(--ham-text-weight-regular);
  line-height: var(--ham-text-lineheight-160);
  letter-spacing: var(--ham-text-letterspacing-0);
}

.text-body-xxxs { //.text-style-xxxs-body
  @extend .text-size-xxxs;
  font-weight: var(--ham-text-weight-regular);
  line-height: var(--ham-text-lineheight-160);
  letter-spacing: var(--ham-text-letterspacing-0);
}

.text-label-sm { //.text-style-s-label
  @extend .text-size-sm;

  font-weight: var(--ham-text-weight-medium);
  line-height: var(--ham-text-lineheight-100);
  letter-spacing: var(--ham-text-letterspacing-0);
  text-transform: none;
}

.text-label-xs { //.text-style-xs-label
  @extend .text-size-xs;

  font-weight: var(--ham-text-weight-medium);
  line-height: var(--ham-text-lineheight-100);
  letter-spacing: var(--ham-text-letterspacing-0);
  text-transform: none;
}

.text-label-xxs { //.text-style-xxs-label
  @extend .text-size-xxs;

  font-weight: var(--ham-text-weight-medium);
  line-height: var(--ham-text-lineheight-100);
  letter-spacing: var(--ham-text-letterspacing-0);
  text-transform: none;
}

.text-label-xxxs { //.text-style-xxxs-label
  @extend .text-size-xxxs;

  font-weight: var(--ham-text-weight-medium);
  line-height: var(--ham-text-lineheight-100);
  letter-spacing: var(--ham-text-letterspacing-0);
  text-transform: none;
}

.text-label-sm-semibold-caps { //.text-style-s-label-semibold-caps
  @extend .text-size-sm;

  font-weight: var(--ham-text-weight-semibold);
  line-height: var(--ham-text-lineheight-100);
  letter-spacing: var(--ham-text-letterspacing-10);
  text-transform: uppercase;
}

.text-label-xs-semibold-caps { //.text-style-xs-label-semibold-caps
  @extend .text-size-xs;

  font-weight: var(--ham-text-weight-semibold);
  line-height: var(--ham-text-lineheight-100);
  letter-spacing: var(--ham-text-letterspacing-10);
  text-transform: uppercase;
}

.text-label-xxs-semibold-caps { //.text-style-xxs-label-semibold-caps
  @extend .text-size-xxs;

  font-weight: var(--ham-text-weight-semibold);
  line-height: var(--ham-text-lineheight-100);
  letter-spacing: var(--ham-text-letterspacing-10);
  text-transform: uppercase;
}

.text-label-xxxs-semibold-caps { //.text-style-xxxs-label-semibold-caps
  @extend .text-size-xxxs;

  font-weight: var(--ham-text-weight-semibold);
  line-height: var(--ham-text-lineheight-100);
  letter-spacing: var(--ham-text-letterspacing-10);
  text-transform: uppercase;
}

/* Line Height */
.text-lineheight-125 {
  line-height: var(--ham-text-lineheight-125);
}
//
//.text-lineheight-105 {
//  line-height: var(--ham-text-lineheight-105);
//}
//
//.text-lineheight-100 {
//  line-height: var(--ham-text-lineheight-100);
//}
//
//.text-lineheight-95 {
//  line-height: var(--ham-text-lineheight-95);
//}

input:-webkit-autofill::first-line {
  @extend .text-size-xs;
  font-family: $--font-family-base;
}

//Text states
.text-warning {
  --base-hue: var(--hue-warning);
  --base-sat: var(--sat-high);
  color: var(--color-text-med);

  a {
    color: inherit;
  }
}
