<template>
  <div>
    <div
      class="video-item"
    >
      <div
        class="video-item__frame can-select"
        @click.prevent="openPreview"
      >
        <a href="#">
          <img
            :src="poster"
            alt="Preview"
            width="170"
            height="96"
          >
        </a>
      </div>
      <div
        class="video-item__info video-info can-select"
        @click.prevent="openPreview"
      >
        <a href="#">
          <span class="video-info__name">
            {{ name }}
          </span>
        </a>
        <ul class="video-info__list">
          <li class="video-info__list-item">
            .{{ extension }}
          </li>
          <li class="video-info__list-item">
            {{ filesize }}
          </li>
          <li class="video-info__list-item">
            {{ duration }}
          </li>
        </ul>
      </div>
      <div
        v-if="showFooter"
        class="video-item__footer"
      >
        <p class="video-info__date-upload">
          Uploaded: {{ uploaded }}
        </p>
        <div
          class="video-item__info-status"
          @click.prevent="openPreview"
        >
          <status-cell
            :cell-value="status"
          />
        </div>
      </div>
    </div>
    <a
      v-if="selectable"
      class="video-item__pin"
    >
      <plus-cell
        :disabled="checkStatus"
        :is-selected="isSelected"
        @selected="selected"
        @removed="removed"
      />
      <span @click="removed">
        {{ $trans('creative::labels.remove_ad') }}
      </span>
    </a>
    <preview
      v-if="!selectable && includePreview"
      ref="preview"
      :visible="previewVisible"
      :creative-id="creativePreviewId"
      :is-preview-mode="true"
      @close="closePreview"
      @deleted="onDeleted"
    />
  </div>
</template>

<script>
  import StatusCell from './dataTable/cells/StatusCell';
  import VideoCell from './dataTable/cells/VideoCell';
  import PlusCell from 'Foundation/components/dataTable/Cells/PlusCell';
  import Preview from 'Modules/creative/components/modals/Preview';
  import CreativePreviewMethods from "Modules/creative/mixins/CreativePreviewMethods";
  import { mapMutations } from "vuex";

  export default {
    /**
     * Component name
     */
    name: "SelectedCreative",

    /**
     * Used components
     */
    components: {
      StatusCell,
      PlusCell,
      Preview,
    },

    /**
     * Parent component
     */
    extends: VideoCell,

    /**
     * Mixins
     */
    mixins: [
      CreativePreviewMethods,
    ],

    /**
     * Props
     */
    props: {
      showFooter: {
        type: Boolean,
        default: true,
      }
    },

    /**
     * Component methods
     */
    methods: {
      /**
       * Vuex (mutations).
       */
      ...mapMutations ('wizard/creative', [
        'fill',
      ]),

      /**
       * On creative deleted handler
       */
      onDeleted() {
        this.$nextTick(this.closePreview);
      },

      /**
       * Open preview modal handler
       */
      openPreview () {
        if (!this.selectable) {
          this.showPreview(this.videoData.id);
          return;
        }

        this.$emit('show-preview', this.videoData.id);
      }
    },
  };
</script>
