<template>
  <el-upload
    class="upload-creative__input"
    drag
    :show-file-list="false"
    :auto-upload="false"
    :on-change="(e) => $emit('change', e)"
    :multiple="false"
    accept=".mp4,.mov"
    action=""
    :disabled="disabled"
  >
    <div class="el-upload__title">
      <span
        class="text-label-sm"
        v-html="$trans('creative::content.drag_drop_area')"
      />
    </div>
    <el-button
      v-loading="disabled"
      class="upload-creative__button"
      :disabled="disabled"
    >
      {{ $trans('creative::content.upload_video') }}
    </el-button>
    <div class="upload-creative__tip">
      <small class="upload-creative__tip-item">
        {{ $trans('creative::content.format') }}: .mp4 {{ $trans('creative::content.or') }} .mov
      </small>
      <small class="upload-creative__tip-item">
        {{ $trans('creative::content.max_file_size') }}:
        {{ formatFilesize($config.rules.creative.max_file_size) }}
      </small>
      <small class="upload-creative__tip-item">
        {{ $trans('creative::content.duration') }}:
        {{ $config.rules.creative.min_duration_label }}-{{ $config.rules.creative.max_duration_label }}
        {{ $trans('creative::content.seconds') }}
      </small>
    </div>
  </el-upload>
</template>

<script>
  import formatFilesize from 'filesize';

  export default {
    /**
     * Component name
     */
    name: 'UploadArea',

    /**
     * Props.
     */
    props: {
      /**
       * True if component should display loading state.
       */
      disabled: {
        type: Boolean,
        default () {
          return false;
        },
      },
    },

    /**
     * Data values
     */
    data() {
      return {
        formatFilesize: formatFilesize,
      }
    },
  }
</script>
