<template>
  <div
    v-show="visible"
    class="upload-progress"
  >
    <div class="el-upload__title">
      <span class="text-label-sm">{{ title }}</span>
    </div>
    <p class="el-upload__caption">
      {{ $trans('creative::messages.close_note') }}
    </p>
    <el-progress
      ref="uploader"
      :stroke-width="18"
      :percentage="uploadStats.percent"
    />
    <el-button
      v-if="!modalMode"
      @click="showAbortModal"
    >
      {{ $trans('actions.cancel') }}
    </el-button>
    <action-confirmation
      :visible.sync="isAbortModalVisible"
      :title="$trans('creative::content.cancel-upload')"
      :submit-label="$trans('actions.yes')"
      :cancel-label="$trans('actions.no')"
      :warning-message="$trans('creative::content.cancel_file_warning')"
      @cancel="resume"
      @submit="abort"
    />
  </div>
</template>

<script>
  import ActionConfirmation from "Foundation/components/modals/ActionConfirmation";
  import {mapFields} from 'vuex-map-fields';

  /**
   * Delay before enabling progress bar transition that was disabled for resetting purposes (in milliseconds).
   */
  const DELAY_BEFORE_TRANSITION_ENABLING = 200;

  export default {

    /**
     * Component name
     */
    name: 'UploadCreative',

    /**
     * Used Components
     */
    components: {
      ActionConfirmation,
    },

    props: {
      /**
       * Progress bar title.
       */
      title: {
        required: true,
        type: String,
      },

      /**
       * True if component should be visible.
       */
      visible: {
        type: Boolean,
        default () {
          return false;
        },
      },

      /**
       * Identify id "upload-creative" is used within modal
       */
      modalMode: {
        type: Boolean,
        default: false,
      },
    },

    /**
     * Component data
     */
    data() {
      return {
        isAbortModalVisible: false
      }
    },

    /**
     * Computed properties
     */
    computed: {
      ...mapFields('creative/evaporate', [
        'uploadStats'
      ]),
    },

    /**
     * Component methods
     */
    methods: {
      /**
       * Abort upload
       */
      abort() {
        this.$emit('abort');
      },

      /**
       * Resume upload
       */
      resume() {
        this.$emit('resume');
      },

      /**
       * Show abort dialog
       */
      showAbortModal() {
        this.$emit('pause');
        this.isAbortModalVisible = true;
      },

      /**
       * Reset progress bar state.
       * @param {*} uploadStats
       */
      resetProgress (uploadStats) {
        uploadStats.percent = 0;
        const progressEl = this.$refs.uploader.$el.querySelector('.el-progress-bar__inner');
        if (progressEl) {
          progressEl.classList.add('notransition');
          setTimeout(() => {
            progressEl.classList.remove('notransition');
          }, DELAY_BEFORE_TRANSITION_ENABLING);
        }
      },
    }
  }
</script>
