<template>
  <div>
    <message type="danger">
      {{ $trans('creative::messages.video_issues_warning') }}
    </message>
    <div class="offset-y-top-main">
      <el-collapse
        v-model="activeCollapse"
        accordion
      >
        <el-collapse-item
          name="errors"
        >
          <template slot="title">
            <div class="creative-status creative-status__item creative-status__item--danger">
              <icon
                value="rejected"
                type="danger"
                lightness="light"
                :width="10"
                :height="10"
              />
            </div>
            <span>
              {{ $trans('creative::messages.video_issues') }}
            </span>
            <span class="collapse-item__arrow">
              <icon-chevron-up />
            </span>
          </template>
          <div>
            <p
              v-html="$trans('creative::messages.video_issues_notice', {
                tech_specifications_link: $config.general.links.technical_specifications,
                advertising_policies: $config.general.links.advertising_policies
              })"
            />
            <div class="issues">
              <ul
                v-for="(errors, field) in creativeErrors"
                :key="field"
                class="issues__list"
              >
                <li
                  v-for="(error, key) in errors"
                  :key="key"
                  class="issues__item"
                >
                  <div class="issues__icon creative-status__item creative-status__item--danger">
                    <icon
                      value="rejected"
                      type="danger"
                      lightness="light"
                      :width="10"
                      :height="10"
                    />
                  </div>
                  <p
                    class="issues__descr"
                    v-html="error"
                  />
                </li>
              </ul>
            </div>
          </div>
        </el-collapse-item>
      </el-collapse>
    </div>
  </div>
</template>

<script>
  import {Message} from 'Foundation/components/notice';
  import Icon from 'Foundation/components/icons/Icon';
  import IconChevronUp from 'Foundation/components/icons/IconChevronUp';

  export default {
    /**
     * Component name.
     */
    name: 'Errors',

    /**
     * Components
     */
    components: {
      Message,
      Icon,
      IconChevronUp
    },

    /**
     * Component properties
     */
    props: {
      /**
       * Creative errors
       */
      creativeErrors: {
        type: [Array, Object],
        default () {
          return {};
        }
      },
    },

    /**
     * Data values
     */
    data() {
      return {
        activeCollapse: 'errors'
      }
    },
  }
</script>
