<template>
  <div>
    <el-button
      @click="showModal"
    >
      {{ $trans('creative::content.upload_creative') }}
    </el-button>
    <modal
      class="upload-modal"
      width="640px"
      :visible="isModalVisible"
      :title="$trans('creative::content.upload_creative')"
      :show-buttons="false"
      @close="onClose"
    >
      <upload-creative
        ref="upload"
        :modal-mode="true"
        @finish="handleUploadFinish"
        @rejected="handleUploadFinish"
      />
      <div
        class="c-creative__reminder"
        v-html="$trans('creative::messages.review', {
          tech_specifications_link: $config.general.links.technical_specifications,
          advertising_policies: $config.general.links.advertising_policies,
          ad_approval_link: $config.general.links.faq.ad_approval
        })"
      />
    </modal>
    <action-confirmation
      :visible.sync="isAbortModalVisible"
      :title="$trans('creative::content.cancel-upload')"
      :submit-label="$trans('actions.yes')"
      :cancel-label="$trans('actions.no')"
      :warning-message="$trans('creative::content.cancel_file_warning')"
      @cancel="resumeUpload"
      @submit="abortUpload"
    />
  </div>
</template>

<script>
  import { mapState } from "vuex";
  import ActionConfirmation from "Foundation/components/modals/ActionConfirmation";
  import Modal from 'Foundation/components/layout/modal/Modal';
  import UploadCreative from 'Modules/creative/components/UploadCreative';
  import { UPLOAD_PHASE_CLEAR } from 'Modules/creative/constants';

  export default {

    /**
     * Component name
     */
    name: 'UploadButton',

    /**
     * Used Components
     */
    components: {
      ActionConfirmation,
      Modal,
      UploadCreative,
    },

    /**
     * Component data
     */
    data() {
      return {
        isModalVisible: false,
        isAbortModalVisible: false,
      }
    },

    /**
     * Computed properties
     */
    computed: {
      /**
       * Creative State mapping
       */
      ...mapState('creative', [
        'uploadPhase',
      ]),
    },

    /**
     * Component methods
     */
    methods: {
      /**
       * Make creatives modal visible
       */
      showModal () {
        this.isModalVisible = true;
      },

      /**
       * Handle close Upload modal
       * Request for confirmation if upload is in progress
       */
      onClose () {
        if (this.uploadPhase === UPLOAD_PHASE_CLEAR) {
          this.isModalVisible = false;
          return;
        }
        this.$refs.upload.pauseProcess();
        this.isAbortModalVisible = true;
      },

      /**
       * Abort upload
       */
      abortUpload() {
        this.$refs.upload.abortProcess();
      },

      /**
       * Resume upload
       */
      resumeUpload() {
        this.$refs.upload.resumeProcess();
      },

      /**
       * Emit finish event
       */
      handleUploadFinish () {
        this.$emit('finish');
        this.isModalVisible = false;
      },
    }
  }
</script>
