<template>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="29"
    height="24"
    viewBox="0 0 29 24"
  >
    <g
      stroke="none"
      stroke-width="1"
      fill="none"
      fill-rule="evenodd"
    >
      <g
        id="SSA-12.01.00---Alerts"
        transform="translate(-110.000000, -677.000000)"
        fill="#000000"
        fill-rule="nonzero"
        stroke="#000000"
        stroke-width="0.25"
      >
        <g
          transform="translate(111.000000, 678.000000)"
        >
          <path
            id="Shape"
            d="M19.1312,0.127387097 L5.49162581,7.53670323 L0.775322581,7.53670323 C0.348664516,7.53670323 0,7.88075484 0,8.31202581 L0,13.7256581 C0,14.1523161 0.344051613,14.5009806 0.775322581,14.5009806 L2.93614839,14.5009806 C2.77554839,16.6985677 4.0372129,18.8227032 6.14303871,19.6944 C6.78990968,19.965071 9.7765871,20.7358516 12.2081548,18.1482968 L19.1357419,21.9102968 C20.0074387,22.2314258 20.2827226,21.4974065 20.2827226,21.2312774 L20.2827226,0.806335484 C20.2781097,0.535664516 20.0212065,-0.166277419 19.1312,0.127387097 Z M1.55071613,12.9548774 L1.55071613,9.08273548 L4.91820645,9.08273548 L4.91820645,12.9548774 L1.55071613,12.9548774 Z M6.73952258,18.2675935 C5.22556774,17.6436452 4.33094839,16.0883871 4.49609032,14.5055935 L5.50085161,14.5055935 L10.8181097,17.3958968 C9.7858129,18.4785806 8.16632903,18.8593935 6.73952258,18.2675935 Z M6.46423871,13.2714645 L6.46423871,8.77537419 L18.7320774,2.10469032 L18.7320774,19.9283097 L6.46423871,13.2714645 Z"
          />
          <path
            id="Path"
            d="M25.3063871,4.60963871 C25.0081806,4.30227742 24.5218387,4.28389677 24.2098645,4.58210323 L21.8884387,6.798 C21.5810774,7.09620645 21.548929,7.60547097 21.8609032,7.89452258 C22.2371032,8.22941935 22.8105935,8.05966452 22.9574258,7.91290323 L25.2788516,5.70616129 C25.5862129,5.40795484 25.6045935,4.9216129 25.3063871,4.60963871 Z"
          />
          <path
            id="Path"
            d="M27.0910129,10.2434839 L23.8932774,10.2434839 C23.4666194,10.2434839 23.1179548,10.5875355 23.1179548,11.0188065 C23.1179548,11.4454645 23.4620065,11.794129 23.8932774,11.794129 L27.0910129,11.794129 C27.517671,11.794129 27.8663355,11.4500774 27.8663355,11.0188065 C27.8663355,10.5875355 27.517671,10.2434839 27.0910129,10.2434839 Z"
          />
          <path
            id="Path"
            d="M25.2788516,16.3361355 L22.9574258,14.1293935 C22.6500645,13.8311871 22.1545677,13.8449548 21.8609032,14.156929 C21.5626968,14.4642903 21.5764645,14.9597871 21.8884387,15.2534516 L24.2098645,17.4601935 C24.3566968,17.6024129 24.9622645,17.7767806 25.3063871,17.4326581 C25.6092065,17.1297677 25.5908258,16.629729 25.2788516,16.3361355 Z"
          />
        </g>
      </g>
    </g>
  </svg>
</template>

<script>
  export default {
    /**
     * Name of the component.
     */
    name: "IconMegaphone",
  };
</script>
