<template>
  <icon value="eye" />
</template>

<script>
  import Icon from 'Foundation/components/icons/Icon';

  export default {
    /**
     * Name of the component.
     */
    name: "IconEye",

    /**
     * Components.
     */
    components: {Icon}
  }
</script>
