<template>
  <i
    class="icon"
    :class="iconClass"
  >
    <svg
      class="icon__svg"
      :class="svgClass"
      v-bind="attributes"
    >
      <use :xlink:href="`/images/icons/symbol-defs.svg#icon-${value}`" />
    </svg>
  </i>
</template>

<script>
  export default {
    /**
     * Name of the component.
     */
    name: "Icon",

    /**
     * Props.
     */
    props: {
      /**
       * Icon type.
       */
      type: {
        type: String,
        default: 'default',
        validator (value) {
          return ['default', 'primary', 'danger', 'warning', 'success'].indexOf(value) !== -1;
        },
      },

      /**
       * Icon value.
       */
      value: {
        type: String,
        default: ''
      },

      /**
       * Icon class.
       */
      customClass: {
        type: String,
        default: ''
      },

      /**
       * Svg attributes.
       */
      attr: {
        type: Object,
        default () {
          return {}
        }
      },

      /**
       * Svg width.
       */
      width: {
        type: Number,
        default: 22
      },

      /**
       * Svg height.
       */
      height: {
        type: Number,
        default: 22
      },

      /**
       * Svg transparent.
       */
      transparent: {
        type: String,
        default: '',
        validator (value) {
          return ['fill', 'stroke', ''].indexOf(value) !== -1;
        },
      },

      /**
       * Svg lightness.
       */
      lightness: {
        type: String,
        default: '',
        validator (value) {
          return ['mute', 'light', ''].indexOf(value) !== -1;
        },
      }
    },

    /**
     * Computed properties.
     */
    computed: {
      /**
       * Svg class.
       * @return {string}
       */
      svgClass () {
        return `icon-${this.value}${this.transparent ? ` icon-transparent-${this.transparent}` : ''}${this.lightness ? ` icon-${this.lightness}` : ''}`
      },

      /**
       * Icon class.
       * @return {string}
       */
      iconClass () {
        return`icon--${this.type} ${this.customClass}`
      },

      /**
       * Svg attributes.
       * @return {Object}
       */
      attributes () {
        let externalStyles = this.attr.style ? this.attr.style + ';' : '';
        const result = Object.assign({}, this.attr);
        result.style = externalStyles += `width: ${this.width}px; height: ${this.height}px`;

        return result;
      }
    }
  }
</script>
