<template>
  <svg
    width="160"
    height="98"
    viewBox="0 0 160 98"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M152.253 2H7.74737C4.57318 2 2 4.55837 2 7.71429V76.2857C2 79.4416 4.57318 82 7.74737 82H152.253C155.427 82 158 79.4416 158 76.2857V7.71429C158 4.55837 155.427 2 152.253 2Z"
      fill="#1CE783"
      fill-opacity="0.1"
      stroke="#1CE783"
      stroke-width="3"
    />
    <path
      d="M116.537 95.1816H44.2841C44.0573 95.1816 43.8735 95.3646 43.8735 95.5903C43.8735 95.8161 44.0573 95.999 44.2841 95.999H116.537C116.763 95.999 116.947 95.8161 116.947 95.5903C116.947 95.3646 116.763 95.1816 116.537 95.1816Z"
      fill="black"
      fill-opacity="0.1"
      stroke="#1CE783"
      stroke-width="3"
    />
  </svg>
</template>

<script>
  export default {
    name: 'IconDeviceLivingRoom'
  }
</script>
