<template>
  <icon
    value="alert-triangle"
    type="warning"
    transparent="fill"
    :width="35"
    :height="35"
  />
</template>

<script>
  import Icon from 'Foundation/components/icons/Icon';

  export default {
    /**
     * Name of the component.
     */
    name: 'IconAlertTriangle',

    /**
     * Components.
     */
    components: {Icon},

    /**
     * Properties.
     */
    props: {
      /**
       * Custom class.
       */
      customClass: {
        type: String,
        default: '',
      },
    },
  };
</script>
