<template>
  <div class="table">
    <div class="table__actions">
      <div class="table__actions-select-page">
        <span>Show</span>
        <el-select
          v-model="value"
          value="Value"
          size="small"
          class="input-secondary"
          placeholder="10"
        >
          <el-option
            v-for="item in options"
            :key="item.value"
            :label="item.label"
            :value="item.value"
          />
        </el-select>
        <span>entries</span>
      </div>
      <div class="table__actions-search">
        <text-field
          v-model="form.name"
          size="small"
          name="name"
          :show-label="false"
          :placeholder="$trans('campaign::labels.search_campaign_placeholder')"
          class="input-secondary"
          :label="''"
        />
      </div>
      <div class="table__actions-filter">
        <el-select
          v-model="value11"
          multiple
          size="small"
          class="select-table"
          collapse-tags
          placeholder="Select"
        >
          <el-option
            v-for="item in filters"
            :key="item.value"
            :label="item.label"
            :value="item.value"
          />
        </el-select>
      </div>
    </div>
    <div
      class="table__holder is-empty"
      style="display: none;"
    >
      <div class="table__empty-frame">
        <img
          src="../../../../../images/content/Volume.png"
          alt="Speaker"
          height="64"
        >
      </div>
      <h1 class="offset-bottom-large">
        Create your first campaign!
      </h1>
      <el-button
        type="default"
      >
        Create Campaign
      </el-button>
    </div>
    <div class="table__holder">
      <el-table
        :data="tableData"
      >
        <el-table-column
          label="Name"
          sortable
          prop="name"
          class-name="overflow-text"
        >
          <template slot-scope="scope">
            <a href="#">
              {{ scope.row.name }}
            </a>
          </template>
        </el-table-column>
        <el-table-column
          label="Creative Status"
          width="180"
          prop="creative"
        >
          <template slot-scope="scope">
            <div class="creative-status tile-badge">
              <i
                v-if="'approved' === scope.row.creative"
                :class="'is-' + [scope.row.creative] + ' creative-status__item '"
              >
                <svg
                  class="icon icon-approved"
                >
                  <use xlink:href="../../../../../images/icons/symbol-defs.svg#icon-approved" />
                </svg>
              </i>
              <i
                v-if="'missing' === scope.row.creative"
                :class="'is-' + [scope.row.creative] + ' creative-status__item'"
              >
                <svg
                  class="icon icon-missing"
                >
                  <use xlink:href="../../../../../images/icons/symbol-defs.svg#icon-missing" />
                </svg>
              </i>
              <i
                v-if="'review' === scope.row.creative"
                :class="'is-' + [scope.row.creative] + ' creative-status__item'"
              >
                <svg
                  class="icon icon-review"
                >
                  <use xlink:href="../../../../../images/icons/symbol-defs.svg#icon-review" />
                </svg>
              </i>
              <i
                v-if="'rejected' === scope.row.creative"
                :class="'is-' + [scope.row.creative] + ' creative-status__item'"
              >
                <svg
                  class="icon icon-rejected"
                >
                  <use xlink:href="../../../../../images/icons/symbol-defs.svg#icon-rejected" />
                </svg>
              </i>
              {{ scope.row.creative }}
            </div>
          </template>
        </el-table-column>
        <el-table-column
          label="Order Id"
          sortable
          header-align="center"
          prop="order"
        />
        <el-table-column
          label="Start Date"
          sortable
          header-align="center"
          prop="start"
        />
        <el-table-column
          label="End Date"
          sortable
          header-align="center"
          prop="end"
        />
        <el-table-column
          label="Budget"
          sortable
          header-align="center"
          prop="budget"
        />
        <el-table-column
          label="Impressions"
          sortable
          width="200"
          header-align="center"
          class-name="campaigns__impressions-cell"
          prop="impressions"
        />
        <el-table-column
          label="Campaign Status"
          prop="status"
          width="170"
        >
          <template slot-scope="scope">
            <span :class="'is-' + [scope.row.status] + ' campaign-status tile-badge'">
              {{ scope.row.status }}
            </span>
          </template>
        </el-table-column>
      </el-table>
    </div>
    <div class="table__footer">
      <el-row>
        <el-col :span="12">
          <div class="grid-content">
            <div class="pagination-total">
              <span>
                Showing 1 to 10 of 106 entries
              </span>
            </div>
          </div>
        </el-col>
        <el-col :span="12">
          <div class="grid-content">
            <div class="data-table-pager">
              <el-pagination
                background
                :total="100"
                page-size="10"
                prev-text="Previous"
                next-text="Next"
                layout="slot, prev, pager, next"
              />
            </div>
          </div>
        </el-col>
      </el-row>
    </div>
  </div>
</template>

<script>

import {TextField} from 'Foundation/components/form';

    export default {
        name: "TableDefault",

        components: {
            TextField,
        },

        data () {
          return {
            form: {
                name: null,
                email: null,
                password: null,
                passwordConfirmation: null,
            },
            tags: [
                {name: 'Filter 01', type: ''},
                {name: 'Filter 02', type: ''},
                {name: 'Filter 03', type: ''},
                {name: 'Filter 04', type: ''},
            ],
            filters: [{
                value: 'Option1',
                label: 'Option1'
                }, {
                value: 'Option2',
                label: 'Option2'
                }, {
                value: 'Option3',
                label: 'Option3'
                }, {
                value: 'Option4',
                label: 'Option4'
                }, {
                value: 'Option5',
                label: 'Option5'
            }],
            value11: [],
            value12: [],
            value13: [],
            value14: [],
            options: [{
                value: '10',
                label: '10'
                }, {
                value: '20',
                label: '20'
                }, {
                value: '30',
                label: '30'
                }, {
                value: '40',
                label: '40'
                }, {
                value: '50',
                label: '50'
            }],
            value: '',
            tableData: [
                {
                name: 'Campaign name',
                creative: 'approved',
                order: '123124',
                start: '01/01/2019',
                end: '01/31/2019',
                budget: '$4.125',
                impressions: '33355',
                status: 'ready',
                },
                {
                name: 'Campaign name',
                creative: 'missing',
                order: '123124',
                start: '01/01/2019',
                end: '01/31/2019',
                budget: '$4.125',
                impressions: '33355',
                status: 'paused',
            },
            {
                name: 'Campaign name',
                creative: 'rejected',
                order: '123124',
                start: '01/01/2019',
                end: '01/31/2019',
                budget: '$4.125',
                impressions: '33355',
                status: 'draft',
            },
            {
                name: 'Campaign name',
                creative: 'review',
                order: '123124',
                start: '01/01/2019',
                end: '01/31/2019',
                budget: '$4.125',
                impressions: '33355',
                status: 'complete',
            },
            {
                name: 'Campaign name',
                creative: 'approved',
                order: '123124',
                start: '01/01/2019',
                end: '01/31/2019',
                budget: '$4.125',
                impressions: '33355',
                status: 'live',
            }],
          }
        },
    }
</script>
