<template>
  <div class="table">
    <div class="table__holder">
      <el-table
        :data="tableDataCreative"
      >
        <el-table-column
          label="Name"
          sortable
          prop="name"
        >
          <template slot-scope="scope">
            <a
              href="#"
              class="creative-image"
            >
              <img
                src="../../../../../images/content/creative-img.png"
                alt="Speaker"
                height="26"
                width="51"
              >
              {{ scope.row.name }}
            </a>
          </template>
        </el-table-column>
        <el-table-column
          label="Upload Date"
          sortable
          prop="upload"
        />
        <el-table-column
          label="File Size"
          sortable
          prop="fileSize"
        />
        <el-table-column
          label="Status"
          prop="status"
        >
          <template slot-scope="scope">
            <span :class="'is-' + [scope.row.status] + ' campaign-status'">
              {{ scope.row.status }}
            </span>
          </template>
        </el-table-column>
      </el-table>
    </div>
  </div>
</template>


<script>
    export default {
        name: "TableCreative",

        data () {
          return {
            tableDataCreative: [{
                name: 'Creative name asset',
                upload: '01/31/2019',
                fileSize: '2.0 GB',
                status: 'ready',
            },
            {
                name: 'Creative name asset',
                upload: '01/31/2019',
                fileSize: '2.0 GB',
                status: 'live',
            },
            {
                name: 'Creative name asset',
                upload: '01/31/2019',
                fileSize: '2.0 GB',
                status: 'paused',
            }],
          }
        }
    }
</script>
