<template>
  <div
    class="sp-column"
    :class="classList"
  >
    <div class="sp-column__track">
      <div class="sp-column__inner">
        <slot />
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    /**
     * Name of the component.
     */
    name: 'Column',

    /**
     * Available properties.
     */
    props: {
      /**
       * If column is visible.
       */
      visible: {
        type: Boolean,
        default: false,
      },

      /**
       * Custom class.
       */
      customClass: {
        type: String,
        default: '',
      },

      /**
       * Custom class.
       */
      borderPosition: {
        type: String,
        default: '',
        validator: function (value) {
          return ['right', 'left', ''].includes(value);
        }
      },

      /**
       * Custom class.
       */
      size: {
        type: Number,
        default: 3,
        validator: function (value) {
          return value >= 1 && value <= 12;
        }
      },

      /**
       * Custom class.
       */
      colorDepth: {
        type: String,
        default: 'default',
        validator: function (value) {
          return ['negative-1', 'negative-2', 'positive-1', 'positive-2', 'default'].includes(value);
        }
      },
    },

    /**
     * Computed properties.
     */
    computed: {
      /**
       * General column class list.
       */
      classList () {
        return {
          'sp-col-collapsed': !this.visible,
          [this.borderClass]: this.borderPosition,
          [this.sizeClass]: true,
          [this.colorDepthClass]: true,
        }
      },

      /**
       * Class responsible for the column border styling.
       */
      borderClass () {
        return `border-${this.borderPosition}`;
      },

      /**
       * Class responsible for column sizing(transition is animated).
       */
      sizeClass () {
        return `sp-col-${this.size}`;
      },

      /**
       * Columns base depth level (negative/positive/default).
       */
      colorDepthClass () {
        return `level-${this.colorDepth}`
      }
    }
  };
</script>
