<template>
  <div
    v-loading="loading"
    class="audiences_step"
  >
    <div class="search-creation">
      <el-input
        v-model="search"
        name="name"
        :placeholder="$trans('campaign::labels.selects.placeholders.audiences')"
        label=""
        clearable
        :disabled="!campaignStates.wizard.targetings.can_edit_audiences"
      >
        <icon
          slot="prefix"
          value="search"
          transparent="stroke"
          :width="14"
          :height="14"
        />
      </el-input>
    </div>
    <div v-show="search">
      <el-collapse
        v-for="(category) of searchResults"
        :key="'search_' + category.name"
        v-model="activeIndex"
        class="collapse-popup"
      >
        <audience-search-item
          :category="category"
          :collapse-item-index="category.name"
          @hide="hide"
        />
      </el-collapse>
    </div>
    <el-collapse
      v-for="(category) of options"
      v-show="!search"
      :key="category.name"
      v-model="activeIndex"
      class="collapse-popup"
    >
      <audience-category
        :category="category"
        :collapse-item-index="category.name"
        :active-collapse-index="activeIndex"
        :is-search="!!search"
        @hide="hide"
      />
    </el-collapse>
  </div>
</template>

<script>
  import ChangeHeight from '../mixins/ChangeHeight';
  import AudienceCategory from './AudienceCategory';
  import { mapActions, mapState } from 'vuex';
  import { mapFields } from 'vuex-map-fields';
  import { debounce } from 'lodash';
  import AudienceSearchItem from './AudienceSearchItem';
  import findIndex from 'lodash/findIndex';
  import find from 'lodash/find';
  import Icon from 'Foundation/components/icons/Icon';
  import CampaignMixin from '../../mixins/CampaignMixin';

  export default {
    /**
     * Component name.
     */
    name: 'AudienceForm',

    /**
     * Included components.
     */
    components: {
      AudienceCategory,
      AudienceSearchItem,
      Icon,
    },

    /**
     * Mixins
     */
    mixins: [
      ChangeHeight,
      CampaignMixin,
    ],

    /**
     * Data properties.
     */
    data () {
      return {
        search: '',
        searchResults: [],
        activeIndex: null
      };
    },

    /**
     * Computed properties.
     */
    computed: {
      /**
       * Vuex (fields).
       */
      ...mapState('wizard/targeting', {
        loading: 'loadAudiencesOptionsPending',
      }),
      ...mapState('states', { campaignStates: 'states' }),

      /**
       * Vuex (fields).
       */
      ...mapFields('wizard/targeting', {
        options: 'options.audiences',
        values: 'targeting.audiences',
      }),
    },

    /**
     * Watchers.
     */
    watch: {
      activeIndex (index) {
        if (Array.isArray(index)) {
          this.activeIndex = index[index.length - 1];
        }

        this.onCollapseChange(this.activeIndex);

        if (!index) {
          this.$emit('change');
        }
      },

      /**
       * On search
       */
      search: debounce( function(query) {
        this.searchResults = query.length ? this.getSearchResults() : [];
      }, 500),
    },

    /**
     * Mounted hook
     */
    mounted () {
      if (this.options.length === 0) {
        this.loadAudiencesOptions();
      }
    },

    /**
     * Methods.
     */
    methods: {
      /**
       * Vuex (actions).
       */
      ...mapActions('wizard/targeting', [
        'loadAudiencesOptions',
      ]),

      /**
       * Hide collapse.
       */
      hide () {
        this.activeIndex = null;
      },

      /**
       * Get search results.
       */
      getSearchResults () {
        let result = [];

        const findAllItems = (items) => {
          return items.reduce((acc, item) => {
            if (item.children)  {
              acc = acc.concat(findAllItems(item.children));
            } else if (item.name.toLowerCase().includes(this.search.toLowerCase())) {
              acc.push(item);
            }
            return acc;
          }, [])
        };

        const items = findAllItems(this.options);

        items.forEach((item) => {
          const path = item.path.split('.');

          const firstIndex = findIndex(result, function(option) {
            return option.name === path[0];
          });

          if (firstIndex === -1) {
            result.push({
              name: path[0],
              description: this.getFirstLevelDescription(path[0]),
              children: [
                item
              ]
            });
          } else {
            result[firstIndex].children.push(item);
          }
        });

        return result;
      },

      /**
       * @param {string} name
       * @returns {string}
       */
      getFirstLevelDescription (name) {
        const option = find(this.options, (item) => {
          return item.name === name;
        });
        return option ? option.description : '';
      },
    }
  };
</script>
