<template>
  <el-checkbox
    v-model="checked"
  >
    {{ item.name }}
  </el-checkbox>
</template>

<script>
  import Item from './mixins/Item';
  import { find } from 'lodash';

  export default {
    /**
     * Component name.
     */
    name: 'AudienceItem',

    /**
     * Mixins
     */
    mixins: [ Item ],

    /**
     * Computed properties
     */
    computed: {
      /**
       * Checked model
       */
      checked: {
        get: function () {
          return find(this.getAudiencesCurrentValues, (item => item.value === this.item.value)) !== undefined
        },
        set: async function (checked) {
          if (!checked && this.liveEditMode && this.getAudiencesCountCurrentValues === 1) {
            this.$notify.error({
              message: this.$trans('campaign::messages.required_targeting'),
            });
            // this.checked = !checked;
            return;
          }

          await this.setAudiencesValues({
            item: this.item,
            checked: checked
          });
        }
      }
    }
  };
</script>
