<template>
  <div>
    <p v-html="content" />
    <ul v-if="showList">
      <li
        :class="{ 'is-active-step': budgetStepActive }"
        @click="handleBudgetNavigation"
        v-html="$trans('campaign::messages.increase_your_budget', {
          link: '',
          proposed_budget: suggestedBudget,
        })"
      />
      <li
        v-if="!!suggestedScheduleDuration"
        :class="{ 'is-active-step' : scheduleStepActive }"
        @click="handleScheduleNavigation"
        v-html="$trans('campaign::messages.shorten_date_range', {
          link: '',
          proposed_duration: suggestedScheduleDuration,
        })"
      />
      <li v-if="!!suggestedScheduleDuration">
        {{ $trans('campaign::messages.proceed_with_low_average') }}
      </li>
    </ul>
    <a
      v-if="showLearnMore"
      @click.prevent="handleLearnMoreNavigation"
    >
      {{ $trans('labels.learn_more') }}
    </a>
  </div>
</template>
<script>

  import UnderMinPerDay from './mixins/UnderMinPerDay';

  export default {
    /**
     * Name of the component.
     */
    name: "UnderMinPerDayContent",

    /**
     * Component mixins.
     */
    mixins: [ UnderMinPerDay ],

    /**
     * Computed properties.
     */
    computed: {
      /**
       * Component content.
       */
      content () {
        const suggestion = this.showList ? ' ' + this.$trans('campaign::messages.you_can') : '';
          return this.$trans('campaign::messages.min_budget_message', {
            current_average: this.$formatDecimal(this.dailyImpressions),
            min_per_day: this.$formatDecimal(this.minDailyImpressions),
            proposed_budget: this.suggestedBudget,
            proposed_duration: this.suggestedScheduleDuration,
          }) + suggestion;
      },

      /**
       * Component placed on the budget step.
       */
      budgetStepActive () {
        return this.step === 'budget.budget'
      },

      /**
       * Component placed on the schedule step.
       */
      scheduleStepActive () {
        return this.step === 'details.schedule'
      }
    }
  }
</script>
