<template>
  <message
    v-show="show"
    type="warning"
    class="custom-message"
    :triangle-icon="true"
    :title="$trans('campaign::messages.low_average_impressions')"
  >
    <under-min-per-day-content
      :suggested-schedule-duration="suggestedScheduleDuration"
      :min-daily-impressions="minDailyImpressions"
      :suggested-budget="suggestedBudget"
      :daily-impressions="dailyImpressions"
      :step="step"
      @handleBudgetNavigation="handleBudgetNavigation"
      @handleScheduleNavigation="handleScheduleNavigation"
    />
  </message>
</template>

<script>
  import UnderMinPerDayContent from "./UnderMinPerDayContent";
  import Message from 'Foundation/components/notice/Message';
  import UnderMinPerDay from "./mixins/UnderMinPerDay";

  export default {
    /**
     * Name of the component.
     */
    name: "UnderMinPerDayWarningBox",

    /**
     * Child components.
     */
    components: { UnderMinPerDayContent, Message },

    /**
     * Mixins.
     */
    mixins: [ UnderMinPerDay ],

    /**
     * Props.
     */
    props: {
      /**
       * If warning should be shown.
       */
      show: {
        type: Boolean,
        default: false,
      },
    },
  }
</script>
