<template>
  <date
    :class="extraClass"
    :value="cellValue"
    :use-timezone="useTimezone"
    :client-timezone="clientTimezone"
    :format="format"
  />
</template>

<script>
  import Date from 'Foundation/components/formatters/Date';

  export default {
    /**
     * Component name
     */
    name: 'DateCell',

    /**
     * Child components.
     */
    components: {
      Date,
    },

    /**
     * Props
     */
    props: {
      cellValue: {
        type: [String, Number],
        default: '',
      },

      /**
       * Class.
       */
      extraClass: {
        type: String,
        default: '',
      },

      /**
       * If timezone should be used.
       */
      useTimezone: {
        type: Boolean,
        default: false,
      },

      /**
       * If client timezone shifting allowed
       * Set "clientTimezone = true" to format date with client(browser) timezone offset.
       */
      clientTimezone: {
        type: Boolean,
        default: false,
      },

      /**
       * Moment DateTime format.
       */
      format: {
        type: String,
        default: '',
      },
    },
  };
</script>
