<template>
  <div class="data-table-cell-radio">
    <el-radio
      v-model="cellData"
      :label="cellValue"
    />
  </div>
</template>

<script>
  export default {
    /**
     * Component name
     */
    name: 'RadioCell',

    /**
     * Props
     */
    props: {
      /**
       * Cell value
       */
      cellValue: {
        type: [String, Number],
        default: ''
      },

      /**
       * Value
       */
      value: {
        type: [String, Number],
        default: null
      }
    },

    /**
     * Data
     */
    data () {
      return {
        /**
         * Cell data
         */
        cellData: null
      }
    },

    /**
     * Watchers
     */
    watch: {
      /**
       * Cell data
       */
      cellData (value) {
        if (value) {
          this.$emit('input', value);
        }
      },

      /**
       * Value changed
       */
      value () {
        if (this.cellValue !== this.value) {
           this.cellData = null;
        }

        if(this.value !== this.cellData) {
          this.cellData = this.value;
        }
      },
    },
  };
</script>
