<template>
  <div class="data-table-round-cell">
    <span>{{ textContent }}</span>
  </div>
</template>

<script>
  export default {
    /**
     * Component name
     */
    name: 'RoundCell',

    /**
     * Props
     */
    props: {
      /**
       * Cell value.
       */
      cellValue: {
        type: [String, Number],
        default: '',
      },
    },

    /**
     * Computed props.
     */
    computed: {
      /**
       * Text content.
       */
      textContent() {
        return this.cellValue && this.cellValue[0];
      },
    },
  };
</script>
