<template>
  <span
    v-if="allowRawHtml"
    :class="extraClass"
    @click.prevent
    v-html="cellValue"
  />
  <span
    v-else
    :class="extraClass"
  >{{ cellValue }}</span>
</template>

<script>
  export default {
    /**
     * Component name
     */
    name: 'TruncatedTextCell',

    /**
     * Props
     */
    props: {
      /**
       * Cell value.
       */
      cellValue: {
        type: [String, Number],
        default: '',
      },

      /**
       * Allow raw HTML.
       */
      allowRawHtml: {
          type: Boolean,
          default: false,
      },

      /**
       * Class.
       */
      extraClass: {
        type: String,
        default: 'truncated-text',
      },
    },
  };
</script>
