<template>
  <span>
    <a
      ref="link"
      role="button"
      :tabindex="tabindexValue"
      :class="classValue"
      :href="cellUrl"
      :disabled="disabled"
      @click.prevent="onClick"
    >
      <!-- It's important to keep empty div inside <a> because of hiding native tooltip -->
      <div v-if="isSafari" />
      {{ cellValue || '-' }}
    </a>
  </span>
</template>

<script>
  import { isSafari } from 'Foundation/helpers/browser-detect';

  export default {
    /**
     * Component name
     */
    name: 'UrlCell',

    /**
     * Props
     */
    props: {
      /**
       * Cell value
       */
      cellValue: {
        type: [String, Number],
        default: ''
      },

      /**
       * Cell url
       */
      cellUrl: {
        type: [String],
        default: ''
      },

      /**
       * Cell url doesn't clickable
       */
      disabled: {
        type: Boolean,
        default: false
      },

      /**
       * Default tab index for the cell url is -1 since default
       * navigation should be performed through the row interaction
       */
      tabindex: {
        type: String,
        default: '-1',
      },

      /**
       * Default url cell will transit disabled state to the prent row
       */
      reflectDisabledToRow: {
        type: Boolean,
        default: true,
      }
    },

    /**
     * Component data
     */
    data () {
      return {
        parentRow: null
      }
    },

    /**
     * Computed
     */
    computed: {
      /**
       * Check if current browser is Safari.
       */
      isSafari () {
        return isSafari();
      },

      /**
       * Remove tabindex 0 cause it's element default value
       */
      tabindexValue () {
        return this.tabindex === '0' ? false : this.tabindex;
      },

      /**
       * Additional component styles
       */
      classValue () {
        return this.tabindex === '-1' ? 'index-negative' : false;
      }
    },

    /**
     * Component watchers
     */
    watch: {
      disabled (disabled) {
        if (this.reflectDisabledToRow) {
          disabled ? this.setRowDisabledState() : this.removeRowDisabledState();
        }
      }
    },

    /**
     * Mounted hook
     */
    mounted() {
      if (this.reflectDisabledToRow) {
        this.parentRow = this.$refs.link.closest('tr');
        if (this.disabled) {
          this.setRowDisabledState();
        }
      }
    },

    /**
     * Component methods
     */
    methods: {
      /**
       * Emit on-click event
       */
      onClick () {
        this.$emit('click', this.cellUrl);
      },

      /**
       * Set disabled state for the parent row
       */
      setRowDisabledState () {
        this.parentRow.classList.add("inactive-row");
        this.parentRow.setAttribute("disabled", "disabled");
      },

      /**
       * Remove disabled state from the parent row
       */
      removeRowDisabledState () {
        this.parentRow.classList.remove("inactive-row");
        this.parentRow.setAttribute("disabled", false);
      }
    }
  };
</script>
