<template>
  <div class="collapse-grid__content-inner audiences_list">
    <ul v-if="isEmpty">
      <li>-</li>
    </ul>
    <ul v-if="isAll">
      <li>{{ $trans('targeting::labels.audiences.all') }}</li>
    </ul>
    <ul
      v-for="(items, category) of categories"
      :key="'category_' + category"
    >
      <li>
        {{ category }}
        <ul>
          <li
            v-for="item of items"
            :key="'sub_' + item.label"
            :class="item.type"
            v-html="getLabel(item.label, items)"
          />
        </ul>
      </li>
    </ul>
  </div>
</template>

<script>
  import { set } from 'lodash';
  import Label from 'Modules/campaign/components/wizard/sidebar/items/mixins/Label';

  export default {
    /**
     * Name of the component.
     */
    name: "SidebarTargetingIncludeAudiences",

    /**
     * Mixins.
     */
    mixins: [Label],

    /**
     * Available properties.
     */
    props: {
      value: {
        type: Array,
        default: null,
      },
    },

    /**
     * Computed properties.
     */
    computed: {
      /**
       * Verify if component's value is empty.
       * @returns {boolean}
       */
      isEmpty () {
        return this.value === null;
      },

      /**
       * Verify if component's value equals to "all options".
       * @returns {boolean}
       */
      isAll () {
        return Array.isArray(this.value) && this.value.length === 0;
      },

      /**
       * Simplify the categories structure by leaving only the first and the last levels of nesting.
       * @returns {object}
       */
      categories () {
        const categories = {};
        if (this.value !== null) {
          this.value.forEach((item) => {
            const category = item.path.split('.')[0];
            set(categories, `${category}.${item.name}`, {
              label: item.name,
              type: item.type
            });
          });
        }

        return categories;
      }
    }
  };
</script>
