<template>
  <el-collapse-item
    ref="collapseItem"
    :name="name"
  >
    <template slot="title">
      <span class="collapse-option">
        {{ item.title }}
      </span>
      <div class="indicator">
        <div class="indicator">
          <i
            v-if="isComplete"
            class="icon-complete"
          />
          <div
            v-else
            class="indicator-text"
          >
            {{ totalFilledItems(item) }}/{{ totalItems(item) }}
          </div>
        </div>
      </div>
      <span class="collapse-icon">
        <icon-chevron-up />
      </span>
    </template>
    <div class="collapse-grid">
      <sidebar-item-wrapper
        v-for="(subItem, key) in flatItems"
        :key="key"
        :name="key"
        :item="subItem"
      />
    </div>
  </el-collapse-item>
</template>

<script>
  import SidebarItemWrapper from './SidebarItemWrapper';
  import { IconChevronUp } from 'Foundation/components/icons';
  import { pickBy, each } from 'lodash';
  import ProgressBar from "Modules/campaign/components/wizard/mixins/ProgressBar";

  /**
   * Interval for checking the transition state of the collapse item.
   * @type {number}
   */
  const TRANSITION_CHECK_INTERVAL = 25;

  export default {
    /**
     * Name of the component.
     */
    name: 'SidebarCollapsableItem',

    /**
     * Child components.
     */
    components: {
      SidebarItemWrapper,
      IconChevronUp,
    },

    /**
     * Mixins.
     */
    mixins: [
      ProgressBar,
    ],

    /**
     * Available properties.
     */
    props: {
      /**
       * Item value.
       */
      item: {
        required: true,
        type: Object,
      },

      /**
       * Collapsable item name.
       */
      name: {
        required: true,
        type: String,
      },
    },

    /**
     * Data.
     */
    data () {
      return {
        isCollapseDisabled: false,
        collapseEl: null,
      }
    },

    /**
     * Computed properties.
     */
    computed: {
      /**
       * Check if the collapsable section is completed.
       * @returns {boolean}
       */
      isComplete () {
        return this.totalItems(this.item) === this.totalFilledItems(this.item);
      },

      /**
       * Get all steps (including nested ones) as a flat array.
       * @returns {object}
       */
      flatItems () {
        let items = {};
        const rawItems = this.item.items;
        for (const key in rawItems) {
          if (rawItems[key].extraItems !== undefined) {
            const firstItems = this.getSubItems(rawItems[key], true);
            const lastItems = this.getSubItems(rawItems[key], false);
            // Arrange sub-items in right order relatively the parent item.
            items = {
              ...items,
              ...firstItems,
              [key]: rawItems[key],
              ...lastItems
            };
          } else {
            items[key] = rawItems[key];
          }
        }
        return items;
      },
    },

    /**
     * Mounted hook.
     */
    mounted () {
      const collapseItemId = `el-collapse-content-${this.$refs.collapseItem.id}`;
      this.collapseEl = document.getElementById(collapseItemId);
      this.$watch(
        '$refs.collapseItem.isActive',
        this.watchIsActive,
      );
    },

    /**
     * Methods.
     */
    methods: {
      /**
       * Get items filtered by isFirst condition.
       * @param {object} parentItem
       * @param {boolean} isFirst
       * @returns {object}
       */
      getSubItems (parentItem, isFirst = true) {
        // Collect items by "showFirst" trait.
        const items = pickBy(parentItem.extraItems, (val) => {
          return isFirst ? val.showFirst : !val.showFirst;
        });

        // For each item set the route from parentItem.
        each(items, (subItem) => subItem.route = parentItem.route);

        return items;
      },

      /**
       * Watcher for 'isActive' state of the collapse item.
       */
      watchIsActive () {
        if (!this.collapseEl) {
          return;
        }
        this.handleTransition();
      },

      /**
       * Collapse transition handler.
       */
      handleTransition () {
        const collapseItemWrapper = this.$refs.collapseItem.$el;
        collapseItemWrapper.className += ' no-click';
        const intervalId = setInterval(() => {
          const classes = this.collapseEl.className;
          if (classes.indexOf('collapse-transition') === -1) {
            collapseItemWrapper.className = collapseItemWrapper.className.replace('no-click', '');
            clearInterval(intervalId);
          }
        }, TRANSITION_CHECK_INTERVAL);
      },
    },
  };
</script>
