<template>
  <div class="collapse-grid__content-inner">
    <ul v-if="isEmpty">
      <li>-</li>
    </ul>
    <ul v-if="isAll">
      <li>{{ value.allLabel }}</li>
    </ul>
    <ul
      v-else
      class="column-separate"
    >
      <li
        v-for="(item, index) in value.items"
        :key="index"
        :class="item.type"
      >
        {{ getOption(item) }}
      </li>
    </ul>
  </div>
</template>

<script>
  import { isNull } from 'lodash';
  import { isEmptyArray } from 'Foundation/helpers/utils';

  export default {
    /**
     * Name of the component.
     */
    name: "SidebarTargetingIncludeItem",

    /**
     * Available properties.
     */
    props: {
      /**
       * Item value.
       */
      value: {
        type: Object,
        required: true,
        default () {
          return {
            included: [],
            excluded: [],
          };
        },
      },
    },

    /**
     * Computed properties.
     */
    computed: {
      /**
       * Verify if the items is empty.
       * @returns {boolean}
       */
      isEmpty () {
        return isNull(this.value.items);
      },

      /**
       * Verify if the items state equals to "all options".
       * @returns {boolean}
       */
      isAll () {
        return isEmptyArray(this.value.items);
      },
    },

    /**
     * Methods.
     */
    methods: {
      /**
       * Generate option for the list.
       * @param item
       * @returns {string}
       */
      getOption (item) {
        return item.label + (item.included ? '' : ` (${this.$trans('targeting::labels.exclude')})`);
      }
    },
  };
</script>
