<template>
  <div class="collapse-grid__content-inner">
    <ul v-if="isEmpty">
      <li>-</li>
    </ul>
    <ul v-if="isAll">
      <li>{{ value.allLabel }}</li>
    </ul>
    <ul
      v-else
      class="no-children"
    >
      <li
        v-for="(item, index) of value.items"
        :key="index"
        :class="item.type"
      >
        {{ item.label }}
      </li>
    </ul>
  </div>
</template>

<script>
  export default {
    /**
     * Name of the component.
     */
    name: "SidebarTargetingItem",

    /**
     * Available properties.
     */
    props: {
      /**
       * Item value.
       */
      value: {
        type: Object,
        required: true,
        default () {
          return {
            items: null,
            allLabel: this.$trans('label.all'),
            allowAll: true,
          };
        },
      },
    },

    /**
     * Computed properties.
     */
    computed: {
      /**
       * Getter for allowAll parameter.
       */
      allowAll () {
        return this.value.allowAll;
      },

      /**
       * Verify if component's value is empty.
       * @returns {boolean}
       */
      isEmpty () {
        return this.value.items === null ||
          (!this.allowAll && Array.isArray(this.value.items) && this.value.items.length === 0);
      },

      /**
       * Verify if component's value equals to "all options".
       * @returns {boolean}
       */
      isAll () {
        return this.allowAll &&
          Array.isArray(this.value.items) &&
          this.value.items.length === 0;
      },
    }
  };
</script>
