<template>
  <div
    class="collapse-grid__col"
    :class="{'col-6' : item.singleColumn}"
  >
    <div
      class="collapse-grid__title"
      :class="{'is-active' : isActive}"
    >
      <small
        class="text-label-xxs"
        :class="customClass"
      >
        {{ item.title }}
        <span v-if="canShowCountChanges">
          ({{ $trans('labels.count_changes', {count: countChanges}) }})
        </span>
      </small>
    </div>
    <div class="collapse-grid__content">
      <component
        :is="item.component"
        :value="item.value"
        v-bind="getBinding(item)"
      />
    </div>
  </div>
</template>

<script>
import Changes from './mixins/Changes';

export default {
    /**
     * Name of the component.
     */
    name: 'SidebarItemWrapper',

    /**
     * Child components.
     * Doc https://vuejs.org/v2/guide/components-edge-cases.html#Circular-References-Between-Components
     */
    components: {
      SidebarItem: () => import('Modules/campaign/components/wizard/sidebar/items/SidebarItem'),
      SidebarItemNumeric: () => import('Modules/campaign/components/wizard/sidebar/items/SidebarItemNumeric'),
      SidebarDateRangeItem: () => import('Modules/campaign/components/wizard/sidebar/items/SidebarDateRangeItem'),
      SidebarCollapsableItem: () => import('Modules/campaign/components/wizard/sidebar/items/SidebarCollapsableItem'),
      SidebarTargetingIncludeItem: () => import('Modules/campaign/components/wizard/sidebar/items/SidebarTargetingIncludeItem'),
      SidebarTargetingItem: () => import('Modules/campaign/components/wizard/sidebar/items/SidebarTargetingItem'),
      SidebarTargetingAudiences: () => import('Modules/campaign/components/wizard/sidebar/items/SidebarTargetingAudiences'),
      SidebarTargetingLocations: () => import('Modules/campaign/components/wizard/sidebar/items/SidebarTargetingLocations'),
      SidebarCost: () => import('Modules/campaign/components/wizard/sidebar/items/SidebarCost'),
    },

    /**
     * Mixins.
     */
    mixins: [
      Changes
    ],

    /**
     * Available properties.
     */
    props: {
      /**
       * Item value.
       */
      item: {
        required: true,
        type: Object,
      },

      /**
       * Item name.
       */
      name: {
        required: true,
        type: String,
      },
    },

    /**
     * Computed properties.
     */
    computed: {
      /**
       * Check if the current sidebar item relates to the active step.
       */
      isActive () {
        return this.item.route.name === this.$route.name;
      }
    },

    /**
     * Register beforeCreate sidebar component.
     * This solution avoid to create separate file on the resitverda folder
     * Doc https://vuejs.org/v2/guide/components-edge-cases.html#Circular-References-Between-Components
     */
    beforeCreate: function () {
      this.$options.components.SidebarCreative = require('Modules/campaign/components/wizard/sidebar/items/SidebarCreative').default
      this.$options.components.SidebarTargetingAgesAndGenders = require('Modules/campaign/components/wizard/sidebar/items/SidebarTargetingAgesAndGenders').default
    },

    /**
     * Methods.
     */
    methods: {
      /**
       * Returns object that is used in attributes binding for the item.
       * @param item
       * @returns {{}}
       */
      getBinding (item) {
        return item.value instanceof Object ? item.value : {};
      },
    },
  };
</script>
