<template>
  <div class="collapse-grid__content-inner">
    <ul v-if="isEmpty">
      <li>-</li>
    </ul>
    <ul
      v-else
      class="inline-list"
    >
      <li
        v-for="(item, index) in items"
        :key="index"
        :class="item.type"
        v-html="getLabel(item.label, index)"
      />
    </ul>
  </div>
</template>
<script>
  import { isEmpty, filter } from 'lodash';
  import { valueTypes } from '../../../../helpers/revision';

  export default {
    /**
     * Name of the component.
     */
    name: 'SidebarTargetingAgesAndGenders',

    /**
     * Available properties.
     */
    props: {
      /**
       * Item value.
       */
      value: {
        required: true,
        validator () {
          return true;
        },
      },
    },

    /**
     * Computed properties.
     */
    computed: {
       /**
       * Verify if component's value is empty.
       * @returns {boolean}
       */
      isEmpty () {
         return isEmpty(this.value);
       },

      /**
       * Filtered items
       */
      items () {
        const maxCountItems = 2;

        return filter(this.value, (item) => {
          const countItems = filter(this.value, (val) => {
            return val.label === item.label;
          })

          return countItems.length < maxCountItems  ||
            (countItems.length === maxCountItems &&
              (item.type === valueTypes.CURRENT || item.type === valueTypes.NEW)
            );
        })
      }
    },

    /**
     * Methods.
     */
    methods: {
      /**
       * Can show comma.
       */
      canShowComma (index) {
        return index !== this.value.length - 1;
      },

      /**
       * Get item label.
       */
      getLabel (label, index) {
        label = label.replace('-', '&ndash;');

        if (this.canShowComma(index)) {
          label += ', '
        }

        return label;
      }
    }
  };
</script>
