<template>
  <div
    class="sidebar-grid-item is-active sidebar-budget"
  >
    <div class="sidebar-grid-item__header is-active">
      <div class="collapse-option">
        {{ $trans('labels.budget_&_impressions') }}
      </div>
    </div>
    <general-info />
    <div class="sidebar-grid-item__wrap">
      <div class="sidebar-grid-item__content">
        <available-impressions />
        <updated-block />
      </div>
    </div>
    <messages-block v-if="canShowMessageBlock" />
  </div>
</template>
<script>
  import GeneralInfo from 'Modules/campaign/components/wizard/sidebar/items/budgetItems/GeneralInfo';
  import AvailableImpressions from 'Modules/campaign/components/wizard/sidebar/items/budgetItems/AvailableImpressions';
  import MessagesBlock from 'Modules/campaign/components/wizard/sidebar/items/budgetItems/MessagesBlock';
  import UpdatedBlock from 'Modules/campaign/components/wizard/sidebar/items/budgetItems/UpdatedBlock';
  import { mapState } from 'vuex';

  export default {
    /**
     * Name of the component.
     */
    name: 'SidebarBudget',

    /**
     * Components.
     */
    components: {
      UpdatedBlock,
      AvailableImpressions,
      GeneralInfo,
      MessagesBlock
    },

    /**
     * Computed.
     */
    computed: {
      /**
       * Map states.
       */
      ...mapState('wizard/inventory', ['inventory', 'getDynamicInventoryCheckPending']),

      /**
       * If messages block should be shown.
       */
      canShowMessageBlock () {
        return this.inventory.data.type && this.inventory.data.type !== 'available';
      }
    },
  };
</script>
