<template>
  <div class="collapse-grid__content-inner">
    <ul v-if="isEmpty">
      <li>-</li>
    </ul>
    <ul v-if="isAll">
      <li>{{ value.allLabel }}</li>
    </ul>
    <ul v-if="hasZipcodes">
      <li>
        {{ $trans('targeting::labels.locations.zip_code') }}
        <ul>
          <li
            v-for="(item, index) in zipcodes"
            :key="index"
            :class="item.type"
          >
            {{ getLocationOption(item) }}
          </li>
        </ul>
      </li>
    </ul>
    <ul v-if="hasCities">
      <li>
        {{ $trans('targeting::labels.locations.city_state_dma') }}
        <ul>
          <li
            v-for="(item, index) in cities"
            :key="index"
            :class="item.type"
          >
            {{ getLocationOption(item) }}
          </li>
        </ul>
      </li>
    </ul>
  </div>
</template>

<script>
  import { isNull } from 'lodash';
  import { isEmptyArray, isNotEmptyArray } from 'Foundation/helpers/utils';

  export default {
    /**
     * Name of the component.
     */
    name: "SidebarTargetingLocations",

    /**
     * Available properties.
     */
    props: {
      /**
       * Item value.
       */
      value: {
        type: Object,
        required: true,
        default () {
          return {
            locations: null,
            allLabel: this.$trans('label.all'),
          };
        },
      },
    },

    /**
     * Computed properties.
     */
    computed: {
      /**
       * Zip codes.
       * @returns {(Array|null)}
       */
      zipcodes () {
        return this.value.locations.zip;
      },

      /**
       * Cities.
       * @returns {(Array|null)}
       */
      cities () {
        return this.value.locations.city;
      },

      /**
       * Verify if the locations state is empty.
       * @returns {boolean}
       */
      isEmpty () {
        return isNull(this.zipcodes) && isNull(this.cities);
      },

      /**
       * Verify if the locations state equals to "all options".
       * @returns {boolean}
       */
      isAll () {
        return isEmptyArray(this.zipcodes) && isEmptyArray(this.cities);
      },

      /**
       * Verify if there are set zipcodes.
       * @returns {boolean}
       */
      hasZipcodes () {
        return isNotEmptyArray(this.zipcodes);
      },

      /**
       * Verify if there are set cities.
       * @returns {boolean}
       */
      hasCities () {
        return isNotEmptyArray(this.cities);
      },
    },

    methods: {
      /**
       * Generate location option for the list.
       * @param location
       * @returns {string}
       */
      getLocationOption (location) {
        return location.label + (location.included ? '' : ` (${this.$trans('targeting::labels.exclude')})`);
      }
    },
  };
</script>
