<template>
  <component
    :is="layoutComponent"
    :action-buttons="actionButtons"
  >
    <slot />
  </component>
</template>

<script>
  import LayoutGuest from 'Foundation/layouts/LayoutGuest';
  import LayoutMain from 'Foundation/layouts/LayoutMain';

  export default {
    /**
     * Component name.
     */
    name: 'Layout',

    /**
     * Components
     */
    components: {
      LayoutGuest,
      LayoutMain,
    },

    /**
     * Props.
     */
    props: {
      /**
       * Show actions buttons.
       */
      actionButtons: {
        type: Boolean,
        default: true,
      }
    },

    /**
     * Computed properties.
     */
    computed: {
      /**
       * Name of layout component.
       *
       * @returns {string}
       */
      layoutComponent () {
        return this.$authorized ? 'layout-main' : 'layout-guest';
      },
    },
  };
</script>
