<template>
  <div :class="`wrapper ${customClass}`">
    <el-main>
      <slot />
    </el-main>
  </div>
</template>

<script>
  export default {
    /**
     * Name of the component.
     */
    name: 'LayoutBasic',

    /**
     * Available properties.
     */
    props: {
      /**
       * Custom class.
       */
      customClass: {
        type: String,
        default: '',
      },
    },
  };
</script>
