<template>
  <modal
    custom-class="popup-primary card-modal"
    width="688px"
    :visible="true"
    :title="$trans('payment::labels.payment_info')"
    :show-buttons="false"
    @close="handleClose"
  >
    <edit-card-form
      :id="id"
      :key="editFormKey"
      :replace-enabled="isReplaceForm"
      :loading="loading"
      @deleted="$emit('deleted')"
      @updated="$emit('updated')"
      @replace="forceRerender"
      @close="handleClose"
    />
  </modal>
</template>

<script>
import Modal from 'Foundation/components/layout/modal/Modal';
import EditCardForm from "./form/EditCardForm";
import Visible from "Foundation/mixins/Visible";
import { mapState, mapActions } from 'vuex';

export default {
  /**
   * Name.
   */
  name: 'EditCardModal',

  /**
   * Components.
   */
  components: {
    EditCardForm,
    Modal,
  },

  /**
   * Mixins.
   */
  mixins: [Visible],

  /**
   * Props
   */
  props: {
    /**
     * Payment method id
     */
    id: {
      type: Number,
      default: null
    },

    /**
     * Payment method id
     */
    forceReplaceEnable: {
      type: Boolean,
      default: false,
    },
  },

  /**
   * Component data
   */
  data () {
    return {
      editFormKey: 0,
      isReplaceForm: false
    }
  },

  /**
   * Computed properties
   */
  computed: {
    /**
     * Map state
     */
    ...mapState('payment', [
      'storePaymentPending',
      'showPaymentPending',
      'deletePaymentPending',
      'replacePaymentPending',
    ]),

    /**
     * Creating payment method.
     */
    loading () {
      return this.storePaymentPending ||
        this.showPaymentPending ||
        this.deletePaymentPending ||
        this.replacePaymentPending;
    },
  },

  /**
   * Mounted hook
   */
  mounted() {
    this.isReplaceForm = this.forceReplaceEnable;
  },

  /**
   * Methods
   */
  methods: {
    /**
     * Map actions
     */
    ...mapActions('payment', ['clearPayment']),

    /**
     * Handle close modal event
     */
    handleClose() {
      this.clearPayment();
      this.isReplaceForm = false;
      this.close();
    },

    /**
     * Rerender the form component
     */
    forceRerender() {
      this.editFormKey++;
      this.isReplaceForm = true;
      this.$nextTick(() => {
        document.body.classList.add('el-popup-parent--hidden');
      });
    }
  },
};
</script>
