<template>
  <div class="page page-reports">
    <div class="page__header">
      <h1>{{ $trans('report::labels.reports') }}</h1>
    </div>
    <div class="page__holder level-negative-1">
      <report-table
        v-if="!$user.isAdmin"
        ref="table"
      />
      <admin-report-table
        v-else
        ref="table"
      />
    </div>
  </div>
</template>

<script>
import ReportTable from "./ReportTable";
import AdminReportTable from './AdminReportTable';

export default {
  /**
   * Component name
   */
  name: "ReportIndex",

  /**
   * Components
   */
  components: {
    ReportTable,
    AdminReportTable
  },
}
</script>

