<template>
  <div class="campaigns">
    <div class="campaigns__holder">
      <sp-data-table
        ref="dataTable"
        :show-cards="true"
        :additional-columns="additionalColumns"
        :external-cards="externalCards"
        :show-sub-title="false"
        :search-placeholder="$trans('report::labels.search_reports_placeholder')"
        :name="tableName"
        order-by="id"
        order-dir="descending"
        :table-row-class-name="tableRowClassName"
        @row-click="showEdit"
      >
        <!-- BANNER -->
        <template slot="banner">
          <reports-banner @click="$emit('create')" />
        </template>

        <template slot="top">
          <el-card class="padding-xs offset-y-xl">
            <create-report />
          </el-card>
        </template>

        <!-- FILTERS-->
        <template
          slot="filters"
          slot-scope="props"
        >
          <!-- RUN DATE FILTER -->
          <run-date-filter
            :placeholder="$trans('report::labels.run_date')"
            :disabled="props.disabled"
            field="generated_at"
            @change="props.change"
          />

          <!-- STATUS FILTER -->
          <status-filter
            :placeholder="$trans('labels.status')"
            :disabled="props.disabled"
            @change="props.change"
          />
        </template>

        <!-- COLUMNS -->
        <!-- NAME -->
        <data-table-column
          prop="name"
          :label="$trans('labels.name')"
        >
          <url-cell
            slot-scope="scope"
            :cell-url="getRoute(scope.row)"
            :disabled="scope.row.report_status === 'submitted'"
            :cell-value="scope.row.name"
            @click="showEdit(scope.row)"
          />
        </data-table-column>

        <!-- SOURCE TYPE -->
        <data-table-column
          v-if="$options.name == 'AdminReportTable'"
          :label="$trans('labels.type')"
          prop="type"
          :searchable="false"
        >
          <source-type-cell
            slot-scope="scope"
            :cell-value="scope.row.type"
          />
        </data-table-column>

        <!-- UPDATED AT DATE -->
        <data-table-column
          prop="updated_at"
          :label="$trans('report::labels.date_created')"
          :searchable="false"
        >
          <date-cell
            slot-scope="scope"
            :cell-value="scope.row.updated_at"
            :client-timezone="true"
          />
        </data-table-column>

        <!-- STATUS -->
        <data-table-column
          :label="$trans('labels.status')"
          prop="report_status"
          :searchable="false"
        >
          <status-cell
            slot-scope="scope"
            :cell-value="scope.row.report_status"
          />
        </data-table-column>

        <!-- ACTIONS -->
        <data-table-column
          :label="$trans('report::labels.actions')"
          :searchable="false"
          :sortable="false"
          :show-overflow-tooltip="false"
        >
          <report-actions-cell
            slot-scope="scope"
            :report="scope.row"
            @update="onRowUpdated"
            @delete="refresh"
          />
        </data-table-column>
      </sp-data-table>
    </div>
  </div>
</template>

<script>
import SpDataTable from 'Foundation/components/dataTable/SpDataTable';
import DataTableColumn from 'Foundation/components/dataTable/DataTableColumn';
import DateCell from 'Foundation/components/dataTable/Cells/DateCell';
import ReportActionsCell from '../index/actions/ReportActionsCell';
import ReportsBanner from '../banner/ReportsBanner';
import RunDateFilter from './filters/RunDateFilter';
import StatusCell from './cells/StatusCell';
import SourceTypeCell from './cells/SourceTypeCell';
import StatusFilter from './filters/StatusFilter';
import UrlCell from 'Foundation/components/dataTable/Cells/UrlCell';
import UpdateStatuses from 'Foundation/mixins/UpdateStatuses';
import ReportPending from 'Modules/report/components/index/mixins/ReportPending';
import { mapState } from 'vuex';
import CreateReport from './buttons/CreateReport';

/**
 * Some types shares common conditions for theirs handling.
 * @param {*} report
 * @returns {*}
 */
const adjustReportType = (report) => {
  switch (report.type) {
    case 'missing_ads_scheduled':
    case 'missing_ads_download':
      return 'missing_ads';
    default:
      return report.type;
  }
};

export default {
  /**
   * Component name
   */
  name: 'ReportTable',

  /**
   * Components
   */
  components: {
    SpDataTable,
    CreateReport,
    DataTableColumn,
    DateCell,
    ReportActionsCell,
    ReportsBanner,
    RunDateFilter,
    StatusCell,
    SourceTypeCell,
    StatusFilter,
    UrlCell,
  },

  /**
   * Mixins
   */
  mixins: [UpdateStatuses, ReportPending],

  /**
   * Data attributes
   */
  data () {
    return {
      /**
       * Additional columns
       */
      additionalColumns: [
        {
          prop: 'id',
          data: 'id',
          searchable: false,
          orderable: false,
        }
      ],

      /**
       * External cards
       */
      externalCards: [
        {
          index: 0,
          name: 'lifetime-delivered-impressions'
        },
      ],

      /**
       * Data table name
       */
      tableName: 'reports',
    };
  },

  /**
   * Computed properties
   */
  computed: {
    /**
     * Map state
     */
    // TODO Change this solution to the event pattern
    ...mapState('layoutReport', ['reloadTable']),
  },

  /**
   * Watch
   */
  watch: {
    /**
     * Need to reload table
     */
    // TODO Change this solution to the event pattern
    reloadTable (value) {
      if (value) {
        this.refresh();
      }
    },
  },

  /**
   * Methods
   */
  methods: {
    /**
     * Show report edit
     * @param report
     * @param report
     */
    showEdit (report) {
      this.$pushRoute(this.getDetailsRoute(report));
    },

    /**
     * Get route for report edit modal.
     * @param report
     */
    getDetailsRoute (report) {
      return {
        name: 'reports.show',
        params: {
          reportId: report.id,
          type: adjustReportType(report),
        },
      };
    },

    /**
     * Refresh report data table
     */
    refresh () {
      this.$refs['dataTable'].loadData();
    },

    /**
     * Row is updated (e.g. status has been changed).
     * @param {Object} report
     */
    onRowUpdated (report) {
      this.updateRow(report);
    },

    /**
     * Get report link.
     * @param {Object} report
     */
    getRoute(report) {
      return this.$getRoute(`reports.${adjustReportType(report)}.show`, { report: report.id })
    },

    /**
     * Update the row that's corresponded with the report.
     * @param {Object} report
     */
    updateRow (report) {
      const row = this.$refs.dataTable.tableData.find(row => row.id === report.id);

      if (row) {
        Object.assign(row, {
          report_status: report.display_status,
          status_id: report.status_id,
          states: report.states,
          url: report.url,
          update_required: report.update_required,
          generated_at: report.generated_at,
        });
      }
    },

    /**
     * Table row's class.
     */
    tableRowClassName({row}) {
      if (this.$router.currentRoute.name === 'reports.show' && row.id === this.$router.currentRoute.params.reportId) {
        return 'active';
      }

      return '';
    },
  }
};
</script>
