/*
 * Grid for Single page layout (demo)
 */
//Variables
$--grid-columns: 12;
$--grid-gap: 24px;

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -$--grid-gap/2;
  margin-left: -$--grid-gap/2;
}

.col {
  padding: 0 $--grid-gap/2;
  flex: 0 0 100%;
  max-width: 100%;
}
/*
 * Single page layout (demo)
 */
$--sp-header-height: 72px;
$--sp-transition: .3s ease-in-out;

.sp-wrapper {
  height: 100vh;
  overflow: hidden;
  background-color: var(--bg-offset90);
}

.sp-header {
  display: flex;
  align-items: center;
  height: $--sp-header-height;
  padding: 24px;
  background-color: var(--bg-offset90);
}

.sp-main {
  transform-origin: center;
  transition: transform $--sp-transition;
  border-radius: 12px;
  overflow: hidden;

  &.zoomed {
    transform: scale(.95);
  }
}

.sp-row {
  display: flex;
  justify-content: flex-start;
  position: relative;
}

.sp-column {
  flex-grow: 1;
  max-width: 100%;
  width: 0;
  transition: all $--sp-transition;
  z-index: 1;

  &.sp-col-collapsed {
    flex: 0 0 0;

    @for $i from 1 through $--grid-columns {
      &.sp-col-#{$i} {
        flex-basis: #{$i / $--grid-columns * 100%};
        flex-grow: 0;

        &.border-right {
          margin-left: #{$i / $--grid-columns * 100% * (-1)};
        }

        &.border-left {
          margin-right: #{$i / $--grid-columns * 100% * (-1)};
        }
      }
    }
  }

  @for $i from 1 through $--grid-columns {
    &.sp-col-#{$i} {
      flex-basis: #{$i / $--grid-columns * 100%};
      flex-grow: 0;
      margin-left: 0;
      margin-right: 0;

      &.is-fixed {
        width: #{$i / $--grid-columns * 100%};

        &:before {
          opacity: 1;
          visibility: visible;
        }
      }

      &.border-right {
        box-shadow: inset -1px 0 0 var(--fg-offset85);
      }

      &.border-left {
        box-shadow: 0 4px 24px -10px rgba(66, 73, 87, .5);
      }
    }
  }

  &.sp-col-wide {
    flex: 1 0 100%;
  }


  &__track {
    @extend %custom-scrollbar;
    height: calc(100vh - #{$--sp-header-height});
    overflow: auto;
    margin-right: 8px;
  }

  &__inner {
    //padding: 8px;//TODO: will check it later

    .el-dialog__headerbtn {
      top: 10px;
      right: 8px;
    }
  }

  &.is-fixed {
    position: fixed;
    right: 0;
    top: $--sp-header-height;
    bottom: 0;
    border-radius: 12px;

    &:before {
      content: '';
      position: absolute;
      right: 100%;
      top: 0;
      bottom: 0;
      width: 100vw;
      background-color: rgba(#000, .3);
      opacity: 0;
      visibility: hidden;
      transition: all $--sp-transition;
    }
  }
}

.bg-light {
  background-color: var(--bg-base);
}
