<template>
  <div class="page">
    <div class="page__header">
      <h1>{{ $trans('labels.campaigns') }}</h1>
      <create-campaign-button :modal-deactivated-visible="modalDeactivatedVisible" />
    </div>
    <div class="page__holder level-negative-1">
      <admin-campaign-table v-if="$user.isAdmin" />
      <campaign-table v-else />
    </div>
  </div>
</template>

<script>
  import CampaignTable from '../components/index/CampaignTable';
  import AdminCampaignTable from '../components/admin/index/AdminCampaignTable';
  import CreateCampaignButton from '../components/common/buttons/CreateCampaignButton';
  import { queryGet } from 'App/foundation/helpers/url';

  export default {
    /**
     * Name
     */
    name: 'TheIndex',

    /**
     * Components
     */
    components: {
      CampaignTable,
      CreateCampaignButton,
      AdminCampaignTable
    },

    /**
     * Computed properties.
     */
    computed: {
      /**
       * True if deactivated modal should be visible.
       * @returns {boolean}
       */
      modalDeactivatedVisible () {
        return queryGet('modal') === 'deactivated';
      },
    },
  };
</script>
