<template>
  <div class="campaign-details">
    <div>
      <template slot="title">
        <h2 class="text-subtitle-lg-semibold campaign-details__title">
          {{ $trans('campaign::labels.campaign_details') }}
        </h2>
      </template>
      <div
        v-loading="loading"
      >
        <div
          v-if="campaign.id"
          class="popup-fullscreen__holder"
        >
          <div class="popup-fullscreen__header has-extra-padding">
            <div class="popup-fullscreen__header-inner">
              <h2
                class="popup-fullscreen__title"
              >
                <tooltip
                  :data="campaign.name || '-'"
                />
              </h2>
              <div class="popup-fullscreen__controls">
                <campaign-actions @close="close" />
              </div>
              <div class="popup-fullscreen__actions">
                <change-status />
                <el-button
                  type="primary"
                  @click.prevent="close"
                >
                  {{ $trans('campaign::actions.exit') }}
                </el-button>
                <p v-if="showStatusChangedAt">
                  {{ getStatusChangedAtValue }}
                </p>
              </div>
            </div>
            <div class="popup-fullscreen__details d-flex">
              <p>
                {{ $trans('campaign::labels.date_range') }}:
                <date-range
                  :date-start="getValues(campaign.date_start)"
                  :date-end="getValues(campaign.date_end)"
                />
                <span>•</span>
                {{ $trans('campaign::labels.campaign_id_value', {value: campaign.id}) }}
                <span v-if="showAdvertiserLink">•</span>
                <el-link
                  v-if="showAdvertiserLink"
                  type="primary"
                  :underline="false"
                  :href="$getRoute('advertisers.show', {advertiser: campaign.advertiser_id})"
                >
                  {{ campaign.company_name }}
                </el-link>
              </p>
            </div>
          </div>
          <general-details />
          <div class="popup-fullscreen__main">
            <div class="popup-fullscreen__container">
              <div
                class="details"
              >
                <detail-tabs
                  :active-tab.sync="activeTab"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import CampaignActions from './campaignDetails/CampaignActions';
import DetailTabs from './campaignDetails/DetailTabs';
import GeneralDetails from './campaignDetails/GeneralDetails';
import { mapActions, mapState, mapMutations } from 'vuex';
import Tooltip from 'Foundation/components/toolpip/Tooltip';
import CampaignState from 'Modules/campaign/mixins/CampaignState';
import ChangeStatus from './campaignDetails/Actions/ChangeStatus';
import DateRange from 'Foundation/components/formatters/DateRange';
import { getCurrentValues } from '../helpers/revision';

export default {

  /**
   * Name
   */
  name: 'CampaignDetails',

  /**
   * Components
   */
  components: {
    Tooltip,
    CampaignActions,
    DetailTabs,
    GeneralDetails,
    ChangeStatus,
    DateRange
  },

  /**
   * Mixins.
   */
  mixins: [
    CampaignState,
  ],

  /**
   * Available properties.
   */
  props: {
    /**
     * Advertiser id.
     */
    indexRoute: {
      type: Object,
      default: () => {
        return {
          name: 'campaigns.index'
        }
      },
    },
  },

  /**
   * Data attributes
   */
  data () {
    return {
      /**
       * Active tab
       */
      activeTab: 'performance',
    };
  },

  /**
   * Computed props
   */
  computed: {
    /**
     * Map state.
     */
    ...mapState('details', ['loadDetailsPending', 'campaign', 'cloneCampaignPending', 'pendingBeforeRedirect', 'loadRevisionPending']),
    ...mapState('states', { campaignStates: 'states' }),

    /**
     * Id for campaign details.
     */
    campaignId () {
      return this.$route.params.campaignId;
    },

    /**
     * Campaign detail window is in loading state
     */
    loading () {
      return this.loadDetailsPending || this.cloneCampaignPending || this.pendingBeforeRedirect || this.loadRevisionPending;
    },

    /**
     * Show advertiser link
     */
    showAdvertiserLink () {
      return this.campaignStates.can_open_advertiser_page;
    },

    /**
     * Show status changed at
     */
    showStatusChangedAt () {
      return this.campaign.status_changed_at && this.canShowStatusChangedAt;
    },

    /**
     * Get status changed at row
     */
    getStatusChangedAtValue () {
      return this.$trans('labels.on_date', {
        date: this.$formatDate(this.campaign.status_changed_at, {
          useTimezone: true,
          clientTimezone: false,
          format: this.$config.date.format.js
        }),
        time: this.$formatDate(this.campaign.status_changed_at, {
          useTimezone: true,
          clientTimezone: false,
          format: this.$config.date.format.js_time
        }),
        timezone: this.$config.date.default_timezone_code
      })
    }
  },

  /**
   * Watchers
   */
  watch: {
    /**
     * Campaign id watcher.
     * @param value
     * @param oldValue
     */
    campaignId (value, oldValue) {
      if (value !== oldValue) {
        this.activeTab = 'performance';
      }
    }
  },

  /**
   * Created hook.
   */
  async created () {
    await this.open();
  },

  /**
   * Methods
   */
  methods: {
    /**
     * Map vuex actions
     */
    ...mapActions('details', [
      'load',
    ]),

    ...mapActions('metrics', {
      loadStatistic: 'loadStatistic',
      loadImpressionsByGenre: 'loadGenres',
      loadImpressionsByDevice: 'loadDevices',
      loadFrequency: 'loadFrequency',
    }),

    /**
     * Map vuex mutations
     */
    ...mapMutations('metrics', ['resetMetricsStorage']),

    /**
     * Close campaign details.
     */
    close () {
      this.$pushRoute(this.indexRoute);
    },

    /**
     * Open page.
     */
    open () {
      this.resetMetricsStorage();

      this.$call(this.load(this.campaignId))
        .then(() => {
          if (this.campaignStates.can_download_report) {
            this.$call(this.loadFrequency(this.campaignId))
              .catch((error) => {
                return error;
              });
            this.$call(this.loadStatistic(this.campaignId))
              .then(() => {
                if (this.statisticAvailable) {
                  this.$call(this.loadImpressionsByGenre(this.campaignId))
                    .catch((error) => {
                      return error;
                    });
                  this.$call(this.loadImpressionsByDevice(this.campaignId))
                    .catch((error) => {
                      return error;
                    });
                }
              })
              .catch((error) => {
                return error;
              });
          }
        })
        .catch(() => {
          this.$notify.error({
            message: this.$trans('messages.went_wrong'),
          });

          this.close();
        });
    },

    /**
     * Get current values.
     */
    getValues(data) {
      return getCurrentValues(data)
    }
  },
};
</script>
