<template>
  <modal
    :visible="visible"
    :title="title"
    :submit-label="submitLabel"
    :cancel-label="cancelLabel"
    :loading="loading"
    :width="width"
    :custom-class="customClass"
    @close="cancel"
    @cancel="cancel"
    @submit="submit"
  >
    <slot>
      <div class="change-status__content">
        <p class="text-body-sm">
          {{ warningMessage }}
        </p>
        <p
          class="text-body-sm"
          :class="noticeClass"
        >
          {{ noticeMessage }}
        </p>
      </div>
    </slot>
    <div
      v-if="onlySubmit"
      slot="buttons"
      class="default-actions"
    >
      <!-- SUBMIT -->
      <button-submit
        :submit-label="submitLabel"
        @submit="submit"
      />
    </div>
  </modal>
</template>

<script>
  import Modal from "Foundation/components/layout/modal/Modal";
  import Visible from 'Foundation/mixins/Visible';
  import axios from "axios";
  import route from "Foundation/services/routing/route";
  import ButtonSubmit from "Foundation/components/layout/modal/ButtonSubmit";

  export default {
    /**
     * Component name
     */
    name: "ActionConfirmation",

    /**
     * Used components
     */
    components: {
      Modal,
      ButtonSubmit,
    },

    /**
     * Component mixins
     */
    mixins: [
      Visible,
    ],

    props: {
      /**
       * Title Label
       */
      title: {
        type: String,
        default: '',
      },

      /**
       * If component must be used for render BE ValidationWithActionException
       *
       */
      isValidationWithAction: {
        type: Boolean,
        default: false,
      },

      /**
       * Cancel Label
       */
      cancelLabel: {
        type: String,
        default: '',
      },

      /**
       * Custom class
       */
      customClass: {
        type: String,
        default: 'change-status',
      },

      /**
       * Submit Label
       */
      submitLabel: {
        type: String,
        default: '',
      },

      /**
       * Submit Label
       */
      onlySubmit: {
        type: Boolean,
        default: false,
      },

      /**
       * Warning message
       */
      warningMessage: {
        type: String,
        default: '',
      },

      /**
       * Notice message
       */
      noticeMessage: {
        type: String,
        default: '',
      },

      /**
       * Use notice
       */
      useNotice: {
        type: Boolean,
        default: true,
      },

      /**
       * Route Params for validation action component.
       */
      route: {
        type: Object,
        default: () => {
          return {
            name: '#',
            method: 'GET',
            params: {},
          }
        },
      },

      /**
       * Width
       */
      width: {
        type: String,
        default: '488px',
      }
    },

    /**
     * Component data
     */
    data () {
      return {
        loading: false,
      }
    },

    /**
     * Computed properties
     */
    computed: {
      noticeClass () {
        return this.useNotice ? 'black-text-muted' : '';
      },
    },

    /**
     * Component methods
     */
    methods: {
      /**
       * Cancel action
       */
      cancel () {
        if (this.visible) {
          this.$emit('cancel');
        }
        this.close();
      },

      /**
       * Submit action
       */
      async submit () {
        if (this.isValidationWithAction) {
          this.loading = true;
          await this.$call(
            axios[this.route.method.toLowerCase()] (
              route(this.route.name, this.route.params),
            )
          ).finally(() => {
            this.loading = false;
            this.$emit('submitted');
          })
        }
        this.close();
        this.$emit('submit');
      },
    }
  }
</script>
