<template>
  <el-select
    v-model="innerValue"
    :disabled="disabled"
    :placeholder="placeholder"
    :multiple="multiple"
    :class="{ 'is-checked': isSelected }"
    clearable
    class="select-table"
    popper-class="table-dropdown-menu"
    collapse-tags
    @clear="clear"
    @change="showMobileMenu = !showMobileMenu"
  >
    <el-option
      v-for="item in orderedOptions"
      :key="item.value"
      :label="item.label"
      :value="item.value"
      :disabled="disabled"
    />
  </el-select>
</template>

<script>
  import axios from 'axios';
  import sortBy from 'lodash/sortBy';
  import Filter from "Foundation/components/dataTable/mixins/Filter";

  export default {
    /**
     * Component name
     */
    name: 'DataTableFilter',

    /**
     * Mixins.
     */
    mixins: [
      Filter,
    ],

    /**
     * Props
     */
    props: {
      /**
       * Options
       */
      options: {
        type: Array,
        default: () => {
          return [];
        }
      },
      /**
       * Field name
       */
      field: {
        type: String,
        default: null
      },

      /**
       * Url for filters
       */
      placeholder: {
        type: String,
        default: '',
      },

      /**
       * Defines remote filter
       */
      remote: {
        type: String,
        default: null
      },

      /**
       * Defines multiselect
       */
      multiple: {
        type: Boolean,
        default: true
      },

      /**
       * Options that should not be displayed
       */
      excludeOptions: {
        type: Array,
        default: () => {
          return []
        }
      },

      /**
       * Disabled.
       */
      disabled: {
        type: Boolean,
        default: false,
      },
    },

    /**
     * Data attributes
     * @returns {{innerValue: string}}
     */
    data () {
      return {
        /**
         * Inner value
         */
        innerValue: '',

        /**
         * Pending state
         */
        pending: false,
        showMobileMenu: false,

        /**
         * Remote options
         */
        remoteOptions: [],
      }
    },

    /**
     * Computed properties
     */
    computed: {
      /**
       * Filter remote name for backend filter options
       */
      filterRemote () {
        if (this.remote) {
          return this.remote;
        }

        if (this.customRemote) {
          return this.customRemote;
        }

        return '';
      },

      /**
       * Filtered field name
       */
      filterFieldName () {
        if (this.field) {
          return this.field;
        }

        if (this.customField) {
          return this.customField;
        }

        return '';
      },

      /**
       * Filter options
       * @returns {default.props.options|{default, type}|Array|default.computed.customOptions|(function(): Array)}
       */
      filterOptions () {
        if (this.filterRemote) {
          return this.customExclude(this.remoteOptions);
        }

        if (this.options.length > 0) {
          return this.options;
        }

        if (this.customOptions.length > 0) {
          return this.customOptions;
        }
        return this.options
      },

      /**
       * List of options ordered in alphabetical order.
       */
      orderedOptions () {
        return sortBy(this.filterOptions, 'label');
      },

      /**
       * Custom options, feel free to override
       * @returns {Array}
       */
      customOptions () {
        return [];
      },

      /**
       * Custom field name, feel free to override
       * @returns {string}
       */
      customField () {
        return ''
      },

      /**
       * Remote name for custom filter
       */
      customRemote () {
        return '';
      },

      /**
       * Returns true if there are selected values.
       */
      isSelected () {
        return this.innerValue && this.innerValue.length;
      },
    },

    /**
     * Watchers
     */
    watch: {
      innerValue (value) {
        this.$emit('change', {
          field: this.filterFieldName,
          value: value,
        })
      }
    },

    created () {
      if (this.filterRemote) {
        this.loadRemoteOptions();
      }
    },

    /**
     * Methods
     */
    methods: {
      /**
       * Set default params
       * @param params
       */
      setInitialParam(params) {
        const field = params.columns.find(item => item.name === this.filterFieldName);

        this.innerValue = field.search.value;
      },

      /**
       * Load remote options
       */
      loadRemoteOptions () {
        this.pending = true;
        return this.$call(axios.get(
          this.$getRoute('dataTable.filters', {
            filter: this.filterRemote
          })),
          { muteException: true })
          .then((response) => {
          this.remoteOptions = response.data;
          this.checkFilters();
          this.pending = false;
        });
      },

      /**
       * Exclude previous loaded options from result list
       */
      customExclude (options) {
        if(typeof options === 'object') {
          return options.filter((option) => {
            return !this.excludeOptions.includes(option.value);
          })
        }
        return options;
      },

      /**
       * Clear filter
       */
      clear () {
        this.innerValue = '';
      }
    }
  };
</script>

