<template>
  <el-row>
    <el-col :span="12">
      <div class="grid-content">
        <div class="pagination-total">
          <span
            v-html="$trans('data-table.entries', {
              fromPage,
              toPage,
              recordsFiltered,
            })"
          />
        </div>
      </div>
    </el-col>
    <el-col :span="12">
      <div class="grid-content">
        <div class="data-table-pager">
          <pagination
            background
            :total="recordsFiltered"
            :page-size="itemsOnPage"
            :current-page.sync="innerValue"
            :prev-text="$trans('data-table.previous')"
            :next-text="$trans('data-table.next')"
            layout="slot, prev, pager, next"
            :disabled="disabled"
          />
        </div>
      </div>
    </el-col>
  </el-row>
</template>

<script>
  import Pagination from "./Pagination.vue";

  export default {

    /**
     * Component name
     */
    name: 'DataTablePager',

    /**
     * Components
     */
    components: {
      Pagination,
    },

    /**
     * Props
     */
    props: {
      /**
       * Items on page
       */
      itemsOnPage: {
        type: Number,
        default: 0,
      },

      /**
       * Page
       */
      page: {
        type: Number,
        default: 0,
      },

      /**
       * Records filtered
       */
      recordsFiltered: {
        type: Number,
        default: 0,
      },

      /**
       * From
       */
      from: {
        type: Number,
        default: 0,
      },

      /**
       * Disabled.
       */
      disabled: {
        type: Boolean,
        default: false,
      },
    },

    /**
     * Data attributes
     */
    data () {
      return {
        innerValue: 0,
      }
    },

    /**
     * Computed props
     */
    computed: {
      /**
       * From page
       */
      fromPage () {
        if (0 === this.recordsFiltered) {
          return 0;
        }

        return (this.innerValue - 1) * this.itemsOnPage + 1;
      },

      /**
       * To page
       */
      toPage () {
        let from = this.innerValue * this.itemsOnPage;
        if (from > this.recordsFiltered) {
          from = this.recordsFiltered;
        }

        return from;
      },
    },

    /**
     * Watchers
     */
    watch: {
      /**
       * Page watcher
       */
      page (val) {
        this.innerValue = val;
      },

      /**
       * Inner value
       */
      innerValue (newVal) {
        this.$emit('update:page', newVal);
      },
    }
  };
</script>
