<template>
  <div
    class="table__holder is-empty"
  >
    <div class="table__empty-frame">
      <slot name="icon" />
    </div>

    <h1 class="offset-bottom-large">
      {{ title }}
    </h1>

    <slot name="button">
      <el-button
        v-if="displayButton"
        type="default"
        @click="$emit('click')"
      >
        {{ buttonText }}
      </el-button>
    </slot>
  </div>
</template>

<script>
  export default {
    /**
     * Name of the component.
     */
    name: 'DataTableBanner',

    /**
     * Available properties.
     */
    props: {
      /**
       * Title.
       */
      title: {
        type: String,
        default: '',
      },

      /**
       * True if action button should be displayed.
       */
      displayButton: {
        type: Boolean,
        default: true,
      },

      /**
       * Button text.
       */
      buttonText: {
        type: String,
        default: '',
      },
    },
  };
</script>
