<template>
  <div
    v-if="showCards"
    class="counter"
    :class="customClass"
  >
    <el-row
      v-loading="pendingCards"
      :gutter="16"
      class="counter__list"
    >
      <el-col
        v-for="card in filteredCards"
        :key="card.title"
        :span="cardSpan"
      >
        <div class="grid-content bg-purple">
          <component
            :is="defineCard(card.type)"
            v-loading="card.isLoading"
            v-bind="card"
          />
        </div>
      </el-col>
    </el-row>
  </div>
</template>

<script>
  import axios from 'axios';
  import DataTableCard from './Cards/DataTableCard';
  import UserId from 'Foundation/mixins/UserId';
  import DataTableCurrencyCard from "Foundation/components/dataTable/Cards/DataTableCurrencyCard";
  import DataTableNumberCard from "Foundation/components/dataTable/Cards/DataTableNumberCard";

  const SINGLE_CARD_GRID = 8;

  export default {
    /**
     * Component name
     */
    name: 'DataTableCards',

    /**
     * Components.
     */
    components: {
      DataTableCurrencyCard,
      DataTableCard,
      DataTableNumberCard
    },

    /**
     * Mixins.
     */
    mixins: [
      UserId,
    ],

    /**
     * Props
     */
    props: {
      /**
       * Should show cards
       */
      showCards: {
        type: Boolean,
        default: false,
      },

      /**
       * Table name
       * Used for backend api
       */
      name: {
        type: String,
        default: '',
      },

      /**
       * External Cards Aliases
       */
      externalCards: {
        type: Array,
        default: null,
      },

      customClass: {
        type: String,
        default: ''
      }
    },

    /**
     * Data
     * @returns {{tableData: *[]}}
     */
    data () {
      return {
        /**
         * Pending cards
         */
        pendingCards: false,

        /**
         * Available cards
         */
        cards: [],
      };
    },

    /**
     * Computed properties
     */
    computed: {
      /**
       * Filter and sort data-table cards
       */
      filteredCards () {
        return this.cards.filter((value) => {
          return value;
        }).sort((first, second) => {
          return first.index - second.index;
        })
      },

      /**
       * Span of each card item.
       */
      cardSpan () {
        if (!this.cards.length) {
          return 0;
        }

        if (this.cards.length <= 2) {
          return SINGLE_CARD_GRID;
        }

        return Math.floor(24 / this.cards.length);
      },
    },

    /**
     * Mounted hook
     */
    mounted () {
      if (this.showCards) {
        this.loadCards();
      }
    },

    /**
     * Methods
     */
    methods: {
      /**
       * Load table cards
       * @returns {AxiosPromise<any>}
       */
      loadCards () {
        this.pendingCards = true;
        let promises = [];

        promises.concat(this.prepareExternalCards());
        promises.push(this.prepareNativeCards())

        return Promise.all(promises);
      },

      /**
       * Prepare external cards
       * @returns {array}
       */
      prepareExternalCards () {
        let promises = [];

        //process external cards if present
        for (let card in this.externalCards) {
          let index = this.addCard({
            isLoading: true,
            value: 0,
            title: '',
            type: '',
            index: this.externalCards[card].index
          });
          promises.push(this.prepareExternalPromise(card, index - 1))
        }

        return promises;
      },

      /**
       * Prepare external promise
       * @returns {array}
       */
      prepareExternalPromise (externalCardIndex, resultIndex) {
        return this.$call(axios.get(
          this.$getRoute('dataTable.external-cards', {
            card: this.externalCards[externalCardIndex].name,
            'user_id': this.userId,
          })
        ), { notify: false }).then((response) => {
          this.$set(this.cards, resultIndex, {
            isLoading: false,
            value: response.data.value,
            type: response.data.type,
            title: response.data.title,
            index: this.externalCards[externalCardIndex].index,
          })
        }).catch(() => {
          this.$notify.error(`error loading ${this.externalCards[externalCardIndex].name}`);
        });
      },

      /**
       * Prepare native cards
       * @returns {array}
       */
      prepareNativeCards () {
        return this.$call(axios.get(
          this.$getRoute('dataTable.cards', {
            table: this.name,
            'user_id': this.userId,
          })), { muteException: true })
          .then((response) => {
          this.pendingCards = false;
          for(let card in response.data) {
            let data = response.data[card];
            data.isLoading = false;
            this.addCard(data);
          }
        });
      },

      /**
       * Add card to render
       * @returns {array}
       */
      addCard (data) {
        return this.cards.push(data);
      },

      /**
       * Define card component type
       * @returns {string}
       */
      defineCard (type) {
        if(!type || type === 'string') {
          return 'DataTableCard';
        }
        const typeCapitalized = type.charAt(0).toUpperCase() + type.slice(1)
        return `DataTable${typeCapitalized}Card`
      },

      /**
       * Refresh cards.
       */
      refresh () {
        this.cards = [];
        this.loadCards();
      }
    }
  };
</script>
