<template>
  <div
    ref="dataTableWrapper"
    class="sp-table"
    :class="additionalClasses.join(' ')"
  >
    <data-table-cards
      ref="cards"
      :name="name"
      :external-cards="externalCards"
      :show-cards="showCards"
      :user-id="userId"
      custom-class="level-default"
    />
    <slot name="top" />
    <div
      :key="filterKeyComponent"
      class="main"
    >
      <el-card shadow="never">
        <h2
          v-if="showSubTitle"
          class="page__subtitle"
        >
          {{ title }}
        </h2>
        <div
          class="table"
          :class="innerClass"
        >
          <div
            v-if="showActions"
            class="table__actions"
          >
            <div class="table__actions-search">
              <el-input
                v-if="searchable"
                v-model="search"
                size="small"
                name="name"
                :show-label="false"
                :placeholder="searchPlaceholder"
                :label="''"
              >
                <icon
                  slot="prefix"
                  value="search"
                  transparent="stroke"
                  :width="14"
                  :height="14"
                />
              </el-input>
            </div>
            <div class="table__actions-select-page">
              <span>Show</span>
              <el-select
                v-model="itemsOnPage"
                size="small"
                class="input-secondary"
                placeholder="10"
                popper-class="dropdown-pages"
                :disabled="pending"
              >
                <el-option
                  v-for="item in pageSelector"
                  :key="item.value"
                  :label="item.label"
                  :value="item.value"
                />
              </el-select>
              <span>entries</span>
            </div>
            <div
              class="table__actions-filter"
            >
              <slot
                :disabled="pending"
                :change="onSortChange"
                name="sort-dropdowns"
              />
              <slot
                :disabled="pending"
                :change="onFilterChange"
                name="filters"
              />
              <el-button
                class="remove-filters"
                type="text"
                :disabled="pending"
                @click="clearSearch"
              >
                {{ $trans('actions.clear_all') }}
              </el-button>
            </div>
          </div>
          <div class="table__holder">
            <el-table
              ref="dataTable"
              v-loading="pending"
              highlight-current-row
              :data="tableData"
              :default-sort="{ prop: sortColumn, order: sortOrder }"
              :row-class-name="tableRowClassName"
              class="level-default"
              @sort-change="sort"
              @current-change="onSelectRow"
              @row-click="rowClick"
            >
              <template slot="empty">
                <slot
                  v-if="showEmptyLayout"
                  name="banner"
                />
              </template>
              <slot />
            </el-table>
          </div>
          <div class="table__footer">
            <data-table-pager
              :page.sync="page"
              :items-on-page="itemsOnPage"
              :records-filtered="recordsFiltered"
              :disabled="pending"
            />
          </div>
        </div>
      </el-card>
    </div>
  </div>
</template>

<script>
import DataTable from './DataTable';

export default {
  /**
   * Component name
   */
  name: 'SpDataTable',

  extends: DataTable
};
</script>
