<template>
  <div>
    <div
      class="payment-method__item"
      :class="wrapperClasses"
      @click.prevent="$emit('open', paymentMethod.id)"
    >
      <div class="payment-method__image">
        <img
          :src="cardImage(paymentMethod.brand)"
          :alt="paymentMethod.brand"
        >
      </div>
      <span class="payment-method__name">
        {{ endingIn }}
      </span>
      <span
        v-if="!useChange"
        class="payment-method__exp"
      >
        {{ expireDate }}
      </span>
      <a
        v-else
        class="payment-method__edit"
        href="#"
        @click.prevent="$emit('open', paymentMethod.id)"
      >
        {{ $trans('actions.change') }}
      </a>
    </div>

    <retry-payment
      v-if="needUpdatePayment"
      :payment-method="paymentMethod"
    />
  </div>
</template>

<script>
  import { formatCardExpiry} from "Foundation/helpers/card-expiry";
  import RetryPayment from 'Modules/payment/components/RetryPayment';
  import CardInfo from "Modules/payment/components/mixins/CardInfo";

  export default {
    /**
     * Component name
     */
    name: 'CreditCardInfo',

    components: {
      RetryPayment,
    },

    /**
     * Mixins
     */
    mixins: [
      CardInfo
    ],

    /**
     * Component props
     */
    props: {
      /**
       * Use change link
       */
      useChange: {
        type: Boolean,
        default: false,
      },

      /**
       * Use change link
       */
      paymentMethod: {
        type: Object,
        default: null,
      },
    },

    /**
     * Computed values
     */
    computed: {
      /**
       * Expire date
       */
      expireDate () {
        return formatCardExpiry(this.paymentMethod.exp_month, this.paymentMethod.exp_year)
      },

      /**
       * Ending in translated message
       */
      endingIn () {
        return this.$trans(
          'payment::labels.ending_in',
          {brand: this.$trans(`payment::labels.${this.paymentMethod.brand}`), ending_id: this.paymentMethod.last4}
        );
      },

      /**
       * Wrapper classes.
       * @returns {Array}
       */
      wrapperClasses () {
        const classes = [];
        if (this.paymentMethod.need_update) {
          classes.push('is-danger');
        }
        return classes;
      },

      /**
       * Check if user need to update payment.
       * @returns {*}
       */
      needUpdatePayment () {
        return this.paymentMethod.need_update;
      },
    },
  }
</script>
