<template>
  <div
    v-loading="indexPaymentPending"
    class="payment-method"
  >
    <payment-methods-index
      :payment-methods="paymentMethods"
      :use-change="true"
      @payments-updated="loadPaymentMethods"
      @updated="$emit('payment-update')"
    />
  </div>
</template>

<script>
import { mapState, mapActions } from 'vuex';
import { mapFields } from 'vuex-map-fields';
import PaymentMethodsIndex from "Modules/payment/components/PaymentMethodsIndex";

export default {
  /**
   * Name.
   */
  name: 'PaymentMethod',

  /**
   * Components.
   */
  components: { PaymentMethodsIndex },

  /**
   * Props
   */
  props: {
    /**
     * Payment method id
     */
    id: {
      type: Number,
      default: null
    },
  },

  /**
   * Reactive properties.
   * @returns {{}}
   */
  data () {
    return {
      modalCardVisible: false,
      paymentId: 0,
    };
  },

  /**
   * Computed properties.
   */
  computed: {
    /**
     * Map state
     */
    ...mapState('payment', [
      'indexPaymentPending',
    ]),

    /**
     * Map fields.
     */
    ...mapFields('payment', ['paymentMethods', 'selectedPayment']),
  },

  /**
   * Watchers.
   */
  watch: {
    paymentMethods (data) {
      if(data && data.length) {
        this.$emit('show-payment-warning', false);
        this.selectedPayment = data[0].id;
      } else {
        this.selectedPayment = null;
        this.$emit('show-payment-warning', true);
      }
    }
  },

  /**
   * Component created
   */
  async created () {
    await this.loadPaymentMethods();
    if(this.paymentMethods.length) {
      this.selectedPayment = this.paymentMethods[0].id;
    }
  },

  /**
   * Methods.
   */
  methods: {
    /**
     * Map actions
     */
    ...mapActions('payment', ['index']),

    /**
     * Load payment methods
     */
    loadPaymentMethods () {
      this.$call(this.index(), {muteException: true});
    },

    /**
     * Define card brand image
     */
    cardImage (type) {
      return `/images/cards/${this.$config.cards.icons.svg[type]}`;
    },
  },
};
</script>
