<template>
  <div class="message-retry text-danger">
    <div
      class="message-retry__content"
    >
      <p class="title">
        {{ $trans('payment::messages.card_was_declined.title') }}
      </p>
      {{ $trans('payment::messages.card_was_declined.message') }}
    </div>
    <div class="message-retry__controls">
      <el-button
        v-if="paymentMethod.can_retry"
        v-loading="retryProcessing"
        :disabled="retryProcessing"
        type="default"
        size="small"
        @click="submitRetryPayment"
      >
        {{ $trans('payment::actions.retry_payment') }}
      </el-button>
    </div>
  </div>
</template>

<script>
import { mapActions } from 'vuex';

export default {
  /**
   * Name.
   */
  name: 'RetryPayment',

  /**
   * Props.
   */
  props: {
    paymentMethod: {
      required: true,
      type: Object,
    },
  },

  /**
   * Data.
   */
  data () {
    return {
      retryProcessing: false,
    }
  },

  /**
   * Methods.
   */
  methods: {
    /**
     * Map actions
     */
    ...mapActions('payment', [
      'retryPayment',
      'updatePaymentMethod',
    ]),

    ...mapActions('notifications', ['loadNotifications']),

    /**
     * Retry button click handler.
     * @returns {Promise<void>}
     */
    async submitRetryPayment () {
      this.retryProcessing = true;

      try {
        const {data: {data: paymentMethod}} = await this.retryPayment(this.paymentMethod.id);
        await this.loadNotifications();
        this.updatePaymentMethod(paymentMethod);
      } catch (error) {
        this.retryProcessing = false;
        throw (error);
      }

      this.retryProcessing = false;
    }
  },
};
</script>
