<template>
  <div class="campaign-details">
    <base-modal
      :visible.sync="visible"
      :show-close="true"
      :fullscreen="false"
      custom-class="popup-fullscreen order-popup not-pdf"
      width="1024px"
      top="50px"
      @close="close"
    >
      <template slot="title">
        <h2
          v-if="!transactionDetailsPending && transaction"
          class="text-subtitle-lg-semibold campaign-details__title"
        >
          {{ $trans('payment::labels.order_summary') }}
        </h2>
      </template>
      <div v-loading="transactionDetailsPending">
        <div
          v-if="!transactionDetailsPending && transaction"
          class="popup-fullscreen__holder"
        >
          <div
            class="popup-fullscreen__panel"
          >
            <div
              class="popup-fullscreen__container order-popup__container"
            >
              <a
                :href="$getRoute('api.payments.order.pdf.download', { orderId: transaction.orderId })"
                class="order-popup__download-btn"
              >
                <icon
                  value="download"
                  transparent="fill"
                />
                {{ $trans('payment::labels.download_pdf') }}
              </a>
            </div>
          </div>
          <div class="order-popup__main">
            <div class="popup-fullscreen__container order-popup__container">
              <div
                class="details"
              >
                <el-row :gutter="20">
                  <el-col :span="24">
                    <message
                      v-if="displayWhenFailedStatus"
                      type="danger"
                    >
                      {{ $trans('payment::messages.update_your_credit') }} <br>
                      <a @click.prevent.stop="clickUpdateCreditCard">{{ $trans('payment::actions.update_credit_card') }}</a>
                    </message>
                  </el-col>
                </el-row>
                <campaign-details
                  :id="transaction.orderId"
                  :advertiser="transaction.campaign.advertiserName"
                  :campaign-title="transaction.campaign.campaignName"
                  :order-date="transaction.campaign.orderDate"
                  :payment-status="transaction.orderStatus"
                  :revised-date="transaction.campaign.revisedDate"
                />
                <video-commercial
                  :date-start="transaction.campaign.startDate"
                  :date-end="transaction.campaign.endDate"
                  :budget="transaction.budget"
                  :promocode="transaction.promocode"
                  :discounted-budget="transaction.displayDiscountedBudget"
                  :impressions="transaction.campaign.bookedImpressions"
                  :cpm="transaction.campaign.unitCost"
                />
                <transaction-history
                  :transactions="transaction.transactions"
                />
                <transaction-details-footer
                  :paid-amount="transaction.paidAmount"
                  :due-amount="transaction.dueAmount"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </base-modal>
  </div>
</template>

<script>
  import { mapActions, mapState } from 'vuex';
  import { Message } from 'Foundation/components/notice';
  import { attachClassToDocumentBody } from 'Foundation/helpers/utils';
  import CampaignDetails from "./transactionDetails/CampaignDetails";
  import VideoCommercial from "Modules/payment/components/transactionDetails/VideoCommercial";
  import TransactionHistory from "Modules/payment/components/transactionDetails/TransactionHistory";
  import TransactionDetailsFooter from "Modules/payment/components/transactionDetails/TransactionDetailsFooter";
  import BaseModal from 'Foundation/components/layout/modal/BaseModal';
  import Icon from 'Foundation/components/icons/Icon';

  export default {
    /**
     * Name
     */
    name: 'TransactionDetails',

    /**
     * Components
     */
    components: {
      TransactionDetailsFooter,
      TransactionHistory,
      VideoCommercial,
      CampaignDetails,
      Icon,
      Message,
      BaseModal,
    },

    /**
     * Props
     */
    props: {
      /**
       * Dialog visible
       */
      dialogVisible: {
        type: Boolean,
        default: false,
      },

      /**
       * Order Id
       */
      orderId: {
        type: [String, Number],
        default: '',
      },
    },

    /**
     * Data attributes
     */
    data() {
      return {
        /**
         * Is dialog visible
         */
        visible: false,
      };
    },

    /**
     * Computed props
     */
    computed: {
      /**
       * Map state.
       */
      ...mapState('payment', [
        'transactionDetailsPending',
        'transaction',
      ]),
      /**
       * Check if order status is failed
       */
      displayWhenFailedStatus () {
        return this.transaction.orderStatus === 'failed' && this.$hasPermission('create_payment_method');
      },
    },

    /**
     * Watchers
     */
    watch: {
      /**
       * Is dialog visible
       * @param value
       */
      async dialogVisible(value) {
        this.attachClassToBody(value);
        this.visible = value;
        if (value) {
          this.loadData();
        }
      },
    },

    /**
     * Methods
     */
    methods: {
      /**
       * Map vuex actions
       */
      ...mapActions('payment', [
        'getOrderInfo'
      ]),

      /**
       * Close emit.
       */
      close() {
        this.$emit('close');
      },

      /**
       * Attach specific class to body
       * @param visible
       */
      attachClassToBody(visible) {
        attachClassToDocumentBody(visible, 'modal-visible');
      },

      /**
       * Load data related to the order
       */
      loadData() {
        this.getOrderInfo(this.orderId)
          .catch(() => {
            this.$notify.error({
              message: this.$trans('messages.went_wrong'),
            });

            this.close();
          });
      },

      /**
       * Close modal and after that navigate to profile settings.
       */
      clickUpdateCreditCard() {
        this.$emit('close');
        setTimeout(() => this.$pushRoute({ name: 'profile.settings' }));
      },
    },
  };
</script>
