<template>
  <div
    :class="`wizard ${customClass}`"
    @close="openLanding"
  >
    <!-- CONTENT -->

    <!-- PROGRESS BAR -->
    <slot name="progress-bar" />

    <!-- STEPS -->
    <div :class="contentClass">
      <el-form
        :class="formClass"
        :hide-required-asterisk="false"
        @submit.prevent.native="next"
      >
        <div :class="formStepClass">
          <transition
            name="el-fade-in-linear"
            mode="out-in"
            @before-leave="onLeaveStep"
            @after-enter="onEnterStep"
          >
            <router-view
              ref="step"
              :buttons-disabled.sync="buttonsDisabled"
              @enter="next"
              @invite-error="handleForceHide"
            />
          </transition>
        </div>
      </el-form>
    </div>
    <!-- END CONTENT -->

    <!-- FOOTER ASIDE -->
    <div class="el-dialog__footer">
      <div class="wizard__footer">
        <div class="wizard__terms">
          <slot
            v-if="!success"
            name="footer"
          />
        </div>
        <div class="wizard__actions">
          <!-- FOOTER BUTTONS -->
          <div
            v-if="!success"
          >
            <!-- CONTENT ABOVE BUTTONS -->
            <slot name="footer-buttons-before" />

            <!-- PREVIOUS -->
            <el-button
              v-if="previousAvailable"
              type="primary"
              tabindex="6"
              :disabled="buttonsDisabled"
              @click="previous"
            >
              {{ $trans('actions.back') }}
            </el-button>

            <!-- NEXT -->
            <span @mousedown="onMouseDown">
              <el-button
                v-if="nextAvailable && !forceHideNext"
                type="default"
                tabindex="7"
                :disabled="buttonsDisabled"
                @click="next"
              >
                {{ $trans('actions.next') }}
              </el-button>
            </span>

            <!-- FINISH  -->
            <el-button
              v-if="finishAvailable"
              type="default"
              tabindex="8"
              :disabled="buttonsDisabled"
              @click="finish"
            >
              {{ finishLabel || $trans('actions.submit') }}
            </el-button>
          </div>

          <!-- CONTENT ABOVE BUTTONS -->
          <div
            v-if="success"
          >
            <slot name="footer-buttons-success" />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import BaseWizard from './BaseWizard';

  export default {
    /**
     * Component name.
     */
    name: 'RouteWizard',

    /**
     * Base components.
     */
    extends: BaseWizard,

    /**
     * Available properties.
     */
    props: {
      /**
       * Name of routes for the wizard.
       */
      routes: {
        type: Array,
        required: true,
      },

      /**
       * True if success view should be shown.
       */
      success: {
        type: Boolean,
        default() {
          return false;
        },
      },

      /**
       * Route for displaying success view.
       */
      successRoute: {
        type: String,
        default: '',
      },
    },

    /**
     * Data.
     */
    data() {
      return {
        forceHideNext: false,
      }
    },

    /**
     * Computed properties.
     */
    computed: {
      /**
       * Items.
       */
      items() {
        return this.routes;
      },
    },

    /**
     * Watchers.
     */
    watch: {
      /**
       * Success view.
       */
      success(success) {
        if (success) {
          this.$pushRoute({ name: this.successRoute });
        }
      },

      /**
       * Route.
       */
      '$route' (to) {
        const index = this.items.indexOf(to.name);

        if (index !== -1) {
          this.setActive(index);
        }
      },
    },

    /**
     * Methods.
     */
    methods: {
      /**
       * Hide next button.
       */
      handleForceHide() {
        this.forceHideNext = true;
      },

      /**
       * Update active view.
       *
       * @param active
       */
      updateActiveView(active) {
        this.$nextTick(() => {
          if (this.$router.currentRoute.name === this.routes[active]) {
            return;
          }

          this.$pushRoute({name: this.routes[active]});
        });
      },

      /**
       * We need to have possibility to intercept some events before click
       * for example blur
       */
      async onMouseDown () {
        if (this.$refs.step && this.$refs.step.nextPressed && this.$refs.step.nextPressed instanceof Function) {
          await this.$refs.step.nextPressed();
        }
      },

      /**
       * Redirect to Landing.
       */
      openLanding () {
        this.$redirectToRoute('landing');
      },
    },
  }
</script>
