<template>
  <el-button
    type="danger"
    @click="confirm"
  >
    {{ $trans('payment::actions.delete_card') }}
  </el-button>
</template>

<script>

export default {
  /**
   * Name.
   */
  name: 'Delete',

  /**
   * Methods.
   */
  methods: {

    /**
     * Confirm form
     */
    confirm () {
      this.$emit('delete');
    },
  },
};
</script>
