<template>
  <el-button
    class="el-button el-button--default"
    @click="confirm"
  >
    {{ $trans('payment::actions.replace_card') }}
  </el-button>
</template>

<script>

  export default {
    /**
     * Name.
     */
    name: 'Replace',

    /**
     * Methods.
     */
    methods: {

      /**
       * Confirm form
       */
      confirm () {
        this.$emit('replace');
      },
    },
  };
</script>
