<template>
  <div
    :key="type"
    v-loading="isPendingState"
    class="form-column report-form"
  >
    <div class="form-column__header">
      <h2 class="form-column__title text-subtitle-lg-semibold">
        {{ label }}
      </h2>
      <p class="text-body-sm">
        {{ $trans('report::labels.reportModal.all_reports') }}
      </p>
      <el-tooltip
        class="item"
        effect="dark"
        content="Close"
        placement="bottom"
        :tabindex="-1"
      >
        <button
          type="button"
          class="el-dialog__headerbtn"
          aria-label="Close"
          @click="$pushRoute({ name: 'reports.index' })"
        >
          <i class="el-dialog__close el-icon el-icon-close" />
        </button>
      </el-tooltip>
    </div>
    <div class="form-section">
      <el-radio-group
        v-model="type"
        size="small"
      >
        <el-radio
          v-for="(item, index) in filteredItems"
          :key="index"
          :value="item.value"
          :label="item.value"
          :disabled="!isDisabledItem(item)"
        >
          <div class="el-radio__title">
            {{ item.label }}
            <status-badge
              v-if="item.badge"
              :value="item.badge.label"
              :type="item.badge.type"
            />
          </div>
          <div
            class="text-body-xxs text-muted"
          >
            {{ item.desc }}
          </div>
        </el-radio>
      </el-radio-group>
    </div>
    <div class="form-section">
      <text-field
        ref="name"
        v-model="reportName"
        :label="$trans('report::labels.report_name')"
        :placeholder="$trans('report::labels.report_name')"
        :validation="validationRules.report.name"
        :scope="type"
        name="name"
        size="medium"
      />
    </div>
    <div class="form-section">
      <component
        :is="currentComponent"
        :key="type"
        :ref="type"
      />
    </div>
    <div class="buttons">
      <button-submit
        :submit-label="$trans('report::labels.reportModal.save_report')"
        @submit="onSubmit()"
      />
      <button-cancel
        type="primary"
        :cancel-label="$trans('report::labels.reportModal.clear')"
        @cancel="clear"
      />
    </div>
  </div>
</template>

<script>
import DetailedDataForm from './advertiser/DetailedDataForm';
import CampaignSummaryForm from './advertiser/CampaignSummaryForm';
import TextField from 'Foundation/components/form/TextField';
import { mapFields } from 'vuex-map-fields';
import StatusBadge from 'Foundation/components/badges/StatusBadge';
import { mapGetters, mapMutations } from 'vuex';
import ButtonCancel from 'Foundation/components/layout/modal/ButtonCancel';
import ButtonSubmit from 'Foundation/components/layout/modal/ButtonSubmit';
import AdvertisersForm from './admin/AdvertisersForm';
import DownloadForm from './admin/DownloadForm';
import MissingAdsForm from './admin/MissingAdsForm';
import PendingCampaignsForm from './admin/PendingCampaignsForm';
import ScheduledForm from './admin/ScheduledForm';

export default {
  /**
   * Name
   */
  name: 'ReportForm',

  /**
   * Components.
   */
  components: {
    StatusBadge,
    TextField,
    DetailedDataForm,
    CampaignSummaryForm,
    ButtonCancel,
    ButtonSubmit,
    AdvertisersForm,
    DownloadForm,
    MissingAdsForm,
    PendingCampaignsForm,
    ScheduledForm
  },

  /**
   * Data properties
   */
  data() {
    return {
      type: null,
      action: null,
      currentId: null,
    }
  },

  /**
   * Computed propertied
   */
  computed: {
    /**
     * Map fields
     */
    ...mapFields('report', {
      campaign_summary: 'advertiserReports.summary',
      campaign_detailed: 'advertiserReports.detailed',
      scheduled: 'adminReports.scheduled',
      download: 'adminReports.download',
      advertisers: 'adminReports.advertisers',
      pending_campaigns: 'adminReports.pendingCampaigns',
      missing_ads: 'adminReports.missingAds',
    }),

    /**
     * Map getters
     */
    ...mapGetters('report', ['isPendingState']),

    /**
     * Form label
     */
    label () {
      if (this.currentId) {
        return this.$trans('report::labels.update_report')
      }

      return this.$trans('report::labels.create_report');
    },

    /**
     * Filtered items.
     *
     * @returns {*}
     */
    filteredItems () {
      if (this.$router.currentRoute.name === 'reports.create') {
        return this.items.filter(item => (this.$hasPermission(`create_${item.value}_report`)));
      }

      return this.items.filter(item => (this.$hasPermission(`update_${item.value}_report`)));
    },

    /**
     * Report types.
     *
     * @returns {*}
     */
    items() {
      return [
        {
          label: this.$trans('report::labels.advertiserReportTypes.summary.label'),
          value: 'campaign_summary',
          desc: this.$trans('report::labels.advertiserReportTypes.summary.desc'),
          component: 'campaign-summary-form',
          badge: {
            type: 'warning',
            label: 'new'
          }
        },
        {
          label: this.$trans('report::labels.advertiserReportTypes.detailed.label'),
          desc: this.$trans('report::labels.advertiserReportTypes.detailed.desc'),
          value: 'campaign_detailed',
          component: 'detailed-data-form',
          badge: {
            type: 'warning',
            label: 'new'
          },
        },
        {
          label: this.$trans('report::labels.adminReportTypes.scheduled.label'),
          value: 'scheduled',
          desc: this.$trans('report::labels.adminReportTypes.scheduled.desc'),
          badge: null,
          component: 'scheduled-form',
        },
        {
          label: this.$trans('report::labels.adminReportTypes.download.label'),
          value: 'download',
          desc: this.$trans('report::labels.adminReportTypes.download.desc'),
          badge: null,
          component: 'download-form'
        },
        {
          label: this.$trans('report::labels.adminReportTypes.advertisers.label'),
          value: 'advertisers',
          desc: this.$trans('report::labels.adminReportTypes.advertisers.desc'),
          badge: null,
          component: 'advertisers-form'
        },
        {
          label: this.$trans('report::labels.adminReportTypes.pending_campaigns.label'),
          value: 'pending_campaigns',
          desc: this.$trans('report::labels.adminReportTypes.pending_campaigns.desc'),
          badge: null,
          component: 'pending-campaigns-form'
        },
        {
          label: this.$trans('report::labels.adminReportTypes.missing_ads.label'),
          value: 'missing_ads',
          desc: this.$trans('report::labels.adminReportTypes.missing_ads.desc'),
          badge: null,
          component: 'missing-ads-form'
        },
      ]
    },

    /**
     * Report name.
     */
    reportName: {
      get () {
        return this.type ? this[this.type].name : null;
      },
      set (value) {
        this[this.type].name = value;
      }
    },

    /**
     * Get selected report.
     */
    selectedReport () {
      return this.$refs[this.type] ? this.$refs[this.type] : false;
    },

    /**
     * Get current form.
     */
    currentComponent () {
      const filteredItems = this.filteredItems.filter(item => item.value === this.type);
      if (filteredItems.length > 0) {
        return filteredItems[0].component
      }

      return null;
    }
  },

  /**
   * Watch
   */
  watch: {
    /**
     * Watch change report type
     */
    type (value) {
      if (!value) {
        return;
      }

      this.$nextTick(() => {
        this.action = this.$refs[value] ? this.$refs[value].submit : null;
      });
    },

    /**
     * Watch change route
     */
    '$route' (to) {
      if (to.name === 'reports.show') {
        this.currentId = to.params.reportId;
        this.type = to.params.type;
        this.showReport();
      }
    }
  },

  /**
   * Before mount event
   */
  beforeMount() {
    if (this.$router.currentRoute.name === 'reports.show') {
      this.currentId = this.$router.currentRoute.params.reportId;
      this.type = this.$router.currentRoute.params.type;
    } else {
      this.type = this.filteredItems[0].value;
    }
  },

  /**
   * Mounted
   */
  mounted() {
    this.$nextTick(() => {
      if (this.$router.currentRoute.name === 'reports.show') {
        this.showReport();
      }

      if (this.selectedReport) {
        this.action = this.selectedReport.submit;
      }
    })
  },

  /**
   * Methods.
   */
  methods: {
    /**
     * Map mutations.
     */
    ...mapMutations('report', [
      'clearCampaignSummaryReport',
      'clearCampaignDetailedReport',
      'clearScheduledReport',
      'clearDownloadReport',
      'clearAdvertisersReport',
      'clearPendingCampaignsReport',
      'clearMissingAdsReport',
    ]),

    /**
     * Allow send form.
     */
    onSubmit () {
      if (this.isPendingState) {
        return;
      }

      return this.action();
    },

    /**
     * Get report data.
     */
    showReport () {
      this.$nextTick(() => {
        this.$call(
          this.selectedReport.show(this.currentId)
        )
          .then(() => {
            this.selectedReport['_data'].currentId = this.currentId;
          });
      })
    },

    /**
     * Is disabled report type.
     */
    isDisabledItem (item) {
      if (this.currentId) {
        return item.value === this.type;
      }

      return true;
    },

    /**
     * Clear form.
     */
    clear () {
      return this.selectedReport.clear();
    }
  }
};
</script>
