<template>
  <li class="pick-locations__item">
    <span class="pick-locations__item-name item-location">{{ value.label }}</span>
    <el-button
      class="pick-locations__delete button-empty-icon"
      @click="remove"
    >
      <i class="icon-cross" />
    </el-button>
  </li>
</template>

<script>
  import TargetingBaseItem from "../TargetingBaseItem";

  export default {
    /**
     * Name of the component.
     */
    name: "TargetingSimpleItem",

    /**
     * Extend component.
     */
    extends: TargetingBaseItem,
  };
</script>
