<template>
  <div
    class="select-date-range el-form-item"
    :class="{ 'is-filled': isFilled }"
  >
    <label
      class="el-form-item__label"
    >
      {{ placeholder }}
    </label>
    <div class="el-form-item__content">
      <date-range-field
        v-model="value"
        :use-native-picker="false"
        align="center"
        :range-separator="$trans('labels.to')"
        :picker-options="pickerOptions"
        name="run_date_filter"
      />
    </div>
  </div>
</template>

<script>
  import { DateRangeField } from 'Foundation/components/form';
  import { formatToApi } from 'Foundation/helpers/moment';
  import Filter from "../mixins/Filter";

  export default {
    /**
     * Component name
     */
    name: 'DateRangeFilter',

    /**
     * Components.
     */
    components: {
      DateRangeField,
    },

    /**
     * Mixins.
     */
    mixins: [
      Filter,
    ],

    /**
     * Props
     */
    props: {
      /**
       * Url for filters
       */
      placeholder: {
        type: String,
        default: '',
      },

      /**
       * Disabled.
       */
      disabled: {
        type: Boolean,
        default: false,
      },

      field: {
        type: String,
        default: '',
      },
    },

    /**
     * Reactive data.
     */
    data () {
      return {
        value: {
          start: null,
          end: null,
        },
      };
    },

    /**
     * Computed properties.
     */
    computed: {
      /**
       * Picker options for datepicker.
       *
       * @returns {{disabledDate: (default.methods.checkDateIsDisabled|(function(*=): boolean))}}
       */
      pickerOptions () {
        return {
          disabledDate: this.checkDateIsDisabled,
        };
      },

      /**
       * True if value is selected.
       */
      isFilled () {
        return this.value && (this.value.end || this.value.start);
      }
    },

    /**
     * Watchers
     */
    watch: {
      value: {
        immediate: true,
        handler (value) {
          if (this.isCompleteRange(value)) {
            this.$emit('change', {
              field: this.field,
              value: this.formatValue(value),
            })
          }
        }
      },
    },

    /**
     * Mounted
     */
    mounted() {
      this.checkFilters();
    },

    /**
     * Methods.
     */
    methods: {
      /**
       * Set dates param
       * @param params
       */
      setInitialParam(params) {
        const field = params.columns.find(item => item.name === this.field);

        if (field.search.value[0]) {
          this.value.start = new Date(field.search.value[0]);
        }

        if (field.search.value[1]) {
          this.value.end = new Date(field.search.value[1]);
        }
      },

      /**
       * Returns true if date should be available to select in datepicker.
       * @returns {boolean}
       */
      checkDateIsDisabled () {
        return true;
      },

      /**
       * Check if both start and end dates are filled or empty.
       * @returns {boolean}
       */
      isCompleteRange (range) {
        return (
          (range.start === null && range.end === null) ||
          (range.start instanceof Date && range.end instanceof Date)
        );
      },

      /**
       * Format date value to correctly handle it on API.
       *
       * @param value
       * @returns {*}
       */
      formatValue (value) {
        if (!value.start) {
          return [];
        }

        if (!value.end) {
          const startDate = new Date(value.start.getTime());
          startDate.setHours(0,0,0,0);
          return [formatToApi(startDate, true)];
        }
        const startDate = new Date(value.start.getTime());
        const endDate = new Date(value.end.getTime());

        startDate.setHours(0,0,0,0);
        endDate.setHours(23,59,59,999);

        return [formatToApi(startDate, true), formatToApi(endDate, true)];
      },
    },
  };
</script>

