<template>
  <table
    cellspacing="0"
    cellpadding="0"
    class="el-date-table"
    @click="handleClick"
    @mousemove="handleMouseMove"
  >
    <tbody>
      <tr>
        <th
          v-for="(week, key) in WEEKS"
          :key="key"
        >
          {{ $trans(`labels.date_picker.weeks.${week}`) }}
        </th>
      </tr>
      <tr
        v-for="(row, key) in rows"
        :key="key"
        class="el-date-table__row"
        :class="getRowClasses(row)"
      >
        <td
          v-for="(cell, tdKey) in row"
          :key="tdKey"
          :class="getCellClasses(cell)"
        >
          <div>
            <span>
              {{ cell.text }}
            </span>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</template>

<script>
  /**
   * NOTE: This component is a modified copy of 'element-ui/packages/date-picker/src/basic/date-table.vue'.
   */
  import { getFirstDayOfMonth, getDayCountOfMonth, getWeekNumber, getStartDateOfMonth, nextDate, isDate, clearTime as _clearTime } from 'element-ui/src/utils/date-util';
  import { arrayFind } from 'element-ui/src/utils/util';

  const WEEKS = ['sun', 'mon', 'tue', 'wed', 'thu', 'fri', 'sat'];
  const getDateTimestamp = function(time) {
    if (typeof time === 'number' || typeof time === 'string') {
      return _clearTime(new Date(time)).getTime();
    } else if (time instanceof Date) {
      return _clearTime(time).getTime();
    } else {
      return NaN;
    }
  };

  export default {
    /**
     * Component name
     */
    name: 'BaseDateTable',

    props: {
      firstDayOfWeek: {
        default: 7,
        type: Number,
        validator: val => val >= 1 && val <= 7
      },

      defaultValue: {
        default: () => [],
        type: Array,
        validator(val) {
          // either: null, valid Date object, Array of valid Date objects
          return val === null || isDate(val) || (Array.isArray(val) && val.every(isDate));
        }
      },

      date: {
        type: Date,
        default: null,
      },

      showWeekNumber: {
        type: Boolean,
        default: false
      },

      disabledDate: {
        type: Function,
        default: () => () => false,
      },

      cellClassName: {
        type: Function,
        default: () => () => '',
      },

      tableState: {
        type: Object,
        default() {
          return {
            minDate: null,
            maxDate: null,
            hoverDate: null,
          };
        }
      },

      /**
       * Current inputs focus (0 - Start, 1 - End, null - Both are unfocused)
       */
      currentFocusKey: {
        type: Number,
        default: null
      },

      /**
       * The trait of what date is being selected on the inputs level.
       */
      propEndDateSelecting: {
        type: Boolean,
        default: false
      },

      /**
       * Disable to change start date.
       */
      disableStartDate: {
        type: Boolean,
        default: false
      }
    },

    data() {
      return {
        tableRows: [ [], [], [], [], [], [] ],
        lastRow: null,
        lastColumn: null,
        // The trait of what date is being selected in calendar (Start or End)
        endDateSelecting: this.propEndDateSelecting,
      };
    },

    /**
     * Computed properties.
     */
    computed: {
      /**
       * @returns {Date}
       */
      minDate () {
        return this.tableState.minDate;
      },

      /**
       * @returns {Date}
       */
      maxDate () {
        return this.tableState.maxDate;
      },

      /**
       * @returns {number}
       */
      offsetDay() {
        const week = this.firstDayOfWeek;
        // 周日为界限，左右偏移的天数，3217654 例如周一就是 -1，目的是调整前两行日期的位置
        return week > 3 ? 7 - week : -week;
      },

      /**
       * @returns {Array}
       */
      WEEKS() {
        const week = this.firstDayOfWeek;
        return WEEKS.concat(WEEKS).slice(week, week + 7);
      },

      /**
       * @returns {number}
       */
      year() {
        return this.date.getFullYear();
      },

      /**
       * @returns {number}
       */
      month() {
        return this.date.getMonth();
      },

      /**
       * @returns {Date}
       */
      startDate() {
        return getStartDateOfMonth(this.year, this.month);
      },

      /**
       * Get date-table rows.
       * @returns {Array}
       */
      rows() {
        const date = new Date(this.year, this.month, 1);
        let day = getFirstDayOfMonth(date); // day of first day
        const dateCountOfMonth = getDayCountOfMonth(date.getFullYear(), date.getMonth());
        const dateCountOfLastMonth = getDayCountOfMonth(date.getFullYear(), (date.getMonth() === 0 ? 11 : date.getMonth() - 1));

        day = (day === 0 ? 7 : day);

        const offset = this.offsetDay;
        const rows = this.tableRows;
        let count = 1;

        const startDate = this.startDate;
        const disabledDate = this.disabledDate;
        const cellClassName = this.cellClassName;
        const selectedDate = [];
        const now = getDateTimestamp(new Date());

        for (let i = 0; i < 6; i++) {
          const row = rows[i];

          if (this.showWeekNumber) {
            if (!row[0]) {
              row[0] = { type: 'week', text: getWeekNumber(nextDate(startDate, i * 7 + 1)) };
            }
          }

          for (let j = 0; j < 7; j++) {
            let cell = row[this.showWeekNumber ? j + 1 : j];
            if (!cell) {
              cell = { row: i, column: j, type: 'normal', inRange: false, start: false, end: false };
            }

            cell.type = 'normal';

            const index = i * 7 + j;
            const time = nextDate(startDate, index - offset).getTime();
            cell.inRange = time >= getDateTimestamp(this.minDate) && time <= getDateTimestamp(this.maxDate);
            cell.start = this.minDate && time === getDateTimestamp(this.minDate);
            cell.end = this.maxDate && time === getDateTimestamp(this.maxDate);
            const isToday = time === now;

            if (isToday) {
              cell.type = 'today';
            }

            if (i >= 0 && i <= 1) {
              const numberOfDaysFromPreviousMonth = day + offset < 0 ? 7 + day + offset : day + offset;

              if (j + i * 7 >= numberOfDaysFromPreviousMonth) {
                cell.text = count++;
              } else {
                cell.text = dateCountOfLastMonth - (numberOfDaysFromPreviousMonth - j % 7) + 1 + i * 7;
                cell.type = 'prev-month';
              }
            } else {
              if (count <= dateCountOfMonth) {
                cell.text = count++;
              } else {
                cell.text = count++ - dateCountOfMonth;
                cell.type = 'next-month';
              }
            }

            let cellDate = new Date(time);
            cell.disabled = typeof disabledDate === 'function' && disabledDate(cellDate);
            cell.selected = arrayFind(selectedDate, date => date.getTime() === cellDate.getTime());
            cell.customClass = typeof cellClassName === 'function' && cellClassName(cellDate);
            this.$set(row, this.showWeekNumber ? j + 1 : j, cell);
          }
        }

        return rows;
      }
    },

    watch: {
      'tableState.hoverDate' (val) {
        const baseDate = this.endDateSelecting ? this.minDate : this.maxDate;
        if (baseDate) {
          this.markRange(baseDate, val);
        }
      },

      /**
       * Emit the changing of focus on switching endDateSelecting.
       */
      endDateSelecting (value) {
        this.$emit('change-focus', value);
      },

      /**
       * Update endDateSelecting with the date-panel state.
       */
      propEndDateSelecting (value) {
        this.endDateSelecting = value;
      },
    },

    /**
     * Methods.
     */
    methods: {
      /**
       * Check if cell's date matches specific one.
       * @param {Object} cell
       * @returns {Boolean}
       */
      cellMatchesDate(cell, date) {
        const value = new Date(date);
        return this.year === value.getFullYear() &&
          this.month === value.getMonth() &&
          Number(cell.text) === value.getDate();
      },

      /**
       * Get cell classes.
       * @returns {Array}
       */
      getCellClasses(cell) {
        const defaultValue = this.defaultValue ? Array.isArray(this.defaultValue) ? this.defaultValue : [this.defaultValue] : [];

        let classes = [];
        if ((cell.type === 'normal' || cell.type === 'today') && !cell.disabled) {
          classes.push('available');
          if (cell.type === 'today') {
            classes.push('today');
          }
        } else {
          classes.push(cell.type);
        }

        if (cell.type === 'normal' && defaultValue.some(date => this.cellMatchesDate(cell, date))) {
          classes.push('default');
        }

        if (cell.start) {
          classes.push('start-date');
          if (this.currentFocusKey === 0) {
            classes.push('focused');
          }
        }

        if (cell.end) {
          classes.push('end-date');
          if (this.currentFocusKey === 1) {
            classes.push('focused');
          }
        }

        if (cell.inRange && ((cell.type === 'normal' || cell.type === 'today'))) {
          classes.push('in-range');
        }

        if (cell.disabled) {
          classes.push('disabled');
        }

        if (cell.selected) {
          classes.push('selected');
        }

        if (cell.customClass) {
          classes.push(cell.customClass);
        }

        return classes.join(' ');
      },

      /**
       * Get classes for the date-table row.
       * @returns {string}
       */
      getRowClasses (row) {
        const onlyAnotherMonthDates = row.filter(cell =>
          ['prev-month', 'next-month'].includes(cell.type)
        ).length === 7;
        return onlyAnotherMonthDates ? 'only-another-month' : '';
      },

      /**
       * Calculate date for specific cell.
       * @returns {Date}
       */
      getDateOfCell(row, column) {
        const offsetFromStart = row * 7 + (column - (this.showWeekNumber ? 1 : 0)) - this.offsetDay;
        return nextDate(this.startDate, offsetFromStart);
      },

      /**
       * Mark range (apply cells properties) between start and end date.
       */
      markRange(minDate, maxDate) {
        minDate = getDateTimestamp(minDate);
        maxDate = getDateTimestamp(maxDate) || minDate;
        [minDate, maxDate] = [Math.min(minDate, maxDate), Math.max(minDate, maxDate)];

        const startDate = this.startDate;
        const rows = this.rows;
        for (let i = 0, k = rows.length; i < k; i++) {
          const row = rows[i];
          for (let j = 0, l = row.length; j < l; j++) {
            if (this.showWeekNumber && j === 0) continue;

            const cell = row[j];
            const index = i * 7 + j + (this.showWeekNumber ? -1 : 0);
            const time = nextDate(startDate, index - this.offsetDay).getTime();

            cell.inRange = minDate && time >= minDate && time <= maxDate;
            cell.start = minDate && time === minDate;
            cell.end = maxDate && time === maxDate;
          }
        }
      },

      /**
       * Handle mouse over.
       */
      handleMouseMove(event) {
        let target = event.target;
        if (target.tagName === 'SPAN') {
          target = target.parentNode.parentNode;
        }
        if (target.tagName === 'DIV') {
          target = target.parentNode;
        }
        if (target.tagName !== 'TD') return;

        const row = target.parentNode.rowIndex - 1;
        const column = target.cellIndex;

        // can not select disabled date
        if (this.rows[row][column].disabled) return;

        // only update range state when mouse moves to a new cell
        // this avoids frequent Date object creation and improves performance
        if (row !== this.lastRow || column !== this.lastColumn) {
          this.lastRow = row;
          this.lastColumn = column;
          if (this.maxDate === null || this.minDate === null) {
            this.$emit('changerange', {
              minDate: this.minDate,
              maxDate: this.maxDate,
              hoverDate: this.getDateOfCell(row, column),
            });
          }
        }
      },

      /**
       * Handle click on date-table.
       * @param event
       */
      handleClick(event) {
        let target = event.target;
        if (target.tagName === 'SPAN') {
          target = target.parentNode.parentNode;
        }
        if (target.tagName === 'DIV') {
          target = target.parentNode;
        }

        if (target.tagName !== 'TD') return;

        const row = target.parentNode.rowIndex - 1;
        const column = target.cellIndex;
        const cell = this.rows[row][column];

        if (cell.disabled || cell.type === 'week') return;

        const newDate = this.getDateOfCell(row, column);

        if (this.disableStartDate) {
          this.endDateSelecting = false;
          this.$emit('pick', {minDate: this.minDate, maxDate: newDate});
          return;
        }

        if (!this.endDateSelecting) {
          if (newDate < this.maxDate || this.maxDate === null) {
            this.$emit('pick', {minDate: newDate, maxDate: this.maxDate});
            this.endDateSelecting = true;
          } else {
            this.$emit('pick', {minDate: this.maxDate, maxDate: newDate});
            this.endDateSelecting = false;
          }
        } else {
          if (newDate >= this.minDate || this.minDate === null) {
            this.$emit('pick', {minDate: this.minDate, maxDate: newDate});
            this.endDateSelecting = false;
          } else {
            this.$emit('pick', {minDate: newDate, maxDate: this.minDate});
            this.endDateSelecting = true;
          }
        }
      }
    }
  };
</script>
