<template>
  <div
    ref="reference"
    v-clickoutside="handleClose"
    class="base-date-range el-date-editor elrange-editor el-input__inner el-date-editor--daterange"
    :class="[
      pickerSize ? `el-range-editor--${ pickerSize }` : '',
      pickerDisabled ? 'is-disabled' : '',
      pickerVisible ? 'is-active' : ''
    ]"
    @keydown="handleKeydown"
    @click="handleRangeClick"
  >
    <div class="base-date-range__field">
      <input
        autocomplete="off"
        class="el-range-input"
        tabindex="0"
        :class="inputStartClass"
        :placeholder="computedStartPlaceholder"
        :value="visibleValueStart"
        :disabled="pickerDisabled || disableStartDate"
        v-bind="firstInputId"
        :readonly="!editable || readonly"
        :name="name && name[0]"
        :maxlength="inputMaxLength"
        @input="handleStartInput"
        @change="handleStartChange"
        @focus="handleFocusStart"
        @focusout="clearCurrentFocusKey"
      >
      <div
        v-if="startShiftButtonsVisible"
        class="base-date-range__arrows"
      >
        <el-button
          type="text"
          icon="el-icon-arrow-left"
          :disabled="startPrevBtnDisabled"
          @click="startPrevBtnClick"
        />
        <el-button
          type="text"
          icon="el-icon-arrow-right"
          :disabled="startNextBtnDisabled"
          @click="startNextBtnClick"
        />
      </div>
    </div>
    <slot name="range-separator">
      <span
        v-if="rangeSeparator"
        class="el-range-separator"
      >
        {{ rangeSeparator }}
      </span>
    </slot>
    <div class="base-date-range__field">
      <input
        autocomplete="off"
        class="el-range-input"
        tabindex="0"
        :class="inputEndClass"
        :placeholder="computedEndPlaceholder"
        :value="visibleValueEnd"
        :disabled="pickerDisabled"
        v-bind="secondInputId"
        :readonly="!editable || readonly"
        :name="name && name[1]"
        :maxlength="inputMaxLength"
        @input="handleEndInput"
        @change="handleEndChange"
        @focus="handleFocusEnd"
        @focusout="clearCurrentFocusKey"
      >
      <div
        v-if="endShiftButtonsVisible"
        class="base-date-range__arrows"
      >
        <el-button
          type="text"
          icon="el-icon-arrow-left"
          :disabled="endPrevBtnDisabled"
          @click="endPrevBtnClick"
        />
        <el-button
          type="text"
          icon="el-icon-arrow-right"
          :disabled="endNextBtnDisabled"
          @click="endNextBtnClick"
        />
      </div>
    </div>
  </div>
</template>

<script>
  /**
   * NOTE: This component extends 'element-ui/packages/date-picker/src/picker.vue'.
   */
  import Vue from 'vue';
  import { DatePicker } from 'element-ui';
  import BaseDateRangePanel from 'Foundation/components/form/extend/BaseDateRangePanel';
  import { formatDate, getWeekNumber, isDateObject } from 'element-ui/src/utils/date-util';
  import debounce from 'lodash/debounce';
  import DateRange from '../mixins/DateRange';
  import moment from 'moment';
  import fecha from 'Foundation/components/form/helpers/fecha';

  const DATE_FORMAT_PLACEHOLDER = 'MM/DD/YY';

  // Max input length. Conforms 2 formats (MM/DD/YY and MM/DD/YYYY).
  const INPUT_MAX_LENGTH = 10;

  const DEFAULT_FORMATS = {
    date: 'yyyy-MM-dd',
    month: 'yyyy-MM',
    datetime: 'yyyy-MM-dd HH:mm:ss',
    time: 'HH:mm:ss',
    week: 'yyyywWW',
    timerange: 'HH:mm:ss',
    daterange: 'yyyy-MM-dd',
    monthrange: 'yyyy-MM',
    datetimerange: 'yyyy-MM-dd HH:mm:ss',
    year: 'yyyy'
  };
  const DATE_FORMATTER = function(value, format) {
    if (value === null) {
      return '';
    }
    if (format === 'timestamp') return value.getTime();
    return formatDate(value, format);
  };
  const DATE_PARSER = function(text, format) {
    if (format === 'timestamp') return new Date(Number(text));
    return fecha.parse(text, format);
  };
  const RANGE_FORMATTER = function(value, format) {
    if (Array.isArray(value)) {

      return value.map((date) => {
        return date === null ? '' : DATE_FORMATTER(date, format);
      });
    }
    return '';
  };
  const RANGE_PARSER = function(array, format, separator) {
    if (!Array.isArray(array)) {
      array = array.split(separator);
    }
    if (array.length === 2) {
      const range1 = array[0];
      const range2 = array[1];

      return [DATE_PARSER(range1, format), DATE_PARSER(range2, format)];
    }
    return [];
  };
  const TYPE_VALUE_RESOLVER_MAP = {
    default: {
      formatter(value) {
        if (!value) return '';
        return '' + value;
      },
      parser(text) {
        if (text === undefined || text === '') return null;
        return text;
      }
    },
    week: {
      formatter(value, format) {
        let week = getWeekNumber(value);
        let month = value.getMonth();
        const trueDate = new Date(value);
        if (week === 1 && month === 11) {
          trueDate.setHours(0, 0, 0, 0);
          trueDate.setDate(trueDate.getDate() + 3 - (trueDate.getDay() + 6) % 7);
        }
        let date = formatDate(trueDate, format);

        date = /WW/.test(date)
          ? date.replace(/WW/, week < 10 ? '0' + week : week)
          : date.replace(/W/, week);
        return date;
      },
      parser(text, format) {
        // parse as if a normal date
        return TYPE_VALUE_RESOLVER_MAP.date.parser(text, format);
      }
    },
    date: {
      formatter: DATE_FORMATTER,
      parser: DATE_PARSER
    },
    datetime: {
      formatter: DATE_FORMATTER,
      parser: DATE_PARSER
    },
    daterange: {
      formatter: RANGE_FORMATTER,
      parser: RANGE_PARSER
    },
    monthrange: {
      formatter: RANGE_FORMATTER,
      parser: RANGE_PARSER
    },
    datetimerange: {
      formatter: RANGE_FORMATTER,
      parser: RANGE_PARSER
    },
    timerange: {
      formatter: RANGE_FORMATTER,
      parser: RANGE_PARSER
    },
    time: {
      formatter: DATE_FORMATTER,
      parser: DATE_PARSER
    },
    month: {
      formatter: DATE_FORMATTER,
      parser: DATE_PARSER
    },
    year: {
      formatter: DATE_FORMATTER,
      parser: DATE_PARSER
    },
    number: {
      formatter(value) {
        if (!value) return '';
        return '' + value;
      },
      parser(text) {
        let result = Number(text);

        if (!isNaN(text)) {
          return result;
        } else {
          return null;
        }
      }
    },
    dates: {
      formatter(value, format) {
        return value.map(date => DATE_FORMATTER(date, format));
      },
      parser(value, format) {
        return (typeof value === 'string' ? value.split(', ') : value)
          .map(date => date instanceof Date ? date : DATE_PARSER(date, format));
      }
    }
  };

  /**
   * Parse Date objects from strings (Code dependency. From original component).
   * @param value
   * @param customFormat
   * @param type
   * @param rangeSeparator
   * @returns {(Array|Date)}
   */
  const parseAsFormatAndType = (value, customFormat, type, rangeSeparator = '-') => {
    if (!value) return null;
    const parser = (
      TYPE_VALUE_RESOLVER_MAP[type] ||
      TYPE_VALUE_RESOLVER_MAP['default']
    ).parser;
    const format = customFormat || DEFAULT_FORMATS[type];
    return parser(value, format, rangeSeparator);
  };

  /**
   * Format dates objects to string (Code dependency. From original component).
   * @param value
   * @param customFormat
   * @param type
   * @returns {*}
   */
  const formatAsFormatAndType = (value, customFormat, type) => {
    if (!value) return null;
    const formatter = (
      TYPE_VALUE_RESOLVER_MAP[type] ||
      TYPE_VALUE_RESOLVER_MAP['default']
    ).formatter;
    const format = customFormat || DEFAULT_FORMATS[type];
    return formatter(value, format);
  };

  export default {
    /**
     * Component name
     */
    name: 'BaseDateRange',

    /**
     * Extends
     */
    extends: DatePicker,

    /**
     * Mixins.
     */
    mixins: [
      DateRange
    ],

    /**
     * Props.
     */
    props: {
      /**
       * Verify if dates-shifter over each date-input should be shown.
       */
      showDatesShifter: {
        type: Boolean,
        default: false,
      },

      /**
       * Dates format to show input's value when input is unfocused, otherwise native format (this.format) will be applied.
       * NOTE: Unlike the native format prettyFormat uses moment.js display tokens (https://momentjs.com/docs/#/displaying/).
       */
      prettyFormat: {
        type: String,
        default: '',
      },

      /**
       * Disable to change start date.
       */
      disableStartDate: {
        type: Boolean,
        default: false
      }
    },

    /**
     * Data
     */
    data() {
      return {
        pickerVisible: false,
        showClose: false,
        userInput: null,
        valueOnOpen: null, // value when picker opens, used to determine whether to emit change
        unwatchPickerOptions: null,
        currentFocusKey: null,
        endDateSelecting: false,
      };
    },

    /**
     * Computed properties.
     */
    computed : {
      /**
       * Start
       */
      computedStartPlaceholder () {
        return this.currentFocusKey === 0 ? DATE_FORMAT_PLACEHOLDER : this.startPlaceholder;
      },

      computedEndPlaceholder () {
        return this.currentFocusKey === 1 ? DATE_FORMAT_PLACEHOLDER : this.endPlaceholder;
      },

      /**
       * Check if start date is filled.
       * @returns {Boolean}
       */
      startShiftButtonsVisible () {
        return this.showDatesShifter && !!(this.displayValue && this.displayValue[0]);
      },

      /**
       * Check if end date is filled.
       * @returns {Boolean}
       */
      endShiftButtonsVisible () {
        return this.showDatesShifter && !!(this.displayValue && this.displayValue[1]);
      },

      /**
       * Function for determining if a date is disabled with that date as its parameter.
       * @returns {Function}
       */
      disabledDate () {
        if (typeof this.pickerOptions.disabledDate === 'function') {
          return this.pickerOptions.disabledDate;
        }
        return () => false;
      },

      /**
       * Checks whether dates that are being shown in inputs are valid.
       * @returns {boolean}
       */
      isValidInput () {
        if (Array.isArray(this.displayValue)) {
          if (!this.displayValue.every((input) => this.isInputFormatValid(input))) {
            return false;
          }
        }
        return this.isValidRange(this.parseString(this.displayValue));
      },

      /**
       * Start date additional css-class.
       */
      inputStartClass () {
        return this.pickerVisible && !this.endDateSelecting ? 'active' : '';
      },

      /**
       * End date additional css-class.
       */
      inputEndClass () {
        return this.pickerVisible && this.endDateSelecting ? 'active' : '';
      },

      /**
       * Calculate display value.
       */
      displayValue() {
        const formattedValue = formatAsFormatAndType(this.parsedValue, this.format, this.type, this.rangeSeparator);
        if (Array.isArray(this.userInput)) {
          return [
            this.getDisplayValue(this.userInput, formattedValue, 0),
            this.getDisplayValue(this.userInput, formattedValue, 1),
          ];
        } else if (this.userInput !== null) {
          return this.userInput;
        } else if (formattedValue) {
          return formattedValue;
        } else {
          return '';
        }
      },

      /**
       * Parse dates value.
       * @returns {(Array|Date)}
       */
      parsedValue() {
        if (!this.value) return this.value; // component value is not set

        const valueIsDateObject = Array.isArray(this.value) && this.value.every(isDateObject);
        if (valueIsDateObject) {
          return this.value;
        }

        if (this.valueFormat) {
          return parseAsFormatAndType(this.value, this.valueFormat, this.type, this.rangeSeparator) || this.value;
        }

        return this.value.map(val => { return val === null ? null : new Date(val) });
      },

      /**
       * Get start date for unfocused state
       * @returns {string}
       */
      visibleValueStart () {
        return this.visibleValue(0);
      },

      /**
       * Get end date for unfocused state
       * @returns {string}
       */
      visibleValueEnd () {
        return this.visibleValue(1);
      },

      /**
       * Check if "Previous" button on Start date input is disabled.
       * @returns {Boolean}
       */
      startPrevBtnDisabled () {
        if (this.disableStartDate) {
          return true;
        }
        return !this.canShiftDate(true, -1);
      },

      /**
       * Check if "Next" button on Start date input is disabled.
       * @returns {Boolean}
       */
      startNextBtnDisabled () {
        if (this.disableStartDate) {
          return true;
        }
        return !this.canShiftDate(true, 1);
      },

      /**
       * Check if "Previous" button on End date input is disabled.
       * @returns {Boolean}
       */
      endPrevBtnDisabled () {
        return !this.canShiftDate(false, -1);
      },

      /**
       * Check if "Next" button on End date input is disabled.
       * @returns {Boolean}
       */
      endNextBtnDisabled () {
        return !this.canShiftDate(false, 1);
      },

      /**
       * Get max length of date input (based on format).
       * @return {number}
       */
      inputMaxLength () {
        return INPUT_MAX_LENGTH;
      },
    },

    watch: {

      displayValue: {
        deep: true,
        handler () {
          this.picker.isValidInput = this.isValidInput;
        }
      },

      parsedValue: {
        immediate: true,
        handler(val) {
          if (this.picker) {
            this.picker.value = val;
          }
        }
      },

      currentFocusKey (key) {
        // Highlight current focused date on calendar.
        if (this.picker) {
          this.picker.currentFocusKey = key;
        }

        if (key === null) {
          return;
        }

        const oppositeKey = key === 0 ? 1 : 0;

        // If previous input wasn't set force it to null.
        if (this.userInput && this.userInput[oppositeKey] === '') {
          this.userInput = null;
        }
      },

      endDateSelecting (value) {
        if (this.picker) {
          this.picker.endDateSelecting = value;
        }
      },

      pickerVisible (value) {
        if (!value) {
          this.$emit('closed');
        }
      },
    },

    /**
     * Mounted hook.
     */
    mounted () {
      this.panel = BaseDateRangePanel;
      this.mountPicker();
    },

    /**
     * Methods.
     */
    methods: {
      /**
       * @param {Array} userInput
       * @param {Array} originalValue
       * @param {number} key
       * @returns {Array}
       */
      getDisplayValue (userInput, originalValue, key) {
        let display = userInput[key];
        if (userInput[key] === null) {
          display = (originalValue && originalValue[key]) || '';
        }
        return display;
      },

      /**
       * Handle change.
       */
      handleChange: debounce(function () {
        if (this.userInput) {
          const value = this.parseString(this.displayValue);
          if (value) {
            this.emmitInputIfValid(value, this.displayValue)
          }
        }
        if (this.userInput === '') {
          this.emitInput(null);
          this.emitChange(null);
          this.userInput = null;
        }
      }, 200 ),

      /**
       * Handler of manual modification of Start date.
       */
      handleStartInput(event) {
        if (this.userInput) {
          this.userInput = [event.target.value, this.userInput[1]];
        } else {
          this.userInput = [event.target.value, null];
        }
      },

      /**
       * Handler of manual modification of End date.
       */
      handleEndInput(event) {
        if (this.userInput) {
          this.userInput = [this.userInput[0], event.target.value];
        } else {
          this.userInput = [null, event.target.value];
        }
      },

      /**
       * Handler of manual submit (on pressing Enter/Tab) value of Start date.
       */
      handleStartChange() {
        const value = this.parseString(this.userInput && this.userInput[0]);
        if (value) {
          this.userInput = [this.formatToString(value), this.displayValue[1]];
          const newValue = [value, (this.picker.value && this.picker.value[1]) || null];
          this.emmitInputIfValid(newValue);
        }
      },

      parseString(value) {
        const type = Array.isArray(value) ? this.type : this.type.replace('range', '');
        return parseAsFormatAndType(value, this.format, type);
      },

      /**
       * Handler of manual change (on pressing Enter/Tab) value of End date.
       */
      handleEndChange() {
        const value = this.parseString(this.userInput && this.userInput[1]);
        if (value) {
          this.userInput = [this.displayValue[0], this.formatToString(value)];
          const newValue = [this.picker.value && this.picker.value[0], value];
          this.emmitInputIfValid(newValue);
        }
      },

      /**
       * Fires on start date focusing.
       */
      handleFocusStart() {
        this.endDateSelecting = false;
        this.currentFocusKey = 0;
        this.handleFocus();
      },

      /**
       * Fires on end date focusing.
       */
      handleFocusEnd() {
        this.endDateSelecting = true;
        this.currentFocusKey = 1;
        this.handleFocus();
      },

      /**
       * Clear current focus state.
       */
      clearCurrentFocusKey () {
        this.currentFocusKey = null;
        this.userInput = null;
      },

      /**
       * Mount date-range panel.
       */
      mountPicker() {
        this.picker = new Vue(this.panel).$mount();
        this.picker.disableStartDate = this.disableStartDate;
        this.picker.isValidInput = this.isValidInput;
        this.picker.defaultValue = this.defaultValue;
        this.picker.defaultTime = this.defaultTime;
        this.picker.popperClass = this.popperClass;
        this.popperElm = this.picker.$el;
        this.picker.width = this.reference.getBoundingClientRect().width;
        this.picker.showTime = this.type === 'datetime' || this.type === 'datetimerange';
        this.picker.selectionMode = this.selectionMode;
        this.picker.unlinkPanels = this.unlinkPanels;
        this.picker.arrowControl = this.arrowControl || this.timeArrowControl || false;
        this.picker.currentFocusKey = this.currentFocusKey;
        this.$watch('format', (format) => {
          this.picker.format = format;
        });

        const updateOptions = () => {
          const options = this.pickerOptions;

          if (options && options.selectableRange) {
            let ranges = options.selectableRange;
            const parser = TYPE_VALUE_RESOLVER_MAP.datetimerange.parser;
            const format = DEFAULT_FORMATS.timerange;

            ranges = Array.isArray(ranges) ? ranges : [ranges];
            this.picker.selectableRange = ranges.map(range => parser(range, format, this.rangeSeparator));
          }

          for (const option in options) {
            if (Object.prototype.hasOwnProperty.call(options, option) &&
              // 忽略 time-picker 的该配置项
              option !== 'selectableRange') {
              this.picker[option] = options[option];
            }
          }

          // main format must prevail over undocumented pickerOptions.format
          if (this.format) {
            this.picker.format = this.format;
          }
        };
        updateOptions();
        this.unwatchPickerOptions = this.$watch('pickerOptions', () => updateOptions(), { deep: true });
        this.$el.appendChild(this.picker.$el);
        this.picker.resetView && this.picker.resetView();

        this.picker.$on('dodestroy', this.doDestroy);
        this.picker.$on('pick', (date = '', visible = false) => {
          this.userInput = null;
          this.pickerVisible = this.picker.visible = visible;
          this.emitInput(date);
          this.picker.resetView && this.picker.resetView();
        });

        this.picker.$on('change-focus', (val) => {
          this.endDateSelecting = val;
        });
      },

      /**
       * Check whether shifting of date is possible.
       * @param {Boolean} isStart
       * @param {number} daysToShift
       * @returns {(Boolean|Array)}
       */
      canShiftDate (isStart = true, daysToShift = 0) {
        const range = this.getRangeForShift(isStart, daysToShift);
        if (!range) {
          return false;
        }

        return this.isValidRange(range);
      },

      /**
       * Get range with shifted days.
       * @param isStart
       * @param daysToShift
       * @returns {(null|Array)}
       */
      getRangeForShift (isStart = true, daysToShift = 0) {
        const dateKey = isStart ? 0 : 1;
        const oppositeDateKey = isStart ? 1 : 0;
        const oppositeDate = this.value[oppositeDateKey] ? this.value[oppositeDateKey] : null;
        if (!this.value[dateKey]) {
          return null;
        }

        const dateShiftTo = new Date(this.value[dateKey]);
        dateShiftTo.setDate(dateShiftTo.getDate() + daysToShift);

        return isStart
          ? [dateShiftTo, oppositeDate]
          : [oppositeDate, dateShiftTo];
      },

      /**
       * Handler for Previous button of Start date input.
       */
      startPrevBtnClick () {
        this.applyShiftedDate(true, -1);
      },

      /**
       * Handler for Next button of Start date input.
       */
      startNextBtnClick () {
        this.applyShiftedDate(true, 1);
      },

      /**
       * Handler for Previous button of End date input.
       */
      endPrevBtnClick () {
        this.applyShiftedDate(false, -1);
      },

      /**
       * Handler for Next button of End date input.
       */
      endNextBtnClick () {
        this.applyShiftedDate(false, 1);
      },

      /**
       * Apply shifted date.
       * @param {Boolean} isStart
       * @param {number} daysToShift
       */
      applyShiftedDate(isStart = true, daysToShift = 0) {
        const range = this.getRangeForShift(isStart, daysToShift);
        if (
          range &&
          this.isValidRange(range)
        ) {
            this.emitInput(range);
        }
      },

      /**
       * Get visible value for showing in input (depending on focus state)
       * @param {number} key
       * @returns {string}
       */
      visibleValue (key) {
        if (this.prettyFormat === '' || this.currentFocusKey === key) {
          return this.displayValue && this.displayValue[key];
        }

        const date = this.parsedValue && this.parsedValue[key];
        if (date) {
          return moment(date).format(this.prettyFormat);
        }

        return '';
      },

      /**
       * Handle key-downs (overridden).
       */
      handleKeydown(event) {
        const keyCode = event.keyCode;

        // Enter
        if (keyCode === 13) {
          this.normalizeUserInput();
        }

        // ESC
        if (keyCode === 27) {
          this.pickerVisible = false;
          event.stopPropagation();
          return;
        }

        // Tab
        if (keyCode === 9) {
          if (!this.ranged) {
            this.handleChange();
            this.pickerVisible = this.picker.visible = false;
            this.blur();
            event.stopPropagation();
          } else {
            // User may change focus between two inputs
            setTimeout(() => {
              if (this.refInput.indexOf(document.activeElement) === -1) {
                this.pickerVisible = false;
                this.blur();
                event.stopPropagation();
              }
            }, 0);
          }
          return;
        }

        // if user is typing, do not let picker handle key input
        if (this.userInput) {
          event.stopPropagation();
          return;
        }

        // delegate other keys to panel
        if (this.picker && this.picker.handleKeydown) {
          this.picker.handleKeydown(event);
        }
      },

      /**
       * Emit "input" if dates are valid or null.
       * @param range
       */
      emmitInputIfValid (range) {
        if (this.isValidRange(range)) {
          this.picker.value = range;
          this.emitInput(range);
          this.userInput = null;
        }
      },

      /**
       * Check whether input value has correct format.
       * @param input
       * @return {boolean}
       */
      isInputFormatValid (input) {
        return moment(input, this.$config.date.format.moment_datepicker_format, true).isValid();
      },

      /**
       * Replace 4-digits year with the correct 2-digits year within the userInput array.
       */
      normalizeUserInput () {
        // We need to correct only the short year format dates.
        if (
          this.format !== 'MM/dd/yy' ||
          !Array.isArray(this.userInput)
        ) {
          return;
        }
        this.userInput.forEach(this.normalizeUserInputValue)

      },

      /**
       * Replace 4-digits year with the correct 2-digits year within the userInput value.
       * @param date
       * @param key
       */
      normalizeUserInputValue (date, key) {
        if (date === null) {
          return;
        }

        // Update userInput if the date contains 4-digits year.
        const parsedDate = moment(date, 'M/D/YYYY', true);
        if (parsedDate.isValid()) {
          this.userInput[key] = parsedDate.format('MM/DD/YY');
        }
      }
    }
  };
</script>
