<template>
  <transition
    name="el-zoom-in-top"
    @after-leave="$emit('dodestroy')"
  >
    <div
      v-show="visible"
      class="base-date-range__panel el-picker-panel el-date-range-picker el-popper"
      :class="[{
        'has-sidebar': $slots.sidebar,
        'has-time': showTime
      }, popperClass]"
    >
      <div class="el-picker-panel__body-wrapper">
        <slot
          name="sidebar"
          class="el-picker-panel__sidebar"
        />
        <div class="el-picker-panel__body">
          <div class="el-picker-panel__content el-date-range-picker__content is-left">
            <button
              type="button"
              class="el-picker-panel__icon-btn el-icon-arrow-left"
              @click="leftPrevMonth"
            />
            <div class="el-date-range-picker__header">
              <div>{{ leftLabel }}</div>
            </div>
            <base-date-table
              :date="leftDate"
              :default-value="defaultValue"
              :table-state="tableState"
              :disabled-date="disabledDate"
              :cell-class-name="cellClassName"
              :first-day-of-week="firstDayOfWeek"
              :current-focus-key="currentFocusKey"
              :prop-end-date-selecting="endDateSelecting"
              :disable-start-date="disableStartDate"
              @changerange="handleChangeRange"
              @pick="handleRangePick"
              @change-focus="handleChangeFocus"
            />
          </div>
          <div class="el-picker-panel__content el-date-range-picker__content is-right">
            <button
              type="button"
              class="el-picker-panel__icon-btn el-icon-arrow-right"
              @click="rightNextMonth"
            />
            <div class="el-date-range-picker__header">
              <div>{{ rightLabel }}</div>
            </div>
            <base-date-table
              :date="rightDate"
              :default-value="defaultValue"
              :table-state="tableState"
              :disabled-date="disabledDate"
              :cell-class-name="cellClassName"
              :first-day-of-week="firstDayOfWeek"
              :current-focus-key="currentFocusKey"
              :prop-end-date-selecting="endDateSelecting"
              :disable-start-date="disableStartDate"
              @changerange="handleChangeRange"
              @pick="handleRangePick"
              @change-focus="handleChangeFocus"
            />
          </div>
        </div>
      </div>
      <div class="el-picker-panel__footer">
        <el-button
          size="small"
          type="text"
          class="el-picker-panel__link-btn is-link"
          :disabled="clearBtnDisabled"
          @click="handleClear"
        >
          {{ $trans('labels.date_picker.button_clear') }}
        </el-button>
        <el-button
          size="small"
          class="el-picker-panel__link-btn"
          :disabled="btnDisabled"
          @click="handleConfirm(false)"
        >
          {{ $trans('labels.date_picker.button_done') }}
        </el-button>
      </div>
    </div>
  </transition>
</template>

<script type="text/babel">
  /**
   * NOTE: This component is a modified copy of 'element-ui/packages/date-picker/src/panel/date-range.vue'.
   */
  import {
    isDate,
    modifyWithTimeString,
    prevMonth,
    nextMonth,
    nextDate,
  } from 'element-ui/src/utils/date-util';
  import BaseDateTable  from "Foundation/components/form/extend/BaseDateTable";
  import DateRange from '../mixins/DateRange';

  const MIN_EDGE = 'min';
  const MAX_EDGE = 'max';

  const calcDefaultValue = (defaultValue) => {
    if (Array.isArray(defaultValue)) {
      return [new Date(defaultValue[0]), new Date(defaultValue[1])];
    } else if (defaultValue) {
      return [new Date(defaultValue), nextDate(new Date(defaultValue), 1)];
    } else {
      return [new Date(), nextDate(new Date(), 1)];
    }
  };

  export default {
    name: 'BaseDateRangePanel',

    components: {
      BaseDateTable
    },

    /**
     * Mixins.
     */
    mixins: [
      DateRange
    ],

    data() {
      return {
        popperClass: '',
        value: [],
        defaultValue: null,
        defaultTime: null,
        minDate: '',
        maxDate: '',
        leftDate: new Date(),
        rightDate: nextMonth(new Date()),
        tableState: {
          minDate: null,
          maxDate: null,
          hoverDate: null,
        },
        showTime: false,
        visible: '',
        disabledDate: () => false,
        cellClassName: () => '',
        firstDayOfWeek: 7,
        format: '',
        arrowControl: false,
        unlinkPanels: false,
        dateUserInput: {
          min: null,
          max: null
        },
        isValidInput: false,
        currentFocusKey: null,
        endDateSelecting: false,
        disableStartDate: false
      };
    },

    /**
     * Computed properties.
     */
    computed: {

      btnDisabled() {
        return !(
          this.minDate && this.maxDate &&
          !this.selecting &&
          this.isValidValue([this.minDate, this.maxDate]) &&
          this.isValidInput
        );
      },

      clearBtnDisabled() {
        return !(this.minDate && this.maxDate);
      },

      leftLabel() {
        return this.getMonthLabel(this.leftDate.getMonth() + 1) + ' ' + this.leftDate.getFullYear();
      },

      rightLabel() {
        return this.getMonthLabel(this.rightDate.getMonth() + 1) + ' ' + this.rightDate.getFullYear();
      },
    },

    watch: {
      minDate(val) {
        this.dateUserInput.min = null;
        this.tableState.minDate = val;
      },

      maxDate(val) {
        this.dateUserInput.max = null;
        this.tableState.maxDate = val;
      },

      value(newVal, oldVal) {
        if (this.isEmptyRange(newVal)) {
          this.minDate = null;
          this.maxDate = null;
        } else if (Array.isArray(newVal)) {
          this.minDate = isDate(newVal[0]) ? new Date(newVal[0]) : null;
          this.maxDate = isDate(newVal[1]) ? new Date(newVal[1]) : null;

          // If start date is located in the right date-table, then skip shifting calendar to left.
          if (this.minDate && this.minDate.getMonth() === this.rightDate.getMonth()) {
            return;
          }

          // If maxDate was changed.
          if (this.maxDate && this.getChangedEdge(newVal, oldVal) === MAX_EDGE) {
            // If maxDate is not belong to the left panel set it to the right one.
            if (this.leftDate.getMonth() !== this.maxDate.getMonth()) {
              this.setCalendars(this.maxDate, false);
            }
            return;
          }

          if (this.minDate) {
            this.setCalendars(this.minDate, true);
          } else {
            this.setCalendars(calcDefaultValue(this.defaultValue)[0], true);
          }
        }
      },

      defaultValue(val) {
        if (!Array.isArray(this.value)) {
          const [left, right] = calcDefaultValue(val);
          this.leftDate = left;
          this.rightDate = val && val[1] && this.unlinkPanels
            ? right
            : nextMonth(this.leftDate);
        }
      },

      visible () {
        if (!(this.minDate instanceof Date)) {
          return;
        }

        if (
          this.minDate.getMonth() !== this.rightDate.getMonth() ||
          this.minDate.getMonth() !== this.leftDate.getMonth()
        ) {
          this.leftDate = this.minDate;
          this.rightDate = nextMonth(this.leftDate);
        }
      },
    },

    /**
     * Methods.
     */
    methods: {

      /**
       * Clear current date-range.
       */
      handleClear() {
        if (!this.disableStartDate) {
          this.minDate = null;
          this.leftDate = calcDefaultValue(this.defaultValue)[0];
        }
        this.maxDate = null;
        this.rightDate = nextMonth(this.leftDate);
        this.$emit('pick', [this.minDate, null], true);
      },

      /**
       * Update date-tables date-range (fires on mouseover).
       */
      handleChangeRange(val) {
        this.tableState = val;
      },

      /**
       * Handle pick event from date-tables.
       */
      handleRangePick(val) {
        const defaultTime = this.defaultTime || [];
        const minDate = this.disableStartDate ? this.minDate : modifyWithTimeString(val.minDate, defaultTime[0]);
        const maxDate = modifyWithTimeString(val.maxDate, defaultTime[1]);

        if (this.maxDate === maxDate && this.minDate === minDate) {
          return;
        }

        this.maxDate = maxDate;
        this.minDate = minDate;

        // workaround for https://github.com/ElemeFE/element/issues/7539, should remove this block when we don't have to care about Chromium 55 - 57
        setTimeout(() => {
          this.maxDate = maxDate;
          this.minDate = minDate;
        }, 10);
        this.handleConfirm(true);
      },

      /**
       * Handler of the endDateSelecting change within calendar tables.
       */
      handleChangeFocus (val) {
        this.$emit('change-focus', val);
      },

      leftPrevMonth() {
        this.leftDate = prevMonth(this.leftDate);
        if (!this.unlinkPanels) {
          this.rightDate = nextMonth(this.leftDate);
        }
      },

      rightNextMonth() {
        if (!this.unlinkPanels) {
          this.leftDate = nextMonth(this.leftDate);
          this.rightDate = nextMonth(this.leftDate);
        } else {
          this.rightDate = nextMonth(this.rightDate);
        }
      },

      handleConfirm(visible = false) {
        if (this.isValidValue([this.minDate, this.maxDate])) {
          this.$emit('pick', [this.minDate, this.maxDate], visible);
        }
      },

      resetView() {
        // NOTE: this is a hack to reset {min, max}Date on picker open.
        // TODO: correct way of doing so is to refactor {min, max}Date to be dependent on value and internal selection state
        //       an alternative would be resetView whenever picker becomes visible, should also investigate date-panel's resetView
        this.minDate = this.value && isDate(this.value[0]) ? new Date(this.value[0]) : null;
        this.maxDate = this.value && isDate(this.value[1]) ? new Date(this.value[1]) : null;
      },

      /**
       * Check whether date-range value is valid.
       * @param {*} value
       * @returns {Boolean}
       */
      isValidValue (value) {
        return this.isValidRange(value);
      },

      /**
       * Get month label
       * @param {number} month
       * @returns {String}
       */
      getMonthLabel (month) {
        return this.$trans(`labels.date_picker.months.${month}`)
      },

      /**
       * @param  newVal
       * @param oldVal
       * @return {(string|boolean)}
       */
      getChangedEdge (newVal, oldVal) {
        if (!this.areDatesEqual(newVal[0], oldVal[0]) ) {
          return MIN_EDGE;
        }
        if (!this.areDatesEqual(newVal[1], oldVal[1]) ) {
          return MAX_EDGE;
        }
        return false;
      },

      /**
       * @param {(Date|null)} date1
       * @param {(Date|null)} date2
       * @return {boolean}
       */
      areDatesEqual (date1, date2) {
        if (date1 === null && date2 === null) {
          return true;
        }

        if (
          (isDate(date1) && !isDate(date2)) ||
          (!isDate(date1) && isDate(date2))
        ) {
          return false;
        }
        return date1.getTime() === date2.getTime();
      },

      /**
       * @param {Array} range
       * @return {boolean}
       */
      isEmptyRange (range) {
        return !range || (range[0] === null && range[1] === null);
      },

      /**
       * @param {Date} initialDate
       * @param {boolean} isStart
       */
      setCalendars (initialDate, isStart = true) {
        this.leftDate = isStart ? initialDate : prevMonth(initialDate);
        this.rightDate = isStart ? nextMonth(initialDate) : initialDate;
      },
    }
  }
</script>
