<template>
  <div
    class="el-form-item"
    :class="{ 'is-error': hasError, 'is-filled': isFilled }"
  >
    <label
      v-if="issetLabel"
      :for="name"
      class="el-form-item__label"
    >
      {{ label }}
    </label>
    <div class="el-form-item__content">
      <div
        v-clickoutside="handleClose"
        class="el-select"
        :class="[selectSize ? 'el-select--' + selectSize : '']"
        @click="toggleMenu"
      >
        <div
          v-if="multiple"
          ref="tags"
          class="el-select__tags"
          :class="{ 'is-focus': visible }"
          :style="{ 'max-width': inputWidth - 32 + 'px', width: '100%'}"
        >
          <span v-if="collapseTags && selected.length">
            <el-tag
              :closable="!selectDisabled"
              :size="collapseTagSize"
              :hit="selected[0].hitState"
              type="info"
              disable-transitions
              @close="deleteTag($event, selected[0])"
            >
              <span class="el-select__tags-text">{{ selected[0].currentLabel }}</span>
            </el-tag>
            <el-tag
              v-if="selected.length > 1"
              :closable="false"
              :size="collapseTagSize"
              type="info"
              disable-transitions
            >
              <span class="el-select__tags-text">+ {{ selected.length - 1 }}</span>
            </el-tag>
          </span>
          <transition-group
            v-if="!collapseTags"
            @after-leave="resetInputHeight"
          >
            <el-tag
              v-for="(item, index) in selected"
              v-show="showTags"
              :key="`key_${index}`"
              :closable="!selectDisabled"
              :size="collapseTagSize"
              :hit="item.hitState"
              type="info"
              disable-transitions
              @close="deleteTag($event, item)"
            >
              <span class="el-select__tags-text">{{ item.value.label }}</span>
            </el-tag>
          </transition-group>

          <input
            v-if="filterable"
            ref="input"
            v-model="query"
            type="text"
            class="el-select__input"
            :class="[selectSize ? `is-${ selectSize }` : '']"
            :disabled="selectDisabled"
            :autocomplete="autoComplete || autocomplete"
            :style="{ 'flex-grow': '1', width: inputLength / (inputWidth - 32) + '%', 'max-width': inputWidth - 42 + 'px' }"
            @focus="handleFocus"
            @blur="softFocus = false"
            @keyup="managePlaceholder"
            @keydown="resetInputState"
            @keydown.down.prevent="navigateOptions('next')"
            @keydown.up.prevent="navigateOptions('prev')"
            @keydown.enter.prevent="selectOption"
            @keydown.esc.stop.prevent="visible = false"
            @keydown.delete="deletePrevTag"
            @compositionstart="handleComposition"
            @compositionupdate="handleComposition"
            @compositionend="handleComposition"
            @input="debouncedQueryChange"
          >
        </div>
        <el-input
          :id="id"
          ref="reference"
          v-model="selectedLabel"
          type="text"
          :placeholder="extendedPlaceholder"
          :name="name"
          :autocomplete="autoComplete || autocomplete"
          :size="selectSize"
          :disabled="selectDisabled"
          :readonly="readonly"
          :validate-event="false"
          :class="{ 'is-focus': visible }"
          @focus="handleFocus"
          @blur="handleBlur"
          @keyup.native="debouncedOnInputChange"
          @keydown.native.down.stop.prevent="navigateOptions('next')"
          @keydown.native.up.stop.prevent="navigateOptions('prev')"
          @keydown.native.enter.prevent="selectOption"
          @keydown.native.esc.stop.prevent="visible = false"
          @keydown.native.tab="visible = false"
          @paste.native="debouncedOnInputChange"
          @mouseenter.native="inputHovering = true"
          @mouseleave.native="inputHovering = false"
        >
          <template
            v-if="$slots.prefix"
            slot="prefix"
          >
            <slot name="prefix" />
          </template>
          <template slot="suffix">
            <i
              v-show="!showClose && showArrow"
              :class="['el-select__caret', 'el-input__icon', 'el-icon-' + iconClass]"
            />
            <i
              v-if="showClose"
              class="el-select__caret el-input__icon el-icon-circle-close"
              @click="handleClearClick"
            />
          </template>
        </el-input>
        <transition
          name="el-zoom-in-top"
          @before-enter="handleMenuEnter"
          @after-leave="doDestroy"
        >
          <el-select-menu
            v-show="visible && emptyText !== false"
            ref="popper"
            :append-to-body="popperAppendToBody"
          >
            <el-scrollbar
              v-show="options.length > 0 && !loading"
              ref="scrollbar"
              tag="ul"
              wrap-class="el-select-dropdown__wrap"
              view-class="el-select-dropdown__list"
              :class="{ 'is-empty': !allowCreate && query && filteredOptionsCount === 0 }"
            >
              <el-option
                v-if="showNewOption"
                :value="query"
                created
              />
              <slot />
            </el-scrollbar>
            <template v-if="emptyText && (!allowCreate || loading || (allowCreate && options.length === 0 ))">
              <slot
                v-if="$slots.empty"
                name="empty"
              />
              <p
                v-else
                class="el-select-dropdown__empty"
              >
                {{ emptyText }}
              </p>
            </template>
          </el-select-menu>
        </transition>
      </div>
      <div
        v-if="hasError"
        class="el-form-item__error"
      >
        {{ errorText }}
      </div>
    </div>
  </div>
</template>

<script>
import BaseSelect from "Foundation/components/form/extend/BaseSelect";
import BaseProperties from "Foundation/components/form/mixins/BaseProperties";
import Validation from "Foundation/components/form/mixins/Validation";

export default {
  /**
   * Component name
   */
  name: 'CommonSelect',

  /**
   * Extends
   */
  extends: BaseSelect,

  /**
   * Mixins.
   */
  mixins: [
    Validation,
    BaseProperties
  ],

  /**
   * Props.
   */
  props: {
    /**
     * Label.
     */
    label: {
      type: String,
      default: ''
    },

    /**
     * Show arrow icon in the input.
     */
    showArrow: {
      type: Boolean,
      default: true
    }
  },

  /**
   * Computed properties.
   */
  computed: {
    issetLabel () {
      return this.label;
    }
  },

  /**
   * Watch.
   */
  watch: {
    /**
     * Watch input.
     */
    query (value) {
      this.$emit('change', value)
    },

    /**
     * Watch options change.
     */
    options () {
      // set focus on the first element if appropriate option is set.
      // native functionality works unstable in this case.
      if (this.defaultFirstOption && this.options.length) {
        this.options[0].hover = true;
      }
    },

    visible (value) {
      if (value) {
        console.log(this.value)
        if (this.value) {
          this.selectedLabel = this.value.label
          if(this.value.value) {
            this.debouncedOnInputChange()
          }
        }
      }
    }
  },


  methods: {
    deleteSelected(event) {
      event.stopPropagation();
      let value = this.multiple ? [] : '';

      if (this.defaultFirstOption) {
        value = this.multiple ? [this.options[0].value] : this.options[0].value;
      }

      console.log(value)

      this.$emit('input', value);
      this.emitChange(value);
      this.visible = false;
      this.$emit('clear');
    },
  }
};
</script>
