<template>
  <svg
    width="48"
    height="98"
    viewBox="0 0 48 98"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M38.6667 2H9.33333C5.28325 2 2 5.3401 2 9.46032V88.5397C2 92.6599 5.28325 96 9.33333 96H38.6667C42.7168 96 46 92.6599 46 88.5397V9.46032C46 5.3401 42.7168 2 38.6667 2Z"
      fill="#1CE783"
      fill-opacity="0.1"
      stroke="#1CE783"
      stroke-width="3"
    />
    <path
      d="M27.3065 87.9082H20.7065C20.504 87.9082 20.3398 88.0752 20.3398 88.2812C20.3398 88.4872 20.504 88.6542 20.7065 88.6542H27.3065C27.509 88.6542 27.6732 88.4872 27.6732 88.2812C27.6732 88.0752 27.509 87.9082 27.3065 87.9082Z"
      fill="#1CE783"
      fill-opacity="0.1"
      stroke="#1CE783"
      stroke-width="3"
    />
  </svg>
</template>

<script>
    export default {
        name: "TargetingMobile"
    }
</script>

<style scoped>

</style>
