<template>
  <svg
    width="154"
    height="98"
    viewBox="0 0 154 98"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M130.253 2H23.76C21.1344 2 19.0059 4.12545 19.0059 6.74732V73.2099C19.0059 75.8317 21.1344 77.9572 23.76 77.9572H130.253C132.878 77.9572 135.007 75.8317 135.007 73.2099V6.74732C135.007 4.12545 132.878 2 130.253 2Z"
      fill="#1CE783"
      fill-opacity="0.1"
      stroke="#1CE783"
      stroke-width="3"
    />
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M18.7165 77.9609C18.0164 77.9609 17.3408 78.218 16.8182 78.6832L2.95421 91.0263C2.34716 91.5667 2 92.3403 2 93.1524C2 94.7255 3.2771 96.0008 4.85248 96.0008H149.147C149.961 96.0008 150.735 95.6541 151.277 95.0479C152.325 93.8737 152.222 92.0732 151.046 91.0263L137.182 78.6832C136.659 78.218 135.984 77.9609 135.283 77.9609H18.7165Z"
      fill="#1CE783"
      fill-opacity="0.1"
      stroke="#1CE783"
      stroke-width="3"
    />
  </svg>
</template>

<script>
    export default {
        name: "TargetingComputer"
    }
</script>

<style scoped>

</style>
