<template>
  <div class="broadcasts">
    <div class="campaigns__holder level-default">
      <data-table
        ref="dataTable"
        :show-cards="false"
        :show-sub-title="false"
        :title="$trans('broadcast::labels.broadcasts')"
        :search-placeholder="$trans('broadcast::labels.search_broadcasts_placeholder')"
        :additional-columns="additionalColumns"
        :name="tableName"
        order-by="created_at"
        order-dir="descending"
        @row-click="showEdit"
      >
        <!-- FILTERS-->
        <template
          slot="filters"
          slot-scope="props"
        >
          <!-- STATUS FILTER -->
          <status-filter
            :placeholder="$trans('labels.status')"
            :disabled="props.disabled"
            @change="props.change"
          />
        </template>

        <!-- COLUMNS -->
        <!-- Name -->
        <data-table-column
          prop="name"
          :label="$trans('broadcast::labels.datatable_labels.name')"
        >
          <url-cell
            slot-scope="scope"
            :cell-value="scope.row.name"
            @click="showEdit(scope.row)"
          />
        </data-table-column>

        <!-- Schedule date -->
        <data-table-column
          prop="schedule_date"
          :label="$trans('broadcast::labels.datatable_labels.date')"
          :searchable="false"
        >
          <date-cell
            slot-scope="scope"
            :cell-value="scope.row.schedule_date"
            :client-timezone="false"
            :use-timezone="true"
            :format="$config.date.format.js_datetime_with_tz"
          />
        </data-table-column>

        <!-- Channel -->
        <data-table-column
          prop="channel"
          :label="$trans('broadcast::labels.datatable_labels.channel')"
          :searchable="false"
        />

        <!-- Segment -->
        <data-table-column
          prop="segment_id"
          :label="$trans('broadcast::labels.datatable_labels.segment')"
          :searchable="false"
        >
          <template
            slot-scope="scope"
          >
            {{ $trans(`broadcast::labels.datatable_labels.segments_values.${scope.row.segment_id}`) }}
          </template>
        </data-table-column>

        <!-- Broadcaster -->
        <data-table-column
          prop="broadcaster_name"
          :label="$trans('broadcast::labels.datatable_labels.broadcaster')"
          :searchable="false"
        />

        <!-- STATUS -->
        <data-table-column
          :label="$trans('broadcast::labels.datatable_labels.status')"
          prop="broadcast_status"
          :searchable="false"
        >
          <status-cell
            slot-scope="scope"
            :cell-value="scope.row.broadcast_status"
          />
        </data-table-column>
      </data-table>
    </div>
  </div>
</template>

<script>
import DataTable from 'Foundation/components/dataTable/DataTable';
import DataTableColumn from 'Foundation/components/dataTable/DataTableColumn';
import UrlCell from 'Foundation/components/dataTable/Cells/UrlCell';
import DateCell from 'Foundation/components/dataTable/Cells/DateCell';
import StatusCell from 'Modules/broadcast/components/index/cells/StatusCell';
import StatusFilter from 'Modules/broadcast/components/index/filters/StatusFilter';
import UpdateStatuses from 'Foundation/mixins/UpdateStatuses';

export default {
  /**
   * Component name
   */
  name: 'BroadcastTable',

  /**
   * Components
   */
  components: {
    DataTable,
    DataTableColumn,
    UrlCell,
    DateCell,
    StatusCell,
    StatusFilter
  },

  /**
   * Mixins
   */
  mixins: [UpdateStatuses],

  /**
   * Data attributes
   */
  data() {
    return {
      /**
       * Additional columns
       */
      additionalColumns: [
        {
          prop: 'id',
          data: 'id',
          searchable: false,
          orderable: false,
        },
        {
          prop: 'created_at',
          data: 'created_at',
          searchable: false,
          orderable: true,
        }
      ],

      /**
       * Data table name
       */
      tableName: 'broadcasts',
    };
  },

  /**
   * Before destroy actions.
   */
  beforeDestroy () {
    clearInterval(this.checkStatusesTimerId);
  },

  /**
   * Methods
   */
  methods: {
    /**
     * Refresh broadcast data table
     */
    refresh() {
      this.$refs['dataTable'].loadData();
    },

    /**
     * Show broadcast edit
     * @param broadcast
     */
    showEdit (broadcast) {
      this.$pushRoute(this.getDetailsRoute(broadcast));
      this.$emit('edit', broadcast)
    },

    /**
     * Get route for broadcast edit modal.
     * @param broadcast
     */
    getDetailsRoute (broadcast) {
      return {
        name: 'broadcast.show',
        params: {
          broadcastId: broadcast.id
        },
      };
    },

    /**
     * Check broadcast is pending.
     * @param row
     */
    isPending (row) {
      return this.$config.broadcast.pending_status_ids.includes(row.status_id)
    },

    /**
     * Update the row that's corresponded with the broadcast.
     * @param {Object} broadcast
     */
    updateRow (broadcast) {
      const row = this.$refs.dataTable.tableData.find(row => row.id === broadcast.id);

      if (row) {
        Object.assign(row, {
          broadcast_status: broadcast.status.name,
          status_id: broadcast.status.id,
        });
      }
    },
  },
};
</script>
