<template>
  <div>
    <selected-creative
      v-if="creative"
      :video-data="creative"
      :selectable="false"
    />
    <p
      v-if="creative && !hasApproved"
      v-html="$trans(
        'creative::messages.external_review',
        {
          tech_specifications_link: $config.general.links.technical_specifications,
          advertising_policies: $config.general.links.advertising_policies
        }
      )"
    />
    <message
      v-if="!creative"
      type="warning"
      :title="$trans('campaign::messages.missing_ad')"
    >
      {{ $trans('creative::messages.creative_review') }}
    </message>
  </div>
</template>

<script>
  import { mapFields } from 'vuex-map-fields';
  import SelectedCreative from 'Modules/creative/components/SelectedCreative';
  import { mapMutations } from 'vuex';
  import CreativeStatus from "Modules/campaign/components/wizard/steps/review-and-payment/review/mixins/CreativeStatus";
  import { Message } from 'Foundation/components/notice';

  export default {
    /**
     * Name of the component.
     */
    name: "CampaignReviewSchedule",

    /**
     * Components
     */
    components: {
      SelectedCreative,
      Message,
    },

    /**
     * Mixins.
     */
    mixins: [
      CreativeStatus,
    ],

    /**
     * Data
     */
    data () {
      return {
        creativePreviewVisible: false,
      }
    },

    /**
     * Computed properties.
     */
    computed: {
      /**
       * Vuex.
       */
      ...mapFields('wizard/creative', ['creative']),

      /**
       * Name of route that should.
       *
       * @returns {string}
       */
      routeName () {
        return 'campaigns.create.creative';
      },
    },

    /**
     * Methods
     */
    methods: {
      /**
       * Vuex (mutations).
       */
      ...mapMutations('wizard/creative', ['fill']),
    },
  };
</script>
