<template>
  <div>
    <div
      v-for="(block, key) in blocks"
      :key="key"
      class="review-campaign__list"
      :class="block.class"
    >
      <div
        v-if="key === 'details'"
        class="review-campaign__name"
      >
        {{ name }}
      </div>
      <div class="collapse-grid">
        <campaign-review-item-wrapper
          v-for="(item, property) in block.block"
          :key="property"
          :item="item"
        />
      </div>
    </div>
  </div>
</template>

<script>
  import { mapGetters, mapState } from 'vuex';
  import CampaignReviewItemWrapper from "./CampaignReviewItemWrapper";

  export default {
    /**
     * Name of the component.
     */
    name: 'CampaignReviewDetails',

    components: {
      CampaignReviewItemWrapper
    },

    /**
     * Computed properties.
     */
    computed: {
      /**
       * Vuex (state).
       */
      ...mapState('wizard/details', [
        'name',
        'date',
      ]),

      ...mapState('wizard/budget', [
        'cost',
        'impressions',
        'cpm'
      ]),

      /**
       * Vuex (getters) - targeting.
       */
      ...mapGetters('wizard/targeting', [
        'selectedGenderLabels',
        'ages',
        'audiences',
        'genres',
        'locations',
        'deviceGroups',
      ]),

      blocks () {
        const locations = [...this.locations.city ? this.locations.city : [], ...this.locations.zip ? this.locations.zip : []];

        return {
          details: {
            class: '',
            block: {
              cost: {
                title: this.$trans('labels.budget'),
                value: this.cost,
                component: 'sidebar-cost',
              },
              impressions: {
                title: this.$trans('labels.targeted_impressions'),
                value: this.impressions,
                component: 'sidebar-item-numeric',
              },
              start_date: {
                title: this.$trans('campaign::labels.dates'),
                value: {
                  dateStart: this.date.start,
                  dateEnd: this.date.end,
                },
                component: 'sidebar-date-range-item',
              },
              cpm: {
                title: this.$trans('labels.cpm'),
                value: this.cpm,
                component: 'sidebar-cost',
              }
            },
          },
          locations: {
            class: 'is-bordered',
            block: {
              locations: {
                singleColumn: true,
                title: this.$trans('labels.locations'),
                value: {
                  locations: this.locations,
                  items: locations,
                  allLabel: this.$trans('targeting::labels.locations.all'),
                },
                component: 'sidebar-targeting-locations',
              },
            },
          },
          age_groups: {
            class: 'is-bordered',
            block: {
              gender: {
                title: this.$trans('labels.gender'),
                value: this.selectedGenderLabels,
                component: 'sidebar-targeting-ages-and-genders',
              },
              age: {
                title: this.$trans('campaign::labels.labels.age_groups'),
                value: this.ages,
                component: 'sidebar-targeting-ages-and-genders',
              },
            },
          },
          audiences: {
            class: 'is-bordered',
            block: {
              audiences: {
                singleColumn: true,
                title: this.$trans('labels.audiences'),
                value: this.audiences,
                component: 'sidebar-targeting-audiences',
              },
            },
          },
          devices: {
            class: 'is-bordered',
            block: {
              devices: {
                singleColumn: true,
                title: this.$trans('labels.platforms'),
                value: {
                  items: this.deviceGroups,
                  allowAll: false,
                },
                component: 'sidebar-targeting-item',
              },
            },
          },
          genres: {
            class: 'is-bordered',
            block: {
              genres: {
                singleColumn: true,
                title: this.$trans('labels.show_genres'),
                value: {
                  items: this.genres,
                  allowAll: true,
                  allLabel: this.$trans('targeting::labels.genres.all'),
                },
                component: 'sidebar-targeting-include-item',
              },
            },
          },
        }
      }
    },
  };
</script>
