<template>
  <modal
    :title="$trans('creative::content.creative_issues')"
    custom-class="video-popup duplicate-modal"
    width="992px"
    :show-buttons="showDuplicateControls"
    :submit-label="$trans('creative::labels.upload_anyway')"
    :visible="visible"
    @close="close"
    @cancel="close"
    @submit="proceedUpload"
  >
    <upload-creative-errors
      :creative-errors="validationErrors"
    />
  </modal>
</template>

<script>
  import UploadCreativeErrors from "../UploadCreativeErrors";
  import Visible from 'Foundation/mixins/Visible';
  import Modal from 'Foundation/components/layout/modal/Modal';

  export default {

    /**
     * Component name
     */
    name: "Errors",

    /**
     * Used Components
     */
    components: {
      uploadCreativeErrors: UploadCreativeErrors,
      modal: Modal
    },

    /**
     * Mixins
     */
    mixins: [
      Visible
    ],

    /**
     * Props
     */
    props: {
      validationErrors: {
        type: Object,
        default: () => {
          return {};
        }
      },
    },

    /**
     * Computed
     */
    computed: {
      showDuplicateControls () {
        return this.validationErrors.hashSum !== undefined;
      },
    },

    /**
     * Methods
     */
    methods: {
      /**
       * Proceed with creative upload
       */
      async proceedUpload() {
        this.$emit('proceed-upload');
        this.close();
      }
    }
  }
</script>
