<template>
  <modal
    :title="$trans('creative::content.creative_preview')"
    custom-class="popup-secondary video-popup"
    width="992px"
    :visible="visible"
    :show-buttons="false"
    @close="close"
  >
    <div>
      <div
        v-if="videoAvailable && !isProResVideo"
        v-loading="playerLoading"
        class="video-popup__frame"
      >
        <vue-plyr
          ref="plyr"
          :options="playerOptions"
          :emit="['error', 'canplay', 'play', 'ready']"
          @canplay="onCanPlay"
          @ready="onCanPlay"
          @play="onPlay"
          @error="onError"
        >
          <video
            :poster="poster"
          >
            <source
              :src="preview"
              :type="config.default_type"
              :size="config.default_size"
            >
          </video>
        </vue-plyr>
      </div>
      <div
        v-if="!videoAvailable || isProResVideo"
        v-loading="playerLoading"
        class="video-popup__frame video-popup__frame_empty"
      >
        <div class="video-popup__icon">
          <icon
            v-if="!playerLoading"
            value="video-off"
            :width="120"
            :height="120"
            lightness="mute"
            transparent="fill"
          />
          <span>{{ previewMessage }}</span>
        </div>
      </div>
      <div v-loading="showCreativePending">
        <div class="video-popup__status">
          <status-cell
            :cell-value="status"
          />
          <div v-if="allowDownloadCreative">
            <a
              :href="preview"
              :download="name"
              type="button"
              class="el-button el-button--text"
            >
              <icon
                value="download"
                transparent="fill"
              />
              {{ $trans('creative::labels.download') }}
            </a>
          </div>
        </div>
        <div class="video-popup__info">
          <div class="video-info">
            <span class="video-info__name">
              {{ name }}
            </span>
            <ul class="video-info__list">
              <li class="video-info__list-item">
                .{{ extension }}
              </li>
              <li class="video-info__list-item">
                {{ filesize }}
              </li>
              <li class="video-info__list-item">
                {{ duration }}
              </li>
            </ul>
          </div>
          <remove
            v-if="canBeDeleted"
            :creative-id="creativeId"
            @deleted="$emit('deleted')"
          />
        </div>
        <div class="video-popup__descr">
          <errors
            v-if="errorMode"
            :creative-errors="validationErrors"
            :creative-success="success"
            :loading="loadErrorsPending"
          />
        </div>
      </div>
    </div>
  </modal>
</template>

<script>
  import Creative from '../../mixins/Creative';
  import Errors from 'Modules/creative/components/UploadCreativeErrors';
  import Modal from 'Foundation/components/layout/modal/Modal';
  import Remove from '../actions/Remove';
  import StatusCell from '../dataTable/cells/StatusCell';
  import Visible from 'Foundation/mixins/Visible';
  import { mapActions, mapState, mapMutations } from 'vuex';
  import Icon from 'Foundation/components/icons/Icon';

  export default {

    /**
     * Component name
     */
    name: 'Preview',

    /**
     * Used Components
     */
    components: {
      Errors,
      Modal,
      Remove,
      StatusCell,
      Icon,
    },

    /**
     * Mixins
     */
    mixins: [
      Creative,
      Visible,
    ],

    /**
     * Available properties.
     */
    props: {
      /**
       * Creative id
       */
      creativeId: {
        type: Number,
        default: null,
      },
    },

    /**
     * Component data
     */
    data () {
      return {
        confirmModalVisible: false,
        videoAvailable: false,
        isProResVideo: false,
        playerLoading: true,
        errorMode: false,
      };
    },

    /**
     * Component computed properties
     */
    computed: {
      /**
       * Vuex (state) creative/errors .
       */
      ...mapState('creative/errors', [
        'loadErrorsPending',
        'validationErrors',
        'success',
      ]),

      /**
       * Vuex (state) creative.
       */
      ...mapState('creative', [
        'showCreativePending',
      ]),

      /**
       * Define player instance
       */
      player () {
        return this.$refs.plyr ? this.$refs.plyr.player : null;
      },

      /**
       * Plyr options.
       */
      playerOptions () {
        return {
          controls: [
            'play-large',
            'play',
            'progress',
            'current-time',
            'mute',
            'volume',
            'fullscreen',
          ],
          tooltips: {
            controls: true,
          },
          i18n: {
            enterFullscreen: this.$trans('creative::labels.enter_fullscreen'),
            exitFullscreen: this.$trans('creative::labels.exit_fullscreen'),
          }
        };
      },

      /**
       * Config.
       */
      config () {
        return this.$config.media.videos.web;
      },

      /**
       * Preview message.
       */
      previewMessage () {

        if (this.playerLoading) {
          return '';
        }

        return this.isProResVideo && !this.errorMode ?
          this.$trans('creative::labels.prores_preview') :
          this.$trans('creative::labels.preview_is_not_available');
      },
    },

    /**
     * Created hook.
     */
    async created () {
      this.isPreviewMode = true;
      await this.$call(this.show(this.creativeId), { notify: false })
        .then(() => {
          if (this.visible) {
            this.setVideo();
          }
        })
        .catch(() => {
        this.$notify.error({
          message: this.$trans('messages.went_wrong'),
        });
        this.close();
      });
    },

    /**
     * Before destroy hook.
     */
    beforeDestroy () {
      this.clearShowCreativeData();
    },

    /**
     * Methods
     */
    methods: {
      /**
       * Map actions from errors module
       */
      ...mapActions('creative/errors', [
        'load',
      ]),

      /**
       * Map actions from creative module
       */
      ...mapActions('creative', [
        'show',
      ]),

      /**
       * Map mutations from creative module
       */
      ...mapMutations('creative', [
        'clearShowCreativeData',
      ]),

      /**
       * Check if video can be played
       */
      onCanPlay () {
        this.playerLoading = false;
      },

      /**
       * Check if video has error and can not be played
       */
      onError () {
        this.playerLoading = false;
        this.videoAvailable = false;
      },

      /**
       * Player 'play' event handler
       */
      onPlay (event) {
        const time = event.detail.plyr.currentTime;
        event.detail.plyr.currentTime = time;
      },

      /**
       * Set video data to the player.
       */
      setVideo () {
        this.isProResVideo = this.isProRes;
        this.playerLoading = !this.isProRes;

        if (this.checkStatus) {
          this.errorMode = true;
          this.load(this.creativeId);
          this.videoAvailable = false;
          this.playerLoading = false;
        } else {
          this.videoAvailable = true;
        }
      },
    },
  };
</script>
