<template>
  <div class="order-popup__section">
    <el-row :gutter="20">
      <el-col :span="19">
        <span class="text-label-xs-semibold-caps">{{ $trans('payment::labels.transaction_history') }}</span>
      </el-col>
    </el-row>
    <el-row :gutter="20">
      <el-col
        :span="5"
        class="order-popup__th"
      >
        {{ $trans('payment::labels.billing_period') }}
      </el-col>
      <el-col
        :span="4"
        class="order-popup__th"
      >
        {{ $trans('payment::labels.transaction_id') }}
      </el-col>
      <el-col
        :span="4"
        class="order-popup__th"
      >
        {{ $trans('payment::labels.transaction_date') }}
      </el-col>
      <el-col
        :span="2"
        class="order-popup__th"
      >
        {{ $trans('payment::labels.status') }}
      </el-col>
      <el-col
        :span="4"
        class="order-popup__th text-right"
      >
        {{ $trans('payment::labels.payment_amount') }}
      </el-col>
      <el-col
        :span="5"
        class="order-popup__th text-right"
      >
        {{ $trans('payment::labels.payment_method') }}
      </el-col>
    </el-row>
    <el-row :gutter="20">
      <el-col
        v-if="showNoActivity"
        :span="24"
        class="order-popup__no-activity"
      >
        {{ $trans('payment::messages.no_activity_yet') }}
      </el-col>
    </el-row>
    <div
      class="transaction-body text-label-xs"
      :class="{'is-scroll': isScroll}"
    >
      <el-row
        v-for="(transaction, index) in transactions"
        :key="transaction.transactionId + index"
        :gutter="20"
      >
        <el-col
          :span="5"
        >
          <date-range
            :date-start="transaction.billingPeriodStart"
            :date-end="transaction.billingPeriodEnd"
          />
        </el-col>
        <el-col
          :span="4"
        >
          {{ transaction.transactionId }}
        </el-col>
        <el-col
          :span="4"
        >
          <date-cell
            :cell-value="transaction.transactionDate"
          />
        </el-col>
        <el-col
          :span="2"
          :class="failedTransaction(transaction.status)"
        >
          {{ formatStatus(transaction.status) }}
        </el-col>
        <el-col
          :span="4"
          class="text-right"
        >
          <money :value="transaction.amount" />
        </el-col>
        <el-col
          :span="5"
          class="text-right"
        >
          <span class="payment-method">
            <img
              v-if="transaction.card.brand"
              :src="cardImage(transaction.card.brand)"
              class="card-label"
              alt="visa"
            >
            <span
              v-if="transaction.card.lastFour"
              class="card-number"
            >
              {{ $trans('payment::labels.only_ending_in', {ending_id: transaction.card.lastFour}) }}
            </span>
          </span>
        </el-col>
      </el-row>
    </div>
  </div>
</template>

<script>
  import DateRange from "Foundation/components/formatters/DateRange";
  import DateCell from "Foundation/components/dataTable/Cells/DateCell";
  import Money from "Foundation/components/formatters/Money";
  import CardInfo from "Modules/payment/components/mixins/CardInfo";

  export default {
    /**
     * Name
     */
    name: "TransactionHistory",

    /**
     * Components
     */
    components: {
      Money,
      DateCell,
      DateRange,
    },

    /**
     * Mixins
     */
    mixins: [
      CardInfo
    ],

    /**
     * Props
     */
    props: {
      /**
       * Transactions
       */
      transactions: {
        type: Array,
        default: () => [],
      },
    },

    /**
     * Computed props.
     */
    computed: {
      /**
       * Should No activity section be shown
       */
      showNoActivity () {
        return !this.transactions || !this.transactions.length;
      },

      /**
       * Added extra class if there are more then 8
       */
      isScroll () {
          return this.transactions.length > 8
      },
    },

    /**
     * Component methods
     */
    methods: {
      /**
       * Format status to lower case
       */
      statusToLower (status) {
        return status.toLowerCase();
      },

      /**
       * Format status to lower case
       */
      formatStatus (status) {
        return  this.$trans(`payment::labels.transaction.statuses.${this.statusToLower(status)}`);
      },

      /**
       * Check if transaction has failed status.
       */
      failedTransaction (status) {
        return ['customer_failed', 'system_failed'].includes(this.statusToLower(status)) ? 'text-danger' : '';
      }
    }
  };
</script>
