<template>
  <div class="order-popup__section">
    <el-row :gutter="20">
      <el-col :span="19">
        <span class="text-label-xs-semibold-caps">{{ $trans('payment::labels.video_commercial') }}</span>
      </el-col>
      <el-col
        :span="5"
        class="text-right"
      >
        <span class="text-label-xs-semibold-caps">{{ $trans('payment::labels.total_budget') }}</span>
      </el-col>
    </el-row>
    <el-row :gutter="20">
      <el-col :span="5">
        {{ $trans('campaign::labels.date_range') }}:
      </el-col>
      <el-col :span="7">
        <date-range
          :date-start="dateStart"
          :date-end="dateEnd"
          :use-timezone="true"
          extra-class="text-body-sm"
        />
      </el-col>
      <el-col
        :span="12"
        class="text-right"
      >
        <div
          v-if="promocodeApplied"
          class="discounts"
        >
          <div class="discounts__body">
            <p><money :value="budget" /></p>
            <div>
              <div class="budget-tooltip">
                <span
                  class="budget-code"
                >
                  Code Applied
                  <div class="budget-tooltip__popover">
                    <p class="text-label-xs-semibold-caps">
                      {{ promocode }}
                    </p>
                  </div>
                </span>
              </div>
              -<money :value="discount" />
            </div>
          </div>
          <div class="discounts__summary">
            <span class="text-body-sm">
              <money
                :use-zero="true"
                :value="discountedBudget"
              />
            </span>
          </div>
        </div>
        <span
          v-else
          class="text-body-sm"
        >
          <money :value="budget" />
        </span>
      </el-col>
    </el-row>
    <el-row :gutter="20">
      <el-col :span="5">
        {{ $trans('campaign::labels.target_impressions') }}:
      </el-col>
      <el-col :span="7">
        <number-cell
          :cell-value="impressions"
          extra-class="text-body-sm"
        />
      </el-col>
    </el-row>
    <el-row :gutter="20">
      <el-col :span="5">
        {{ $trans('payment::labels.unit_cost') }}:
      </el-col>
      <el-col :span="7">
        <span class="text-body-sm">
          <money :value="cpm" />
        </span>
      </el-col>
    </el-row>
    <el-row :gutter="20">
      <el-col :span="5">
        {{ $trans('payment::labels.cost_method') }}:
      </el-col>
      <el-col :span="7">
        <span class="text-body-sm">{{ $trans('labels.cpm') }}</span>
      </el-col>
    </el-row>
  </div>
</template>

<script>
  import DateRange from "Foundation/components/formatters/DateRange";
  import Money from "Foundation/components/formatters/Money";
  import NumberCell from "Foundation/components/dataTable/Cells/NumberCell";

  export default {
    /**
     * Name
     */
    name: "VideoCommercial",

    /**
     * Components
     */
    components: {
      NumberCell,
      Money,
      DateRange,
    },

    /**
     * Props
     */
    props: {
      /**
       * Date start
       */
      dateStart: {
        type: [String, Number],
        default: '',
      },

      /**
       * Date end
       */
      dateEnd: {
        type: [String, Number],
        default: '',
      },

      /**
       * Budget.
       */
      budget: {
        type: [String, Number],
        default: '',
      },

      /**
       * Promocode.
       */
      promocode: {
        type: [String, Number],
        default: '',
      },

      /**
       * Discounted Budget.
       */
      discountedBudget: {
        type: [String, Number],
        default: '',
      },

      /**
       * Impressions.
       */
      impressions: {
        type: [String, Number],
        default: '',
      },

      /**
       * CPM (Unit cost).
       */
      cpm: {
        type: [String, Number],
        default: '',
      },
    },

    computed: {
      /**
       * Calculate discount
       *
       * @returns {number}
       */
      discount() {
        return this.budget - this.discountedBudget;
      },

      /**
       * Determine if promocode applied
       *
       * @returns {number}
       */
      promocodeApplied() {
        return this.discountedBudget != null && this.promocode;
      }
    }
  };
</script>
