<template>
  <common-select
    ref="revisions"
    v-model="current"
    class="change-revision"
    name="revisions"
    size="large"
    @change="onChange"
  >
    <el-option
      v-for="item in getRevisions"
      :key="item.id"
      :label="item.label"
      :value="item.id"
    >
      <template slot="default">
        <span>{{ item.label }}</span>
        <status-cell
          v-if="canShowBadge(item)"
          :cell-value="item.status"
        />
      </template>
    </el-option>
  </common-select>
</template>

<script>
import { mapActions, mapState } from 'vuex';
import CommonSelect from '../../../../foundation/components/form/extend/CommonSelect';
import StatusCell from '../index/cells/StatusCell';

const STATUS_DRAFT = 'draft';
const STATUS_SUBMITTED = 'submitted'

export default {
  /**
   * Name.
   */
  name: 'ChangeRevisions',

  /**
   * Components.
   */
  components: {
    CommonSelect,
    StatusCell
  },

  /**
   * Data properties.
   */
  data() {
    return {
      current: null
    }
  },

  /**
   * Computed properties.
   */
  computed: {
    /**
     * Map state.
     */
    ...mapState('details', {
      campaign: 'campaign',
    }),

    /**
     * Get revisions items.
     */
    getRevisions () {
      return this.campaign.revisions.items.map((item) => {
        let label = this.$trans('campaign::messages.version_submitted', {date: item.date});
        if (item.status.name === STATUS_DRAFT) {
          label = this.$trans('campaign::messages.version_edited', {date: item.date});
        }

        return {
          id: item.id,
          label: label,
          status: item.status.name
        }
      });
    },
  },

  /**
   * Mounted.
   */
  mounted() {
    this.current = this.campaign.revisions.current.id;
  },

  /**
   * Methods.
   */
  methods: {
    /**
     * Map actions.
     */
    ...mapActions('details', ['loadRevision']),

    /**
     * On change event.
     */
    onChange () {
      this.$call(this.loadRevision(this.current))
      .then(() => {
        this.$emit('update-targetings');
      })
    },

    /**
     * Can show badge.
     */
    canShowBadge (item) {
      return item.status !== STATUS_SUBMITTED;
    }
  }
};
</script>
