<template>
  <div class="details-item__header">
    <h3
      v-loading="loadStatisticPending"
      class="text-subtitle-md-semibold text-right"
    >
      <number v-model="impressions" />
    </h3>
    <span class="text-label-xxs">
      {{ $trans('campaign::labels.delivered') }}
    </span>
  </div>
</template>

<script>
  import { mapState } from 'vuex';
  import Number from 'Foundation/components/formatters/Number';

  export default {
    /**
     * Component name.
     */
    name: 'DeliveredImpressions',

    /**
     * Components.
     */
    components: {
      Number,
    },

    /**
     * Computed properties.
     */
    computed: {
      /**
       * Map state.
       */
      ...mapState('metrics', {
        loadStatisticPending: 'loadStatisticPending',
        impressions: state => state.campaignStatistic.deliveredImpressions,
      }),
    },
  };
</script>
