<template>
  <div
    v-if="campaign.id"
    class="tabs"
  >
    <el-tabs
      v-model="internalActiveTab"
    >
      <el-tab-pane
        :label="$trans('labels.performance')"
        name="performance"
      >
        <transition
          name="el-fade-in-linear"
          mode="out-in"
        >
          <tab-performance
            v-if="isActiveTab('performance')"
            :campaign-id="campaign.id"
          />
        </transition>
      </el-tab-pane>
      <el-tab-pane
        :label="$trans('campaign::labels.targeting')"
        name="targeting"
      >
        <transition
          name="el-fade-in-linear"
          mode="out-in"
        >
          <tab-overview
            v-if="isActiveTab('targeting')"
            :targetings="campaign.targeting"
          />
        </transition>
      </el-tab-pane>
      <el-tab-pane
        :label="$trans('labels.creatives')"
        name="creatives"
      >
        <transition
          name="el-fade-in-linear"
          mode="out-in"
        >
          <tab-creatives
            v-if="isActiveTab('creatives')"
            :creatives="campaign.creatives"
          />
        </transition>
      </el-tab-pane>
    </el-tabs>
    <div>
      <change-revisions v-if="campaign.revisions.items.length" />
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex';
import TabOverview from './Tabs/TabOverview';
import TabPerformance from './Tabs/TabPerformance';
import TabCreatives from './Tabs/TabCreatives';
import ChangeRevisions from './ChangeRevisions';

export default {
  /**
   * Name.
   */
  name: 'DetailTabs',

  /**
   * Components.
   */
  components: {
    TabCreatives,
    TabPerformance,
    TabOverview,
    ChangeRevisions,
  },

  /**
   * Props.
   */
  props: {
    /**
     * Active tab.
     */
    activeTab: {
      type: String,
      default: 'performance',
      validator (activeTab) {
        const result = ['targeting', 'performance', 'creatives'].includes(activeTab);
        result || window.console.warn('Invalid tab name.');
        return result;
      }
    }
  },

  data () {
    return {
      internalActiveTab: 'performance'
    };
  },

  /**
   * Computed properties.
   */
  computed: {
    /**
     * Map state.
     */
    ...mapState('details', {
      campaign: 'campaign',
    }),
  },

  /**
   * Watcher.s
   */
  watch: {
    /**
     * Active tab watcher.
     * @param value
     */
    activeTab (value) {
      this.internalActiveTab = value;
    },

    /**
     * Internal active tab.
     * @param value
     */
    internalActiveTab (value) {
      this.$emit('update:activeTab', value);
    }
  },

  /**
   * Created hook.
   */
  created () {
    this.internalActiveTab = this.activeTab;
  },

  /**
   * Methods.
   */
  methods: {
    /**
     * Checks if tab is active
     * @param tabName
     * @return Boolean
     */
    isActiveTab (tabName = '') {
      return this.internalActiveTab === tabName;
    },
  },
};
</script>
