<template>
  <div>
    <div class="popup-fullscreen__panel">
      <div class="popup-fullscreen__container">
        <el-row
          type="flex"
          class="offset-y-large"
        >
          <el-col :span="12">
            <p class="text-label-xxs-semibold-caps">
              {{ $trans('campaign::labels.impressions') }}
            </p>
            <div class="details-item">
              <delivered-impressions />
              <span class="details-item__divider">/</span>
              <div class="details-item__content">
                <h3 class="text-body-md-125">
                  <number
                    v-model="campaign.impressions"
                  />
                </h3>
                <span class="text-label-xxs">
                  {{ $trans('campaign::labels.targeted') }}
                </span>
              </div>
            </div>
          </el-col>
          <el-col
            :span="6"
          >
            <p class="text-label-xxs-semibold-caps">
              {{ $trans('campaign::labels.reach') }}
            </p>
            <div class="details-item">
              <div class="details-item__header">
                <h3
                  v-loading="loadFrequencyPending"
                  class="text-subtitle-md-semibold"
                >
                  <number v-model="campaignFrequency.reach" />
                </h3>
              </div>
            </div>
          </el-col>
          <el-col
            :span="6"
          >
            <p class="text-label-xxs-semibold-caps">
              {{ $trans('campaign::labels.frequency') }}
            </p>
            <div class="details-item">
              <div class="details-item__header">
                <h3
                  v-loading="loadFrequencyPending"
                  class="text-subtitle-md-semibold"
                >
                  <decimal
                    v-model="campaignFrequency.frequency"
                    :format-params="{minimumFractionDigits: 1}"
                  />
                </h3>
                <span class="text-label-xxs">
                  {{ $trans('campaign::labels.average') }}
                </span>
              </div>
            </div>
          </el-col>
        </el-row>
        <el-row type="flex">
          <el-col :span="24">
            <p class="text-label-xxs-semibold-caps">
              {{ $trans('campaign::labels.budget') }}
            </p>
            <div class="details-item">
              <total-cost />
              <span class="details-item__divider">/</span>
              <div class="details-item__content">
                <h3 class="text-body-md-125">
                  <money
                    v-if="!hasPromocode"
                    v-model="budget"
                  />
                  <money
                    v-else
                    v-model="campaign.discounted_cost"
                    :use-zero="true"
                  />
                </h3>
                <span class="text-label-xxs">
                  {{ $trans('campaign::labels.max_budget') }}
                </span>
              </div>
              <promo-code
                v-if="hasPromocode"
              />
            </div>
          </el-col>
        </el-row>
      </div>
    </div>
  </div>
</template>

<script>
import Money from 'Foundation/components/formatters/Money';
import TotalCost from './TotalCost';
import PromoCode from './PromoCode';
import DeliveredImpressions from './DeliveredImpressions';
import { mapState } from 'vuex';
import Number from 'Foundation/components/formatters/Number';
import Decimal from 'Foundation/components/formatters/Decimal';

export default {
  /**
   * Name.
   */
  name: 'GeneralDetails',

  /**
   * Components.
   */
  components: {
    PromoCode,
    Number,
    DeliveredImpressions,
    Money,
    TotalCost,
    Decimal,
  },

  /**
   * Computed properties.
   */
  computed: {
    /**
     * Map state.
     */
    ...mapState('details', {
      campaign: 'campaign',
    }),

    /**
     * Map state.
     */
    ...mapState('metrics', ['campaignFrequency', 'loadFrequencyPending']),

    /**
     * Campaign budget.
     */
    budget () {
      return this.campaign.discounted_cost ? this.campaign.discounted_cost : this.campaign.budget;
    },

    /**
     * Check has a promocode.
     */
    hasPromocode () {
      return this.campaign.discounted_cost !== null;
    }
  },
};
</script>
