<template>
  <div>
    <div class="form-section">
      <div class="custom-label">
        {{ $trans('report::labels.reportModal.campaign') }}
      </div>
      <div class="custom-description">
        {{ $trans('report::labels.reportModal.select_a_campaign') }}
      </div>
      <campaigns
        v-model="formData.campaign"
        :placeholder="$trans('report::labels.reportModal.select_a_campaign')"
        :label="$trans('report::labels.reportModal.select_a_campaign')"
        :scope="scope"
        @save="setCampaign"
      />
    </div>
    <div class="form-section">
      <delivery-settings
        v-model="formData.delivery"
        :email-now="false"
        download
        @update="setDeliveryData"
      />
    </div>
  </div>
</template>
<script>
import Campaigns from '../components/CampaignsComponent';
import DeliverySettings from '../components/DeliverySettings';
import {mapFields} from 'vuex-map-fields';
import ReportForm from '../mixins/ReportForm';
import {mapActions} from 'vuex';

export default {
  /**
   * Name.
   */
  name: 'CampaignSummaryForm',

  /**
   * Components.
   */
  components: {
    Campaigns,
    DeliverySettings,
  },

  /**
   * Mixins.
   */
  mixins: [
    ReportForm
  ],

  /**
   * Data.
   */
  data () {
    return {
      scope: '__campaign_summary__',
    }
  },

  computed: {
    /**
     * Map frequency list
     */
    ...mapFields('report', { formData: 'advertiserReports.summary'}),
  },

  methods: {
    /**
     * Map actions
     */
    ...mapActions('report', {
      store: 'storeCampaignSummaryReport',
      show: 'showCampaignSummaryReport',
      update: 'updateCampaignSummaryReport',
    }),

    /**
     * Set campaign
     */
    setCampaign (value) {
      this.formData.campaign = value;
    }
  }
}
</script>
