<template>
  <div>
    <div class="form-section">
      <div class="custom-label">
        {{ $trans('report::labels.reportModal.campaign') }}
      </div>
      <div class="custom-description">
        {{ $trans('report::labels.reportModal.select_a_campaign') }}
      </div>
      <el-radio-group
        v-model="campaignType"
        size="small"
      >
        <el-radio
          value="all"
          label="all"
        >
          <div class="el-radio__title">
            {{ $trans('report::labels.reportModal.all_live_campaigns_running') }}
          </div>
        </el-radio>
        <el-radio
          value="custom"
          label="custom"
        >
          <div class="el-radio__title">
            {{ $trans('report::labels.reportModal.custom_selection') }}
          </div>
          <campaigns
            v-model="formData.campaigns"
            :placeholder="$trans('report::labels.reportModal.select_one_or_more')"
            :scope="scope"
            :disabled="!isCheckedCustom"
            multiple
            @save="setCampaigns"
          />
        </el-radio>
      </el-radio-group>
    </div>
    <div class="form-section">
      <div class="custom-label">
        {{ $trans('report::labels.reportModal.dimensions.label') }}
      </div>
      <div class="custom-description">
        {{ $trans('report::labels.reportModal.dimensions.subtitle') }}
      </div>
      <div class="custom-description text-muted text-size-xs">
        {{ $trans('report::labels.reportModal.dimensions.desc') }}
      </div>
      <targetings
        v-model="formData.targetings"
        @save="setTargetings"
      />
    </div>
    <div class="form-section">
      <date-range
        :value.sync="formData.dateRange"
        @save="setDateRange"
      />
      <div class="form-section">
        <delivery-settings
          v-model="formData.delivery"
          :download="false"
          email-now
          @update="setDeliveryData"
        />
      </div>
    </div>
  </div>
</template>

<script>
import { mapFields } from 'vuex-map-fields';
import { mapActions, mapState } from 'vuex';
import ReportForm from 'Modules/report/components/forms/mixins/ReportForm';
import Campaigns from '../components/CampaignsComponent';
import DeliverySettings from '../components/DeliverySettings';
import DateRange from '../components/DateRangeComponent';
import Targetings from '../components/TargetingsComponent';

export default {
  /**
   * Name.
   */
  name: 'DetailedDataForm',

  /**
   * Components.
   */
  components: {
    Targetings,
    DateRange,
    Campaigns,
    DeliverySettings,
  },

  /**
   * Mixins.
   */
  mixins: [
    ReportForm
  ],

  /**
   * Data.
   */
  data () {
    return {
      scope: '__detailed__',
      campaignType: 'all'
    }
  },

  /**
   * Computed properties
   */
  computed: {
    /**
     * Map frequency list
     */
    ...mapFields('report', { formData: 'advertiserReports.detailed'}),

    /**
     * Map frequency list
     */
    ...mapState('campaignsList', ['campaignsList']),

    /**
     * Map frequency list
     */
    ...mapState('targetings', ['targetingsList']),

    /**
     * Is checked custom campaigns.
     */
    isCheckedCustom () {
      return this.campaignType === 'custom'
    },
  },

  /**
   * Watch.
   */
  watch: {
    campaignType (value) {
      if (value === 'all') {
        this.formData.campaigns = [];
      }
    }
  },

  /**
   * Created.
   */
  created() {
    this.getTargetingsList();
  },

  /**
   * Component methods
   */
  methods: {
    /**
     * Map actions
     */
    ...mapActions('report', {
      store: 'storeCampaignDetailedReport',
      show: 'showCampaignDetailedReport',
      update: 'updateCampaignDetailedReport',
    }),

    /**
     * Map actions
     */
    ...mapActions('targetings', { getTargetingsList: 'list' }),

    /**
     * Set targetings
     */
    setTargetings (value) {
      this.formData.targetings = value;
    },

    /**
     * Set campaigns
     */
    setCampaigns (value) {
      this.formData.campaigns = value;
    }
  },
}
</script>
