<template>
  <modal
    :loading="changePasswordPending"
    :title="$trans('labels.change_password')"
    :visible="true"
    :submit-disabled="submitDisabled"
    :custom-class="'el-dialog--actions-column-reverse'"
    :width="'688px'"
    @cancel="close"
    @close="close"
    @submit="submit"
  >
    <el-form
      ref="form"
      :model="form"
    >
      <password-field
        ref="password"
        v-model="password"
        :label="$trans('labels.current_password')"
        :placeholder="$trans('labels.enter_current_password')"
        :validation="passwordValidationRules"
        validate-on="none"
        name="password"
        size="medium"
        @input="onOldPasswordChange"
      />
      <password-field
        ref="new_password"
        v-model="rawNewPassword"
        :label="$trans('labels.new_password')"
        :placeholder="$trans('labels.enter_new_password')"
        :scope="passwordScope"
        validate-on="none"
        name="new_password"
        size="medium"
        @input="onFormChange"
      />
      <password-field
        ref="new_password_confirmation"
        v-model="rawNewPasswordConfirmation"
        :label="$trans('labels.confirm_new_password')"
        :placeholder="$trans('labels.re_enter_new_password')"
        :scope="passwordScope"
        validate-on="none"
        name="new_password_confirmation"
        size="medium"
        @input="onFormChange"
      />
    </el-form>
  </modal>
</template>

<script>
  import omit from 'lodash/omit';
  import Visible from 'Foundation/mixins/Visible';
  import { mapActions, mapState } from 'vuex';
  import { Modal } from 'Foundation/components/layout/modal';
  import { PasswordField } from 'Foundation/components/form';
  import UpdatePassword from 'Modules/auth/mixins/UpdatePassword';

  const VALIDATION_SCOPE_GLOBAL = '__global__';

  export default {
    /**
     * Name of the component.
     */
    name: "PasswordModal",

    /**
     * Child components.
     */
    components: {
      Modal,
      PasswordField
    },

    /**
     * Mixins.
     */
    mixins: [
      Visible,
      UpdatePassword,
    ],

    /**
     * Reactive data.
     */
    data () {
      return {
        password: '',
        newPassword: '',
        newPasswordConfirmation: '',
        submitDisabled: true,
      };
    },

    /**
     * Computed properties.
     */
    computed: {
      /**
       * Map state.
       */
      ...mapState('profile', [
        'changePasswordPending',
      ]),

      /**
       * Form data.
       * @returns {*}
       */
      form () {
        return {
          password: this.password.trim(),
          new_password: this.newPassword,
        };
      },

      /**
       * Password validation rules.
       * @returns {*}
       */
      passwordValidationRules () {
        return omit(this.validationRules.user.password, ['min', 'regex']);
      }
    },

    /**
     * Methods.
     */
    methods: {
      /**
       * Vuex.
       */
      ...mapActions('profile', [
        'changePassword',
      ]),

      /**
       * On form change
       */
      onFormChange () {
        this.submitDisabled = false;
      },

      /**
       * On old password change
       */
      onOldPasswordChange () {
        this.submitDisabled = false;
        this.$refs.password.resetFieldErrors();
      },

      /**
       * Clear form data.
       */
      clear () {
        this.password = '';
        this.newPassword = '';
        this.newPasswordConfirmation = '';
        this.$validator.errors.clear(VALIDATION_SCOPE_GLOBAL);
        this.$validator.errors.clear(this.passwordScope);
      },

      /**
       * Validate form.
       * {Promise<boolean>}
       */
      validateForm () {
        return Promise.all([
          this.$validateScope(),
          this.validateNewPassword(),
          this.validateNewPasswordConfirmation(),
        ]).then(results => {
          return results.filter(result => result).length === 3;
        });
      },

      /**
       * Submit the form.
       *
       * @returns {Promise<void>}
       */
      async submit () {
        const validated = await this.validateForm();

        if (!validated) {
          return;
        }

        this.changePassword(this.form).then(() => {
          this.$notify.success({
            message: this.$trans('messages.youve_updated_your_password'),
          });
          this.close();
          this.clear();
        }).catch( ({code, message}) => {
          const errorMessage = ['NotAuthorizedException', 'InvalidParameterException'].includes(code)
            ? this.$trans('validation.old_password')
            : message;
          this.$refs.password.addError(errorMessage);
        });
      },

      /**
       * Close modal form.
       */
      close () {
        this.clear();
        this.$emit('close');
      }
    },
  };
</script>
