<template>
  <el-card
    class="box-card profile-card"
  >
    <div
      slot="header"
      class="clearfix"
    >
      <span>{{ $trans('payment::labels.your_payment_information') }}</span>
    </div>
    <payment-methods-index
      :payment-methods="paymentMethods"
      :show-title="true"
      @payments-updated="loadPaymentMethods"
    />
  </el-card>
</template>

<script>
  import ProfilePayment from "Modules/user/components/profile/settings/payment/ProfilePayment";
  import PaymentMethodsIndex from "Modules/demo/modules/payment/components/PaymentMethodsIndex";

  export default {
    /**
     * Name of the component.
     */
    name: "ProfilePayment",

    /**
     * Components.
     */
    components: {
      PaymentMethodsIndex
    },

    /**
     * Extend component.
     */
    extends: ProfilePayment,
  };
</script>
