<script>
  import ForgotPasswordForm from 'Modules/auth/components/forgot-password/ForgotPasswordForm';

  export default {
    extends: ForgotPasswordForm,

    /**
     * Methods.
     */
    methods: {
      /**
       * Submit the form.
       *
       * @returns {Promise<void>}
       */
      submit() {
        this.showSuccess();
      },
    },
  };
</script>
