<template>
  <campaign-form
    :visible="true"
    @close="close"
  />
</template>

<script>
  import CampaignForm from "../components/wizard/CampaignForm";

  export default {
    /**
     * Component name.
     */
    name: 'TheCreate',

    /**
     * Child components.
     */
    components: {
      CampaignForm,
    },

    /**
     * Methods.
     */
    methods: {
      /**
       * Close form.
       */
      close () {
        this.$redirectToRoute('campaigns.index');
      },
    },
  };
</script>
