<template>
  <campaign-edit-form
    :id="id"
    :force-navigate-step="forceNavigateStep"
    :visible="true"
    @close="close"
  />
</template>

<script>
  import CampaignEditForm from "../components/wizard/CampaignEditForm";

  export default {
    /**
     * Component name.
     */
    name: 'TheEdit',

    /**
     * Child components.
     */
    components: {
      CampaignEditForm,
    },

    /**
     * Properties.
     */
    props: {
      /**
       * Campaign id.
       */
      id: {
        type: Number,
        required: true,
      },

      /**
       * Force step name.
       */
      forceNavigateStep: {
        type: String,
        default() {
          return null;
        },
      },
    },

    /**
     * Methods.
     */
    methods: {
      /**
       * Close form.
       */
      close () {
        this.$redirectToRoute('campaigns.index');
      },
    },
  };
</script>
