<template>
  <div class="form-rules">
    <ul class="form-rules__list">
      <li
        v-for="rule in rules"
        :key="rule.message"
        class="form-rules__item"
        :class="testRule(rule.rule) ? 'is-correct' : ''"
      >
        <span>{{ rule.message }}</span>
      </li>
    </ul>
  </div>
</template>

<script>
  export default {
    /**
     * Name of the component.
     */
    name: 'PasswordValidation',

    /**
     * Props.
     */
    props: {
      password: {
        required: true,
        type: String,
      },
    },

    /**
     * Reactive data.
     */
    data () {
      return {
        rules: [
          {
            message: this.$trans('auth::messages.password.validation.lowercase'),
            rule: /[a-z]/,
          },
          {
            message: this.$trans('auth::messages.password.validation.uppercase'),
            rule: /[A-Z]/,
          },
          {
            message: this.$trans('auth::messages.password.validation.number'),
            rule: /[\d]/,
          },
          {
            message: this.$trans('auth::messages.password.validation.special'),
            rule: /[~^*!@#$%_&+\-()/{}\\"'.?[\]|,:;<>=`]/,
          },
          {
            message: this.$trans('auth::messages.password.validation.minimum'),
            rule: /[\da-z~^*!@#$%_&+\-()/{ }\\"'.?[\]|,:;<>=`]{8,}/i,
          },
        ]
      }
    },

    /**
     * Methods.
     */
    methods: {
      /**
       * @param {RegExp} regExp
       * @returns {boolean}
       */
      testRule(regExp) {
        return this.password.trim().match(regExp) !== null;
      },
    },
  };
</script>
