<template>
  <layout-main menu="advertisers">
    <div class="page">
      <div class="page__header">
        <h1>{{ $trans('advertiser::labels.advertisers') }}</h1>
      </div>
      <div class="page__holder level-negative-1">
        <advertiser-table />
      </div>
    </div>
  </layout-main>
</template>

<script>
  import AdvertiserTable from '../components/index/AdvertiserTable';
  import LayoutMain from 'Foundation/layouts/LayoutMain';

  export default {
    /**
     * Name
     */
    name: 'TheIndex',

    /**
     * Components
     */
    components: {
      AdvertiserTable,
      LayoutMain,
    },
  };
</script>
