//pdf/app.scss - TODO: Check variables in this file

/* -----------------
NOTE: Variables with the "-RGB" suffix and hexToRGB function are temporary
-------------------*/

@function getDarkHSLA($opacity) {
  @return hsla(var(--base-hue), var(--base-sat), var(--base-lit-fg), $opacity);
}

@function getLightHSLA($opacity) {
  @return hsla(var(--base-hue), var(--base-sat), var(--base-lit-bg), $opacity);
}

.vue-app div:first-child *,
.vue-app div:first-child *:before,
.el-popper,
.el-tooltip,
.el-tooltip__popper,
.budget-tooltip__popover,
.el-dialog__wrapper *,
.v-modal,
.el-card,
.speedometer-indicator,
.el-notification,
.el-picker-panel,
.el-picker-panel__icon-btn,
.el-select-dropdown__item span,
.el-notification * {
  --bg-base: hsl(var(--base-hue) var(--base-sat) var(--base-lit-bg));
  --bg-offset3: hsl(var(--base-hue) var(--base-sat) calc(var(--base-lit-bg) + var(--addoffset) + var(--multiplier) * 03));
  --bg-offset5: hsl(var(--base-hue) var(--base-sat) calc(var(--base-lit-bg) + var(--addoffset) + var(--multiplier) * 05));
  --bg-offset10: hsl(var(--base-hue) var(--base-sat) calc(var(--base-lit-bg) + var(--addoffset) + var(--multiplier) * 10));
  --bg-offset15: hsl(var(--base-hue) var(--base-sat) calc(var(--base-lit-bg) + var(--addoffset) + var(--multiplier) * 15));
  --bg-offset20: hsl(var(--base-hue) var(--base-sat) calc(var(--base-lit-bg) + var(--addoffset) + var(--multiplier) * 20));
  --bg-offset30: hsl(var(--base-hue) var(--base-sat) calc(var(--base-lit-bg) + var(--addoffset) + var(--multiplier) * 30));
  --bg-offset40: hsl(var(--base-hue) var(--base-sat) calc(var(--base-lit-bg) + var(--addoffset) + var(--multiplier) * 40));
  --bg-offset50: hsl(var(--base-hue) var(--base-sat) calc(var(--base-lit-bg) + var(--addoffset) + var(--multiplier) * 50));
  --bg-offset60: hsl(var(--base-hue) var(--base-sat) calc(var(--base-lit-bg) + var(--addoffset) + var(--multiplier) * 60));
  --bg-offset70: hsl(var(--base-hue) var(--base-sat) calc(var(--base-lit-bg) + var(--addoffset) + var(--multiplier) * 70));
  --bg-offset80: hsl(var(--base-hue) var(--base-sat) calc(var(--base-lit-bg) + var(--addoffset) + var(--multiplier) * 80));
  --bg-offset85: hsl(var(--base-hue) var(--base-sat) calc(var(--base-lit-bg) + var(--addoffset) + var(--multiplier) * 85));
  --bg-offset90: hsl(var(--base-hue) var(--base-sat) calc(var(--base-lit-bg) + var(--addoffset) + var(--multiplier) * 90));
  --bg-offset95: hsl(var(--base-hue) var(--base-sat) calc(var(--base-lit-bg) + var(--addoffset) + var(--multiplier) * 95));
  --bg-offset97: hsl(var(--base-hue) var(--base-sat) calc(var(--base-lit-bg) + var(--addoffset) + var(--multiplier) * 97));
  --bg-offset100: hsl(var(--base-hue) var(--base-sat) calc(var(--base-lit-bg) + var(--addoffset) + var(--multiplier) * 100));

  /*================Foreground offset variables================
  E.g., var(--fg-offset15) renders 15% gray on any background in light mode, and 85% gray on any background in dark mode */
  //--fg-base: hsl(var(--base-hue), var(--base-sat), var(--base-lit-fg));
  --fg-offset3: hsl(var(--base-hue) var(--base-sat) calc(var(--base-lit-fg) - var(--multiplier) * 03));
  --fg-offset5: hsl(var(--base-hue) var(--base-sat) calc(var(--base-lit-fg) - var(--multiplier) * 05));
  --fg-offset10: hsl(var(--base-hue) var(--base-sat) calc(var(--base-lit-fg) - var(--multiplier) * 10));
  --fg-offset15: hsl(var(--base-hue) var(--base-sat) calc(var(--base-lit-fg) - var(--multiplier) * 15));
  --fg-offset20: hsl(var(--base-hue) var(--base-sat) calc(var(--base-lit-fg) - var(--multiplier) * 20));
  --fg-offset30: hsl(var(--base-hue) var(--base-sat) calc(var(--base-lit-fg) - var(--multiplier) * 30));
  --fg-offset40: hsl(var(--base-hue) var(--base-sat) calc(var(--base-lit-fg) - var(--multiplier) * 40));
  --fg-offset50: hsl(var(--base-hue) var(--base-sat) calc(var(--base-lit-fg) - var(--multiplier) * 50));
  --fg-offset60: hsl(var(--base-hue) var(--base-sat) calc(var(--base-lit-fg) - var(--multiplier) * 60));
  --fg-offset70: hsl(var(--base-hue) var(--base-sat) calc(var(--base-lit-fg) - var(--multiplier) * 70));
  --fg-offset80: hsl(var(--base-hue) var(--base-sat) calc(var(--base-lit-fg) - var(--multiplier) * 80));
  --fg-offset85: hsl(var(--base-hue) var(--base-sat) calc(var(--base-lit-fg) - var(--multiplier) * 85));
  --fg-offset90: hsl(var(--base-hue) var(--base-sat) calc(var(--base-lit-fg) - var(--multiplier) * 90));
  --fg-offset95: hsl(var(--base-hue) var(--base-sat) calc(var(--base-lit-fg) - var(--multiplier) * 95));
  --fg-offset97: hsl(var(--base-hue) var(--base-sat) calc(var(--base-lit-fg) - var(--multiplier) * 97));
  --fg-offset100: hsl(var(--base-hue) var(--base-sat) calc(var(--base-lit-fg) - var(--multiplier) * 100));

  /*================Element-specific Variables================*/
  --fg-base:  var(--fg-offset5);  /* High contrast text + controls */

  /*================Background offset variables================
  E.g., var(--bg-offset85) renders 15% gray on a 100% white background in light mode, and 95% gray on a 10% gray background in dark mode */

  --fgcolor-blue: hsl(var(--hue-blue) var(--sat-high) calc(var(--base-lit-bg) + var(--multiplier) * 50));

  /*
   * Disable base
   */
  --disabled-fill-base: var(--bg-offset100);
  --disabled-color-base: var(--color-text-sm-low);
  --disabled-border-base: var(--border-color-base);

  /* System colors (primary, warning, info, success, danger, etc.)
  --------------------------------------------------------------- */

  --color-success: hsl(var(--hue-success) var(--sat-high) calc(var(--base-lit-fg) - var(--multiplier) * 50));
  --color-warning: hsl(var(--hue-warning) var(--sat-high) calc(var(--base-lit-fg) - var(--multiplier) * 50));
  --color-info: hsl(var(--hue-info) var(--sat-high) calc(var(--base-lit-fg) - var(--multiplier) * 50));
  --color-danger: hsl(var(--hue-danger) var(--sat-high) calc(var(--base-lit-fg) - var(--multiplier) * 50));

  /*================Element-specific Variables================*/
  --color-text-high: var(--fg-base);
  --color-text-high-inverted: var(--fg-offset100);
  --color-text-med: var(--fg-offset20);
  --color-text-sm-low: var(--fg-offset40);
  --color-text-lg-low: var(--fg-offset50);
  --color-text-placeholder: var(--color-text-sm-low);
  --color-text-disabled1: var(--fg-offset70);
  --color-text-disabled2: var(--fg-offset80); //--bg-offset5 for background

  --color-divider-low: var(--bg-offset5);
  --color-divider-mid: var(--bg-offset10);
  --color-divider-high: var(--bg-offset15);

  --font-color-disabled-base: var(--color-text-disabled1);

  /* Borders
  -------------------------- */
  --border-color-base: var(--bg-offset20);
  --border-color-hover: var(--bg-offset40);
  --border-base: $--border-width-base $--border-style-base var(--border-color-base);
  --border-color-gray: var(--bg-offset10);

  /* Box shadow
  -------------------------- */
  --color-shadow-lightmode: hsla(var(--base-hue), var(--sat-mid), 15%, .4);
  --color-shadow-darkmode: hsla(var(--base-hue), var(--sat-high), 0%, .75);

  --color-shadow: var(--color-shadow-lightmode);

  --shadow-size: 0 2px 12px -8px;

  --box-shadow-base: var(--shadow-size) var(--color-shadow);

  /*TODO: Should be fixed in HULU-2954*/
  --box-shadow-light: 0 2px 4px 0 var(--fg-offset80);
  --box-shadow-header-submenu: 0 0 4px 0 #{getLightHSLA(.5)};
  --box-shadow-sidebar: 0 2px 15px 0 #{getDarkHSLA(.2)};
  --box-shadow-sidebar-extra: 0 168px 2px 0 var(--fg-offset100), 0 176px 15px 0 #{getDarkHSLA(.2)};
  --box-shadow-sidebar-extra-min: 0 80px 2px 0 var(--fg-offset100), 0 88px 15px 0 #{getDarkHSLA(.2)};
  --box-shadow-signup-header: 0 11px 13px var(--fg-offset80);
  --box-shadow-tooltip: 0 4px 20px -8px var(--fg-offset80);
}

:root {

  /* * * * * * * * * * * * * * * * * * * * * * * * *
   * NEW TYPOGRAPHY
   * * * * * * * * * * * * * * * * * * * * * * * * */
  --ham-text-size: 1.0000rem; /* Default */

  /* Size */
  --ham-text-size-xxxl: 2.5000rem; /* 40px */
  --ham-text-size-xxl: 2.0625rem; /* 33px */
  --ham-text-size-xl: 1.7500rem; /* 28px */
  --ham-text-size-lg: 1.4375rem; /* 23px */
  --ham-text-size-md: 1.1875rem; /* 19px */
  --ham-text-size-sm: 1.0000rem; /* 16px across all breakpoints */
  --ham-text-size-xs: 0.8750rem; /* 14px across all breakpoints */
  --ham-text-size-xxs: 0.7500rem; /* 12px across all breakpoints */
  --ham-text-size-xxxs: 0.6250rem; /* 10px across all breakpoints */

  /* Weight */
  --ham-text-weight-bold: 700;
  --ham-text-weight-semibold: 600;
  --ham-text-weight-medium: 500;
  --ham-text-weight-regular: 400;

  /* Line Height */
  --ham-text-lineheight-160: 160%;
  --ham-text-lineheight-125: 125%;
  --ham-text-lineheight-105: 105%;
  --ham-text-lineheight-100: 100%;
  --ham-text-lineheight-95: 95%;

  /* Letter Spacing */
  --ham-text-letterspacing-10: calc(var(--ham-text-size) * 0.10); /* 10% letter spacing */
  --ham-text-letterspacing-0: calc(var(--ham-text-size) * 0.00); /*  0% letter spacing */
  --ham-text-letterspacing-neg3: calc(var(--ham-text-size) * -0.03); /* -3% letter spacing */

  /*
  --------------------------*/

  /* STEP 1. Hues are defined to dynamically change the color of all elements. */
  --hue-gray: 220;
  --hue-red: 345;
  --hue-yellow: 40;
  --hue-green: 150;
  --hue-blue: 214;
  --hue-purple: 278;

  //--------------------------------
  --hue-primary: var(--hue-gray);
  --hue-success: var(--hue-green);
  --hue-warning: var(--hue-yellow);
  --hue-danger: var(--hue-red);
  --hue-info: var(--hue-blue);
  //--------------------------------

  --sat-low: 14%;
  --sat-mid: 50%;
  --sat-high: 80%;

  --base-hue: var(--hue-gray);
  --base-sat: var(--sat-low);

  /* STEP 2. Base lightnessess are used to add or subtract "offsets". */
  --base-lit-bg: 100%; /* In light mode, background (bg) elements are offset from white (100%) */
  --base-lit-fg: 0%; /* In light mode, foreground (fg) elements are offset from black (0%) */

  --addoffset: 0%; /* AddOffset is used in dark mode to compensate for imperceptable differences in lightness when less than 10% */
  --multiplier: -1%; /* Multiplier determines the direction in which offsets move (add or subtract). In light mode, background offsets are subtracted (rendering a progressively darker gray with each BG offset step) and foreground offsets are added (rendering a progressively lighter gray with each FG offset step). */


  /*================Absolute color variables================
E.g., var(--gray85) renders 85% gray, regardless of dark or light mode */
  --gray0: hsl(var(--hue-gray), var(--sat-low), 000%);
  --gray3: hsl(var(--hue-gray), var(--sat-low), 003%);
  --gray5: hsl(var(--hue-gray), var(--sat-low), 005%);
  --gray10: hsl(var(--hue-gray), var(--sat-low), 010%);
  --gray15: hsl(var(--hue-gray), var(--sat-low), 015%);
  --gray20: hsl(var(--hue-gray), var(--sat-low), 020%);
  --gray30: hsl(var(--hue-gray), var(--sat-low), 030%);
  --gray40: hsl(var(--hue-gray), var(--sat-low), 040%);
  --gray50: hsl(var(--hue-gray), var(--sat-low), 050%);
  --gray60: hsl(var(--hue-gray), var(--sat-low), 060%);
  --gray70: hsl(var(--hue-gray), var(--sat-low), 070%);
  --gray80: hsl(var(--hue-gray), var(--sat-low), 080%);
  --gray85: hsl(var(--hue-gray), var(--sat-low), 085%);
  --gray90: hsl(var(--hue-gray), var(--sat-low), 090%);
  --gray95: hsl(var(--hue-gray), var(--sat-low), 095%);
  --gray97: hsl(var(--hue-gray), var(--sat-low), 097%);
  --gray100: hsl(var(--hue-gray), var(--sat-low), 100%);

  ///* Box shadow
  //-------------------------- */
  //--color-shadow-lightmode: hsla(var(--base-hue), var(--sat-mid), 15%, .4);
  //--color-shadow-darkmode: hsla(var(--base-hue), var(--sat-high), 0%, .75);
  //
  //--color-shadow: hsla(var(--base-hue), var(--sat-mid), 15%, .4);

  /* Header
  -------------------------- */
  --main-header-height: #{$--main-header-height};

  /* Background & Fill
  -------------------------- */
  --fill-base: var(--fg-offset100);
  --background-color-base: var(--bg-base);
  --background-sidebar: var(--bg-offset5);

  /* Link
  --------------------------*/
  --link-default-font-color: var(--color-text-med);
  --link-default-active-color: var(--color-text-med);
  --link-disabled-font-color: var(--color-text-sm-low);
}

/* * * * * * * * * * * * * * * * * * * * * * * * *
* NEW TYPOGRAPHY (Responsive)
* * * * * * * * * * * * * * * * * * * * * * * * */

/* 376–768 Major Third */
@media only screen and (min-width: 376px) {
  :root {
    --ham-text-size-xxxl: 3.0625rem; /* 49px */
    --ham-text-size-xxl: 2.4375rem; /* 39px */
    --ham-text-size-xl: 1.9375rem; /* 31px */
    --ham-text-size-lg: 1.5625rem; /* 25px */
    --ham-text-size-md: 1.2500rem; /* 20px */
  }
}

/* 769–1024 Perfect Fourth */
@media only screen and (min-width: 769px) {
  :root {
    --ham-text-size-xxxl: 4.1875rem; /* 67px */
    --ham-text-size-xxl: 3.1875rem; /* 51px */
    --ham-text-size-xl: 2.3750rem; /* 38px */
    --ham-text-size-lg: 1.7500rem; /* 28px */
    --ham-text-size-md: 1.3125rem; /* 21px */
  }
}

/* 1025–1599 Augmented Fourth */
@media only screen and (min-width: 1025px) {
  :root {
    --ham-text-size-xxxl: 5.6250rem; /* 90px */
    --ham-text-size-xxl: 4.0000rem; /* 64px */
    --ham-text-size-xl: 2.8125rem; /* 45px */
    --ham-text-size-lg: 2.0000rem; /* 32px */
    --ham-text-size-md: 1.4375rem; /* 23px */
  }
}

/* 1600+ Perfect Fifth */
@media only screen and (min-width: 1600px) {
  :root {
    --ham-text-size-xxxl: 7.6250rem; /* 122px */
    --ham-text-size-xxl: 5.0625rem; /* 81px */
    --ham-text-size-xl: 3.3750rem; /* 54px */
    --ham-text-size-lg: 2.2500rem; /* 36px */
    --ham-text-size-md: 1.5000rem; /* 24px */
  }
}

/* <375 Minor Third */
//@media only screen and (max-width: 375px) {
//  * {
//    --ham-text-size-xxxl: 2.5000rem; /* 40px */
//    --ham-text-size-xxl: 2.0625rem; /* 33px */
//    --ham-text-size-xl: 1.7500rem; /* 28px */
//    --ham-text-size-lg: 1.4375rem; /* 23px */
//    --ham-text-size-md: 1.1875rem; /* 19px */
//  }
//}

[data-theme="dark-theme"] {
  * {
    --base-lit-bg: 0%; /* In dark mode, backgrounds build from black (0%) */
    --base-lit-fg: 100%; /* Foreground elements build from white (100%) */
    --multiplier: 1%; /* In dark mode, background offsets are added (rendering a progressively lighter gray with each BG offset step) and foreground offsets are subtracted (rendering a progressively lighter gray with each FG offset step). */
    --color-shadow: var(--color-shadow-darkmode);
  }

  .level-default {
    --base-lit-bg: 10%;
  }

  .level-negative-1 {
    --base-lit-bg: 05%;
  }

  .level-negative-2 {
    --base-lit-bg: 00%;
  }

  .level-negative-3 {
    --base-lit-bg: 00%;
  }
}

//[data-theme="light-theme"] {}
