$--main-header-height: 72px;

/* Fonts
-------------------------- */
$--font-url: '../../../fonts/';
$--font-family-base: Graphik, Arial, sans-serif;
$--font-family-secondary: 'HuluStyle', Arial, 'sans-serif';
$--font-display: 'auto';

/* Colors (and shades)
-------------------------- */

/*
 * Red
 */
$--color-red-1: #fbe8ed;
$--color-red-4: #eb829c;
$--color-red-8: #b91740;

/*
 * Green
 */
$--color-green-1: #eaf8f5;
$--color-green-4: #8bdbc9;
$--color-green-9: #20846e;

/*
 * Blue
 */
$--color-blue-1: #e8f0fc;
$--color-blue-4: #7fafee;
$--color-blue-8: #135dbf;
$--color-blue-base: #176ee1;

/*
 * Yellow
 */
$--color-yellow-1: #fff7e7;
$--color-yellow-4: #fcd17c;
$--color-yellow-10: #895e09;

/*
 * White
 */
$--color-white: #fff;

/*
 * System colors
 */
$--color-primary: #21242c;
$--color-success: #1ce783;
$--color-warning: #f8bd60;
$--color-danger: #de1b4b;

/* Typography
-------------------------- */
/* icon font path, required */
$--font-path: 'fonts/';

$--font-line-height-secondary: 27px;

$--font-weight-regular: 400;
$--font-weight-medium: 500;
$--font-weight-semibold: 600;
$--font-weight-extra-bold: 800;

/* z-index
-------------------------- */
$--index-normal: 1;
$--index-top: 1000;
$--index-popper: 2000;

/* Border
-------------------------- */
$--border-width-base: 1px;
$--border-style-base: solid;
$--border-radius-large: 13px;
$--border-radius-base: 4px;
$--border-radius-middle: 3px;
$--border-radius-small: 2px;
$--border-radius-circle: 100%;
$--border-radius-custom: 20px;

/* Button
-------------------------- */
//Buttons size
$--button-small-height: 32px;
$--button-medium-height: 40px;
$--button-large-height: 48px;//by default

$--button-border-width: 2px;

//Buttons font
$--button-font-weight: $--font-weight-medium;

//Buttons border-radius
$--button-border-radius: $--border-radius-base;
$--button-border-radius-custom: $--border-radius-custom;

//Buttons offset
$--button-padding-vertical: 0;
$--button-padding-horizontal-small: 16px;
$--button-padding-horizontal-medium: 24px;
$--button-padding-horizontal: $--button-padding-horizontal-medium;

$--button-medium-padding-vertical: $--button-padding-vertical;
$--button-medium-padding-horizontal: $--button-padding-horizontal-medium;

$--button-small-border-radius: $--button-border-radius;
$--button-small-padding-vertical: $--button-padding-vertical;
$--button-small-padding-horizontal: $--button-padding-horizontal-small;

$--button-mini-border-radius: #{$--border-radius-base - 1};
$--button-mini-padding-vertical: 7px;
$--button-mini-padding-horizontal: 15px;

$--button-hover-tint-percent: 100%;
$--button-active-shade-percent: 100%;

/* Input
-------------------------- */
$--input-width: 200px;
$--input-height: 40px;
$--input-border-radius: 4px;
$--input-max-width: 100%;
$--input-medium-height: $--input-height;
$--input-small-height: 40px;
$--input-mini-height: 28px;
$--input-padding-x: 12px;

/* Table
-------------------------- */
$--table-loading-size: 24px;
$--table-row-border-radius: $--border-radius-small;

/* Radio
-------------------------- */
$--radio-font-weight: $--font-weight-regular;
$--radio-input-height: 26px;
$--radio-input-width: 26px;
$--radio-input-border-radius: $--border-radius-circle;

$--radio-bordered-height: 40px;
$--radio-bordered-padding: 12px 20px 0 10px;
$--radio-bordered-medium-padding: 10px 20px 0 10px;
$--radio-bordered-small-padding: 8px 15px 0 10px;
$--radio-bordered-mini-padding: 6px 15px 0 10px;
$--radio-bordered-medium-input-height: 14px;
$--radio-bordered-medium-input-width: 14px;
$--radio-bordered-medium-height: 36px;
$--radio-bordered-small-input-height: 12px;
$--radio-bordered-small-input-width: 12px;
$--radio-bordered-small-height: 32px;
$--radio-bordered-mini-input-height: 12px;
$--radio-bordered-mini-input-width: 12px;
$--radio-bordered-mini-height: 28px;

/* Checkbox
-------------------------- */
$--checkbox-font-weight: $--font-weight-regular;
$--checkbox-input-height: 25px;
$--checkbox-input-width: 25px;
$--checkbox-input-border-radius: $--border-radius-circle;
$--checkbox-border-radius: $--border-radius-small;
$--checkbox-bordered-height: 40px;
$--checkbox-bordered-padding: 9px 20px 9px 10px;
$--checkbox-bordered-medium-padding: 7px 20px 7px 10px;
$--checkbox-bordered-small-padding: 5px 15px 5px 10px;
$--checkbox-bordered-mini-padding: 3px 15px 3px 10px;
$--checkbox-bordered-medium-input-height: 14px;
$--checkbox-bordered-medium-input-width: 14px;
$--checkbox-bordered-medium-height: 36px;
$--checkbox-bordered-small-input-height: 12px;
$--checkbox-bordered-small-input-width: 12px;
$--checkbox-bordered-small-height: 32px;
$--checkbox-bordered-mini-input-height: 12px;
$--checkbox-bordered-mini-input-width: 12px;
$--checkbox-bordered-mini-height: 28px;

/* Select
-------------------------- */
$--select-option-height: 40px;
$--select-group-height: 40px;
$--select-dropdown-max-height: 274px;
$--select-dropdown-padding: 6px 0;
$--select-dropdown-empty-padding: 10px 0;
$--select-dropdown-border: 0;

/* Header
  --------------------------*/
$--header-height: 80px;
$--header-padding: 0 56px;

/* Wizard
  --------------------------*/
$--wizard-controls-offset-x: 95px;
$--wizard-controls-sm-offset-x: 40px;

/* Footer
--------------------------*/
$--footer-padding: 0 56px;

// Width
$--main-min-width: 1300px;
$--main-forms-container: 576px;

//Height
$--collapse-popup-inner-height: 520px;

// Paddings
$--main-padding: 0;

$--main-padding-y: 56px;
$--main-padding-x: 56px;

$--main-padding-y-mobile: 20px;

$--main-padding-middle-y: 32px;
$--main-padding-middle-x: 32px;

$--main-padding-middle-y-mobile: 16px;
$--main-padding-middle-x-mobile: 16px;

// Margins
$--main-margin-top: 56px;
$--main-margin-bottom: 56px;
$--main-margin-left: 56px;
$--main-margin-right: 56px;

$--offset-y-xl: 48px;

// Caption
$--caption-margin: 40px;

/* Steps
--------------------------*/
$--steps-border-radius: 4px;
$--steps-padding: 20px;

/* Dialog
-------------------------- */
$--dialog-font-line-height: 24px;
$--dialog-padding-primary: 20px;

/* Card
--------------------------*/
$--card-border-radius: 8px;
$--card-padding: 32px;
$--card-padding-xs: 8px;

/* Popover
-------------------------- */
$--popover-padding: 24px;

$--popover-arrow-size: 6px;
$--popover-padding-large: 18px 20px;

/* Pagination
-------------------------- */
$--pagination-border-radius: 0;
$--pagination-button-width: 24px;
$--pagination-button-height: 24px;

/* Tag
-------------------------- */
$--tag-padding: 0 27px;
$--tag-border-radius: 20px;
$--tag-info-color: #586174;//TODO: change to CSS var, remove mix(), $--color-gray-40
$--tag-primary-color: $--color-primary;

$--tag-success-color: $--color-success;

$--tag-warning-color: $--color-warning;

$--tag-danger-color: $--color-danger;

/* Charts
--------------------------*/
$--scale-chart-colors: (
    first,
    second,
    third,
    fourth,
    others
);

/* Collapse
--------------------------*/
$--collapse-header-height: 47px;
$--collapse-header-padding: 15px 24px;

/* Transition
--------------------------*/
$--all-transition: all .3s cubic-bezier(.645,.045,.355,1);
$--fade-transition: opacity 300ms cubic-bezier(0.23, 1, 0.32, 1);
$--fade-linear-transition: opacity 200ms linear;
$--md-fade-transition: transform 300ms cubic-bezier(0.23, 1, 0.32, 1), opacity 300ms cubic-bezier(0.23, 1, 0.32, 1);
$--md-height-fade-transition: max-height 300ms cubic-bezier(0.23, 1, 0.32, 1), opacity 300ms cubic-bezier(0.23, 1, 0.32, 1);
$--border-transition-base: border-color .2s cubic-bezier(.645,.045,.355,1);
$--color-transition-base: color .2s cubic-bezier(.645,.045,.355,1);

/* Tooltip
-------------------------- */
$--tooltip-arrow-size: 6px;
$--tooltip-padding: 10px;
$--tooltip-line-height: 21px;

/* MessageBox
-------------------------- */
$--msgbox-width: 420px;
$--msgbox-border-radius: 4px;
$--msgbox-padding-primary: 15px;

/* Message
-------------------------- */
$--message-min-width: 380px;
$--message-padding: 15px 15px 15px 20px;
$--message-close-size: 16px;

/* Loading
--------------------------*/
$--loading-spinner-size: 42px;
$--loading-fullscreen-spinner-size: 50px;

/* Notification
-------------------------- */
$--notification-width: 480px;
$--notification-padding: 14px 26px 14px 13px;
$--notification-radius: 0;
$--notification-icon-size: 24px;
$--notification-close-font-size: $--message-close-size;
$--notification-group-margin-left: 13px;
$--notification-group-margin-right: 20px;

/* Switch
-------------------------- */
$--switch-core-border-radius: 10px;
$--switch-width: 40px;
$--switch-height: 20px;
$--switch-button-size: 16px;

/* Alert
//TODO: check if we use it
-------------------------- */
$--alert-padding: 8px 16px;
$--alert-border-radius: $--border-radius-base;
$--alert-success-color: $--color-green-4;
$--alert-warning-color: $--color-yellow-1;
$--alert-danger-color: $--color-red-4;
$--alert-icon-size: 16px;
$--alert-icon-large-size: 28px;

/* Break-point
--------------------------*/
$--sm: 768px;
$--md: 1024px;
$--lg: 1200px;
$--xl: 1920px;

$--breakpoints: (
    'xs' : (max-width: $--sm - 1),
    'sm' : (min-width: $--sm),
    'md' : (min-width: $--md),
    'lg' : (min-width: $--lg),
    'xl' : (min-width: $--xl)
);

/* Images
-------------------------- */
$imgurl: '../assets/';
