.stylemap {
  margin: 0 auto;
  padding: 0 25px;

  &__section {
    margin-bottom: 60px;
  }

  &__title {
    margin: 45px 0 25px;
    border-left: 2px solid var(--color-text-med);
    padding-left: 5px;
  }

  &__icons {
    .text-label-sm {
      display: block;
      margin-bottom: 15px;
    }

    &-wrap {
      display: flex;
      align-items: flex-start;
      flex-wrap: wrap;
      margin-bottom: 30px;
    }
  }

  &__icon {
    width: 60px;
    height: 60px;
    background-color: var(--border-color-base);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 3px;
    margin-bottom: 3px;

    svg {
      width: 30px;
      height: 30px;
      margin: 0;
    }

    .icon-chat-bubble {
      stroke: var(--color-text-med);
    }
  }

  &-type {
    &__row {
      padding: 25px 5px;
      border-bottom: 1px solid var(--color-text-sm-low);

      div {
        color: var(--color-text-high);
      }

      span,
      strong {
        user-select: all;
        color: var(--color-text-sm-low);
      }
    }
  }

  &-buttons {
    &__row {
      h3 {
        margin: 25px 0;
      }
    }
  }

  &-inputs {
    &__row {
      margin: 25px 0;
    }

    .text-label-sm {
      display: block;
      margin-bottom: 15px;
    }
  }

  &-components {
    &__row {
      margin: 25px 0;

      .campaign-sidebar {
        position: relative;
        left: auto;
      }
    }

    .text-label-sm {
      display: block;
      margin: 20px 0;
    }
  }

  &-popups {
    &__item {
      position: relative;
      margin-bottom: 20px;

      .el-button {
        width: 300px;
      }
    }
  }
}

.mockups-home {
  a {
    &:hover {
      color: lighten(#000, 10%);
    }
  }
}

.btn-block {
  width: 100%;

  & + .btn-block {
    margin: 16px 0 0;
  }
}

.color-system {
  display: flex;
  align-items: flex-start;
  text-align: center;

  &__col {
    border: 1px solid black;

    &:not(:last-of-type) {
      margin-right: 1px;
    }
  }

  .title {
    user-select: text;
    border-bottom: 1px solid black;
    padding: 8px;
  }

  .box {
    min-width: 120px;
    height: 40px;

    &:not(:last-of-type) {
      margin-bottom: 1px;
    }
  }
}

.font-size-parameters {
  dl {
    display: grid;
    grid-template-columns: 120px 1fr;
    color: var(--color-text-sm-low);
  }

  dt {
    font-weight: 500;
    margin-bottom: 3px;
  }

  dd {
    padding-left: 12px;
    margin-left: 0;
    color: var(--color-text-lg-low);
  }

  .font-size {
    display: none;

    &--global {
      display: block;
    }

    &--xl {
      @media only screen and (min-width: 1600px) {
        display: block;
      }
    }

    &--lg {
      @media only screen and (min-width: 1025px) {
        display: block;
      }

      @media only screen and (min-width: 1600px) {
        display: none;
      }
    }

    &--md {
      @media only screen and (min-width: 769px) {
        display: block;
      }

      @media only screen and (min-width: 1025px) {
        display: none;
      }
    }

    &--sm {
      @media only screen and (min-width: 376px) {
        display: block;
      }

      @media only screen and (min-width: 769px) {
        display: none;
      }
    }

    &--xs {
      display: block;

      @media only screen and (min-width: 376px) {
        display: none;
      }
    }
  }
}
