<template>
  <layout :state="screenState">
    <template #primary-column>
      <router-view />
    </template>
    <template #suplemental-column>
      <router-view
        name="details"
      />
    </template>
  </layout>
</template>

<script>
  import Layout from 'Foundation/layouts/single-page/Layout';

  export default {
    /**
     * Name
     */
    name: 'TheIndex',

    /**
     * Components
     */
    components: {
      Layout
    },

    /**
     * Component data
     */
    data () {
      return {
        reportModalVisible: false,
        screenState: 'default',
        currentId: null,
      }
    },

    // TODO-HULU-3263 p1.
    watch: {
      '$route' (to) {
        if (to.name === 'reports.create' || to.name === 'reports.show') {
          this.screenState = 'details-default';
        }

        if (to.name === 'reports.index') {
          this.screenState = 'default';
        }
      }
    },

    // TODO-HULU-3263 p1.
    created () {
      if (this.$router.currentRoute.name === 'reports.create' ||
        this.$router.currentRoute.name === 'reports.show'
      ) {
        this.screenState = 'details-default';
      }
    },
  };
</script>
