<template>
  <div>
    <base-modal
      :body-loading="loading"
      custom-class="el-dialog--actions-column-reverse broadcast-popup"
      width="725px"
      :visible="true"
      :before-close="handleClose"
      @close="close"
    >
      <!-- TITLE -->
      <template slot="title">
        <div class="title">
          <span class="el-dialog__title">{{ label }}</span>
          <el-button
            v-if="allowClone"
            type="text"
            @click="duplicate"
          >
            <icon
              value="copy"
              transparent="stroke"
            />
            {{ $trans('broadcast::actions.clone') }}
          </el-button>
        </div>
      </template>
      <!-- CONTENT -->
      <broadcast-form
        ref="form"
        :edit-enabled="!broadcastScheduleButtonEnabled"
        @close="close"
        @save="$emit('save')"
      />
      <!-- BUTTONS -->
      <div class="default-actions">
        <button-cancel
          type="primary"
          @cancel="close"
        />
        <button-submit
          v-if="broadcastSaveButtonEnabled"
          @submit="saveBroadcast"
        />
        <button-submit
          v-if="broadcastScheduleButtonEnabled"
          :submit-label="$trans('broadcast::labels.schedule')"
          @submit="scheduleBroadcast"
        />
        <button-submit
          v-if="broadcastUnscheduleButtonEnabled"
          :submit-label="$trans('broadcast::labels.unschedule')"
          @submit="unscheduleBroadcast"
        />
        <div class="exta-actions">
          <button-submit
            v-if="broadcastSendTestEmailButtonEnabled"
            :submit-label="$trans('broadcast::actions.send_email_button')"
            @submit="initTestEmailModal()"
          />
          <button-submit
            v-if="broadcastSendNowButtonEnabled"
            :submit-label="$trans('broadcast::actions.send_now_button')"
            @submit="initSendNowModal()"
          />
        </div>
      </div>
    </base-modal>
    <action-confirmation
      v-loading="confirmationModalLoading"
      width="569px"
      :visible.sync="showConfirmModal"
      :title="confirmationModalTitle"
      :submit-label="confirmationModalSubmitLabel"
      :cancel-label="confirmationModalCancelLabel"
      :warning-message="confirmationModalWarningMessage"
      :notice-message="confirmationModalNoticeMessage"
      @submit="confirmationModalSubmitHandler"
      @cancel="confirmationModalCancelHandler"
    >
      <text-field
        v-if="showInputTestEmailModal"
        ref="name"
        v-model="testEmail"
        :label="$trans('broadcast::labels.test_email.label')"
        :placeholder="$trans('broadcast::labels.test_email.placeholder')"
        name="test_email"
        size="medium"
        :validation="validationRules.broadcast.test_email"
        validate-on="none"
      />
    </action-confirmation>
  </div>
</template>

<script>
  import Visible from 'Foundation/mixins/Visible';
  import BroadcastForm from 'Modules/broadcast/components/index/forms/BroadcastForm';
  import ButtonCancel from 'Foundation/components/layout/modal/ButtonCancel';
  import ButtonSubmit from 'Foundation/components/layout/modal/ButtonSubmit';
  import { mapActions, mapState } from 'vuex';
  import ActionConfirmation from 'Foundation/components/modals/ActionConfirmation';
  import BaseModal from 'Foundation/components/layout/modal/BaseModal';
  import { mapFields } from 'vuex-map-fields';
  import { TextField } from 'Foundation/components/form';
  import ConfirmationModal from 'Modules/broadcast/components/modals/mixins/ConfirmationModal';
  import Icon from 'Foundation/components/icons/Icon';

  export default {
    /**
     * Name.
     */
    name: 'BroadcastModal',

    /**
     * Components.
     */
    components: {
      BroadcastForm,
      BaseModal,
      ButtonCancel,
      ButtonSubmit,
      ActionConfirmation,
      Icon,
      TextField
    },

    /**
     * Mixins.
     */
    mixins: [
      Visible,
      ConfirmationModal
    ],

    /**
     * Data properties.
     */
    data() {
      return {
        showConfirmModal: false,
        typeConfirmModal: null,
      }
    },

    /**
     * Computed properties
     */
    computed: {
      /**
       * Modal label
       */
      label () {
        return this.broadcastData.id ?
          this.$trans('broadcast::labels.update_broadcast') :
          this.$trans('broadcast::labels.create_broadcast');
      },

      /**
       * Map fields.
       */
      ...mapFields('broadcast', ['testEmail']),

      /**
       * Map state
       */
      ...mapState('broadcast', [
        'getBroadcastParamsPending',
        'showBroadcastPending',
        'storeBroadcastPending',
        'updateBroadcastPending',
        'scheduleBroadcastPending',
        'unscheduleBroadcastPending',
        'cloneBroadcastPending',
        'sendNowBroadcastPending',
        'sendTestBroadcastPending',
        'broadcastData',
        'initialData',
        'states',
        'paramsLoaded',
      ]),

      /**
       * Show submit button.
       */
      broadcastSaveButtonEnabled () {
        return this.broadcastData.id ? this.states['can_update'] : this.$hasPermission('create_broadcast');
      },

      /**
       * Show schedule button.
       */
      broadcastScheduleButtonEnabled () {
        return this.broadcastData.id ? this.states['can_schedule'] : this.$hasPermission('create_broadcast');
      },

      /**
       * Show schedule button.
       */
      broadcastUnscheduleButtonEnabled () {
        return this.broadcastData.id ? this.states['can_unschedule'] : false;
      },

      /**
       * Show send test email button.
       */
      broadcastSendTestEmailButtonEnabled () {
        return this.broadcastData.id ? this.states['can_send_test_email'] : false;
      },

      /**
       * Show send now button.
       */
      broadcastSendNowButtonEnabled () {
        return this.broadcastData.id ? this.states['can_send_now'] : false;
      },

      /**
       * Show loader.
       */
      loading () {
        const loadingParams = [
          'getBroadcastParamsPending',
          'showBroadcastPending',
          'storeBroadcastPending',
          'updateBroadcastPending',
          'scheduleBroadcastPending',
          'unscheduleBroadcastPending',
          'cloneBroadcastPending',
        ];
        let value = false;
        loadingParams.forEach((item) => {
          if (this[item] && !value){
            value =  true;
          }
        });

        return value;
      },

      /**
       * Allow clone broadcast.
       */
      allowClone () {
        return this.broadcastData.id && this.$hasPermission('clone_broadcast');
      },
    },

    /**
     * Created
     */
    async created () {
      if (!this.paramsLoaded) {
        await this.getParams();
        this.$refs['form'].setParams()
      }

      if (this.$router.currentRoute.name === 'broadcast.show') {
        const params = this.$router.currentRoute.params;
        this.$call(this.show(Number(params.broadcastId)));
      }
    },

    /**
     * Methods
     */
    methods: {
      /**
       * Map actions
       */
      ...mapActions('broadcast', ['unschedule', 'getParams', 'show', 'clone', 'testEmailBroadcast', 'sendNow']),

      /**
       * On submit method
       */
      saveBroadcast () {
        this.$refs['form'].saveBroadcast();
      },

      /**
       * On cancel handler.
       */
      cancel() {
        this.showConfirmModal = false;
        this.$emit('cancel');
      },

      /**
       * Schedule broadcast.
       */
      async scheduleBroadcast () {
        if (!this.broadcastData.id) {
          await this.$refs['form'].saveBroadcast();
        }
        await this.$refs['form'].scheduleBroadcast();
      },

      /**
       * Schedule broadcast.
       */
      async unscheduleBroadcast () {
        await this.$call(this.unschedule(this.broadcastData.id));
        this.$emit('save');
      },

      /**
       * Clone broadcast.
       */
      duplicate () {
        this.$clearErrors();

        this.$call(this.clone(this.broadcastData.id))
        .then(({data}) => {
          this.$router.replace({ name: 'broadcast.show', params: {broadcastId: data.data.id}});
          this.$emit('save');
        })
        .catch((error) => {
          this.$notify.error(error.data.message);
          return Promise.reject(error);
        })
      },

      /**
       * Send test broadcast.
       */
      sendTestEmail () {
        this.showConfirmModal = true;

        this.$call(this.testEmailBroadcast({
          id: this.broadcastData.id,
          testEmail: this.testEmail
        }))
        .then(() => {
          this.showConfirmModal = false;
          this.typeConfirmModal = null;
        })
        .catch(() => {
          return;
        })
      },

      /**
       * Send now broadcast.
       */
      sendNowHandler () {
        this.showConfirmModal = true;

        this.$call(this.sendNow(this.broadcastData.id))
          .then(() => {
            this.$emit('save');
          })
          .catch((error) => {
            return Promise.reject(error);
          })
          .finally(() => {
            this.showConfirmModal = false;
            this.typeConfirmModal = null;
          })
      }
    },
  }
</script>
