<template>
  <div />
</template>
<script>
import { mapFields } from 'vuex-map-fields';
import { mapActions, mapMutations } from 'vuex';
import ReportForm from 'Modules/report/components/forms/mixins/ReportForm';

export default {
  /**
   * Name.
   */
  name: 'AdvertisersForm',

  /**
   * Mixins.
   */
  mixins: [
    ReportForm
  ],

  /**
   * Data.
   */
  data () {
    return {
      scope: '__advertisers__',
    }
  },

  /**
   * Computed properties
   */
  computed: {
    /**
     * Map frequency list
     */
    ...mapFields('report', { formData: 'adminReports.advertisers'}),
  },

  /**
   * Component methods
   */
  methods: {
    /**
     * Map actions
     */
    ...mapActions('report', {
      store: 'storeAdvertisersReport',
      show: 'showAdvertisersReport',
      update: 'updateAdvertisersReport',
    }),

    /**
     * Map mutations.
     */
    ...mapMutations('report', { clear: 'clearAdvertisersReport' }),
  },
}
</script>
