<template>
  <div>
    <div class="form-section">
      <div class="custom-label">
        {{ $trans('report::labels.reportModal.advertiser') }}
      </div>
      <div class="custom-description">
        {{ $trans('report::labels.reportModal.select_an_advertiser') }}
      </div>
      <advertisers-select
        v-if="$hasPermission('list_advertiser')"
        v-model="formData.advertisers"
        name="advertisers"
        :label="$trans('report::labels.advertiser')"
        :placeholder="$trans('report::labels.advertiser_placeholder')"
        :scope="scope"
        size="large"
      />
    </div>
    <div class="form-section">
      <date-range
        :value="formData.dateRange"
        :scope="scope"
        @save="setDateRange"
      />
    </div>
  </div>
</template>

<script>
import { mapFields } from 'vuex-map-fields';
import { mapActions, mapMutations } from 'vuex';
import ReportForm from 'Modules/report/components/forms/mixins/ReportForm';
import DateRange from '../components/DateRangeComponent';
import AdvertisersSelect from '../../../../advertiser/components/common/form/AdvertisersSelect';

export default {
  /**
   * Name.
   */
  name: 'DownloadForm',

  /**
   * Components.
   */
  components: {
    DateRange,
    AdvertisersSelect
  },

  /**
   * Mixins.
   */
  mixins: [
    ReportForm
  ],

  /**
   * Data.
   */
  data () {
    return {
      scope: 'download',
    }
  },

  /**
   * Computed properties
   */
  computed: {
    /**
     * Map frequency list
     */
    ...mapFields('report', {
      formData: 'adminReports.download',
      defaultAdvertiser: 'defaultAdvertiser'
    }),
  },

  /**
   * Component methods
   */
  methods: {
    /**
     * Map actions
     */
    ...mapActions('report', {
      store: 'storeDownloadReport',
      show: 'showDownloadReport',
      update: 'updateDownloadReport',
    }),

    /**
     * Map mutations.
     */
    ...mapMutations('report', { clear: 'clearDownloadReport' }),
  },
}
</script>
