<template>
  <div>
    <div class="form-section">
      <delivery-settings
        v-model="formData.delivery"
        :email-now="false"
        :download="true"
      />
    </div>
    <div class="form-section">
      <date-range
        v-if="canShowDateRange"
        :value="formData.dateRange"
        @save="setDateRange"
      />
    </div>
  </div>
</template>

<script>
import { mapFields } from 'vuex-map-fields';
import { mapActions, mapMutations } from 'vuex';
import ReportForm from 'Modules/report/components/forms/mixins/ReportForm';
import DeliverySettings from '../components/DeliverySettings';
import DateRange from '../components/DateRangeComponent';

export default {
  /**
   * Name.
   */
  name: 'MissingAdsForm',

  /**
   * Components.
   */
  components: {
    DateRange,
    DeliverySettings
  },

  /**
   * Mixins.
   */
  mixins: [
    ReportForm
  ],

  /**
   * Data.
   */
  data () {
    return {
      scope: '__missing_ads__',
    }
  },

  /**
   * Computed properties
   */
  computed: {
    /**
     * Map frequency list
     */
    ...mapFields('report', { formData: 'adminReports.missingAds'}),

    /**
     * Can show dateRange block
     */
    canShowDateRange () {
      if (this.formData.delivery) {
        return this.formData.delivery.type === 'downloadable'
      }

      return false;
    }
  },

  /**
   * Component methods
   */
  methods: {
    /**
     * Map actions
     */
    ...mapActions('report', {
      store: 'storeMissingAdsReport',
      show: 'showMissingAdsReport',
      update: 'updateMissingAdsReport'
    }),

    /**
     * Map mutations
     */
    ...mapMutations('report', { clear: 'clearMissingAdsReport' }),
  },
}
</script>
