<template>
  <div>
    <div class="form-section">
      <date-range
        :value.sync="formData.dateRange"
        @save="setDateRange"
      />
    </div>
  </div>
</template>

<script>
import { mapFields } from 'vuex-map-fields';
import { mapActions, mapMutations } from 'vuex';
import ReportForm from 'Modules/report/components/forms/mixins/ReportForm';
import DateRange from '../components/DateRangeComponent';

export default {
  /**
   * Name.
   */
  name: 'PendingCampaignsForm',

  /**
   * Components.
   */
  components: {
    DateRange,
  },

  /**
   * Mixins.
   */
  mixins: [
    ReportForm
  ],

  /**
   * Data.
   */
  data () {
    return {
      scope: '__pending_campaigns__',
    }
  },

  /**
   * Computed properties
   */
  computed: {
    /**
     * Map frequency list
     */
    ...mapFields('report', { formData: 'adminReports.pendingCampaigns'}),
  },

  /**
   * Component methods
   */
  methods: {
    /**
     * Map actions
     */
    ...mapActions('report', {
      store: 'storePendingCampaignsReport',
      show: 'showPendingCampaignsReport',
      update: 'updatePendingCampaignsReport'
    }),

    /**
     * Map mutations.
     */
    ...mapMutations('report', { clear: 'clearPendingCampaignsReport' }),
  },
}
</script>
