<template>
  <div>
    <div class="form-section">
      <div class="custom-label">
        {{ $trans('report::labels.reportModal.advertiser') }}
      </div>
      <div class="custom-description">
        {{ $trans('report::labels.reportModal.select_an_advertiser') }}
      </div>
      <advertisers-select
        v-if="$hasPermission('list_advertiser')"
        v-model="formData.advertisers"
        name="advertisers"
        :label="$trans('report::labels.advertiser')"
        :default-option="defaultAdvertiser"
        :placeholder="$trans('report::labels.advertiser_placeholder')"
        :scope="scope"
        size="large"
      />
    </div>
    <div class="form-section">
      <delivery-settings
        v-model="formData.delivery"
        only-schedule
        @update="setDeliveryData"
      />
    </div>
  </div>
</template>

<script>
import { mapFields } from 'vuex-map-fields';
import { mapActions, mapMutations } from 'vuex';
import ReportForm from 'Modules/report/components/forms/mixins/ReportForm';
import AdvertisersSelect from '../../../../advertiser/components/common/form/AdvertisersSelect';
import DeliverySettings from '../components/DeliverySettings';

export default {
  /**
   * Name.
   */
  name: 'ScheduledForm',

  /**
   * Components.
   */
  components: {
    DeliverySettings,
    AdvertisersSelect
  },

  /**
   * Mixins.
   */
  mixins: [
    ReportForm
  ],

  /**
   * Data.
   */
  data () {
    return {
      scope: 'scheduled',
    }
  },

  /**
   * Computed properties
   */
  computed: {
    /**
     * Map frequency list
     */
    ...mapFields('report', {
      formData: 'adminReports.scheduled',
      defaultAdvertiser: 'defaultAdvertiser'
    }),
  },

  /**
   * Component methods
   */
  methods: {
    /**
     * Map actions
     */
    ...mapActions('report', {
      store: 'storeScheduledReport',
      show: 'showScheduledReport',
      update: 'updateScheduledReport',
    }),

    /**
     * Map mutations.
     */
    ...mapMutations('report', { clear: 'clearScheduledReport' }),
  },
}
</script>
