<template>
  <div :class="`message message--${type}`">
    <div
      v-if="iconEnabled"
      class="message__icon"
    >
      <icon
        v-if="triangleIcon"
        value="alert-triangle"
        :type="type"
        :width="35"
        :height="35"
      />
      <icon
        v-else
        value="alert-circle"
        transparent="stroke"
        :type="type"
        :width="35"
        :height="35"
      />
    </div>
    <h3
      v-if="title"
      class="message-title"
    >
      {{ title }}
    </h3>
    <p
      v-if="formattedMessage"
      class="message__descr"
      v-html="formattedMessage"
    />
    <p
      v-else
      class="message__descr"
    >
      <slot />
    </p>
  </div>
</template>

<script>
  import Icon from 'Foundation/components/icons/Icon';

  export default {
    /**
     * Name of the component.
     */
    name: 'Message',

    /**
     * Child components.
     */
    components: {
      Icon,
    },

    /**
     * Properties.
     */
    props: {
      /**
       * Title of the message.
       */
      title: {
        type: String,
        default: '',
      },

      /**
       * Type of message.
       */
      type: {
        type: String,
        default: 'default',
        validator (value) {
          return ['default', 'success', 'warning', 'danger'].indexOf(value) !== -1;
        },
      },

      /**
       * Formatted message. Use this property if you need to show formatted message.
       * It has higher priority over "slotted" message.
       */
      formattedMessage: {
        type: String,
        default: '',
      },

      /**
       * If triangle icon should be used
       */
      triangleIcon: {
        type: Boolean,
        default: false,
      }
    },

    /**
     * Computed properties.
     */
    computed: {
      /**
       * True if icon should be displayed.
       *
       * @returns {boolean}
       */
      iconEnabled () {
        return this.type !== 'default';
      },
    },
  };
</script>
