<template>
  <transition name="el-notification-fade">
    <div
      v-show="visible"
      :class="['el-notification', customClass, horizontalClass]"
      :style="positionStyle"
      role="alert"
      @mouseenter="clearTimer()"
      @mouseleave="startTimer()"
      @click="click"
    >
      <icon
        v-if="triangleIcon"
        value="alert-triangle"
        type="warning"
        :width="35"
        :height="35"
      />
      <i
        v-if="type || iconClass"
        class="el-notification__icon"
        :class="[ typeClass, iconClass ]"
      />
      <div
        class="el-notification__group"
        :class="{ 'is-with-icon': typeClass || iconClass }"
      >
        <h2
          class="el-notification__title"
          v-text="title"
        />
        <div
          v-show="message"
          class="el-notification__content"
        >
          <slot>
            <p v-if="!dangerouslyUseHTMLString">
              {{ message }}
            </p>
            <p
              v-else
              v-html="message"
            />
          </slot>
        </div>
        <div
          v-if="showClose"
          class="el-notification__closeBtn el-icon-close"
          @click.stop="close"
        />
      </div>
    </div>
  </transition>
</template>

<script type="text/babel">

import Notification from 'element-ui/packages/notification/src/main.vue'
import Icon from 'Foundation/components/icons/Icon';

export default {

  /**
   * Name of the component.
   */
  name: 'Notification',

  /**
   * Child components.
   */
  components: {
    Icon,
  },

  /**
   * Parent component.
   */
  extends: Notification,
};
</script>

