<template>
  <el-popover
    :content="content"
    :title="title"
    offset="2"
    placement="left-end"
    trigger="hover"
    width="344"
  >
    <p
      v-for="paragraph in paragraphs"
      :key="paragraph"
    >
      {{ paragraph }}
    </p>
    <el-button
      slot="reference"
      class="button-empty-icon"
    >
      <icon
        value="help-circle"
        :width="18"
        :height="18"
      />
    </el-button>
  </el-popover>
</template>

<script>
  import Icon from 'Foundation/components/icons/Icon';

  export default {
    /**
     * Name of the component.
     */
    name: "Popover",

    /**
     * Child components.
     */
    components: {
      Icon,
    },

    /**
     * Available properties.
     */
    props: {
      /**
       * Title.
       */
      title: {
        type: String,
        default: '',
      },

      /**
       * Content.
       */
      content: {
        type: String,
        default: '',
      },

      /**
       * Paragraphs.
       * Note: Paragraphs have higher priority than content.
       */
      paragraphs: {
        type: Array,
        default: () => [],
      },

    },
  };
</script>
