<template>
  <div
    class="el-form-item"
    :class="{ 'is-error': hasError, 'is-filled': isFilled }"
  >
    <label
      v-if="showLabel"
      :for="name"
      class="el-form-item__label"
    >
      {{ label }}
    </label>
    <div
      v-clickoutside="close"
      class="el-autocomplete"
      aria-haspopup="listbox"
      role="combobox"
      :aria-expanded="suggestionVisible"
      :aria-owns="id"
    >
      <el-input
        ref="input"
        v-validate="validationRules"
        v-bind="[$props, $attrs]"
        autocomplete="none"
        :data-vv-validate-on="validateOn"
        :data-vv-as="validateAs"
        :data-vv-name="name"
        :name="name"
        :data-vv-scope="scope"
        @input="handleChange"
        @focus="handleFocus"
        @blur="handleBlur"
        @clear="handleClear"
        @keydown.up.native.prevent="highlight(highlightedIndex - 1)"
        @keydown.down.native.prevent="highlight(highlightedIndex + 1)"
        @keydown.enter.native="handleKeyEnter"
        @keydown.native.tab="close"
      >
        <template
          v-if="$slots.prepend"
          slot="prepend"
        >
          <slot name="prepend" />
        </template>
        <template
          v-if="$slots.append"
          slot="append"
        >
          <slot name="append" />
        </template>
        <template
          v-if="$slots.prefix"
          slot="prefix"
        >
          <slot name="prefix" />
        </template>
        <template
          v-if="$slots.suffix"
          slot="suffix"
        >
          <slot name="suffix" />
        </template>
      </el-input>
      <el-autocomplete-suggestions
        :id="id"
        ref="suggestions"
        visible-arrow
        :class="[popperClass ? popperClass : '']"
        :popper-options="popperOptions"
        :append-to-body="popperAppendToBody"
        :placement="placement"
      >
        <li
          v-for="(item, index) in suggestions"
          :id="`${id}-item-${index}`"
          :key="index"
          role="option"
          :class="{'highlighted': highlightedIndex === index}"
          :aria-selected="highlightedIndex === index"
          @click="select(item)"
        >
          <slot :item="item">
            {{ item[valueKey] }}
          </slot>
        </li>
      </el-autocomplete-suggestions>
      <div
        v-if="hasError"
        class="el-form-item__error"
      >
        {{ errorText }}
      </div>
    </div>
  </div>
</template>
<script>
import ElAutocomplete from 'element-ui/packages/autocomplete/src/autocomplete';
import Input from "Foundation/components/form/mixins/Input";
import InputProperties from "Foundation/components/form/mixins/InputProperties";
import Validation from "Foundation/components/form/mixins/Validation";

export default {
  /**
   * Component name
   */
  name: 'BaseAutocompleteField',

  /**
   * Extends
   */
  extends: ElAutocomplete,

  /**
   * Mixins.
   */
  mixins: [
    InputProperties,
    Validation,
    Input,
  ],

  /**
   * Props.
   */
  props: {
    /**
     * Count chars when start remote search function.
     */
    countStartRemote: {
      type: Number,
      default: 1
    }
  },

  /**
   * Methods.
   */
  methods: {
    /**
     * Handler change input.
     * Added check countStartRemote property
     * @param value
     */
    handleChange(value) {
      this.$emit('input', value);
      if (value.length < this.countStartRemote) {
        this.suggestionDisabled = true;
        this.suggestions = [];
        return;
      }
      this.suggestionDisabled = false;

      if (!this.triggerOnFocus && !value) {
        this.suggestionDisabled = true;
        this.suggestions = [];
        return;
      }

      this.debouncedGetData(value);
    },

    /**
     * Handler select item.
     * Added reset errors after selected
     * @param item
     */
    select(item) {
      this.$emit('input', item[this.valueKey]);
      this.$emit('select', item);
      // eslint-disable-next-line no-unused-vars
      this.$nextTick(_ => {
        this.suggestions = [];
        this.highlightedIndex = -1;
      });
      this.resetErrors();
    },
  }
};
</script>
