<template>
  <div
    class="el-form-item"
    :class="{ 'is-error': hasError, 'is-filled': isFilled }"
  >
    <label
      v-if="showLabel"
      :for="name"
      class="el-form-item__label"
    >
      {{ label }}
    </label>
    <el-checkbox-group
      v-model="innerValue"
      v-validate="validationRules"
      :data-vv-as="validateAs"
      :data-vv-scope="scope"
      :disabled="disabled"
      :min="min"
      :max="max"
      :name="name"
      :size="size"
      @change="$emit('change')"
    >
      <slot />
    </el-checkbox-group>
    <div
      v-if="hasError"
      class="el-form-item__error"
    >
      {{ errorText }}
    </div>
  </div>
</template>

<script>
  import BaseProperties from './mixins/BaseProperties';
  import Input from './mixins/Input';
  import Validation from './mixins/Validation';

  export default {
    /**
     * Component name.
     */
    name: 'Checkbox',

    /**
     * Validation.
     */
    mixins: [
      BaseProperties,
      Input,
      Validation,
    ],

    /**
     * Props.
     */
    props: {
      /**
       * Is disabled.
       */
      disabled: {
        type: Boolean,
        default: false,
      },
      /**
       * Label text.
       */
      label: {
        type: String,
        default: '',
      },
      /**
       * Min count of checked checkboxes.
       */
      min: {
        type: Number,
        default: 0,
      },
      /**
       * Max count of checked checkboxes.
       */
      max: {
        type: Number,
        default: Number.MAX_SAFE_INTEGER,
      },
      /**
       * Size of checkbox.
       */
      size: {
        type: String,
        default: null,
        validator (value) {
          return [
            'medium', 'small', 'mini',
          ].includes(value);
        },
      },
      /**
       * Is label shown.
       */
      showLabel: {
        type: Boolean,
        default: true,
      },
      /**
       * Value.
       */
      value: {
        type: [String, Number, Boolean, Array],
        default () {
          return '';
        },
      },
    },
  };
</script>
