<template>
  <div
    class="el-form-item base-datetime-field"
  >
    <label
      class="el-form-item__label"
    >
      {{ label }}
    </label>
    <div class="el-form-item__content">
      <div
        :class="{ 'is-error': hasError, 'is-filled': isFilled }"
      >
        <el-date-picker
          v-if="useNative"
          v-model="innerValue"
          :placeholder="placeholder"
          :disabled="disabled"
          :format="format"
          :picker-options="pickerOptions"
          type="datetime"
          align="left"
        />
        <base-date-time
          v-else
          v-model="innerValue"
          :placeholder="placeholder"
          :disabled="disabled"
          :format="format"
          :picker-options="pickerOptions"
          type="datetime"
          align="left"
        />
        <div
          v-if="hasError"
          class="el-form-item__error"
        >
          {{ errorText }}
        </div>
        <div
          v-if="hasDescription"
          class="text-muted"
        >
          {{ description }}
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import Input from './mixins/Input';
  import InputProperties from './mixins/InputProperties';
  import Validation from './mixins/Validation';
  import {DatePicker} from 'element-ui';
  import BaseDateTime from 'Foundation/components/form/extend/datetime/BaseDateTime';

  export default {
    /**
     * Name of the component.
     */
    name: 'DateTimeField',

    /**
     * Components.
     */
    components: {
      BaseDateTime
    },
    /**
     * Extended component.
     */
    extends: DatePicker,

    /**
     * Mixins.
     */
    mixins: [
      Input,
      InputProperties,
      Validation,
    ],

    /**
     * Props.
     */
    props: {
      /**
       * Placeholder.
       */
      placeholder: {
        type: String,
        default: '',
      },

      /**
       * Name.
       */
      name: {
        type: String,
        default: '',
      },

      /**
       * Value format.
       */
      format: {
        type: String,
        default: 'MM/dd/yyyy h:m:s',
      },

      /**
       * Label.
       */
      label: {
        type: String,
        default: '',
      },

      /**
       * Size of input.
       */
      size: {
        type: String,
        default: null,
        validator (value) {
          return [
            'mini', 'small', 'medium',
          ].includes(value);
        },
      },

      /**
       * Input description.
       */
      description: {
        type: String,
        default: '',
      },

      /**
       * Use native element date picker.
       */
      useNative: {
        type: Boolean,
        default: false
      }
    },

    /**
     * Computed.
     */
    computed: {
      /**
       * Has description.
       */
      hasDescription () {
        return Boolean(this.description.length)
      }
    }
  };
</script>
