<template>
  <div
    class="el-form-item"
    :class="{ 'is-error': hasError, 'is-filled': isFilled }"
  >
    <label
      v-if="showLabel"
      :for="name"
      class="el-form-item__label"
    >
      {{ label }}
    </label>
    <div class="upload-creative">
      <el-upload
        ref="file"
        class="upload-creative__input"
        drag
        :show-file-list="false"
        action=""
        :multiple="false"
        :auto-upload="false"
        :on-change="onChange"
        accept="image/png, image/jpeg"
      >
        <div class="el-upload__text">
          <span class="text-label-xs-semibold-caps">{{ $trans('labels.image_upload_hint') }}</span>
        </div>
        <el-button
          class="upload-creative__button"
        >
          {{ $trans('actions.select_file') }}
        </el-button>

        <div v-if="imageUrl">
          <img
            height="100"
            width="100"
            :src="imageUrl"
          >
        </div>
      </el-upload>
    </div>
    <div
      v-if="hasError"
      class="el-form-item__error"
    >
      {{ errorText }}
    </div>
    <input
      ref="imageInput"
      v-model="imageUrl"
      v-validate="isRequired"
      type="hidden"
      :name="name"
      :data-vv-as="validateAs"
      :data-vv-name="name"
      :data-vv-scope="scope"
    >
  </div>
</template>

<script>
  import Input from './Input';

  export default {
    /**
     * Component name
     */
    name: 'ImageUpload',

    /**
     * Extended component.
     */
    extends: Input,

    /**
     * Props
     */
    props: {
      /**
       * Value
       */
      value: {
        type: [File, String],
        default: '',
      },
      /**
       * File list
       */
      fileList: {
        type: Array,
        default: () => [],
      },

      /**
       * Image path
       */
      imagePath: {
        type: String,
        default: '',
      },
    },

    /**
     * Data attributes
     */
    data () {
      return {
        image: null,
      };
    },

    /**
     * Computed properties
     */
    computed: {
      /**
       * Image URL
       */
      imageUrl () {
        if (!this.image && this.imagePath) {
          return this.imagePath;
        }

        if (!this.image) {
          return '';
        }

        return URL.createObjectURL(this.image);
      },

      /**
       * Is image required
       */
      isRequired () {
        return typeof this.validationRules.required !== 'undefined'
          ? { required: true }
          : {};
      },
    },

    /**
     * Watchers
     */
    watch: {
      /**
       * Image path watcher
       */
      imagePath () {
        this.image = '';
      },
    },

    /**
     * Methods
     */
    methods: {
      /**
       * On change image
       */
      onChange (file) {
        this.resetFieldErrors();
        this.validateImage(file);
        this.image = file.raw;
        this.$emit('input', file.raw);
      },

      /**
       * Validate image
       */
      async validateImage (file) {
        const image = new Image();
        const context = this;

        image.onload = async function () {
          file.width = this.width;
          file.height = this.height;
          const result = await context.$validator.verify(file, context.validationRules);
          if (!result.valid) {
            context.addError(result.errors[0]);
          }
        };

        image.onerror = async function () {
          const result = await context.$validator.verify(file, context.validationRules);
          if (!result.valid) {
            context.addError(result.errors[0]);
          }
        };

        image.src = URL.createObjectURL(file.raw);
      },

      /**
       * Reset image
       */
      reset () {
        this.image = '';
      },
    }
  };
</script>
