<template>
  <div
    v-if="showButtons"
    class="input-action"
  >
    <el-button
      class="button--ui-icon"
      :type="typeCancel"
      :size="size"
      :class="classCancel"
      :disabled="disabled"
      @click="rollbackAction"
    >
      <slot name="cancelSlot">
        <icon
          value="close"
          :height="13"
        />
      </slot>
    </el-button>

    <el-button
      class="button--ui-icon"
      :type="typeSubmit"
      :size="size"
      :class="classSubmit"
      :disabled="disabled"
      @click="submitAction"
    >
      <slot name="submitSlot">
        <icon
          value="check"
          lightness="light"
          :height="13"
        />
      </slot>
    </el-button>
  </div>
</template>

<script>

import Icon from 'Foundation/components/icons/Icon';

export default {
  /**
   * Name
   */
  name: "InputAction",

  /**
   * Child components.
   */
  components: {
    Icon
  },

  /**
   * Props
   */
  props: {
    /**
     * Class Cancel
     */
    classCancel: {
      type: [String],
      default: '',
    },

    /**
     * Class Submit
     */
    classSubmit: {
      type: [String],
      default: '',
    },

    /**
     * Type cancel button
     */
    typeCancel: {
      type: [String],
      default: '',
    },

    /**
     * Type submit button
     */
    typeSubmit: {
      type: [String],
      default: '',
    },

    /**
     * show Action Buttons
     */
    showButtons: {
      type: [Boolean],
      default: true,
    },

    /**
     * disabled buttons
     */
    disabled: {
      type: [Boolean],
      default: true,
    },

    /**
     * Size buttons
     */
    size: {
      type: String,
      default: 'medium',
      validator (value) {
        return [
          'medium', 'small', 'mini',
        ].includes(value);
      },
    },
  },

  /**
   * Methods.
   */
  methods: {
    /**
     *  revert action
     */
    rollbackAction(event) {
      this.$emit('rollbackAction', event);
    },

    /**
     * Confirm action
     */
    submitAction(event) {
      this.$emit('submitAction', event);
    }
  }
}
</script>

