<template>
  <div
    class="el-form-item"
    :class="{ 'is-error': hasError, 'is-filled': isFilled }"
  >
    <label
      v-if="showLabel"
      :for="name"
      class="el-form-item__label"
    >
      {{ label }}
    </label>
    <div class="el-form-item__content">
      <el-input
        ref="input"
        v-model="innerValue"
        v-mask="mask"
        v-validate.disable="validationRules"
        :data-vv-validate-on="validateOn"
        :autocomplete="autocomplete"
        :autofocus="autofocus"
        :clearable="clearable"
        :data-vv-as="validateAs"
        :data-vv-name="name"
        :data-vv-scope="scope"
        :disabled="disabled"
        :label="label"
        :max="max"
        :maxlength="getMaxLength"
        :min="min"
        :minlength="minlength"
        :name="name"
        :placeholder="placeholder"
        :size="size"
        :tabindex="tabindex"
        :type="type"
        @blur="onBlur"
        @focus="onFocus"
        @keyup.enter.native="onEnter"
      >
        <template slot="suffix">
          <slot name="suffix" />
        </template>
      </el-input>
      <div
        v-if="infoText"
        class="info-text"
      >
        {{ infoText }}
      </div>
      <div
        v-if="hasError"
        class="el-form-item__error"
      >
        {{ errorText }}
      </div>
    </div>
  </div>
</template>

<script>
  import TextField from './TextField';

  export default {
    /**
     * Component name.
     */
    name: 'PhoneField',
    /**
     * Extended component.
     */
    extends: TextField,
    /**
     * Computed properties.
     */
    computed: {
      /**
       * Extra validation for phone.
       */
      extraValidation () {
        return {
          regex: /^[+]*([0-9() -])*$/,
          min: this.validation.min || this.validationRules.user.phone.min,
          max: this.validation.max || this.validationRules.user.phone.max,
        };
      },

      /**
       * V-mask argument.
       * (Documentation: https://github.com/vuejs-tips/vue-the-mask).
       *
       * @returns {string}
       */
      mask () {
        return '+1 (###) ###-####';
      },
    },
  };
</script>
