<template>
  <el-radio
    :disabled="disabled"
    :label="label"
    :name="name"
    :size="size"
    @change="$emit('change')"
  >
    <slot />
  </el-radio>
</template>

<script>
  export default {
    /**
     * Component name.
     */
    name: 'Radio',

    /**
     * Props.
     */
    props: {
      /**
       * If border should be added.
       */
      border: {
        type: Boolean,
        default: false,
      },
      /**
       * Is component disabled.
       */
      disabled: {
        type: Boolean,
        default: false,
      },
      /**
       * Label text.
       */
      label: {
        type: String,
        default: '',
      },
      /**
       * Native 'name' attribute.
       */
      name: {
        type: String,
        required: true,
      },
      /**
       * Size of radio.
       */
      size: {
        type: String,
        default: null,
        validator (value) {
          return ['medium', 'small', 'mini'].includes(value);
        },
      },
    },
  };
</script>
