<template>
  <div class="el-radio--frame">
    <div class="el-radio__frame">
      <img
        :src="image"
        :alt="alt"
      >
    </div>
    <el-radio
      :disabled="disabled"
      :label="label"
      :name="name"
      :size="size"
      @change="$emit('change')"
    >
      <slot />
    </el-radio>
  </div>
</template>

<script>
  import Radio from './Radio';

  export default {
    /**
     * Component name.
     */
    name: 'RadioImage',

    /**
     * Extended component.
     */
    extends: Radio,

    /**
     * Props.
     */
    props: {
      /**
       * Image description.
       */
      alt: {
        type: String,
        default: null,
      },
      /**
       * Path to image.
       */
      image: {
        type: String,
        default: null,
      },
    },
  };
</script>
