<template>
  <common-select
    ref="base-select-state"
    v-model="innerValue"
    :label="label"
    :name="name"
    autocomplete="none"
    :default-first-option="false"
    :filterable="true"
    :clearable="true"
    :add-query-to-option="false"
    :force-show-clear="true"
    :placeholder="$trans('labels.enter_your_state')"
    size="medium"
    value-key="value"
    @clear="clear"
    @change="change"
  >
    <el-option
      v-for="item in nativeOptions"
      :key="item.value"
      :label="item.label"
      :value="item.value"
    />
  </common-select>
</template>

<script>
  import states from 'Static/us-states.json';
  import Input from "Foundation/components/form/mixins/Input";
  import CommonSelect from "Foundation/components/form/extend/CommonSelect";

  export default {
    /**
     * Component name.
     */
    name: 'SelectState',

    /**
     * Extended component.
     */
    components: {CommonSelect},

    /**
     * Mixins.
     */
    mixins: [
      Input,
    ],

    /**
     * Props.
     */
    props: {
      /**
       * Is select filterable.
       */
      filterable: {
        type: Boolean,
        default: true,
      },

      /**
       * In filterable select choose first option on enter click
       */
      defaultFirstOption: {
        type: Boolean,
        default: true,
      },

      /**
       * Label
       */
      label: {
        type: String,
        default: ''
      },

      /**
       * Field name
       */
      name: {
        type: String,
        default: ''
      },

      /**
       * Field value
       */
      value: {
        type: String,
        default: ''
      }
    },

    /**
     * Computed data.
     */
    data () {
      return {
        firstFiltered: null,
        selectedManually: false,
      }
    },

    /**
     * Computed properties.
     */
    computed: {
      /**
       * Select native options
       */
      nativeOptions () {
        let filteredStates = states;
        return filteredStates.map(state => ({value: state, label: state}));
      }
    },

    /**
     * Component methods
     */
    methods: {
      /**
       * Filter method
       */
      filter (query) {
        this.selectedManually = false;
        this.firstFiltered = null;

        this.selectOptions = this.nativeOptions.filter(option => {
          return option.label.toLowerCase().indexOf(query.toLowerCase()) === 0;
        });

        if (this.selectOptions.length && query) {
          this.firstFiltered = this.selectOptions[0].value;
        }
      },

      /**
       * On dropdown visible event handler
       */
      onVisibleChange (visible) {

        this.$emit('visible-change', visible);

        if (!visible) {
          this.innerValue = this.firstFiltered && !this.selectedManually ? this.firstFiltered : this.innerValue;
        } else {
          this.selectOptions = this.nativeOptions;
        }
      },

      /**
       * On change event handler
       */
      change () {
        this.$emit('change');
        this.selectedManually = true;
      },

      clear () {
        this.$emit('clear');
      }
    },
  };
</script>
