<template>
  <div
    class="el-form-item"
    :class="{ 'is-error': hasError, 'is-filled': isFilled }"
  >
    <label
      v-if="showLabel"
      :for="name"
      class="el-form-item__label"
    >
      {{ label }}
    </label>
    <div class="el-form-item__content">
      <el-select
        ref="select"
        v-model="innerValue"
        v-validate="validationRules"
        auto-complete="chrome-off"
        :allow-create="allowCreate"
        :clearable="clearable"
        :data-vv-as="validateAs"
        :data-vv-scope="scope"
        data-vv-validate-on="change"
        :default-first-option="defaultFirstOption"
        :disabled="disabled"
        :filterable="filterable"
        :filter-method="filter"
        :loading="loading"
        :loading-text="loadingText"
        :name="name"
        :no-data-text="noDataText"
        :no-match-text="noMatchText"
        :placeholder="placeholder"
        :popper-class="popperClass"
        :remote="isRemote"
        :remote-method="remoteMethod"
        :size="size"
        :value-key="valueKey"
        @blur="onBlur"
        @focus="onFocus"
        @change="onChange"
        @clear="onClear"
        @visible-change="onVisibleChange"
      >
        <span>
          <el-option
            v-if="emptyOption"
            :key="null"
            :value="null"
            :label="$trans('components.select.empty_option')"
          />
        </span>
        <el-option
          v-for="option in selectOptions"
          :key="option.value"
          :disabled="isDisabled(option)"
          :label="option.label"
          :value="option.value"
        >
          <slot
            name="option"
            :option="option"
          />
        </el-option>
      </el-select>
    </div>
    <div
      v-if="hasError"
      class="el-form-item__error"
    >
      {{ errorText }}
    </div>
  </div>
</template>

<script>
  import BaseProperties from './mixins/BaseProperties';
  import Input from './mixins/Input';
  import SelectProperties from './mixins/SelectProperties';
  import Validation from './mixins/Validation';

  export default {
    /**
     * Component name.
     */
    name: 'SelectField',

    /**
     * Mixins.
     */
    mixins: [
      BaseProperties,
      Input,
      SelectProperties,
      Validation,
    ],

    /**
     * Props.
     */
    props: {
      /**
       * Is empty option enabled.
       */
      emptyOption: {
        type: Boolean,
        default: false,
      },
    },

    /**
     * Data.
     */
    data () {
      return {
        selectOptions: null,
      }
    },

    /**
     * Computed properties.
     */
    computed: {
      /**
       * Is remote search enabled.
       */
      isRemote () {
        return !!this.remoteMethod;
      },

      /**
       * Select native options (could be redefined in child components)
       */
      nativeOptions () {
        return this.options;
      },
    },

    /**
     * Methods.
     */
    watch: {
      /**
       * Native options watcher.
       */
      nativeOptions (value) {
        this.selectOptions = value;
      },
    },

    /**
     * Mounted hook.
     */
    mounted () {
      this.selectOptions = this.nativeOptions;
      this.setTabIndex();
    },

    updated() {
      this.setTabIndex();
    },

    /**
     * Methods.
     */
    methods: {
      /**
       * Returns true if the option is disabled.
       */
      isDisabled (option) {
        return Object.prototype.hasOwnProperty.call(option, 'disabled') ? option.disabled : false;
      },

      /**
       * On change event handler
       */
      onChange () {
        this.setTabIndex();
        this.$emit('change');
      },

      /**
       * On change event handler
       */
      onClear () {
        this.$emit('clear');
      },

      /**
       * On dropdown visible event handler
       */
      onVisibleChange (visible) {
        this.$emit('visible-change', visible);
      },

      /**
       * Filter method
       */
      filter () {
        return this.filterMethod;
      },

      /**
      * Set correct tabindex property to select
      */
      setTabIndex () {
        if (this.tabIndex) {
          this.$refs.select.$refs.reference.$refs.input.setAttribute('tabIndex', this.tabIndex);
        }
      }
    },
  };
</script>
