<template>
  <div
    class="el-form-item"
    :class="{ 'is-error': hasError, 'is-filled': isFilled }"
  >
    <label
      v-if="showLabel"
      :for="name"
      class="el-form-item__label"
    >
      {{ label }}
      <slot name="tooltip" />
    </label>
    <div class="el-form-item__content">
      <el-input
        ref="input"
        v-model="innerValue"
        v-validate="validationRules"
        :data-vv-validate-on="validateOn"
        :autocomplete="autocomplete"
        :autofocus="autofocus"
        :clearable="clearable"
        :data-vv-as="validateAs"
        :data-vv-name="name"
        :data-vv-scope="scope"
        :disabled="disabled"
        :label="label"
        :max="max"
        :maxlength="getMaxLength"
        :min="min"
        :minlength="minlength"
        :name="name"
        :placeholder="placeholder"
        :size="size"
        :tabindex="tabindex"
        :type="type"
        @blur="onBlur"
        @focus="onFocus"
        @input="onInput"
        @keyup.enter.native="onEnter"
      >
        <template slot="suffix">
          <slot name="suffix" />
        </template>
        <template slot="append">
          <slot name="append" />
        </template>
      </el-input>
      <component
        :is="iconComponent"
        v-if="iconComponent"
        @click.native="iconClick"
      />
      <div
        v-if="infoText"
        class="info-text"
      >
        {{ infoText }}
      </div>
      <div
        v-if="hasError"
        class="el-form-item__error"
      >
        {{ errorText }}
      </div>
    </div>
  </div>
</template>

<script>
  import Input from './Input';
  import { IconEyeCrossed, IconEye } from 'Foundation/components/icons';
  import IconProperties from 'Foundation/components/form/mixins/IconProperties';

  export default {
    /**
     * Component name.
     */
    name: 'TextField',

    /**
     * Components.
     */
    components: { IconEyeCrossed, IconEye },

    /**
     * Extended component.
     */
    extends: Input,

    /**
     * Mixins.
     */
    mixins: [
      IconProperties,
    ],

    /**
     * Props.
     */
    props: {
      /**
       * Info text which will be displayed under input.
       */
      infoText: {
        type: String,
        default: '',
      },
      /**
       * Size of input.
       */
      size: {
        type: String,
        default: null,
        validator (value) {
          return [
            'mini', 'small', 'medium',
          ].includes(value);
        },
      },
    },

    /**
     * Computed props
     */
    computed: {
      /**
       * Max length property. To make possible to override
       * @returns {default.props.maxlength|{default, type}}
       */
      getMaxLength () {
        return this.maxlength;
      },

      /**
       * Returns input element.
       * @returns {HTMLInputElement}
       */
      inputEl () {
        return this.$refs.input.$refs.input;
      },
    },
  };
</script>
