@include b(collapse) {
  --collapse-border-color: var(--color-text-sm-low);
  --collapse-header-fill: var(--fg-offset100);
  --collapse-header-color: var(--color-text-med);
  --collapse-content-fill: var(--fg-offset100);
  --collapse-content-color: var(--color-text-med);
  --collapse-arrow-color: var(--fg-offset60);
  --collapse-header-background-color: var(--bg-base);
  --collapse-header-font-color: var(--color-text-med);
  --collapse-content-background-color: var(--bg-base);
  --collapse-content-font-color: var(--color-text-med);
}
