.el-dropdown-menu,
.el-autocomplete-suggestion {
  --dropdown-menu-box-shadow: var(--box-shadow-light);
  --dropdown-menuItem-hover-fill: var(--bg-base);
  --dropdown-menuItem-color: var(--color-text-sm-low);
  --dropdown-menuItem-hover-color: var(--color-text-med);

  .popper__arrow {
    display: none;
  }
}
