<template>
  <div
    v-if="canPause || canResume"
    v-loading="loading"
  >
    <!-- PAUSE -->
    <stop-action
      v-if="canPause"
      :tooltip="$trans('report::labels.stop_sending')"
      :loading="loading"
      :disabled="loading"
      @click="pause"
    />

    <!-- RESUME -->
    <play-action
      v-if="canResume"
      :loading="loading"
      :disabled="loading"
      :tooltip="$trans('report::labels.resume_sending')"
      @click="resume"
    />
  </div>
</template>

<script>
  import PlayAction from 'Foundation/components/action-icon/PlayAction';
  import StopAction from 'Foundation/components/action-icon/StopAction';
  import { report as api } from '../../../api';

  export default {
    /**
     * Component name.
     */
    name: 'ReportPauseResumeAction',

    /**
     * Child components.
     */
    components: {
      PlayAction,
      StopAction,
    },

    /**
     * Available properties.
     */
    props: {
      report: {
        type: Object,
        required: true,
        default () {
          return {
            id: null,
            states: {},
          };
        },
      },
    },

    /**
     * Reactive data.
     */
    data () {
      return {
        loading: false,
      };
    },

    /**
     * Computed properties.
     */
    computed: {
      /**
       * True if user can pause the report.
       */
      canPause () {
        return this.report.states.can_pause;
      },

      /**
       * True if user can resume the report.
       */
      canResume () {
        return this.report.states.can_resume;
      },
    },

    /**
     * Methods.
     */
    methods: {
      /**
       * Pause the report.
       */
      pause () {
        this.handle(api.pause(this.report.id));
      },

      /**
       * Resume the report.
       */
      resume () {
        this.handle(api.resume(this.report.id));
      },

      /**
       * Pause / resume action handler.
       *
       * @param endpoint
       */
      handle (endpoint) {
        this.loading = true;

        this.$call(endpoint)
          .then(({ data: { data: report } }) => {
            this.$emit('update', report);
          })
          .catch(() => {
            this.$notify.error({
              message: this.$trans('messages.went_wrong'),
            });
          })
          .finally(() => {
            this.loading = false;
          });
      },
    },
  };
</script>
