<template>
  <div>
    <!-- ICON -->
    <delete-action
      :tooltip="tooltip"
      @click="openModal"
    />

    <!-- MODAL -->
    <modal
      custom-class="el-dialog--actions-column-reverse"
      width="488px"
      :visible="showModal"
      :title="$trans('report::labels.delete_report')"
      :submit-label="$trans('actions.yes')"
      :cancel-label="$trans('actions.no')"
      :loading="deleteReportPending"
      @submit="submit"
      @close="closeModal"
      @cancel="closeModal"
    >
      <div class="change-status__content">
        <p class="text-body-sm">
          {{ $trans('report::labels.are_you_sure_want_to_delete') }}
        </p>
      </div>
    </modal>
  </div>
</template>

<script>
  import DeleteAction from 'Foundation/components/action-icon/DeleteAction';
  import Modal from 'Foundation/components/layout/modal/Modal';
  import Tooltip from 'Foundation/mixins/Tooltip';
  import { mapActions, mapState } from 'vuex';

  export default {
    /**
     * Component name.
     */
    name: 'ReportDeleteAction',

    /**
     * Child components.
     */
    components: {
      DeleteAction,
      Modal,
    },

    /**
     * Mixins.
     */
    mixins: [Tooltip],

    /**
     * Available properties.
     */
    props: {
      /**
       * Report id.
       */
      id: {
        type: Number,
        required: true,
      },
    },

    /**
     * Reactive data.
     *
     * @returns {{showModal: boolean}}
     */
    data () {
      return {
        showModal: false,
      };
    },

    /**
     * Computed properties.
     */
    computed: {
      /**
       * Vuex (state).
       */
      ...mapState('report', [
        'deleteReportPending',
      ]),
    },

    /**
     * Methods.
     */
    methods: {
      /**
       * Vuex (actions).
       */
      ...mapActions('report', [
        'deleteReport',
      ]),

      /**
       * Open modal.
       */
      openModal () {
        this.showModal = true;
      },

      /**
       * Close modal.
       */
      closeModal () {
        this.showModal = false;
      },

      /**
       * Submit the form.
       */
      submit () {
        this.$call(this.deleteReport(this.id))
          .then(() => {
            this.closeModal();
            if (this.$router.currentRoute.name === "reports.show" && this.$router.currentRoute.params.reportId === this.id) {
              this.$pushRoute({ name: 'reports.index' });
            }
          })
          .then(() => {
            this.$emit('delete');
          });
      },
    },
  };
</script>
