<template>
  <div class="advertisers">
    <div class="advertisers__holder level-default">
      <data-table
        ref="dataTable"
        :additional-columns="additionalColumns"
        :show-cards="false"
        :show-sub-title="false"
        :title="$trans('advertiser::labels.advertisers')"
        :search-placeholder="$trans('advertiser::labels.search_advertisers_placeholder')"
        name="advertisers"
        order-by="created_at"
        order-dir="descending"
        @row-click="handleRowClick"
      >
        <template slot="banner">
          {{ $trans('advertiser::labels.no_advertisers') }}
        </template>
        <template
          slot="filters"
          slot-scope="props"
        >
          <status-filter
            :disabled="props.disabled"
            :placeholder="$trans('advertiser::labels.advertiser_status')"
            @change="props.change"
          />
        </template>

        <!-- COLUMNS-->
        <!-- NAME -->
        <data-table-column
          prop="company_name"
          :label="$trans('advertiser::labels.company_name')"
        >
          <url-cell
            slot-scope="scope"
            :cell-url="getAdverDetailsUrl(scope.row)"
            :cell-value="scope.row.company_name"
            @click="handleRowClick(scope.row)"
          />
        </data-table-column>

        <!-- ACCOUNT CREATED -->
        <data-table-column
          prop="created_at"
          :searchable="false"
          :label="$trans('advertiser::labels.account_created')"
        >
          <date-cell
            slot-scope="scope"
            :cell-value="scope.row.created_at"
            :client-timezone="true"
          />
        </data-table-column>

        <!-- LAST LOGIN -->
        <data-table-column
          prop="last_login"
          :searchable="false"
          :label="$trans('advertiser::labels.last_login')"
        >
          <date-cell
            slot-scope="scope"
            :cell-value="scope.row.last_login"
            :client-timezone="true"
          />
        </data-table-column>

        <!-- NUMBER OF CAMPAIGNS -->
        <data-table-column
          prop="number_of_campaigns"
          :searchable="false"
          :label="$trans('advertiser::labels.campaigns')"
        >
          <number-cell
            slot-scope="scope"
            :cell-value="scope.row.number_of_campaigns"
          />
        </data-table-column>

        <!-- STATUS -->
        <data-table-column
          prop="user_status"
          :searchable="false"
          :label="$trans('advertiser::labels.user_status')"
          width="160"
        >
          <status-cell
            slot-scope="scope"
            :cell-value="scope.row.user_status"
          />
        </data-table-column>
      </data-table>
    </div>
  </div>
</template>

<script>
  import DataTable from 'Foundation/components/dataTable/DataTable';
  import DataTableColumn from 'Foundation/components/dataTable/DataTableColumn';
  import NumberCell from 'Foundation/components/dataTable/Cells/NumberCell';
  import StatusCell from './cells/StatusCell';
  import UrlCell from 'Foundation/components/dataTable/Cells/UrlCell';
  import DateCell from "Foundation/components/dataTable/Cells/DateCell";
  import StatusFilter from '../dataTable/filters/StatusFilter';

  export default {
    /**
     * Name of the component.
     */
    name: 'AdvertiserTable',

    /**
     * Child components.
     */
    components: {
      DataTable,
      DataTableColumn,
      DateCell,
      NumberCell,
      StatusCell,
      UrlCell,
      StatusFilter,
    },

    /**
     * Computed properties.
     */
    computed: {
      /**
       * Additional columns.
       *
       * @returns {{prop: string, searchable: boolean, orderable: boolean}}
       */
      additionalColumns () {
        return [
          {
            prop: 'id',
            searchable: false,
            orderable: true,
          }
        ];
      },
    },

    /**
     * Component methods.
     */
    methods: {
      /**
       * Show advertiser details on row click.
       *
       * @param row
       */
      handleRowClick (row) {
        this.$redirect(this.getAdverDetailsUrl(row));
      },

      /**
       * Get advertiser details url.
       *
       * @param row
       */
      getAdverDetailsUrl (row) {
        return this.$getRoute('advertisers.show', { advertiser: row.id });
      }
    },
  };
</script>
