<template>
  <div class="collapse-grid has-chart">
    <div class="collapse-grid__col col-6">
      <div class="collapse-grid__title">
        <div class="text-label-xxs">
          {{ $trans('labels.inventory_availability') }}
        </div>
      </div>
      <div class="collapse-grid__content">
        <div class="collapse-grid__content-inner text-large d-flex">
          <template v-if="isActive">
            <span :class="availableImpressionsTextColor">
              {{ inventory.data.value }}
            </span>
            <info-tip
              v-if="tooltipMessage"
              :low-zindex="false"
              :description="tooltipMessage"
            />
          </template>
          <template v-else>
            -
          </template>
        </div>
      </div>
    </div>
    <div class="collapse-grid__col col-6">
      <inventory-delivery-indicator
        :delivery-percentage="deliveryPercentage"
        :indicator-class="indicatorClass"
      />
    </div>
  </div>
</template>

<script>
  import InventoryDeliveryIndicator from 'Modules/campaign/components/wizard/sidebar/items/InventoryDeliveryIndicator';
  import InfoTip from 'Foundation/components/toolpip/InfoTip';
  import { mapState, mapGetters } from 'vuex';
  import { get } from 'lodash';

  export default {
    /**
     * Name of the component.
     */
    name: "AvailableImpressions",

    /**
     * Components.
     */
    components: {
      InfoTip,
      InventoryDeliveryIndicator
    },

    /**
     * Computed.
     */
    computed: {
      /**
       * Map states.
       */
      ...mapState('wizard/inventory', ['inventory']),
      ...mapState('wizard/budget', ['cost']),
      ...mapState('wizard', ['id']),

      /**
       * Map getters.
       */
      ...mapGetters('wizard/inventory', ['dynamicInventoryLoading']),

      /**
       * Get indicator value.
       */
      deliveryPercentage() {
        return this.inventory.data.indicatorPosition;
      },

      /**
       * Get indicator class.
       */
      indicatorClass () {
        return {
          'is-loading': this.dynamicInventoryLoading,
          'is-pending': !this.isActive,
          'is-set': this.id !== null && !this.dynamicInventoryLoading,
        }
      },

      /**
       * Available impression text color.
       */
      availableImpressionsTextColor () {
        return this.inventory.data.type === 'unavailable' ? 'tile-badge-sm__danger' : 'tile-badge-sm__default';
      },

      /**
       * Is active state.
       */
      isActive () {
        return get(this.inventory, 'data.type');
      },

      /**
       * Get tooltip message.
       */
      tooltipMessage () {
        return get(this.inventory, 'data.message');
      }
    }
  }
</script>
