<template>
  <div class="el-collapse-item__wrap first-block">
    <div class="el-collapse-item__content">
      <div class="collapse-grid">
        <div
          v-for="(item, key) in budgetItems"
          :key="key"
          class="collapse-grid__col"
          :class="item.class"
        >
          <div class="collapse-grid__title">
            <div class="text-label-xxs">
              {{ item.label }}
            </div>
            <info-tip
              v-if="!!item.tooltip"
              :low-zindex="false"
              :description="item.tooltip"
            />
          </div>
          <div class="collapse-grid__content">
            <div class="collapse-grid__content-inner text-large">
              <dynamic-number
                v-if="item.dynamic"
                :key="`dynamic_number_sidebar_${item.dynamic.new}`"
                :old-value="item.dynamic.old"
                :new-value="item.dynamic.new"
                :prefix="item.dynamic.prefix"
              />
              <template v-else>
                {{ item.value }}
              </template>
            </div>
          </div>
        </div>
        <div class="collapse-grid__col col-7">
          <div class="collapse-grid__title">
            <div class="text-label-xxs">
              {{ $trans('labels.average_daily_impressions') }}
            </div>
            <info-tip
              :low-zindex="false"
              :description="$trans('campaign::labels.annotations.estimated_daily_impressions.description')"
            />
          </div>
          <div class="collapse-grid__content">
            <div
              class="collapse-grid__content-inner"
              :class="warningClass"
            >
              {{ averageDailyImpressionsValue }}
              <a
                v-if="isUnderMinPerDay && dailyImpressions"
                href="#"
                @click.prevent="initInventoryWarningModal"
              >
                {{ $trans('labels.low') }}
                <icon
                  value="alert-triangle"
                  type="warning"
                  :width="22"
                  :height="22"
                />
              </a>
            </div>
          </div>
        </div>
        <div class="collapse-grid__col col-12">
          <div class="collapse-grid__content">
            <div class="collapse-grid__content-inner text-large">
              {{ $trans('messages.impressions_and_cpm_based') }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
  import BudgetsValues from 'Modules/campaign/components/wizard/sidebar/items/mixins/BudgetsValues';
  import InfoTip from 'Foundation/components/toolpip/InfoTip';
  import { mapState } from 'vuex';
  import MinPerDayValidation from '../../../mixins/MinPerDayValidation';
  import Icon from 'Foundation/components/icons/Icon';
  import DynamicNumber from 'Foundation/components/formatters/DynamicNumber';

  export default {
    /**
     * Name of the component.
     */
    name: "GeneralInfo",

    /**
     * Components.
     */
    components: {
      InfoTip,
      Icon,
      DynamicNumber
    },

    /**
     * Mixins.
     */
    mixins: [BudgetsValues, MinPerDayValidation],

    /**
     * Component data.
     */
    data () {
      return {
        impressionOld: 0,
        impressionNew: 0,
        cpmOld: '0.00',
        cpmNew: '0.00',
        showWarningModal: false,
      }
    },

    /**
     * Computed.
     */
    computed: {
      /**
       * Map states.
       */
      ...mapState('wizard/budget', ['impressions', 'cost', 'cpm']),

      /**
       * Budget value.
       */
      budgetValue () {
        return this.cost ? this.formattedCost(this.cost) : '-';
      },

      /**
       * Average Daily ImpressionsValue value.
       */
      averageDailyImpressionsValue () {
        return this.dailyImpressions ? this.formattedImpressions(this.dailyImpressions) : '-';
      },

      /**
       * Warning class
       */
      warningClass () {
        return this.isUnderMinPerDay && this.dailyImpressions ? 'text-warning' : '';
      },

      /**
       * Sidebar budget items.
       */
      budgetItems () {
        return [
          {
            label: this.$trans('labels.budget'),
            value: this.budgetValue,
            tooltip: null,
            class: 'col-5',
            dynamic: false
          },
          {
            label: this.$trans('labels.impressions'),
            value: this.impressions,
            tooltip: this.$trans('campaign::labels.annotations.impressions.description'),
            class: 'col-7',
            dynamic: {
              old: this.impressionOld,
              new: this.impressionNew,
              prefix: '',
            },
          },
          {
            label: this.$trans('labels.cpm'),
            value: this.cpm,
            tooltip: this.$trans('campaign::labels.annotations.cpm.description'),
            class: 'col-5',
            dynamic: {
              old: this.cpmOld,
              new: this.cpmNew,
              prefix: '$',
            },
          },
        ]
      },
    },

    /**
     * Watch.
     */
    watch: {
      impressions (value, old) {
        this.impressionNew = value !== Infinity ? this.formattedImpressions(value) : this.impressionNew;
        this.impressionOld = this.formattedImpressions(old);
      },
      cpm (value, old) {
        this.cpmOld = old ? old.toFixed(2) : '0.00';
        this.cpmNew = value ? value.toFixed(2) : '0.00';
      }
    },

    /**
     * Created.
     */
    created() {
      this.impressionNew = this.formattedImpressions(this.impressions);
      this.cpmNew = this.cpm ? this.cpm.toFixed(2) : '0.00';
    }
  }
</script>
