<template>
  <div>
    <div
      v-if="!!inventory.suggestions.message"
      class="sidebar-grid-item__wrap"
    >
      <div class="el-collapse-item__content">
        <div class="collapse-grid messages_list">
          <div class="collapse-grid__content">
            <span class="text-label-xxs">
              {{ inventory.suggestions.message }}
            </span>
            <div
              v-if="canShowBudgetAction"
              class="link"
            >
              <a @click="goToBudgetStep">
                {{ inventory.suggestions.action.budget }}
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      v-if="canShowStepMessages"
      class="sidebar-grid-item__wrap"
    >
      <step-messages />
    </div>
    <div
      v-if="canShowHelpMessages"
      class="sidebar-grid-item__wrap"
    >
      <div class="el-collapse-item__content">
        <div class="collapse-grid messages_list">
          <div class="collapse-grid__title">
            <div class="text-label-xxs">
              {{ inventory.suggestions.help.title }}
            </div>
          </div>
          <div
            class="collapse-grid__content"
          >
            <div
              v-if="inventory.suggestions.help.link"
              class="link"
            >
              <a
                :href="inventory.suggestions.help.link"
                target="_blank"
              >
                {{ inventory.suggestions.help.message }}
              </a>
            </div>
            <span
              v-else
              class="text-label-xxs"
            >
              {{ inventory.suggestions.help.message }}
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex';
import StepMessages from 'Modules/campaign/components/wizard/sidebar/items/budgetItems/StepMessages';
import { get, isEmpty } from 'lodash';
import { mapFields } from 'vuex-map-fields';
import BudgetUpdate from '../../../mixins/BudgetUpdate';

  export default {
    /**
     * Name of the component.
     */
    name: 'MessagesBlock',

    /**
     * Components.
     */
    components: {
      StepMessages
    },

    /**
     * Mixins.
     */
    mixins: [BudgetUpdate],

    /**
     * Common data.
     */
    data () {
      return {
        availableBudget: null,
      }
    },

    /**
     * Computed.
     */
    computed: {
      /**
       * Map states.
       */
      ...mapState('wizard/inventory', ['inventory']),
      ...mapState('wizard', ['edit', 'id']),


      /**
       * Map fields.
       */
      ...mapFields('wizard/budget', ['cost']),

      /**
       * Can show step messages list.
       */
      canShowStepMessages () {
        return !isEmpty(get(this.inventory, 'suggestions.action.steps', {}));
      },

      /**
       * Can show budget action.
       */
      canShowBudgetAction () {
        return !!get(this.inventory, 'suggestions.action.budget', false);
      },

      /**
       * Can show help messages list.
       */
      canShowHelpMessages () {
        return !isEmpty(get(this.inventory, 'suggestions.help', {}));
      },
    },

    /**
     * Component watcher.
     */
    watch: {
      inventory: {
        deep: true,
        handler () {
          this.onInventoryChange();
        }
      }
    },

    /**
     * Created hook.
     */
    created () {
      this.onInventoryChange();
    },

    /**
     * Methods.
     */
    methods: {
      /**
       * Go to budget step.
       */
      goToBudgetStep () {
        if (this.availableBudget) {
          this.updateBudgetData();
          this.availableBudget = null;
        }

        return this.$pushRoute(this.budgetRoute);
      },

      /**
       * Inventory change handler.
       */
      onInventoryChange () {
        this.availableBudget = get(this.inventory, 'suggestions.payload.availableBudget', null);
        if (get(this.inventory, 'data.type') !== 'available') {
          let scrollOptions = {
            container: '#sidbar-content',
          };
          this.$scrollTo(document.querySelector('.sidebar-budget'), 500, scrollOptions);
        }
      }
    }
  }
</script>

