<template>
  <div class="collapse-grid__col footer-block col-12">
    <div
      class="footer-block__date"
    >
      <template v-if="canShowRefresh">
        <span class="text-muted text-body-xxxs">
          {{ updatedTime }}
        </span>

        <span class="text-muted text-body-xxxs">•</span>
        <el-link
          :underline="false"
          class="text-body-xxxs"
          @click="forceInventoryCall"
        >
          {{ $trans('labels.refresh') }}
        </el-link>
      </template>
    </div>
  </div>
</template>

<script>
  import moment from 'moment';
  import { mapActions, mapState, mapGetters } from 'vuex';

  export default {
    /**
     * Name of the component.
     */
    name: 'UpdatedBlock',

    /**
     * Data properties.
     */
    data () {
      return {
        now: moment.utc(),
        timerId: null
      }
    },

    /**
     * Computed.
     */
    computed: {
      /**
       * Map states.
       */
      ...mapState('wizard/inventory', [
        'dynamicInventoryPendingArray',
        'inventory'
      ]),
      ...mapState('wizard', ['id']),

      /**
       * Map getters.
       */
      ...mapGetters('wizard/inventory', ['dynamicInventoryLoading']),
      ...mapGetters('wizard/steps', ['getStep']),

      /**
       * Can show refresh button.
       */
      canShowRefresh() {
        return this.getStep('budget.budget').saved && !this.dynamicInventoryLoading;
      },

      /**
       * Get updated time.
       */
      updatedTime () {
        if (this.dynamicInventoryLoading) {
          return this.$trans('labels.updating')
        }

        if (!this.inventory.updated) {
          return this.$trans('labels.updating_just_now');
        }

        const updated = moment(this.inventory.updated);
        const diff = this.now.diff(updated, 'minutes');

        if (diff === 0) {
          return this.$trans('labels.updating_just_now');
        }

        return this.$trans('labels.updating_minutes', {value: diff + 'm'});
      },
    },

    /**
     * Created.
     */
    created () {
      this.timerId = setInterval(() => {
        this.now = moment.utc()
      }, 60000)
    },

    /**
    * Before destroy event.
    */
    beforeDestroy() {
      clearInterval(this.timerId);
    },

    /**
     * Methods.
     */
    methods: {
      /**
       * Map actions.
       */
      ...mapActions('wizard', {
        getDynamicInventoryCheck: 'inventory/getDynamicInventoryCheck',
      }),

      /**
       * Force inventory
       *
       * @returns {Promise<any>}
       */
      forceInventoryCall () {
        if (!this.canShowRefresh) {
          return Promise.resolve(true);
        }

        const key = 'force_refresh';
        this.dynamicInventoryPendingArray.push(key);

        this.$call(this.getDynamicInventoryCheck(this.id), {notify: false, muteException: true})
          .then(() => {
            const index = this.dynamicInventoryPendingArray.indexOf(key);
            if (index > -1) {
              this.dynamicInventoryPendingArray.splice(index, 1);
            }
          });
      },
    }
  }
</script>
