<template>
  <div
    v-if="allowed"
    class="contact"
  >
    <contact-button @click="open" />
    <contact-form
      v-if="visible"
      :visible.sync="visible"
    />
  </div>
</template>

<script>
  import ContactButton from './ContactButton';
  import ContactForm from './ContactForm';

  export default {
    /**
     * Name of the component.
     */
    name: 'Contact',

    /**
     * Child components.
     */
    components: {
      ContactButton,
      ContactForm,
    },

    /**
     * Component props
     */
    props: {
      openContact: {
        type: Boolean,
        default: false
      }
    },

    /**
     * Data.
     *
     * @returns {{visible: boolean}}
     */
    data () {
      return {
        visible: false,
      };
    },

    /**
     * Computed properties.
     */
    computed: {
      /**
       * True if contact us feature is allowed.
       */
      allowed () {
        return this.$hasPermission('contact_us');
      },
    },

    /**
     * Component watcher
     */
    watch: {
      openContact (value) {
        if (value) {
          this.visible = true;
        }
      },
    },

    /**
     * Methods.
     */
    methods: {
      /**
       * Open modal.
       */
      open () {
        this.visible = true;
      },
    },
  };
</script>
