<template>
  <span
    class="tooltip-block"
  >
    <el-tooltip
      ref="el-tooltip"
      :disabled="!showTooltip"
      :content="contentData"
      placement="bottom"
    >
      <div
        id="tooltip-block"
        ref="tooltip-block"
        :style="showTooltip ? styleObject : {}"
      >
        {{ contentData }}
      </div>
    </el-tooltip>
  </span>
</template>

<script>
  export default {

    name: "Tooltip",

    props: {
      /**
       * Position tooltip.
       */
      position: {
        type: String,
        default: 'top',
      },

      /**
       * Content.
       */
      data: {
        type: String,
        default: '-',
      },

      /**
       * Max height.
       */
      maxHeight: {
        type: Number,
        default: 96,
      },
    },

    /**
     * Data.
     */
    data: function() {
      return {
        componentHeight: 0,
        showTooltip: false,
        styleObject: {
          overflow: 'hidden',
          ['-webkit-line-clamp']: 2,
          ['-webkit-box-orient']: 'vertical',
        }
      }
    },

    /**
     * Computed props
     */
    computed: {
      /**
       * Content for show.
       */
      contentData () {
        return this.data;
      },
    },

    /**
     * Mounted.
     */
    mounted() {
      this.initData();
    },

    /**
     * Updated.
     */
    updated: function () {
      this.initData();
    },

    methods: {
      /**
       * Init data.
       */
      initData() {
        this.setData();
        this.check();
      },

      /**
       * Set component height.
       */
      setData() {
        this.componentHeight = this.$refs['tooltip-block'].scrollHeight;

      },

      /**
       * Check if need tooltip.
       */
      check() {
        this.showTooltip =  this.componentHeight > this.maxHeight;
      },
    }
  }

</script>

