<template>
  <campaign-step
    :title="$trans('campaign::labels.titles.budget')"
    :skippable="false"
    :has-error="hasError"
  >
    <annotated-text
      slot="description"
      low-zindex
      :text="$trans('campaign::labels.subtitles.budget')"
      :terms="{
        budget: {
          term: $trans('campaign::labels.annotations.budget.term'),
          description: $trans('campaign::labels.annotations.budget.description'),
        },
        impressions: {
          term: $trans('campaign::labels.annotations.impressions.term'),
          description: $trans('campaign::labels.annotations.impressions.description'),
        },
      }"
    />
    <template slot="content">
      <!-- FORM -->
      <campaign-budget-form
        ref="form"
        :validation-scope="validationScope"
        :disabled="!campaignStates.wizard.can_edit_budget"
        @blur-budget="handleBudgetBlur"
      />
      <under-min-per-day-warning-box
        :show="isUnderMinPerDay && dailyImpressions && wasFocused"
        :suggested-schedule-duration="suggestedScheduleDuration"
        :min-daily-impressions="minDailyImpressions"
        :suggested-budget="suggestedBudget"
        :daily-impressions="dailyImpressions"
        :step="key"
        @handleBudgetNavigation="handleBudgetNavigation"
        @handleScheduleNavigation="handleScheduleNavigation"
      />
    </template>
  </campaign-step>
</template>

<script>
  import CampaignStep from '../CampaignStep';
  import CampaignBudgetForm from './CampaignBudgetForm';
  import TargetingStep from '../mixins/TargetingStep';
  import {mapActions, mapState} from 'vuex';
  import AnnotatedText from 'Foundation/components/toolpip/annotations/AnnotatedText';
  import UnderMinPerDayWarningBox from "../../common/UnderMinPerDayWarningBox";

  const VALIDATION_SCOPE = 'cost';

  export default {
    /**
     * Component name.
     */
    name: 'CampaignBudget',

    /**
     * Child components.
     */
    components: {
      UnderMinPerDayWarningBox,
      CampaignBudgetForm,
      CampaignStep,
      AnnotatedText,
    },

    /**
     * Mixins.
     */
    mixins: [ TargetingStep ],

    /**
     * Data.
     */
    data () {
      return {
        shouldTriggerAutoSave: false,
        wasFocused: false,
      };
    },

    /**
     * Computed properties.
     */
    computed: {
      /**
       * Vuex.
       */
      ...mapState('wizard/budget', {
        savePending: 'updateBudgetPending',
        value: 'cost',
        cpm: 'cpm',
        budgetFailMessage: 'budgetFailMessage',
        minDailyImpressions: 'minDailyImpressions',
        minRequiredBudget: 'minRequiredBudget',
      }),
      ...mapState('wizard/details', ['date']),

      /**
       * Storage key for step.
       *
       * @returns {string}
       */
      key () {
        return 'budget.budget';
      },

      /**
       * Skip inventory if values don't changed but it's not first initialization
       * @returns {boolean}
       */
      hasError () {
        return !!this.budgetFailMessage || !!this.$validator.errors.all(this.validationScope).length;
      },

      /**
       * Get validation scope.
       */
      validationScope () {
        return VALIDATION_SCOPE;
      }
    },

    /**
     * Component watcher.
     */
    watch: {
      /**
       * Handle input focused state.
       */
      isUnderMinPerDay (value) {
        if (!value && this.wasFocused) {
          this.wasFocused = false;
        }
      }
    },

    /**
     * Created hook.
     */
    created() {
      if (this.isUnderMinPerDay) {
        this.wasFocused = true;
        this.underMinPerDayToastShown = true;
      }
    },

    /**
     * Methods.
     */
    methods: {
      /**
       * Vuex (actions).
       */
      ...mapActions('wizard/budget', [
        'updateBudget',
      ]),

      /**
       * Handle budget field blur event.
       */
      handleBudgetBlur () {
        this.saveStep();

        if (this.isUnderMinPerDay && !this.wasFocused) {
          this.wasFocused = true;

          setTimeout(() => {
            this.underMinPerDayToastShown = true;
          }, 200);
        }
      },

      /**
       * This method is called each time the step is changed to next.
       * @returns {*}
       */
      beforeNext () {
        return !this.hasError;
      },

      /**
       * Save current step.
       * @returns {*}
       */
      save () {
        return this.$call(this.updateBudget(), { muteException: true });
      },
    },
  };
</script>
