<template>
  <div class="sp-wrapper">
    <app-header
      :menu="menu"
      @open-notification="openNotification"
    />
    <reminder-box />
    <div
      class="sp-main"
      :class="{'zoomed': false}"
    >
      <div class="sp-row">
        <column
          v-if="false"
          :visible="false"
          color-depth="negative-1"
        >
          <slot name="left-column" />
        </column>
        <column
          :visible="currentState.primary.visible"
          :size="currentState.primary.size"
          color-depth="negative-1"
        >
          <slot name="primary-column" />
        </column>
        <column
          :visible="currentState.suplemental.visible"
          :size="currentState.suplemental.size"
          border-position="left"
        >
          <slot name="suplemental-column" />
        </column>
      </div>
    </div>
  </div>
</template>

<script>
  import AppHeader from 'Foundation/components/layout/header/Header';
  import ReminderBox from 'Modules/notification/components/reminder/ReminderBox';
  import Column from './components/Column';
  import NavigationProperties from "../../components/layout/header/mixins/NavigationProperties";
  import OpenNotificationMixin from 'Modules/notification/mixins/OpenNotificationMixin';

  export default {
    /**
     * Name of the component.
     */
    name: 'Layout',

    /**
     * Child components.
     */
    components: {
      AppHeader,
      ReminderBox,
      Column
    },

    /**
     * Mixins
     */
    mixins: [
      NavigationProperties,
      OpenNotificationMixin
    ],

    /**
     * Available properties.
     */
    props: {
      /**
       * Custom class.
       */
      customClass: {
        type: String,
        default: '',
      },

      /**
       * Custom class.
       */
      state: {
        type: String,
        default: 'default',
      }
    },

    /**
     * Computed properties.
     */
    computed: {
      /**
       * Current screen state TODO:HULU-3263.
       */
      currentState () {
        return this.screenStates[this.state];
      },

      /**
       * Possible screen states for the particular layout TODO:HULU-3263.
       */
      screenStates () {
        return {
          'default': {
            'primary': {
              'visible': true,
              'size': 12,
            },
            'suplemental': {
              'visible': false,
            },
          },
          'details-default': {
            'primary': {
              'visible': true,
              'size': 7,
            },
            'suplemental': {
              'visible': true,
              'size': 5,
            },
          },
          'details-expanded': {
            'primary': {
              'visible': true,
              'size': 6,
            },
            'suplemental': {
              'visible': true,
              'size': 6,
            },
          },
          'details-full': {
            'primary': {
              'visible': false,
            },
            'suplemental': {
              'visible': true,
              'size': 12,
            },
          },
        }
      }
    },
  };
</script>
