/**
 * Fonts
 */
$--font-url: '../../fonts/';
@font-face {
  font-family: 'Graphik';
  src: url($--font-url + 'Graphik-Bold.eot');
  src: url($--font-url + 'Graphik-Bold.eot?#iefix') format('embedded-opentype'),
  url($--font-url + 'Graphik-Bold.woff2') format('woff2'),
  url($--font-url + 'Graphik-Bold.woff') format('woff'),
  url($--font-url + 'Graphik-Bold.ttf') format('truetype'),
  url($--font-url + 'Graphik-Bold.svg') format('svg');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Graphik';
  src: url($--font-url + 'Graphik-Extralight.eot');
  src: url($--font-url + 'Graphik-Extralight.eot?#iefix') format('embedded-opentype'),
  url($--font-url + 'Graphik-Extralight.woff2') format('woff2'),
  url($--font-url + 'Graphik-Extralight.woff') format('woff'),
  url($--font-url + 'Graphik-Extralight.ttf') format('truetype'),
  url($--font-url + 'Graphik-Extralight.svg') format('svg');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Graphik';
  src: url($--font-url + 'Graphik-Light.eot');
  src: url($--font-url + 'Graphik-Light.eot?#iefix') format('embedded-opentype'),
  url($--font-url + 'Graphik-Light.woff2') format('woff2'),
  url($--font-url + 'Graphik-Light.woff') format('woff'),
  url($--font-url + 'Graphik-Light.ttf') format('truetype'),
  url($--font-url + 'Graphik-Light.svg') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Graphik';
  src: url($--font-url + 'Graphik-Medium.eot');
  src: url($--font-url + 'Graphik-Medium.eot?#iefix') format('embedded-opentype'),
  url($--font-url + 'Graphik-Medium.woff2') format('woff2'),
  url($--font-url + 'Graphik-Medium.woff') format('woff'),
  url($--font-url + 'Graphik-Medium.ttf') format('truetype'),
  url($--font-url + 'Graphik-Medium.svg') format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Graphik';
  src: url($--font-url + 'Graphik-Regular.eot');
  src: url($--font-url + 'Graphik-Regular.eot?#iefix') format('embedded-opentype'),
  url($--font-url + 'Graphik-Regular.woff2') format('woff2'),
  url($--font-url + 'Graphik-Regular.woff') format('woff'),
  url($--font-url + 'Graphik-Regular.ttf') format('truetype'),
  url($--font-url + 'Graphik-Regular.svg') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Graphik';
  src: url($--font-url + 'Graphik-Semibold.eot');
  src: url($--font-url + 'Graphik-Semibold.eot?#iefix') format('embedded-opentype'),
  url($--font-url + 'Graphik-Semibold.woff2') format('woff2'),
  url($--font-url + 'Graphik-Semibold.woff') format('woff'),
  url($--font-url + 'Graphik-Semibold.ttf') format('truetype'),
  url($--font-url + 'Graphik-Semibold.svg') format('svg');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Graphik';
  src: url($--font-url + 'Graphik-Thin.eot');
  src: url($--font-url + 'Graphik-Thin.eot?#iefix') format('embedded-opentype'),
  url($--font-url + 'Graphik-Thin.woff2') format('woff2'),
  url($--font-url + 'Graphik-Thin.woff') format('woff'),
  url($--font-url + 'Graphik-Thin.ttf') format('truetype'),
  url($--font-url + 'Graphik-Thin.svg') format('svg');
  font-weight: 100;
  font-style: normal;
}

$--base-font-size: 12px; //14px
$--font-size-sm: $--base-font-size; //14px
$--font-size-md: ($--base-font-size * 1.15); //16px
$--font-size-lg: ($--base-font-size * 1.29); //18px
$--font-size-xl: ($--base-font-size * 1.7); //24px

$--border-color: #DCDFE6;
$--color-gray-1: #272c35;
$--border-devices-svg: #d3d7de;
$--white-text-color: #ffffff;
$--dark-text-color: #040405;
$--muted-text-color: #5E6573;
$--failed-text-color: #DE1B4B;
$--current-bg-color: #2B6EF4;
$--settled-bg-color: #6CE38D;
$--pending-bg-color: #dbdfe6;

$--color-status-info-background: #e8f1fc;
$--color-status-info-font: #0f448a;
$--color-status-info-border: #75aaf0;

$--color-status-success-background: #e8fcf5;
$--color-status-success-font: #0f8a5d;
$--color-status-success-border: #75f0c3;

$--color-status-danger-background: #fdf1f4;
$--color-status-danger-font: #8a0f2e;
$--color-status-danger-border:  #f7bac9;

$--color-status-default-background: #f6f7f8;
$--color-status-default-font: #424957;
$--color-status-default-border:  #d3d7de;

$--payment-card-width: 400px;
$--border-radius-large: 10px;

$--font-size-extra-small: 10px;
$--color-primary: #292C33;
$--color-info: #586174;
$--popover-padding: 24px;
$--border-color-grey: #e2e4e9;

.pdf-table {
  width: 100%;
  background-color: $--white-text-color;
  font-family: 'Graphik', 'sans-serif';
  font-size: $--font-size-md;

  table {
    width: 100%;
    border-collapse: collapse;

    th,
    td {
      padding-left: 5px;
      padding-right: 5px;
      font-family: 'Graphik', 'sans-serif' !important;
    }

    th {
      font-size: $--font-size-sm;
      font-weight: normal;
    }

    td {
      position: relative;
      vertical-align: top;
      font-size: $--font-size-sm;

      &.cell-btn {
        font-size: 10px;
        text-transform: uppercase;
        text-align: center;
        font-weight: bold;
        vertical-align: middle;
        padding: 0;
        letter-spacing: 1px;
      }

      img {
        width: 35px;
        display: inline-block;
        vertical-align: middle;
      }
    }
  }

  b {
    font-weight: bold;
  }

  &__header {
    img {
      display: block;
      width: 209px;
    }

    td {
      padding-bottom: 10px;
    }
  }

  &__row {
    padding: 25px 0 30px;
    border-bottom: 1px solid $--border-color;

    &--bottom {
      border: 0;
      font-size: $--font-size-lg;
    }

    &--footer {
      font-size: $--font-size-lg;
      border: 0;
      padding: 0;

      td {
        padding: 0;
      }

      .footer-text {
        width: ($--payment-card-width + 30px);
        font-size: $--font-size-md;
        line-height: 20px;
        padding-top: 10px;
      }
    }
  }

  &__sub-row {
    table {
      table-layout: fixed;
      width: 100%;
    }

    th {
      padding-bottom: 8px;
    }

    td {
      padding-bottom: 16px;
      word-wrap: break-word
    }

    &:last-child {
      th {
        padding-bottom: 0;
      }

      td {
        padding-bottom: 0;
      }
    }

    &--empty {
      td {
        padding: 18px 0 12px;
        font-size: $--font-size-xl;
      }
    }
  }
}

.payment-method {
  width: $--payment-card-width !important;
  max-width: $--payment-card-width !important;
  border: 1px solid $--border-color;
  font-size: $--font-size-md;
  margin: 10px 0;

  td {
    padding: 20px;
    vertical-align: middle !important;
  }

  &__image {
    width: 85px;
    padding-right: 0;
    font-size: 0;
  }

  &__name {
    font-size: $--font-size-md;
    white-space: nowrap;
  }

  &__exp {
    width: 60px;
    font-size: 16px;

    span {
      display: block;
      text-align: right;
      padding-right: 10px;
    }
  }
}

.budget-code {
  font-size: $--font-size-extra-small;
  font-weight: bold;
  background-color: $--color-primary;
  color: $--white-text-color;
  text-transform: uppercase;
  margin-left: 5px;
  padding: 0 8px;
  letter-spacing: 0.83px;
  cursor: pointer;
  position: relative;

  &:hover {
    background-color: $--color-info;

    .budget-tooltip__popover {
      opacity: 1;
      visibility: visible;
    }
  }
}

.budget-tooltip {
  display: flex;
  align-items: center;

  > p {
    margin-bottom: 0;
  }

  &__popover {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    bottom: calc(100% + 8px);
    left: calc(100% - 80px);
    min-width: 180px;
    max-width: 400px;
    padding: $--popover-padding;
    background-color: #fff;
    text-align: right;
    box-shadow: 0 2px 35px 0 rgba(0, 0, 0, 0.1);
    white-space: nowrap;
    z-index: 10;

    p {
      margin-bottom: 5px;
    }
  }

  .total {
    margin: 5px 0 0 0;
    padding-top: 12px;
    border-top: 1px solid $--border-color-grey;
  }

  .text-label-xs-semibold-caps {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.discounts {
  position: absolute;
  top: -15px;
  right: 0;
  left: auto;
  z-index: 10;
  width: 220px;

  &__cell {
    font-weight: bold;
  }

  &__container {
    font-weight: normal;
    position: relative;
    overflow: visible;
  }

  &__body {
    > p {
      margin-bottom: 5px;
    }

    > div {
      position: relative;
      overflow: visible;
      vertical-align: top;
    }

    .budget-tooltip {
      margin-right: 25px;
      left: 0;
      bottom: 0;
      max-width: 120px;
      z-index: 1000;
    }
  }

  &__summary {
    padding-top: 10px;
    margin-top: 10px;
    border-top: 1px solid $--border-color-grey;
  }

  .budget-code {
    font-family: Helvetica, 'Graphik', 'sans-serif';
    display: inline-block;
    padding: 5px;
    margin-left: 0;
    text-align: left;
    z-index: 10;
  }

  .budget-tooltip__popover {
    left: auto;
    right: calc(100% - 30px);
    min-width: auto;

    p {
      margin-bottom: 0;
    }
  }
}

.btn {
  position: absolute;
  right: -2px;
  top: -2px;
  font-family: 'Graphik', 'sans-serif';
  font-weight: bold;
  letter-spacing: .5px;
  text-align: center;
  text-transform: uppercase;
  box-sizing: border-box;
  margin-left: auto;
  display: inline-block;
  color: $--color-gray-1;
  font-size: $--font-size-extra-small;
  line-height: 17px;
  padding: 0 12px;
  height: 20px;
  border: 1px solid $--border-devices-svg;
  border-radius: $--border-radius-large;

  &--current {
    background: $--color-status-info-background;
    color: $--color-status-info-font;
    border-color: $--color-status-info-border;
  }

  &--settled {
    background: $--color-status-success-background;
    color: $--color-status-success-font;
    border-color: $--color-status-success-border;
  }

  &--failed {
    background: $--color-status-danger-background;
    color: $--color-status-danger-font;
    border-color: $--color-status-danger-border;
  }

  &--pending {
    background: $--color-status-default-background;
    color: $--color-status-default-font;
    border-color: $--color-status-default-border;
  }
}

@for $i from 1 through 10 {
  .col-#{$i} {
    width: 10% * $i;
  }
}

.title {
  text-transform: uppercase;
  font-weight: bold;

  &-sm {
    font-size: $--font-size-sm;
  }

  &-md {
    font-size: $--font-size-md;
  }

  &-lg {
    font-size: $--font-size-lg;
  }

  &-xl {
    font-size: $--font-size-xl;
  }
}

.is-failed {
  font-weight: bold;
  color: $--failed-text-color;
}

.space-between {
  justify-content: space-between;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-muted {
  color: $--muted-text-color;
}

.page-break {
  page-break-inside: auto;
}

.valign {
  &-center {
    vertical-align: top !important;
  }
}

.card-number {
  margin: 4px -5px 0 0;
  display: block;
  vertical-align: middle;
}

.card-cell {
  position: relative;
  text-align: right;

  img {
    position: absolute;
    left: 15px;
    width: 25px;
  }
}

.transactions-row {
  padding-left: 0;
  padding-right: 0;
}

.transactions-col {
  padding-top: 5px;
}

.transactions-col-1 {
  width: 155px;

}

.transactions-col-2 {
  width: 90px;
}

.transactions-col-3 {
  width: 107px;
}

.transactions-col-4 {
  width: 52px;
  white-space: nowrap;
}

.transactions-col-5 {
  width: 107px;
}

