<template>
  <div>
    <data-table
      ref="dataTable"
      :additional-classes="additionalClasses"
      :additional-columns="additionalColumns"
      :name="tableName"
      :show-cards="showCards"
      :show-sub-title="showSubTitle"
      :title="$trans('creative::content.video_creatives')"
      :search-placeholder="$trans('creative::labels.search_creatives_placeholder')"
      :user-id="userId"
      :use-keyboard-events="false"
      :exclude-from-list="excludeFromList"
      inner-class="table-creatives-gallery"
      order-by="upload_date"
      order-dir="descending"
      @loaded="handleLoaded"
    >
      <template slot="banner">
        <slot name="banner">
          <creatives-banner
            @uploaded="refresh"
          />
        </slot>
      </template>
      <template
        slot="sort-dropdowns"
        slot-scope="props"
      >
        <sort-field-dropdown
          :placeholder="$trans('creative::labels.creative.filters.upload_date')"
          :asc-lablel="$trans('creative::labels.creative.filters.oldest')"
          :desc-label="$trans('creative::labels.creative.filters.newest')"
          :multiple="false"
          field="upload_date"
          :disabled="props.disabled"
          @change="props.change"
        />
      </template>
      <template
        v-if="enabledStatusFilter"
        slot="filters"
        slot-scope="props"
      >
        <status-filter
          :placeholder="$trans('creative::labels.creative.filters.status')"
          :exclude-options="excludeRejectedStatus"
          :disabled="props.disabled"
          @change="props.change"
        />
      </template>

      <data-table-column
        prop="upload_date"
        :sortable="true"
        :multiple="false"
      >
        <template
          slot-scope="scope"
        >
          <video-cell
            :video-data="scope.row"
            :selectable="selectable"
            :with-submit-button="withSubmitButton"
            @selected="selected"
            @show-preview="showPreview"
          />
        </template>
      </data-table-column>
    </data-table>
  </div>
</template>

<script>
  import { mapActions } from 'vuex';
  import { findIndex } from 'lodash';
  import CreativesBanner from '../Banner/CreativesBanner';
  import DataTable from 'Foundation/components/dataTable/DataTable';
  import DataTableColumn from 'Foundation/components/dataTable/DataTableColumn';
  import StatusFilter from './filters/StatusFilter';
  import SortFieldDropdown from 'Foundation/components/dataTable/Filters/SortFieldDropdown';
  import UserId from 'Foundation/mixins/UserId';
  import VideoCell from './cells/VideoCell';
  import WithSubmitButton from 'Modules/creative/mixins/WithSubmitButton';

  export default {
    /**
     * Component name
     */
    name: 'Index',

    /**
     * Components
     */
    components: {
      VideoCell,
      CreativesBanner,
      DataTableColumn,
      DataTable,
      StatusFilter,
      SortFieldDropdown,
    },

    /**
     * Mixins.
     */
    mixins: [
      UserId,
      WithSubmitButton,
    ],

    /**
     * Component properties
     */
    props: {
      /**
       * Data-table name
       */
      tableName: {
        type: String,
        default: 'creatives'
      },

      /**
       * Is table selectable
       */
      selectable: {
        type: Boolean,
        default: false
      },

      /**
       * Show cards condition
       */
      showCards: {
        type: Boolean,
        default: true
      },

      /**
       * Array of additional classes
       */
      additionalClasses: {
        type: Array,
        default: function () {
          return [];
        }
      },

      /**
       * Show sub title condition
       */
      showSubTitle: {
        type: Boolean,
        default: false
      },

      /**
       * Show actions condition
       */
      showActions: {
        type: Boolean,
        default: true
      },

      /**
       * Exclude given id from list
       */
      excludeFromList: {
        type: Number,
        default: null,
      }
    },

    /**
     * Data attributes
     */
    data () {
      return {
        additionalColumns: [
          {
            prop: 'name',
            data: 'name',
            searchable: true,
            orderable: true,
          },
          {
            prop: 'creative_status',
            data: 'creative_status',
            searchable: false,
            orderable: false,
          }
        ]
      };
    },

    /**
     * Methods
     */
    computed: {
      /**
       * If rejected status should be exclude from filter
       */
      excludeRejectedStatus () {
        return this.selectable ? ['rejected', 'processing'] : [];
      },

      /**
       * If status filter should be enabled
       */
      enabledStatusFilter () {
        return this.tableName !== 'creatives-approved';
      },
    },

    /**
     * Methods
     */
    methods: {
      /**
       * Vuex.
       */
      ...mapActions('permissions', [
        'checkSubmitCreatives'
      ]),
      /**
       * Show creative preview event
       */
      showPreview (id) {
        this.$emit('show-preview', id);
      },

      /**
       * Handle loaded
       */
      handleLoaded (data) {
        this.$emit('loaded', data);
        // Initiate checking submit_creatives permission only if there are draft creatives.
        if (this.withSubmitButton && findIndex(data.data, {creative_status: 'draft'}) !== -1) {
          this.checkSubmitCreatives();
        }

        // Clear default table sorting
        // Used to support "Newest/Oldest" sorting
        this.clearSort();
      },

      /**
       * Set current creative video data
       */
      selected (videoData) {
        this.$emit('selected', videoData);
      },

      /**
       * Clear table sorting.
       */
      clearSort () {
        this.$refs.dataTable.clearSort();
      },

      /**
       * Clear table sorting.
       */
      refresh () {
        this.$refs.dataTable.loadData();
      },
    },
  };
</script>
