<template>
  <div class="invitations">
    <div class="campaigns__holder level-default">
      <data-table
        ref="dataTable"
        :show-cards="false"
        :title="$trans('invitation::labels.invitations')"
        :show-sub-title="false"
        :search-placeholder="$trans('campaign::labels.search_invitations_placeholder')"
        :additional-columns="additionalColumns"
        :name="tableName"
        :has-details="false"
        order-by="created_at"
        order-dir="descending"
      >
        <!-- FILTERS-->
        <template
          slot="filters"
          slot-scope="props"
        >
          <!-- STATUS FILTER -->
          <status-filter
            :placeholder="$trans('labels.status')"
            :disabled="props.disabled"
            @change="props.change"
          />
        </template>

        <!-- COLUMNS -->
        <!-- EMAIL -->
        <data-table-column
          prop="email"
          :label="$trans('invitation::labels.email')"
          :searchable="true"
        />

        <!-- NAME -->
        <data-table-column
          prop="company_name"
          :label="$trans('invitation::labels.name')"
        >
          <url-cell
            slot-scope="scope"
            tabindex="0"
            :cell-url="getAdvertiserRoute(scope.row.user_id)"
            :cell-value="scope.row.company_name"
            :disabled="scope.row.user_id === '-'"
            :reflect-disabled-to-row="false"
            @click="$redirect"
          />
        </data-table-column>

        <!-- CREATED AT -->
        <data-table-column
          prop="created_at"
          :label="$trans('invitation::labels.invite_created')"
          :searchable="false"
        >
          <date-cell
            slot-scope="scope"
            :cell-value="scope.row.created_at"
            :client-timezone="true"
          />
        </data-table-column>

        <!-- INVITE RE-SENT -->
        <data-table-column
          prop="invite_resent_at"
          :label="$trans('invitation::labels.invite_resent_at')"
          :searchable="false"
        >
          <template slot-scope="scope">
            <date-cell
              :cell-value="scope.row.invite_resent_at"
              :client-timezone="true"
            />
            <span v-if="showCountAttempts(scope.row.invite_resent_at)">
              ({{ scope.row.count_attempts }})
            </span>
          </template>
        </data-table-column>

        <!-- Inviter -->
        <data-table-column
          prop="inviter_name"
          :label="$trans('invitation::labels.inviter')"
        />

        <!-- STATUS -->
        <data-table-column
          :label="$trans('labels.status')"
          prop="invitation_status"
          :searchable="false"
        >
          <status-cell
            slot-scope="scope"
            :cell-value="scope.row.invitation_status"
          />
        </data-table-column>

        <!-- ACTIONS -->
        <data-table-column
          :label="$trans('invitation::labels.actions')"
          :searchable="false"
          :sortable="false"
          :show-overflow-tooltip="false"
        >
          <invitation-actions-cell
            slot-scope="scope"
            :invitation="scope.row"
            @refresh="refresh"
            @update="onRowUpdated"
          />
        </data-table-column>
      </data-table>
    </div>
  </div>
</template>

<script>
import DataTable from 'Foundation/components/dataTable/DataTable';
import DataTableColumn from 'Foundation/components/dataTable/DataTableColumn';
import StatusCell from './cells/StatusCell';
import StatusFilter from './filters/StatusFilter';
import DateCell from 'Foundation/components/dataTable/Cells/DateCell';
import UrlCell from "Foundation/components/dataTable/Cells/UrlCell";
import InvitationActionsCell from "Modules/invitation/components/index/actions/InvitationActionsCell";

export default {
  /**
   * Component name
   */
  name: 'InvitationTable',

  /**
   * Components
   */
  components: {
    InvitationActionsCell,
    DataTable,
    DataTableColumn,
    StatusCell,
    StatusFilter,
    DateCell,
    UrlCell,
  },

  /**
   * Data attributes
   */
  data() {
    return {
      /**
       * Additional columns
       */
      additionalColumns: [
        {
          prop: 'id',
          data: 'id',
          searchable: false,
          orderable: false,
        }
      ],

      /**
       * Data table name
       */
      tableName: 'invitations',
    };
  },

  /**
   * Methods
   */
  methods: {
    /**
     * Refresh report data table
     */
    refresh() {
      this.$refs['dataTable'].loadData();
    },

    /**
     * Row is updated (e.g. status has been changed).
     * @param {Object} invitation
     */
    onRowUpdated (invitation) {
      const row = this.$refs.dataTable.tableData.find(row => row.id === invitation.id);

      if (row) {
        Object.assign(row, {
          company_name: invitation.company_name,
          user_id: invitation.user_id,
          email: invitation.email,
          inviter_name: invitation.inviter_name,
          invitation_status: invitation.invitation_status,
          created_at: invitation.created_at,
          states: invitation.states
        });
      }
    },

    /**
     * Show count attempts.
     * @param {string} inviteResentAt
     */
    showCountAttempts (inviteResentAt) {
      return inviteResentAt !== '-';
    },

    /**
     * Form advertiser details url
     * @param id
     */
    getAdvertiserRoute (id) {
      return id !== '-' ? this.$getRoute('advertisers.show', { advertiser: id }) : '#';
    }
  },
};
</script>
