<template>
  <div class="forgot-password">
    <div class="forgot-password__holder">
      <transition
        name="el-fade-in-linear"
        mode="out-in"
      >
        <div
          v-if="!success"
          class="forgot-password__email"
        >
          <h3>{{ $trans('labels.whats_your_new_password') }}</h3>
          <el-form @submit.prevent.native="submit">
            <text-field
              v-model="rawConfirmationCode"
              autocomplete="off"
              :label="$trans('labels.confirmation_code')"
              :placeholder="$trans('labels.enter_your_confirmation_code')"
              :validation="validationRules.user.confirmation_code"
              name="confirmation_code"
              size="medium"
              @enter="onSubmit(resetPasswordPending)"
            />
            <password-field
              ref="new_password"
              v-model="rawNewPassword"
              autocomplete="new-password"
              :label="$trans('labels.new_password')"
              :placeholder="$trans('labels.enter_your_password')"
              :disabled="resetPasswordPending"
              :scope="passwordScope"
              :validation="validation.password"
              name="new_password"
              size="medium"
              @enter="onSubmit(resetPasswordPending)"
            />
            <password-field
              ref="new_password_confirmation"
              v-model="rawNewPasswordConfirmation"
              :label="$trans('labels.confirm_new_password')"
              :placeholder="$trans('labels.enter_your_password')"
              :scope="passwordScope"
              :validation="validation.password"
              name="new_password_confirmation"
              size="medium"
              @enter="onSubmit(resetPasswordPending)"
            />

            <!-- PASSWORD VALIDATION -->
            <password-validation :password="rawNewPassword" />

            <el-button
              v-loading="resetPasswordPending"
              :disabled="resetPasswordPending"
              type="default"
              class="forgot-password__submit"
              @click="submit"
            >
              {{ $trans('actions.submit') }}
            </el-button>
          </el-form>
        </div>
        <!-- SUCCESS -->
        <div
          v-else
          key="success"
          class="forgot-password__request text-body-sm"
        >
          <h3>{{ $trans('messages.password_replace_success_title') }}</h3>
          <p class="text-body-sm">
            {{ $trans('messages.password_replace_success') }}
          </p>
          <el-button
            ref="confirm-button"
            :autofocus="true"
            type="default"
            class="forgot-password__submit"
            @click="onDone"
          >
            {{ $trans('labels.login_page') }}
          </el-button>
        </div>
      </transition>
    </div>
  </div>
</template>

<script>
  import PasswordValidation from '../create-password/PasswordValidation';
  import UpdatePassword from 'Modules/auth/mixins/UpdatePassword';
  import { mapActions, mapState } from 'vuex';
  import { mapFields } from 'vuex-map-fields';
  import { PasswordField, TextField } from 'Foundation/components/form';
  import Form from 'Foundation/mixins/Form';

  const VALIDATION_SCOPE_GLOBAL = '__global__';

  export default {
    /**
     * Name of the component.
     */
    name: "ResetPasswordForm",

    /**
     * Child components.
     */
    components: {
      TextField,
      PasswordField,
      PasswordValidation,
    },

    /**
     * Mixins.
     */
    mixins: [
      UpdatePassword,
      Form
    ],

    /**
     * Reactive data.
     */
    data () {
      return {
        success: false,
        rawConfirmationCode: '',
        action: this.submit
      };
    },

    /**
     * Computed properties.
     */
    computed: {
      /**
       * Map fields.
       */
      ...mapFields('forgotPassword', {
        confirmationCode: 'resetForm.confirmationCode',
        newPassword: 'resetForm.password',
        newPasswordConfirmation: 'resetForm.passwordConfirmation',
      }),

      /**
       * Map state.
       */
      ...mapState('forgotPassword', [
        'resetPasswordPending',
      ]),
    },

    /**
     * Watchers.
     */
    watch: {
      /**
       * Trim confirmation code.
       */
      rawConfirmationCode (val) {
        this.confirmationCode = val.trim();
      },
    },

    /**
     * Created hook.
     */
    created () {
      this.validateOnInput = true;
    },

    /**
     * Methods.
     */
    methods: {
      /**
       * Map actions.
       */
      ...mapActions('forgotPassword', [
        'resetPassword',
      ]),

      /**
       * Validate form
       * @returns {Promise<boolean>}
       */
      validateForm () {
        return Promise.all([
          this.validateNewPassword(),
          this.validateNewPasswordConfirmation(),
          this.$validateScope(),
        ]).then(results => {
          return results.filter(result => result).length === 3;
        });
      },

      /**
       * Submit the form.
       *
       * @returns {Promise<void>}
       */
      async submit () {
        const validated = await this.validateForm();

        if (!validated) {
          return;
        }
        this.resetPassword().then(() => {
          this.success = true;
        }).catch(() => {
          this.$validator.errors.add({
            field: 'confirmation_code',
            msg: this.$trans('auth.cognito_invalid_code'),
            scope: VALIDATION_SCOPE_GLOBAL,
          });
        });
      },

      /**
       * "Done" button handler.
       */
      onDone () {
        this.$redirect(this.$getRoute('login.form'));
      },
    },
  };
</script>
