<template>
  <div
    :class="wrapperClasses"
    class="message is-full-screen"
  >
    <div class="message__icon">
      <component
        :is="iconComponent"
        :custom-class="`icon-${reminder.messageType}`"
      />
    </div>
    <div class="title">
      {{ reminder.title }}
    </div>
    <div class="message__body">
      <p
        class="message__descr"
        v-html="reminder.message"
      />
      <div
        v-if="hasButtons"
        class="message__controls"
      >
        <component
          :is="ctaComponent(cta)"
          v-for="cta in reminder.ctaItems"
          :key="cta.title"
          :reminder="reminder"
          :cta="cta"
        />
      </div>
    </div>
  </div>
</template>

<script>
  import { IconCrossedCircle } from 'Foundation/components/icons';
  import { IconAlertTriangle } from 'Foundation/components/icons';
  import LinkButton from './buttons/LinkButton';
  import DropReminderButton from './buttons/DropReminderButton';

  const MESSAGE_TYPE_DANGER = 'danger';
  const MESSAGE_TYPE_WARNING = 'warning';

  const CTA_TYPE_LINK = 'link';
  const CTA_TYPE_DROP_REMINDER = 'drop-reminder';

  export default {
    /**
     * Name of the component.
     */
    name: 'ReminderMessage',

    /**
     * Child components.
     */
    components: {
      IconCrossedCircle,
      IconAlertTriangle,
      LinkButton,
      DropReminderButton,
    },

    /**
     * Properties.
     */
    props: {
      /**
       * Reminder object.
       */
      reminder: {
        type: Object,
        required: true,
      },
    },

    computed: {
      /**
       * @returns {Array}
       */
      wrapperClasses () {
        return [
          `message--${this.reminder.messageType}`,
          this.reminder.customClasses,
        ];
      },

      /**
       * @returns {boolean}
       */
      hasButtons () {
        return this.reminder.ctaItems.length;
      },

      /**
       * Get the icon component based on message type.
       * @returns {string}
       */
      iconComponent () {
        switch (this.reminder.messageType) {
          case MESSAGE_TYPE_DANGER:
            return 'icon-crossed-circle';
          case MESSAGE_TYPE_WARNING:
            return 'icon-alert-triangle';
          default:
            return 'icon-alert-triangle';
        }
      }
    },

    /**
     * Methods.
     */
    methods: {
      /**
       * @param {*} cta
       * @returns {string}
       */
      ctaComponent (cta) {
        switch (cta.type) {
          case CTA_TYPE_DROP_REMINDER:
            return 'drop-reminder-button';
          case CTA_TYPE_LINK:
            return 'link-button';
          default:
            return 'link-button';
        }
      },
    },
  };
</script>
