<template>
  <div>
    <span class="text-muted">{{ $trans('campaign::labels.modal_inventory_info.unable_guarantee') }}</span>
    <div class="upload-progress__content">
      <div v-html="$trans('campaign::messages.inventory_check.content.danger_budget.budget_value', {value: getEscapedValue(payload.floorBudget)})" />
      <ol>
        <li>
          {{ $trans('campaign::messages.inventory_check.content.danger_budget.click_the_button') }}
        </li>
        <li>
          {{ $trans('campaign::messages.inventory_check.content.danger_budget.include_selections') }}
        </li>
        <li>
          {{ $trans('campaign::messages.inventory_check.content.danger_budget.check_inventory') }}
        </li>
      </ol>
      <div class="default-actions">
        <el-button
          type="default"
          @click.stop="clickExpandTargeting"
        >
          {{ $trans('campaign::messages.inventory_check.content.danger_budget.cta_label') }}
        </el-button>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex';
import InventoryModalContent from './mixins/InventoryModalContent';

  export default {
    /**
     * Component name.
     */
    name: 'DangerBudgetContent',

    /**
     * Mixins.
     */
    mixins: [InventoryModalContent],

    /**
     * Computed properties.
     */
    computed: {
      /**
       * Map state.
       */
      ...mapState('wizard/inventory', ['payload']),
    },
  }
</script>
