<template>
  <div
    class="upload-progress__content"
  >
    {{ $trans('campaign::labels.modal_inventory_fail.dont_worry') }}.
  </div>
</template>

<script>
  export default {
    /**
     * Component name.
     */
    name: 'FailContent'
  }
</script>
