<template>
  <div>
    <span class="text-muted">{{ $trans('campaign::labels.modal_inventory_info.unable_guarantee') }}</span>
    <div class="upload-progress__content">
      <ul>
        <li>
          {{ $trans('campaign::labels.modal_inventory_info.forecasts_indicate') }} <span class="text-label-sm">{{ formattedBudget }}</span> {{ $trans('campaign::labels.modal_inventory_info.budget_lover_case') }}.
          {{ $trans('campaign::labels.modal_inventory_info.alt_expand_targeting') }}.
        </li>
      </ul>
      <div class="default-actions">
        <el-button
          type="default"
          @click.stop="clickChangeBudget"
        >
          {{ $trans('campaign::labels.modal_inventory_info.change_budget') }} {{ formattedBudget }}
        </el-button>
        <el-button
          type="text"
          @click.stop="clickExpandTargeting"
        >
          {{ $trans('campaign::actions.expand_targeting') }}
        </el-button>
      </div>
    </div>
  </div>
</template>

<script>
  import InventoryModalContent from './mixins/InventoryModalContent';
  import { mapState } from 'vuex';
  import BudgetUpdate from '../../../../wizard/mixins/BudgetUpdate';

  export default {
    /**
     * Component name.
     */
    name: 'WarningContent',

    /**
     * Mixins.
     */
    mixins: [InventoryModalContent, BudgetUpdate],

    /**
     * Common data.
     */
    data () {
      return {
        availableBudget: null,
      }
    },

    /**
     * Computed properties.
     */
    computed: {
      /**
       * Map state.
       */
      ...mapState('wizard/inventory', ['payload']),
    },

    /**
     * Created hook.
     */
    created() {
      this.availableBudget = this.payload.budget;
    },

    /**
     * Methods.
     */
    methods: {
      /**
       * This method handles click by button "Change budget".
       */
      clickChangeBudget() {
        this.updateBudgetData();
        this.$pushRoute(this.budgetRoute);
        this.handleClose();
      },
    }
  }
</script>
