<template>
  <div class="success-campaign">
    <img
      src="/images/content/Green-Bolt.svg"
      alt="Success"
      width="25"
    >
    <h1 class="offset-bottom-large">
      {{ $trans('messages.success') }}
    </h1>
    <div v-if="hasCreative">
      <p class="text-body-md">
        {{ successMessage }}
        <template v-if="!hasApproved">
          {{ $trans('campaign::messages.review_creative') }}
        </template>
      </p>
    </div>
    <div v-else>
      <p
        class="text-body-md"
        v-html="$trans('campaign::messages.success_no_creative_p1')"
      />
      <p
        class="text-body-md"
        v-html="$trans('campaign::messages.success_no_creative_p2')"
      />
    </div>
    <img
      src="/images/content/Squiggly-Line.svg"
      width="75"
    >
    <div class="success-campaign__controls">
      <el-button @click="showCampaignDetails">
        {{ $trans('campaign::labels.view_campaign_page') }}
      </el-button>
    </div>
    <img
      class="success-campaign__image"
      src="/images/content/Success-image.jpg"
      alt="Success"
    >
  </div>
</template>

<script>
  import { mapGetters, mapState } from 'vuex';
  import CreativeStatus from "../review-and-payment/review/mixins/CreativeStatus";

  export default {
    /**
     * Component name.
     */
    name: 'CampaignSuccess',

    /**
     * Mixins.
     */
    mixins: [
      CreativeStatus,
    ],

    /**
     * Should prevent user on navigate back from success page
     * @param to
     * @param from
     * @param next
     */
    beforeRouteLeave (to, from, next) {
      if (to.name && ~to.name.indexOf('reviewAndPayment.payment')) {
        next(false)
      } else {
        next()
      }
    },

    /**
     * Computed properties.
     */
    computed: {
      /**
       * Vuex (getters).
       */
      ...mapGetters('wizard/creative', [
        'hasCreative',
      ]),

      /**
       * Vuex (getters).
       */
      ...mapState('wizard', [
        'id',
        'liveEditMode',
      ]),

      /**
       * @returns {string}
       */
      successMessage () {
        return this.liveEditMode ? this.$trans('campaign::messages.success_update') : this.$trans('campaign::messages.success');
      }
    },

    /**
     * Methods.
     */
    methods: {
      /**
       * Show campaign details.
       */
      showCampaignDetails () {
        this.$redirect(this.$getRoute('campaigns.show', { campaign: this.id }));
      },
    }
  };
</script>
