<template>
  <el-tooltip
    class="item"
    effect="dark"
    :content="tooltip"
    placement="top"
  >
    <a
      role="button"
      class="button-empty-icon"
      @click="onClick"
    >
      <icon
        value="edit-3"
        transparent="stroke"
      />
    </a>
  </el-tooltip>
</template>

<script>
  import Icon from 'Foundation/components/icons/Icon';

  export default {
    /**
     * Component name
     */
    name: 'EditAction',

    /**
     * Components
     */
    components: {
      Icon
    },

    /**
     * Props
     */
    props: {
      /**
       * Campaign entity.
       */
      campaign: {
        type: Object,
        default: () => {
          return {};
        },
      },

      /**
       * Tooltip value
       */
      tooltip: {
        type: String,
        default: ''
      }
    },

    /**
     * Methods.
     */
    methods: {
      /**
       * On click event handler.
       */
      onClick () {
        this.$redirectToRoute('campaigns.edit', { campaign: this.campaign.id });
      },
    }
  };
</script>
