<template>
  <div class="forgot-password">
    <div class="forgot-password__holder">
      <transition
        name="el-fade-in-linear"
        mode="out-in"
      >
        <!-- WHAT'S YOUR PASSWORD? -->
        <div
          v-if="!success"
          key="form"
          class="forgot-password__email"
        >
          <h3>{{ $trans('labels.forgot_your_password') }}</h3>
          <el-form @submit.prevent.native="onSubmit(forgotPasswordPending)">
            <email-field
              v-model="email"
              :label="$trans('labels.email')"
              :placeholder="$trans('labels.enter_email_address')"
              :validation="validation"
              :validation-messages="validationMessages"
              name="email"
              size="medium"
            />
            <el-button
              v-loading="forgotPasswordPending"
              :disabled="forgotPasswordPending"
              class="forgot-password__submit"
              type="default"
              @click="submit"
            >
              {{ $trans('actions.submit') }}
            </el-button>
          </el-form>
        </div>

        <!-- SUCCESS -->
        <div
          v-else
          key="success"
          class="forgot-password__request text-body-sm"
        >
          <h3>{{ $trans('auth::messages.password.change_requested') }}</h3>
          <p class="text-body-sm">
            {{ $trans('auth::messages.password.forgot_p1') }}
          </p>
          <p class="text-body-sm">
            {{ $trans('auth::messages.password.forgot_p2') }}
          </p>
          <p class="text-body-sm">
            {{ $trans('auth::messages.password.forgot_p3') }}
          </p>
          <el-button
            ref="confirm-button"
            :autofocus="true"
            type="default"
            class="forgot-password__submit"
            @click="onDone"
          >
            {{ $trans('actions.next') }}
          </el-button>
        </div>
      </transition>
    </div>
  </div>
</template>

<script>
  import { EmailField } from 'Foundation/components/form';
  import { mapActions, mapState } from 'vuex';
  import { mapFields } from 'vuex-map-fields';
  import Form from 'Foundation/mixins/Form';

  export default {
    /**
     * Name of the component.
     */
    name: "ForgotPasswordForm",

    /**
     * Child components.
     */
    components: {
      EmailField,
    },

    /**
     * Mixins.
     */
    mixins: [Form],

    /**
     * Reactive data.
     *
     * @returns {{success: boolean}}
     */
    data () {
      return {
        success: false,
        action: this.submit
      };
    },

    /**
     * Computed properties.
     */
    computed: {
      /**
       * Map fields.
       */
      ...mapFields('forgotPassword', {
        email: 'forgotForm.email',
      }),

      /**
       * Map state.
       */
      ...mapState('forgotPassword', [
        'forgotPasswordPending',
      ]),

      /**
       * Validation for "Email" field.
       *
       * @returns {*}
       */
      validation () {
        return this.validationRules.user.email;
      },

      /**
       * Custom validation rules.
       */
      validationMessages () {
        return {
          required: (attribute) => {
            return this.$trans('validation.required_your', { attribute });
          },
        };
      },
    },

    /**
     * Methods.
     */
    methods: {
      /**
       * Map actions.
       */
      ...mapActions('forgotPassword', [
        'forgotPassword',
      ]),

      /**
       * Close the form.
       */
      close () {
        this.$emit('close');
      },

      /**
       * "Done" button handler.
       */
      onDone () {
        this.close();
      },

      /**
       * Submit the form.
       *
       * @returns {Promise<void>}
       */
      async submit () {
        const validated = await this.$validateScope();

        if (!validated) {
          return;
        }

        this.forgotPassword().then(() => {
            this.showSuccess();
        }).catch((error) => {
          if (error.code === 'UserNotFoundException') {
            this.showSuccess();
            return;
          }
          this.$validator.errors.add({
            field: 'email',
            msg: error.message,
            scope: '__global__'
          });
        });
      },

      /**
       * Success handler
       *
       * @returns {Promise<void>}
       */
      showSuccess() {
        this.success = true;
      }
    },
  };
</script>
