<template>
  <module-creative
    :show-table-sub-title="true"
    :user-id="id"
    table-name="advertiser-creatives"
  >
    <template slot="banner">
      <creatives-banner
        :display-button="false"
        :title="$trans('creative::messages.there_are_no_creatives')"
      />
    </template>
  </module-creative>
</template>

<script>
  import CreativesBanner from 'Modules/creative/components/Banner/CreativesBanner';
  import Id from 'Foundation/mixins/Id';
  import ModuleCreative from 'Modules/creative/components/ModuleCreative';

  export default {
    /**
     * Name of the component.
     */
    name: 'AdvertiserCreativeTable',

    /**
     * Child components.
     */
    components: {
      CreativesBanner,
      ModuleCreative,
    },

    /**
     * Mixins.
     */
    mixins: [
      Id,
    ],
  };
</script>
