<script>
  import PasswordModalOrigin from "Modules/user/components/profile/settings/account/personal/modals/PasswordModal";

  export default {
    /**
     * Name of the component.
     */
    name: "PasswordModal",

    /**
     * Extend component.
     */
    extends: PasswordModalOrigin,
    /**
     * Methods.
     */
    methods: {
      /**
       * Submit the form.
       *
       * @returns {Promise<void>}
       */
      async submit () {
        const validated = await this.$validateScope();

        if (!validated) {
          return;
        }

        this.$notify.success({
          message: this.$trans('messages.youve_updated_your_password'),
        });
        this.close();
        this.clear();
      },
    },
  };
</script>
