<template>
  <campaign-step
    :title="$trans('campaign::labels.titles.creative')"
    :skippable="true"
  >
    <div
      slot="description"
      v-html="
        $trans('creative::messages.upload_or_select') +
          $trans('creative::messages.review', {
            tech_specifications_link: $config.general.links.technical_specifications,
            advertising_policies: $config.general.links.advertising_policies,
            ad_approval_link: $config.general.links.faq.ad_approval,
          })
      "
    />
    <template slot="content">
      <div class="creative-form">
        <attach-creative
          :selectable="true"
          :campaign-id="campaignId"
          :attached-creative="creative"
          :only-replace="onlyReplace"
          :only-approved="liveEditMode"
          :remind-message="$trans('creative::messages.remind_review')"
          :count-uploaded-ads="countUploadedAds"
          :display-table="canShowCreativesList"
          :table-name="tableName"
        />
      </div>
    </template>
    <template slot="step-next">
      {{ nextButtonLabel }}
    </template>
  </campaign-step>
</template>

<script>
  import CampaignStep from '../CampaignStep';
  import CreateCampaignFormStep from '../mixins/CreateCampaignFormStep';
  import AttachCreative from 'Modules/creative/components/AttachCreative';
  import { mapFields } from 'vuex-map-fields';
  import { mapActions, mapGetters } from 'vuex';

  export default {
    /**
     * Component name.
     */
    name: 'CampaignCreative',

    /**
     * Components
     */
    components: {
      AttachCreative,
      CampaignStep,
    },

    /**
     * Mixins.
     */
    mixins: [CreateCampaignFormStep],

    /**
     * Computed properties.
     */
    computed: {
      /**
       * Map fields.
       */
      ...mapFields('wizard', {
        campaignId: 'id',
        creative: 'creative.creative',
        campaignStatus: 'details.status',
        countUploadedAds: 'countUploadedAds',
        liveEditMode: 'liveEditMode',
      }),

      /**
       * Vuex (getters).
       */
      ...mapGetters('creative', [
        'isCreativeProcessing',
      ]),

      /**
       * Storage key for step.
       * @returns {string}
       */
      key () {
        return 'creative.creative';
      },

      /**
       * Activity value.
       * @returns {string}
       */
      activity () {
        return this.lastActivity;
      },

      /**
       * @returns {string}
       */
      nextButtonLabel () {
        return this.creative ? this.$trans('actions.next') : this.$trans('campaign::labels.buttons.skip_for_now');
      },

      /**
       * Table name
       */
      tableName () {
        return this.liveEditMode ? 'creatives-approved' : 'creatives';
      },

      /**
       * Check if creative can be only replaced
       */
      onlyReplace () {
        return this.campaignStates.can_only_replace_creative;
      },

      /**
       * Check if creative list must be shown
       */
      canShowCreativesList () {
        if (this.isCreativeProcessing) {
          return false;
        }

        return !(this.creative && !this.liveEditMode);
      }
    },

    /**
     * Watch.
     */
    watch: {
      creative (value) {
        this.checkFilled(value);
      },

      isCreativeProcessing () {
        this.updateButtonsState();
      },
    },

    /**
     * Methods.
     */
    methods: {
      /**
       * Vuex (actions).
       */
      ...mapActions('wizard/creative', [
        'updateCampaignStep',
      ]),

      /**
       * Save current step.
       * @returns {*}
       */
      save () {
        return this.$call(this.updateCampaignStep(), { muteException: true });
      },

      /**
       * Fires on entering step
       */
      onEnterStep () {
        this.updateButtonsState();
      },

      /**
       * Update buttons state
       */
      updateButtonsState () {
        if (this.isCreativeProcessing) {
          this.disableButtons();
          return;
        }
        this.enableButtons();
      },
    },
  };
</script>
