@import "../common/variables";
@import "../mixins/mixins";
@import "./picker-panel.scss";

@include b(date-picker) {
  width: 322px;

  &.has-sidebar.has-time {
    width: 434px;
  }

  &.has-sidebar {
    width: 438px;
  }

  &.has-time .el-picker-panel__body-wrapper {
    position: relative;
  }

  &.el-popper.has-time {
    margin-top: 0;

    .el-picker-panel__footer {
      padding: 15px;
    }
  }

  .el-picker-panel__content {
    width: 292px;
  }

  .popper__arrow {
    display: none;
  }

  .el-time-panel {
    width: 100%;

    .el-time-spinner {
      text-align: center;
    }
  }

  .el-time-spinner {
    .el-time-spinner__item {
      &:hover:not(.disabled):not(.active) {
        background: inherit;
      }
    }
  }

  table {
    table-layout: fixed;
    width: 100%;
  }

  @include e(editor-wrap) {
    position: relative;
    display: table-cell;
    padding: 0 5px;
  }

  @include e(time-header) {
    @extend .text-size-xxs;
    position: relative;
    border-bottom: 1px solid var(--datepicker-inner-border-color);
    padding: 8px 5px 5px 5px;
    display: table;
    width: 100%;
    box-sizing: border-box;
  }

  @include e(header) {
    margin: 12px;
    text-align: center;

    @include m(bordered) {
      margin-bottom: 0;
      padding-bottom: 12px;
      border-bottom: solid 1px var(--border-color-base);

      & + .el-picker-panel__content {
        margin-top: 0;
      }
    }
  }

  @include e(header-label) {
    @extend .text-label-sm;
    padding: 0 5px;
    //line-height: 22px;
    text-align: center;
    cursor: pointer;
    color: var(--color-text-med);

    &:hover {
      color: var(--datepicker-hover-font-color);
    }

    &.active {
      color: var(--datepicker-active-color);
    }
  }

  @include e(prev-btn) {
    float: left;
  }

  @include e(next-btn) {
    float: right;
  }

  @include e(time-wrap) {
    padding: 10px;
    text-align: center;
  }

  @include e(time-label) {
    float: left;
    cursor: pointer;
    line-height: 30px;
    margin-left: 10px;
  }
}

.el-picker-panel__link-btn {
  .el-upload {
    padding-right: 12px;
  }
}
