@import "../common/variables";

@include b(picker-panel) {
  color: var(--color-text-med);
  border: 1px solid var(--datepicker-border-color);
  box-shadow: var(--box-shadow-light);
  background: var(--bg-base);
  border-radius: $--border-radius-base;
  line-height: 30px;
  margin: 5px 0;

  @include e((body, body-wrapper)) {
    &::after {
      content: "";
      display: table;
      clear: both;
    }
  }

  @include e(content) {
    position: relative;
    margin: 15px;
  }

  @include e(footer) {
    border-top: 1px solid var(--datepicker-inner-border-color);
    padding: 4px;
    text-align: right;
    background-color: var(--bg-base);
    position: relative;
    font-size: 0;
  }

  @include e(shortcut) {
    @extend .text-body-xs;
    display: block;
    width: 100%;
    border: 0;
    background-color: transparent;
    color: var(--datepicker-font-color);
    padding-left: 12px;
    text-align: left;
    outline: none;
    cursor: pointer;

    &:hover {
      color: var(--datepicker-hover-font-color);
    }

    &.active {
      background-color: var(--gray95);
      color: var(--datepicker-active-color);
    }
  }

  @include e(btn) {
    @extend .text-size-xxs;
    border: 1px solid var(--gray90);
    color: var(--gray40);
    border-radius: 2px;
    padding: 0 20px;
    cursor: pointer;
    background-color: transparent;
    outline: none;

    &[disabled] {
      color: var(--gray90);
      cursor: not-allowed;
    }
  }

  @include e(icon-btn) {
    @extend .text-size-xxs;
    color: var(--datepicker-icon-color);
    border: 0;
    background: transparent;
    cursor: pointer;
    outline: none;
    margin-top: 8px;

    &:hover {
      color: var(--datepicker-hover-font-color);
    }

    @include when(disabled) {
      color: var(--font-color-disabled-base);

      &:hover {
        cursor: not-allowed;
      }
    }
  }

  @include e(link-btn) {
    vertical-align: middle;
  }
}

.el-picker-panel *[slot=sidebar],
.el-picker-panel__sidebar {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 110px;
  border-right: 1px solid var(--datepicker-inner-border-color);
  box-sizing: border-box;
  padding-top: 6px;
  background-color: var(--bg-base);
  overflow: auto;
}

.el-picker-panel *[slot=sidebar] + .el-picker-panel__body,
.el-picker-panel__sidebar + .el-picker-panel__body {
  margin-left: 110px;
}
