@import "../common/variables";

@include b(time-range-picker) {
  width: 354px;
  overflow: visible;

  @include e(content) {
    position: relative;
    text-align: center;
    padding: 10px;
  }

  @include e(cell) {
    box-sizing: border-box;
    margin: 0;
    padding: 4px 7px 7px;
    width: 50%;
    display: inline-block;
  }

  @include e(header) {
    @extend .text-size-xs;
    margin-bottom: 5px;
    text-align: center;
  }

  @include e(body) {
    border-radius:2px;
    border: 1px solid var(--datepicker-border-color);
  }
}
