@import "../common/variables";

@include b(time-spinner) {
  &.has-seconds {
    .el-time-spinner__wrapper {
      width: 33.3%;
    }
  }

  @include e(wrapper) {
    max-height: 190px;
    overflow: auto;
    display: inline-block;
    width: 50%;
    vertical-align: top;
    position: relative;

    & .el-scrollbar__wrap:not(.el-scrollbar__wrap--hidden-default) {
      padding-bottom: 15px;
    }

    @include when(arrow) {
      box-sizing: border-box;
      text-align: center;
      overflow: hidden;

      .el-time-spinner__list {
        transform: translateY(-32px);
      }

      .el-time-spinner__item:hover:not(.disabled):not(.active) {
        background: var(--bg-base);
        cursor: default;
      }
    }
  }

  @include e(arrow) {
    @extend .text-size-xxs;
    color: var(--color-text-secondary);
    position: absolute;
    left: 0;
    width: 100%;
    z-index: $--index-normal;
    text-align: center;
    height: 30px;
    cursor: pointer;

    &:hover {
      color: var(--color-text-med);
    }

    &.el-icon-arrow-up {
      top: 10px;
    }

    &.el-icon-arrow-down {
      bottom: 10px;
    }
  }

  @include e(input) {
    &.el-input {
      width: 70%;

      .el-input__inner {
        padding: 0;
        text-align: center;
      }
    }
  }

  @include e(list) {
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;

    &::after,
    &::before {
      content: '';
      display: block;
      width: 100%;
      height: 80px;
    }
  }

  @include e(item) {
    @extend .text-size-xxs;

    display: flex;
    align-items: center;
    justify-content: center;
    height: 32px;
    color: var(--color-text-med);

    &:hover:not(.disabled):not(.active) {
      background: var(--bg-base);
      cursor: pointer;
    }

    &.active:not(.disabled) {
      color: var(--color-text-med);
      font-weight: bold;
      height: 20px;
    }

    &.disabled {
      color: var(--color-text-placeholder);
      cursor: not-allowed;
    }
  }
}
