<template>
  <div>
    <p class="text-label-xs-semibold-caps">
      {{ $trans('broadcast::labels.blocks.in-app') }}
    </p>
    <notification-category :disabled="disabled" />
    <editor
      ref="body"
      v-model="formData.inApp.body"
      :editable="!disabled"
      name="notification.body"
      value-type="html"
      :label="$trans('broadcast::labels.in-app_channels_fields.labels.body')"
    />
  </div>
</template>

<script>
  import { mapFields } from 'vuex-map-fields';
  import Editor from 'Foundation/components/wysiwyg/Editor';
  import { mapState } from 'vuex';
  import NotificationCategory from 'Modules/broadcast/components/index/forms/elements/NotificationCategory';

  export default {
    /**
     * Name.
     */
    name: 'InAppForm',

    /**
     * Components.
     */
    components: {
      NotificationCategory,
      Editor
    },

    /**
     * Props.
     */
    props: {
      /**
       * Allow edit form
       */
      disabled: {
        type: Boolean,
        default: true
      }
    },

    /**
     * Computed properties
     */
    computed: {
      /**
       * Map fields
       */
      ...mapFields('broadcast', {
        formData: 'broadcastData',
        saved: 'saved'
      }),

      /**
       * Map state
       */
      ...mapState('broadcast', ['loaded']),
    },

    /**
     * Watch
     */
    watch: {
      /**
       * Watch formData change
       */
      formData: {
        handler () {
          if (this.loaded) {
            this.saved = false;
          }
        },
        deep: true
      },
    }
  }
</script>
