<template>
  <el-collapse-transition>
    <div
      v-if="!empty"
      class="pick-locations"
    >
      <div
        v-show="showColumns"
        class="pick-locations__name"
      >
        <span class="pick-locations__name-item item-location">{{ label }}</span>
        <span class="pick-locations__name-item item-include">{{ $trans('labels.include') }}</span>
        <span class="pick-locations__name-item item-exclude">{{ $trans('labels.exclude') }}</span>
      </div>
      <div class="pick-locations__content">
        <ul class="pick-locations__list">
          <transition-group
            name="el-zoom-in-top"
            class="item"
          >
            <targeting-switch-item
              v-for="(item, index) in value"
              :key="`key-${item.value}`"
              :value="item"
              @input="newValue => { onInput(index, newValue) }"
              @remove="onRemove(item, index)"
            />
          </transition-group>
        </ul>
      </div>
    </div>
  </el-collapse-transition>
</template>
<script>
  import TargetingSwitch from './TargetingSwitch';
  import { mapGetters, mapMutations } from 'vuex';
  import CampaignMixin from '../../../mixins/CampaignMixin';
  import { filter, cloneDeep } from 'lodash';

  export default {
    /**
     * Name of the component.
     */
    name: "TargetingSwitchLocations",

    /**
     * Extend component.
     */
    extends: TargetingSwitch,

    /**
     * Mixins.
     */
    mixins: [
      CampaignMixin
    ],

    /**
     * Computed.
     */
    computed: {
      /**
       * Vuex (getters).
       */
      ...mapGetters('wizard/targeting', [
        'locations',
        'getCityCurrentValues',
        'getCityCountCurrentValues',
        'getZipCountCurrentValues',
        'getZipCurrentValues',
        'getFailCurrentValues',
      ]),
    },

    /**
     * Methods.
     */
    methods: {
      /**
       * Vuex (mutations).
       */
      ...mapMutations('wizard/targeting', [
        'setCityValues',
        'setZipValues',
        'setFailValues',
      ]),

      /**
       * On remove event handler.
       * @param item
       * @param index
       */
      onRemove (item, index) {
        if (!item.error) {
          if (
            !this.liveEditMode ||
            (this.liveEditMode && (this.getCityCountCurrentValues + this.getZipCountCurrentValues) !== 1)
          ) {
            this.value.splice(index, 1)
            this.$emit('input', this.value)
            return;
          } else {
            this.$notify.error({
              message: this.$trans('campaign::messages.required_targeting'),
            });
            return;
          }
        }

        this.setFailValues({
          items: filter(this.getFailCurrentValues, (el => el.value !== item.value)),
        })

        this.$emit('changed');
      },

      /**
       * Input handler (model).
       * @param index
       * @param item
       */
      onInput (index, item) {
        const values = cloneDeep(this.value);
        values[index].included = item.included
        this.$emit('input', values)
      },
    }
  };
</script>
