<template>
  <li :class="classBlock">
    <span class="pick-locations__item-name item-location">{{ value.label }}</span>
    <span
      v-if="value.error"
    >
      <icon
        value="alert-circle"
        type="danger"
      />
    </span>
    <el-radio
      v-if="!value.error"
      v-model="radioValue"
      :label="radioValues.included"
      class="item-include"
    />
    <el-radio
      v-if="!value.error"
      v-model="radioValue"
      :label="radioValues.excluded"
      class="item-exclude radio-danger"
    />
    <el-button
      class="pick-locations__delete button-empty-icon"
      @click="remove"
    >
      <i class="icon-cross" />
    </el-button>
  </li>
</template>

<script>
  import TargetingBaseItem from "../TargetingBaseItem";
  import Icon from 'Foundation/components/icons/Icon';

  const INCLUDED = 'included';
  const EXCLUDED = 'excluded';

  export default {
    /**
     * Name of the component.
     */
    name: "TargetingSwitchItem",

    /**
     * Child components.
     */
    components: {
      Icon,
    },

    /**
     * Extend component.
     */
    extends: TargetingBaseItem,

    /**
     * Reactive data.
     */
    data () {
      return {
        radioValue: this.value.included !== false ? INCLUDED : EXCLUDED,
      };
    },

    /**
     * Computed properties.
     */
    computed: {
      /**
       * Values for radio inputs.
       *
       * @returns {{included: string, excluded: string}}
       */
      radioValues () {
        return {
          included: INCLUDED,
          excluded: EXCLUDED,
        };
      },

      /**
       * Return block's class.
       * @returns string
       */
      classBlock () {
        return this.value.error ? 'pick-locations__item error' : 'pick-locations__item';
      },
    },

    /**
     * Watchers.
     */
    watch: {
      /**
       * On include / exclude.
       * @param value
       */
      radioValue (value) {
        this.$emit('input', {
          ...this.value,
          included: value === INCLUDED,
        });
      },
    },
  };
</script>
