<template>
  <el-collapse-transition>
    <div
      v-if="!empty"
      class="pick-locations"
    >
      <div
        v-show="showColumns"
        class="pick-locations__name"
      >
        <span class="pick-locations__name-item item-location">{{ label }}</span>
        <span class="pick-locations__name-item item-include">{{ $trans('labels.include') }}</span>
        <span class="pick-locations__name-item item-exclude">{{ $trans('labels.exclude') }}</span>
      </div>
      <div class="pick-locations__content">
        <ul class="pick-locations__list">
          <transition-group
            name="el-zoom-in-top"
            class="item"
          >
            <targeting-switch-item
              v-for="(item, index) in value"
              :key="`key_${item.value}`"
              :value="item"
              @input="newValue => { onInput(index, newValue) }"
              @remove="onRemove(item, index)"
            />
          </transition-group>
        </ul>
      </div>
    </div>
  </el-collapse-transition>
</template>

<script>
  import TargetingSwitchItem from './TargetingSwitchItem';
  import TargetingBase from "../TargetingBase";
  import {mapMutations} from "vuex";

  export default {
    /**
     * Name of the component.
     */
    name: "TargetingSwitch",

    /**
     * Child components.
     */
    components: {
      TargetingSwitchItem,
    },

    /**
     * Extend component.
     */
    extends: TargetingBase,

    /**
     * Props properties.
     */
    props: {
      type: {
        type: String,
        default() {
          return '';
        }
      },

      showColumns: {
        type:Boolean,
        default: true
      }
    },

    /**
     * Methods.
     */
    methods: {
      /**
       * Vuex (mutations).
       */
      ...mapMutations('wizard/targeting', [
        'removeLocation',
        'removeFailZipCode',
        'updateLocationType',
        'removeGenre',
        'updateGenre'
      ]),

      /**
       * On remove event handler.
       * @param index
       */
      onRemove (item, index) {
        if(this.type === 'genre') {
          this.removeGenre(index);
          return;
        }

        if (!item.error) {
          this.removeLocation({
            index: index,
            type: this.type
          });
          return;
        }
        this.removeFailZipCode({
          index: index,
          type: this.type
        });
      },

      /**
       * Input handler (model).
       * @param index
       * @param item
       */
      onInput (index, item) {
        if(this.type === 'genre') {
          this.updateGenre({
            index: index,
            value: item.included
          });
          return;
        }

        this.updateLocationType({
          index: index,
          type: this.type,
          value: item.included
        })
      },
    }
  };
</script>
