.create-password {
  padding-top: 96px;
  padding-bottom: 48px;

  &__holder {
    @extend .center-container;

    .info-block {
      border-bottom: solid 1px var(--border-color-base);
      padding-bottom: $--card-padding;
      margin-bottom: $--card-padding;

      &__item {
        flex: 0 0 50%;
        max-width: 50%;

        .block {
          margin-bottom: $--card-padding;
          padding-right: $--card-padding/2;

          p {
            word-break: break-all;
          }
        }

        .text-label-xxs {
          color: var(--color-text-lg-low);
          margin-bottom: 8px;
        }
      }
    }

    .el-form {
      &-item {
        width: 50%;
        margin-right: 12px;
      }
    }

    .desc {
      margin-top: $--card-padding;

      p {
        @extend .text-size-xxs;
        margin-bottom: 0;
      }
    }
  }

  &__title {
    margin-bottom: 48px;

    h3 {
      margin-bottom: 4px;
    }
  }

  &__submit {
    margin-top: 36px;

    .wrapper--admin-login & {
      min-width: 448px;
    }
  }

  @media screen and (max-width: $--sm) {
    padding: 48px 20px 20px;

    h3 {
      margin-bottom: 24px;
    }

    &__submit {
      margin-top: 18px;
    }
  }
}
