.forgot-password {
  padding-top: 96px;
  padding-bottom: 48px;

  h3 {
    margin-bottom: 48px;
  }

  &__holder {
    @extend .center-container;
  }

  &__submit {
    margin-top: 36px;

    .wrapper--admin-login & {
      min-width: 448px;
    }
  }

  @media screen and (max-width: $--sm) {
    padding: 48px 20px 20px;

    h3 {
      margin-bottom: 24px;
    }

    &__submit {
      margin-top: 18px;
    }
  }
}
