.login {
  padding-top: 96px;
  padding-bottom: 48px;

  h3 {
    margin-bottom: 48px;
  }

  &__holder {
    @extend .center-container;
  }

  &__forgot-password {
    text-align: right;
    margin-bottom: 8px;
  }

  &__submit {
    margin-bottom: 48px;
  }

  &__account {
    color: var(--color-text-high);
  }

  &__reg {
    margin-left: 8px;
  }

  &__content {
    a {
      &:hover {
        text-decoration: underline;
      }
    }
  }
}