.on-boarding {
  margin: 0;
  display: flex;
  flex-flow: column nowrap;
  min-width: $--md;

  .el-dialog {
    &__header {
      padding: 0;
    }

    &__body {
      flex: 1;
      padding: 144px 56px 32px 56px;
      display: flex;
      flex-flow: column nowrap;
      height: 100%;
    }

    &__footer {
      padding: 0;
    }
  }

  .wizard {
    &__footer {
      border-top: 0;
    }
  }

  &__title {
    text-align: center;
    margin-bottom: 120px;
  }

  &__subtitle {
    display: block;
    margin-bottom: 25px;
  }

  &__caption {
    display: block;
    margin: 8px 0 26px;
  }

  &__frame {
    width: 490px;

    img {
      max-width: 100%;
      height: auto;
    }
  }

  &__body {
    flex: 1;
    display: flex;
    justify-content: center;
    max-width: 1024px;
    margin: 0 auto;
  }

  &__content {
    padding-left: 76px;
    max-width: 517px;
  }

  &__actions {
    display: flex;
    align-items: center;
  }

  @media screen and (max-height: 768px) {
    .el-dialog {
      &__body {
        padding: 60px 56px 22px 56px;
      }
    }

    &__caption {
      margin-bottom: 12px;
    }

    &__subtitle {
      margin-bottom: 12px;
    }

    &__title {
      margin-bottom: 60px;
    }

    &__frame {
      width: 350px;
    }
  }
}
