<template>
  <div class="on-boarding__body">
    <div class="on-boarding__frame">
      <img
        :src="image"
        alt="Square"
      >
    </div>
    <div class="on-boarding__content">
      <strong class="on-boarding__caption text-subtitle-lg-semibold">
        {{ title }}
      </strong>
      <h2 class="on-boarding__subtitle">
        {{ subtitle }}
      </h2>
      <p class="text-muted">
        {{ text }}
      </p>
    </div>
  </div>
</template>

<script>
  export default {
    /**
     * Name of the component.
     */
    name: "Step",

    /**
     * Computed properties.
     */
    computed: {
      /**
       * Image source.
       *
       * @returns {string}
       */
      image () {
        return '#';
      },

      /**
       * Title.
       *
       * @returns {string}
       */
      title () {
        return this.$trans('user::onboarding.get_started');
      },

      /**
       * Subtitle.
       *
       * @returns {string}
       */
      subtitle () {
        return '';
      },

      /**
       * Text.
       *
       * @returns {string}
       */
      text () {
        return this.$trans('user::onboarding.text');
      },
    },
  };
</script>
