<template>
  <div class="el-form-item">
    <div>
      <p class="text-label-xs-semibold-caps">
        {{ $trans('broadcast::labels.count_affected_advertisers', {count: formData.segment.affected_count}) }}
      </p>
    </div>
    <div class="custom-label">
      {{ $trans('broadcast::labels.field_labels.affected_dates') }}
    </div>
    <div class="el-form-item__content">
      <date-range-field
        v-model="formData.segment.dates"
        :use-native-picker="false"
        :range-separator="$trans('labels.to')"
        :pretty-format="$config.date.format.js"
        :picker-options="pickerOptions"
        :disabled="editEnabled"
        :description="$trans('broadcast::messages.affected_date_description')"
        class="promo-popup__date-range"
        name="segment_group.dates"
      />
    </div>
  </div>
</template>

<script>
  import { mapFields } from 'vuex-map-fields';
  import Validation from 'Foundation/components/form/mixins/Validation';
  import { DateRangeField } from 'Foundation/components/form';
  import moment from 'moment';
  import { mapActions, mapState } from 'vuex';
  import BroadcastMapper from 'Modules/broadcast/api/mappers/BroadcastMapper';

  export default {
    /**
     * Name.
     */
    name: 'AffectedAdvertisers',

    /**
     * Components.
     */
    components: {
      DateRangeField
    },

    /**
     * Mixins.
     */
    mixins: [
      Validation,
    ],

    /**
     * Props.
     */
    props: {
      /**
       * Allow edit dates
       */
      editEnabled: {
        type: Boolean,
        default: true
      }
    },

    /**
     * Computed properties
     */
    computed: {
      /**
       * Map fields
       */
      ...mapFields('broadcast', {
        formData: 'broadcastData',
        saved: 'saved',
        loaded: 'loaded',
      }),

      /**
       * Map state
       */
      ...mapState('broadcast', [
        'getCountAffectedAdvertisersPending'
      ]),

      /**
       * Picker options for date-picker.
       * @returns {{disabledDate: (default.methods.checkDateIsDisabled|(function(*=): boolean))}}
       */
      pickerOptions () {
        return {
          disabledDate: this.checkDateIsDisabled,
        };
      },
    },

    watch: {
      'formData.segment.dates' (value) {
        if (value.start && value.end) {
          this.$call(this.getCountAffectedAdvertisers(BroadcastMapper.getDateObjectForApi(value)))
          .catch(() => {
            this.formData.segment.affected_count = 0;
          });
          return;
        }

        if (!value.start || !value.end) {
          this.formData.segment.affected_count = 0;
        }

        if (this.loaded) {
          this.saved = false;
        }
      }
    },

    /**
     * Methods.
     */
    methods: {
      /**
       * Map actions
       */
      ...mapActions('broadcast', ['getCountAffectedAdvertisers']),

      /**
       * Returns true if date should not be available to select in datepicker.
       * @param date
       * @returns {boolean}
       */
      checkDateIsDisabled (date) {
        return !moment(date)
          .isBetween(moment()
          .subtract(this.$config.activities.database.store_months, 'months'), moment());
      },
    },
  }
</script>
