<template>
  <date-range-field
    v-model="innerValue"
    v-loading="checkDatePending"
    :use-native-picker="false"
    :range-separator="''"
    :show-dates-shifter="true"
    :pretty-format="$config.date.format.datepicker_display_format"
    :picker-options="pickerOptions"
    :validation-messages="validationMessages"
    :validation="validation"
    :disable-start-date="!campaignStates.wizard.can_edit_start_date"
    class="campaign-date-range"
    name="date"
    @closed="$emit('closed')"
  />
</template>

<script>
  import moment from 'moment';
  import 'moment-timezone';
  import { addBusinessDays } from 'Foundation/helpers/moment';
  import { DateRangeField } from 'Foundation/components/form';
  import { mapFields } from 'vuex-map-fields';
  import { mapMutations, mapState } from 'vuex';
  import CampaignMixin from '../mixins/CampaignMixin';
  import { first, get } from 'lodash';
  import { getCurrentValues } from '../../../../helpers/revision';

  export default {
    /**
     * Component name.
     */
    name: 'CampaignDateRange',

    /**
     * Child components.
     */
    components: {
      DateRangeField,
    },

    /**
     * Mixins.
     */
    mixins: [
      CampaignMixin
    ],

    /**
     * Computed properties.
     */
    computed: {
      /**
       * Fields mapping.
       */
      ...mapFields('wizard/details', [
        'date',
      ]),

      /**
       * State mapping.
       */
      ...mapState('wizard', ['checkDatePending']),
      ...mapState('states', { campaignStates: 'states' }),

      /**
       * Validation rules.
       */
      validation () {
        return {
          complete_date_range: null,
          ...this.validationRules.campaign.details.date.start,
          start_max: this.config.start.max,
          max_duration: this.config.max_duration,
        };
      },

      /**
       * Custom validation messages.
       */
      validationMessages () {
        return {
          complete_date_range: this.$trans('validation.custom.campaign.dates.required'),
          required: this.$trans('validation.custom.campaign.dates.required'),
        };
      },

      /**
       * Picker options for date-picker.
       * @returns {{disabledDate: (default.methods.checkDateIsDisabled|(function(*=): boolean))}}
       */
      pickerOptions () {
        return {
          disabledDate: this.checkDateIsDisabled,
        };
      },

      /**
       * Minimum available start date.
       * @returns {moment.Moment}
       */
      minStartDate () {
        return addBusinessDays(
          moment()
            .tz(this.config.timezone)
            .startOf('day'),
          this.config.start.min.value + 1
        );
      },
      /**
       * Maximum available end date.
       * @returns {*}
       */
      maxEndDate () {
        return this.minStartDate.clone()
          .add(this.config.start.max.value, this.config.start.max.type)
          .add(this.config.max_duration.value, this.config.max_duration.type);
      },

      /**
       * Config.
       */
      config () {
        return this.$config.campaign.wizard.date;
      },

      /**
       * DateRange model.
       */
      innerValue: {
        get: function () {
          return {
            start: get(first(getCurrentValues(this.date.start)), 'value'),
            end: get(first(getCurrentValues(this.date.end)), 'value'),
          }
        },
        set: function (value) {
          this.setDateRange(value);
        }
      }
    },

    /**
     * Methods.
     */
    methods: {
      /**
       * Vuex (mutations).
       */
      ...mapMutations('wizard/details', ['setDateRange']),

      /**
       * Returns true if date should not be available to select in datepicker.
       * @param date
       * @returns {boolean}
       */
      checkDateIsDisabled (date) {
        const momentDate = moment(date);

        // Formatting is necessary to ignore timezone
        const minStartDateFormatted = this.minStartDate.format('YYYY-MM-DD[T]HH:mm:ss');
        const maxEndDateFormatted = this.maxEndDate.format('YYYY-MM-DD[T]HH:mm:ss');

        return !momentDate.isSame(minStartDateFormatted, 'day') &&
          (momentDate.isBefore(minStartDateFormatted) || momentDate.isAfter(maxEndDateFormatted));
      },
    },
  };
</script>
