<template>
  <campaign-step
    :title="$trans('campaign::labels.titles.campaign_name')"
  >
    <template slot="description">
      {{ $trans('campaign::labels.subtitles.campaign_name') }}
    </template>
    <template slot="content">
      <text-field
        v-model="name"
        :label="$trans('campaign::labels.campaign_name')"
        :show-label="true"
        :validation-messages="validationMessages"
        :validation="validationRules.campaign.details.name"
        :maxlength="nameLength"
        :placeholder="$trans('campaign::labels.name_placeholder')"
        name="name"
        size="medium"
        @blur="updateFilledState"
      />
    </template>
  </campaign-step>
</template>

<script>
  import CampaignStep from '../CampaignStep';
  import CreateCampaignFormStep from '../mixins/CreateCampaignFormStep';
  import { mapFields } from 'vuex-map-fields';
  import { mapActions, mapState, mapGetters } from 'vuex';

  export default {
    /**
     * Component name.
     */
    name: 'CampaignName',

    /**
     * Components
     */
    components: {
      CampaignStep,
    },
    /**
     * Mixins.
     */
    mixins: [
      CreateCampaignFormStep,
    ],

    /**
     * Data.
     */
    data () {
      return {
        shouldTriggerAutoSave: false,
      }
    },

    /**
     * Computed properties.
     */
    computed: {
      /**
       * Vuex (fields).
       */
      ...mapFields('wizard/details', [
        'name',
      ]),

      /**
       * Vuex (state).
       */
      ...mapState('wizard', {
        campaignId: 'id',
      }),

      /**
       * Vuex (getters).
       */
      ...mapGetters('wizard/steps', [
        'getStep',
      ]),

      /**
       * Storage key for step.
       *
       * @returns {string}
       */
      key () {
        return 'details.name';
      },

      /**
       * Custom validation messages for the field.
       */
      validationMessages () {
        return {
          required: this.$trans('validation.custom.campaign.name.required'),
          max: (field, [max]) => {
            return this.$trans('validation.custom.campaign.name.max', { max });
          },
          regex: this.$trans('validation.custom.campaign.name.regex'),
        };
      },

      /**
       * Max length for campaign name field
       */
      nameLength () {
        return this.validationRules.campaign.details.name.max + 1;
      },
    },

    /**
     * Watchers.
     */
    watch: {
      name: 'onUpdate',
    },

    /**
     * Mounted.
     */
    mounted () {
      this.trackNewCampaign();
    },

    /**
     * Methods
     */
    methods: {
      /**
       * Vuex actions.
       */
      ...mapActions('wizard', {
        storeCampaign: 'storeCampaign',
        updateName: 'details/updateName',
      }),

      /**
       * Save name
       * @returns {*|Promise<any>}
       */
      save () {
        this.updateFilledState();
        if (!this.campaignId) {
          return this.$call(
            this.storeCampaign({ name: this.name }),
            { notify: false, muteException: true}
          );
        }

        return this.$call(this.updateName(), { notify: false, muteException: true });
      },

      /**
       * Update the vuex state of campaign's name.
       */
      updateFilledState () {
        this.checkFilled(this.name);
      },

      /**
       * Check if the campaign's name wasn't filled and track the event.
       */
      trackNewCampaign () {
        const nameStep = this.getStep('details.name');
        if (nameStep && !nameStep.filled) {
          this.$trackAction('create_campaign_start');
        }
      },
    },
  };
</script>
