<template>
  <campaign-step
    classes="campaign-schedule"
    :title="$trans('campaign::labels.titles.schedule')"
  >
    <div
      slot="description"
      v-html="$trans('campaign::labels.subtitles.schedule', {
        link: $config.general.links.faq.ad_approval,
      })"
    />
    <template slot="content">
      <div class="custom-label">
        {{ $trans('labels.dates') }}
      </div>
      <div class="campaign-schedule__input-wrapper">
        <campaign-date-range
          class="campaign-schedule__input-wrapper-item"
          @closed="saveStep"
        />
        <timezones
          v-if="showTimeZones"
          class="campaign-schedule__input-wrapper-item"
        />
      </div>
      <under-min-per-day-warning-box
        :show="showUnderMinPerDayWarning"
        :suggested-schedule-duration="suggestedScheduleDuration"
        :min-daily-impressions="minDailyImpressions"
        :suggested-budget="suggestedBudget"
        :daily-impressions="dailyImpressions"
        :step="key"
        @handleBudgetNavigation="handleBudgetNavigation"
        @handleScheduleNavigation="handleScheduleNavigation"
      />
    </template>
  </campaign-step>
</template>

<script>
  import CampaignStep from '../CampaignStep';
  import CampaignDateRange from './CampaignDateRange';
  import TimezonesMixin from '../mixins/Timezones';
  import {mapActions, mapMutations, mapState} from 'vuex';
  import { mapFields } from 'vuex-map-fields';
  import Timezones from './Timezones';
  import UnderMinPerDayWarningBox from '../../common/UnderMinPerDayWarningBox';
  import TargetingStep from '../mixins/TargetingStep';

  export default {
    /**
     * Component name.
     */
    name: 'CampaignSchedule',

    /**
     * Child components.
     */
    components: {
      Timezones,
      CampaignDateRange,
      CampaignStep,
      UnderMinPerDayWarningBox
    },

    /**
     * Mixins.
     */
    mixins: [
      TargetingStep,
      TimezonesMixin,
    ],

    /**
     * Data properties.
     */
    data(){
      return {
        shouldTriggerAutoSave: false,
        showUnderMinPerDayWarning: false,
      }
    },

    /**
     * Computed properties.
     */
    computed: {
      /**
       * Vuex (state).
       */
      ...mapFields('wizard/details', ['date', 'updateSchedulePending']),

      /**
       * Vuex (state).
       */
      ...mapState('wizard/budget', ['cost']),

      /**
       * If save operation is performing
       */
      savePending () {
        return this.updateSchedulePending;
      },

      /**
       * Storage key for step.
       *
       * @returns {string}
       */
      key () {
        return 'details.schedule';
      },

      /**
       * Show timezone select
       * @returns {boolean}
       */
      showTimeZones () {
        return this.$config.campaign.enable_timezone_select;
      },
    },

    /**
     * Watchers.
     */
    watch: {
      date: {
        deep: true,
        handler: 'onUpdate'
      },
      timezone_id: 'onUpdate',

      /**
       * Handle input focused state.
       */
      isUnderMinPerDay (value) {
        if (value && this.date.start && this.date.end) {
          return this.showUnderMinPerDayWarning = true;
        }

        return  this.showUnderMinPerDayWarning = false;
      }
    },

    /**
     * Created hook.
     */
    created () {
      if (!this.$config.campaign.enable_timezone_select) {
        this.setTimezoneId();
      }

      if (this.isUnderMinPerDay && this.date.start && this.date.end) {
        this.showUnderMinPerDayWarning = true;
      }
    },

    /**
     * Methods.
     */
    methods: {
      /**
       * Vuex.
       */
      ...mapActions('wizard/details', [
        'updateSchedule',
      ]),

      /**
       * Vuex (mutations).
       */
      ...mapMutations('wizard/budget', ['clearErrorBudgetMessage',]),

      /**
       * Save current step.
       * @returns {*}
       */
      save () {
        this.clearErrorBudgetMessage();
        return this.$call(this.updateSchedule(), { muteException: true });
      },
    },
  };
</script>
