<template>
  <div class="timezones">
    <select-field
      v-model="timezone_id"
      :inline="true"
      :label="$trans('labels.timezone')"
      :options="timezones"
      :placeholder="$trans('labels.timezone')"
      :show-label="false"
      :validation-messages="validationMessages"
      :validation="validation"
      name="timezone"
      size="medium"
    />
  </div>
</template>

<script>
import { mapFields } from 'vuex-map-fields';
import SelectField from 'Foundation/components/form/SelectField';
import timezones from 'Static/timezones.json';

export default {
  /**
   * Name.
   */
  name: 'Timezones',

  /**
   * Components.
   */
  components: { SelectField },

  /**
   * Computed properties.
   */
  computed: {
    /**
     * Vuex map fields.
     */
    ...mapFields('wizard/details', [
      'timezone_id',
    ]),

    /**
     * Validation rules.
     */
    validation () {
      return this.validationRules.campaign.details.timezone_id;
    },

    /**
     * Custom validation messages.
     */
    validationMessages () {
      return {
        required: this.$trans('validation.custom.campaign.timezone_id.required'),
      };
    },

    /**
     * Timezones.
     * @return Array
     */
    timezones () {
      return timezones
        .map(timezone => ({ label: `(${timezone.code}) ${timezone.name}`, value: timezone.id }));
    }
  },

  /**
   * Created lifecycle method.
   */
  created() {
    if (this.timezone_id) {
      return;
    }
    const defaultTimezone = timezones.find(timezone => timezone.code === this.$config.date.default_timezone_code);
    if (defaultTimezone) {
      this.timezone_id = defaultTimezone.id;
    }
  },
};
</script>
