<template>
  <div class="data-table-cell invitation__actions-cell d-flex">
    <!-- RESEND -->
    <resend-action
      v-if="invitation.states.can_resend"
      :invitation="invitation"
      :tooltip="$trans('invitation::labels.resend_invite')"
      @update="invitation => $emit('update', invitation)"
      @refresh="$emit('refresh')"
    />

    <!-- REVOKE -->
    <revoke-resume-action
      :invitation="invitation"
      @update="invitation => $emit('update', invitation)"
    />
  </div>
</template>

<script>
  import RevokeResumeAction from './RevokeResumeAction';
  import ResendAction from './ResendAction';

  export default {
    /**
     * Component name
     */
    name: 'InvitationActionsCell',

    /**
     * Components
     */
    components: {
      ResendAction,
      RevokeResumeAction
    },

    /**
     * Props
     */
    props: {
      /**
       * Invitation type
       */
      invitation: {
        type: Object,
        default: () => {
          return {};
        },
      },
    },
  };
</script>
