<template>
  <el-tooltip
    class="item"
    effect="dark"
    :content="tooltip"
    placement="top"
  >
    <a
      v-loading="pending"
      :disabled="pending"
      role="button"
      class="button-empty-icon"
      @click="onClick"
    >
      <icon value="mail-resend" />
    </a>
  </el-tooltip>
</template>

<script>

import {mapActions} from "vuex";
import Icon from 'Foundation/components/icons/Icon';

export default {
  /**
   * Component name.
   */
  name: 'ResendAction',

  /**
   * Components
   */
  components: {
    Icon,
  },

  /**
   * Props
   */
  props: {
    /**
     * Invitation type
     */
    invitation: {
      type: Object,
      default: () => {
        return {};
      },
    },

    /**
     * Tooltip value
     */
    tooltip: {
      type: String,
      default: 'resend invite'
    }
  },

  /**
   * Data.
   */
  data() {
    return {
      pending: false,
    }
  },

  /**
   * Methods
   */
  methods: {
    /**
     * Map actions
     */
    ...mapActions('invitation', {resend: 'resendInvitation'}),

    /**
     * On button click
     */
    async onClick() {
      this.pending = true;

      this.$call(this.resend(this.invitation.id))
        .then(({data: {data}}) => {
          this.$emit('update', data);
          this.$emit('refresh');
        })
        .catch(() => {
          return;
        })
        .finally(() => {
          this.pending = false;
        });
    },
  }
};
</script>
