<template>
  <!-- PAUSE -->
  <stop-action
    v-if="canRevoke"
    :loading="loading"
    :disabled="loading"
    :tooltip="$trans('invitation::labels.revoke_invite')"
    @click="revoke"
  />

  <!-- RESUME -->
  <play-action
    v-else
    :loading="loading"
    :disabled="loading"
    :tooltip="$trans('invitation::labels.resume_invite')"
    @click="resume"
  />
</template>

<script>
  import PlayAction from 'Foundation/components/action-icon/PlayAction';
  import StopAction from 'Foundation/components/action-icon/StopAction';
  import { mapActions } from "vuex";

  export default {
    /**
     * Component name.
     */
    name: 'RevokeResumeAction',

    /**
     * Child components.
     */
    components: {
      PlayAction,
      StopAction,
    },

    /**
     * Available properties.
     */
    props: {
      /**
       * Invitation type
       */
      invitation: {
        type: Object,
        default: () => {
          return {};
        },
      },
    },

    /**
     * Reactive data.
     */
    data () {
      return {
        loading: false,
      };
    },

    /**
     * Computed properties.
     */
    computed: {
      /**
       * True if user can revoke the invite.
       */
      canRevoke () {
        return this.invitation.states.can_revoke;
      },
    },

    /**
     * Methods.
     */
    methods: {
      /**
       * Map actions
       */
      ...mapActions('invitation', ['revokeInvitation', 'resumeInvitation']),

      /**
       * Revoke the code.
       */
      revoke () {
        this.handle(this.revokeInvitation(this.invitation.id));
      },

      /**
       * Resume the code.
       */
      resume () {
        this.handle(this.resumeInvitation(this.invitation.id));
      },

      /**
       * Pause / resume action handler.
       *
       * @param endpoint
       */
      handle (endpoint) {
        this.loading = true;

        this.$call(endpoint)
          .then(({ data: { data } }) => {
            this.$emit('update', data);
          })
          .catch(() => {
            this.$notify.error({
              message: this.$trans('messages.went_wrong'),
            });
          })
          .finally(() => {
            this.loading = false;
          });
      },
    },
  };
</script>
