<template>
  <layout-main menu="broadcasts">
    <div class="page">
      <div class="page__header">
        <h1>{{ $trans('broadcast::labels.broadcasts') }}</h1>
        <el-button
          v-if="$hasPermission('create_broadcast')"
          slot="button"
          type="default"
          @click="broadcastModalVisible = true"
        >
          {{ $trans('broadcast::labels.create_broadcast') }}
        </el-button>
      </div>
      <div class="page__holder level-negative-1">
        <broadcast-table
          ref="table"
          @edit="showEdit"
        />
      </div>
    </div>
    <broadcast-modal
      v-if="broadcastModalVisible"
      ref="modal"
      @close="close"
      @save="refreshDataTable"
    />
  </layout-main>
</template>

<script>
  import LayoutMain from 'Foundation/layouts/LayoutMain';
  import BroadcastModal from 'Modules/broadcast/components/modals/BroadcastModal';
  import BroadcastTable from 'Modules/broadcast/components/index/BroadcastTable';
  import {mapActions, mapMutations} from 'vuex';

  export default {
    /**
     * Name
     */
    name: 'TheAdminBroadcastIndex',

    /**
     /**
     * Components
     */
    components: {
      LayoutMain,
      BroadcastModal,
      BroadcastTable
    },

    /**
     * Component data
     */
    data () {
      return {
        broadcastModalVisible: false,
      }
    },

    /**
     * Watch
     */
    watch: {
      broadcastModalVisible (value) {
        if (!value) {
          this.reset();
        }
      },
    },

    created () {
      if (this.$router.currentRoute.name === 'broadcast.show') {
        this.broadcastModalVisible = true;
      }
    },

    /**
     * Component methods
     */
    methods: {
      /**
       * Map actions
       */
      ...mapActions('broadcast', ['getParams', 'show']),

      /**
       * Map mutations
       */
      ...mapMutations('broadcast', ['reset']),

      /**
       * On modal close
       */
      close () {
        this.broadcastModalVisible = false;
        this.$pushRoute({
          name: 'broadcast.index',
        });
      },

      /**
       * Show edit
       */
      showEdit (broadcast) {
        this.broadcastModalVisible = true;
        this.$pushRoute({
          name: 'broadcast.show',
          broadcastId: broadcast.id
        });
      },

      /**
       * Refresh datatable
       */
      refreshDataTable () {
        this.$refs['table'].refresh();
      },
    }
  };
</script>
