<template>
  <div class="no-border">
    <!-- TITLE -->
    <card-section-title>
      {{ $trans('labels.business_info') }}
      <card-section-action
        slot="after"
        :enabled="canUpdateBusiness"
        @click="openModal"
      >
        {{ $trans('actions.update') }}
      </card-section-action>
    </card-section-title>

    <!-- BUSINESS NAME -->
    <card-section-item>
      <template slot="title">
        {{ $trans('labels.business_name') }}
      </template>

      <template slot="content">
        {{ companyName }}
      </template>
    </card-section-item>

    <!-- BUSINESS PHONE -->
    <card-section-item>
      <template slot="title">
        {{ $trans('labels.business_phone') }}
      </template>

      <template slot="content">
        {{ phone }}
      </template>
    </card-section-item>

    <!-- BUSINESS ADDRESS -->
    <card-section-item :content-items="[addressLine1, addressLine2, `${addressCity}, ${addressState} ${addressZip}`]">
      <template slot="title">
        {{ $trans('labels.business_address') }}
      </template>
    </card-section-item>

    <business-info-modal :visible.sync="modalVisible" />
  </div>
</template>

<script>
  import BusinessInfoModal from './BusinessInfoModal';
  import { CardSectionAction, CardSectionItem, CardSectionTitle } from 'Foundation/components/layout/card';
  import { mapState, mapGetters, mapActions } from 'vuex';
  import { mapFields } from 'vuex-map-fields';

  const MAX_CHECK_ATTEMPTS = 50;
  const MAX_CHECK_FAILURES = 3;

  export default {
    /**
     * Name of the component.
     */
    name: "BusinessInfo",

    /**
     * Child components.
     */
    components: {
      BusinessInfoModal,
      CardSectionAction,
      CardSectionItem,
      CardSectionTitle,
    },

    /**
     * Reactive data.
     *
     * @returns {{modalVisible: boolean}}
     */
    data () {
      return {
        modalVisible: false,
        checkUpdateLockInterval: null,
        maxCheckAttempts: MAX_CHECK_ATTEMPTS,
        maxCheckFailures: MAX_CHECK_FAILURES,
      };
    },

    /**
     * Computed properties.
     */
    computed: {
      /**
       * Map fields.
       */
      ...mapFields('profile', {
        companyName: 'user.companyName',
        phone: 'user.phone',
        addressLine1: 'user.address.line1',
        addressLine2: 'user.address.line2',
        addressCity: 'user.address.city',
        addressState: 'user.address.state',
        addressZip: 'user.address.zip',
      }),

      /**
       * Map states.
       */
      ...mapState('profile', [
        'checkLockUpdatePending'
      ]),

      /**
       * Map getters.
       */
      ...mapGetters('profile', [
        'canUpdateBusiness'
      ]),
    },

    /**
     * Watchers.
     */
    watch: {
      /**
       * @param {boolean} val
       */
      canUpdateBusiness (val) {
        if (!val) {
          this.checkUpdateLockInterval = setInterval(
            this.checkUpdateBusiness,
            this.$config.user.check_update_business_interval
          );
        } else {
          this.stopCheckUpdateLock();
        }
      },
    },

    /**
     * Methods.
     */
    methods: {
      /**
       * Map actions.
       */
      ...mapActions('profile', [
        'checkLockUpdate',
      ]),

      /**
       * Initiate checking possibility of business info update.
       */
      checkUpdateBusiness() {
        if (!this.checkLockUpdatePending) {
          // If limits of check attempts is reached, then stop checks.
          if (!this.maxCheckAttempts || !this.maxCheckFailures) {
            this.stopCheckUpdateLock();
            return;
          }

          this.$call(this.checkLockUpdate())
            .then(() => {
              this.maxCheckAttempts--;
            })
            .catch(() => {
              this.maxCheckFailures--;
            });
        }
      },

      /**
       * Open modal dialog with edit form.
       */
      openModal() {
        this.setCheckLimits();
        this.modalVisible = true;
      },

      /**
       * Set limits for business update lock checks.
       */
      setCheckLimits() {
        this.maxCheckAttempts = MAX_CHECK_ATTEMPTS;
        this.maxCheckFailures = MAX_CHECK_FAILURES;
      },

      /**
       * Stop checking of update-lock flag.
       */
      stopCheckUpdateLock() {
        clearInterval(this.checkUpdateLockInterval);
      },
    },
  };
</script>
