<template>
  <modal
    :loading="updateBusinessPending"
    :title="$trans('labels.update_business_information')"
    :visible="visible"
    :submit-disabled="submitDisabled"
    :custom-class="'el-dialog--actions-column-reverse'"
    :width="'688px'"
    @cancel="close"
    @close="close"
    @submit="submit"
  >
    <el-form
      ref="form"
      :model="form"
      @submit.prevent.native="submit"
    >
      <text-field
        v-model="form.name"
        :label="$trans('labels.name')"
        :disabled="true"
        :placeholder="$trans('labels.enter_your_name')"
        :validation="nameValidation"
        name="company_name"
        size="medium"
        validate-on="none"
        @input="onFormChange"
      />
      <phone-field
        v-model="form.phone"
        :label="$trans('labels.business_phone')"
        :placeholder="$trans('labels.enter_your_phone')"
        :validation="validation.user.phone"
        name="phone"
        size="medium"
        @input="onFormChange"
      />
      <text-field
        v-model="form.addressLine1"
        :label="$trans('labels.street_line1')"
        :placeholder="$trans('labels.enter_your_address')"
        :validation="validation.user.address.line1"
        name="addressLine1"
        size="medium"
        validate-on="none"
        @input="onFormChange"
      />
      <text-field
        v-model="form.addressLine2"
        :label="$trans('labels.street_line2')"
        :validation="validation.user.address.line2"
        name="addressLine2"
        size="medium"
        validate-on="none"
        @input="onFormChange"
      />
      <text-field
        v-model="form.city"
        :label="$trans('labels.city')"
        :placeholder="$trans('labels.enter_your_city')"
        :validation="validation.user.address.city"
        name="city"
        size="medium"
        validate-on="none"
        @input="onFormChange"
      />
      <el-row :gutter="55">
        <select-state-and-zip
          :value-state="form.state"
          :value-zip="form.zip"
          state-field-name="state"
          zipcode-field-name="zip"
          @update-value-state="value => form.state = value"
          @update-value-zip="value => form.zip = value"
          @on-form-change="onFormChange"
        />
      </el-row>
    </el-form>
  </modal>
</template>

<script>
  import Visible from 'Foundation/mixins/Visible';
  import { mapActions, mapState } from 'vuex';
  import { mapFields } from 'vuex-map-fields';
  import { Modal } from 'Foundation/components/layout/modal';
  import { PhoneField, TextField } from 'Foundation/components/form';
  import { omit } from 'lodash';
  import SelectStateAndZip from 'Modules/user/components/location/SelectStateAndZip';

  export default {
    /**
     * Name of the component.
     */
    name: "BusinessInfoModal",

    /**
     * Child components.
     */
    components: {
      SelectStateAndZip,
      Modal,
      PhoneField,
      TextField,
    },

    /**
     * Mixins.
     */
    mixins: [
      Visible,
    ],

    /**
     * Reactive data.
     */
    data () {
      return {
        form: {
          name: null,
          phone: null,
          addressLine1: null,
          addressLine2: null,
          city: null,
          state: null,
          zip: null,
        },
        submitDisabled: true,
      };
    },

    /**
     * Computed properties.
     */
    computed: {
      /**
       * Map fields.
       */
      ...mapFields('profile', {
        name: 'user.companyName',
        phone: 'user.phone',
        line1: 'user.address.line1',
        line2: 'user.address.line2',
        city: 'user.address.city',
        state: 'user.address.state',
        zip: 'user.address.zip',
      }),

      /**
       * Map state.
       */
      ...mapState('profile', [
        'updateBusinessPending',
      ]),

      /**
       * Validation.
       */
      validation () {
        return this.validationRules;
      },

      /**
       * Method that define validation for 'company name' field.
       */
      nameValidation () {
        return omit(this.validation.user.company_name, ['required'])
      },
    },

    /**
     * Watchers.
     */
    watch: {
      /**
       * Component visibility.
       *
       * @param visible
       */
      visible (visible) {
        if (visible) {
          this.loadFromState();
        }
      },
    },

    /**
     * Methods.
     */
    methods: {
      /**
       * Vuex.
       */
      ...mapActions('profile', [
        'updateBusinessInfo',
      ]),

      /**
       * On form change
       */
      onFormChange () {
        this.submitDisabled = false;
      },

      /**
       * Update internal form data from state.
       */
      loadFromState () {
        this.form.name = this.name;
        this.form.phone = this.phone;
        this.form.addressLine1 = this.line1;
        this.form.addressLine2 = this.line2;
        this.form.city = this.city;
        this.form.state = this.state;
        this.form.zip = this.zip;
      },

      /**
       * Update vuex state.
       */
      updateState () {
        this.submitDisabled = true;
      },

      /**
       * Submit the form.
       *
       * @returns {Promise<void>}
       */
      async submit () {
        const validated = await this.$validateScope();

        if (!validated) {
          return;
        }

        this.$call(this.updateBusinessInfo(this.form)).then(() => {
          this.updateState();
          this.close();
        }).catch(() => {});
      },
    },
  };
</script>
