<template>
  <div
    tabindex="0"
    class="video-item"
    @click="showPreview"
    @keydown="showPreview"
  >
    <div
      class="video-item__pin"
    >
      <plus-cell
        v-if="selectable"
        :disabled="checkStatus"
        :is-selected="isSelected"
        @selected="selected"
        @removed="removed"
      />
    </div>
    <div
      class="video-item__frame can-select"
    >
      <a
        tabindex="-1"
        :href="$getRoute('creatives.show', { creative: videoData.id })"
        @click.prevent="() => {}"
      >
        <img
          :src="poster"
          alt="Preview"
          width="272"
          height="152"
        >
      </a>
    </div>
    <div
      class="video-item__info video-info can-select"
    >
      <a
        tabindex="-1"
        href="#"
      >
        <span class="video-info__name">
          {{ name }}
        </span>
      </a>
      <ul class="video-info__list">
        <li class="video-info__list-item">
          .{{ extension }}
        </li>
        <li class="video-info__list-item">
          {{ filesize }}
        </li>
        <li class="video-info__list-item">
          {{ duration }}
        </li>
      </ul>
      <p class="video-info__date-upload">
        Uploaded: {{ uploaded }}
      </p>
    </div>
    <div
      class="video-item__panel can-select"
    >
      <div
        class="video-item__info-status"
      >
        <status-cell
          :cell-value="status"
        />
      </div>
      <div v-if="allowDownloadCreative">
        <a
          tabindex="0"
          :href="preview"
          :download="name"
          type="button"
          class="el-button el-button--text"
        >
          <icon
            value="download"
            transparent="fill"
          />
          {{ $trans('creative::labels.download') }}
        </a>
      </div>
      <div v-if="submitButtonVisible">
        <tooltip
          :disabled="submitPermissions.can || submitButtonLoading"
          effect="light"
          popper-class="text-tip"
          placement="top"
          :content="submitPermissions.reason"
        >
          <span class="disabled-button-wrapper">
            <el-button
              v-loading="submitButtonLoading"
              :disabled="submitButtonDisabled"
              type="default"
              @click.stop="submit"
            >
              {{ $trans('creative::labels.submit_for_review') }}
            </el-button>
          </span>
        </tooltip>
      </div>
    </div>
  </div>
</template>

<script>
  import StatusCell from './StatusCell';
  import PlusCell from 'Foundation/components/dataTable/Cells/PlusCell';
  import Tooltip from 'Foundation/components/toolpip/BaseTooltip';
  import Creative from '../../../mixins/Creative';
  import Icon from 'Foundation/components/icons/Icon';
  import WithSubmitButton from 'Modules/creative/mixins/WithSubmitButton';

  export default {
    /**
     * Component name
     */
    name: "VideoCell",

    /**
     * Used components
     */
    components: {
      StatusCell,
      PlusCell,
      Icon,
      Tooltip,
    },

    /**
     * Mixins
     */
    mixins: [
      Creative,
      WithSubmitButton,
    ],

    /**
     * Props
     */
    props: {
      /**
       * Is element selected
       */
      isSelected: {
        type: Boolean,
        default: false
      },

      /**
       * Component can be select
       */
      selectable: {
        type: Boolean,
        default: false
      }
    },

    /**
     * Componenet methods
     */
    methods: {
      /**
       * Broadcast show preview event
       */
      showPreview (event) {
        if ((event.type === 'click' || (event.key && event.key === 'Enter')) &&
          event.target.getAttribute('type') !== 'button') {
          this.$emit('show-preview', this.videoData.id);
        }
      },

      /**
       * Set current creative value
       */
      selected () {
        this.$emit('selected', this.videoData);
      },

      /**
       * Broadcast removed event
       */
      removed () {
        this.$emit('removed');
      },
    }
  };
</script>
