<template>
  <common-select
    v-model="campaigns"
    :placeholder="placeholder"
    :label="label"
    :scope="scope"
    name="campaigns"
    size="large"
    :multiple="multiple"
    :disabled="disabled"
  >
    <el-option
      v-for="item in campaignsList"
      :key="item.value"
      :label="item.label"
      :value="item.value"
    />
  </common-select>
</template>

<script>
import CommonSelect from 'Foundation/components/form/extend/CommonSelect';

export default {
  /**
   * Name.
   */
  name: 'CampaignsComponent',

  /**
   * Components.
   */
  components: {
    CommonSelect
  },

  /**
   * Props data.
   */
  props: {
    /**
     * Placeholder.
     */
    placeholder: {
      type: String,
      default: ''
    },

    /**
     * Label.
     */
    label: {
      type: String,
      default: ''
    },

    /**
     * Scope.
     */
    scope: {
      type: String,
      default: ''
    },

    /**
     * Disabled.
     */
    disabled: {
      type: Boolean,
      default: false
    },

    /**
     * Multiple.
     */
    multiple: {
      type: Boolean,
      default: false
    },

    /**
     * Value.
     */
    value: {
      type: [Number, Array],
      default () {
        return null
      }
    }
  },

  /**
   * Computed.
   */
  computed: {
    /**
     * TODO MOCK campaign list
     */
    campaignsList () {
      return [{
        label: 'test campaign',
        value: 644
      }]
    },

    /**
     * Campaigns
     */
    campaigns: {
      get () {
        return this.value;
      },
      set (value) {
        return this.$emit('save', value);
      }
    },
  }
}
</script>
