<template>
  <div class="form-section">
    <div class="custom-label">
      {{ $trans('report::labels.reportModal.date_range') }}
    </div>
    <div class="custom-description">
      {{ $trans('report::labels.reportModal.what_dates') }}
    </div>
    <date-range-field
      ref="dateRange"
      v-model="date"
      name="dateRange"
      :use-native-picker="false"
      :range-separator="''"
      :show-dates-shifter="true"
      :pretty-format="$config.date.format.datepicker_display_format"
      :picker-options="pickerOptions"
      :validation-messages="validationMessages.date"
      :validation="validation"
      class="campaign-date-range full-width"
      @closed="$emit('closed')"
    />
  </div>
</template>

<script>
import DateRangeField from 'Foundation/components/form/DateRangeField';
import moment from 'moment';

export default {
  /**
   * Name.
   */
  name: 'DateRangeComponent',

  /**
   * Components.
   */
  components: {
    DateRangeField
  },

  /**
   * Props data.
   */
  props: {
    /**
     * Value.
     */
    value: {
      type: Object,
      default () {
        return {}
      }
    },

    /**
     * Scope.
     */
    scope: {
      type: String,
      default: ''
    }
  },

  /**
   * Data properties.
   */
  data () {
    return {
      date: this.value
    }
  },
  /**
   * Computed properties.
   */
  computed: {
    /**
     * Validation rules.
     */
    validation () {
      return {
        complete_date_range: null,
        ...this.validationRules.report.date,
      };
    },

    /**
     * @returns {Array}
     */
    validationMessages () {
      return {
        date: {
          complete_date_range: this.$trans('validation.custom.report.date.required'),
          required: this.$trans('validation.custom.report.date.required'),
        }
      }
    },

    /**
     * Picker options for datepicker.
     *
     * @returns {{disabledDate: (default.methods.checkDateIsDisabled|(function(*=): boolean))}}
     */
    pickerOptions () {
      return {
        disabledDate: this.checkDateIsDisabled,
      };
    },

    /**
     * Config.
     */
    config () {
      return this.$config.campaign.wizard.date;
    },
  },

  /**
   * Watch.
   */
  watch: {
    /**
     * Date watch.
     */
    date: {
      handler (value)  {
        this.$emit('save', value);
      },
      deep: true
    },

    /**
     * Value watch.
     */
    value: {
      handler (value)  {
        this.date = value
      },
      deep: true
    }
  },

  /**
   * Methods.
   */
  methods: {
    /**
     * Returns true if date should be available to select in datepicker.
     * @param date
     * @returns {boolean}
     */
    checkDateIsDisabled (date) {
      const momentDate = moment(date);
      return momentDate.isAfter(moment());
    },
  },
}
</script>
