<template>
  <div class="form-section">
    <div class="custom-label">
      {{ $trans('report::labels.reportModal.report_delivery') }}
    </div>
    <div class="custom-description">
      {{ $trans('report::labels.reportModal.do_tou_want_receive_report') }}
    </div>
    <el-radio-group
      v-if="!onlySchedule"
      v-model="type"
      size="small"
      :scope="scope"
    >
      <el-radio
        v-if="download"
        ref="downloadable"
        label="downloadable"
      >
        {{ $trans('report::labels.reportModal.download_now') }}
      </el-radio>
      <el-radio
        v-if="emailNow"
        ref="email_now"
        label="email_now"
      >
        <div class="el-radio__title">
          {{ $trans('report::labels.reportModal.email_now') }}
        </div>
        <div class="text-muted">
          {{ $trans('report::labels.reportModal.report_delivery_an_hour') }}
        </div>
      </el-radio>
      <el-radio
        ref="scheduled"
        label="scheduled"
      >
        <div class="el-radio__title">
          {{ $trans('report::labels.reportModal.scheduled') }}
        </div>
        <div class="text-muted">
          {{ $trans('report::labels.reportModal.scheduled_desc') }}
        </div>
        <el-radio-group
          v-model="frequency"
          size="small"
        >
          <el-radio
            v-for="(item, index) in frequencyOptions"
            :key="index"
            :label="item.value"
            :disabled="!canShowFrequencyOptions"
          >
            {{ item.label }}
            <el-radio-group
              v-if="item.options && canShowDays"
              v-model="day"
              size="small"
            >
              <el-radio
                v-for="(option, key) in item.options"
                :key="key"
                :label="option.value"
              >
                {{ option.label }}
              </el-radio>
            </el-radio-group>
          </el-radio>
        </el-radio-group>
        <email-field
          v-model="emails"
          class="full-width"
          :disabled="!canShowFrequencyOptions"
          @setEmails="setEmails"
        />
      </el-radio>
    </el-radio-group>
    <div v-else>
      <el-radio-group
        ref="frequency"
        v-model="frequency"
        size="small"
      >
        <el-radio
          v-for="(item, index) in frequencyOptions"
          :key="index"
          :label="item.value"
        >
          {{ item.label }}
          <el-radio-group
            v-if="item.options && canShowDays"
            v-model="day"
            size="small"
          >
            <el-radio
              v-for="(option, key) in item.options"
              :key="key"
              :label="option.value"
            >
              {{ option.label }}
            </el-radio>
          </el-radio-group>
        </el-radio>
      </el-radio-group>
      <email-field
        v-model="emails"
        class="full-width"
        :disabled="!canShowFrequencyOptions"
        @setEmails="setEmails"
      />
    </div>
  </div>
</template>

<script>
import { mapActions, mapMutations, mapState } from 'vuex';
import EmailField from './EmailField';

const WEEKLY_ID = 2;

export default {
  /**
   * Name.
   */
  name: 'DeliverySettings',

  /**
   * Components.
   */
  components: {
    EmailField
  },

  /**
   * Props data.
   */
  props: {
    /**
     * Show download type.
     */
    download: {
      type: Boolean,
      default: false
    },

    /**
     * Show emailNow type.
     */
    emailNow: {
      type: Boolean,
      default: true
    },

    /**
     * Delivery data.
     */
    value: {
      type: Object,
      default () {
        return {}
      }
    },

    /**
     * Show only schedule data.
     */
    onlySchedule: {
      type: Boolean,
      default: false
    },

    /**
     * Scope
     */
    scope: {
      type: String,
      default: ''
    },
  },

  /**
   * Data.
   */
  data () {
    return {
      deliveryType: null,
    }
  },

  /**
   * Computed properties
   */
  computed: {
    /**
     * Map frequency list
     */
    ...mapState('deliveryFrequency', ['frequencyList', 'weeklyReportDays']),

    /**
     * Map frequency list
     */
    frequencyOptions () {
      return this.frequencyList.map((frequency) => {
        let obj = {value: frequency.id, key: frequency.id, label: frequency.name}

        if (frequency.id === WEEKLY_ID) {
          obj.options = this.dayOptions;
        }

        return obj
      });
    },

    /**
     * Map days list
     */
    dayOptions () {
      return this.weeklyReportDays.map(day => ({ value: day.id, key: day.id, label: day.name }));
    },

    /**
     * Can show frequency list
     */
    canShowFrequencyOptions () {
      return this.value.type === 'scheduled';
    },

    /**
     * Can shw days options
     */
    canShowDays () {
      if (this.value.schedulePrams === undefined) {
        return false;
      }
      return this.value.schedulePrams.frequency === WEEKLY_ID;
    },

    /**
     * Type
     */
    type: {
      get () {
        return this.value.type;
      },
      set (value) {
        let obj = this.value;
        obj.type = value;
        return this.$emit('update', obj);
      }
    },

    /**
     * Frequency
     */
    frequency: {
      get () {
        const defaultFrequency = this.frequencyOptions[0] ? this.frequencyOptions[0].value : null;

        return this.value.schedulePrams && this.value.schedulePrams.frequency ?
          this.value.schedulePrams.frequency :
          defaultFrequency;
      },
      set (value) {
        let obj = this.value;
        obj.schedulePrams.frequency = value;
        return this.$emit('update', obj);
      }
    },

    /**
     * Day
     */
    day: {
      get () {
        return this.value.schedulePrams ? this.value.schedulePrams.day : null;
      },
      set (value) {
        let obj = this.value;
        obj.schedulePrams.day = value;
        return this.$emit('update', obj);
      }
    },

    /**
     * Emails
     */
    emails: {
      get () {
        return this.value.schedulePrams ? this.value.schedulePrams.emails : null;
      },
      set (value) {
        let obj = this.value;
        obj.schedulePrams.emails = value;
        return this.$emit('update', obj);
      }
    }
  },

  /**
   * Created hook
   */
  created () {
    if (this.onlySchedule) {
      let obj = this.value;
      obj.type = 'scheduled';
      this.$emit('update', obj);
    }

    this.getFrequencyList();
  },

  /**
   * Component methods
   */
  methods: {
    /**
     * Map actions
     */
    ...mapActions('deliveryFrequency', { getFrequencyList: 'list' }),

    /**
     * Map actions
     */
    ...mapActions('report', { store: 'storeAdvertisers', show: 'showAdvertisers', update: 'updateAdvertisers' }),

    /**
     * Map mutations
     */
    ...mapMutations('report', { clear: 'clearAdvertisers' }),

    /**
     * Validate form.
     *
     * @returns {*}
     */
    validate () {
      return this.$validateScope(this.scope);
    },

    /**
     * Check parent
     */
    isCheckedParent (item) {
      return this.deliveryType === item.value;
    },

    /**
     * Set delivery emails.
     */
    setEmails (value) {
      return this.$emit('setEmails', value);
    },
  },
}
</script>
