<template>
  <tag-field
    ref="tagField"
    v-model="emails"
    :label="$trans('report::labels.email_destination')"
    :placeholder="$trans('report::labels.email_destination_placeholder')"
    :validation="validationRules.report.email"
    :validation-messages="validationMessages.emails"
    :max="validationRules.report.emails.max"
    :event-keys="emailEventKeys"
    split-reg-exp="[\s,;]+"
    :scope="scope"
    disabled
    name="emails"
  />
</template>

<script>
import TagField from 'Foundation/components/form/TagField';

export default {
  /**
   * Name.
   */
  name: 'EmailField',

  /**
   * Components.
   */
  components: {
    TagField,
  },

  /**
   * Props data.
   */
  props: {
    disabled: {
      type: Boolean,
      default: false
    },

    value: {
      type: Array,
      default () {
        return []
      }
    }
  },

  /**
   * Data.
   */
  data () {
    return {
      scope: '__email_field__',
      validationMessages: {
        emails: {
          email: this.$trans('report::messages.valid_emails'),
          required: this.$trans('validation.required_emails', {attribute: 'emails'}),
        },
      },
      emailEventKeys: ['Space', 'Enter', 'Comma', 'Semicolon'],
    }
  },

  /**
   * Computed.
   */
  computed: {
    /**
     * Emails
     */
    emails: {
      get () {
        return this.value;
      },
      set (value) {
        return this.$emit('setEmails', value);
      }
    }
  },

  /**
   * Component methods
   */
  methods: {
    /**
     * Validate form.
     *
     * @returns {*}
     */
    async validate () {
      const validMain = await this.$validateScope(this.scope);
      const validTag = await this.$refs['tagField'].validate();

      return validMain && validTag;
    },
  },
}
</script>
