<template>
  <el-checkbox-group
    v-model="targetings"
    size="small"
  >
    <el-checkbox
      v-for="(item, index) in targetingsList"
      :key="index"
      :value="item.id"
      :label="item.id"
    >
      <div>
        {{ $trans(`report::labels.reportModal.dimensions.items[${item.name}]`) }}
      </div>
      <div
        v-if="item.description"
        class="text-muted"
      >
        {{ item.description }}
      </div>
    </el-checkbox>
  </el-checkbox-group>
</template>

<script>
import { mapActions, mapState } from 'vuex';

export default {
  /**
   * Name.
   */
  name: 'TargetingsComponent',

  /**
   * Props data.
   */
  props: {
    value: {
      type: Array,
      default () {
        return []
      }
    }
  },

  /**
   * Computed properties
   */
  computed: {
    /**
     * Map frequency list
     */
    ...mapState('targetings', ['targetingsList']),

    /**
     * Targetings
     */
    targetings: {
      get () {
        return this.value;
      },
      set (value) {
        return this.$emit('save', value);
      }
    },
  },

  /**
   * Created.
   */
  created() {
    this.getTargetingsList();
  },

  /**
   * Component methods
   */
  methods: {
    /**
     * Map actions
     */
    ...mapActions('targetings', { getTargetingsList: 'list' }),
  },
}
</script>
